workflows/ui-synced/MoMo/momo-ai-assistant.workflow.json
{
  "name": "MoMo AI Assistant",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1680,
        -128
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  triggerSource: 'manual',\n  channel: 'manualTrigger',\n  commandText: 'status sprint',\n  actorId: 'manual-trigger',\n  actorDisplayName: 'Manual Trigger',\n  spaceId: 'manual-trigger-space',\n  threadKey: 'manual-check-sprint',\n  sessionId: 'manual-trigger-space:manual-check-sprint',\n};"
      },
      "id": "2",
      "name": "Build Manual Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        -128
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 2,4"
            }
          ]
        }
      },
      "id": "3",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1680,
        64
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  triggerSource: 'schedule',\n  channel: 'system',\n  commandText: 'check sprint',\n  actorId: 'schedule-trigger',\n  actorDisplayName: 'Schedule Trigger',\n  spaceId: 'system-schedule',\n  threadKey: '',\n  sessionId: 'system-schedule:check-sprint',\n};"
      },
      "id": "4",
      "name": "Build Schedule Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        64
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "momo-ai-assistant",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "5",
      "name": "Google Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1680,
        256
      ],
      "webhookId": "momo-ai-assistant-chat-webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json.body && typeof $json.body === 'object' ? $json.body : $json;\nconst message = body.message && typeof body.message === 'object' ? body.message : {};\nconst space = body.space && typeof body.space === 'object' ? body.space : (message.space || {});\nconst thread = message.thread && typeof message.thread === 'object' ? message.thread : (body.thread || {});\nconst threadName = String(thread.name || '').trim();\nconst threadKey = threadName\n  ? threadName.split('/').pop()\n  : String(message.name || body.messageId || body.eventTime || 'google-chat-thread').trim();\n\nlet commandText = String(\n  message.argumentText ||\n    message.slashCommand?.commandName ||\n    message.text ||\n    ''\n).trim();\n\ncommandText = commandText\n  .replace(/<users\\/[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst spaceId = String(space.name || '').trim();\nconst sessionId = `${spaceId || 'google-chat'}:${threadKey || 'thread'}`;\n\nreturn {\n  triggerSource: 'chat',\n  channel: 'googleChat',\n  commandText,\n  actorId: String(body.user?.name || message.sender?.name || '').trim(),\n  actorDisplayName: String(body.user?.displayName || message.sender?.displayName || '').trim(),\n  spaceId,\n  threadKey,\n  sessionId,\n};"
      },
      "id": "6",
      "name": "Build Chat Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        256
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const config = {\n  boardId: 1041,\n  jiraBaseUrl: 'https://atlassiansuite.mservice.com.vn:8443',\n  timeZone: 'Asia/Ho_Chi_Minh',\n  storyPointFieldKey: 'customfield_10107',\n  qcsFieldKey: 'customfield_10201',\n  spreadsheetId: '1uLVZ2b6Ra-r2KCbLHcOL68V6smtxymfTCNNQnWPG8mI',\n  spreadsheetSheetName: 'MoMoer',\n  ggChatWebhookUrl: 'https://chat.googleapis.com/v1/spaces/AAQAcu_P8pI/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=hi3fzzGkR1ri4uotTO2hoa08WxQjdbJbNHPHSJ1S71o',\n  googleChatReplyOption: 'REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD',\n  devStaleBusinessDays: 7,\n  waitQcBusinessDays: 1,\n  qcStaleBusinessDays: 7,\n  nearEndBusinessDays: 2,\n  passedStatuses: ['Ready For Review', 'In Review', 'Ready For Release', 'Close', 'Closed'],\n  stableCommands: ['check sprint', 'status sprint'],\n  demoCommands: ['release sprint', 'approve', 'reject', 'cancel'],\n  memoryMaxTurns: 10,\n  memoryUserChars: 180,\n  memoryAssistantChars: 280,\n  nowIso: $now.setZone('Asia/Ho_Chi_Minh').toISO(),\n};\n\nreturn {\n  ...$json,\n  config,\n};"
      },
      "id": "7",
      "name": "Config Main",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        256
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "buH9JMCFNDnD3ZWU",
          "mode": "list",
          "cachedResultUrl": "/workflow/buH9JMCFNDnD3ZWU",
          "cachedResultName": "MoMo AI Assistant State Store"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "getSession",
            "sessionId": "={{ $(\"Config Main\").item.json.sessionId || \"\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -784,
        108
      ],
      "id": "9",
      "name": "Load Session"
    },
    {
      "parameters": {
        "jsCode": "const event = $('Config Main').first().json || {};\nconst sessionResult = $input.first()?.json || {};\nconst session = sessionResult.found ? sessionResult.row : null;\nconst config = event.config || {};\nconst stableCommands = Array.isArray(config.stableCommands)\n  ? config.stableCommands\n  : ['check sprint', 'status sprint'];\nconst demoCommands = Array.isArray(config.demoCommands)\n  ? config.demoCommands\n  : ['release sprint', 'approve', 'reject', 'cancel'];\nconst memoryMaxTurns = Math.max(1, Number(config.memoryMaxTurns || 10));\nconst memoryUserChars = Math.max(40, Number(config.memoryUserChars || 180));\nconst memoryAssistantChars = Math.max(40, Number(config.memoryAssistantChars || 280));\n\nfunction toText(value) {\n  if (typeof value === 'string') return value.trim();\n  if (value == null) return '';\n  if (typeof value === 'object') return JSON.stringify(value);\n  return String(value).trim();\n}\n\nfunction trimText(value, maxLen) {\n  const text = toText(value).replace(/\\s+/g, ' ');\n  if (!text) return '';\n  if (!maxLen || text.length <= maxLen) return text;\n  return `${text.slice(0, maxLen - 3).trimEnd()}...`;\n}\n\nfunction normalizeTurns(rawTurns) {\n  if (!Array.isArray(rawTurns)) return [];\n\n  return rawTurns\n    .map((turn) => ({\n      user: trimText(turn?.user || '', memoryUserChars),\n      assistant: trimText(turn?.assistant || '', memoryAssistantChars),\n      at: toText(turn?.at || ''),\n    }))\n    .filter((turn) => turn.user || turn.assistant)\n    .slice(-memoryMaxTurns);\n}\n\nfunction parseMemory(rawCurrentIntent) {\n  const raw = toText(rawCurrentIntent);\n  if (!raw) {\n    return {\n      intent: '',\n      previousIntent: '',\n      turns: [],\n      memoryUpdatedAt: '',\n    };\n  }\n\n  try {\n    const parsed = JSON.parse(raw);\n    if (!parsed || typeof parsed !== 'object') {\n      return {\n        intent: '',\n        previousIntent: '',\n        turns: [],\n        memoryUpdatedAt: '',\n      };\n    }\n\n    return {\n      intent: toText(parsed.intent),\n      previousIntent: toText(parsed.previousIntent),\n      turns: normalizeTurns(parsed.turns),\n      memoryUpdatedAt: toText(parsed.memoryUpdatedAt),\n    };\n  } catch (error) {\n    return {\n      intent: '',\n      previousIntent: '',\n      turns: [],\n      memoryUpdatedAt: '',\n    };\n  }\n}\n\nconst memory = parseMemory(session?.currentIntent || '');\nconst sessionSummaryLines = session\n  ? [\n      `- currentIntent: ${memory.intent || 'unknown'}`,\n      `- turnCount: ${memory.turns.length}`,\n      `- activePendingActionId: ${toText(session.activePendingActionId) || 'none'}`,\n      `- updatedAt: ${toText(session.updatedAt) || 'unknown'}`,\n    ]\n  : ['- no existing session state'];\n\nconst recentTurnsForPrompt = memory.turns.slice(-memoryMaxTurns).map((turn, index) => {\n  const user = trimText(turn.user, 120) || '-';\n  const assistant = trimText(turn.assistant, 160) || '-';\n  return `${index + 1}. U: ${user} | A: ${assistant}`;\n});\n\nconst chatInput = [\n  `User: ${toText(event.actorDisplayName || event.actorId || 'Unknown')}`,\n  `Channel: ${toText(event.channel || 'googleChat')}`,\n  `Thread: ${toText(event.threadKey || 'thread')}`,\n  `Message: ${toText(event.commandText)}`,\n  '',\n  'Current session state:',\n  sessionSummaryLines.join('\\n'),\n  '',\n  'Simple memory:',\n  `- intent: ${memory.intent || 'none'}`,\n  `- previousIntent: ${memory.previousIntent || 'none'}`,\n  `- memoryUpdatedAt: ${memory.memoryUpdatedAt || 'none'}`,\n  `- turnCount: ${memory.turns.length}`,\n  '- recentTurns:',\n  recentTurnsForPrompt.length ? recentTurnsForPrompt.join('\\n') : 'none',\n  '',\n  `Stable commands: ${stableCommands.join(', ')}`,\n  `Demo commands: ${demoCommands.join(', ')}`,\n].join('\\n');\n\nreturn [\n  {\n    json: {\n      sessionId: event.sessionId || session?.sessionId || '',\n      session,\n      memory,\n      chatInput,\n    },\n  },\n];"
      },
      "id": "10",
      "name": "Build Assistant Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        108
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Bạn là trợ lý AI vận hành của MoMo AI Assistant.\nMục tiêu: trả lời như một trợ lý thân thiện, ngắn gọn, và biết khi nào cần gọi workflow router.\nQuy tắc bắt buộc:\n- Với yêu cầu vận hành như check sprint, status sprint, sprint status, healthcheck, FE/BE passed, warning, issue ngâm, release sprint, close sprint, approve, reject, cancel: bắt buộc gọi tool assistant_command_router.\n- Tool router sẽ tự chọn business subworkflow phù hợp; bạn không cần tự mô phỏng kết quả.\n- Với yêu cầu vận hành, chỉ gọi tool nhiều nhất 1 lần trong mỗi lượt.\n- Sau khi tool trả về cho yêu cầu vận hành, phản hồi cuối cùng PHẢI là đúng 1 JSON object hợp lệ gồm các field: toolName, resultText, deliveryPlan.\n- Không thêm giải thích ngoài JSON, không markdown, không code block, không tự đổi deliveryPlan.\n- Nếu tool lỗi, không khả dụng, hoặc không trả dữ liệu hữu ích: xin lỗi ngắn gọn và dừng, không gọi lại tool lặp đi lặp lại.\n- Không bao giờ khẳng định đã release/approve/reject/cancel thật nếu tool chưa nói vậy.\n- Nếu user chỉ chào hỏi, cảm ơn, hoặc hỏi chung không phải lệnh: trả lời tự nhiên 1-2 câu, rồi gợi ý lệnh dùng được.\n- Hãy đọc phần Simple memory trong chatInput để giữ mạch hội thoại giữa các lượt.\n- Chỉ trả về text thuần, không markdown code block."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -280,
        4
      ],
      "id": "35",
      "name": "AI Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "cx/gpt-5.4",
          "mode": "list",
          "cachedResultName": "cx/gpt-5.4"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -336,
        228
      ],
      "id": "36",
      "name": "Assistant Agent Model",
      "credentials": {
        "openAiApi": {
          "id": "nmpOof7gCtDCf1BD",
          "name": "Local OpenAI Proxy"
        }
      }
    },
    {
      "parameters": {
        "name": "assistant_command_router",
        "description": "Use this tool for any MoMo assistant operational command. It routes the current request to the correct business subworkflow such as sprint healthcheck or demo approval/release commands, and returns JSON where resultText is the exact user-facing answer.",
        "workflowId": {
          "__rl": true,
          "value": "kY5dXvHgZDS3m92L",
          "mode": "list",
          "cachedResultUrl": "/workflow/kY5dXvHgZDS3m92L",
          "cachedResultName": "MoMo AI Assistant Tool Router"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "triggerSource": "={{ $(\"Config Main\").first().json.triggerSource || \"chat\" }}",
            "commandText": "={{ $(\"Config Main\").first().json.commandText || \"\" }}",
            "channel": "={{ $(\"Config Main\").first().json.channel || \"googleChat\" }}",
            "sessionId": "={{ $(\"Build Assistant Context\").first().json.sessionId || $(\"Config Main\").first().json.sessionId || \"\" }}",
            "spaceId": "={{ $(\"Config Main\").first().json.spaceId || \"\" }}",
            "threadKey": "={{ $(\"Config Main\").first().json.threadKey || \"\" }}",
            "actorId": "={{ $(\"Config Main\").first().json.actorId || \"\" }}",
            "actorDisplayName": "={{ $(\"Config Main\").first().json.actorDisplayName || \"\" }}",
            "args": "={{ $(\"Config Main\").first().json.args || {} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "triggerSource",
              "displayName": "triggerSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "commandText",
              "displayName": "commandText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "spaceId",
              "displayName": "spaceId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "threadKey",
              "displayName": "threadKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "actorId",
              "displayName": "actorId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "actorDisplayName",
              "displayName": "actorDisplayName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "args",
              "displayName": "args",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -160,
        244
      ],
      "id": "37",
      "name": "Assistant Command Router Workflow Tool"
    },
    {
      "parameters": {
        "jsCode": "const context = $('Build Assistant Context').first().json || {};\nconst event = $('Config Main').first().json || {};\nconst config = event.config || {};\nconst agent = $input.first()?.json || {};\n\nconst stableCommands = Array.isArray(config.stableCommands)\n  ? config.stableCommands\n  : ['check sprint', 'status sprint'];\nconst demoCommands = Array.isArray(config.demoCommands)\n  ? config.demoCommands\n  : ['release sprint', 'approve', 'reject', 'cancel'];\nconst memoryMaxTurns = Math.max(1, Number(config.memoryMaxTurns || 10));\nconst memoryUserChars = Math.max(40, Number(config.memoryUserChars || 180));\nconst memoryAssistantChars = Math.max(40, Number(config.memoryAssistantChars || 280));\nconst configuredGgChatWebhookUrl = toText(config.ggChatWebhookUrl || '');\n\nfunction toText(value) {\n  if (typeof value === 'string') return value.trim();\n  if (value == null) return '';\n  if (typeof value === 'object') return JSON.stringify(value);\n  return String(value).trim();\n}\n\nfunction trimText(value, maxLen) {\n  const text = toText(value).replace(/\\s+/g, ' ');\n  if (!text) return '';\n  if (!maxLen || text.length <= maxLen) return text;\n  return `${text.slice(0, maxLen - 3).trimEnd()}...`;\n}\n\nfunction normalizeTurns(rawTurns) {\n  if (!Array.isArray(rawTurns)) return [];\n\n  return rawTurns\n    .map((turn) => ({\n      user: trimText(turn?.user || '', memoryUserChars),\n      assistant: trimText(turn?.assistant || '', memoryAssistantChars),\n      at: toText(turn?.at || ''),\n    }))\n    .filter((turn) => turn.user || turn.assistant)\n    .slice(-memoryMaxTurns);\n}\n\nfunction detectIntent(commandText) {\n  const normalized = String(commandText || '').trim().toLowerCase();\n\n  if (/release\\s+sprint|close\\s+sprint|release\\s+status/.test(normalized)) return 'releaseDemo';\n  if (/(^|\\b)(approve|ok|dong y|đồng ý|xac nhan|xác nhận)(\\b|$)/i.test(normalized)) return 'approveDemo';\n  if (/(^|\\b)(reject|tu choi|từ chối)(\\b|$)/i.test(normalized)) return 'rejectDemo';\n  if (/(^|\\b)(cancel|huy|hủy)(\\b|$)/i.test(normalized)) return 'cancelDemo';\n  if (/check\\s+sprint|status\\s+sprint|sprint\\s+status|healthcheck/.test(normalized)) return 'checkSprint';\n  if (/(^|\\b)(hello|hi|alo|chào|xin chào|cảm ơn|thanks|thank you)(\\b|$)/i.test(normalized)) return 'smallTalk';\n\n  return 'help';\n}\n\nfunction extractJsonText(value) {\n  const text = toText(value);\n  if (!text) return '';\n\n  const fencedMatch = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  if (fencedMatch?.[1]) return fencedMatch[1].trim();\n\n  if (text.startsWith('{') || text.startsWith('[')) return text;\n\n  const firstBraceIndex = text.indexOf('{');\n  const lastBraceIndex = text.lastIndexOf('}');\n  if (firstBraceIndex >= 0 && lastBraceIndex > firstBraceIndex) {\n    return text.slice(firstBraceIndex, lastBraceIndex + 1).trim();\n  }\n\n  const firstBracketIndex = text.indexOf('[');\n  const lastBracketIndex = text.lastIndexOf(']');\n  if (firstBracketIndex >= 0 && lastBracketIndex > firstBracketIndex) {\n    return text.slice(firstBracketIndex, lastBracketIndex + 1).trim();\n  }\n\n  return '';\n}\n\nfunction tryParseJson(value) {\n  const text = extractJsonText(value);\n  if (!text || (!text.startsWith('{') && !text.startsWith('['))) return null;\n\n  try {\n    return JSON.parse(text);\n  } catch (error) {\n    return null;\n  }\n}\n\nfunction normalizeStructuredCandidate(candidate) {\n  if (!candidate) return null;\n  if (typeof candidate === 'string') return tryParseJson(candidate);\n  if (typeof candidate === 'object') return candidate;\n  return null;\n}\n\nfunction isStructuredToolResult(candidate) {\n  return Boolean(\n    candidate &&\n      typeof candidate === 'object' &&\n      (candidate.deliveryPlan || candidate.resultText || candidate.toolName)\n  );\n}\n\nfunction normalizeDestinationList(rawDestinations) {\n  if (!Array.isArray(rawDestinations)) return [];\n\n  const normalized = [];\n  const seen = new Set();\n  for (const rawDestination of rawDestinations) {\n    const type = toText(rawDestination?.type || rawDestination);\n    if (!type || seen.has(type)) continue;\n    seen.add(type);\n    normalized.push({ type });\n  }\n\n  return normalized;\n}\n\nfunction defaultDestinationsForChannel(channel) {\n  if (toText(channel) === 'system') {\n    return [{ type: 'pushGoogleChat' }];\n  }\n\n  return [{ type: 'reply' }];\n}\n\nfunction filterAvailableDestinations(destinations) {\n  const filtered = destinations.filter((destination) => {\n    if (destination.type === 'pushGoogleChat' && !configuredGgChatWebhookUrl) return false;\n    return true;\n  });\n\n  if (filtered.length > 0) return filtered;\n  return [{ type: 'reply' }];\n}\n\nfunction normalizeMessageDestinations(rawDestinations, allowedTypes) {\n  if (!Array.isArray(rawDestinations)) return allowedTypes;\n\n  const requested = [];\n  const seen = new Set();\n  for (const rawDestination of rawDestinations) {\n    const type = toText(rawDestination);\n    if (!type || seen.has(type)) continue;\n    seen.add(type);\n    requested.push(type);\n  }\n\n  if (requested.length === 0) return allowedTypes;\n  return requested.filter((type) => allowedTypes.includes(type));\n}\n\nfunction normalizeMessage(message, fallbackText, allowedTypes) {\n  if (!message || typeof message !== 'object') return null;\n\n  const payload = message.payload && typeof message.payload === 'object'\n    ? message.payload\n    : (toText(message.text || fallbackText) ? { text: toText(message.text || fallbackText) } : null);\n\n  if (!payload) return null;\n\n  const destinations = normalizeMessageDestinations(\n    Array.isArray(message.destinations) ? message.destinations : message.destinationTypes,\n    allowedTypes,\n  );\n\n  if (destinations.length === 0) return null;\n\n  return {\n    messageKey: toText(message.messageKey || message.key || 'reply') || 'reply',\n    type: toText(message.type || (payload.cardsV2 ? 'googleChatCardV2' : 'text')) || 'text',\n    destinations,\n    payload,\n  };\n}\n\nfunction normalizeDeliveryPlan(rawPlan, fallbackText) {\n  const requestedDestinations = normalizeDestinationList(rawPlan?.destinations);\n  const baseDestinations = requestedDestinations.length > 0\n    ? requestedDestinations\n    : defaultDestinationsForChannel(event.channel || 'googleChat');\n  const destinations = filterAvailableDestinations(baseDestinations);\n  const allowedTypes = destinations.map((destination) => destination.type);\n\n  const messages = Array.isArray(rawPlan?.messages)\n    ? rawPlan.messages\n        .map((message) => normalizeMessage(message, fallbackText, allowedTypes))\n        .filter(Boolean)\n    : [];\n\n  if (messages.length === 0 && allowedTypes.length > 0) {\n    messages.push({\n      messageKey: 'reply',\n      type: 'text',\n      destinations: allowedTypes,\n      payload: { text: fallbackText },\n    });\n  }\n\n  const thread = rawPlan?.thread && typeof rawPlan.thread === 'object'\n    ? rawPlan.thread\n    : (toText(event.channel) === 'system'\n      ? { mode: 'singleThread', threadKeyHint: 'momo-ai-assistant-system' }\n      : { mode: 'reply' });\n\n  return {\n    thread,\n    destinations,\n    messages,\n  };\n}\n\nfunction getExecutedNodeJson(nodeName) {\n  try {\n    const nodeOutput = $(nodeName).first();\n    return nodeOutput?.json && typeof nodeOutput.json === 'object' ? nodeOutput.json : null;\n  } catch (error) {\n    return null;\n  }\n}\n\nconst rawOutput =\n  agent.output ??\n  agent.response ??\n  agent.result ??\n  agent.text ??\n  agent.message?.content ??\n  '';\nconst routerToolOutput = getExecutedNodeJson('Assistant Command Router Workflow Tool');\nconst structuredOutput = [\n  routerToolOutput,\n  agent.output,\n  agent.response,\n  agent.result,\n  agent.text,\n  agent.message?.content,\n]\n  .map((candidate) => normalizeStructuredCandidate(candidate))\n  .find((candidate) => isStructuredToolResult(candidate)) || null;\n\nconst detectedIntent = detectIntent(event.commandText || '');\nlet resultText = toText(structuredOutput?.resultText || rawOutput);\n\nif (!resultText) {\n  if (detectedIntent === 'smallTalk') {\n    resultText = `Mình đây nè. Bạn có thể thử: ${stableCommands.join(', ')}.`;\n  } else {\n    resultText = `Hiện mình hỗ trợ ổn nhất các lệnh: ${stableCommands.join(', ')}. Nhóm demo: ${demoCommands.join(', ')}.`;\n  }\n}\n\nconst previousTurns = normalizeTurns(context.memory?.turns || []);\nconst nowIso = toText(config.nowIso || new Date().toISOString());\nconst newTurn = {\n  user: trimText(event.commandText || '', memoryUserChars),\n  assistant: trimText(resultText, memoryAssistantChars),\n  at: nowIso,\n};\nconst turns = [...previousTurns, newTurn]\n  .filter((turn) => turn.user || turn.assistant)\n  .slice(-memoryMaxTurns);\n\nconst currentIntent = JSON.stringify({\n  intent: detectedIntent,\n  previousIntent: toText(context.memory?.intent || ''),\n  turns,\n  memoryUpdatedAt: nowIso,\n});\n\nconst deliveryPlan = normalizeDeliveryPlan(structuredOutput?.deliveryPlan, resultText);\n\nreturn [\n  {\n    json: {\n      toolName: toText(structuredOutput?.toolName || ''),\n      resultText,\n      currentIntent,\n      deliveryPlan,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        108
      ],
      "id": "39",
      "name": "Build Agent Delivery Envelope"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "buH9JMCFNDnD3ZWU",
          "mode": "list",
          "cachedResultUrl": "/workflow/buH9JMCFNDnD3ZWU",
          "cachedResultName": "MoMo AI Assistant State Store"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "upsertSession",
            "session": "={{ ({ sessionId: $('Build Assistant Context').first().json.sessionId || $('Config Main').first().json.sessionId || '', channel: $('Config Main').first().json.channel || 'googleChat', spaceId: $('Config Main').first().json.spaceId || '', threadKey: $('Config Main').first().json.threadKey || '', lastActorId: $('Config Main').first().json.actorId || '', status: 'active', currentIntent: $('Build Agent Delivery Envelope').first().json.currentIntent || 'agent', activePendingActionId: $('Build Assistant Context').first().json.session?.activePendingActionId || '', createdAt: $('Build Assistant Context').first().json.session?.createdAt || $('Config Main').first().json.config.nowIso, updatedAt: $('Config Main').first().json.config.nowIso }) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        352,
        108
      ],
      "id": "40",
      "name": "Save Agent Session"
    },
    {
      "parameters": {
        "jsCode": "const envelope = $('Build Agent Delivery Envelope').first().json || {};\nconst deliveryPlan = envelope.deliveryPlan && typeof envelope.deliveryPlan === 'object'\n  ? envelope.deliveryPlan\n  : {};\nconst destinations = Array.isArray(deliveryPlan.destinations) ? deliveryPlan.destinations : [];\nconst messages = Array.isArray(deliveryPlan.messages) ? deliveryPlan.messages : [];\nconst resultText = String(envelope.resultText || '').trim() || 'Đã nhận lệnh.';\n\nfunction toText(value) {\n  if (typeof value === 'string') return value.trim();\n  if (value == null) return '';\n  return String(value).trim();\n}\n\nfunction hasDestination(message, destinationType) {\n  const destinationTypes = Array.isArray(message?.destinations) ? message.destinations : [];\n  return destinationTypes.some((type) => toText(type) === destinationType);\n}\n\nconst hasReplyDestination = destinations.some((destination) => toText(destination?.type || '') === 'reply');\nconst replyMessages = messages.filter((message) => hasDestination(message, 'reply') && message?.payload && typeof message.payload === 'object');\nconst preferredPayload = replyMessages.find((message) => toText(message.type) === 'text')?.payload || replyMessages[0]?.payload || null;\n\nreturn [\n  {\n    json: {\n      hasReplyDestination,\n      responseBody: hasReplyDestination ? preferredPayload || { text: resultText } : {},\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        108
      ],
      "id": "30",
      "name": "Build Reply Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.requestUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        404
      ],
      "id": "31",
      "name": "Send GGChat Delivery Message"
    },
    {
      "parameters": {
        "jsCode": "const prepare = $('Prepare GGChat Delivery Messages').first().json || {};\nconst responses = $input.all();\nconst requestCount = Number(prepare.ggChatRequestCount || 0);\nconst responseItems = requestCount > 0\n  ? responses.filter((item) => Number(item.json?.statusCode || 0) > 0)\n  : [];\n\nconst successCount = responseItems.filter((item) => Number(item.json?.statusCode || 0) < 400).length;\nconst failureCount = responseItems.filter((item) => Number(item.json?.statusCode || 0) >= 400).length;\nconst missingCount = Math.max(0, requestCount - responseItems.length);\n\nlet ggChatDeliveryStatus = 'skipped';\nif (requestCount === 0) {\n  ggChatDeliveryStatus = 'skipped';\n} else if (successCount === requestCount) {\n  ggChatDeliveryStatus = 'delivered';\n} else if (successCount > 0) {\n  ggChatDeliveryStatus = 'partial';\n} else {\n  ggChatDeliveryStatus = 'failed';\n}\n\nreturn [\n  {\n    json: {\n      ggChatDeliveryStatus,\n      ggChatMessageCount: requestCount,\n      ggChatSuccessCount: successCount,\n      ggChatFailureCount: failureCount,\n      ggChatMissingCount: missingCount,\n      ggChatThreadKey: String(prepare.ggChatThreadKey || '').trim(),\n      ggChatDeliverySkipReason: String(prepare.ggChatDeliverySkipReason || '').trim(),\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        108
      ],
      "id": "34",
      "name": "Build Delivery Ack"
    },
    {
      "parameters": {},
      "id": "41",
      "name": "Manual Trigger Release Sprint",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1680,
        448
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  triggerSource: 'manual',\n  channel: 'manualTrigger',\n  commandText: 'release sprint',\n  actorId: 'manual-release-trigger',\n  actorDisplayName: 'Manual Trigger Release Sprint',\n  spaceId: 'manual-trigger-space',\n  threadKey: 'manual-release-sprint',\n  sessionId: 'manual-trigger-space:manual-release-sprint',\n};"
      },
      "id": "42",
      "name": "Build Manual Release Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        448
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "47",
      "name": "Local Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1680,
        640
      ],
      "webhookId": "momo-ai-assistant-local-chat-trigger",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const payload = $json && typeof $json === 'object' ? $json : {};\nconst commandText = String(payload.chatInput || payload.text || payload.message?.text || '').trim() || 'check sprint';\nconst actorId = String(payload.actorId || payload.userId || payload.user?.id || 'n8n-chat-user').trim();\nconst actorDisplayName = String(payload.actorDisplayName || payload.userName || payload.user?.name || 'N8N Chat User').trim();\nconst rawSpaceId = String(payload.spaceId || '').trim();\nconst rawThreadKey = String(payload.threadKey || payload.thread || '').trim();\nconst rawSessionId = String(payload.sessionId || '').trim();\nconst spaceId = rawSpaceId || 'n8n-chat';\nconst threadKey = rawThreadKey || rawSessionId || 'local-chat-thread';\nconst sessionId = rawSessionId || `${spaceId}:${threadKey}`;\n\nreturn {\n  triggerSource: 'chat',\n  channel: 'n8nChatTrigger',\n  commandText,\n  actorId,\n  actorDisplayName,\n  spaceId,\n  threadKey,\n  sessionId,\n};"
      },
      "id": "48",
      "name": "Build Local Chat Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "const envelope = $('Build Agent Delivery Envelope').first().json || {};\nconst event = $('Config Main').first().json || {};\nconst config = event.config || {};\nconst deliveryPlan = envelope.deliveryPlan && typeof envelope.deliveryPlan === 'object'\n  ? envelope.deliveryPlan\n  : {};\nconst destinations = Array.isArray(deliveryPlan.destinations) ? deliveryPlan.destinations : [];\nconst rawMessages = Array.isArray(deliveryPlan.messages) ? deliveryPlan.messages : [];\nconst baseUrl = String(config.ggChatWebhookUrl || '').trim();\nconst replyOption = encodeURIComponent(\n  String(config.googleChatReplyOption || 'REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD').trim() || 'REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD',\n);\n\nfunction toText(value) {\n  if (typeof value === 'string') return value.trim();\n  if (value == null) return '';\n  return String(value).trim();\n}\n\nfunction slugify(value) {\n  return toText(value)\n    .toLowerCase()\n    .replace(/[^a-z0-9_-]+/g, '-')\n    .replace(/^-+|-+$/g, '');\n}\n\nfunction hasDestination(message, destinationType) {\n  const destinationTypes = Array.isArray(message?.destinations) ? message.destinations : [];\n  return destinationTypes.some((type) => toText(type) === destinationType);\n}\n\nfunction normalizeMessage(message, fallbackText) {\n  if (!message || typeof message !== 'object') return null;\n\n  const payload = message.payload && typeof message.payload === 'object'\n    ? message.payload\n    : (toText(message.text || fallbackText) ? { text: toText(message.text || fallbackText) } : null);\n\n  if (!payload) return null;\n\n  return {\n    messageKey: toText(message.messageKey || message.key || 'message') || 'message',\n    type: toText(message.type || (payload.cardsV2 ? 'googleChatCardV2' : 'text')) || 'text',\n    destinations: Array.isArray(message.destinations) ? message.destinations : [],\n    payload,\n  };\n}\n\nconst fallbackText = toText(envelope.resultText || 'Đã có kết quả xử lý.');\nconst hasPushDestination = destinations.some((destination) => toText(destination?.type || '') === 'pushGoogleChat');\nconst messages = rawMessages\n  .map((message) => normalizeMessage(message, fallbackText))\n  .filter((message) => message && hasDestination(message, 'pushGoogleChat'));\n\nconst threadConfig = deliveryPlan.thread && typeof deliveryPlan.thread === 'object'\n  ? deliveryPlan.thread\n  : {};\nconst seed = slugify(threadConfig.threadKeyHint || event.threadKey || envelope.toolName || 'momo-ai-assistant') || 'momo-ai-assistant';\nconst uniqueSuffix = `${Date.now().toString(36)}-${Math.random().toString(36).slice(2, 8)}`;\nconst finalThreadKey = String(event.threadKey || '').trim() || `${seed}-${uniqueSuffix}`.slice(0, 120);\n\nlet ggChatRequests = [];\nlet ggChatDeliverySkipReason = '';\n\nif (!hasPushDestination) {\n  ggChatDeliverySkipReason = 'No pushGoogleChat destination requested.';\n} else if (!baseUrl) {\n  ggChatDeliverySkipReason = 'ggChatWebhookUrl is not configured.';\n} else if (messages.length === 0) {\n  ggChatDeliverySkipReason = 'No Google Chat messages matched the requested destinations.';\n} else {\n  const separator = baseUrl.includes('?') ? '&' : '?';\n  const requestUrl = `${baseUrl}${separator}threadKey=${encodeURIComponent(finalThreadKey)}&messageReplyOption=${replyOption}`;\n  ggChatRequests = messages.map((message, index) => ({\n    requestIndex: index,\n    messageKey: message.messageKey,\n    messageType: message.type,\n    requestBody: message.payload,\n    requestUrl,\n    finalThreadKey,\n  }));\n}\n\nreturn [\n  {\n    json: {\n      ggChatDeliveryEnabled: ggChatRequests.length > 0,\n      ggChatRequestCount: ggChatRequests.length,\n      ggChatRequests,\n      ggChatDeliverySkipReason,\n      ggChatThreadKey: finalThreadKey,\n    },\n  },\n];"
      },
      "id": "51",
      "name": "Prepare GGChat Delivery Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        108
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ Boolean($json.ggChatDeliveryEnabled) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1248,
        108
      ],
      "id": "c77ffd7f-9678-4892-80c4-e92ca8161c18",
      "name": "If Has GGChat Delivery Messages?"
    },
    {
      "parameters": {
        "jsCode": "const requests = $('Prepare GGChat Delivery Messages').first().json?.ggChatRequests;\nconst safeRequests = Array.isArray(requests) ? requests : [];\n\nreturn safeRequests.map((request, requestIndex) => ({\n  json: {\n    requestIndex,\n    ...request,\n  },\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        28
      ],
      "id": "771afc31-4c0e-4249-bfe4-68d070f17810",
      "name": "Split Out GGChat Delivery Messages"
    },
    {
      "parameters": {
        "jsCode": "const envelope = $('Build Agent Delivery Envelope').first().json || {};\nconst reply = $('Build Reply Response').first().json || {};\nconst delivery = $input.first()?.json || {};\nconst event = $('Config Main').first().json || {};\nconst responseBody = reply.responseBody && typeof reply.responseBody === 'object'\n  ? reply.responseBody\n  : {};\nconst hasReplyDestination = Boolean(reply.hasReplyDestination);\nconst channel = String(event.channel || '').trim();\n\nif (hasReplyDestination && Object.keys(responseBody).length > 0) {\n  return [{ json: responseBody }];\n}\n\nif (channel === 'googleChat' || channel === 'n8nChatTrigger') {\n  return [{ json: {} }];\n}\n\nreturn [\n  {\n    json: {\n      status: String(delivery.ggChatDeliveryStatus || 'skipped'),\n      channel,\n      resultText: String(envelope.resultText || '').trim(),\n      threadKey: String(delivery.ggChatThreadKey || event.threadKey || '').trim(),\n      messageCount: Number(delivery.ggChatMessageCount || 0),\n      successCount: Number(delivery.ggChatSuccessCount || 0),\n      failureCount: Number(delivery.ggChatFailureCount || 0),\n      skipReason: String(delivery.ggChatDeliverySkipReason || '').trim(),\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        108
      ],
      "id": "035d4ef1-0998-43c0-ab0a-fe4767d1920d",
      "name": "Build Final Response"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Manual Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Manual Event": {
      "main": [
        [
          {
            "node": "Config Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Build Schedule Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Schedule Event": {
      "main": [
        [
          {
            "node": "Config Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Chat Webhook": {
      "main": [
        [
          {
            "node": "Build Chat Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Chat Event": {
      "main": [
        [
          {
            "node": "Config Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger Release Sprint": {
      "main": [
        [
          {
            "node": "Build Manual Release Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Manual Release Event": {
      "main": [
        [
          {
            "node": "Config Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local Chat Trigger": {
      "main": [
        [
          {
            "node": "Build Local Chat Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Local Chat Event": {
      "main": [
        [
          {
            "node": "Config Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Main": {
      "main": [
        [
          {
            "node": "Load Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Session": {
      "main": [
        [
          {
            "node": "Build Assistant Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Assistant Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assistant Agent Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Assistant Command Router Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Build Agent Delivery Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Agent Delivery Envelope": {
      "main": [
        [
          {
            "node": "Save Agent Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Agent Session": {
      "main": [
        [
          {
            "node": "Build Reply Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare GGChat Delivery Messages": {
      "main": [
        [
          {
            "node": "If Has GGChat Delivery Messages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send GGChat Delivery Message": {
      "main": [
        [
          {
            "node": "Build Delivery Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reply Response": {
      "main": [
        [
          {
            "node": "Prepare GGChat Delivery Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has GGChat Delivery Messages?": {
      "main": [
        [
          {
            "node": "Split Out GGChat Delivery Messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Delivery Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out GGChat Delivery Messages": {
      "main": [
        [
          {
            "node": "Send GGChat Delivery Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Delivery Ack": {
      "main": [
        [
          {
            "node": "Build Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
