workflows/ui-synced/MoMo/momo-ai-assistant.workflow.json
{
  "name": "MoMo AI Assistant",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1680,
        -128
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  triggerSource: 'chat',\n  channel: 'manualTrigger',\n  commandText: 'status sprint',\n  actorId: 'manual-trigger',\n  actorDisplayName: 'Manual Trigger',\n  spaceId: 'manual-trigger-space',\n  threadKey: 'manual-check-sprint',\n  sessionId: 'manual-trigger-space:manual-check-sprint',\n};"
      },
      "id": "2",
      "name": "Build Manual Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        -128
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 2,4"
            }
          ]
        }
      },
      "id": "3",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1680,
        64
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  triggerSource: 'schedule',\n  channel: 'system',\n  commandText: 'check sprint',\n  actorId: 'schedule-trigger',\n  actorDisplayName: 'Schedule Trigger',\n  spaceId: '',\n  threadKey: '',\n  sessionId: '',\n};"
      },
      "id": "4",
      "name": "Build Schedule Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        64
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "momo-ai-assistant",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "5",
      "name": "Google Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1680,
        256
      ],
      "webhookId": "momo-ai-assistant-chat-webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json.body && typeof $json.body === 'object' ? $json.body : $json;\nconst message = body.message && typeof body.message === 'object' ? body.message : {};\nconst space = body.space && typeof body.space === 'object' ? body.space : (message.space || {});\nconst thread = message.thread && typeof message.thread === 'object' ? message.thread : (body.thread || {});\nconst threadName = String(thread.name || '').trim();\nconst threadKey = threadName\n  ? threadName.split('/').pop()\n  : String(message.name || body.messageId || body.eventTime || 'google-chat-thread').trim();\n\nlet commandText = String(\n  message.argumentText ||\n    message.slashCommand?.commandName ||\n    message.text ||\n    ''\n).trim();\n\ncommandText = commandText\n  .replace(/<users\\/[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst spaceId = String(space.name || '').trim();\nconst sessionId = `${spaceId || 'google-chat'}:${threadKey || 'thread'}`;\n\nreturn {\n  triggerSource: 'chat',\n  channel: 'googleChat',\n  commandText,\n  actorId: String(body.user?.name || message.sender?.name || '').trim(),\n  actorDisplayName: String(body.user?.displayName || message.sender?.displayName || '').trim(),\n  spaceId,\n  threadKey,\n  threadName,\n  sessionId,\n  rawEvent: body,\n};"
      },
      "id": "6",
      "name": "Build Chat Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        256
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const config = {\n  assistantName: 'MoMo AI Assistant',\n  boardId: 1041,\n  jiraBaseUrl: 'https://atlassiansuite.mservice.com.vn:8443',\n  timeZone: 'Asia/Ho_Chi_Minh',\n  storyPointFieldKey: 'customfield_10107',\n  qcsFieldKey: 'customfield_10201',\n  spreadsheetId: '1uLVZ2b6Ra-r2KCbLHcOL68V6smtxymfTCNNQnWPG8mI',\n  spreadsheetSheetName: 'MoMoer',\n  ggChatWebhookUrl: 'https://chat.googleapis.com/v1/spaces/AAQAcu_P8pI/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=hi3fzzGkR1ri4uotTO2hoa08WxQjdbJbNHPHSJ1S71o',\n  devStaleBusinessDays: 7,\n  waitQcBusinessDays: 1,\n  qcStaleBusinessDays: 7,\n  nearEndBusinessDays: 2,\n  passedStatuses: ['Ready For Review', 'In Review', 'Ready For Release', 'Close', 'Closed'],\n  pendingActionTtlHours: 48,\n  stableCommands: ['check sprint', 'status sprint'],\n  demoCommands: ['release sprint', 'approve', 'reject', 'cancel'],\n  memoryMaxTurns: 10,\n  memoryUserChars: 180,\n  memoryAssistantChars: 280,\n  nowIso: $now.setZone('Asia/Ho_Chi_Minh').toISO(),\n};\n\nreturn {\n  ...$json,\n  config,\n};"
      },
      "id": "7",
      "name": "Config Main",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        256
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.triggerSource }}",
                    "rightValue": "chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chat"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "statelessHealthcheck",
          "allMatchingOutputs": false
        }
      },
      "id": "8",
      "name": "Switch Entry Route",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1008,
        256
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "buH9JMCFNDnD3ZWU",
          "mode": "list",
          "cachedResultUrl": "/workflow/buH9JMCFNDnD3ZWU",
          "cachedResultName": "MoMo AI Assistant State Store"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "getSession",
            "sessionId": "={{ $(\"Config Main\").item.json.sessionId || \"\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "pendingActionId",
              "displayName": "pendingActionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "pendingAction",
              "displayName": "pendingAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "toolRun",
              "displayName": "toolRun",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -784,
        108
      ],
      "id": "9",
      "name": "Load Session"
    },
    {
      "parameters": {
        "jsCode": "const event = $('Config Main').first().json || {};\nconst sessionResult = $input.first()?.json || {};\nconst session = sessionResult.found ? sessionResult.row : null;\nconst stableCommands = Array.isArray(event.config?.stableCommands)\n  ? event.config.stableCommands\n  : ['check sprint', 'status sprint'];\nconst demoCommands = Array.isArray(event.config?.demoCommands)\n  ? event.config.demoCommands\n  : ['release sprint', 'approve', 'reject', 'cancel'];\nconst memoryMaxTurns = Math.max(1, Number(event.config?.memoryMaxTurns || 10));\nconst memoryUserChars = Math.max(40, Number(event.config?.memoryUserChars || 180));\nconst memoryAssistantChars = Math.max(40, Number(event.config?.memoryAssistantChars || 280));\n\nfunction toText(value) {\n  return String(value || '').trim();\n}\n\nfunction trimText(value, maxLen) {\n  const text = toText(value).replace(/\\s+/g, ' ');\n  if (!text) return '';\n  if (!maxLen || text.length <= maxLen) return text;\n  return text.slice(0, maxLen - 3).trimEnd() + '...';\n}\n\nfunction normalizeTurns(rawTurns) {\n  if (!Array.isArray(rawTurns)) return [];\n  return rawTurns\n    .map((turn) => ({\n      user: trimText(turn?.user || '', memoryUserChars),\n      assistant: trimText(turn?.assistant || '', memoryAssistantChars),\n      at: toText(turn?.at || ''),\n    }))\n    .filter((turn) => turn.user || turn.assistant)\n    .slice(-memoryMaxTurns);\n}\n\nfunction parseMemory(rawCurrentIntent) {\n  const raw = toText(rawCurrentIntent);\n  if (!raw) return { intent: '', previousIntent: '', turns: [], memoryUpdatedAt: '' };\n\n  try {\n    const parsed = JSON.parse(raw);\n    if (!parsed || typeof parsed !== 'object') {\n      return { intent: '', previousIntent: '', turns: [], memoryUpdatedAt: '' };\n    }\n\n    return {\n      intent: toText(parsed.intent),\n      previousIntent: toText(parsed.previousIntent),\n      turns: normalizeTurns(parsed.turns),\n      memoryUpdatedAt: toText(parsed.memoryUpdatedAt),\n    };\n  } catch (error) {\n    return { intent: '', previousIntent: '', turns: [], memoryUpdatedAt: '' };\n  }\n}\n\nconst memory = parseMemory(session?.currentIntent || '');\nconst sessionSummaryLines = [];\nif (session) {\n  sessionSummaryLines.push(`- currentIntent: ${memory.intent || 'unknown'}`);\n  sessionSummaryLines.push('- turnCount: ' + String(memory.turns.length));\n  sessionSummaryLines.push('- activePendingActionId: ' + (toText(session.activePendingActionId) || 'none'));\n  sessionSummaryLines.push('- updatedAt: ' + (toText(session.updatedAt) || 'unknown'));\n} else {\n  sessionSummaryLines.push('- no existing session state');\n}\n\nconst recentTurnsForPrompt = memory.turns.slice(-memoryMaxTurns).map((turn, idx) => {\n  const user = trimText(turn.user, 120) || '-';\n  const assistant = trimText(turn.assistant, 160) || '-';\n  return String(idx + 1) + '. U: ' + user + ' | A: ' + assistant;\n});\n\nconst chatInput = [\n  'User: ' + toText(event.actorDisplayName || event.actorId || 'Unknown'),\n  'Channel: ' + toText(event.channel || 'googleChat'),\n  'Thread: ' + toText(event.threadKey || 'thread'),\n  'Message: ' + toText(event.commandText),\n  '',\n  'Current session state:',\n  sessionSummaryLines.join('\\n'),\n  '',\n  'Simple memory:',\n  '- intent: ' + (memory.intent || 'none'),\n  '- previousIntent: ' + (memory.previousIntent || 'none'),\n  '- memoryUpdatedAt: ' + (memory.memoryUpdatedAt || 'none'),\n  '- turnCount: ' + String(memory.turns.length),\n  '- recentTurns:',\n  (recentTurnsForPrompt.length ? recentTurnsForPrompt.join('\\n') : 'none'),\n  '',\n  'Stable commands: ' + stableCommands.join(', '),\n  'Demo commands: ' + demoCommands.join(', '),\n].join('\\n');\n\nreturn [{\n  json: {\n    ...event,\n    isStateful: true,\n    sessionId: event.sessionId || session?.sessionId || '',\n    session,\n    memory,\n    pendingAction: null,\n    chatInput,\n  },\n}];"
      },
      "id": "10",
      "name": "Build Chat Assistant Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        108
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  ...$json,\n  isStateful: false,\n  session: null,\n  pendingAction: null,\n  sessionId: '',\n};"
      },
      "id": "11",
      "name": "Build Stateless Assistant Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        404
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Bạn là trợ lý AI vận hành của MoMo AI Assistant.\nMục tiêu: trả lời như một trợ lý thân thiện, ngắn gọn, và chọn workflow tool đúng khi gặp lệnh.\nQuy tắc bắt buộc:\n- Với yêu cầu liên quan check sprint, status sprint, sprint status, healthcheck, FE/BE passed, warning, issue ngâm, tiến độ sprint: bắt buộc gọi tool `sprint_healthcheck`.\n- Với yêu cầu liên quan release sprint, close sprint, approve, reject, cancel: bắt buộc gọi tool `assistant_demo_command`.\n- Nếu tool trả về object có field `resultText`, ưu tiên trả lại đúng `resultText`, chỉ chỉnh nhẹ nếu cần làm rõ cho người dùng.\n- Không bao giờ khẳng định đã release/approve/reject/cancel thật; nhóm lệnh đó hiện là demo.\n- Nếu user chỉ chào hỏi, cảm ơn, hoặc hỏi chung không phải lệnh: trả lời tự nhiên như trợ lý (1-2 câu), rồi gợi ý lệnh dùng được.\n- Hãy đọc phần Simple memory trong chatInput để giữ mạch hội thoại giữa các lượt.\n- Chỉ trả về text thuần, không markdown code block."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -280,
        4
      ],
      "id": "35",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "cx/gpt-5.4",
          "mode": "list",
          "cachedResultName": "cx/gpt-5.4"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -336,
        228
      ],
      "id": "36",
      "name": "Assistant Agent Model",
      "credentials": {
        "openAiApi": {
          "id": "nmpOof7gCtDCf1BD",
          "name": "Local OpenAI Proxy"
        }
      }
    },
    {
      "parameters": {
        "name": "sprint_healthcheck",
        "description": "Use this tool for any request about sprint status, sprint healthcheck, progress, passed tasks or points, FE/BE summary, warnings, blocked issues, or stale tasks. The tool returns JSON and field `resultText` is the exact user-facing answer to send back.",
        "workflowId": {
          "__rl": true,
          "value": "KMrBMKLm9ZNezxwx",
          "mode": "list",
          "cachedResultUrl": "/workflow/KMrBMKLm9ZNezxwx",
          "cachedResultName": "MoMo AI Assistant Tool Sprint Healthcheck"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "triggerSource": "chat",
            "commandText": "={{ $json.commandText || \"\" }}",
            "channel": "={{ $json.channel || \"googleChat\" }}",
            "sessionId": "={{ $json.sessionId || \"\" }}",
            "spaceId": "={{ $json.spaceId || \"\" }}",
            "threadKey": "={{ $json.threadKey || \"\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "triggerSource",
              "displayName": "triggerSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "commandText",
              "displayName": "commandText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "spaceId",
              "displayName": "spaceId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "threadKey",
              "displayName": "threadKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -208,
        228
      ],
      "id": "37",
      "name": "Sprint Healthcheck Workflow Tool"
    },
    {
      "parameters": {
        "name": "assistant_demo_command",
        "description": "Use this tool for demo-only commands: release sprint, close sprint, approve, reject, or cancel. Let the model fill `commandType` with one of: release_sprint, approve, reject, cancel. The tool returns JSON and field `resultText` is the exact user-facing answer to send back.",
        "workflowId": {
          "__rl": true,
          "value": "qbbI1Mu3JR3tPhZi",
          "mode": "list",
          "cachedResultUrl": "/workflow/qbbI1Mu3JR3tPhZi",
          "cachedResultName": "MoMo AI Assistant Tool Demo Commands"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "commandType": "={{ $fromAI(\"commandType\", \"One of: release_sprint, approve, reject, cancel\", \"string\") }}",
            "commandText": "={{ $json.commandText || \"\" }}",
            "channel": "={{ $json.channel || \"googleChat\" }}",
            "sessionId": "={{ $json.sessionId || \"\" }}",
            "spaceId": "={{ $json.spaceId || \"\" }}",
            "threadKey": "={{ $json.threadKey || \"\" }}"
          },
          "matchingColumns": [
            "commandType"
          ],
          "schema": [
            {
              "id": "commandType",
              "displayName": "commandType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "commandText",
              "displayName": "commandText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "spaceId",
              "displayName": "spaceId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "threadKey",
              "displayName": "threadKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -80,
        228
      ],
      "id": "38",
      "name": "Demo Command Workflow Tool"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Build Chat Assistant Context').first().json || {};\nconst agent = $input.first()?.json || {};\nconst stableCommands = Array.isArray(ctx.config?.stableCommands)\n  ? ctx.config.stableCommands\n  : ['check sprint', 'status sprint'];\nconst demoCommands = Array.isArray(ctx.config?.demoCommands)\n  ? ctx.config.demoCommands\n  : ['release sprint', 'approve', 'reject', 'cancel'];\nconst memoryMaxTurns = Math.max(1, Number(ctx.config?.memoryMaxTurns || 10));\nconst memoryUserChars = Math.max(40, Number(ctx.config?.memoryUserChars || 180));\nconst memoryAssistantChars = Math.max(40, Number(ctx.config?.memoryAssistantChars || 280));\n\nfunction toText(value) {\n  if (typeof value === 'string') return value.trim();\n  if (value == null) return '';\n  if (typeof value === 'object') return JSON.stringify(value);\n  return String(value).trim();\n}\n\nfunction trimText(value, maxLen) {\n  const text = toText(value).replace(/\\s+/g, ' ');\n  if (!text) return '';\n  if (!maxLen || text.length <= maxLen) return text;\n  return text.slice(0, maxLen - 3).trimEnd() + '...';\n}\n\nfunction normalizeTurns(rawTurns) {\n  if (!Array.isArray(rawTurns)) return [];\n  return rawTurns\n    .map((turn) => ({\n      user: trimText(turn?.user || '', memoryUserChars),\n      assistant: trimText(turn?.assistant || '', memoryAssistantChars),\n      at: toText(turn?.at || ''),\n    }))\n    .filter((turn) => turn.user || turn.assistant)\n    .slice(-memoryMaxTurns);\n}\n\nfunction detectIntent(commandText) {\n  const normalized = String(commandText || '').trim().toLowerCase();\n  if (/release\\s+sprint|close\\s+sprint|release\\s+status/.test(normalized)) return 'releaseDemo';\n  if (/(^|\\b)(approve|ok|dong y|đồng ý|xac nhan|xác nhận)(\\b|$)/i.test(normalized)) return 'approveDemo';\n  if (/(^|\\b)(reject|tu choi|từ chối)(\\b|$)/i.test(normalized)) return 'rejectDemo';\n  if (/(^|\\b)(cancel|huy|hủy)(\\b|$)/i.test(normalized)) return 'cancelDemo';\n  if (/check\\s+sprint|status\\s+sprint|sprint\\s+status|healthcheck/.test(normalized)) return 'checkSprint';\n  if (/(^|\\b)(hello|hi|alo|chào|xin chào|cảm ơn|thanks|thank you)(\\b|$)/i.test(normalized)) return 'smallTalk';\n  return 'help';\n}\n\nconst rawOutput = agent.output ?? agent.response ?? agent.result ?? agent.text ?? agent.message?.content ?? '';\nlet resultText = toText(rawOutput);\nconst detectedIntent = detectIntent(ctx.commandText || '');\n\nif (!resultText) {\n  if (detectedIntent === 'smallTalk') {\n    resultText = 'Mình đây nè. Bạn có thể thử: ' + stableCommands.join(', ') + '.';\n  } else {\n    resultText = 'Hiện mình hỗ trợ ổn nhất các lệnh: ' + stableCommands.join(', ') + '. Nhóm demo: ' + demoCommands.join(', ') + '.';\n  }\n}\n\nconst previousTurns = normalizeTurns(ctx.memory?.turns || []);\nconst nowIso = toText(ctx.config?.nowIso || new Date().toISOString());\nconst newTurn = {\n  user: trimText(ctx.commandText || '', memoryUserChars),\n  assistant: trimText(resultText, memoryAssistantChars),\n  at: nowIso,\n};\nconst turns = [...previousTurns, newTurn].filter((turn) => turn.user || turn.assistant).slice(-memoryMaxTurns);\n\nconst memoryPayload = {\n  intent: detectedIntent,\n  previousIntent: toText(ctx.memory?.intent || ''),\n  turns,\n  memoryUpdatedAt: nowIso,\n};\n\nreturn [{\n  json: {\n    ...ctx,\n    responseKind: 'agent',\n    resultText,\n    currentIntent: JSON.stringify(memoryPayload),\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        108
      ],
      "id": "39",
      "name": "Build Agent Chat Response"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "buH9JMCFNDnD3ZWU",
          "mode": "list",
          "cachedResultUrl": "/workflow/buH9JMCFNDnD3ZWU",
          "cachedResultName": "MoMo AI Assistant State Store"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "upsertSession",
            "session": "={{ ({ sessionId: $(\"Build Agent Chat Response\").first().json.sessionId || \"\", channel: $(\"Build Agent Chat Response\").first().json.channel || \"googleChat\", spaceId: $(\"Build Agent Chat Response\").first().json.spaceId || \"\", threadKey: $(\"Build Agent Chat Response\").first().json.threadKey || \"\", lastActorId: $(\"Build Agent Chat Response\").first().json.actorId || \"\", status: \"active\", currentIntent: $(\"Build Agent Chat Response\").first().json.currentIntent || \"agent\", activePendingActionId: $(\"Build Agent Chat Response\").first().json.session?.activePendingActionId || \"\", createdAt: $(\"Build Agent Chat Response\").first().json.session?.createdAt || $(\"Config Main\").first().json.config.nowIso, updatedAt: $(\"Config Main\").first().json.config.nowIso }) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "pendingActionId",
              "displayName": "pendingActionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "pendingAction",
              "displayName": "pendingAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "toolRun",
              "displayName": "toolRun",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        352,
        108
      ],
      "id": "40",
      "name": "Save Agent Session"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KMrBMKLm9ZNezxwx",
          "mode": "list",
          "cachedResultUrl": "/workflow/KMrBMKLm9ZNezxwx",
          "cachedResultName": "MoMo AI Assistant Tool Sprint Healthcheck"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "triggerSource": "={{ $(\"Build Stateless Assistant Context\").item.json.triggerSource || \"\" }}",
            "commandText": "={{ $(\"Build Stateless Assistant Context\").item.json.commandText || \"\" }}",
            "channel": "={{ $(\"Build Stateless Assistant Context\").item.json.channel || \"\" }}",
            "sessionId": "={{ $(\"Build Stateless Assistant Context\").item.json.sessionId || \"\" }}",
            "spaceId": "={{ $(\"Build Stateless Assistant Context\").item.json.spaceId || \"\" }}",
            "threadKey": "={{ $(\"Build Stateless Assistant Context\").item.json.threadKey || \"\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "triggerSource",
              "displayName": "triggerSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "commandText",
              "displayName": "commandText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "spaceId",
              "displayName": "spaceId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "threadKey",
              "displayName": "threadKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -560,
        404
      ],
      "id": "14",
      "name": "Run Sprint Healthcheck Tool"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "buH9JMCFNDnD3ZWU",
          "mode": "list",
          "cachedResultUrl": "/workflow/buH9JMCFNDnD3ZWU",
          "cachedResultName": "MoMo AI Assistant State Store"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "createToolRun",
            "toolRun": "={{ ({ toolRunId: `sprint-healthcheck-${Date.now().toString(36)}-${Math.random().toString(36).slice(2, 8)}`, sessionId: $(\"Build Stateless Assistant Context\").item.json.sessionId || \"\", toolName: \"sprintHealthcheck\", triggerSource: $(\"Build Stateless Assistant Context\").item.json.triggerSource || \"\", inputJson: { commandText: $(\"Build Stateless Assistant Context\").item.json.commandText || \"\" }, outputJson: $(\"Run Sprint Healthcheck Tool\").item.json.resultData || {}, resultText: $(\"Run Sprint Healthcheck Tool\").item.json.resultText || \"\", createdAt: $(\"Config Main\").item.json.config.nowIso || new Date().toISOString() }) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "pendingActionId",
              "displayName": "pendingActionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "pendingAction",
              "displayName": "pendingAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "toolRun",
              "displayName": "toolRun",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -216,
        404
      ],
      "id": "15",
      "name": "Log Healthcheck Tool Run"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Build Stateless Assistant Context').first().json || {};\nconst tool = $('Run Sprint Healthcheck Tool').first().json || {};\nconst resultData = tool.resultData || {};\nconst sprintName = String(resultData.sprint?.name || 'Sprint chưa xác định').trim();\nconst seed = String(resultData.sprint?.id || sprintName || 'sprint-healthcheck')\n  .toLowerCase()\n  .replace(/[^a-z0-9_-]+/g, '-')\n  .replace(/^-+|-+$/g, '') || 'sprint-healthcheck';\nconst uniqueSuffix = `${Date.now().toString(36)}-${Math.random().toString(36).slice(2, 8)}`;\nconst threadKey = `sprint-${seed}-${uniqueSuffix}`.slice(0, 120);\n\nreturn [\n  {\n    json: {\n      ...ctx,\n      responseKind: 'healthcheck',\n      resultText: String(tool.resultText || '').trim(),\n      summaryCardPayload: resultData.summaryCardPayload || null,\n      warningDetailText: String(resultData.warningDetailText || '').trim(),\n      hasWarningDetails: Boolean(resultData.hasWarnings && resultData.warningDetailText),\n      warningCount: Number(resultData.warningCount || 0),\n      threadKey,\n      ggChatWebhookUrl: ctx.config?.ggChatWebhookUrl || '',\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        404
      ],
      "id": "18",
      "name": "Build Healthcheck Response"
    },
    {
      "parameters": {
        "jsCode": "const response = $('Build Agent Chat Response').first().json || {};\nconst text = String(response.resultText || '').trim() || 'Đã nhận lệnh.';\nreturn [{ json: { text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        108
      ],
      "id": "30",
      "name": "Return Chat Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ (() => { const base = String($json.ggChatWebhookUrl || $(\"Config Main\").first().json.config.ggChatWebhookUrl || \"\"); const sep = base.includes(\"?\") ? \"&\" : \"?\"; const key = encodeURIComponent(String($json.threadKey || \"\")); return `${base}${sep}threadKey=${key}&messageReplyOption=REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD`; })() }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.summaryCardPayload }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        352,
        404
      ],
      "id": "31",
      "name": "Send GGChat Summary Card",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "if-has-warning-details",
              "leftValue": "={{ $(\"Build Healthcheck Response\").first().json.hasWarningDetails }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "32",
      "name": "If Has Warning Details?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        404
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ (() => { const payload = $(\"Build Healthcheck Response\").first().json || {}; const base = String(payload.ggChatWebhookUrl || $(\"Config Main\").first().json.config.ggChatWebhookUrl || \"\"); const sep = base.includes(\"?\") ? \"&\" : \"?\"; const key = encodeURIComponent(String(payload.threadKey || \"\")); return `${base}${sep}threadKey=${key}&messageReplyOption=REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD`; })() }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ text: $(\"Build Healthcheck Response\").first().json.warningDetailText || \"\" }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        332
      ],
      "id": "33",
      "name": "Send GGChat Warning Details",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { status: 'delivered', channel: 'googleChatWebhook' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        404
      ],
      "id": "34",
      "name": "Build Delivery Ack"
    },
    {
      "parameters": {},
      "id": "41",
      "name": "Manual Trigger Release Sprint",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1680,
        448
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  triggerSource: 'chat',\n  channel: 'manualTrigger',\n  commandText: 'release sprint',\n  actorId: 'manual-release-trigger',\n  actorDisplayName: 'Manual Trigger Release Sprint',\n  spaceId: 'manual-trigger-space',\n  threadKey: 'manual-release-sprint',\n  sessionId: 'manual-trigger-space:manual-release-sprint',\n};"
      },
      "id": "42",
      "name": "Build Manual Release Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        448
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "47",
      "name": "Local Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1680,
        640
      ],
      "webhookId": "momo-ai-assistant-local-chat-trigger",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const payload = $json && typeof $json === 'object' ? $json : {};\nconst commandText = String(payload.chatInput || payload.text || payload.message?.text || '').trim() || 'check sprint';\nconst actorId = String(payload.actorId || payload.userId || payload.user?.id || 'n8n-chat-user').trim();\nconst actorDisplayName = String(payload.actorDisplayName || payload.userName || payload.user?.name || 'N8N Chat User').trim();\nconst rawSpaceId = String(payload.spaceId || '').trim();\nconst rawThreadKey = String(payload.threadKey || payload.thread || '').trim();\nconst rawSessionId = String(payload.sessionId || '').trim();\nconst spaceId = rawSpaceId || 'n8n-chat';\nconst threadKey = rawThreadKey || rawSessionId || 'local-chat-thread';\nconst sessionId = rawSessionId || `${spaceId}:${threadKey}`;\n\nreturn {\n  triggerSource: 'chat',\n  channel: 'n8nChatTrigger',\n  commandText,\n  actorId,\n  actorDisplayName,\n  spaceId,\n  threadKey,\n  threadName: '',\n  sessionId,\n  rawEvent: payload,\n};"
      },
      "id": "48",
      "name": "Build Local Chat Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        640
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Manual Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Manual Event": {
      "main": [
        [
          {
            "node": "Config Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Build Schedule Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Schedule Event": {
      "main": [
        [
          {
            "node": "Config Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Chat Webhook": {
      "main": [
        [
          {
            "node": "Build Chat Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Chat Event": {
      "main": [
        [
          {
            "node": "Config Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Main": {
      "main": [
        [
          {
            "node": "Switch Entry Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Session": {
      "main": [
        [
          {
            "node": "Build Chat Assistant Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Chat Assistant Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assistant Agent Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sprint Healthcheck Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Demo Command Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Build Agent Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Agent Chat Response": {
      "main": [
        [
          {
            "node": "Save Agent Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Agent Session": {
      "main": [
        [
          {
            "node": "Return Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Stateless Assistant Context": {
      "main": [
        [
          {
            "node": "Run Sprint Healthcheck Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Sprint Healthcheck Tool": {
      "main": [
        [
          {
            "node": "Log Healthcheck Tool Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Healthcheck Tool Run": {
      "main": [
        [
          {
            "node": "Build Healthcheck Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Healthcheck Response": {
      "main": [
        [
          {
            "node": "Send GGChat Summary Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send GGChat Summary Card": {
      "main": [
        [
          {
            "node": "If Has Warning Details?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Warning Details?": {
      "main": [
        [
          {
            "node": "Send GGChat Warning Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Delivery Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send GGChat Warning Details": {
      "main": [
        [
          {
            "node": "Build Delivery Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger Release Sprint": {
      "main": [
        [
          {
            "node": "Build Manual Release Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Manual Release Event": {
      "main": [
        [
          {
            "node": "Config Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Entry Route": {
      "main": [
        [
          {
            "node": "Load Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Stateless Assistant Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local Chat Trigger": {
      "main": [
        [
          {
            "node": "Build Local Chat Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Local Chat Event": {
      "main": [
        [
          {
            "node": "Config Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
