workflows/ui-synced/MoMo/momo-ai-assistant-tool-sprint-healthcheck.workflow.json
{
  "name": "MoMo AI Assistant Tool Sprint Healthcheck",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "triggerSource"
            },
            {
              "name": "commandText"
            },
            {
              "name": "channel"
            },
            {
              "name": "sessionId"
            },
            {
              "name": "spaceId"
            },
            {
              "name": "threadKey"
            },
            {
              "name": "actorId"
            },
            {
              "name": "actorDisplayName"
            },
            {
              "name": "args",
              "type": "object"
            }
          ]
        }
      },
      "id": "1",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1184,
        176
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $('When Executed by Another Workflow').first().json || $json || {};\n\nconst config = {\n  boardId: 1041,\n  jiraBaseUrl: 'https://atlassiansuite.mservice.com.vn:8443',\n  timeZone: 'Asia/Ho_Chi_Minh',\n  storyPointFieldKey: 'customfield_10107',\n  qcsFieldKey: 'customfield_10201',\n  spreadsheetId: '1uLVZ2b6Ra-r2KCbLHcOL68V6smtxymfTCNNQnWPG8mI',\n  spreadsheetSheetName: 'MoMoer',\n  devStaleBusinessDays: 5,\n  waitQcBusinessDays: 1,\n  qcStaleBusinessDays: 5,\n  nearEndBusinessDays: 2,\n  passedStatuses: ['Ready For Review', 'In Review', 'Ready For Release', 'Close', 'Closed'],\n  nowIso: $now.setZone('Asia/Ho_Chi_Minh').toISO(),\n};\n\nreturn {\n  ...input,\n  config,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        176
      ],
      "id": "2",
      "name": "Config Main"
    },
    {
      "parameters": {
        "url": "={{ `${$json.config.jiraBaseUrl}/rest/agile/1.0/board/${String($json.config.boardId || 1041)}/sprint` }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareServerPatApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={{ JSON.stringify({ state: 'active', maxResults: 50 }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -736,
        176
      ],
      "id": "3",
      "name": "Get Active Sprint",
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "3TLwUpSgsJhbG45A",
          "name": "Jira MoMo account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json || {};\nconst config = input.config || $('Config Main').first().json?.config || {};\nconst boardId = Number(config.boardId || 1041);\nconst statusCode = Number(input.statusCode || 200);\n\nfunction toText(value) {\n  return String(value ?? '').trim();\n}\n\nconst transportErrorMessage = toText(\n  input.error?.message || input.error?.description || input.message || input.error || '',\n);\n\nif (transportErrorMessage && !input.body) {\n  return {\n    config,\n    hasActiveSprint: false,\n    sprint: null,\n    failureReason: `Không kết nối được Jira host (${toText(config.jiraBaseUrl) || 'unknown'}): ${transportErrorMessage}`,\n  };\n}\n\nif (statusCode >= 400) {\n  const bodyMessage = toText(input.body?.errorMessages?.[0] || input.body?.message || '');\n  return {\n    config,\n    hasActiveSprint: false,\n    sprint: null,\n    failureReason: bodyMessage\n      ? `Không lấy được active sprint từ Jira (HTTP ${statusCode}): ${bodyMessage}`\n      : `Không lấy được active sprint từ Jira (HTTP ${statusCode})`,\n  };\n}\n\nconst body = input.body && typeof input.body === 'object' ? input.body : input;\nconst values = Array.isArray(body.values) ? body.values : [];\nconst activeSprints = values\n  .filter((item) => String(item?.state || '').toLowerCase() === 'active')\n  .sort((a, b) => new Date(b?.startDate || 0).getTime() - new Date(a?.startDate || 0).getTime());\n\nconst activeSprint = activeSprints[0] || null;\n\nif (!activeSprint) {\n  return {\n    config,\n    hasActiveSprint: false,\n    sprint: null,\n    failureReason: `Không tìm thấy active sprint cho board ${boardId}`,\n  };\n}\n\nreturn {\n  config,\n  hasActiveSprint: true,\n  sprint: {\n    id: activeSprint.id,\n    name: activeSprint.name || '',\n    startDate: activeSprint.startDate || '',\n    endDate: activeSprint.endDate || '',\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        176
      ],
      "id": "4",
      "name": "Pick Active Sprint"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "if-active-sprint",
              "leftValue": "={{ $json.hasActiveSprint }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -288,
        176
      ],
      "id": "5",
      "name": "If Active Sprint?"
    },
    {
      "parameters": {
        "url": "={{ `${$('Config Main').first().json.config.jiraBaseUrl}/rest/agile/1.0/sprint/${String($json.sprint?.id || '')}/issue` }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareServerPatApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={{ JSON.stringify({ startAt: 0, maxResults: 500, fields: '*all', expand: 'changelog' }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -64,
        80
      ],
      "id": "6",
      "name": "Get Sprint Issues",
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "3TLwUpSgsJhbG45A",
          "name": "Jira MoMo account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ `https://docs.google.com/spreadsheets/d/${String($('Config Main').first().json.config.spreadsheetId || '')}` }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ String($('Config Main').first().json.config.spreadsheetSheetName || 'MoMoer') }}",
          "mode": "name"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        80
      ],
      "id": "7",
      "name": "Get user",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3i6vDJxzaxXLHIWl",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function buildAggregate() {\n const responseFromJira = $('Get Sprint Issues').first().json || {};\n const sprintPayload = $('Pick Active Sprint').first().json || {};\n const configFromMain = $('Config Main').first().json?.config || sprintPayload.config || {};\n const input = {\n ...responseFromJira,\n config: configFromMain,\n sprint: sprintPayload.sprint || null,\n };\n\n const config = input.config || $('Config Main').first().json?.config || {};\n const statusCode = Number(input.statusCode || 200);\n const transportErrorMessage = String(input.error?.message || input.message || input.error || '').trim();\n\n if (transportErrorMessage && !input.body) {\n return {\n config,\n sprint: input.sprint || null,\n teams: {\n FE: { passedTasks: 0, totalTasks: 0, passedPoints: 0, totalPoints: 0 },\n BE: { passedTasks: 0, totalTasks: 0, passedPoints: 0, totalPoints: 0 },\n UNKNOWN: { passedTasks: 0, totalTasks: 0, passedPoints: 0, totalPoints: 0 }\n },\n warningsGrouped: [],\n reviewContext: {\n warningCount: 0,\n keyRisks: ['Không kết nối được Jira host']\n },\n failureReason: 'Không kết nối được Jira host (' + (String(config.jiraBaseUrl || 'unknown').trim() || 'unknown') + '): ' + transportErrorMessage\n };\n }\n\n if (statusCode >= 400) {\n return {\n config,\n sprint: input.sprint || null,\n teams: {\n FE: { passedTasks: 0, totalTasks: 0, passedPoints: 0, totalPoints: 0 },\n BE: { passedTasks: 0, totalTasks: 0, passedPoints: 0, totalPoints: 0 },\n UNKNOWN: { passedTasks: 0, totalTasks: 0, passedPoints: 0, totalPoints: 0 }\n },\n warningsGrouped: [],\n reviewContext: {\n warningCount: 0,\n keyRisks: ['Không lấy được dữ liệu issue từ Jira']\n },\n failureReason: `Không lấy được danh sách issue từ Jira (HTTP ${statusCode})`\n };\n }\n\n const body = input.body && typeof input.body === 'object' ? input.body : input;\n const rawIssues = Array.isArray(body.issues) ? body.issues : [];\n\n const jiraBaseUrl = String(config.jiraBaseUrl || '').replace(/\\/+$/, '');\n const storyPointFieldKey = String(config.storyPointFieldKey || 'customfield_10107').trim();\n const qcsFieldKey = String(config.qcsFieldKey || 'customfield_10201').trim();\n const now = new Date(String(config.nowIso || new Date().toISOString()));\n const sprint = input.sprint || {};\n const sprintStartDate = sprint.startDate ? new Date(sprint.startDate) : null;\n const sprintEndDate = sprint.endDate ? new Date(sprint.endDate) : null;\n const devStaleBusinessDays = Number(config.devStaleBusinessDays || 7);\n const waitQcBusinessDays = Number(config.waitQcBusinessDays || 1);\n const qcStaleBusinessDays = Number(config.qcStaleBusinessDays || 7);\n const nearEndBusinessDays = Number(config.nearEndBusinessDays || 2);\n const tzOffsetMinutes = 7 * 60;\n\n function parseDate(value) {\n if (!value) return null;\n const date = new Date(value);\n if (Number.isNaN(date.getTime())) return null;\n return date;\n }\n\n function toDayIndex(date) {\n return Math.floor((date.getTime() + tzOffsetMinutes * 60000) / 86400000);\n }\n\n function dayOfWeek(dayIndex) {\n return (dayIndex + 4) % 7;\n }\n\n function isBusinessDay(dayIndex) {\n const dow = dayOfWeek(dayIndex);\n return dow >= 1 && dow <= 5;\n }\n\n function businessDaysElapsed(startDate, endDate) {\n if (!(startDate instanceof Date) || !(endDate instanceof Date)) return 0;\n const startIndex = toDayIndex(startDate);\n const endIndex = toDayIndex(endDate);\n if (endIndex <= startIndex) return 0;\n let count = 0;\n for (let index = startIndex + 1; index <= endIndex; index += 1) {\n if (isBusinessDay(index)) count += 1;\n }\n return count;\n }\n\n function businessDaysRemaining(fromDate, toDate) {\n if (!(fromDate instanceof Date) || !(toDate instanceof Date)) return 0;\n const fromIndex = toDayIndex(fromDate);\n const toIndex = toDayIndex(toDate);\n if (toIndex <= fromIndex) return 0;\n let count = 0;\n for (let index = fromIndex + 1; index <= toIndex; index += 1) {\n if (isBusinessDay(index)) count += 1;\n }\n return count;\n }\n\n function normalizeStatus(rawStatus) {\n const status = String(rawStatus || '').trim();\n const map = {\n open: 'Open',\n 'in progress': 'In Progress',\n 'ready for test': 'Ready For Test',\n 'in test': 'In Test',\n 'ready for review': 'Ready For Review',\n 'in review': 'In Review',\n 'ready for release': 'Ready For Release',\n close: 'Close',\n closed: 'Close'\n };\n return map[status.toLowerCase()] || status;\n }\n\n function normalizeEmail(value) {\n const email = String(value || '').trim().toLowerCase();\n return email.includes('@') ? email : '';\n }\n\n function userDisplayName(userValue) {\n if (!userValue) return '';\n if (typeof userValue === 'string') return userValue.trim();\n return String(userValue.displayName || userValue.name || '').trim();\n }\n\n function userEmail(userValue) {\n if (!userValue) return '';\n if (typeof userValue === 'string') return normalizeEmail(userValue);\n return normalizeEmail(userValue.emailAddress || userValue.email || userValue.mail || '');\n }\n\n function toTag(name) {\n const cleanName = String(name || '').trim();\n return cleanName ? `@${cleanName}` : '@Unknown';\n }\n\n function parseNumeric(value) {\n if (typeof value === 'number' && Number.isFinite(value)) return value;\n if (typeof value === 'string') {\n const parsed = Number(value.trim());\n return Number.isFinite(parsed) ? parsed : null;\n }\n if (value && typeof value === 'object') {\n if (typeof value.value === 'number' && Number.isFinite(value.value)) return value.value;\n if (typeof value.value === 'string') {\n const parsed = Number(value.value.trim());\n return Number.isFinite(parsed) ? parsed : null;\n }\n }\n return null;\n }\n\n function extractStoryPoints(fields) {\n const candidates = [storyPointFieldKey, 'storyPoints', 'Story Points'];\n for (const key of candidates) {\n if (!key) continue;\n if (!Object.prototype.hasOwnProperty.call(fields, key)) continue;\n const parsed = parseNumeric(fields[key]);\n if (parsed !== null) return parsed;\n }\n return 0;\n }\n\n function normalizePersonList(rawValue) {\n if (!rawValue) return [];\n if (Array.isArray(rawValue)) {\n return rawValue\n .map(item => {\n if (typeof item === 'string') {\n return { name: item.trim(), email: normalizeEmail(item) };\n }\n return {\n name: userDisplayName(item),\n email: userEmail(item)\n };\n })\n .filter(item => item.name || item.email);\n }\n if (typeof rawValue === 'string') {\n return rawValue\n .split(/[;,]/)\n .map(item => item.trim())\n .filter(Boolean)\n .map(item => ({ name: item, email: normalizeEmail(item) }));\n }\n if (typeof rawValue === 'object') {\n const name = userDisplayName(rawValue);\n const email = userEmail(rawValue);\n return name || email ? [{ name, email }] : [];\n }\n return [];\n }\n\n function extractQcs(fields) {\n const candidates = [qcsFieldKey, 'qcs', 'QCs'];\n for (const key of candidates) {\n if (!key) continue;\n if (!Object.prototype.hasOwnProperty.call(fields, key)) continue;\n const list = normalizePersonList(fields[key]);\n if (list.length > 0) return list;\n }\n return [];\n }\n\n function sanitizeSummary(summary) {\n const clean = String(summary || '').replace(/\\s+/g, ' ').trim();\n return clean || 'Không có summary';\n }\n\n const allowedIssueTypes = new Set(['Task', 'Bug']);\n const excludedIssueTypes = new Set(['Sub-task', 'Defect']);\n const passedStatuses = new Set(config.passedStatuses || ['Ready For Review', 'In Review', 'Ready For Release', 'Close', 'Closed']);\n\n const teams = {\n FE: { passedTasks: 0, totalTasks: 0, passedPoints: 0, totalPoints: 0 },\n BE: { passedTasks: 0, totalTasks: 0, passedPoints: 0, totalPoints: 0 },\n UNKNOWN: { passedTasks: 0, totalTasks: 0, passedPoints: 0, totalPoints: 0 }\n };\n\n const sprintWorkingDaysElapsed = sprintStartDate ? businessDaysElapsed(sprintStartDate, now) : 0;\n const sprintWorkingDaysRemaining = sprintEndDate ? businessDaysRemaining(now, sprintEndDate) : 0;\n const sprintIsOverdue = sprintEndDate ? now > sprintEndDate : false;\n\n const warningPriority = { po_approve: 1, qc_stale: 2, wait_qc: 3, dev_stale: 4 };\n const issueWarnings = [];\n\n for (const issue of rawIssues) {\n const fields = issue && typeof issue === 'object' ? (issue.fields || {}) : {};\n const issueType = String(fields.issuetype?.name || '').trim();\n if (excludedIssueTypes.has(issueType)) continue;\n if (!allowedIssueTypes.has(issueType)) continue;\n\n const key = String(issue.key || '').trim();\n const summary = sanitizeSummary(fields.summary);\n const status = normalizeStatus(fields.status?.name || '');\n const storyPoints = Math.max(0, Number(extractStoryPoints(fields)) || 0);\n const assigneeName = userDisplayName(fields.assignee);\n const assigneeEmail = userEmail(fields.assignee);\n const reporterName = userDisplayName(fields.reporter || fields.creator);\n const reporterEmail = userEmail(fields.reporter || fields.creator);\n const qcs = extractQcs(fields);\n\n const summaryText = String(summary || '');\n const isFeToken = /\\[(APP|FE)\\]/i.test(summaryText);\n const isBeToken = /\\[(BE|API)\\]/i.test(summaryText);\n const isFeAssignee = /app/i.test(assigneeName);\n\n let team = 'UNKNOWN';\n if (isFeToken || isFeAssignee) team = 'FE';\n else if (isBeToken) team = 'BE';\n\n const statusFallbackDate = parseDate(fields.statuscategorychangedate) || parseDate(fields.created) || parseDate(fields.updated) || now;\n const histories = Array.isArray(issue?.changelog?.histories) ? issue.changelog.histories : [];\n let statusEnteredDate = null;\n\n for (const history of histories) {\n const historyDate = parseDate(history?.created);\n if (!historyDate) continue;\n const items = Array.isArray(history?.items) ? history.items : [];\n for (const item of items) {\n if (String(item?.field || '').toLowerCase() !== 'status') continue;\n const toStatus = normalizeStatus(item?.toString || item?.to || '');\n if (toStatus === status && (!statusEnteredDate || historyDate > statusEnteredDate)) {\n statusEnteredDate = historyDate;\n }\n }\n }\n\n if (!statusEnteredDate) {\n statusEnteredDate = statusFallbackDate;\n }\n\n const currentStatusAgingBusinessDays = businessDaysElapsed(statusEnteredDate, now);\n const isPassed = passedStatuses.has(status);\n const url = key && jiraBaseUrl ? `${jiraBaseUrl}/browse/${key}` : String(issue?.self || '').trim();\n\n if (!teams[team]) {\n teams[team] = { passedTasks: 0, totalTasks: 0, passedPoints: 0, totalPoints: 0 };\n }\n\n teams[team].totalTasks += 1;\n teams[team].totalPoints += storyPoints;\n if (isPassed) {\n teams[team].passedTasks += 1;\n teams[team].passedPoints += storyPoints;\n }\n\n\n const assigneeTag = assigneeName ? toTag(assigneeName) : '';\n const reporterTag = reporterName ? toTag(reporterName) : '';\n const qcsTags = qcs.map(person => toTag(person.name || person.email));\n const warningCandidates = [];\n\nif ((status === 'Open' || status === 'In Progress') && currentStatusAgingBusinessDays > devStaleBusinessDays) {\nwarningCandidates.push({\ntype: 'dev_stale',\nownerTag: assigneeTag || reporterTag || '@Unknown',\nownerEmail: assigneeEmail || reporterEmail || '',\nagingBusinessDays: currentStatusAgingBusinessDays\n});\n}\n\nif (status === 'Ready For Test' && currentStatusAgingBusinessDays > waitQcBusinessDays) {\nwarningCandidates.push({\ntype: 'wait_qc',\nownerTag: qcsTags[0] || reporterTag || '@Unknown',\nownerEmail: qcs[0]?.email || reporterEmail || '',\nagingBusinessDays: currentStatusAgingBusinessDays\n});\n}\n\nif (status === 'In Test' && currentStatusAgingBusinessDays > qcStaleBusinessDays) {\nwarningCandidates.push({\ntype: 'qc_stale',\nownerTag: qcsTags[0] || reporterTag || '@Unknown',\nownerEmail: qcs[0]?.email || reporterEmail || '',\nagingBusinessDays: currentStatusAgingBusinessDays\n});\n}\n\nif ((sprintIsOverdue || sprintWorkingDaysRemaining <= nearEndBusinessDays) && (status === 'Ready For Review' || status === 'In Review')) {\nwarningCandidates.push({\ntype: 'po_approve',\nownerTag: reporterTag || '@Unknown',\nownerEmail: reporterEmail || '',\nagingBusinessDays: currentStatusAgingBusinessDays\n});\n}\n\n if (!warningCandidates.length) continue;\n warningCandidates.sort((a, b) => warningPriority[a.type] - warningPriority[b.type]);\n const selected = warningCandidates[0];\n\nissueWarnings.push({\nmemberTag: selected.ownerTag,\nownerEmail: normalizeEmail(selected.ownerEmail),\nkey,\nurl,\nsummary,\ntype: selected.type,\nteam,\nstatus,\nagingBusinessDays: Number(selected.agingBusinessDays || currentStatusAgingBusinessDays || 0)\n});\n }\n\n const groupedWarningsMap = new Map();\n for (const warning of issueWarnings) {\n if (!groupedWarningsMap.has(warning.memberTag)) groupedWarningsMap.set(warning.memberTag, []);\ngroupedWarningsMap.get(warning.memberTag).push({\nkey: warning.key,\nurl: warning.url,\nsummary: warning.summary,\ntype: warning.type,\nagingBusinessDays: warning.agingBusinessDays,\nownerEmail: warning.ownerEmail\n});\n }\n\n const warningsGrouped = Array.from(groupedWarningsMap.entries())\n .map(([memberTag, items]) => ({\n memberTag,\n items: items.sort((a, b) => a.key.localeCompare(b.key))\n }))\n .sort((a, b) => a.memberTag.localeCompare(b.memberTag, 'vi'));\n\n const fe = teams.FE;\n const be = teams.BE;\n const keyRisks = [];\n if (fe.totalTasks > 0 && fe.passedTasks / fe.totalTasks < 0.6) keyRisks.push('FE còn chậm');\n if (be.totalTasks > 0 && be.passedTasks / be.totalTasks < 0.6) keyRisks.push('BE còn chậm');\n if (issueWarnings.length > 0) keyRisks.push('Tồn tại cảnh báo cần xử lý');\n if (sprintIsOverdue) keyRisks.push('Sprint đã quá hạn');\n if (!sprintIsOverdue && sprintWorkingDaysRemaining <= nearEndBusinessDays) keyRisks.push('Sprint sát hạn');\n if (!keyRisks.length) keyRisks.push('Tiến độ đang ổn định');\n\n const warningBreakdown = issueWarnings.reduce((acc, warning) => {\n const key = String(warning.type || 'other');\n acc[key] = (acc[key] || 0) + 1;\n return acc;\n }, {});\n\n const warningMembers = Array.from(new Set(issueWarnings.map(w => String(w.memberTag || '@Unknown')).filter(Boolean))).sort((a, b) => a.localeCompare(b, 'vi'));\n\n const warningExamples = issueWarnings\n .slice()\n .sort((a, b) => {\n const diff = Number(b.agingBusinessDays || 0) - Number(a.agingBusinessDays || 0);\n if (diff !== 0) return diff;\n return String(a.key || '').localeCompare(String(b.key || ''));\n })\n.slice(0, 6)\n.map(item => ({\nkey: item.key,\ntype: item.type,\nteam: item.team,\nstatus: item.status,\nagingBusinessDays: item.agingBusinessDays,\nmemberTag: item.memberTag\n}));\n\n return {\n config,\n sprint: {\n id: sprint.id || null,\n name: sprint.name || '',\n startDate: sprint.startDate || '',\n endDate: sprint.endDate || '',\n workingDaysElapsed: sprintWorkingDaysElapsed,\n workingDaysRemaining: sprintWorkingDaysRemaining,\n isOverdue: sprintIsOverdue\n },\n teams: { FE: fe, BE: be, UNKNOWN: teams.UNKNOWN },\n warningsGrouped,\n reviewContext: {\n feRatio: `${fe.passedTasks}/${fe.totalTasks}`,\n beRatio: `${be.passedTasks}/${be.totalTasks}`,\n fePointRatio: `${fe.passedPoints}/${fe.totalPoints}`,\n bePointRatio: `${be.passedPoints}/${be.totalPoints}`,\n warningCount: issueWarnings.length,\n warningBreakdown,\n warningMembers,\n warningExamples,\n keyRisks,\n sprintName: sprint.name || '',\n workingDaysElapsed: sprintWorkingDaysElapsed,\n workingDaysRemaining: sprintWorkingDaysRemaining,\n isOverdue: sprintIsOverdue\n }\n };\n}\n\nconst aggregate = buildAggregate();\n\nfunction normalizeEmailForDirectory(value) {\n const email = String(value || '').trim().toLowerCase();\n return email.includes('@') ? email : '';\n}\n\nconst mentionMap = {};\n\nfor (const item of $input.all()) {\n const row = item?.json && typeof item.json === 'object' ? item.json : {};\n const normalizedRow = {};\n for (const [key, value] of Object.entries(row)) {\n normalizedRow[String(key || '').trim().toLowerCase()] = value;\n }\n\n const email = normalizeEmailForDirectory(normalizedRow.email);\n const id = String(normalizedRow.id || '').trim();\n if (!email || !id) continue;\n if (mentionMap[email]) continue;\n mentionMap[email] = id;\n}\n\nreturn [{\n json: {\n ...aggregate,\n mentionMap\n }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        80
      ],
      "id": "8",
      "name": "Prepare AI Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{\n[\n  'Bạn là AI Agile Scrum Master.',\n  'Nhiệm vụ: viết đúng 1 câu review tiếng Việt, tối đa 200 ký tự.',\n  'Chỉ trả về đúng câu review, không markdown, không code block, không xuống dòng, không prefix kiểu \"Review:\" hay \"Đây là\".',\n  'Giọng văn dí dỏm, tự nhiên, thông minh, nhắc khéo mà có duyên, hơi đùa nghịch',\n  'Câu review phải có ít nhất đủ 3 ý: (1) sức khỏe sprint, (2) thời gian còn lại hoặc đã quá hạn, (3) hành động ưu tiên ngay.',\n  'Nếu warningCount = 0 và tiến độ ổn: khen ngắn gọn, có năng lượng tích cực.',\n  'Nếu warningCount > 0: phải nêu số warning và nguyên nhân lớn nhất bằng cách gọi tên ngắn gọn như dev, QC, review, hoặc PO approve.',\n  'Nếu dữ liệu chưa đẹp để nói rõ nguyên nhân lớn nhất, hãy ưu tiên nói warningCount + hành động quan trọng nhất, không bịa.',\n  'Tuyệt đối không vượt quá 200 ký tự.',\n  '',\n  'INPUT JSON:',\n  JSON.stringify({\n    sprint: $json.sprint,\n    teams: $json.teams,\n    reviewContext: $json.reviewContext\n  }, null, 2)\n].join('\\\\n')\n}}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        608,
        80
      ],
      "id": "9",
      "name": "Write Sprint Review"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "cx/gpt-5.4",
          "mode": "list",
          "cachedResultName": "cx/gpt-5.4"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        680,
        304
      ],
      "id": "10",
      "name": "Review Model",
      "credentials": {
        "openAiApi": {
          "id": "nmpOof7gCtDCf1BD",
          "name": "Local OpenAI Proxy"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const toolInput = $('When Executed by Another Workflow').first().json || {};\nconst payload = $('Prepare AI Input').first().json || {};\nconst mentionMap = payload.mentionMap || {};\nconst ai = $input.first()?.json || {};\n\nconst rawReview = String(\n  ai.text || ai.response || ai.output || ai.result || ai.message?.content || ''\n);\n\nlet review = rawReview\n  .replace(/[\\x00\\x03]/g, ' ')\n  .replace(/\\r/g, '\\n')\n  .replace(/\\n+/g, '\\n')\n  .trim();\n\nconst reviewMatch = review.match(/(?:^|\\n)-?\\s*Review\\s*:\\s*(.+)$/im);\nif (reviewMatch?.[1]) {\n  review = reviewMatch[1].trim();\n} else {\n  review = review\n    .replace(/(?:^|\\n)-?\\s*FE passed:[^\\n]*/gi, ' ')\n    .replace(/(?:^|\\n)-?\\s*BE passed:[^\\n]*/gi, ' ')\n    .replace(/(?:^|\\n)(?:⚠️\\s*)?Warnings?:[\\s\\S]*/i, ' ')\n    .replace(/(?:^|\\n)\\*WARNINGS\\*:[\\s\\S]*/i, ' ')\n    .replace(/```[\\s\\S]*?```/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .replace(/^[-*•\\s]+/, '');\n}\n\nreview = review.replace(/[\\x00\\x03`*_]/g, '').replace(/\\s+/g, ' ').trim();\n\nif (!review) {\n  const remaining = Number(payload.reviewContext?.workingDaysRemaining ?? 0);\n  const reviewWarningCount = Number(payload.reviewContext?.warningCount ?? 0);\n  const isOverdue = Boolean(payload.reviewContext?.isOverdue);\n\n  if (reviewWarningCount === 0) {\n    review = isOverdue\n      ? 'Sprint đã quá hạn nhưng chưa có cảnh báo lớn; chốt nốt các việc cuối để hạ cờ an toàn'\n      : `Sprint còn ${remaining} ngày, nhịp đang ổn; giữ chắc review và test để về đích gọn gàng`;\n  } else {\n    review = isOverdue\n      ? `Sprint đã quá hạn, còn ${reviewWarningCount} warning; ưu tiên dọn điểm nghẽn lớn nhất ngay`\n      : `Sprint còn ${remaining} ngày, có ${reviewWarningCount} warning; ưu tiên xử lý điểm nghẽn lớn nhất trước`;\n  }\n}\n\nconst firstSentence = review.match(/^[^.!?]*[.!?]/);\nif (firstSentence?.[0]) review = firstSentence[0].trim();\nif (!/[.!?]$/.test(review)) review += '.';\n\nconst fe = payload.teams?.FE || { passedTasks: 0, totalTasks: 0, passedPoints: 0, totalPoints: 0 };\nconst be = payload.teams?.BE || { passedTasks: 0, totalTasks: 0, passedPoints: 0, totalPoints: 0 };\n\nconst groups = Array.isArray(payload.warningsGrouped) ? payload.warningsGrouped : [];\nconst warningGroups = [];\n\nfor (const group of groups) {\n  const items = Array.isArray(group.items) ? group.items : [];\n  if (items.length === 0) continue;\n\n  const firstEmail = items\n    .map((item) => String(item.ownerEmail || '').trim().toLowerCase())\n    .find(Boolean) || '';\n\n  const mention = firstEmail && mentionMap[firstEmail]\n    ? `<users/${mentionMap[firstEmail]}>`\n    : String(group.memberTag || '').trim();\n\n  if (!mention) continue;\n  warningGroups.push({ mention, items });\n}\n\nfunction normalizeDestinations(rawDestinations) {\n  if (!Array.isArray(rawDestinations)) return [];\n\n  const normalized = [];\n  const seen = new Set();\n  for (const rawDestination of rawDestinations) {\n    const type = typeof rawDestination === 'string'\n      ? rawDestination.trim()\n      : String(rawDestination?.type || '').trim();\n\n    if (!type || seen.has(type)) continue;\n    seen.add(type);\n    normalized.push({ type });\n  }\n\n  return normalized;\n}\n\nconst defaultDestinations = toolInput.triggerSource === 'schedule'\n  ? [{ type: 'pushGoogleChat' }]\n  : [{ type: 'reply' }];\nconst destinations = normalizeDestinations([\n  ...defaultDestinations,\n  ...(Array.isArray(toolInput.args?.additionalDestinations) ? toolInput.args.additionalDestinations : []),\n]);\nconst destinationTypes = destinations.map((destination) => destination.type);\nconst includeReplyDestination = destinationTypes.includes('reply');\nconst includePushGoogleChat = destinationTypes.includes('pushGoogleChat');\n\nconst warningCount = warningGroups.reduce((sum, group) => sum + group.items.length, 0);\nconst sprintName = String(payload.sprint?.name || '').trim() || 'Sprint chưa xác định';\nconst feLine = `FE passed: ${fe.passedTasks}/${fe.totalTasks} tasks — ${fe.passedPoints}/${fe.totalPoints} pts`;\nconst beLine = `BE passed: ${be.passedTasks}/${be.totalTasks} tasks — ${be.passedPoints}/${be.totalPoints} pts`;\nconst reviewText = `${review}<br>${\n  warningCount > 0\n    ? `<font color=\"#fa541c\">🚨 Có ${warningCount} warning cần xử lý ngay.</font>`\n    : '<font color=\"#34c759\">🌿 Đỉnh chóp! Không có blocker nào</font>'\n}`;\n\nconst summaryCardPayload = {\n  cardsV2: [\n    {\n      cardId: 'sprint-healthcheck-summary',\n      card: {\n        sections: [\n          {\n            widgets: [\n              {\n                decoratedText: {\n                  text: `<b><font color=\"#0F9D58\">🩺 ${sprintName}</font></b>`,\n                  wrapText: true,\n                },\n              },\n              {\n                decoratedText: {\n                  text: `${feLine}<br>${beLine}`,\n                  wrapText: true,\n                },\n              },\n              {\n                decoratedText: {\n                  text: reviewText,\n                  wrapText: true,\n                },\n              },\n            ],\n          },\n        ],\n      },\n    },\n  ],\n};\n\nfunction sanitizeReason(rawReason) {\n  return String(rawReason || 'Cần kiểm tra')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .replace(/[.]+$/g, '');\n}\n\nconst usedVariantIndexesByType = new Map();\n\nfunction pickRandomNonRepeating(list, typeKey) {\n  if (!Array.isArray(list) || list.length === 0) return '';\n  const normalizedTypeKey = String(typeKey || 'generic').trim().toLowerCase() || 'generic';\n\n  let usedIndexes = usedVariantIndexesByType.get(normalizedTypeKey);\n  if (!(usedIndexes instanceof Set) || usedIndexes.size >= list.length) {\n    usedIndexes = new Set();\n    usedVariantIndexesByType.set(normalizedTypeKey, usedIndexes);\n  }\n\n  const availableIndexes = [];\n  for (let index = 0; index < list.length; index += 1) {\n    if (!usedIndexes.has(index)) availableIndexes.push(index);\n  }\n\n  const selectedIndex = availableIndexes[Math.floor(Math.random() * availableIndexes.length)];\n  usedIndexes.add(selectedIndex);\n  return list[selectedIndex] || '';\n}\n\nfunction formatWarningReason(item) {\n  const warningType = String(item?.type || '').trim().toLowerCase();\n  const agingBusinessDays = Number(item?.agingBusinessDays || 0);\n  const d = Number.isFinite(agingBusinessDays) ? Math.max(0, agingBusinessDays) : 0;\n  const fallbackReason = 'Task này cần được ngó lại nha.';\n\n  const byType = {\n    dev_stale: [\n      `Dev ơi task này chậm ${d} ngày rồi nè.`,\n      `Quả task này ${d} ngày rồi chưa xong nè.`,\n      `Task này nằm hơi lâu rồi đó dev ơi.`,\n      `Card này chìm như Titanic luôn rồi nè.`,\n      `Task này đang ngủ quên ${d} ngày rồi á.`,\n      `Dev ơi kéo card này tiếp đi nè.`,\n      `Task này đứng hình ${d} ngày rồi đó.`,\n      `Card này bị ngâm hơi kỹ rồi nha dev.`,\n      `Task này để lâu quá rồi á dev ơi.`,\n      `Dev ơi card này đang chậm nhịp rồi nè.`,\n    ],\n    wait_qc: [\n      `QC ơi card này chờ ${d} ngày rồi nè.`,\n      `Quên card này ${d} ngày rồi nè QC ơi.`,\n      `Task này đứng đợi QC hơi lâu rồi đó.`,\n      `QC ơi ghé card này giúp với nè.`,\n      `Card này đang xếp hàng chờ QC đó nha.`,\n      `Ready For Test ${d} ngày rồi đó QC ơi.`,\n      `Task này đang gọi tên QC đó nè.`,\n      `QC ơi kéo nhẹ card này giúp team nha.`,\n      `Card này đợi test đến sốt ruột rồi nè.`,\n      `QC ơi task này chờ hơi lâu rồi á.`,\n    ],\n    qc_stale: [\n      `QC ơi task này test ${d} ngày rồi nè.`,\n      `Card này ở QC hơi lâu rồi đó nha.`,\n      `Task này vẫn còn mắc ở QC đó nè.`,\n      `QC ơi chốt giúp card này với nè.`,\n      `In Test ${d} ngày rồi đó nha QC ơi.`,\n      `Task này test hoài chưa chịu xong nè.`,\n      `QC ơi card này đang chờ được thả nè.`,\n      `Task này còn kẹt QC hơi lâu rồi á.`,\n      `QC ơi nhìn tới card này giúp team nha.`,\n      `Card này ở khúc test hơi dai rồi đó.`,\n    ],\n    po_approve: [\n      'PO approve cái nhé.',\n      'PO ơi chốt card này giúp em nha.',\n      'Task này đang chờ PO gật đầu đó ạ.',\n      'PO approve giúp để card này được về bờ nha.',\n      'Card này còn đứng chờ PO đó nha.',\n      'PO ơi duyệt nhẹ một cái giúp team nè.',\n      'Task này thiếu mỗi PO approve thôi á.',\n      'PO chốt giúp card này cho team thở nha.',\n      'Card này còn chờ duyệt đó ạ.',\n      'PO ơi approve giúp cái là đẹp luôn nè.',\n    ],\n    generic: [\n      fallbackReason,\n      'Task này đang chậm nhịp rồi nè.',\n      'Card này cần được kéo tiếp nha.',\n      'Task này đứng hơi lâu rồi đó.',\n      'Card này cần được thương chút nè.',\n      'Task này nhìn hơi rén rồi á.',\n      'Card này đang chờ được cứu nè.',\n      'Task này cần xử lý sớm chút nha.',\n      'Chỗ này nên đẩy tiếp rồi đó nè.',\n      'Task này để lâu không ổn lắm đâu nha.',\n    ],\n  };\n\n  const variantPool = byType[warningType] || byType.generic;\n  const variant = pickRandomNonRepeating(variantPool, warningType || 'generic');\n  return sanitizeReason(variant || fallbackReason);\n}\n\nconst warningLines = [];\nfor (let groupIndex = 0; groupIndex < warningGroups.length; groupIndex += 1) {\n  const group = warningGroups[groupIndex];\n  if (groupIndex > 0) warningLines.push('');\n  warningLines.push(`${group.mention}:`);\n\n  for (const item of group.items) {\n    const url = String(item.url || '#').trim();\n    const key = String(item.key || 'N/A').trim();\n    let summary = String(item.summary || 'Không có summary')\n      .replace(/\\s+/g, ' ')\n      .trim()\n      .replace(/[.]+$/g, '');\n\n    if (summary.length > 120) summary = `${summary.slice(0, 117).trimEnd()}...`;\n    const reason = formatWarningReason(item);\n    warningLines.push(` • <${url}|${key}> ${summary} — *${reason}*`);\n  }\n}\n\nconst warningDetailText = warningLines.join('\\n');\nconst textLines = [\n  `📊 Sprint Healthcheck — ${sprintName}`,\n  '',\n  `- FE passed: ${fe.passedTasks}/${fe.totalTasks} tasks — ${fe.passedPoints}/${fe.totalPoints} pts`,\n  `- BE passed: ${be.passedTasks}/${be.totalTasks} tasks — ${be.passedPoints}/${be.totalPoints} pts`,\n  `- Review: ${review}`,\n];\n\nif (warningCount > 0) {\n  textLines.push('', `⚠️ Warnings (${warningCount})`, '', warningDetailText);\n} else {\n  textLines.push('', '✅ Warnings', 'Mọi thứ đang yên ổn, chưa thấy gì bốc khói.');\n}\n\nconst deliveryMessages = [];\nif (includeReplyDestination) {\n  deliveryMessages.push({\n    messageKey: 'replySummary',\n    type: 'text',\n    destinations: ['reply'],\n    payload: {\n      text: textLines.join('\\n'),\n    },\n  });\n}\n\nif (includePushGoogleChat) {\n  deliveryMessages.push({\n    messageKey: 'summaryCard',\n    type: 'googleChatCardV2',\n    destinations: ['pushGoogleChat'],\n    payload: summaryCardPayload,\n  });\n\n  if (warningCount > 0 && warningDetailText) {\n    deliveryMessages.push({\n      messageKey: 'warningDetails',\n      type: 'text',\n      destinations: ['pushGoogleChat'],\n      payload: {\n        text: warningDetailText,\n      },\n    });\n  }\n}\n\nreturn [\n  {\n    json: {\n      toolName: 'sprintHealthcheck',\n      resultText: textLines.join('\\n'),\n      deliveryPlan: {\n        thread: {\n          threadKey: `sprint-healthcheck-${Date.now()}-${Math.random().toString(36).slice(2, 8)}`\n        },\n        destinations,\n        messages: deliveryMessages,\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        80
      ],
      "id": "11",
      "name": "Build Healthcheck Result"
    },
    {
      "parameters": {
        "jsCode": "const toolInput = $('When Executed by Another Workflow').first().json || {};\nconst config = $('Config Main').first().json?.config || {};\nconst boardId = Number(config.boardId || 1041);\nconst failureReason = String($input.first()?.json?.failureReason || '').trim();\nconst text = failureReason || `Không tìm thấy active sprint cho board ${boardId}`;\nconst additionalDestinations = Array.isArray(toolInput.args?.additionalDestinations)\n  ? toolInput.args.additionalDestinations\n  : [];\n\nfunction normalizeDestinations(rawDestinations) {\n  if (!Array.isArray(rawDestinations)) return [];\n\n  const normalized = [];\n  const seen = new Set();\n  for (const rawDestination of rawDestinations) {\n    const type = typeof rawDestination === 'string'\n      ? rawDestination.trim()\n      : String(rawDestination?.type || '').trim();\n\n    if (!type || seen.has(type)) continue;\n    seen.add(type);\n    normalized.push({ type });\n  }\n\n  return normalized;\n}\n\nconst defaultDestinations = toolInput.triggerSource === 'schedule'\n  ? [{ type: 'pushGoogleChat' }]\n  : [{ type: 'reply' }];\nconst destinations = normalizeDestinations([\n  ...defaultDestinations,\n  ...additionalDestinations,\n]);\nconst destinationTypes = destinations.map((destination) => destination.type);\nconst includeReplyDestination = destinationTypes.includes('reply');\nconst includePushGoogleChat = destinationTypes.includes('pushGoogleChat');\n\nconst summaryCardPayload = {\n  cardsV2: [\n    {\n      cardId: 'sprint-healthcheck-empty',\n      card: {\n        sections: [\n          {\n            widgets: [\n              {\n                decoratedText: {\n                  text: '<b><font color=\"#fa541c\">🩺 Sprint Healthcheck</font></b>',\n                  wrapText: true,\n                },\n              },\n              {\n                decoratedText: {\n                  text,\n                  wrapText: true,\n                },\n              },\n            ],\n          },\n        ],\n      },\n    },\n  ],\n};\n\nconst messages = [];\nif (includeReplyDestination) {\n  messages.push({\n    messageKey: 'replySummary',\n    type: 'text',\n    destinations: ['reply'],\n    payload: { text },\n  });\n}\n\nif (includePushGoogleChat) {\n  messages.push({\n    messageKey: 'summaryCard',\n    type: 'googleChatCardV2',\n    destinations: ['pushGoogleChat'],\n    payload: summaryCardPayload,\n  });\n}\n\nreturn [\n  {\n    json: {\n      toolName: 'sprintHealthcheck',\n      resultText: text,\n      deliveryPlan: {\n        thread: {\n          threadKey: `sprint-healthcheck-${Date.now()}-${Math.random().toString(36).slice(2, 8)}`\n        },\n        destinations,\n        messages,\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        272
      ],
      "id": "12",
      "name": "Build No Active Sprint Result"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Config Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Main": {
      "main": [
        [
          {
            "node": "Get Active Sprint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Sprint": {
      "main": [
        [
          {
            "node": "Pick Active Sprint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Active Sprint": {
      "main": [
        [
          {
            "node": "If Active Sprint?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Active Sprint?": {
      "main": [
        [
          {
            "node": "Get Sprint Issues",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build No Active Sprint Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sprint Issues": {
      "main": [
        [
          {
            "node": "Get user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get user": {
      "main": [
        [
          {
            "node": "Prepare AI Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Input": {
      "main": [
        [
          {
            "node": "Write Sprint Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Sprint Review": {
      "main": [
        [
          {
            "node": "Build Healthcheck Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review Model": {
      "ai_languageModel": [
        [
          {
            "node": "Write Sprint Review",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
