workflows/ui-synced/MoMo/momo-ai-assistant-state-cleanup.workflow.json
{
  "name": "MoMo AI Assistant State Cleanup",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -736,
        144
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -736,
        304
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  operation: 'purgeAllState',\n  triggerSource: $json.triggerSource || 'scheduledCleanup',\n  executedAt: $now.setZone('Asia/Ho_Chi_Minh').toISO(),\n};"
      },
      "id": "3",
      "name": "Build Cleanup Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        224
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "buH9JMCFNDnD3ZWU",
          "mode": "list",
          "cachedResultUrl": "/workflow/buH9JMCFNDnD3ZWU",
          "cachedResultName": "MoMo AI Assistant State Store"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "={{ $json.operation || 'purgeAllState' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "pendingActionId",
              "displayName": "pendingActionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "pendingAction",
              "displayName": "pendingAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "toolRun",
              "displayName": "toolRun",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "4",
      "name": "Run State Cleanup",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -272,
        224
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const result = $input.first()?.json || {};\nreturn [{\n  json: {\n    status: result.status || 'success',\n    operation: 'purgeAllState',\n    message: result.message || 'State cleanup completed',\n    result,\n  },\n}];"
      },
      "id": "5",
      "name": "Build Cleanup Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        224
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Cleanup Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Build Cleanup Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cleanup Request": {
      "main": [
        [
          {
            "node": "Run State Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run State Cleanup": {
      "main": [
        [
          {
            "node": "Build Cleanup Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
