workflows/demo/test-ai-tools.workflow.json
{
  "name": "Test AI Tools",
  "nodes": [
    {
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1360,
        368
      ],
      "id": "2fa2c9ff-3353-4433-b3d6-3d43a7f37147",
      "name": "Structured Output Parser4",
      "disabled": false,
      "parameters": {
        "notice": "",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"angle\": \"string\",\n  \"target_audience\": \"string\",\n  \"primary_lens\": \"string\",\n  \"secondary_lens\": \"string\",\n  \"scene_count\": 10,\n  \"estimated_total_duration_sec\": 1020,\n  \"scenes\": [\n    {\n      \"order\": 1,\n      \"scene_role\": \"hook|core|outro\",\n      \"scene_goal\": \"string\",\n      \"key_points\": [\"string\"]\n    }\n  ]\n}",
        "autoFix": false
      }
    },
    {
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1600,
        272
      ],
      "id": "ee6ebe93-8244-47e0-b427-afca1579994d",
      "name": "OpenAI Chat Model2",
      "disabled": false,
      "parameters": {
        "notice": "",
        "model": {
          "__rl": true,
          "value": "cx/gpt-5.4",
          "mode": "list",
          "cachedResultName": "cx/gpt-5.4"
        },
        "responsesApiEnabled": true,
        "builtInTools": {},
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "nmpOof7gCtDCf1BD",
          "name": "Local OpenAI Proxy"
        }
      }
    },
    {
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1264,
        272
      ],
      "id": "d907a0eb-cb3a-4fe9-a8ba-fb175dd67f51",
      "name": "OpenAI Chat Model6",
      "disabled": false,
      "parameters": {
        "notice": "",
        "model": {
          "__rl": true,
          "value": "cx/gpt-5.4",
          "mode": "list",
          "cachedResultName": "cx/gpt-5.4"
        },
        "responsesApiEnabled": true,
        "builtInTools": {},
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "nmpOof7gCtDCf1BD",
          "name": "Local OpenAI Proxy"
        }
      }
    },
    {
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1040,
        272
      ],
      "id": "bc2908cf-3b61-4970-9a73-4682ad78a3b2",
      "name": "Structured Output Parser1",
      "disabled": false,
      "parameters": {
        "notice": "",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"book\": {\n    \"title\": \"string\",\n    \"author\": \"string\",\n    \"style_keywords\": [\"string\"]\n  },\n  \"video\": {\n    \"aspect_ratio\": \"16:9\",\n    \"target_duration_min_sec\": 900,\n    \"target_duration_max_sec\": 1200,\n    \"estimated_total_duration_sec\": 0\n  },\n  \"scenes\": [\n    {\n      \"scene_id\": \"scene_01\",\n      \"order\": 1,\n      \"scene_title\": \"string\",\n      \"scene_role\": \"hook|core|outro\",\n      \"narration_text\": \"string\",\n      \"image_prompt_en\": \"string\",\n      \"highlight_quote_vi\": \"string\",\n      \"estimated_duration_sec\": 0,\n      \"transition\": \"cut\"\n    }\n  ]\n}\n",
        "autoFix": false
      }
    },
    {
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -480,
        272
      ],
      "id": "5a6a36b4-43f3-477d-a79b-94948944ddee",
      "name": "Structured Output Parser2",
      "disabled": false,
      "parameters": {
        "notice": "",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"title\": \"string\",\n  \"caption\": \"string\",\n  \"thumbnail_text\": \"string\",\n  \"hashtags\": [\"#tag\"]\n}\n",
        "autoFix": false
      }
    },
    {
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -624,
        272
      ],
      "id": "8f870b54-204a-4a04-984a-6c170e7321c8",
      "name": "OpenAI Chat Model7",
      "disabled": false,
      "parameters": {
        "notice": "",
        "model": {
          "__rl": true,
          "value": "cx/gpt-5.4",
          "mode": "list",
          "cachedResultName": "cx/gpt-5.4"
        },
        "responsesApiEnabled": true,
        "builtInTools": {},
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "nmpOof7gCtDCf1BD",
          "name": "Local OpenAI Proxy"
        }
      }
    },
    {
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -752,
        272
      ],
      "id": "4713dbc5-a886-4118-a0c7-dee856155a45",
      "name": "Structured Output Parser3",
      "disabled": false,
      "parameters": {
        "notice": "",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"hook\": 0,\n  \"clarity\": 0,\n  \"originality\": 0,\n  \"practical\": 0,\n  \"risk\": \"low|med|high\",\n  \"feedback\": \"string\",\n  \"qc_issues\": [\"string\"]\n}\n",
        "autoFix": false
      }
    },
    {
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -912,
        272
      ],
      "id": "95669f75-82c0-42cd-a8a2-b5b5c5af1f45",
      "name": "OpenAI Chat Model8",
      "disabled": false,
      "parameters": {
        "notice": "",
        "model": {
          "__rl": true,
          "value": "cx/gpt-5.4",
          "mode": "list",
          "cachedResultName": "cx/gpt-5.4"
        },
        "responsesApiEnabled": true,
        "builtInTools": {},
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "nmpOof7gCtDCf1BD",
          "name": "Local OpenAI Proxy"
        }
      }
    },
    {
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1872,
        64
      ],
      "id": "93cd23a5-828a-4f55-a18b-41b9137dc057",
      "name": "Simple Memory",
      "disabled": false,
      "parameters": {
        "notice": "",
        "scalingNotice": "",
        "sessionIdType": "fromInput",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 10
      }
    },
    {
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        -1744,
        64
      ],
      "id": "f5146c09-c6a2-42b7-8ae5-f80f02b4d347",
      "name": "Send a text message in Telegram",
      "disabled": false,
      "parameters": {
        "descriptionType": "auto",
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.telegramChatId}}",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "replyMarkup": "none",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "webhookId": "d9eecb25-9e92-4c11-b112-7b4a72a12dab",
      "credentials": {
        "telegramApi": {
          "id": "UkrPHyACfAUpSkv8",
          "name": "Local Telegram Bot"
        }
      }
    },
    {
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -1616,
        64
      ],
      "id": "35fa0dec-0e2e-497e-80cf-99530e0613e3",
      "name": "Outline AI Agent Tool",
      "disabled": false,
      "parameters": {
        "toolDescription": "Dùng để tạo dàn ý review/cảm nhận sách.\nBẮT BUỘC sử dụng tool này để tạo dàn ý sâu sắc cho bất kỳ cuốn sách nào người dùng yêu cầu. KHÔNG ĐƯỢC tự ý tạo dàn ý bằng kiến thức cá nhân.\nInput: Tên sách và tác giả. Output: JSON dàn ý.\nTrước khi dùng, hãy gọi Send a text message in Telegram để báo: 'Đang lập dàn ý...'",
        "text": "={{ $json.masterPrompt }}\n\nPROMPT SCENE OUTLINE: THE CONTENT ARCHITECT (V4)\n\nROLE:\n- Bạn là kiến trúc sư xây dựng khung cảnh cho video review sách dài.\n\nTASK:\n- Thiết kế dàn ý cho video 16:9 với tổng thời lượng 15-20 phút.\n\nHARD CONSTRAINTS:\n- Output phải là 1 JSON object hợp lệ (RFC8259), không markdown, không code fence, không text ngoài JSON.\n- scene_count là số nguyên từ 8 đến 14. Nếu không chắc, dùng 10.\n- Cảnh đầu (order=1) bắt buộc scene_role=\"hook\".\n- Cảnh cuối bắt buộc scene_role=\"outro\".\n- Các cảnh cốt lõi phải dày dặn, không viết cảnh siêu nhỏ.\n- Chọn 1 góc nhìn phân tích chính và 1 góc nhìn hỗ trợ (không phân mảng quá nhiều).\n- Mục tiêu từng cảnh phải có ý nghĩa sâu sắc, không chỉ lặp lại nội dung chương sách.\n- Chọn rõ `primary_lens` và `secondary_lens`, không để trống.\n\nLANGUAGE:\n- Tiếng Việt cho các giá trị nội dung (key JSON giữ tiếng Anh theo schema).\n\nREQUIRED OUTPUT SCHEMA (EXACT KEYS):\n{\n  \"angle\": \"string\",\n  \"target_audience\": \"string\",\n  \"primary_lens\": \"string\",\n  \"secondary_lens\": \"string\",\n  \"scene_count\": 10,\n  \"estimated_total_duration_sec\": 1020,\n  \"scenes\": [\n    {\n      \"order\": 1,\n      \"scene_role\": \"hook|core|outro\",\n      \"scene_goal\": \"string\",\n      \"key_points\": [\"string\"]\n    }\n  ]\n}\n\n\n{{ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "options": {
          "systemMessage": ""
        }
      }
    },
    {
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        -1328,
        64
      ],
      "id": "0f0f1568-fef2-4430-81f2-629972bac6a8",
      "name": "Edit a text message in Telegram",
      "disabled": false,
      "parameters": {
        "descriptionType": "auto",
        "resource": "message",
        "operation": "editMessageText",
        "messageType": "message",
        "chatId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Chat_ID', ``, 'string') }}",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "replyMarkup": "inlineKeyboard",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "inlineKeyboard": {
          "rows": []
        },
        "additionalFields": {}
      },
      "webhookId": "34d4b044-76aa-40fa-9f91-9ea53b682098",
      "credentials": {
        "telegramApi": {
          "id": "UkrPHyACfAUpSkv8",
          "name": "Local Telegram Bot"
        }
      }
    },
    {
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -1200,
        64
      ],
      "id": "5b18b2ad-2dc6-43d2-b83c-9bb944e56718",
      "name": "Content AI Agent Tool",
      "disabled": false,
      "parameters": {
        "toolDescription": "Dùng để viết nội dung.\nBẮT BUỘC dùng tool này để viết nội dung chi tiết dựa trên dàn ý đã có.\nTrước khi dùng, hãy gọi Edit a text message in Telegram để báo: 'Đang viết nội dung...'",
        "text": "={{ $json.masterPrompt }}\nPROMPT SCENE EXPAND: THE SCRIPTWRITER (V4)\n\nROLE:\n- Bạn là người viết kịch bản kể chuyện cho video review sách dài.\n\nTASK:\n- Mở rộng dàn ý thành một review_manifest sẵn sàng sản xuất.\n\nHARD CONSTRAINTS:\n- Output phải là 1 JSON object hợp lệ (RFC8259), không markdown, không code fence, không text ngoài JSON.\n- Giữ đúng số lượng cảnh từ dàn ý.\n- Tổng narration_text: 15.000 - 20.000 ký tự tiếng Việt.\n- Hook/Outro: 45-75 giây mỗi cảnh.\n- Core scenes: 75-120 giây mỗi cảnh, tối thiểu 45 giây.\n- scene_01 là hook, scene cuối là outro.\n- image_prompt_en: viết bằng tiếng Anh và không để trống.\n- highlight_quote_vi: tùy chọn, không có thì để chuỗi rỗng.\n- transition mặc định \"cut\".\n\nANTI-RIGID CONSTRAINTS:\n- Tuyệt đối không dùng các mẫu câu lặp đi lặp lại giữa các cảnh.\n- Không biến narration thành danh sách liệt kê tóm tắt.\n- Giữ sự cân bằng giữa chiều sâu cảm xúc và tính ứng dụng thực tế.\n\nREQUIRED OUTPUT SCHEMA (EXACT KEYS):\n{\n  \"book\": {\n    \"title\": \"string\",\n    \"author\": \"string\",\n    \"style_keywords\": [\"string\"]\n  },\n  \"video\": {\n    \"aspect_ratio\": \"16:9\",\n    \"target_duration_min_sec\": 900,\n    \"target_duration_max_sec\": 1200,\n    \"estimated_total_duration_sec\": 0\n  },\n  \"scenes\": [\n    {\n      \"scene_id\": \"scene_01\",\n      \"order\": 1,\n      \"scene_title\": \"string\",\n      \"scene_role\": \"hook|core|outro\",\n      \"narration_text\": \"string\",\n      \"image_prompt_en\": \"string\",\n      \"highlight_quote_vi\": \"string\",\n      \"estimated_duration_sec\": 0,\n      \"transition\": \"cut\"\n    }\n  ]\n}\n\n{{ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "options": {}
      }
    },
    {
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -912,
        64
      ],
      "id": "da2dc036-bae7-4ddd-bb35-f38042d95d5a",
      "name": "QC AI Agent Tool1",
      "disabled": false,
      "parameters": {
        "toolDescription": "Sau khi có nội dung, BẮT BUỘC gọi tool này để kiểm định chất lượng trước khi thực hiện bước tiếp theo.\nTrước khi dùng, hãy gọi Send a text message in Telegram để báo: 'Đang đánh giá nội dung...'",
        "text": "={{ $json.masterPrompt }}\nPROMPT QC: THE CRITICAL SOUL EDITOR (V4)\n\nROLE:\n- Bạn là một biên tập viên QC gắt gao cho các nội dung kể chuyện review sách dài.\n\nMISSION:\n- Đánh giá chất lượng khách quan và độ khớp với phong cách Soulful Narrator.\n\nEVALUATION LAYERS:\n1) Objective layer:\n- Sức mạnh của Hook.\n- Sự mạch lạc của dòng tự sự.\n- Độ nguyên bản (Originality).\n- Tính ứng dụng của Bridge vào thực tế đời sống.\n\n2) Style-fit layer:\n- Sự nhất quán của giọng kể.\n- Mạch trôi tự nhiên (tránh meta labeling).\n- Chiều sâu cảm xúc và các ẩn dụ đời thường.\n\nSCORING & FEEDBACK:\n- Thang điểm từ 0 đến 10 cho: Hook, Clarity, Originality, Practical.\n- Trừ điểm nặng nếu dính meta-label lặp đi lặp lại hoặc hô hào giáo điều.\n- Feedback phải thẳng thắn, ưu tiên các lỗi cần sửa ngay, nhưng giữ cho sự sáng tạo của người kể chuyện còn sống.\n\nHARD CONSTRAINTS:\n- Output phải là 1 JSON object hợp lệ (RFC8259), không markdown, không code fence, không text ngoài JSON.\n\nREQUIRED OUTPUT SCHEMA (EXACT KEYS):\n{\n  \"hook\": 0,\n  \"clarity\": 0,\n  \"originality\": 0,\n  \"practical\": 0,\n  \"risk\": \"low|med|high\",\n  \"feedback\": \"string\",\n  \"qc_issues\": [\"string\"]\n}\n\n{{ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "options": {}
      }
    },
    {
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -624,
        64
      ],
      "id": "c98c0d6a-e91b-43aa-a318-fa5adbb47df6",
      "name": "Metadata AI Agent Tool",
      "disabled": false,
      "parameters": {
        "toolDescription": "AI Agent cho mục đích tạo metadata dựa trên nội dung\nTrước khi dùng, hãy gọi Send a text message in Telegram để báo: 'Đang tạo metadata...'",
        "text": "={{ $json.masterPrompt }}\nPROMPT METADATA: THE ATTENTION ARCHITECT (V4)\n\nROLE:\n- Bạn là một Chuyên gia Chiến lược Nội dung chuyên về tâm lý học hành vi cho các kênh như Better Version hay Web5ngay.\n\nMỤC TIÊU:\n- Biến \"linh hồn\" bản thảo thành Metadata có sức hút mãnh liệt, đánh vào sự tò mò trí tuệ và nỗi đau thực tế của khán giả.\n\nVOICE & STYLE:\n- Kế thừa giọng văn từ STYLE KERNEL: THE SOULFUL NARRATOR & CULTURAL ANALYST (V4).\n- Ngôn từ sắc sảo, triết lý, không giật tít rẻ tiền.\n\nHARD CONSTRAINTS:\n- Output phải là 1 JSON object hợp lệ (RFC8259), không markdown, không code fence, không text ngoài JSON.\n- Language: Vietnamese.\n- Caption dưới 150 chữ.\n- Hashtags: 5-7 tag, viết thường, không dấu.\n\nREQUIRED OUTPUT SCHEMA (EXACT KEYS):\n{\n  \"title\": \"string\",\n  \"caption\": \"string\",\n  \"thumbnail_text\": \"string\",\n  \"hashtags\": [\"#tag\"]\n}\n\nQUALITY RULES:\n1. Title:\n   - Phải chứa một \"Mâu thuẫn\" (Tension) hoặc một \"Câu hỏi tử huyệt\" chạm đến nỗi đau/khao khát của con người hiện đại.\n   - TRÁNH: \"Review sách: [Tên sách]\".\n   - NÊN: \"Tại sao bạn vẫn mãi thất bại dù đã cố gắng?\".\n\n2. Caption:\n   - Dưới 150 chữ, tiếng Việt.\n   - Cấu trúc: 1 Câu hỏi khơi gợi nỗi đau (Emotional Hook) + 1 Giá trị cốt lõi từ sách + 1 Lời hứa về sự thay đổi (Practical Takeaway).\n   - Văn phong: Tâm tình như bạn thân.\n\n3. Thumbnail Text:\n   - Cực ngắn (dưới 6 từ), clear và curiosity-driven.\n   - Phải là một lời cảnh báo hoặc một lời mời gọi mang tính quyết định, không lặp lại Title.\n\n4. Hashtags:\n   - 5-7 tags, viết thường, không dấu.\n   - Bao gồm tên sách, tên tác giả, ngách nội dung (self-help, triết lý).\n\n{{ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "hasOutputParser": true,
        "notice": "",
        "needsFallback": false,
        "options": {
          "systemMessage": ""
        }
      }
    },
    {
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -2000,
        64
      ],
      "id": "a94d6ef6-a187-4ae8-8ecc-7856299ac9b4",
      "name": "OpenAI Chat Model1",
      "disabled": false,
      "parameters": {
        "notice": "",
        "model": {
          "__rl": true,
          "value": "cx/gpt-5.4",
          "mode": "list",
          "cachedResultName": "cx/gpt-5.4"
        },
        "responsesApiEnabled": true,
        "builtInTools": {},
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "nmpOof7gCtDCf1BD",
          "name": "Local OpenAI Proxy"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "fe08b955-42dd-4719-8619-d9ffe65dc9a7",
              "name": "masterPrompt",
              "value": "ROLE: Bạn là một \"Vị Triết Gia Đời Thường\" (The Everyday Philosopher). Bạn không review sách; bạn dùng sách để giải mã những \"Sự thật ngầm hiểu\" về nỗi đau, khao khát và sự hèn nhát của con người hiện đại.   VOICE & STYLE: - Ngôn ngữ: Tiếng Việt đời thường, giàu hình ảnh, có nhịp điệu (Pacing).  - Thái độ: Thủ thỉ như tâm tình nhưng đanh thép khi cần \"tát tỉnh\" người nghe.  - Tuyệt đối cấm: Các từ AI cửa miệng như \"Tóm lại\", \"Nhìn chung\", \"Trong bối cảnh hiện nay\", \"Chúng ta cần phải\".  HÀNH VI CHIẾN THUẬT: 1. THE PSYCHOLOGICAL BRIDGE (Cầu nối tâm lý): Không chỉ đưa ví dụ đời thực, mà phải giải mã cơ chế tâm lý đằng sau hành động của nhân vật. (Ví dụ: Santiago sợ mất đàn cừu không phải vì tiền, mà vì não bộ đang bảo vệ sự an toàn giả tạo để từ chối sự trưởng thành đau đớn). 2. TỔNG HÒA 3 TẦNG: Mọi phân tích phải đi từ Cảm giác cơ thể (Sinh lý) -> Sự tự lừa dối trong suy nghĩ (Nhận thức) -> Sự trì trệ hoặc bứt phá (Hành vi). 3. TRÁNH CẤU TRÚC \"META\": Mạch kịch bản phải là một dòng chảy (Flow). Dùng những câu nối cảm xúc để chuyển cảnh thay vì tiêu đề cứng nhắc. 4. ẨN DỤ XUYÊN SUỐT: Chọn 1 hình ảnh ẩn dụ xuyên suốt kịch bản để làm \"mỏ neo\" cảm xúc cho người nghe.  LOGIC THEO THỂ LOẠI (ADAPTIVE LENS): - Self-help/Tâm lý: Phân tích theo 3 tầng (Sinh lý - Nhận thức - Hành vi). Không hô hào \"hãy tích cực\"; giải thích gốc rễ tiêu cực. - Tiểu thuyết/Ngụ ngôn: Xem hành trình nhân vật như hành trình tinh thần của người nghe. Biến bối cảnh thành biểu tượng tâm lý. - Triết học/Khoa học: Dịch ý niệm khô thành câu hỏi nhân sinh và lựa chọn thực tế.",
              "type": "string"
            },
            {
              "id": "7c7003f4-ae62-4abe-8629-0f57dfbb9d19",
              "name": "telegramChatId",
              "value": "=6920403077",
              "type": "string"
            },
            {
              "id": "5640634f-aa04-4b9b-9f1a-6705558a3d72",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "f17cdce5-1343-4c2c-a2d6-ef10cf68da88",
              "name": "gdriveRootFolderId",
              "value": "1ykMeq3i9svSq97_gtA8duJyZvBg_8Fe5",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "all",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2224,
        48
      ],
      "id": "d861d198-8f4b-4839-a8fd-ffb1332da67b",
      "name": "Config Main1",
      "disabled": false
    },
    {
      "parameters": {
        "aiAgentStarterCallout": "",
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "options": {
          "systemMessage": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1504,
        -160
      ],
      "id": "10547bfd-7b2d-438e-916d-c0f122c102b1",
      "name": "Book Review",
      "retryOnFail": true
    },
    {
      "id": "d3d42124-4ad9-4917-90bd-3d6db9ef0a14",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1712,
        -160
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    }
  ],
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Book Review",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message in Telegram": {
      "ai_tool": [
        [
          {
            "node": "Book Review",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Outline AI Agent Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Outline AI Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Book Review",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit a text message in Telegram": {
      "ai_tool": [
        [
          {
            "node": "Book Review",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Content AI Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Book Review",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Content AI Agent Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "QC AI Agent Tool1": {
      "ai_tool": [
        [
          {
            "node": "Book Review",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Metadata AI Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Book Review",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Metadata AI Agent Tool",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Metadata AI Agent Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "QC AI Agent Tool1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Book Review",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Config Main1": {
      "main": [
        [
          {
            "node": "Book Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Book Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
