workflows/openai-cliproxy-demo.workflow.json
{
  "name": "Demo OpenAI via CLIProxyAPI",
  "nodes": [
    {
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -520,
        0
      ],
      "parameters": {}
    },
    {
      "id": "2",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -300,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2-1",
              "name": "prompt",
              "value": "Explain in one short sentence how OpenAI works via CLIProxyAPI.",
              "type": "string"
            },
            {
              "id": "2-2",
              "name": "model",
              "value": "gpt-5.4",
              "type": "string"
            },
            {
              "id": "2-3",
              "name": "cliproxy_base_url",
              "value": "__CLIPROXY_BASE_URL__",
              "type": "string"
            },
            {
              "id": "2-4",
              "name": "cliproxy_client_key",
              "value": "__CLIPROXY_CLIENT_KEY__",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "3",
      "name": "Call OpenAI via CLIProxyAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -40,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.cliproxy_base_url + '/v1/chat/completions' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.cliproxy_client_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $json.model, messages: [{ role: 'user', content: $json.prompt }], stream: false } }}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "4",
      "name": "Extract Answer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "jsCode": "const errorPayload = $json?.error;\nconst hasError = errorPayload !== undefined && errorPayload !== null;\nconst errorMessage = hasError\n  ? String(errorPayload?.message ?? errorPayload)\n  : '';\nconst content = hasError\n  ? ''\n  : String($json?.choices?.[0]?.message?.content ?? '').trim();\nconst status = hasError ? 'failed' : 'success';\nconst summary = hasError\n  ? `API call failed: ${errorMessage || 'Unknown error'}`\n  : (content || 'API call succeeded with empty reply.');\n\nreturn [{\n  json: {\n    status,\n    model: $json?.model ?? null,\n    reply: content,\n    error: errorMessage || null,\n    summary,\n    raw: $json\n  }\n}];"
      }
    },
    {
      "id": "5",
      "name": "Set Notify Targets",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5-1",
              "name": "notify_targets",
              "value": "telegram",
              "type": "string"
            },
            {
              "id": "5-2",
              "name": "telegram_chat_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "5-3",
              "name": "ggchat_webhook_url",
              "value": "",
              "type": "string"
            },
            {
              "id": "5-4",
              "name": "telegram_bot_token",
              "value": "",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "6",
      "name": "Build Notify Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        0
      ],
      "parameters": {
        "jsCode": "const data = $json ?? {};\nconst status = String(data.status ?? 'unknown');\nconst details = [\n  data.model ? `model=${data.model}` : null,\n  data.error ? `error=${data.error}` : null,\n  data.reply ? `reply=${String(data.reply).slice(0, 220)}` : null\n].filter(Boolean).join(' | ');\n\nreturn [{\n  json: {\n    status,\n    source_workflow: 'Demo OpenAI via CLIProxyAPI',\n    summary: String(data.summary ?? 'Workflow execution finished.'),\n    details,\n    notify_targets: String(data.notify_targets ?? 'telegram'),\n    telegram_bot_token: String(data.telegram_bot_token ?? '').trim(),\n    telegram_chat_id: String(data.telegram_chat_id ?? '').trim(),\n    ggchat_webhook_url: String(data.ggchat_webhook_url ?? '').trim(),\n    timestamp: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "7",
      "name": "Notify via Shared Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1000,
        0
      ],
      "parameters": {
        "source": "localFile",
        "workflowPath": "__SHARED_NOTIFICATION_ROUTER_PATH__",
        "mode": "once",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Call OpenAI via CLIProxyAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI via CLIProxyAPI": {
      "main": [
        [
          {
            "node": "Extract Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Answer": {
      "main": [
        [
          {
            "node": "Set Notify Targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Notify Targets": {
      "main": [
        [
          {
            "node": "Build Notify Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notify Payload": {
      "main": [
        [
          {
            "node": "Notify via Shared Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
