workflows/sprint-monitor/sprint-monitor-engine.workflow.json
{
  "name": "Sprint Monitor Engine",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "requestedRunType"
            },
            {
              "name": "workflowName"
            },
            {
              "name": "triggerSource"
            },
            {
              "name": "monitorConfig",
              "type": "object"
            },
            {
              "name": "forceMode"
            }
          ]
        }
      },
      "id": "1",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2352,
        352
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json || {};\n\nfunction asObject(value) {\n  return value && typeof value === 'object' && !Array.isArray(value) ? value : {};\n}\n\nfunction asText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction asNumber(value, fallback = 0) {\n  const parsed = Number(value);\n  return Number.isFinite(parsed) ? parsed : fallback;\n}\n\nfunction asBoolean(value, fallback = false) {\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'string') {\n    const normalized = value.trim().toLowerCase();\n    if (normalized === 'true') return true;\n    if (normalized === 'false') return false;\n  }\n  return fallback;\n}\n\nfunction asMessageLanguage(value) {\n  const normalized = asText(value, 'en').toLowerCase();\n  return normalized === 'vi' ? 'vi' : 'en';\n}\n\nfunction asArray(value) {\n  if (Array.isArray(value)) return value;\n  if (typeof value === 'string') {\n    const trimmed = value.trim();\n    if (!trimmed) return [];\n    try {\n      const parsed = JSON.parse(trimmed);\n      return Array.isArray(parsed) ? parsed : [];\n    } catch (error) {\n      return trimmed.split(',').map((item) => item.trim()).filter(Boolean);\n    }\n  }\n  return [];\n}\n\nconst rawConfig = asObject(input.monitorConfig);\nconst requestedRunType = asText(input.requestedRunType || input.runType, 'scan').toLowerCase();\nconst runType = requestedRunType === 'review' ? 'review' : 'scan';\nconst requestedForceMode = asText(input.forceMode, 'auto').toLowerCase();\nconst forceMode = ['scan', 'review'].includes(requestedForceMode) ? requestedForceMode : 'auto';\nconst workflowName = asText(input.workflowName, 'Sprint Monitor Engine');\nconst triggerSource = asText(input.triggerSource, 'manual');\nconst timezone = asText(rawConfig.timezone, 'Asia/Ho_Chi_Minh');\nconst messageLanguage = asMessageLanguage(rawConfig.message_language);\nconst generatedAt = $now.setZone(timezone).toISO();\nconst runId = globalThis.crypto?.randomUUID\n  ? globalThis.crypto.randomUUID()\n  : 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, (char) => {\n      const randomNibble = Math.floor(Math.random() * 16);\n      const nibble = char === 'x' ? randomNibble : ((randomNibble & 0x03) | 0x08);\n      return nibble.toString(16);\n    });\n\nconst monitorConfig = {\n  id: asText(rawConfig.id),\n  teamId: asText(rawConfig.team_id),\n  boardId: asText(rawConfig.board_id),\n  jiraBaseUrl: asText(rawConfig.jira_base_url).replace(/\\/+$/, ''),\n  jiraProjectKey: asText(rawConfig.jira_project_key),\n  jiraJql: asText(rawConfig.jira_jql),\n  gitlabBaseUrl: asText(rawConfig.gitlab_base_url).replace(/\\/+$/, ''),\n  gitlabProjectIds: asArray(rawConfig.gitlab_project_ids).map((item) => asText(item)).filter(Boolean),\n  gchatUnifiedWebhook: asText(rawConfig.gchat_unified_webhook),\n  messageLanguage,\n  timezone,\n  maxCandidateTasks: Math.max(5, asNumber(rawConfig.max_candidate_tasks, 20)),\n  maxClusters: Math.max(1, asNumber(rawConfig.max_clusters, 5)),\n  maxActivityExcerpts: Math.max(5, asNumber(rawConfig.max_activity_excerpts, 30)),\n  suppressionDigestHours: Math.max(1, asNumber(rawConfig.suppression_digest_hours, 24)),\n  confidenceThresholdDigest: asNumber(rawConfig.confidence_threshold_digest, 0.7),\n};\n\nif (!Object.keys(rawConfig).length) {\n  throw new Error('monitorConfig object is required');\n}\nif (!monitorConfig.teamId) {\n  throw new Error('monitorConfig.teamId is required');\n}\nif (!monitorConfig.boardId) {\n  throw new Error('monitorConfig.boardId is required');\n}\nif (!monitorConfig.jiraBaseUrl) {\n  throw new Error('monitorConfig.jiraBaseUrl is required');\n}\n\nconst classifierSystemPrompt = [\n  'Classify each activity excerpt by what it means for delivery, not by surface wording.',\n  'Do not over-infer.',\n  'Use only these labels:',\n  '- real_progress',\n  '- review_pending',\n  '- waiting_external',\n  '- waiting_internal',\n  '- qa_pending',\n  '- scope_change',\n  '- status_noise',\n  '- soft_commitment',\n  '- risk_signal',\n  '- resolved_signal',\n  'Return one label per item with confidence and a short reason.',\n].join('\\n');\n\nconst judgeSystemPrompt = [\n  'You are an experienced PM sprint monitoring assistant.',\n  'Your job is not to summarize everything. Your job is to decide whether intervention is needed, where risk is accumulating, and what action would actually help.',\n  'Avoid generic reminders.',\n  'Prefer silence if there is no meaningful intervention.',\n  'Use structured signals as facts and activity excerpts as context.',\n  'Distinguish between:',\n  '1. likely_on_track',\n  '2. at_risk_but_recoverable',\n  '3. likely_spillover',\n  '4. needs_intervention_now',\n  'Prefer cluster-level insight over task spam.',\n  'State confidence.',\n  'Do not infer facts that are not supported by structured signals or excerpts.',\n  'If completion appears low but stage distribution suggests work is moving normally, do not overreact.',\n].join('\\n');\n\nreturn {\n  runId,\n  requestedRunType,\n  runType,\n  forceMode,\n  workflowName,\n  triggerSource,\n  generatedAt,\n  monitorConfig,\n  classifierSystemPrompt,\n  judgeSystemPrompt,\n  aiModels: {\n    classifier: 'cx/gpt-5.4',\n    judge: 'cx/gpt-5.4',\n  },\n  issueKeyPatterns: {\n    task: 'task:<task_id>:<risk_type>',\n    cluster: 'cluster:<cluster_type>:<subject_id>',\n    sprint: 'sprint:<sprint_id>:goal_risk',\n  },\n  runSummarySeed: {\n    workflowName,\n    requestedRunType,\n    runType,\n    forceMode,\n    triggerSource,\n    generatedAt,\n    teamId: monitorConfig.teamId,\n    boardId: monitorConfig.boardId,\n  },\n};"
      },
      "id": "2",
      "name": "Normalize Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2128,
        352
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.monitorConfig.jiraBaseUrl + \"/rest/agile/1.0/board/\" + encodeURIComponent(String($json.monitorConfig.boardId)) + \"/sprint\" }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareServerPatApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={{ JSON.stringify({ state: \"active\", maxResults: 50 }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "3",
      "name": "Get Active Sprint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1904,
        352
      ],
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "3TLwUpSgsJhbG45A",
          "name": "Jira MoMo account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json || {};\nconst request = $('Normalize Request').first().json || {};\nconst monitorConfig = request.monitorConfig || {};\nconst statusCode = Number(input.statusCode || 200);\n\nfunction asText(value) {\n  return String(value ?? '').trim();\n}\n\nconst transportError = asText(input.error?.message || input.error?.description || input.message);\nif (transportError && !input.body) {\n  return {\n    hasActiveSprint: false,\n    failureReason: 'Failed to reach Jira: ' + transportError,\n  };\n}\n\nif (statusCode >= 400) {\n  const bodyMessage = asText(input.body?.errorMessages?.[0] || input.body?.message);\n  return {\n    hasActiveSprint: false,\n    failureReason: bodyMessage\n      ? 'Jira active sprint lookup failed (HTTP ' + statusCode + '): ' + bodyMessage\n      : 'Jira active sprint lookup failed (HTTP ' + statusCode + ')',\n  };\n}\n\nconst body = input.body && typeof input.body === 'object' ? input.body : input;\nconst values = Array.isArray(body.values) ? body.values : [];\nconst activeSprint = values\n  .filter((item) => asText(item?.state).toLowerCase() === 'active')\n  .sort((a, b) => new Date(b?.startDate || 0).getTime() - new Date(a?.startDate || 0).getTime())[0] || null;\n\nif (!activeSprint) {\n  return {\n    hasActiveSprint: false,\n    failureReason: 'No active sprint found for board ' + asText(monitorConfig.boardId),\n  };\n}\n\nreturn {\n  hasActiveSprint: true,\n  sprint: {\n    id: asText(activeSprint.id),\n    sprint_id: asText(activeSprint.id),\n    board_id: asText(monitorConfig.boardId),\n    sprint_name: asText(activeSprint.name),\n    sprint_goal: asText(activeSprint.goal || ''),\n    start_at: asText(activeSprint.startDate),\n    end_at: asText(activeSprint.endDate),\n    timezone: asText(monitorConfig.timezone),\n  },\n};"
      },
      "id": "4",
      "name": "Pick Active Sprint",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-active-sprint",
              "leftValue": "={{ $json.hasActiveSprint }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5",
      "name": "If Active Sprint?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1456,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const request = $('Normalize Request').first().json || {};\nconst activeSprint = $('Pick Active Sprint').first().json || {};\n\nreturn [{\n  json: {\n    runId: request.runId,\n    status: 'suppressed',\n    noMessage: true,\n    failureReason: activeSprint.failureReason || 'No active sprint',\n    summaryJson: {\n      workflowName: request.workflowName,\n      runType: request.runType,\n      triggerSource: request.triggerSource,\n      reason: activeSprint.failureReason || 'No active sprint',\n    },\n  },\n}];"
      },
      "id": "6",
      "name": "Build No Active Sprint Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        544
      ]
    },
    {
      "parameters": {
        "jsCode": "const request = $('Normalize Request').first().json || {};\nconst noSprint = $('Build No Active Sprint Summary').first().json || {};\nconst selectedMode = asText(request.runType, 'scan');\n\nfunction asText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction sqlText(value) {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  return \"'\" + String(value).replace(/'/g, \"''\") + \"'\";\n}\n\nfunction sqlJson(value) {\n  return \"'\" + JSON.stringify(value ?? {}).replace(/'/g, \"''\") + \"'::jsonb\";\n}\n\nreturn [{\n  json: {\n    persistQuery: [\n      'INSERT INTO runs (id, team_id, board_id, workflow_name, run_type, status, no_message, partial_data, issue_count_detected, issue_count_delivered, started_at, finished_at, duration_ms, summary_json, error_json)',\n      'VALUES (',\n      sqlText(request.runId) + ',',\n      sqlText(request.monitorConfig?.teamId) + ',',\n      sqlText(request.monitorConfig?.boardId) + ',',\n      sqlText(request.workflowName) + ',',\n      sqlText(selectedMode) + ',',\n      sqlText('suppressed') + ',',\n      'true,',\n      'false,',\n      '0,',\n      '0,',\n      sqlText(request.generatedAt) + ',',\n      sqlText(new Date().toISOString()) + ',',\n      '0,',\n      sqlJson(noSprint.summaryJson || {}) + ',',\n      sqlJson({ failureReason: noSprint.failureReason || '' }),\n      ');',\n    ].join(' '),\n  },\n}];"
      },
      "id": "7",
      "name": "Build No Active Sprint Persist Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        544
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.persistQuery }}",
        "options": {
          "queryBatching": "single"
        }
      },
      "id": "8",
      "name": "Persist No Active Sprint",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -784,
        544
      ],
      "credentials": {
        "postgres": {
          "id": "hNw1lfcclrZjlInz",
          "name": "Sprint Monitor Postgres"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const summary = $('Build No Active Sprint Summary').first().json || {};\nreturn [{ json: {\n  runId: summary.runId,\n  status: summary.status,\n  noMessage: summary.noMessage,\n  summaryJson: summary.summaryJson || {},\n  deliverySummary: { requestedCount: 0, deliveryStatus: 'skipped', successCount: 0, failureCount: 0 },\n  persistSummary: { issueUpserts: 0, deliveryRows: 0 },\n} }];"
      },
      "id": "9",
      "name": "Build No Active Sprint Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        544
      ]
    },
    {
      "parameters": {
        "url": "={{ $(\"Normalize Request\").first().json.monitorConfig.jiraBaseUrl + \"/rest/agile/1.0/sprint/\" + encodeURIComponent(String($(\"Pick Active Sprint\").first().json.sprint?.id || \"\")) + \"/issue\" }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareServerPatApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={{ JSON.stringify({ startAt: 0, maxResults: 500, fields: \"*all\", expand: \"changelog\" }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "10",
      "name": "Get Sprint Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1232,
        256
      ],
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "3TLwUpSgsJhbG45A",
          "name": "Jira MoMo account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const request = $('Normalize Request').first().json || {};\nconst sprint = $('Pick Active Sprint').first().json?.sprint || {};\nconst monitorConfig = request.monitorConfig || {};\nconst projectIds = Array.isArray(monitorConfig.gitlabProjectIds) ? monitorConfig.gitlabProjectIds : [];\n\nif (projectIds.length === 0 || !monitorConfig.gitlabBaseUrl) {\n  return [{\n    json: {\n      skipGitLab: true,\n      gitlabBaseUrl: monitorConfig.gitlabBaseUrl || '',\n      sprint,\n      body: {\n        projectId: '',\n        merge_requests: [],\n      },\n    },\n  }];\n}\n\nreturn projectIds.map((projectId) => ({\n  json: {\n    skipGitLab: false,\n    projectId: String(projectId),\n    gitlabBaseUrl: monitorConfig.gitlabBaseUrl,\n    sprint,\n    requestUrl: monitorConfig.gitlabBaseUrl + '/api/v4/projects/' + encodeURIComponent(String(projectId)) + '/merge_requests',\n  },\n}));"
      },
      "id": "11",
      "name": "Build GitLab Project Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "should-fetch-gitlab",
              "leftValue": "={{ !$json.skipGitLab }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "12",
      "name": "If Should Fetch GitLab?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -784,
        256
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.requestUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gitlabApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={{ JSON.stringify({ state: \"all\", scope: \"all\", per_page: 100, order_by: \"updated_at\", sort: \"desc\" }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "13",
      "name": "Get GitLab Merge Requests",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -560,
        160
      ],
      "credentials": {
        "gitlabApi": {
          "id": "SZQMVSelapIWsPmd",
          "name": "GitLab MoMo Mini App account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    statusCode: 200,\n    body: {\n      projectId: '',\n      merge_requests: [],\n    },\n  },\n}];"
      },
      "id": "14",
      "name": "Build Empty GitLab Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const request = $('Normalize Request').first().json || {};\nconst items = $input.all().map((item) => item?.json || {});\n\nfunction asText(value) {\n  return String(value ?? '').trim();\n}\n\nfunction extractIssueKeys(text) {\n  return Array.from(new Set(\n    asText(text)\n      .match(/[A-Z][A-Z0-9]+-\\d+/g) || [],\n  ));\n}\n\nconst mergeRequests = [];\nconst unmatched = [];\n\nfor (const item of items) {\n  const body = item.body && typeof item.body === 'object' ? item.body : {};\n  const bodyMergeRequests = Array.isArray(body.merge_requests)\n    ? body.merge_requests\n    : (Array.isArray(body) ? body : []);\n\n  for (const mergeRequest of bodyMergeRequests) {\n    const issueKeys = Array.from(new Set([\n      ...extractIssueKeys(mergeRequest.title),\n      ...extractIssueKeys(mergeRequest.description),\n      ...extractIssueKeys(mergeRequest.source_branch),\n      ...extractIssueKeys(mergeRequest.target_branch),\n      ...extractIssueKeys(mergeRequest.merge_commit_sha),\n    ]));\n\n    const signal = {\n      issueKeys,\n      issueKey: issueKeys[0] || '',\n      deliverySignalConfidence: issueKeys.length > 0 ? 'high' : 'low',\n      projectId: asText(item.projectId || body.projectId),\n      mergeRequestId: asText(mergeRequest.iid || mergeRequest.id),\n      title: asText(mergeRequest.title),\n      mr_state: asText(mergeRequest.state || mergeRequest.merge_status),\n      mr_opened_at: asText(mergeRequest.created_at),\n      review_requested_at: asText(mergeRequest.updated_at),\n      approval_count: Number(Array.isArray(mergeRequest.approved_by) ? mergeRequest.approved_by.length : 0),\n      changes_requested_count: Number(Array.isArray(mergeRequest.reviewers) ? mergeRequest.reviewers.filter((reviewer) => reviewer?.state === 'changes_requested').length : 0),\n      latest_pipeline_state: asText(mergeRequest.head_pipeline?.status),\n      latest_pipeline_at: asText(mergeRequest.head_pipeline?.updated_at || mergeRequest.head_pipeline?.created_at),\n      latest_commit_at: asText(mergeRequest.updated_at),\n      web_url: asText(mergeRequest.web_url),\n      author: asText(mergeRequest.author?.name),\n    };\n\n    mergeRequests.push(signal);\n    if (signal.issueKeys.length === 0) unmatched.push(signal);\n  }\n}\n\nconst byIssueKey = {};\nfor (const signal of mergeRequests) {\n  for (const issueKey of signal.issueKeys) {\n    if (!byIssueKey[issueKey]) byIssueKey[issueKey] = [];\n    byIssueKey[issueKey].push(signal);\n  }\n}\n\nreturn [{\n  json: {\n    gitlabSignals: mergeRequests,\n    gitlabSignalsByIssueKey: byIssueKey,\n    gitlabSummary: {\n      totalMergeRequests: mergeRequests.length,\n      matchedIssueKeys: Object.keys(byIssueKey).length,\n      unmatchedMergeRequests: unmatched.length,\n      partialData: items.some((item) => Number(item.statusCode || 200) >= 400),\n    },\n  },\n}];"
      },
      "id": "15",
      "name": "Aggregate GitLab Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const request = $('Normalize Request').first().json || {};\nconst sprintInput = $('Pick Active Sprint').first().json || {};\nconst sprintIssuesResponse = $('Get Sprint Issues').first().json || {};\nconst gitlab = $('Aggregate GitLab Signals').first().json || {};\n\nconst monitorConfig = request.monitorConfig || {};\nconst sprint = sprintInput.sprint || {};\nconst statusCode = Number(sprintIssuesResponse.statusCode || 200);\nconst transportError = String(sprintIssuesResponse.error?.message || sprintIssuesResponse.message || '').trim();\n\nfunction asText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction asNumber(value, fallback = 0) {\n  const parsed = Number(value);\n  return Number.isFinite(parsed) ? parsed : fallback;\n}\n\nfunction asArray(value) {\n  return Array.isArray(value) ? value : [];\n}\n\nfunction parseDate(value) {\n  if (!value) return null;\n  const date = new Date(value);\n  return Number.isNaN(date.getTime()) ? null : date;\n}\n\nfunction businessDaysBetween(startValue, endValue) {\n  const startDate = parseDate(startValue);\n  const endDate = parseDate(endValue);\n  if (!startDate || !endDate || endDate <= startDate) return 0;\n  let count = 0;\n  const cursor = new Date(startDate);\n  cursor.setHours(0, 0, 0, 0);\n  while (cursor < endDate) {\n    cursor.setDate(cursor.getDate() + 1);\n    const day = cursor.getDay();\n    if (day !== 0 && day !== 6 && cursor <= endDate) count += 1;\n  }\n  return count;\n}\n\nfunction normalizeStatus(rawStatus) {\n  const status = asText(rawStatus);\n  const map = {\n    open: 'Open',\n    'in progress': 'In Progress',\n    'ready for review': 'Ready For Review',\n    'in review': 'In Review',\n    'ready for test': 'Ready For Test',\n    'in test': 'In Test',\n    'ready for release': 'Ready For Release',\n    close: 'Close',\n    closed: 'Close',\n    done: 'Close',\n  };\n  return map[status.toLowerCase()] || status;\n}\n\nfunction normalizeUser(user) {\n  if (!user || typeof user !== 'object') {\n    return {\n      id: '',\n      name: '',\n      email: '',\n    };\n  }\n  return {\n    id: asText(user.accountId || user.id || user.key),\n    name: asText(user.displayName || user.name),\n    email: asText(user.emailAddress || user.email || user.mail).toLowerCase(),\n  };\n}\n\nfunction extractStoryPoints(fields) {\n  for (const key of ['customfield_10107', 'storyPoints', 'Story Points']) {\n    if (fields && Object.prototype.hasOwnProperty.call(fields, key)) {\n      const parsed = asNumber(fields[key], NaN);\n      if (Number.isFinite(parsed)) return parsed;\n    }\n  }\n  return 0;\n}\n\nfunction normalizePeopleList(rawValue) {\n  if (!rawValue) return [];\n  const source = Array.isArray(rawValue)\n    ? rawValue\n    : (\n      rawValue &&\n      typeof rawValue === 'object' &&\n      Array.isArray(rawValue.value)\n        ? rawValue.value\n        : [rawValue]\n    );\n  const people = [];\n  for (const item of source) {\n    if (item === null || item === undefined) continue;\n    if (typeof item === 'string') {\n      const value = asText(item);\n      if (!value) continue;\n      people.push({\n        id: '',\n        name: value,\n        email: value.includes('@') ? value.toLowerCase() : '',\n        handle: value.replace(/^@/, '').toLowerCase(),\n      });\n      continue;\n    }\n    const normalized = normalizeUser(item);\n    const handle = asText(item.name || item.key || item.accountId || normalized.name)\n      .replace(/^@/, '')\n      .toLowerCase();\n    if (!normalized.id && !normalized.name && !normalized.email && !handle) continue;\n    people.push({\n      id: normalized.id,\n      name: normalized.name || asText(item.displayName || item.name || item.key),\n      email: normalized.email,\n      handle,\n    });\n  }\n  return people;\n}\n\nfunction extractQcs(fields) {\n  if (!fields || typeof fields !== 'object') return [];\n  if (!Object.prototype.hasOwnProperty.call(fields, 'customfield_10201')) return [];\n  return normalizePeopleList(fields.customfield_10201);\n}\n\nfunction extractDependencies(issueLinks) {\n  const dependencies = [];\n  const dependents = [];\n  const blockedBy = [];\n  for (const link of asArray(issueLinks)) {\n    const inward = link?.inwardIssue;\n    const outward = link?.outwardIssue;\n    if (inward?.key) {\n      dependencies.push(asText(inward.key));\n      blockedBy.push(asText(inward.key));\n    }\n    if (outward?.key) {\n      dependents.push(asText(outward.key));\n    }\n  }\n  return { dependencies, dependents, blockedBy };\n}\n\nfunction phaseFromSprint(startAt, endAt, nowIso) {\n  const startDate = parseDate(startAt);\n  const endDate = parseDate(endAt);\n  const nowDate = parseDate(nowIso);\n  if (!startDate || !endDate || !nowDate || endDate <= startDate) {\n    return { phase: 'mid', elapsedRatio: 0.5, daysRemaining: 0 };\n  }\n  const elapsedMs = nowDate.getTime() - startDate.getTime();\n  const totalMs = Math.max(1, endDate.getTime() - startDate.getTime());\n  const elapsedRatio = Math.max(0, Math.min(1.5, elapsedMs / totalMs));\n  const daysRemaining = businessDaysBetween(nowDate.toISOString(), endDate.toISOString());\n  let phase = 'mid';\n  if (elapsedRatio < 0.25) phase = 'early';\n  else if (elapsedRatio < 0.75) phase = 'mid';\n  else if (daysRemaining > 0) phase = 'late';\n  else phase = 'endgame';\n  return { phase, elapsedRatio, daysRemaining };\n}\n\nconst nowIso = request.generatedAt || new Date().toISOString();\nconst phaseMeta = phaseFromSprint(sprint.start_at, sprint.end_at, nowIso);\nconst passedStatuses = new Set(['Ready For Review', 'In Review', 'Ready For Release', 'Close']);\nconst reviewStatuses = new Set(['Ready For Review', 'In Review']);\nconst qaStatuses = new Set(['Ready For Test', 'In Test']);\n\nlet partialData = false;\nlet failureReason = '';\nif (transportError && !sprintIssuesResponse.body) {\n  partialData = true;\n  failureReason = 'Sprint issue fetch transport error: ' + transportError;\n}\nif (statusCode >= 400) {\n  partialData = true;\n  failureReason = 'Sprint issue fetch failed (HTTP ' + statusCode + ')';\n}\n\nconst body = sprintIssuesResponse.body && typeof sprintIssuesResponse.body === 'object'\n  ? sprintIssuesResponse.body\n  : sprintIssuesResponse;\nconst rawIssues = asArray(body.issues);\nconst allowedTypes = new Set(['Task', 'Bug']);\n\nconst tasks = [];\nconst activityExcerpts = [];\nlet committedPoints = 0;\nlet completedPoints = 0;\n\nfor (const issue of rawIssues) {\n  const fields = issue && typeof issue === 'object' ? (issue.fields || {}) : {};\n  const issueType = asText(fields.issuetype?.name);\n  if (!allowedTypes.has(issueType)) continue;\n  const issueKey = asText(issue.key);\n  if (!issueKey) continue;\n  const status = normalizeStatus(fields.status?.name);\n  const assignee = normalizeUser(fields.assignee);\n  const reporter = normalizeUser(fields.reporter || fields.creator);\n  const qcs = extractQcs(fields);\n  const dependenciesMeta = extractDependencies(fields.issuelinks);\n  const storyPoints = Math.max(0, extractStoryPoints(fields));\n  const latestSignals = asArray(gitlab.gitlabSignalsByIssueKey?.[issueKey]);\n  const latestSignal = latestSignals.sort((a, b) => new Date(b.latest_commit_at || 0).getTime() - new Date(a.latest_commit_at || 0).getTime())[0] || {};\n  const histories = asArray(issue?.changelog?.histories);\n  let statusEnteredAt = asText(fields.statuscategorychangedate || fields.updated || fields.created);\n  for (const history of histories) {\n    const historyItems = asArray(history.items);\n    for (const item of historyItems) {\n      if (asText(item.field).toLowerCase() !== 'status') continue;\n      const toStatus = normalizeStatus(item.toString || item.to);\n      if (toStatus === status) {\n        statusEnteredAt = asText(history.created || statusEnteredAt);\n      }\n    }\n  }\n\n  committedPoints += storyPoints;\n  if (passedStatuses.has(status)) completedPoints += storyPoints;\n\n  const task = {\n    task_id: issueKey,\n    key: issueKey,\n    title: asText(fields.summary, issueKey || 'Untitled task'),\n    type: issueType,\n    priority: asText(fields.priority?.name),\n    assignee_id: assignee.id,\n    assignee_name: assignee.name,\n    assignee_email: assignee.email,\n    reviewer_ids: reporter.id ? [reporter.id] : [],\n    reviewer_name: reporter.name,\n    reviewer_email: reporter.email,\n    status,\n    status_category: asText(fields.status?.statusCategory?.name),\n    story_points: storyPoints,\n    created_at: asText(fields.created),\n    updated_at: asText(fields.updated),\n    started_at: asText(fields.customfield_10015 || ''),\n    done_at: asText(fields.resolutiondate),\n    labels: asArray(fields.labels).map((item) => asText(item)).filter(Boolean),\n    epic_id: asText(fields.epic?.id || fields.customfield_10008),\n    dependencies: dependenciesMeta.dependencies,\n    dependents: dependenciesMeta.dependents,\n    blocked_by: dependenciesMeta.blockedBy,\n    due_at: asText(fields.duedate),\n    browse_url: monitorConfig.jiraBaseUrl + '/browse/' + issueKey,\n    reporter_name: reporter.name,\n    reporter_email: reporter.email,\n    qcs,\n    qcs_ids: qcs.map((item) => asText(item.id)).filter(Boolean),\n    qcs_emails: qcs.map((item) => asText(item.email).toLowerCase()).filter(Boolean),\n    qcs_handles: qcs.map((item) => asText(item.handle).toLowerCase()).filter(Boolean),\n    currentStatusEnteredAt: statusEnteredAt,\n    days_in_current_status: businessDaysBetween(statusEnteredAt, nowIso),\n    delivery_signal_confidence: asText(latestSignal.deliverySignalConfidence, latestSignals.length > 0 ? 'high' : 'low'),\n    delivery_signal: latestSignal,\n    is_review_stage: reviewStatuses.has(status),\n    is_qa_stage: qaStatuses.has(status),\n  };\n\n  const comments = asArray(fields.comment?.comments);\n  for (const comment of comments.slice(-5)) {\n    activityExcerpts.push({\n      task_id: issueKey,\n      at: asText(comment.created),\n      source: 'jira_comment',\n      event_type: 'jira_comment',\n      actor: asText(comment.author?.displayName),\n      text: asText(comment.body),\n    });\n  }\n\n  for (const history of histories.slice(-5)) {\n    const historyDate = asText(history.created);\n    for (const item of asArray(history.items)) {\n      if (asText(item.field).toLowerCase() !== 'status') continue;\n      activityExcerpts.push({\n        task_id: issueKey,\n        at: historyDate,\n        source: 'jira_transition',\n        event_type: 'jira_transition',\n        actor: asText(history.author?.displayName),\n        text: 'Status changed from ' + asText(item.fromString) + ' to ' + asText(item.toString),\n      });\n    }\n  }\n\n  for (const signal of latestSignals.slice(0, 2)) {\n    activityExcerpts.push({\n      task_id: issueKey,\n      at: asText(signal.latest_commit_at || signal.mr_opened_at),\n      source: 'gitlab_mr',\n      event_type: 'gitlab_mr',\n      actor: asText(signal.author),\n      text: 'Merge request ' + asText(signal.title) + ' is ' + asText(signal.mr_state),\n    });\n  }\n\n  tasks.push(task);\n}\n\nconst selectedActivityExcerpts = activityExcerpts\n  .filter((item) => asText(item.task_id) && asText(item.event_type) && asText(item.source) && asText(item.text) && parseDate(item.at))\n  .sort((a, b) => new Date(b.at || 0).getTime() - new Date(a.at || 0).getTime())\n  .slice(0, Math.max(5, Number(monitorConfig.maxActivityExcerpts || 30)));\n\nconst sprintSnapshot = {\n  ...sprint,\n  sprint_id: sprint.sprint_id || sprint.id,\n  team_id: monitorConfig.teamId,\n  board_id: monitorConfig.boardId,\n  committed_points: committedPoints,\n  added_scope_points: 0,\n  completed_points: completedPoints,\n  remaining_points: Math.max(0, committedPoints - completedPoints),\n  elapsed_ratio: phaseMeta.elapsedRatio,\n  phase: phaseMeta.phase,\n  days_remaining: phaseMeta.daysRemaining,\n};\n\nreturn [{\n  json: {\n    sprint: sprintSnapshot,\n    tasks,\n    activityExcerpts: selectedActivityExcerpts,\n    partialData: partialData || Boolean(gitlab.gitlabSummary?.partialData),\n    failureReason,\n    gitlabSummary: gitlab.gitlabSummary || {},\n  },\n}];"
      },
      "id": "16",
      "name": "Normalize Sprint Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const context = $('Normalize Sprint Context').first().json || {};\nconst request = $('Normalize Request').first().json || {};\nreturn [{\n  json: {\n    classifierSystemPrompt: request.classifierSystemPrompt,\n    classifierPrompt: JSON.stringify({\n      items: context.activityExcerpts || [],\n    }, null, 2),\n  },\n}];"
      },
      "id": "17",
      "name": "Build Comment Classifier Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        256
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.classifierPrompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $json.classifierSystemPrompt }}"
        }
      },
      "id": "18",
      "name": "Comment Classifier AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        456,
        256
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"results\": [\n    {\n      \"task_id\": \"string\",\n      \"at\": \"timestamp\",\n      \"label\": \"real_progress|review_pending|waiting_external|waiting_internal|qa_pending|scope_change|status_noise|soft_commitment|risk_signal|resolved_signal\",\n      \"confidence\": 0.0,\n      \"reason\": \"string\"\n    }\n  ]\n}"
      },
      "id": "19",
      "name": "Structured Comment Classifier Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        720,
        480
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "cx/gpt-5.4",
          "mode": "list",
          "cachedResultName": "cx/gpt-5.4"
        },
        "responsesApiEnabled": false,
        "options": {
          "responseFormat": "json_object"
        }
      },
      "id": "20",
      "name": "Comment Classifier Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        336,
        480
      ],
      "credentials": {
        "openAiApi": {
          "id": "nmpOof7gCtDCf1BD",
          "name": "Local OpenAI Proxy"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const request = $('Normalize Request').first().json || {};\nconst context = $('Normalize Sprint Context').first().json || {};\nlet classifierResults = [];\n\ntry {\n  const output = $('Comment Classifier AI Agent').first().json?.output || {};\n  classifierResults = Array.isArray(output.results) ? output.results : [];\n} catch (error) {\n  classifierResults = [];\n}\n\nfunction asText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction asNumber(value, fallback = 0) {\n  const parsed = Number(value);\n  return Number.isFinite(parsed) ? parsed : fallback;\n}\n\nfunction buildClassifierMap(items) {\n  const map = new Map();\n  for (const item of items) {\n    const key = asText(item.task_id) + '::' + asText(item.at);\n    map.set(key, item);\n  }\n  return map;\n}\n\nconst classifierMap = buildClassifierMap(classifierResults);\nconst tasks = Array.isArray(context.tasks) ? context.tasks.slice() : [];\nconst phase = asText(context.sprint?.phase, 'mid');\nconst meaningfulLabels = new Set(['real_progress', 'resolved_signal', 'review_pending', 'waiting_internal', 'waiting_external']);\n\nconst assigneeCounts = {};\nconst reviewerCounts = {};\nfor (const task of tasks) {\n  const assigneeName = asText(task.assignee_name);\n  if (assigneeName) assigneeCounts[assigneeName] = (assigneeCounts[assigneeName] || 0) + 1;\n}\n\nconst candidateTasks = tasks.map((task) => {\n  const taskExcerpts = (context.activityExcerpts || []).filter((item) => asText(item.task_id) === asText(task.task_id));\n  const meaningfulUpdates = taskExcerpts.filter((item) => {\n    const classified = classifierMap.get(asText(item.task_id) + '::' + asText(item.at));\n    return meaningfulLabels.has(asText(classified?.label));\n  });\n  const lastMeaningfulUpdateAt = meaningfulUpdates[0]?.at || task.updated_at || task.currentStatusEnteredAt || context.sprint?.start_at;\n  const reviewPendingDays = task.is_review_stage ? asNumber(task.days_in_current_status) : 0;\n  const qaPendingDays = task.is_qa_stage ? asNumber(task.days_in_current_status) : 0;\n  const blockedDays = Array.isArray(task.blocked_by) && task.blocked_by.length > 0 ? asNumber(task.days_in_current_status) : 0;\n  const reviewerQueueCount = reviewPendingDays > 0 ? 1 : 0;\n  const assigneeActiveTaskCount = assigneeCounts[asText(task.assignee_name)] || 0;\n  const likelyRemainingStageCount = task.status === 'Close' ? 0 : (task.is_review_stage ? 1 : (task.is_qa_stage ? 1 : 2));\n  let candidateScore = 0;\n  candidateScore += blockedDays * 2.2;\n  candidateScore += reviewPendingDays * 1.7;\n  candidateScore += qaPendingDays * 1.4;\n  candidateScore += Math.max(0, asNumber(task.days_in_current_status) - 2) * 1.1;\n  candidateScore += (Array.isArray(task.dependencies) ? task.dependencies.length : 0) * 1.5;\n  candidateScore += assigneeActiveTaskCount * 0.4;\n  if (phase === 'late' || phase === 'endgame') candidateScore += likelyRemainingStageCount * 1.5;\n  if (task.delivery_signal_confidence === 'low') candidateScore -= 0.5;\n\n  let riskType = 'silent_but_probably_ok';\n  if (blockedDays > 0) riskType = 'dependency_chain_risk';\n  else if (reviewPendingDays > 1) riskType = 'review_bottleneck';\n  else if (qaPendingDays > 1) riskType = 'qa_bottleneck';\n  else if (candidateScore > 6) riskType = 'stale_no_progress';\n\n  return {\n    ...task,\n    days_since_last_meaningful_update: asNumber(task.days_in_current_status),\n    review_pending_days: reviewPendingDays,\n    qa_pending_days: qaPendingDays,\n    blocked_days: blockedDays,\n    dependency_in_degree: Array.isArray(task.blocked_by) ? task.blocked_by.length : 0,\n    dependency_out_degree: Array.isArray(task.dependents) ? task.dependents.length : 0,\n    reopened_count: 0,\n    status_transition_count_last_5d: taskExcerpts.filter((item) => asText(item.event_type) === 'jira_transition').length,\n    comment_activity_count_last_3d: taskExcerpts.filter((item) => asText(item.event_type) === 'jira_comment').length,\n    assignee_active_task_count: assigneeActiveTaskCount,\n    reviewer_queue_count: reviewerQueueCount,\n    scope_added_mid_sprint: false,\n    candidate_score: Number(candidateScore.toFixed(3)),\n    criticality: candidateScore >= 8 ? 'high' : (candidateScore >= 4 ? 'medium' : 'low'),\n    current_stage_order: task.status === 'Close' ? 5 : (task.is_qa_stage ? 4 : (task.is_review_stage ? 3 : 2)),\n    expected_stage_order_for_phase: phase === 'early' ? 2 : (phase === 'mid' ? 3 : 4),\n    likely_remaining_stage_count: likelyRemainingStageCount,\n    risk_type_seed: riskType,\n    last_meaningful_update_at: lastMeaningfulUpdateAt,\n  };\n});\n\nconst sortedTasks = candidateTasks\n  .slice()\n  .sort((a, b) => Number(b.candidate_score || 0) - Number(a.candidate_score || 0));\n\nconst topCandidateTasks = sortedTasks.slice(0, Number(request.monitorConfig?.maxCandidateTasks || 20));\nconst blockedTasks = candidateTasks.filter((task) => Number(task.blocked_days || 0) > 0);\nconst reviewTasks = candidateTasks.filter((task) => Number(task.review_pending_days || 0) > 0);\nconst qaTasks = candidateTasks.filter((task) => Number(task.qa_pending_days || 0) > 0);\nconst epicBuckets = new Map();\nfor (const task of candidateTasks) {\n  const epicId = asText(task.epic_id);\n  if (!epicId) continue;\n  if (!epicBuckets.has(epicId)) epicBuckets.set(epicId, []);\n  epicBuckets.get(epicId).push(task);\n}\n\nconst clusters = [];\nif (reviewTasks.length > 0) {\n  clusters.push({\n    cluster_id: 'cluster:review_bottleneck:reviewers',\n    cluster_type: 'review_bottleneck',\n    severity: reviewTasks.length >= 3 ? 'high' : 'medium',\n    affected_count: reviewTasks.length,\n    why_now: reviewTasks.length + ' task(s) are waiting in review',\n    evidence: reviewTasks.slice(0, 5).map((task) => task.key + ' in ' + task.status + ' for ' + task.review_pending_days + 'd'),\n    subject_id: 'reviewers',\n    recommended_action: 'ESCALATE_TO_LEAD',\n    action_owner_type: 'lead',\n    decision_owner_type: 'lead',\n    execution_owner_type: 'reviewer',\n    confidence: 0.78,\n  });\n}\nif (blockedTasks.length > 0) {\n  clusters.push({\n    cluster_id: 'cluster:dependency_chain_risk:blocked',\n    cluster_type: 'dependency_chain_risk',\n    severity: blockedTasks.length >= 2 ? 'high' : 'medium',\n    affected_count: blockedTasks.length,\n    why_now: blockedTasks.length + ' task(s) have dependency blockers',\n    evidence: blockedTasks.slice(0, 5).map((task) => task.key + ' blocked by ' + (task.blocked_by || []).join(', ')),\n    subject_id: 'blocked',\n    recommended_action: 'ESCALATE_TO_LEAD',\n    action_owner_type: 'lead',\n    decision_owner_type: 'lead',\n    execution_owner_type: 'assignee',\n    confidence: 0.8,\n  });\n}\nif (qaTasks.length > 0) {\n  clusters.push({\n    cluster_id: 'cluster:qa_bottleneck:qa',\n    cluster_type: 'qa_bottleneck',\n    severity: qaTasks.length >= 3 ? 'high' : 'medium',\n    affected_count: qaTasks.length,\n    why_now: qaTasks.length + ' task(s) are stuck waiting for QA progression',\n    evidence: qaTasks.slice(0, 5).map((task) => task.key + ' in ' + task.status + ' for ' + task.qa_pending_days + 'd'),\n    subject_id: 'qa',\n    recommended_action: 'ESCALATE_TO_LEAD',\n    action_owner_type: 'lead',\n    decision_owner_type: 'lead',\n    execution_owner_type: 'reviewer',\n    confidence: 0.74,\n  });\n}\nfor (const [epicId, epicTasks] of epicBuckets.entries()) {\n  if (epicTasks.length < 3) continue;\n  clusters.push({\n    cluster_id: 'cluster:scope_creep:' + epicId,\n    cluster_type: 'scope_creep',\n    severity: epicTasks.length >= 5 ? 'high' : 'medium',\n    affected_count: epicTasks.length,\n    why_now: 'Epic ' + epicId + ' has multiple unresolved tasks',\n    evidence: epicTasks.slice(0, 4).map((task) => task.key + ' score ' + task.candidate_score),\n    subject_id: epicId,\n    recommended_action: 'FLAG_SPRINT_GOAL_RISK',\n    action_owner_type: 'pm',\n    decision_owner_type: 'pm',\n    execution_owner_type: 'lead',\n    confidence: 0.69,\n  });\n}\nif (Object.values(assigneeCounts).some((count) => count >= 4)) {\n  const overloaded = Object.entries(assigneeCounts).sort((a, b) => b[1] - a[1])[0];\n  clusters.push({\n    cluster_id: 'cluster:assignee_overload:' + overloaded[0],\n    cluster_type: 'unowned_work',\n    severity: overloaded[1] >= 6 ? 'high' : 'medium',\n    affected_count: overloaded[1],\n    why_now: overloaded[0] + ' owns many active tasks',\n    evidence: sortedTasks.filter((task) => asText(task.assignee_name) === overloaded[0]).slice(0, 5).map((task) => task.key),\n    subject_id: overloaded[0],\n    recommended_action: 'ESCALATE_TO_LEAD',\n    action_owner_type: 'lead',\n    decision_owner_type: 'lead',\n    execution_owner_type: 'lead',\n    confidence: 0.66,\n  });\n}\n\nconst topClusters = clusters.slice(0, Number(request.monitorConfig?.maxClusters || 5));\nconst sprintSignals = {\n  phase,\n  elapsed_ratio: context.sprint?.elapsed_ratio || 0,\n  completed_points_ratio: (Number(context.sprint?.completed_points || 0) / Math.max(1, Number(context.sprint?.committed_points || 0))),\n  tasks_not_started_ratio: candidateTasks.filter((task) => asText(task.status) === 'Open').length / Math.max(1, candidateTasks.length),\n  tasks_in_dev_ratio: candidateTasks.filter((task) => asText(task.status) === 'In Progress').length / Math.max(1, candidateTasks.length),\n  tasks_in_review_ratio: reviewTasks.length / Math.max(1, candidateTasks.length),\n  tasks_in_qa_ratio: qaTasks.length / Math.max(1, candidateTasks.length),\n  blocked_ratio: blockedTasks.length / Math.max(1, candidateTasks.length),\n  review_bottleneck_score: reviewTasks.reduce((sum, task) => sum + Number(task.review_pending_days || 0), 0),\n  qa_bottleneck_score: qaTasks.reduce((sum, task) => sum + Number(task.qa_pending_days || 0), 0),\n  dependency_risk_score: blockedTasks.reduce((sum, task) => sum + Number(task.blocked_days || 0), 0),\n  sprint_goal_coverage_score: Math.max(0.1, 1 - topClusters.length * 0.12),\n};\n\nreturn [{\n  json: {\n    sprint: context.sprint,\n    tasks: candidateTasks,\n    topCandidateTasks,\n    topClusters,\n    activityExcerpts: context.activityExcerpts,\n    classifierResults,\n    sprintSignals,\n    partialData: Boolean(context.partialData),\n    failureReason: asText(context.failureReason),\n  },\n}];"
      },
      "id": "21",
      "name": "Compute Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const request = $('Normalize Request').first().json || {};\nconst signalState = $('Compute Signals').first().json || {};\n\nfunction sqlEscape(value) {\n  return String(value ?? '').replace(/'/g, \"''\");\n}\n\nconst teamId = sqlEscape(request.monitorConfig?.teamId || '');\nconst sprintId = sqlEscape(signalState.sprint?.sprint_id || signalState.sprint?.id || '');\n\nconst query = [\n  'SELECT json_build_object(',\n  \"  'openIssues', COALESCE((\",\n  \"    SELECT json_agg(row_to_json(t)) FROM (\",\n  \"      SELECT issue_key, team_id, sprint_id, entity_type, entity_id, risk_type, severity, state, confidence, recommended_action, why_now, evidence, last_seen_at, last_alerted_at, metadata_json\",\n  \"      FROM issues\",\n  \"      WHERE team_id = '\" + teamId + \"'\",\n  sprintId ? \"        AND sprint_id = '\" + sprintId + \"'\" : '',\n  \"        AND state IN ('detected','monitoring','nudged','escalated','suppressed')\",\n  '      ORDER BY last_seen_at DESC',\n  '      LIMIT 200',\n  '    ) t',\n  \"  ), '[]'::json),\",\n  \"  'priorInterventions', COALESCE((\",\n  \"    SELECT json_agg(row_to_json(t)) FROM (\",\n  \"      SELECT issue_key, action_type, message_text, delivery_status, created_at\",\n  \"      FROM interventions\",\n  \"      WHERE created_at >= now() - interval '7 day'\",\n  \"      ORDER BY created_at DESC\",\n  \"      LIMIT 200\",\n  '    ) t',\n  \"  ), '[]'::json),\",\n  \"  'historicalPatterns', COALESCE((\",\n  \"    SELECT json_agg(row_to_json(t)) FROM (\",\n  \"      SELECT * FROM historical_patterns\",\n  \"      WHERE team_id = '\" + teamId + \"'\",\n  '      ORDER BY generated_at DESC',\n  '      LIMIT 50',\n  '    ) t',\n  \"  ), '[]'::json),\",\n  \"  'recentRuns', COALESCE((\",\n  \"    SELECT json_agg(row_to_json(t)) FROM (\",\n  \"      SELECT id, run_type, status, no_message, started_at, summary_json\",\n  \"      FROM runs\",\n  \"      WHERE team_id = '\" + teamId + \"'\",\n  '      ORDER BY started_at DESC',\n  '      LIMIT 50',\n  '    ) t',\n  \"  ), '[]'::json)\",\n  ') AS state_json;',\n].filter(Boolean).join('\\n');\n\nreturn [{\n  json: {\n    priorStateQuery: query,\n  },\n}];\n"
      },
      "id": "22",
      "name": "Build Prior State Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        256
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.priorStateQuery }}",
        "options": {
          "queryBatching": "single"
        }
      },
      "id": "23",
      "name": "Load Prior State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1376,
        256
      ],
      "credentials": {
        "postgres": {
          "id": "hNw1lfcclrZjlInz",
          "name": "Sprint Monitor Postgres"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const request = $('Normalize Request').first().json || {};\nconst signals = $('Compute Signals').first().json || {};\nconst priorStateRow = $('Load Prior State').first().json || {};\nconst modeSelection = $('Select Run Mode').first().json || {};\n\nfunction asObject(value) {\n  return value && typeof value === 'object' && !Array.isArray(value) ? value : {};\n}\n\nfunction asText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nconst stateJson = asObject(priorStateRow.state_json || priorStateRow.stateJson || {});\nconst selectedMode = asText(modeSelection.selectedMode, 'scan');\nconst isNearEnd = Boolean(modeSelection.isNearEnd);\nconst messageLanguage = asText(request.monitorConfig?.messageLanguage, 'en').toLowerCase() === 'vi' ? 'vi' : 'en';\n\nconst modePromptLines = selectedMode === 'scan'\n  ? [\n      'Run mode is scan (radar).',\n      'Default behavior is silence.',\n      'Only report when there is a new issue, severity increase, semantic material change, or a new blocker that impacts sprint goal.',\n      'Do not generate a full daily digest shape in scan mode.',\n      'Mention policy in scan: use at most 1 person mention across scan_delta_lines, and only when a direct owner must act now.',\n    ]\n  : [\n      'Run mode is review (primary checkpoint).',\n      'You may generate a full unified digest with Urgency/Main blocker/Quick win/Decision today when evidence is actionable.',\n      isNearEnd\n        ? 'Near-end framing is mandatory: Decision today must focus on salvage, de-scope, and carryover.'\n        : 'Use standard checkpoint framing with concrete owners and decisions.',\n      'Mention policy in review: use at most 2 person mentions total, only for owners with concrete next action today.',\n    ];\n\nconst outputContractLines = [\n  'Return JSON with two top-level objects:',\n  '1) semantic_output: language-agnostic canonical enums/codes used for gating/history.',\n  '2) narrative_output: localized user-facing wording in message_language.',\n  'If specific owners are known, populate semantic_output.issues[].mentions_needed with person emails.',\n  'When narrative_output includes people, use @<email local-part> handles matching mentions_needed.',\n  'Prefer owner inference from structured context: review stages -> reviewer, testing stages -> QCs, otherwise assignee.',\n  'If no specific person is reliable, leave mentions_needed empty and use owner type only; do not guess people.',\n  'Do not spam mentions, and never exceed mode mention cap.',\n  'Never localize semantic enums/codes (risk_type, severity, recommended_action, owner types, delivery_outlook, goal_risk).',\n  'Narrative wording changes alone must not imply material change.',\n  'Do not rely on delivery_plan to bypass deterministic gate.',\n];\n\nconst packet = {\n  run_context: {\n    run_id: request.runId,\n    run_type: selectedMode,\n    requested_run_type: request.requestedRunType || request.runType,\n    generated_at: request.generatedAt,\n    team_name: request.monitorConfig?.teamId || '',\n    sprint_phase: signals.sprintSignals?.phase || signals.sprint?.phase || 'mid',\n    mode_selection_source: modeSelection.modeSelectionSource || 'auto',\n  },\n  language_config: {\n    reasoning_language: 'en',\n    message_language: messageLanguage,\n  },\n  policy: {\n    mode_selection_source: modeSelection.modeSelectionSource || 'auto',\n    max_mentions_per_digest: selectedMode === 'scan' ? 1 : 2,\n    prefer_cluster_alerts: true,\n    silence_if_no_new_actionable_insight: true,\n    mode: selectedMode,\n    mode_policy: modeSelection.modePolicy || {},\n    is_near_end: isNearEnd,\n    canonical_semantic_required: true,\n  },\n  sprint_snapshot: {\n    ...(signals.sprint || {}),\n    signals: signals.sprintSignals || {},\n  },\n  top_clusters: signals.topClusters || [],\n  candidate_tasks: signals.topCandidateTasks || [],\n  activity_excerpts: signals.activityExcerpts || [],\n  prior_interventions: stateJson.priorInterventions || [],\n  historical_patterns: stateJson.historicalPatterns || [],\n  recent_runs: stateJson.recentRuns || [],\n};\n\nreturn [{\n  json: {\n    judgeSystemPrompt: [request.judgeSystemPrompt, '', ...modePromptLines, '', ...outputContractLines].join('\\n'),\n    judgePrompt: JSON.stringify(packet, null, 2),\n    packet,\n    openIssues: stateJson.openIssues || [],\n    priorInterventions: stateJson.priorInterventions || [],\n    historicalPatterns: stateJson.historicalPatterns || [],\n    recentRuns: stateJson.recentRuns || [],\n    modeSelection,\n    messageLanguage,\n  },\n}];\n"
      },
      "id": "24",
      "name": "Build Judge Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        256
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.judgePrompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $json.judgeSystemPrompt }}"
        }
      },
      "id": "25",
      "name": "Sprint Judge AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2048,
        256
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"semantic_output\": {\n    \"run_mode\": \"scan|review\",\n    \"phase\": \"early|mid|late|endgame\",\n    \"send_recommendation\": true,\n    \"reason_code\": \"ACTIONABLE_INSIGHT|NO_ACTIONABLE_INSIGHT|SUPPRESSED_BY_POLICY|LOW_CONFIDENCE\",\n    \"summary\": {\n      \"delivery_outlook\": \"likely_on_track|at_risk_but_recoverable|likely_spillover\",\n      \"goal_risk\": \"low|medium|high\",\n      \"review_mode\": \"standard|endgame\",\n      \"has_actionable_insight\": true,\n      \"confidence\": 0.0\n    },\n    \"issues\": [\n      {\n        \"entity_type\": \"task|cluster|sprint\",\n        \"entity_id\": \"string\",\n        \"risk_type\": \"stale_no_progress|blocked_external|blocked_internal|review_bottleneck|qa_bottleneck|overscoped_work|dependency_chain_risk|scope_creep|unowned_work\",\n        \"severity\": \"low|medium|high\",\n        \"recommended_action\": \"NO_ACTION|MONITOR_ONLY|NUDGE_OWNER_FOR_UPDATE|ASK_BLOCKER_CLARIFICATION|SUGGEST_SPLIT_TASK|SUGGEST_SCOPE_CUT|SUGGEST_REASSIGN_REVIEWER|ESCALATE_TO_LEAD|ESCALATE_TO_PM|FLAG_SPRINT_GOAL_RISK\",\n        \"action_owner_type\": \"pm|lead|assignee|reviewer|team|none\",\n        \"decision_owner_type\": \"pm|lead|assignee|reviewer|team|none\",\n        \"execution_owner_type\": \"pm|lead|assignee|reviewer|team|none\",\n        \"confidence\": 0.0,\n        \"change_flags\": [\"new_issue\", \"severity_up\", \"material_change\"],\n        \"is_goal_blocker\": true,\n        \"is_quick_win\": false,\n        \"why_now\": \"string\",\n        \"evidence_refs\": [\"string\"],\n        \"mentions_needed\": [\n          {\n            \"type\": \"person\",\n            \"email\": \"string\",\n            \"reason\": \"string\",\n            \"priority\": 1\n          }\n        ],\n        \"blocking_entities\": [\"string\"],\n        \"blocked_entities\": [\"string\"]\n      }\n    ]\n  },\n  \"narrative_output\": {\n    \"language\": \"en|vi\",\n    \"urgency\": \"string\",\n    \"main_blocker\": \"string\",\n    \"quick_win\": \"string\",\n    \"decision_today\": \"string\",\n    \"scan_delta_lines\": [\"string\"]\n  }\n}\n"
      },
      "id": "26",
      "name": "Structured Sprint Judgment Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2184,
        480
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "cx/gpt-5.4",
          "mode": "list",
          "cachedResultName": "cx/gpt-5.4"
        },
        "responsesApiEnabled": false,
        "options": {
          "responseFormat": "json_object"
        }
      },
      "id": "27",
      "name": "Sprint Judge Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2056,
        480
      ],
      "credentials": {
        "openAiApi": {
          "id": "nmpOof7gCtDCf1BD",
          "name": "Local OpenAI Proxy"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const request = $('Normalize Request').first().json || {};\nconst signals = $('Compute Signals').first().json || {};\nconst judgeNode = $('Sprint Judge AI Agent').first().json || {};\nconst prior = $('Build Judge Inputs').first().json || {};\nconst modeSelection = $('Select Run Mode').first().json || {};\nconst judgeOutput = judgeNode.output && typeof judgeNode.output === 'object' ? judgeNode.output : {};\n\nfunction asText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction asArray(value) {\n  return Array.isArray(value) ? value : [];\n}\n\nfunction asBoolean(value, fallback = false) {\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'string') {\n    const normalized = value.trim().toLowerCase();\n    if (normalized === 'true') return true;\n    if (normalized === 'false') return false;\n  }\n  return fallback;\n}\n\nfunction asObject(value) {\n  return value && typeof value === 'object' && !Array.isArray(value) ? value : {};\n}\n\nfunction asOwnerType(value, fallback = 'none') {\n  const normalized = asText(value, fallback).toLowerCase();\n  return ['pm', 'lead', 'assignee', 'reviewer', 'team', 'none'].includes(normalized)\n    ? normalized\n    : fallback;\n}\n\nfunction asSeverity(value, fallback = 'medium') {\n  const normalized = asText(value, fallback).toLowerCase();\n  return ['low', 'medium', 'high'].includes(normalized) ? normalized : fallback;\n}\n\nfunction normalizeMentionsNeeded(value) {\n  return asArray(value)\n    .map((item, index) => ({\n      type: asText(item?.type, 'person'),\n      email: asText(item?.email).toLowerCase(),\n      reason: asText(item?.reason),\n      priority: Number(item?.priority || index + 1),\n    }))\n    .filter((item) => item.email);\n}\n\nfunction stableJson(value) {\n  if (Array.isArray(value)) return '[' + value.map((item) => stableJson(item)).join(',') + ']';\n  if (value && typeof value === 'object') {\n    return '{' + Object.keys(value).sort().map((key) => JSON.stringify(key) + ':' + stableJson(value[key])).join(',') + '}';\n  }\n  return JSON.stringify(value ?? null);\n}\n\nconst severityRank = { low: 1, medium: 2, high: 3 };\nfunction severityValue(level) {\n  return severityRank[asText(level).toLowerCase()] || 0;\n}\n\nconst suppressionDigestHours = Number(request.monitorConfig?.suppressionDigestHours || 24);\nconst now = new Date(request.generatedAt || new Date().toISOString());\n\nfunction hoursSince(value) {\n  const date = value ? new Date(value) : null;\n  if (!date || Number.isNaN(date.getTime())) return Number.POSITIVE_INFINITY;\n  return Math.max(0, (now.getTime() - date.getTime()) / 3600000);\n}\n\nfunction makeIssueKey(entityType, entityId, riskType) {\n  return entityType + ':' + entityId + ':' + riskType;\n}\n\nfunction isActionable(issue) {\n  const action = asText(issue.recommended_action).toUpperCase();\n  if (!action) return false;\n  if (action === 'NO_ACTION' || action === 'MONITOR_ONLY') return false;\n  return true;\n}\n\nfunction semanticSignature(issue) {\n  return stableJson({\n    entity_type: issue.entity_type,\n    entity_id: issue.entity_id,\n    risk_type: issue.risk_type,\n    severity: issue.severity,\n    recommended_action: issue.recommended_action,\n    action_owner_type: issue.action_owner_type,\n    decision_owner_type: issue.decision_owner_type,\n    execution_owner_type: issue.execution_owner_type,\n    phase: issue.phase,\n    is_goal_blocker: Boolean(issue.is_goal_blocker),\n    blocking_entities: asArray(issue.blocking_entities),\n    blocked_entities: asArray(issue.blocked_entities),\n  });\n}\n\nfunction normalizeIssueFromSemantic(source) {\n  const entityType = asText(source.entity_type, 'task').toLowerCase();\n  const riskType = asText(source.risk_type);\n  const entityId = asText(source.entity_id || source.task_id || source.cluster_id || riskType);\n  const issueKey = makeIssueKey(entityType, entityId, riskType);\n\n  const normalizedIssue = {\n    issue_key: issueKey,\n    entity_type: entityType,\n    entity_id: entityId,\n    risk_type: riskType,\n    severity: asSeverity(source.severity, 'medium'),\n    action_owner_type: asOwnerType(source.action_owner_type, 'lead'),\n    decision_owner_type: asOwnerType(source.decision_owner_type || source.action_owner_type, 'lead'),\n    execution_owner_type: asOwnerType(source.execution_owner_type || source.action_owner_type, entityType === 'task' ? 'assignee' : 'lead'),\n    recommended_action: asText(source.recommended_action),\n    confidence: Number(source.confidence || 0.6),\n    phase: asText(source.phase || modeSelection.sprintPhase || signals.sprintSignals?.phase || signals.sprint?.phase, 'mid'),\n    is_goal_blocker: asBoolean(source.is_goal_blocker, false),\n    is_quick_win: asBoolean(source.is_quick_win, false),\n    blocking_entities: asArray(source.blocking_entities),\n    blocked_entities: asArray(source.blocked_entities),\n    evidence_refs: asArray(source.evidence_refs || source.evidence),\n    mentions_needed: normalizeMentionsNeeded(source.mentions_needed),\n    narrative: {\n      why_now: asText(source.why_now),\n    },\n    semantic_raw: asObject(source),\n  };\n\n  normalizedIssue.semantic_signature = semanticSignature(normalizedIssue);\n  return normalizedIssue;\n}\n\nfunction normalizeLegacyIssue(source, entityType) {\n  const normalized = {\n    entity_type: entityType,\n    entity_id: entityType === 'task' ? source.task_id : (source.cluster_id || source.cluster_type),\n    risk_type: entityType === 'task' ? source.risk_type : source.cluster_type,\n    severity: source.severity,\n    recommended_action: source.recommended_action,\n    action_owner_type: source.action_owner_type,\n    decision_owner_type: source.decision_owner_type,\n    execution_owner_type: source.execution_owner_type,\n    confidence: source.confidence,\n    phase: modeSelection.sprintPhase || signals.sprintSignals?.phase || signals.sprint?.phase,\n    is_goal_blocker: false,\n    is_quick_win: false,\n    blocking_entities: [],\n    blocked_entities: [],\n    evidence_refs: source.evidence,\n    mentions_needed: source.mentions_needed,\n    why_now: source.why_now,\n  };\n  return normalizeIssueFromSemantic(normalized);\n}\n\nconst semanticOutput = asObject(judgeOutput.semantic_output);\nconst narrativeOutput = asObject(judgeOutput.narrative_output);\nconst legacySprintAssessment = asObject(judgeOutput.sprint_assessment);\nconst legacyIssues = [\n  ...asArray(judgeOutput.clusters).map((item) => normalizeLegacyIssue(item, 'cluster')),\n  ...asArray(judgeOutput.tasks)\n    .filter((item) => asText(item.classification) !== 'noise_do_not_alert')\n    .map((item) => normalizeLegacyIssue(item, 'task')),\n];\n\nconst semanticIssues = asArray(semanticOutput.issues).map((item) => normalizeIssueFromSemantic(item));\nconst candidateIssues = semanticIssues.length > 0 ? semanticIssues : legacyIssues;\n\nconst openIssues = asArray(prior.openIssues);\nconst openIssueMap = new Map(openIssues.map((item) => [asText(item.issue_key), item]));\nconst sprintGoalRisk = asText(semanticOutput.summary?.goal_risk || legacySprintAssessment.goal_risk).toLowerCase();\nconst goalRiskActive = sprintGoalRisk === 'medium' || sprintGoalRisk === 'high';\nconst blockerTypes = new Set(['dependency_chain_risk', 'blocked_internal', 'blocked_external']);\n\nconst allIssues = candidateIssues.map((issue) => {\n  const existing = openIssueMap.get(issue.issue_key) || null;\n  const existingMetadata = asObject(existing?.metadata_json);\n  const existingSignature = asText(existingMetadata.semantic_signature || existingMetadata.issue_signature || existingMetadata.signature);\n\n  const newIssue = !existing;\n  const severityIncrease = existing ? severityValue(issue.severity) > severityValue(existing.severity) : false;\n  const materialChange = existing ? issue.semantic_signature !== existingSignature : false;\n  const newGoalBlocker = newIssue && goalRiskActive && (issue.is_goal_blocker || blockerTypes.has(issue.risk_type));\n  const suppressedByWindow = Boolean(existing)\n    && hoursSince(existing.last_alerted_at) < suppressionDigestHours\n    && asText(existing.severity).toLowerCase() === issue.severity.toLowerCase();\n\n  return {\n    ...issue,\n    existingIssue: existing,\n    changeFlags: {\n      newIssue,\n      severityIncrease,\n      materialChange,\n      newGoalBlocker,\n      hasAnyDelta: newIssue || severityIncrease || materialChange || newGoalBlocker,\n    },\n    suppression: {\n      suppressedByWindow,\n      suppressionHours: suppressedByWindow ? hoursSince(existing.last_alerted_at) : null,\n    },\n    eligibleByDb: !suppressedByWindow,\n    isActionable: isActionable(issue),\n  };\n});\n\nconst deltaDeliverableIssues = allIssues.filter((issue) => issue.changeFlags.hasAnyDelta && issue.eligibleByDb);\nconst reviewDeliverableIssues = allIssues.filter((issue) => issue.eligibleByDb && issue.isActionable);\n\nconst selectedMode = asText(modeSelection.selectedMode, 'scan');\nconst modeSelectionSource = asText(modeSelection.modeSelectionSource, 'auto');\nconst isNearEnd = Boolean(modeSelection.isNearEnd);\nconst hasDeterministicDelta = deltaDeliverableIssues.length > 0;\n\nconst semanticHasActionable = asBoolean(semanticOutput.summary?.has_actionable_insight, false)\n  || asBoolean(semanticOutput.send_recommendation, false)\n  || reviewDeliverableIssues.length > 0;\nconst hasActionableInsight = semanticHasActionable;\n\nconst deliverableIssues = selectedMode === 'scan' ? deltaDeliverableIssues : reviewDeliverableIssues;\nconst noMessage = selectedMode === 'scan'\n  ? !hasDeterministicDelta\n  : !hasActionableInsight;\n\nconst messageLanguage = asText(\n  narrativeOutput.language,\n  asText(prior.messageLanguage, asText(request.monitorConfig?.messageLanguage, 'en')),\n).toLowerCase() === 'vi' ? 'vi' : 'en';\n\nconst sprintAssessment = semanticOutput.summary\n  ? {\n      delivery_outlook: asText(semanticOutput.summary.delivery_outlook),\n      goal_risk: asText(semanticOutput.summary.goal_risk),\n      confidence: Number(semanticOutput.summary.confidence || 0),\n      review_mode: asText(semanticOutput.summary.review_mode),\n      has_actionable_insight: asBoolean(semanticOutput.summary.has_actionable_insight, false),\n    }\n  : {\n      delivery_outlook: asText(legacySprintAssessment.delivery_outlook),\n      goal_risk: asText(legacySprintAssessment.goal_risk),\n      confidence: Number(legacySprintAssessment.confidence || 0),\n      review_mode: isNearEnd ? 'endgame' : 'standard',\n      has_actionable_insight: hasActionableInsight,\n    };\n\nreturn [{\n  json: {\n    selectedMode,\n    modeSelectionSource,\n    isNearEnd,\n    modeSelection,\n    messageLanguage,\n    semanticOutput,\n    narrativeOutput,\n    sprintAssessment,\n    deliverableIssues,\n    deltaDeliverableIssues,\n    reviewDeliverableIssues,\n    sendUnifiedDigest: !noMessage,\n    noMessage,\n    suppressionSummary: {\n      openIssueCount: openIssues.length,\n      candidateIssueCount: allIssues.length,\n      deliverableIssueCount: deliverableIssues.length,\n      scanDeltaIssueCount: deltaDeliverableIssues.length,\n      reviewActionableIssueCount: reviewDeliverableIssues.length,\n      newIssueCount: allIssues.filter((issue) => issue.changeFlags.newIssue).length,\n      severityIncreaseCount: allIssues.filter((issue) => issue.changeFlags.severityIncrease).length,\n      materialChangeCount: allIssues.filter((issue) => issue.changeFlags.materialChange).length,\n      newGoalBlockerCount: allIssues.filter((issue) => issue.changeFlags.newGoalBlocker).length,\n      suppressedByWindowCount: allIssues.filter((issue) => issue.suppression.suppressedByWindow).length,\n    },\n    deterministicGate: {\n      mode: selectedMode,\n      modeSelectionSource,\n      isNearEnd,\n      hasDeterministicDelta,\n      hasActionableInsight,\n      forcedNoMessage: noMessage,\n      semanticReasonCode: asText(semanticOutput.reason_code),\n    },\n    summaryJson: {\n      selectedMode,\n      modeSelectionSource,\n      messageLanguage,\n      sprintAssessment,\n      topIssueCount: allIssues.length,\n      partialData: Boolean(signals.partialData),\n      deterministicGate: {\n        mode: selectedMode,\n        modeSelectionSource,\n        hasDeterministicDelta,\n        hasActionableInsight,\n        noMessage,\n      },\n    },\n  },\n}];\n"
      },
      "id": "28",
      "name": "Delivery Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        256
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1uLVZ2b6Ra-r2KCbLHcOL68V6smtxymfTCNNQnWPG8mI",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "MoMoer",
          "mode": "name"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "id": "42",
      "name": "Get Members",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2624,
        256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3i6vDJxzaxXLHIWl",
          "name": "Google account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const request = $('Normalize Request').first().json || {};\nconst context = $('Normalize Sprint Context').first().json || {};\nconst gate = $('Delivery Gate').first().json || {};\nconst semanticOutput = gate.semanticOutput || {};\nconst narrativeOutput = gate.narrativeOutput || {};\nconst messageLanguage = String(gate.messageLanguage || request.monitorConfig?.messageLanguage || 'en').trim().toLowerCase() === 'vi' ? 'vi' : 'en';\n\nfunction asText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction asArray(value) {\n  return Array.isArray(value) ? value : [];\n}\n\nfunction asNumber(value, fallback = 0) {\n  const parsed = Number(value);\n  return Number.isFinite(parsed) ? parsed : fallback;\n}\n\nfunction t(english, vietnamese) {\n  return messageLanguage === 'vi' ? vietnamese : english;\n}\n\nfunction normalizeEmail(value) {\n  const email = asText(value).toLowerCase();\n  return email.includes('@') ? email : '';\n}\n\nfunction extractHandleFromEmail(value) {\n  const email = normalizeEmail(value);\n  return email ? email.split('@')[0] : '';\n}\n\nfunction rewriteLegacyTokens(text) {\n  return asText(text)\n    .replace(/@PIC\\b/gi, '@ASSIGNEE')\n    .replace(/@REVIEWER\\b/gi, '@OWNER')\n    .replace(/@QC\\b/gi, '@QCS');\n}\n\nfunction tokenDisplayText(token) {\n  const upper = asText(token).replace(/^@/, '').toUpperCase();\n  if (upper === 'LEAD') return '@Lead';\n  if (upper === 'PM') return '@PM';\n  if (upper === 'ASSIGNEE') return '@ASSIGNEE';\n  if (upper === 'OWNER') return '@OWNER';\n  if (upper === 'QCS') return '@QCS';\n  return '@' + asText(token).replace(/^@/, '');\n}\n\nconst memberRows = $input.all().map((item) => item?.json || {});\nconst directoryByKey = new Map();\n\nfunction registerDirectoryKey(rawKey, entry) {\n  const key = asText(rawKey).replace(/^@/, '').toLowerCase();\n  if (!key || directoryByKey.has(key)) return;\n  directoryByKey.set(key, entry);\n}\n\nfor (const row of memberRows) {\n  const normalized = {};\n  for (const [key, value] of Object.entries(row || {})) {\n    normalized[String(key || '').trim().toLowerCase()] = value;\n  }\n  const email = normalizeEmail(normalized.email);\n  const id = asText(normalized.id);\n  const name = asText(normalized.name || normalized.display_name || normalized.displayname);\n  const handle = extractHandleFromEmail(email);\n  if (!id || !email) continue;\n  const entry = {\n    id,\n    email,\n    name,\n    handle,\n    mentionText: '<users/' + id + '>',\n  };\n  registerDirectoryKey(email, entry);\n  registerDirectoryKey(handle, entry);\n  registerDirectoryKey(name, entry);\n}\n\nfunction resolveMemberFromToken(token) {\n  const key = asText(token).replace(/^@/, '').toLowerCase();\n  if (!key) return null;\n  return directoryByKey.get(key) || null;\n}\n\nfunction renderLineMentions(lineKind, rawLine) {\n  const sourceLine = rewriteLegacyTokens(rawLine);\n  const appendedMentions = [];\n  const resolvedPeople = [];\n  const roleTokens = [];\n\n  const renderedText = asText(sourceLine).replace(/(^|[\\s(/])@([A-Za-z0-9._-]{2,64})\\b/g, (full, prefix, rawToken) => {\n    const token = asText(rawToken);\n    const upper = token.toUpperCase();\n    if (!token) return full;\n\n    if (['PM', 'LEAD', 'ASSIGNEE', 'OWNER', 'QCS'].includes(upper)) {\n      roleTokens.push('@' + upper);\n      return prefix + '*' + tokenDisplayText(token) + '*';\n    }\n\n    const member = resolveMemberFromToken(token);\n    if (member?.mentionText) {\n      const handle = asText(member.handle || token).replace(/^@/, '').toLowerCase();\n      appendedMentions.push(member.mentionText);\n      resolvedPeople.push({\n        token: '@' + token,\n        handle,\n        mentionText: member.mentionText,\n        displayName: asText(member.name || member.email || handle),\n      });\n      return prefix + '*@' + handle + '*';\n    }\n\n    return prefix + '*@' + token + '*';\n  });\n\n  return {\n    lineKind,\n    text: renderedText,\n    resolvedPeople,\n    roleTokens,\n    appendedMentionIds: Array.from(new Set(appendedMentions)),\n  };\n}\n\nfunction cleanLine(value) {\n  return asText(value).replace(/^[-*•\\s]+/, '').trim();\n}\n\nconst sprint = context.sprint || {};\nconst tasks = asArray(context.tasks);\nconst selectedMode = asText(gate.selectedMode, 'scan');\nconst isNearEnd = Boolean(gate.isNearEnd);\nconst deliverableIssues = asArray(gate.deliverableIssues);\nconst deltaIssues = asArray(gate.deltaDeliverableIssues).length > 0\n  ? asArray(gate.deltaDeliverableIssues)\n  : deliverableIssues;\n\nconst notStartedCount = tasks.filter((task) => asText(task.status) === 'Open').length;\nconst reviewCount = tasks.filter((task) => ['Ready For Review', 'In Review'].includes(asText(task.status))).length;\nconst blockedCount = tasks.filter((task) => asArray(task.blocked_by).length > 0).length;\nconst doneTasks = tasks.filter((task) => ['Ready For Review', 'In Review', 'Ready For Release', 'Close'].includes(asText(task.status))).length;\nconst totalTasks = tasks.length;\nconst donePoints = asNumber(sprint.completed_points, 0);\nconst totalPoints = asNumber(sprint.committed_points, 0);\nconst burnedPercent = totalPoints > 0 ? Number(((donePoints / totalPoints) * 100).toFixed(1)) : null;\nconst elapsedRatio = asNumber(sprint.elapsed_ratio, 0);\nconst daysLeft = asNumber(sprint.days_remaining, 0);\n\nconst statusMap = {\n  likely_on_track: t('on track', 'on track'),\n  at_risk_but_recoverable: t('at risk', 'at risk'),\n  likely_spillover: t('likely spillover', 'likely spillover'),\n};\nconst sprintStatus = statusMap[asText(gate.sprintAssessment?.delivery_outlook || semanticOutput.summary?.delivery_outlook)] || t('at risk', 'at risk');\n\nfunction buildDeterministicUrgency() {\n  const parts = [];\n  if (daysLeft > 0) parts.push(t(String(daysLeft) + ' days left', 'Còn ' + String(daysLeft) + ' ngày'));\n  if (daysLeft === 0) parts.push(t('last sprint day', 'Ngày cuối sprint'));\n  if (totalPoints > 0) {\n    parts.push(t(String(donePoints) + '/' + String(totalPoints) + ' pts done', String(donePoints) + '/' + String(totalPoints) + ' điểm đã xong'));\n  }\n  const highPressure = (daysLeft > 0 && daysLeft <= 4) || elapsedRatio >= 0.55 || (burnedPercent !== null && burnedPercent < 40);\n  if (highPressure) {\n    parts.push(t('scope pressure is high; re-prioritize today', 'áp lực scope cao; cần chốt ưu tiên hôm nay'));\n  }\n  return parts.join(' · ');\n}\n\nfunction fallbackMainBlocker() {\n  const issue = deliverableIssues[0] || {};\n  return asText(issue.narrative?.why_now)\n    || asText(issue.semantic_raw?.why_now)\n    || t('Main blocker needs a decision today.', 'Main blocker cần một quyết định trong hôm nay.');\n}\n\nfunction fallbackQuickWin() {\n  const quick = deliverableIssues.find((issue) => issue.is_quick_win) || {};\n  return asText(quick.narrative?.why_now)\n    || t('Clear the nearest review/test ownership to convert waiting tasks to done.', 'Gỡ owner review/test gần done nhất để chốt task trong hôm nay.');\n}\n\nfunction fallbackDecisionToday() {\n  return isNearEnd\n    ? t('@PM/@Lead lock salvage, de-scope, or carryover before day end.', '@PM/@Lead chốt salvage, de-scope hoặc carryover trước cuối ngày.')\n    : t('@PM/@Lead lock must-land scope today for blocker resolution.', '@PM/@Lead cần khóa must-land scope hôm nay để unblock sprint.');\n}\n\nlet urgencyLine = '';\nlet mainBlockerLine = '';\nlet quickWinLine = '';\nlet decisionTodayLine = '';\nlet scanDeltaLines = [];\nlet lineMentions = [];\n\nif (selectedMode === 'review') {\n  urgencyLine = cleanLine(narrativeOutput.urgency) || buildDeterministicUrgency();\n  mainBlockerLine = cleanLine(narrativeOutput.main_blocker) || fallbackMainBlocker();\n  quickWinLine = cleanLine(narrativeOutput.quick_win) || fallbackQuickWin();\n  decisionTodayLine = cleanLine(narrativeOutput.decision_today) || fallbackDecisionToday();\n\n  lineMentions = [\n    renderLineMentions('mainBlocker', mainBlockerLine),\n    renderLineMentions('quickWin', quickWinLine),\n    renderLineMentions('decisionToday', decisionTodayLine),\n  ].filter((line) => asText(line.text));\n\n  mainBlockerLine = asText(lineMentions.find((line) => line.lineKind === 'mainBlocker')?.text || mainBlockerLine);\n  quickWinLine = asText(lineMentions.find((line) => line.lineKind === 'quickWin')?.text || quickWinLine);\n  decisionTodayLine = asText(lineMentions.find((line) => line.lineKind === 'decisionToday')?.text || decisionTodayLine);\n} else {\n  const narrativeScanLines = asArray(narrativeOutput.scan_delta_lines).map((line) => cleanLine(line)).filter(Boolean).slice(0, 3);\n\n  const deterministicScanLines = deltaIssues.slice(0, 3).map((issue) => {\n    const reasons = [];\n    if (issue.changeFlags?.newIssue) reasons.push(t('new', 'mới'));\n    if (issue.changeFlags?.severityIncrease) reasons.push(t('severity up', 'tăng mức độ'));\n    if (issue.changeFlags?.materialChange) reasons.push(t('material change', 'đổi ngữ nghĩa'));\n    if (issue.changeFlags?.newGoalBlocker) reasons.push(t('goal blocker', 'block mục tiêu'));\n\n    const reasonText = reasons.length > 0 ? ' [' + reasons.join(', ') + ']' : '';\n    const keyText = asText(issue.entity_id || issue.issue_key || issue.risk_type);\n    const whyText = asText(issue.narrative?.why_now || issue.semantic_raw?.why_now || issue.recommended_action || issue.risk_type);\n    const mentionEmail = asText(issue.mentions_needed?.[0]?.email).toLowerCase();\n    const mentionHandle = mentionEmail.includes('@') ? '@' + mentionEmail.split('@')[0] : '';\n\n    return t('Delta', 'Delta') + ': ' + keyText + ' — ' + whyText + reasonText + (mentionHandle ? ' ' + mentionHandle : '');\n  });\n\n  const finalScanLines = (narrativeScanLines.length > 0 ? narrativeScanLines : deterministicScanLines).slice(0, 3);\n  const rendered = finalScanLines.map((line) => renderLineMentions('scanDelta', line));\n  lineMentions = rendered.filter((line) => asText(line.text));\n  scanDeltaLines = lineMentions.map((line) => asText(line.text)).filter(Boolean).slice(0, 3);\n}\n\nconst mentionTail = Array.from(\n  new Set(\n    lineMentions.flatMap((line) => asArray(line.appendedMentionIds).map((mention) => asText(mention)).filter(Boolean)),\n  ),\n).join(' ');\n\nconst metricsLines = [\n  t('Team passed', 'Team passed') + ': ' + doneTasks + '/' + Math.max(0, totalTasks) + ' ' + t('tasks', 'tasks') + ' — ' + donePoints + '/' + (totalPoints || 0) + ' pts — ' + (burnedPercent === null ? 'n/a' : String(burnedPercent) + '%') + ' ' + t('burned', 'burned'),\n];\nconst keySignals = [\n  t('Blocked', 'Blocked') + ': ' + blockedCount + ' ' + t('tasks', 'tasks'),\n  t('In review', 'In review') + ': ' + reviewCount + ' ' + t('tasks', 'tasks'),\n  t('Not started', 'Not started') + ': ' + notStartedCount + ' ' + t('tasks', 'tasks'),\n];\n\nreturn [{\n  json: {\n    selectedMode,\n    isNearEnd,\n    messageLanguage,\n    threadKey: 'sprint-monitor-' + request.runId,\n    sprintStatus,\n    daysLeft,\n    metricsLines,\n    keySignals: keySignals.filter(Boolean).slice(0, 4),\n    urgencyLine,\n    mainBlockerLine,\n    quickWinLine,\n    decisionTodayLine,\n    scanDeltaLines,\n    mentionTail,\n    lineMentions,\n    deliveryIssueKeys: deliverableIssues.map((issue) => issue.issue_key),\n  },\n}];\n"
      },
      "id": "43",
      "name": "Build Render Model",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const request = $('Normalize Request').first().json || {};\nconst gate = $('Delivery Gate').first().json || {};\nconst render = $('Build Render Model').first().json || {};\nconst messageLanguage = String(render.messageLanguage || request.monitorConfig?.messageLanguage || 'en').trim().toLowerCase() === 'vi' ? 'vi' : 'en';\n\nfunction asText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction asArray(value) {\n  return Array.isArray(value) ? value : [];\n}\n\nfunction t(english, vietnamese) {\n  return messageLanguage === 'vi' ? vietnamese : english;\n}\n\nfunction compactLines(lines) {\n  return asArray(lines).map((line) => asText(line)).filter(Boolean);\n}\n\nfunction renderJiraLinks(text) {\n  const raw = asText(text);\n  const baseUrl = asText(request.monitorConfig?.jiraBaseUrl).replace(/\\/+$/, '');\n  const projectKey = asText(request.monitorConfig?.jiraProjectKey).toUpperCase();\n  if (!raw || !baseUrl) return raw;\n\n  function toLink(issueKey, label = issueKey) {\n    return '<' + baseUrl + '/browse/' + encodeURIComponent(issueKey) + '|' + label + '>';\n  }\n\n  try {\n    let rendered = raw.replace(/[A-Z][A-Z0-9]+-\\d+/g, (cardId) => toLink(cardId, cardId));\n\n    if (projectKey) {\n      rendered = rendered.replace(/\\b\\d{3,7}(?:\\s*[/,]\\s*\\d{3,7})+\\b/g, (chunk) => {\n        return chunk\n          .split(/(\\s*[/,]\\s*)/)\n          .map((part) => {\n            const token = part.trim();\n            if (!/^\\d{3,7}$/.test(token)) return part;\n            const issueKey = projectKey + '-' + token;\n            return toLink(issueKey, issueKey);\n          })\n          .join('');\n      });\n    }\n\n    return rendered;\n  } catch (error) {\n    return raw;\n  }\n}\n\nconst mode = asText(render.selectedMode || gate.selectedMode, 'scan');\nconst deliveries = [];\nlet narrativeLines = [];\n\nif (!gate.noMessage && gate.sendUnifiedDigest && request.monitorConfig?.gchatUnifiedWebhook) {\n  if (mode === 'scan') {\n    const scanLines = compactLines(render.scanDeltaLines).slice(0, 3);\n    narrativeLines = scanLines.map((line) => '• ' + line);\n    const narrativeBody = narrativeLines.join('\\n');\n    const narrativeWithMentionTail = asText(render.mentionTail)\n      ? narrativeBody + '\\n' + asText(render.mentionTail)\n      : narrativeBody;\n    const narrativeText = renderJiraLinks(narrativeWithMentionTail);\n\n    deliveries.push({\n      destination: request.monitorConfig.gchatUnifiedWebhook,\n      destinationType: 'google_chat_unified',\n      messageType: 'unified_digest_text',\n      threadKey: asText(render.threadKey),\n      auditText: narrativeText,\n      payload: {\n        text: narrativeText,\n      },\n      issueKeys: asArray(render.deliveryIssueKeys),\n    });\n  } else {\n    const labelUrgency = t('Urgency', 'Khẩn cấp');\n    const labelMainBlocker = t('Main blocker', 'Blocker chính');\n    const labelQuickWin = t('Quick win', 'Quick win');\n    const labelDecisionToday = t('Decision today', 'Quyết định hôm nay');\n\n    if (asText(render.urgencyLine)) narrativeLines.push('• ' + labelUrgency + ': ' + render.urgencyLine);\n    if (asText(render.mainBlockerLine)) narrativeLines.push('• ' + labelMainBlocker + ': ' + render.mainBlockerLine);\n    if (asText(render.quickWinLine)) narrativeLines.push('• ' + labelQuickWin + ': ' + render.quickWinLine);\n    if (asText(render.decisionTodayLine)) narrativeLines.push('• ' + labelDecisionToday + ': ' + render.decisionTodayLine);\n\n    const narrativeBody = narrativeLines.join('\\n');\n    const narrativeWithMentionTail = asText(render.mentionTail)\n      ? narrativeBody + '\\n' + asText(render.mentionTail)\n      : narrativeBody;\n    const narrativeText = renderJiraLinks(narrativeWithMentionTail);\n\n    const cardPayload = {\n      cardsV2: [\n        {\n          cardId: 'sprint-monitor-unified-digest',\n          card: {\n            sections: [\n              {\n                widgets: [\n                  {\n                    decoratedText: {\n                      text: '<b>' + t('Sprint status', 'Trạng thái sprint') + ': ' + asText(render.sprintStatus, t('at risk', 'at risk')) + '</b><br>' + t('Days left', 'Số ngày còn lại') + ': ' + String(render.daysLeft ?? 0),\n                      wrapText: true,\n                    },\n                  },\n                  {\n                    decoratedText: {\n                      text: compactLines(render.metricsLines).join('<br>'),\n                      wrapText: true,\n                    },\n                  },\n                  {\n                    decoratedText: {\n                      text: compactLines(render.keySignals).join('<br>'),\n                      wrapText: true,\n                    },\n                  },\n                ],\n              },\n            ],\n          },\n        },\n      ],\n    };\n\n    deliveries.push({\n      destination: request.monitorConfig.gchatUnifiedWebhook,\n      destinationType: 'google_chat_unified',\n      messageType: 'unified_digest_card',\n      threadKey: asText(render.threadKey),\n      auditText: t('Sprint status', 'Trạng thái sprint') + ': ' + asText(render.sprintStatus) + ' | ' + t('Days left', 'Số ngày còn lại') + ': ' + String(render.daysLeft ?? 0),\n      payload: cardPayload,\n      issueKeys: asArray(render.deliveryIssueKeys),\n    });\n    deliveries.push({\n      destination: request.monitorConfig.gchatUnifiedWebhook,\n      destinationType: 'google_chat_unified',\n      messageType: 'unified_digest_text',\n      threadKey: asText(render.threadKey),\n      auditText: narrativeText,\n      payload: {\n        text: narrativeText,\n      },\n      issueKeys: asArray(render.deliveryIssueKeys),\n    });\n  }\n}\n\nreturn [{\n  json: {\n    selectedMode: mode,\n    messageLanguage,\n    noMessage: gate.noMessage,\n    deliveries,\n    lineMentions: asArray(render.lineMentions),\n    mentionTail: asText(render.mentionTail),\n    deliveryCount: deliveries.length,\n    deliverySummary: {\n      mode,\n      messageLanguage,\n      requestedCount: deliveries.length,\n      unifiedDigestRequested: deliveries.length > 0,\n      threadMessageCount: deliveries.length,\n      lineMentions: asArray(render.lineMentions),\n    },\n  },\n}];\n"
      },
      "id": "34",
      "name": "Build Delivery Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3072,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-deliveries",
              "leftValue": "={{ $json.deliveryCount > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "35",
      "name": "If Has Deliveries?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3296,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const deliveryPayload = $('Build Delivery Messages').first().json || {};\nconst deliveries = Array.isArray(deliveryPayload.deliveries) ? deliveryPayload.deliveries : [];\n\nreturn deliveries.map((delivery, index) => ({\n  json: {\n    requestUrl: delivery.destination + (delivery.destination.includes('?') ? '&' : '?') + 'threadKey=' + encodeURIComponent(String(delivery.threadKey || '')) + '&messageReplyOption=' + encodeURIComponent('REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD'),\n    requestBody: delivery.payload,\n    messageType: delivery.messageType,\n    destinationType: delivery.destinationType,\n    issueKeys: delivery.issueKeys || [],\n    auditText: delivery.auditText || '',\n    requestIndex: index,\n  },\n}));"
      },
      "id": "36",
      "name": "Expand Delivery Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        184
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.requestUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "37",
      "name": "Send Google Chat Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3744,
        184
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map((item) => item?.json || {});\nconst successCount = items.filter((item) => Number(item.statusCode || 0) > 0 && Number(item.statusCode) < 400).length;\nconst failureCount = items.filter((item) => Number(item.statusCode || 0) >= 400).length;\n\nreturn [{\n  json: {\n    attemptedCount: items.length,\n    successCount,\n    failureCount,\n    status: items.length === 0\n      ? 'skipped'\n      : (failureCount === 0 ? 'delivered' : (successCount > 0 ? 'partial' : 'failed')),\n    responses: items,\n  },\n}];"
      },
      "id": "38",
      "name": "Aggregate Deliveries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3968,
        184
      ]
    },
    {
      "parameters": {
        "jsCode": "const request = $('Normalize Request').first().json || {};\nconst context = $('Normalize Sprint Context').first().json || {};\nconst signals = $('Compute Signals').first().json || {};\nconst gate = $('Delivery Gate').first().json || {};\nconst deliveryPayload = $('Build Delivery Messages').first().json || {};\nconst deliveryAggregate = (() => {\n  try {\n    return $('Aggregate Deliveries').first().json || {};\n  } catch (error) {\n    return {};\n  }\n})();\n\nfunction asText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction asNumber(value, fallback = 0) {\n  const parsed = Number(value);\n  return Number.isFinite(parsed) ? parsed : fallback;\n}\n\nfunction asArray(value) {\n  return Array.isArray(value) ? value : [];\n}\n\nfunction asObject(value) {\n  return value && typeof value === 'object' && !Array.isArray(value) ? value : {};\n}\n\nfunction sqlText(value) {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  return \"'\" + String(value).replace(/'/g, \"''\") + \"'\";\n}\n\nfunction sqlJson(value) {\n  return \"'\" + JSON.stringify(value ?? {}).replace(/'/g, \"''\") + \"'::jsonb\";\n}\n\nfunction sqlNumeric(value) {\n  const parsed = Number(value);\n  return Number.isFinite(parsed) ? String(parsed) : 'NULL';\n}\n\nfunction hasValidTimestamp(value) {\n  const date = new Date(value);\n  return !Number.isNaN(date.getTime());\n}\n\nfunction normalizeRunStatus(rawStatus, fallbackStatus) {\n  const status = asText(rawStatus).toLowerCase();\n  if (status === 'delivered') return 'success';\n  if (status === 'skipped') return fallbackStatus;\n  if (['success', 'partial', 'failed', 'suppressed'].includes(status)) return status;\n  return fallbackStatus;\n}\n\nconst sprint = context.sprint || {};\nconst tasks = asArray(context.tasks);\nconst activityExcerpts = asArray(context.activityExcerpts);\nconst sprintSignals = signals.sprintSignals || {};\nconst deliverableIssues = asArray(gate.deliverableIssues);\nconst responses = asArray(deliveryAggregate.responses);\nconst deliveries = asArray(deliveryPayload.deliveries);\nconst selectedMode = asText(gate.selectedMode, asText(request.runType, 'scan'));\nconst modeSelectionSource = asText(gate.modeSelectionSource, 'auto');\nconst isNearEnd = Boolean(gate.isNearEnd);\nconst messageLanguage = asText(gate.messageLanguage || deliveryPayload.messageLanguage || request.monitorConfig?.messageLanguage, 'en');\n\nconst tasksForPersist = tasks.filter((task) => asText(task.task_id) && asText(task.key) && asText(task.title));\nconst activityExcerptsForPersist = activityExcerpts.filter((item) => asText(item.task_id) && asText(item.event_type) && asText(item.source) && asText(item.text) && hasValidTimestamp(item.at));\n\nconst retroNotes = selectedMode === 'review' && isNearEnd\n  ? deliverableIssues.slice(0, 3).map((issue) => ({\n      note_type: 'retro_candidate',\n      severity: issue.severity || 'medium',\n      content: asText(issue.narrative?.why_now || issue.semantic_raw?.why_now || issue.recommended_action),\n      source_issue_key: issue.issue_key,\n    }))\n  : [];\n\nlet statements = [];\n\nstatements.push([\n  'INSERT INTO runs (id, team_id, board_id, sprint_id, workflow_name, run_type, status, no_message, partial_data, issue_count_detected, issue_count_delivered, started_at, finished_at, duration_ms, summary_json, error_json)',\n  'VALUES (',\n  sqlText(request.runId) + ',',\n  sqlText(request.monitorConfig?.teamId) + ',',\n  sqlText(request.monitorConfig?.boardId) + ',',\n  sqlText(sprint.sprint_id || sprint.id) + ',',\n  sqlText(request.workflowName) + ',',\n  sqlText(selectedMode) + ',',\n  sqlText(normalizeRunStatus(deliveryAggregate.status, gate.noMessage ? 'suppressed' : (context.partialData ? 'partial' : 'success'))) + ',',\n  gate.noMessage ? 'true' : 'false',\n  ',',\n  context.partialData ? 'true' : 'false',\n  ',',\n  sqlNumeric(deliverableIssues.length) + ',',\n  sqlNumeric(deliveryAggregate.successCount || 0) + ',',\n  sqlText(request.generatedAt) + ',',\n  sqlText(new Date().toISOString()) + ',',\n  sqlNumeric(0) + ',',\n  sqlJson({\n    selectedMode,\n    modeSelectionSource,\n    modeSelectionSourceV2: modeSelectionSource,\n    isNearEnd,\n    modeSelection: gate.modeSelection || {},\n    messageLanguage,\n    modeLanguage: {\n      reasoningLanguage: 'en',\n      messageLanguage,\n    },\n    sprintAssessment: gate.sprintAssessment || {},\n    sprintSignals,\n    deliverySummary: deliveryPayload.deliverySummary || {},\n    deterministicGate: gate.deterministicGate || {},\n  }) + ',',\n  sqlJson({\n    failureReason: context.failureReason || '',\n  }),\n  ');',\n].join(' '));\n\nstatements.push([\n  'INSERT INTO sprint_snapshots (team_id, board_id, sprint_id, sprint_name, sprint_goal, start_at, end_at, timezone, committed_points, added_scope_points, completed_points, remaining_points, snapshot_at, raw_json)',\n  'VALUES (',\n  sqlText(request.monitorConfig?.teamId) + ',',\n  sqlText(request.monitorConfig?.boardId) + ',',\n  sqlText(sprint.sprint_id || sprint.id) + ',',\n  sqlText(sprint.sprint_name) + ',',\n  sqlText(sprint.sprint_goal) + ',',\n  sqlText(sprint.start_at) + ',',\n  sqlText(sprint.end_at) + ',',\n  sqlText(sprint.timezone || request.monitorConfig?.timezone) + ',',\n  sqlNumeric(sprint.committed_points) + ',',\n  sqlNumeric(sprint.added_scope_points || 0) + ',',\n  sqlNumeric(sprint.completed_points) + ',',\n  sqlNumeric(sprint.remaining_points) + ',',\n  sqlText(request.generatedAt) + ',',\n  sqlJson(sprint),\n  ');',\n].join(' '));\n\nif (tasksForPersist.length > 0) {\n  statements.push('INSERT INTO task_snapshots (team_id, sprint_id, task_id, task_key, title, task_type, priority, assignee_id, assignee_name, reviewer_ids, status, status_category, story_points, created_at_source, updated_at_source, done_at_source, epic_id, labels, dependencies, dependents, blocked_by, due_at, snapshot_at, raw_json) VALUES');\n  statements.push(tasksForPersist.map((task) => [\n    '(',\n    sqlText(request.monitorConfig?.teamId) + ',',\n    sqlText(sprint.sprint_id || sprint.id) + ',',\n    sqlText(task.task_id) + ',',\n    sqlText(task.key) + ',',\n    sqlText(task.title) + ',',\n    sqlText(task.type) + ',',\n    sqlText(task.priority) + ',',\n    sqlText(task.assignee_id) + ',',\n    sqlText(task.assignee_name) + ',',\n    sqlJson(task.reviewer_ids || []) + ',',\n    sqlText(task.status) + ',',\n    sqlText(task.status_category) + ',',\n    sqlNumeric(task.story_points) + ',',\n    sqlText(task.created_at) + ',',\n    sqlText(task.updated_at) + ',',\n    sqlText(task.done_at) + ',',\n    sqlText(task.epic_id) + ',',\n    sqlJson(task.labels || []) + ',',\n    sqlJson(task.dependencies || []) + ',',\n    sqlJson(task.dependents || []) + ',',\n    sqlJson(task.blocked_by || []) + ',',\n    sqlText(task.due_at) + ',',\n    sqlText(request.generatedAt) + ',',\n    sqlJson(task),\n    ')',\n  ].join(' ')).join(',\\n') + ';');\n}\n\nif (activityExcerptsForPersist.length > 0) {\n  statements.push('INSERT INTO activity_excerpts (team_id, sprint_id, task_id, event_at, event_type, actor, source, text, ingested_at, raw_json) VALUES');\n  statements.push(activityExcerptsForPersist.map((item) => [\n    '(',\n    sqlText(request.monitorConfig?.teamId) + ',',\n    sqlText(sprint.sprint_id || sprint.id) + ',',\n    sqlText(item.task_id) + ',',\n    sqlText(item.at) + ',',\n    sqlText(item.event_type) + ',',\n    sqlText(item.actor) + ',',\n    sqlText(item.source) + ',',\n    sqlText(item.text) + ',',\n    sqlText(request.generatedAt) + ',',\n    sqlJson(item),\n    ')',\n  ].join(' ')).join(',\\n') + ';');\n}\n\nstatements.push([\n  'INSERT INTO signal_snapshots (team_id, sprint_id, signal_scope, signal_type, candidate_score, phase, signal_json, computed_at)',\n  'VALUES (',\n  sqlText(request.monitorConfig?.teamId) + ',',\n  sqlText(sprint.sprint_id || sprint.id) + ',',\n  sqlText('sprint') + ',',\n  sqlText('sprint_summary') + ',',\n  sqlNumeric(0) + ',',\n  sqlText(sprint.phase) + ',',\n  sqlJson(sprintSignals) + ',',\n  sqlText(request.generatedAt),\n  ');',\n].join(' '));\n\nfor (const task of asArray(signals.topCandidateTasks)) {\n  statements.push([\n    'INSERT INTO signal_snapshots (team_id, sprint_id, task_id, signal_scope, signal_type, candidate_score, phase, signal_json, computed_at)',\n    'VALUES (',\n    sqlText(request.monitorConfig?.teamId) + ',',\n    sqlText(sprint.sprint_id || sprint.id) + ',',\n    sqlText(task.task_id) + ',',\n    sqlText('task') + ',',\n    sqlText(task.risk_type_seed || 'candidate') + ',',\n    sqlNumeric(task.candidate_score) + ',',\n    sqlText(sprint.phase) + ',',\n    sqlJson(task) + ',',\n    sqlText(request.generatedAt),\n    ');',\n  ].join(' '));\n}\n\nif (deliverableIssues.length > 0) {\n  statements.push('INSERT INTO issues (issue_key, team_id, sprint_id, entity_type, entity_id, risk_type, severity, state, confidence, recommended_action, why_now, evidence, first_detected_at, last_seen_at, last_alerted_at, source_run_id, metadata_json) VALUES');\n  statements.push(deliverableIssues.map((issue) => {\n    const metadata = {\n      semantic_signature: asText(issue.semantic_signature),\n      semantic_json: {\n        entity_type: issue.entity_type,\n        entity_id: issue.entity_id,\n        risk_type: issue.risk_type,\n        severity: issue.severity,\n        recommended_action: issue.recommended_action,\n        action_owner_type: issue.action_owner_type,\n        decision_owner_type: issue.decision_owner_type,\n        execution_owner_type: issue.execution_owner_type,\n        phase: issue.phase,\n        is_goal_blocker: Boolean(issue.is_goal_blocker),\n        is_quick_win: Boolean(issue.is_quick_win),\n        blocking_entities: asArray(issue.blocking_entities),\n        blocked_entities: asArray(issue.blocked_entities),\n        evidence_refs: asArray(issue.evidence_refs),\n      },\n      narrative_json: {\n        why_now: asText(issue.narrative?.why_now || issue.semantic_raw?.why_now),\n      },\n      message_language: messageLanguage,\n      change_flags: issue.changeFlags || {},\n      suppression: issue.suppression || {},\n      mode: selectedMode,\n    };\n\n    return [\n      '(',\n      sqlText(issue.issue_key) + ',',\n      sqlText(request.monitorConfig?.teamId) + ',',\n      sqlText(sprint.sprint_id || sprint.id) + ',',\n      sqlText(issue.entity_type) + ',',\n      sqlText(issue.entity_id) + ',',\n      sqlText(issue.risk_type) + ',',\n      sqlText(issue.severity) + ',',\n      sqlText(deliveries.length > 0 ? 'escalated' : 'monitoring') + ',',\n      sqlNumeric(issue.confidence) + ',',\n      sqlText(issue.recommended_action) + ',',\n      sqlText(asText(issue.narrative?.why_now || issue.semantic_raw?.why_now)) + ',',\n      sqlJson(asArray(issue.evidence_refs)) + ',',\n      sqlText(request.generatedAt) + ',',\n      sqlText(request.generatedAt) + ',',\n      sqlText(deliveries.length > 0 ? request.generatedAt : null) + ',',\n      sqlText(request.runId) + ',',\n      sqlJson(metadata),\n      ')',\n    ].join(' ');\n  }).join(',\\n'));\n  statements.push([\n    'ON CONFLICT (issue_key) DO UPDATE SET',\n    'severity = EXCLUDED.severity,',\n    'state = EXCLUDED.state,',\n    'confidence = EXCLUDED.confidence,',\n    'recommended_action = EXCLUDED.recommended_action,',\n    'why_now = EXCLUDED.why_now,',\n    'evidence = EXCLUDED.evidence,',\n    'last_seen_at = EXCLUDED.last_seen_at,',\n    'last_alerted_at = EXCLUDED.last_alerted_at,',\n    'source_run_id = EXCLUDED.source_run_id,',\n    'metadata_json = EXCLUDED.metadata_json;',\n  ].join(' '));\n}\n\nfor (let index = 0; index < deliveries.length; index += 1) {\n  const delivery = deliveries[index];\n  const response = responses[index] || {};\n  const sent = Number(response.statusCode || 0) > 0 && Number(response.statusCode || 0) < 400;\n\n  statements.push([\n    'INSERT INTO interventions (run_id, issue_key, delivery_channel, destination, action_type, message_text, delivered_at, delivery_status, metadata_json) VALUES (',\n    sqlText(request.runId) + ',',\n    sqlText((delivery.issueKeys || [])[0] || '') + ',',\n    sqlText(delivery.destinationType || 'google_chat_unified') + ',',\n    sqlText(delivery.destination) + ',',\n    sqlText(delivery.messageType) + ',',\n    sqlText(delivery.auditText || delivery.payload?.text || '') + ',',\n    sqlText(sent ? request.generatedAt : null) + ',',\n    sqlText(sent ? 'sent' : 'failed') + ',',\n    sqlJson({ ...response, messageLanguage, selectedMode }),\n    ');',\n  ].join(' '));\n\n  statements.push([\n    'INSERT INTO message_deliveries (run_id, message_type, destination, payload_json, response_code, response_body, status, sent_at) VALUES (',\n    sqlText(request.runId) + ',',\n    sqlText(delivery.messageType) + ',',\n    sqlText(delivery.destination) + ',',\n    sqlJson(delivery.payload) + ',',\n    sqlNumeric(response.statusCode) + ',',\n    sqlText(JSON.stringify(response.body || response)) + ',',\n    sqlText(sent ? 'sent' : 'failed') + ',',\n    sqlText(request.generatedAt),\n    ');',\n  ].join(' '));\n}\n\nfor (const note of retroNotes) {\n  statements.push([\n    'INSERT INTO retro_notes (team_id, sprint_id, note_type, severity, content, source_issue_key, source_run_id, created_at) VALUES (',\n    sqlText(request.monitorConfig?.teamId) + ',',\n    sqlText(sprint.sprint_id || sprint.id) + ',',\n    sqlText(note.note_type) + ',',\n    sqlText(note.severity) + ',',\n    sqlText(note.content) + ',',\n    sqlText(note.source_issue_key) + ',',\n    sqlText(request.runId) + ',',\n    sqlText(request.generatedAt),\n    ');',\n  ].join(' '));\n}\n\nreturn [{\n  json: {\n    persistQuery: statements.join('\\n'),\n    persistSummary: {\n      selectedMode,\n      modeSelectionSource,\n      messageLanguage,\n      taskSnapshots: tasksForPersist.length,\n      activityExcerpts: activityExcerptsForPersist.length,\n      issueUpserts: deliverableIssues.length,\n      deliveryRows: deliveries.length,\n      retroNotes: retroNotes.length,\n    },\n  },\n}];\n"
      },
      "id": "39",
      "name": "Build Persist Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4192,
        256
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.persistQuery }}",
        "options": {
          "queryBatching": "single"
        }
      },
      "id": "40",
      "name": "Persist Run State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4416,
        256
      ],
      "credentials": {
        "postgres": {
          "id": "hNw1lfcclrZjlInz",
          "name": "Sprint Monitor Postgres"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const request = $('Normalize Request').first().json || {};\nconst gate = $('Delivery Gate').first().json || {};\nconst deliveryPayload = $('Build Delivery Messages').first().json || {};\nconst persistPayload = $('Build Persist Query').first().json || {};\nconst deliveryAggregate = (() => {\n  try {\n    return $('Aggregate Deliveries').first().json || {};\n  } catch (error) {\n    return {};\n  }\n})();\n\nfunction normalizeRunStatus(rawStatus, fallbackStatus) {\n  const status = String(rawStatus || '').trim().toLowerCase();\n  if (status === 'delivered') return 'success';\n  if (status === 'skipped') return fallbackStatus;\n  if (status === 'failed') return 'partial';\n  if (['success', 'partial', 'suppressed'].includes(status)) return status;\n  return fallbackStatus;\n}\n\nconst status = gate.noMessage\n  ? 'success'\n  : normalizeRunStatus(deliveryAggregate.status, gate.summaryJson?.partialData ? 'partial' : 'success');\n\nreturn [{\n  json: {\n    runId: request.runId,\n    selectedMode: gate.selectedMode || request.runType || 'scan',\n    modeSelectionSource: gate.modeSelectionSource || 'auto',\n    modeSelectionSourceV2: gate.modeSelectionSource || 'auto',\n    messageLanguage: gate.messageLanguage || request.monitorConfig?.messageLanguage || 'en',\n    status,\n    noMessage: Boolean(gate.noMessage),\n    summaryJson: {\n      ...(gate.summaryJson || {}),\n      selectedMode: gate.selectedMode || request.runType || 'scan',\n      modeSelectionSource: gate.modeSelectionSource || 'auto',\n      messageLanguage: gate.messageLanguage || request.monitorConfig?.messageLanguage || 'en',\n      suppressionSummary: gate.suppressionSummary || {},\n      deterministicGate: gate.deterministicGate || {},\n      sprintAssessment: gate.sprintAssessment || {},\n    },\n    deliverySummary: {\n      ...(deliveryPayload.deliverySummary || {}),\n      deliveryStatus: deliveryAggregate.status || 'skipped',\n      successCount: Number(deliveryAggregate.successCount || 0),\n      failureCount: Number(deliveryAggregate.failureCount || 0),\n    },\n    persistSummary: persistPayload.persistSummary || {},\n  },\n}];\n"
      },
      "id": "41",
      "name": "Build Engine Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4640,
        256
      ]
    },
    {
      "parameters": {
        "toolDescription": "Sử dụng HTTP này lấy thông tin jira khi cần thêm thông tin. Không được để tông tin mơ hồ (như id phải quy ra name - trừ card Id).\nBase URL: https://atlassiansuite.mservice.com.vn:8443\nYêu cầu: Sử dụng Jira REST API v2.\n",
        "method": "={{ $fromAI('method', 'HTTP method to use (GET, POST, PUT, DELETE)', 'string') }}",
        "url": "={{ $fromAI('url', 'The full Jira API URL', 'string') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareServerPatApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={{ JSON.stringify($fromAI('queryParams', 'JSON object for query strings', 'json') || {}) }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('body', 'JSON object for the request body', 'json') || {} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        464,
        480
      ],
      "id": "d573ca72-9e8d-4d6b-80ea-79921c1ce951",
      "name": "HTTP Generic",
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "3TLwUpSgsJhbG45A",
          "name": "Jira MoMo account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Đọc sheet này để mapping \"<users/member_id>\" mục đích tag đúng user google chat",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1uLVZ2b6Ra-r2KCbLHcOL68V6smtxymfTCNNQnWPG8mI/edit?usp=drive_web&ouid=117576252668331810710",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "MoMoer",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $fromAI('by_email_1_value', ``, 'string') }}"
            },
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $fromAI('by_email_2_value', ``, 'string') }}"
            },
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $fromAI('by_email_3_value', ``, 'string') }}"
            },
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $fromAI('by_email_4_value', ``, 'string') }}"
            },
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $fromAI('by_email_5_value', ``, 'string') }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        592,
        480
      ],
      "id": "78a230d9-7eb3-47db-af29-4a5caaa287a0",
      "name": "Get Members1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3i6vDJxzaxXLHIWl",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const request = $('Normalize Request').first().json || {};\nconst signals = $('Compute Signals').first().json || {};\n\nfunction asText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction asNumber(value, fallback = 0) {\n  const parsed = Number(value);\n  return Number.isFinite(parsed) ? parsed : fallback;\n}\n\nfunction dayCodeAtTimezone(value, timezone) {\n  const date = value ? new Date(value) : new Date();\n  const weekday = new Intl.DateTimeFormat('en-US', {\n    weekday: 'short',\n    timeZone: timezone || 'UTC',\n  }).format(date);\n  const map = {\n    Sun: 0,\n    Mon: 1,\n    Tue: 2,\n    Wed: 3,\n    Thu: 4,\n    Fri: 5,\n    Sat: 6,\n  };\n  return map[weekday] ?? -1;\n}\n\nconst timezone = asText(request.monitorConfig?.timezone, 'Asia/Ho_Chi_Minh');\nconst generatedAt = asText(request.generatedAt, new Date().toISOString());\nconst daysRemaining = asNumber(signals.sprint?.days_remaining, asNumber(signals.sprintSignals?.days_remaining, 0));\nconst sprintPhase = asText(signals.sprintSignals?.phase || signals.sprint?.phase, 'mid');\nconst weekday = dayCodeAtTimezone(generatedAt, timezone);\nconst isReviewCheckpoint = weekday === 1 || weekday === 4; // Monday / Thursday\nconst isNearEnd = daysRemaining <= 1 || sprintPhase === 'endgame';\n\nconst triggerSource = asText(request.triggerSource, 'manual').toLowerCase();\nconst forceMode = asText(request.forceMode, 'auto').toLowerCase();\nconst hasManualOverride = triggerSource === 'manual' && ['scan', 'review'].includes(forceMode);\nconst selectedMode = hasManualOverride\n  ? forceMode\n  : ((isNearEnd || isReviewCheckpoint) ? 'review' : 'scan');\nconst modeSelectionSource = hasManualOverride ? 'manual_override' : 'auto';\n\nconst modePolicy = selectedMode === 'scan'\n  ? {\n      mode: 'scan',\n      objective: 'radar_silence_first',\n      allowMessageOnlyWhen: ['newIssue', 'severityIncrease', 'materialChange', 'newGoalBlocker'],\n      forbidFullDigest: true,\n    }\n  : {\n      mode: 'review',\n      objective: 'primary_checkin',\n      allowFullDigest: true,\n      enforceDecisionFraming: isNearEnd ? 'salvage_descope_carryover' : 'standard_checkin',\n    };\n\nreturn {\n  selectedMode,\n  modeSelectionSource,\n  hasManualOverride,\n  forceMode,\n  isNearEnd,\n  isReviewCheckpoint,\n  daysRemaining,\n  sprintPhase,\n  timezone,\n  weekday,\n  modePolicy,\n};"
      },
      "id": "44",
      "name": "Select Run Mode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        256
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Request": {
      "main": [
        [
          {
            "node": "Get Active Sprint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Sprint": {
      "main": [
        [
          {
            "node": "Pick Active Sprint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Active Sprint": {
      "main": [
        [
          {
            "node": "If Active Sprint?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Active Sprint?": {
      "main": [
        [
          {
            "node": "Get Sprint Issues",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build No Active Sprint Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build No Active Sprint Summary": {
      "main": [
        [
          {
            "node": "Build No Active Sprint Persist Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build No Active Sprint Persist Query": {
      "main": [
        [
          {
            "node": "Persist No Active Sprint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist No Active Sprint": {
      "main": [
        [
          {
            "node": "Build No Active Sprint Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sprint Issues": {
      "main": [
        [
          {
            "node": "Build GitLab Project Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build GitLab Project Items": {
      "main": [
        [
          {
            "node": "If Should Fetch GitLab?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Should Fetch GitLab?": {
      "main": [
        [
          {
            "node": "Get GitLab Merge Requests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Empty GitLab Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GitLab Merge Requests": {
      "main": [
        [
          {
            "node": "Aggregate GitLab Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Empty GitLab Signals": {
      "main": [
        [
          {
            "node": "Aggregate GitLab Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate GitLab Signals": {
      "main": [
        [
          {
            "node": "Normalize Sprint Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Sprint Context": {
      "main": [
        [
          {
            "node": "Build Comment Classifier Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Comment Classifier Inputs": {
      "main": [
        [
          {
            "node": "Comment Classifier AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment Classifier AI Agent": {
      "main": [
        [
          {
            "node": "Compute Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Comment Classifier Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Comment Classifier AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Comment Classifier Model": {
      "ai_languageModel": [
        [
          {
            "node": "Comment Classifier AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Compute Signals": {
      "main": [
        [
          {
            "node": "Build Prior State Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prior State Query": {
      "main": [
        [
          {
            "node": "Load Prior State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Prior State": {
      "main": [
        [
          {
            "node": "Select Run Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Judge Inputs": {
      "main": [
        [
          {
            "node": "Sprint Judge AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sprint Judge AI Agent": {
      "main": [
        [
          {
            "node": "Delivery Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Sprint Judgment Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Sprint Judge AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Sprint Judge Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sprint Judge AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Gate": {
      "main": [
        [
          {
            "node": "Get Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Members": {
      "main": [
        [
          {
            "node": "Build Render Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Render Model": {
      "main": [
        [
          {
            "node": "Build Delivery Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Delivery Messages": {
      "main": [
        [
          {
            "node": "If Has Deliveries?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Deliveries?": {
      "main": [
        [
          {
            "node": "Expand Delivery Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Persist Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Delivery Items": {
      "main": [
        [
          {
            "node": "Send Google Chat Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Google Chat Message": {
      "main": [
        [
          {
            "node": "Aggregate Deliveries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Deliveries": {
      "main": [
        [
          {
            "node": "Build Persist Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Persist Query": {
      "main": [
        [
          {
            "node": "Persist Run State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Run State": {
      "main": [
        [
          {
            "node": "Build Engine Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Generic": {
      "ai_tool": [
        [
          {
            "node": "Sprint Judge AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Comment Classifier AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Members1": {
      "ai_tool": [
        [
          {
            "node": "Comment Classifier AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Sprint Judge AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Select Run Mode": {
      "main": [
        [
          {
            "node": "Build Judge Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
