workflows/ui-synced/Jira/jira-ai-agent.workflow.json
{
  "name": "Jira AI Agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -992,
        -240
      ],
      "id": "manual-trigger-1",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jira-ai-agent",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -768,
        48
      ],
      "id": "webhook-1",
      "name": "Google Chat Webhook",
      "webhookId": "jira-ai-agent-chat-webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -768,
        240
      ],
      "id": "chat-trigger-1",
      "name": "Local Chat Trigger",
      "webhookId": "64b94d3a-18c3-46a5-8583-dd0b677ec0dc"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const payload = $json && typeof $json === 'object' ? $json : {};\n\nfunction toText(value) {\n  if (typeof value === 'string') return value.trim();\n  if (value == null) return '';\n  return String(value).trim();\n}\n\nconst body = payload.body && typeof payload.body === 'object' ? payload.body : null;\nif (body) {\n  const message = body.message && typeof body.message === 'object' ? body.message : {};\n  const space = body.space && typeof body.space === 'object' ? body.space : (message.space || {});\n  const thread = message.thread && typeof message.thread === 'object' ? message.thread : (body.thread || {});\n  const threadName = toText(thread.name || '');\n  const threadKey = threadName ? threadName.split('/').pop() : toText(message.name || body.messageId || body.eventTime || 'google-chat-thread');\n\n  let commandText = toText(message.argumentText || message.slashCommand?.commandName || message.text || '');\n  commandText = commandText.replace(/<users\\/[^>]+>/g, ' ').trim();\n\n  const spaceId = toText(space.name || '');\n  const sessionId = `${spaceId || 'google-chat'}:${threadKey || 'thread'}`;\n\n  return {\n    triggerSource: 'chat',\n    channel: 'googleChat',\n    commandText,\n    actorId: toText(body.user?.name || message.sender?.name || ''),\n    actorDisplayName: toText(body.user?.displayName || message.sender?.displayName || ''),\n    spaceId,\n    threadKey,\n    sessionId,\n  };\n}\n\nconst localCommandText = toText(payload.chatInput || payload.text || payload.message?.text || '');\nif (localCommandText || payload.userId || payload.sessionId || payload.threadKey || payload.thread) {\n  const actorId = toText(payload.actorId || payload.userId || payload.user?.id || 'n8n-chat-user');\n  const actorDisplayName = toText(payload.actorDisplayName || payload.userName || payload.user?.name || 'N8N Chat User');\n  const rawSpaceId = toText(payload.spaceId || '');\n  const rawThreadKey = toText(payload.threadKey || payload.thread || '');\n  const rawSessionId = toText(payload.sessionId || '');\n  const spaceId = rawSpaceId || 'n8n-chat';\n  const threadKey = rawThreadKey || rawSessionId || 'local-chat-thread';\n  const sessionId = rawSessionId || `${spaceId}:${threadKey}`;\n\n  return {\n    triggerSource: 'chat',\n    channel: 'n8nChatTrigger',\n    commandText: localCommandText || 'status sprint',\n    actorId,\n    actorDisplayName,\n    spaceId,\n    threadKey,\n    sessionId,\n  };\n}\n\nreturn {\n  triggerSource: 'manual',\n  channel: 'manualTrigger',\n  commandText: 'status sprint',\n  actorId: 'manual-trigger',\n  actorDisplayName: 'Manual Trigger',\n  spaceId: 'manual-trigger-space',\n  threadKey: 'manual-jira-ai-agent',\n  sessionId: 'manual-trigger-space:manual-jira-ai-agent',\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        48
      ],
      "id": "build-event-1",
      "name": "Build Event"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const config = {\n  jiraBaseUrl: 'https://atlassiansuite.mservice.com.vn:8443',\n  jiraApiVersion: '2',\n  timeZone: 'Asia/Ho_Chi_Minh',\n  ggChatWebhookUrl: 'https://chat.googleapis.com/v1/spaces/AAQAcu_P8pI/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=hi3fzzGkR1ri4uotTO2hoa08WxQjdbJbNHPHSJ1S71o',\n  googleChatReplyOption: 'REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD',\n  defaultLanguage: 'vi',\n  writeMode: 'inline-safe-writes',\n  nowIso: $now.setZone('Asia/Ho_Chi_Minh').toISO(),\n  project: \"EXPENSE\",\n  boardId: 1922\n};\n\nreturn { ...($json || {}), config };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        48
      ],
      "id": "config-main-1",
      "name": "Config Main"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const event = $('Config Main').first().json || {};\nconst config = event.config || {};\n\nfunction toText(value) {\n  if (typeof value === 'string') return value.trim();\n  if (value == null) return '';\n  if (typeof value === 'object') return JSON.stringify(value);\n  return String(value).trim();\n}\n\nconst deliveryDefaults = event.channel === 'system' ? ['pushGoogleChat'] : ['reply'];\nconst context = {\n  actor: {\n    id: toText(event.actorId || ''),\n    displayName: toText(event.actorDisplayName || event.actorId || 'Unknown'),\n  },\n  channel: toText(event.channel || 'manualTrigger'),\n  threadKey: toText(event.threadKey || `thread-${toText(config.nowIso || '')}`),\n  sessionId: toText(event.sessionId || ''),\n  messageText: toText(event.commandText || ''),\n  toolPolicy: {\n    preferredTool: 'Jira Tool',\n    writeMode: toText(config.writeMode || 'read-only'),\n  },\n  deliveryDefaults,\n  safeConfig: {\n    jiraBaseUrl: toText(config.jiraBaseUrl || ''),\n    jiraApiVersion: toText(config.jiraApiVersion || '2'),\n    jiraCoreApiBaseUrl: toText(config.jiraBaseUrl || '') + '/rest/api/2',\n    jiraAgileApiBaseUrl: toText(config.jiraBaseUrl || '') + '/rest/agile/1.0',\n    timeZone: toText(config.timeZone || 'Asia/Ho_Chi_Minh'),\n    defaultLanguage: toText(config.defaultLanguage || 'vi'),\n    nowIso: toText(config.nowIso || ''),\n    project: toText(config.project || ''),\n    boardId: toText(config.boardId || ''),\n  },\n};\n\nconst chatInput = [\n  'Standalone Jira AI Agent request',\n  'Return language: Vietnamese unless the user clearly asks otherwise.',\n  'No persistent state is available in this phase. Use only short memory window if present.',\n  'Context JSON:',\n  JSON.stringify(context, null, 2),\n].join('\\n');\n\nreturn { ...context, chatInput };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        48
      ],
      "id": "build-agent-context-1",
      "name": "Build Agent Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Bạn là Jira AI Agent chạy standalone trong n8n.\nMục tiêu: chat tự nhiên nhưng vận hành chặt chẽ, ngắn gọn, factual, bằng tiếng Việt mặc định.\nPhase hiện tại là INLINE_SAFE_WRITES.\n\nQuy tắc bắt buộc:\n- Phân loại yêu cầu thành 1 trong 4 intent: social, read, analyze, action.\n- Nếu chỉ là chào hỏi/cảm ơn/hỏi chuyện chung: trả lời tự nhiên, không cần gọi tool.\n- Nếu là Jira read/analyze/action: ưu tiên dùng `Jira Tool` trước; riêng khi cần lookup/filter project versions thì ưu tiên `jira_project_versions_query`.\n- Nếu issue payload đã có đủ dữ liệu để hành động hoặc trả lời thì không gọi thêm tool phụ chỉ để enrich lại cùng dữ liệu đó.\n- Không bịa dữ liệu Jira. Nếu thiếu issue key, board, project, sprint, version, transition, hoặc API không trả dữ liệu thì nói rõ thiếu gì.\n- Với action/write: chỉ thực thi khi yêu cầu user là rõ ràng và target đủ cụ thể.\n- Trước khi write, phải lấy đủ facts cần thiết trong cùng lượt chat, trừ khi target đã hoàn toàn rõ ràng và request không mơ hồ.\n- Ưu tiên mutation nhỏ nhất, ít side-effect nhất, đúng đúng thứ user yêu cầu.\n- Được phép same-turn Jira writes như comment, transition, assign/reassign, edit field, create issue/sub-task, add worklog, start/complete sprint, release version khi target rõ ràng.\n- Không dùng DELETE trong workflow này. Không chạy bulk write trên nhiều issue/sprint/version nếu user không yêu cầu rất rõ.\n- Sau khi write, phải nói rõ đã làm gì, trên target nào, và phần nào chưa làm được nếu có.\n- Không tự gọi HTTP transport trực tiếp. Nếu cần gửi một hoặc nhiều Google Chat message cùng thread, dùng tool `google_chat_batch_delivery` đúng 1 lần.\n- Sau khi đã gọi `google_chat_batch_delivery`, không trả lại các message `pushGoogleChat` trong output `messages[]`; output cuối chỉ giữ `reply` hoặc các message chưa được tool gửi.\n- Khi đã dùng tool này, `meta.usedTools` phải gồm `google_chat_batch_delivery`.\n- Output chỉ có 1 lớp delivery: top-level `thread` + top-level `messages[]`. Không dùng `deliveryPlan`, không bọc thêm object trung gian cho delivery.\n- Mỗi item trong `messages[]` chỉ gồm `destination` và `payload`. Không dùng `destinations[]`, không dùng `type`, không dùng `messageKey`.\n- `messages[].destination` chỉ được là `reply` hoặc `pushGoogleChat`.\n- Không được để `messages[].payload` rỗng (`{}`, `[]`, `null`, hoặc object chỉ có field rỗng).\n- Nếu không có lý do khác thì mặc định trả 1 message với `destination: \"reply\"`.\n- Giữ nguyên xuống dòng hữu ích trong `resultText`, không ép mọi thứ thành 1 dòng.\n- Phản hồi cuối cùng PHẢI là đúng 1 JSON object hợp lệ, không markdown, không code block, không prose ngoài JSON.\n- `toolName` luôn là `jiraAgent`.\n- `meta.intent` chỉ được là: read, analyze, action, social.\n- `meta.confidence` chỉ được là: low, medium, high.\n- `meta.usedTools` là mảng tên tool thực sự đã dùng. Nếu không dùng tool thì trả `[]`.\n\nQuy tắc mention người:\n- Khi Jira data có assignee, reporter, creator, owner, reviewer, approver hoặc người chịu trách nhiệm tương đương, hãy chủ động quy về người cụ thể nếu đủ chắc chắn.\n- Khi nói về người cần action trực tiếp, ưu tiên assignee hiện tại.\n- Khi cần người xác nhận bối cảnh/yêu cầu, ưu tiên reporter hoặc requester nếu có.\n- Khi cần người ra quyết định, ưu tiên explicit owner/lead từ dữ liệu; nếu không chắc thì dùng token vai trò.\n- Khi có email hoặc username/display name nhưng chưa chắc handle exact, chỉ dùng @handle khi dữ liệu Jira đã đủ chắc chắn hoặc để renderer phía sau tự map lại.\n- Khi nhắc đúng một người cụ thể trong text Google Chat, dùng handle dạng *@<local-part email>* theo format bold của Google Chat, ví dụ *@hai.nguyen8*.\n- Nếu chỉ biết vai trò mà không chắc người cụ thể, dùng token vai trò: @PM, @Lead, @ASSIGNEE, @OWNER, @QCS.\n- Không bịa handle. Chỉ dùng *@handle* khi có căn cứ từ dữ liệu Jira, Sheets hoặc ngữ cảnh rõ ràng.\n\nSchema bắt buộc:\n{\n  \"toolName\": \"jiraAgent\",\n  \"resultText\": \"string\",\n  \"thread\": {\n    \"threadKey\": \"string\"\n  },\n  \"messages\": [\n    {\n      \"destination\": \"reply|pushGoogleChat\",\n      \"payload\": {}\n    }\n  ],\n  \"meta\": {\n    \"intent\": \"read|analyze|action|social\",\n    \"usedTools\": [\"string\"],\n    \"confidence\": \"low|medium|high\"\n  }\n}",
          "maxIterations": 25
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        376,
        48
      ],
      "id": "ai-agent-1",
      "name": "AI Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "cx/gpt-5.4",
          "mode": "list",
          "cachedResultName": "cx/gpt-5.4"
        },
        "responsesApiEnabled": false,
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        128,
        272
      ],
      "id": "agent-model-1",
      "name": "Agent Model",
      "credentials": {
        "openAiApi": {
          "id": "nmpOof7gCtDCf1BD",
          "name": "Local OpenAI Proxy"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"toolName\": \"jiraAgent\",\n  \"resultText\": \"string\",\n  \"thread\": {\n    \"threadKey\": \"string\"\n  },\n  \"messages\": [\n    {\n      \"destination\": \"reply|pushGoogleChat\",\n      \"payload\": {}\n    }\n  ],\n  \"meta\": {\n    \"intent\": \"read|analyze|action|social\",\n    \"usedTools\": [\"string\"],\n    \"confidence\": \"low|medium|high\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        768,
        272
      ],
      "id": "structured-jira-agent-output-parser-1",
      "name": "Structured Jira Agent Output Parser"
    },
    {
      "parameters": {
        "toolDescription": "Primary Jira read/write tool. Use this first for Jira issue, sprint, board, version, comment, transition, assign, edit, create, and search operations. Allowed methods: GET, POST, PUT. Use the correct Jira API family: core resources like issue/project/version/search/user use /rest/api/2/... while agile resources like board/sprint/backlog/configuration use /rest/agile/1.0/.... Never call board or sprint endpoints under /rest/api/2. When you need board configuration, sprint detail, board sprint list, backlog, or active/future sprint, prefer agile endpoints instead of guessing core API URLs. For project version lookups, prefer the dedicated `jira_project_versions_query` tool instead of calling /project/{key}/versions directly unless you truly need the raw unfiltered Jira response. If issue payloads already include `fields.fixVersions` with the version fields you need, use those objects directly and do not call `jira_project_versions_query` just to enrich the same versions again. Only call the dedicated versions tool when the issue payload is missing required version fields or when you need lookup/filter/search outside the current issue list scope. Do not use status names in JQL unless you have verified the exact Jira status value in the same turn; for release or review checks, prefer fetching issue lists first and evaluating the returned statuses yourself. Before writes, fetch enough facts unless target is already unambiguous. Do not use DELETE. Important: some Jira write endpoints return 204 No Content or empty bodies, so do not assume an empty write response means failure. To complete a sprint, do not call /rest/agile/1.0/sprint/{id}/complete. Instead update /rest/agile/1.0/sprint/{id} and set state=closed in the JSON body.",
        "method": "={{ $fromAI('method', 'HTTP method to use for the Jira API request. Allowed: GET, POST, PUT', 'string') }}",
        "url": "={{ $fromAI('url', 'Full Jira API URL under https://atlassiansuite.mservice.com.vn:8443. Use /rest/api/2/... for core resources like issue/project/version/search/user. Use /rest/agile/1.0/... for board/sprint/backlog/configuration. Never use /rest/api/2/board/... or /rest/api/2/sprint/.... To complete a sprint, never use /rest/agile/1.0/sprint/{id}/complete; use /rest/agile/1.0/sprint/{id} with body {\"state\":\"closed\"}', 'string') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareServerPatApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={{ JSON.stringify($fromAI('queryParams', 'JSON object of query params for the Jira GET request', 'json') || {}) }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('body', 'JSON object for the Jira REST API request body', 'json') || {} }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        384,
        272
      ],
      "id": "jira-tool-1",
      "name": "Jira Tool",
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "3TLwUpSgsJhbG45A",
          "name": "Jira MoMo account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        256,
        272
      ],
      "id": "simple-memory-1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const event = $('Config Main').first().json || {};\nconst config = event.config || {};\nconst agent = $json && typeof $json === 'object' ? $json : {};\nconst parsed = agent.output && typeof agent.output === 'object'\n  ? agent.output\n  : (agent && typeof agent === 'object' ? agent : {});\nconst legacyPlan = parsed.deliveryPlan && typeof parsed.deliveryPlan === 'object' ? parsed.deliveryPlan : {};\n\nfunction toText(value) {\n  if (typeof value === 'string') return value.trim();\n  if (value == null) return '';\n  if (typeof value === 'object') return JSON.stringify(value);\n  return String(value).trim();\n}\n\nfunction defaultIntent(commandText) {\n  const normalized = toText(commandText).toLowerCase();\n  if (/(^|\\b)(hello|hi|alo|chào|xin chào|cảm ơn|thanks|thank you)(\\b|$)/i.test(normalized)) return 'social';\n  if (/(comment|transition|assign|update|edit|release|close|create|delete|approve|reject)/i.test(normalized)) return 'action';\n  if (/(analyze|đánh giá|phan tich|phân tích|recommend|de xuat|đề xuất|why|tại sao)/i.test(normalized)) return 'analyze';\n  return 'read';\n}\n\nfunction defaultDestinationForChannel(channel) {\n  const preferred = toText(channel) === 'system' ? 'pushGoogleChat' : 'reply';\n  if (preferred === 'pushGoogleChat' && !toText(config.ggChatWebhookUrl || '')) return 'reply';\n  return preferred;\n}\n\nfunction normalizeDestination(rawDestination, fallbackDestination) {\n  const type = toText(rawDestination && typeof rawDestination === 'object' ? (rawDestination.destination || rawDestination.type) : rawDestination);\n  if (type === 'reply') return 'reply';\n  if (type === 'pushGoogleChat') {\n    return toText(config.ggChatWebhookUrl || '') ? 'pushGoogleChat' : 'reply';\n  }\n  return fallbackDestination;\n}\n\nfunction hasNonEmptyValue(value) {\n  if (Array.isArray(value)) return value.some((item) => hasNonEmptyValue(item));\n  if (value && typeof value === 'object') return Object.values(value).some((item) => hasNonEmptyValue(item));\n  return toText(value) !== '';\n}\n\nfunction hasNonEmptyPayload(payload) {\n  if (!payload || typeof payload !== 'object' || Array.isArray(payload)) return false;\n  const keys = Object.keys(payload);\n  if (keys.length === 0) return false;\n  return keys.some((key) => hasNonEmptyValue(payload[key]));\n}\n\nfunction buildFallbackTextPayload(message, fallbackText) {\n  const text = toText(message?.text || fallbackText);\n  return text ? { text } : null;\n}\n\nfunction normalizeMessage(message, fallbackText, fallbackDestination) {\n  if (!message || typeof message !== 'object') return null;\n\n  const rawPayload = message.payload && typeof message.payload === 'object' && !Array.isArray(message.payload)\n    ? message.payload\n    : null;\n  const payload = hasNonEmptyPayload(rawPayload) ? rawPayload : buildFallbackTextPayload(message, fallbackText);\n  if (!payload) return null;\n\n  const destinationCandidate = message.destination\n    || message.destinationType\n    || (Array.isArray(message.destinations) ? message.destinations[0] : '')\n    || '';\n  const destination = normalizeDestination(destinationCandidate, fallbackDestination);\n\n  return {\n    destination,\n    payload,\n  };\n}\n\nfunction normalizeThread(rawThread) {\n  const thread = rawThread && typeof rawThread === 'object' ? { ...rawThread } : {};\n  if (!toText(thread.threadKey)) {\n    thread.threadKey = toText(event.threadKey || '');\n  }\n  return thread;\n}\n\nfunction normalizeMessages(rawMessages, fallbackText) {\n  const fallbackDestination = defaultDestinationForChannel(event.channel || 'manualTrigger');\n  const messages = Array.isArray(rawMessages)\n    ? rawMessages.map((message) => normalizeMessage(message, fallbackText, fallbackDestination)).filter(Boolean)\n    : [];\n\n  if (messages.length === 0) {\n    messages.push({\n      destination: fallbackDestination,\n      payload: { text: fallbackText },\n    });\n  }\n\n  return messages;\n}\n\nfunction normalizeMeta(rawMeta, fallbackIntent) {\n  const allowedIntents = new Set(['read', 'analyze', 'action', 'social']);\n  const allowedConfidence = new Set(['low', 'medium', 'high']);\n  const intent = allowedIntents.has(toText(rawMeta?.intent)) ? toText(rawMeta.intent) : fallbackIntent;\n  const confidence = allowedConfidence.has(toText(rawMeta?.confidence)) ? toText(rawMeta.confidence) : (intent === 'social' ? 'high' : 'medium');\n  const usedTools = Array.isArray(rawMeta?.usedTools)\n    ? rawMeta.usedTools.map((toolName) => toText(toolName)).filter(Boolean)\n    : [];\n\n  return { intent, usedTools, confidence };\n}\n\nconst fallbackIntent = defaultIntent(event.commandText || '');\nlet resultText = toText(parsed.resultText || '');\n\nif (!resultText) {\n  resultText = fallbackIntent === 'social'\n    ? 'Mình đây. Nếu cần tra cứu Jira hoặc phân tích sprint thì nói mình biết nhé.'\n    : 'AI Agent không trả đúng structured output như yêu cầu, nên mình chưa thể xác nhận thao tác Jira vừa rồi.';\n}\n\nif (fallbackIntent === 'action' && !toText(parsed.resultText || '')) {\n  resultText = 'Mình chưa thể xác nhận Jira write đã thực thi vì AI Agent không trả về kết quả chuẩn sau khi hành động.';\n}\n\nconst meta = normalizeMeta(parsed.meta || {}, fallbackIntent);\nconst thread = normalizeThread(parsed.thread || legacyPlan.thread || {});\nconst messages = normalizeMessages(parsed.messages || legacyPlan.messages || [], resultText);\n\nreturn { toolName: 'jiraAgent', resultText, thread, messages, meta };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        48
      ],
      "id": "normalize-agent-result-1",
      "name": "Normalize Agent Result"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1uLVZ2b6Ra-r2KCbLHcOL68V6smtxymfTCNNQnWPG8mI",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "MoMoer",
          "mode": "name"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1200,
        48
      ],
      "id": "get-members-directory-1",
      "name": "Get Members Directory",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3i6vDJxzaxXLHIWl",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const envelope = $('Normalize Agent Result').first().json || {};\n\nfunction asText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction asArray(value) {\n  return Array.isArray(value) ? value : [];\n}\n\nfunction normalizeEmail(value) {\n  const email = asText(value).toLowerCase();\n  return email.includes('@') ? email : '';\n}\n\nfunction extractHandleFromEmail(value) {\n  const email = normalizeEmail(value);\n  return email ? email.split('@')[0] : '';\n}\n\nfunction tokenDisplayText(token) {\n  const upper = asText(token).replace(/^@/, '').toUpperCase();\n  if (upper === 'LEAD') return '@Lead';\n  if (upper === 'PM') return '@PM';\n  if (upper === 'ASSIGNEE') return '@ASSIGNEE';\n  if (upper === 'OWNER') return '@OWNER';\n  if (upper === 'QCS') return '@QCS';\n  return '@' + asText(token).replace(/^@/, '');\n}\n\nconst memberRows = $input.all().map((item) => item?.json || {});\nconst directoryByKey = new Map();\n\nfunction registerDirectoryKey(rawKey, entry) {\n  const key = asText(rawKey).replace(/^@/, '').toLowerCase();\n  if (!key || directoryByKey.has(key)) return;\n  directoryByKey.set(key, entry);\n}\n\nfor (const row of memberRows) {\n  const normalized = {};\n  for (const [key, value] of Object.entries(row || {})) {\n    normalized[String(key || '').trim().toLowerCase()] = value;\n  }\n\n  const email = normalizeEmail(normalized.email);\n  const id = asText(normalized.id);\n  const name = asText(normalized.name || normalized.display_name || normalized.displayname);\n  const handle = asText(normalized.handle || normalized.username || normalized.user_name || normalized.jira_username) || extractHandleFromEmail(email);\n  if (!id || !email) continue;\n\n  const entry = {\n    id,\n    email,\n    name,\n    handle: asText(handle).replace(/^@/, '').toLowerCase(),\n    mentionText: '<users/' + id + '>',\n  };\n\n  registerDirectoryKey(email, entry);\n  registerDirectoryKey(entry.handle, entry);\n  registerDirectoryKey(name, entry);\n  registerDirectoryKey(normalized.username, entry);\n  registerDirectoryKey(normalized.user_name, entry);\n  registerDirectoryKey(normalized.jira_username, entry);\n  registerDirectoryKey(normalized.display_name, entry);\n  registerDirectoryKey(normalized.displayname, entry);\n}\n\nfunction resolveMemberFromToken(token) {\n  const key = asText(token).replace(/^@/, '').toLowerCase();\n  if (!key) return null;\n  return directoryByKey.get(key) || null;\n}\n\nfunction buildMentionFooter(occurrences) {\n  const uniqueByMention = new Map();\n  for (const occurrence of occurrences.sort((left, right) => left.offset - right.offset)) {\n    if (!occurrence?.mentionText || uniqueByMention.has(occurrence.mentionText)) continue;\n    uniqueByMention.set(occurrence.mentionText, occurrence);\n  }\n\n  const ordered = Array.from(uniqueByMention.values());\n  return {\n    mentionTail: ordered.map((item) => item.mentionText).join(' '),\n    resolvedPeople: ordered.map((item, index) => ({\n      token: item.token,\n      handle: item.handle,\n      mentionText: item.mentionText,\n      displayName: item.displayName,\n      firstOffset: item.offset,\n      order: index,\n    })),\n    appendedMentionIds: ordered.map((item) => item.mentionText),\n  };\n}\n\nfunction renderTextMentions(rawText) {\n  const mentionOccurrences = [];\n  const roleTokens = [];\n\n  const renderedText = asText(rawText).replace(/(^|[\\s(/])\\*?@([A-Za-z0-9._-]{2,64})\\*?\\b/g, (full, prefix, rawToken, offset) => {\n    const token = asText(rawToken);\n    const upper = token.toUpperCase();\n    if (!token) return full;\n\n    if (['PM', 'LEAD', 'ASSIGNEE', 'OWNER', 'QCS'].includes(upper)) {\n      roleTokens.push({ token: '@' + upper, offset });\n      return prefix + '*' + tokenDisplayText(token) + '*';\n    }\n\n    const member = resolveMemberFromToken(token);\n    if (member?.mentionText) {\n      const handle = asText(member.handle || token).replace(/^@/, '').toLowerCase();\n      mentionOccurrences.push({\n        token: '@' + token,\n        handle,\n        mentionText: member.mentionText,\n        displayName: asText(member.name || member.email || handle),\n        offset,\n      });\n      return prefix + '*@' + handle + '*';\n    }\n\n    return prefix + '*@' + token + '*';\n  });\n\n  const footer = buildMentionFooter(mentionOccurrences);\n  const finalText = footer.mentionTail ? renderedText + '\\\\n' + footer.mentionTail : renderedText;\n\n  return {\n    text: finalText,\n    mentionTail: footer.mentionTail,\n    resolvedPeople: footer.resolvedPeople,\n    roleTokens: roleTokens.sort((left, right) => left.offset - right.offset).map((item) => item.token),\n    appendedMentionIds: footer.appendedMentionIds,\n  };\n}\n\nconst messages = asArray(envelope.messages).map((message, index) => {\n  const payload = message?.payload && typeof message.payload === 'object' ? { ...message.payload } : null;\n  const rendered = payload && typeof payload.text === 'string'\n    ? renderTextMentions(payload.text)\n    : null;\n\n  return {\n    ...message,\n    payload: rendered ? { ...payload, text: rendered.text } : payload,\n    mentionRender: rendered ? {\n      messageIndex: index,\n      destination: asText(message.destination || 'reply'),\n      mentionTail: rendered.mentionTail,\n      resolvedPeople: rendered.resolvedPeople,\n      roleTokens: rendered.roleTokens,\n      appendedMentionIds: rendered.appendedMentionIds,\n    } : {\n      messageIndex: index,\n      destination: asText(message.destination || 'reply'),\n      mentionTail: '',\n      resolvedPeople: [],\n      roleTokens: [],\n      appendedMentionIds: [],\n    },\n  };\n});\n\nconst renderedResult = renderTextMentions(envelope.resultText || '');\n\nreturn {\n  ...envelope,\n  resultText: renderedResult.text,\n  mentionTail: renderedResult.mentionTail,\n  lineMentions: messages.map((message) => message.mentionRender),\n  messages: messages.map((message) => {\n    const clone = { ...message };\n    delete clone.mentionRender;\n    return clone;\n  }),\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        48
      ],
      "id": "render-mentioned-messages-1",
      "name": "Render Mentioned Messages"
    },
    {
      "parameters": {
        "jsCode": "const envelope = $('Render Mentioned Messages').first().json || {};\nconst messages = Array.isArray(envelope.messages) ? envelope.messages : [];\n\nfunction toText(value) {\n  if (typeof value === 'string') return value.trim();\n  if (value == null) return '';\n  return String(value).trim();\n}\n\nfunction hasNonEmptyPayload(payload) {\n  return payload && typeof payload === 'object' && !Array.isArray(payload) && Object.keys(payload).length > 0;\n}\n\nconst replyMessages = messages.filter((message) => toText(message?.destination) === 'reply' && hasNonEmptyPayload(message?.payload));\nconst preferredPayload = replyMessages.find((message) => typeof message.payload?.text === 'string' && message.payload.text.trim())?.payload || replyMessages[0]?.payload || null;\n\nreturn preferredPayload || { text: toText(envelope.resultText || 'Đã nhận yêu cầu.') };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        48
      ],
      "id": "build-final-response-1",
      "name": "Build Final Response"
    },
    {
      "parameters": {
        "toolDescription": "=This tool sends notifications to Google Chat via Webhook. It supports multiple message formats:\n1. Text Format: Simple messages using the {\"text\": \"your message\"} structure.\n2. Card V2 Format: Complex, interactive UI using the {\"cardsV2\": [...]} structure. Use this for Jira tickets or structured data. A card can include:\nHeader: Title, subtitle, and avatar.\nSections: Groups of widgets (textParagraph, keyValue, etc.).\nWidgets: Buttons (with links), Images, or Icons.\n4. Threading: To reply to a specific thread, include the threadKey.\nRequirement: You must generate a valid Google Chat API JSON payload. If the user asks for a professional or \"pretty\" look for Jira, always prefer Card V2 with action buttons.",
        "method": "POST",
        "url": "={{ \n  (() => {\n    const config = $('Config Main').item.json.config;\n    const threadKey = $fromAI('threadKey', 'provide the threadKey so the message stays in the correct conversation', 'string','');\n    const messageReplyOption = config.googleChatReplyOption || \"REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD\"\n    \n    return `${config.ggChatWebhookUrl}&messageReplyOption=${messageReplyOption}&threadKey=${threadKey}`;\n  })()\n}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($fromAI('JSON_Content', 'Full JSON payload for Google Chat (Text or CardV2 structure)', 'json')) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -992,
        464
      ],
      "id": "05af1994-4eb6-4fee-8240-bc85906cbfaf",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "name": "google_chat_batch_delivery",
        "description": "Use this tool when you need to send one or more Google Chat messages in the same thread. Call it exactly once per delivery batch with an ordered messages array of raw Google Chat webhook payloads. Reuse the current threadKey when continuing the same thread; pass a new threadKey only when you intentionally want a new thread. Each message must already be a complete Google Chat webhook body, for example {\"text\":\"...\"} or {\"cardsV2\":[...]}; do not wrap payloads inside custom objects like message/body/data. Do not send empty payloads. If you cannot build a valid card payload, fall back to a text payload instead.",
        "workflowId": {
          "__rl": true,
          "value": "LciaUt9wVh9Zm4ZK",
          "mode": "list",
          "cachedResultUrl": "/workflow/LciaUt9wVh9Zm4ZK",
          "cachedResultName": "Jira AI Agent Google Chat Delivery"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "threadKey": "={{ $fromAI('threadKey', 'Existing Google Chat threadKey to reuse. Leave empty to continue with the current context threadKey. Only pass a new one when you intentionally want a new thread.', 'string') || $(\"Config Main\").first().json.threadKey || \"\" }}",
            "threadSeed": "={{ $(\"Config Main\").first().json.threadKey || $(\"Config Main\").first().json.sessionId || \"jira-ai-agent\" }}",
            "webhookUrl": "={{ $(\"Config Main\").first().json.config.ggChatWebhookUrl || \"\" }}",
            "messageReplyOption": "={{ $(\"Config Main\").first().json.config.googleChatReplyOption || \"REPLY_MESSAGE_FALLBACK_TO_NEW_THREAD\" }}",
            "messages": "={{ $fromAI('messages', 'Ordered array of raw Google Chat webhook payload objects to send in the same thread. Each item must be a complete Google Chat webhook body, for example {\"text\":\"...\"} or {\"cardsV2\":[...]}. Do not wrap payloads inside custom objects like message/body/data. Do not send empty payloads. If a card payload is not fully valid yet, fall back to a text payload instead.', 'json') || [] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "threadKey",
              "displayName": "threadKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "threadSeed",
              "displayName": "threadSeed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "webhookUrl",
              "displayName": "webhookUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "messageReplyOption",
              "displayName": "messageReplyOption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "messages",
              "displayName": "messages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        512,
        272
      ],
      "id": "google-chat-batch-delivery-tool-1",
      "name": "Google Chat Batch Delivery Tool"
    },
    {
      "parameters": {
        "name": "jira_project_versions_query",
        "description": "Use this tool when you need Jira project versions without pulling the full raw /project/{key}/versions payload into the agent context. It supports free-text query, generic field filters, field projection, sorting, and limiting. Prefer this tool for release checks, fixVersion enrichment, and any project version lookup that can be narrowed down.",
        "workflowId": {
          "__rl": true,
          "value": "BVogR8A0tsBMc9a0",
          "mode": "list",
          "cachedResultUrl": "/workflow/BVogR8A0tsBMc9a0",
          "cachedResultName": "Jira Project Versions Query"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "jiraBaseUrl": "={{ $(\"Config Main\").first().json.config.jiraBaseUrl || \"https://atlassiansuite.mservice.com.vn:8443\" }}",
            "projectKey": "={{ $fromAI('projectKey', 'Jira project key whose versions should be queried. Prefer this when known, for example EXPENSE.', 'string') || \"\" }}",
            "projectId": "={{ $fromAI('projectId', 'Jira project id to use when projectKey is not available.', 'string') || \"\" }}",
            "query": "={{ $fromAI('query', 'Optional free-text query matched against version name, description, id, startDate, and releaseDate.', 'string') || \"\" }}",
            "filters": "={{ $fromAI('filters', 'Optional JSON string for generic field filters. Example: [{\"field\":\"released\",\"operator\":\"eq\",\"value\":false}] or [{\"field\":\"name\",\"operator\":\"contains\",\"value\":\"test\"}]. Leave empty when no filter is needed. Supported operators: eq, neq, contains, in, gt, gte, lt, lte, exists.', 'string') || \"\" }}",
            "fields": "={{ $fromAI('fields', 'Optional JSON string or comma-separated field list to keep in the output, for example [\"id\",\"name\",\"released\",\"releaseDate\"] or id,name,released,releaseDate. Leave empty to use the concise default projection.', 'string') || \"\" }}",
            "limit": "={{ $fromAI('limit', 'Optional maximum number of versions to return. Use 0 for all, otherwise prefer a small number like 10 or 20.', 'string') || '50' }}",
            "sortBy": "={{ $fromAI('sortBy', 'Optional field to sort by, for example releaseDate, startDate, name, or id.', 'string') || 'releaseDate' }}",
            "sortDirection": "={{ $fromAI('sortDirection', 'Optional sort direction: asc or desc.', 'string') || 'desc' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "jiraBaseUrl",
              "displayName": "jiraBaseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "projectKey",
              "displayName": "projectKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "projectId",
              "displayName": "projectId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "filters",
              "displayName": "filters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fields",
              "displayName": "fields",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "limit",
              "displayName": "limit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sortBy",
              "displayName": "sortBy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sortDirection",
              "displayName": "sortDirection",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        640,
        272
      ],
      "id": "jira-project-versions-query-tool-1",
      "name": "Jira Project Versions Query Tool"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nreturn {...($json || {}), chatInput: `Kiểm tra và Release sprint đang active\n ## Kiểm tra điều kiện release: - Nếu có task chưa done: Block ở status nào thì tag người giữ vai trò xử lý status đó, không xác định được thì tag người tạo. - Nếu có task của app chưa được đánh fix versions thì warning và tag @hai.nguyen8 \n## Nếu không đạt điều kiện thì gửi 2 tin nhắn vào google chat theo thứ tự và cùng thread: 1. Gửi ggchat dạng text ~100chars: “*Chưa thể release!*” + mô tả ngắn vấn đề bao gồm tên sprint được bold. Kèm hyperlink text “Mở danh sách“ <$base_url>/browse/<$issie_id>?jql=sprint =<$sprint_id> AND status not in (Closed, \"Ready for Release\") 2. Gửi 1 message các thông tin và chờ phản hồi (có thể sẽ được cho phép pass hết) 3. Stop, chờ approve  ## Nếu qua được bước kiểm tra thì gửi 2 tin nhắn vào google chat theo thứ tự và cùng thread (xin được approve):\n1. Gửi ggchat dạng text ~100chars: “*Request release!*” + mô tả ngắn sprint đã sẵn sàng release bao gồm tên sprint được bold. 2. Gửi một message cùng thread tag PO, Leader hỏi xem còn vương vấn gì không xin được release. 3. Stop, chờ approve\n\n## Nếu được approve 1. Close tất cả card trong sprint 2. Release các bản release version liên quan issue của sprint với end là ngày hiện tại.  3. Complete active sprint. 4. Active next sprint\n# Nếu tất các action trên hoàn thành gửi 2 tin nhắn vào ggchat theo thứ tự và cùng thread: 1. Gửi 1 message với thread key mới chứa cả text và card v2, trong đó phần test là “<users/all> Đã thực hiện release sprint *#release-note*”. Phần cardv2 theo format sau: Header: Release <sprint name>\nHeader icon: https://cdn-icons-png.flaticon.com/512/18364/18364836.png (imageType\n mặc định) 1 Section chứa nhiều widget, mỗi widget chứa tất cả card của version đó:\n<$base_url/projects/$project_key/versions/$version_id>|$version_name(hiện ở đầu list)\n- <link|KEY> Summary 2. gửi gg chat kèm thông tin kiểm tra next sprint mới được active (các issues đã được đánh story point hết chưa) trong cùng thread key với release note phía trên.\n\nCONSTRAINTS: - Nói ngắn gọn, không giải thích ngoài trọng tâm. - Issue key phải hiển thị clickable trong Google Chat bằng hyperlink native của Google Chat. - Nếu cần format, trong widget thì dùng html, trong text thường thì dùng markdown (lưu ý markdown bold dùng 1 *). - task nào có labels “skip-release” thì coi như pass, được phép close, không cần đánh version. INFO: - task của app là task có summary bắt đầu bằng [App] không phân biệt hoa thường. - task done là task có status [‘Ready For Release’, 'Closed'] - PO: hung.ngo, thao.nguyen38, Leader: hai.nguyen8` };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        -144
      ],
      "id": "27f259cd-7330-4a21-9db5-92965bae1f3a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 1-5"
            }
          ]
        }
      },
      "id": "9a20af3a-ebd9-4417-bb3d-e7f0cc947c53",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -992,
        -48
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Chat Webhook": {
      "main": [
        [
          {
            "node": "Build Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local Chat Trigger": {
      "main": [
        [
          {
            "node": "Build Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Event": {
      "main": [
        [
          {
            "node": "Config Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Main": {
      "main": [
        [
          {
            "node": "Build Agent Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Agent Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Jira Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Normalize Agent Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Agent Result": {
      "main": [
        [
          {
            "node": "Get Members Directory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Members Directory": {
      "main": [
        [
          {
            "node": "Render Mentioned Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Mentioned Messages": {
      "main": [
        [
          {
            "node": "Build Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Jira Agent Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        []
      ]
    },
    "Google Chat Batch Delivery Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Jira Project Versions Query Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Build Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
