workflows/google/gg-drive-manager.workflow.json
{
  "name": "GG Drive Manager",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "action"
            },
            {
              "name": "rootFolderId"
            },
            {
              "name": "folderPath"
            },
            {
              "name": "fileName"
            },
            {
              "name": "binaryFieldName"
            }
          ]
        }
      },
      "id": "1",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1520,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json ?? {};\nconst binary = $binary ?? {};\n\nconst rootFolderIdRaw = String(input.rootFolderId ?? '').trim();\nconst rootFolderId = rootFolderIdRaw || 'root';\n\nconst rawPath = String(input.folderPath ?? '').trim();\nconst normalizedPath = rawPath\n  .replace(/^\\/+|\\/+$/g, '')\n  .replace(/\\/+/g, '/');\n\nconst segments = normalizedPath ? normalizedPath.split('/').filter(Boolean) : [];\nconst currentSegment = segments[0] || '';\nconst remainingPath = segments.length > 1 ? segments.slice(1).join('/') : '';\n\nconst explicitBinaryField = String(input.binaryFieldName ?? '').trim();\nconst availableBinaryFields = Object.keys(binary);\nconst binaryFieldName = explicitBinaryField && binary[explicitBinaryField]\n  ? explicitBinaryField\n  : (availableBinaryFields[0] || '');\n\nconst binaryFile = binaryFieldName ? binary[binaryFieldName] : null;\nconst binaryFileName = String(binaryFile?.fileName ?? '').trim();\nconst targetFileName = String(input.fileName ?? binaryFileName ?? '').trim() || 'uploaded-file.bin';\n\nconst rawAction = String(input.action ?? 'upsert').trim().toLowerCase();\nconst action = rawAction === 'get'\n  ? 'get'\n  : (rawAction === 'delete'\n      ? 'delete'\n      : (rawAction === 'list' ? 'list' : 'upsert'));\n\nreturn [{\n  json: {\n    ...input,\n    action,\n    rootFolderId,\n    folderPath: normalizedPath,\n    currentSegment,\n    remainingPath,\n    baseFolderId: rootFolderId,\n    binaryFieldName,\n    hasBinaryFile: Boolean(binaryFile),\n    targetFileName\n  },\n  binary\n}];"
      },
      "id": "3",
      "name": "Normalize Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ String($json.currentSegment || '').trim().length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4",
      "name": "If Has Segment",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -848,
        480
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "={{ (() => { const escapeQuery = (value) => String(value ?? '').replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"\\\\'\"); const segmentName = escapeQuery($json.currentSegment || ''); const parentId = String($json.baseFolderId || 'root').trim() || 'root'; return \"name = '\" + segmentName + \"' and mimeType = 'application/vnd.google-apps.folder' and trashed = false and '\" + parentId + \"' in parents\"; })() }}",
        "limit": 1,
        "filter": {},
        "options": {
          "fields": [
            "id",
            "name",
            "mimeType",
            "parents",
            "webViewLink"
          ]
        }
      },
      "id": "5",
      "name": "Search Current Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -624,
        480
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__GDRIVE_CREDENTIAL_ID__",
          "name": "__GDRIVE_CREDENTIAL_LABEL__"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          },
          "includeUnpaired": true
        }
      },
      "id": "6",
      "name": "Merge Folder Search Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -400,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ String($json.id || '').trim().length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7",
      "name": "If Folder Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -176,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "folder-existing-1",
              "name": "targetFolderId",
              "value": "={{ $json.id || '' }}",
              "type": "string"
            },
            {
              "id": "folder-existing-2",
              "name": "targetFolderName",
              "value": "={{ $json.name || $json.currentSegment || '' }}",
              "type": "string"
            },
            {
              "id": "folder-existing-3",
              "name": "targetFolderUrl",
              "value": "={{ $json.webViewLink || ('https://drive.google.com/drive/folders/' + ($json.id || '')) }}",
              "type": "string"
            },
            {
              "id": "folder-existing-4",
              "name": "folderStatus",
              "value": "existing",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "8",
      "name": "Set Existing Folder Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ ($json.action || 'upsert') === 'upsert' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "38",
      "name": "If Can Create Missing Folder",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        48,
        256
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "folder-notfound-1",
              "name": "status",
              "value": "notFound",
              "type": "string"
            },
            {
              "id": "folder-notfound-2",
              "name": "action",
              "value": "={{ $json.action || 'get' }}",
              "type": "string"
            },
            {
              "id": "folder-notfound-3",
              "name": "errorCode",
              "value": "folderNotFound",
              "type": "string"
            },
            {
              "id": "folder-notfound-4",
              "name": "errorMessage",
              "value": "Target folder path was not found from rootFolderId.",
              "type": "string"
            },
            {
              "id": "folder-notfound-5",
              "name": "folderId",
              "value": "={{ $json.baseFolderId || $json.rootFolderId || '' }}",
              "type": "string"
            },
            {
              "id": "folder-notfound-6",
              "name": "folderUrl",
              "value": "={{ 'https://drive.google.com/drive/folders/' + ($json.baseFolderId || $json.rootFolderId || '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "39",
      "name": "Build Folder Not Found Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        160
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.currentSegment || '' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": "={{ $json.baseFolderId || 'root' }}",
        "options": {}
      },
      "id": "9",
      "name": "Create Missing Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        272,
        352
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__GDRIVE_CREDENTIAL_ID__",
          "name": "__GDRIVE_CREDENTIAL_LABEL__"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput2",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          },
          "includeUnpaired": false
        }
      },
      "id": "10",
      "name": "Merge Created Folder Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        496,
        432
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "folder-created-1",
              "name": "targetFolderId",
              "value": "={{ $json.id || '' }}",
              "type": "string"
            },
            {
              "id": "folder-created-2",
              "name": "targetFolderName",
              "value": "={{ $json.name || $json.currentSegment || '' }}",
              "type": "string"
            },
            {
              "id": "folder-created-3",
              "name": "targetFolderUrl",
              "value": "={{ $json.webViewLink || ('https://drive.google.com/drive/folders/' + ($json.id || '')) }}",
              "type": "string"
            },
            {
              "id": "folder-created-4",
              "name": "folderStatus",
              "value": "created",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "11",
      "name": "Set Created Folder Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        432
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ String($json.remainingPath || '').trim().length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "12",
      "name": "If Has Remaining Path",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        944,
        256
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "rec-1",
              "name": "rootFolderId",
              "value": "={{ $json.targetFolderId || $json.baseFolderId || 'root' }}",
              "type": "string"
            },
            {
              "id": "rec-2",
              "name": "folderPath",
              "value": "={{ $json.remainingPath || '' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "13",
      "name": "Prepare Recursive Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        208
      ]
    },
    {
      "parameters": {
        "source": "localFile",
        "workflowPath": "={{ $json.selfWorkflowPath || 'workflows/google/gg-drive-manager.workflow.json' }}",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "14",
      "name": "Execute Recursive Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1392,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "root-target-1",
              "name": "targetFolderId",
              "value": "={{ $json.baseFolderId || 'root' }}",
              "type": "string"
            },
            {
              "id": "root-target-2",
              "name": "targetFolderName",
              "value": "",
              "type": "string"
            },
            {
              "id": "root-target-3",
              "name": "targetFolderUrl",
              "value": "={{ 'https://drive.google.com/drive/folders/' + ($json.baseFolderId || 'root') }}",
              "type": "string"
            },
            {
              "id": "root-target-4",
              "name": "folderStatus",
              "value": "root",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "15",
      "name": "Set Target Folder Root",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        640
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "target-final-1",
              "name": "targetFolderId",
              "value": "={{ $json.targetFolderId || $json.baseFolderId || $json.rootFolderId || 'root' }}",
              "type": "string"
            },
            {
              "id": "target-final-2",
              "name": "targetFolderUrl",
              "value": "={{ $json.targetFolderUrl || ('https://drive.google.com/drive/folders/' + ($json.targetFolderId || $json.baseFolderId || $json.rootFolderId || 'root')) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "16",
      "name": "Finalize Target Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        592
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action || 'upsert' }}",
                    "rightValue": "get",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action || 'upsert' }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action || 'upsert' }}",
                    "rightValue": "list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "upsert",
          "allMatchingOutputs": false
        }
      },
      "id": "28",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1392,
        560
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "={{ (() => { const escapeQuery = (value) => String(value ?? '').replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"\\\\'\"); const fileName = escapeQuery($json.targetFileName || ''); const folderId = String($json.targetFolderId || 'root').trim() || 'root'; return \"name = '\" + fileName + \"' and mimeType != 'application/vnd.google-apps.folder' and trashed = false and '\" + folderId + \"' in parents\"; })() }}",
        "limit": 1,
        "filter": {},
        "options": {
          "fields": [
            "id",
            "name",
            "mimeType",
            "size",
            "webViewLink"
          ]
        }
      },
      "id": "29",
      "name": "Search Existing File (Get/Delete)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1616,
        672
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__GDRIVE_CREDENTIAL_ID__",
          "name": "__GDRIVE_CREDENTIAL_LABEL__"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput2",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          },
          "includeUnpaired": true
        }
      },
      "id": "30",
      "name": "Merge File Search Context (Get/Delete)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1840,
        656
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ String($json.id || '').trim().length > 0 && String($json.mimeType || '') !== 'application/vnd.google-apps.folder' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "31",
      "name": "If File Exists (Get/Delete)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2064,
        672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ ($json.action || 'upsert') === 'delete' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "32",
      "name": "If Delete Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2288,
        576
      ]
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": "={{ $json.id }}",
        "options": {}
      },
      "id": "33",
      "name": "Delete Existing File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2512,
        480
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__GDRIVE_CREDENTIAL_ID__",
          "name": "__GDRIVE_CREDENTIAL_LABEL__"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result-get-1",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "result-get-2",
              "name": "action",
              "value": "get",
              "type": "string"
            },
            {
              "id": "result-get-3",
              "name": "fileId",
              "value": "={{ $json.id || '' }}",
              "type": "string"
            },
            {
              "id": "result-get-4",
              "name": "fileName",
              "value": "={{ $json.name || $json.targetFileName || '' }}",
              "type": "string"
            },
            {
              "id": "result-get-5",
              "name": "fileUrl",
              "value": "={{ $json.webViewLink || ('https://drive.google.com/file/d/' + ($json.id || '') + '/view') }}",
              "type": "string"
            },
            {
              "id": "result-get-6",
              "name": "folderId",
              "value": "={{ $json.targetFolderId || '' }}",
              "type": "string"
            },
            {
              "id": "result-get-7",
              "name": "folderUrl",
              "value": "={{ $json.targetFolderUrl || ('https://drive.google.com/drive/folders/' + ($json.targetFolderId || '')) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "34",
      "name": "Build Get File Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2512,
        672
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result-delete-1",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "result-delete-2",
              "name": "action",
              "value": "delete",
              "type": "string"
            },
            {
              "id": "result-delete-3",
              "name": "fileId",
              "value": "={{ $json.id || '' }}",
              "type": "string"
            },
            {
              "id": "result-delete-4",
              "name": "folderId",
              "value": "={{ $json.targetFolderId || '' }}",
              "type": "string"
            },
            {
              "id": "result-delete-5",
              "name": "folderUrl",
              "value": "={{ $json.targetFolderUrl || ('https://drive.google.com/drive/folders/' + ($json.targetFolderId || '')) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "35",
      "name": "Build Delete Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2960,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result-notfound-1",
              "name": "status",
              "value": "notFound",
              "type": "string"
            },
            {
              "id": "result-notfound-2",
              "name": "action",
              "value": "={{ $json.action || 'get' }}",
              "type": "string"
            },
            {
              "id": "result-notfound-3",
              "name": "errorCode",
              "value": "fileNotFound",
              "type": "string"
            },
            {
              "id": "result-notfound-4",
              "name": "errorMessage",
              "value": "No file found with the given name in target folder.",
              "type": "string"
            },
            {
              "id": "result-notfound-5",
              "name": "folderId",
              "value": "={{ $json.targetFolderId || '' }}",
              "type": "string"
            },
            {
              "id": "result-notfound-6",
              "name": "folderUrl",
              "value": "={{ $json.targetFolderUrl || ('https://drive.google.com/drive/folders/' + ($json.targetFolderId || '')) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "36",
      "name": "Build File Not Found Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2288,
        768
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          },
          "includeUnpaired": false
        }
      },
      "id": "37",
      "name": "Merge Deleted File Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2736,
        400
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": "={{ Number($json.listLimit || 200) }}",
        "searchMethod": "query",
        "queryString": "={{ (() => { const customQuery = String($json.listQuery || '').trim(); if (customQuery) return customQuery; const folderId = String($json.targetFolderId || 'root').trim() || 'root'; return \"'\" + folderId + \"' in parents and trashed = false\"; })() }}",
        "returnAll": "={{ $json.listReturnAll !== false }}",
        "filter": {},
        "options": {
          "fields": [
            "id",
            "name",
            "mimeType",
            "size",
            "parents",
            "webViewLink"
          ]
        }
      },
      "id": "40",
      "name": "Search Folder Items (List)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1616,
        864
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__GDRIVE_CREDENTIAL_ID__",
          "name": "__GDRIVE_CREDENTIAL_LABEL__"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const context = $('Finalize Target Context').first().json || {};\nconst inputItems = $input.all();\n\nconst toFileUrl = (row) => {\n  const id = String(row.id || '');\n  if (!id) return '';\n  const mimeType = String(row.mimeType || '');\n  if (mimeType === 'application/vnd.google-apps.folder') {\n    return row.webViewLink || ('https://drive.google.com/drive/folders/' + id);\n  }\n  return row.webViewLink || ('https://drive.google.com/file/d/' + id + '/view');\n};\n\nconst items = inputItems\n  .map((entry) => entry.json || {})\n  .filter((row) => String(row.id || '').trim().length > 0)\n  .map((row) => ({\n    id: String(row.id || ''),\n    name: String(row.name || ''),\n    mimeType: String(row.mimeType || ''),\n    size: String(row.size || ''),\n    webViewLink: String(row.webViewLink || ''),\n    url: toFileUrl(row),\n    isFolder: String(row.mimeType || '') === 'application/vnd.google-apps.folder'\n  }));\n\nreturn [{\n  json: {\n    status: 'success',\n    action: 'list',\n    folderId: String(context.targetFolderId || ''),\n    folderUrl: String(context.targetFolderUrl || ('https://drive.google.com/drive/folders/' + (context.targetFolderId || ''))),\n    itemCount: items.length,\n    items\n  }\n}];"
      },
      "id": "41",
      "name": "Build List Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        864
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.hasBinaryFile === true && String($json.binaryFieldName || '').trim().length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "17",
      "name": "If Has File Binary",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1616,
        112
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "={{ (() => { const escapeQuery = (value) => String(value ?? '').replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"\\\\'\"); const fileName = escapeQuery($json.targetFileName || ''); const folderId = String($json.targetFolderId || 'root').trim() || 'root'; return \"name = '\" + fileName + \"' and mimeType != 'application/vnd.google-apps.folder' and mimeType != 'application/vnd.google-apps.document' and mimeType != 'application/vnd.google-apps.spreadsheet' and mimeType != 'application/vnd.google-apps.presentation' and mimeType != 'application/vnd.google-apps.drawing' and mimeType != 'application/vnd.google-apps.form' and mimeType != 'application/vnd.google-apps.script' and mimeType != 'application/vnd.google-apps.site' and mimeType != 'application/vnd.google-apps.shortcut' and trashed = false and '\" + folderId + \"' in parents\"; })() }}",
        "limit": 1,
        "filter": {},
        "options": {
          "fields": [
            "id",
            "name",
            "mimeType",
            "size",
            "webViewLink"
          ]
        }
      },
      "id": "18",
      "name": "Search Existing File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1840,
        64
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__GDRIVE_CREDENTIAL_ID__",
          "name": "__GDRIVE_CREDENTIAL_LABEL__"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput2",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          },
          "includeUnpaired": true
        }
      },
      "id": "19",
      "name": "Merge File Search Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2064,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ String($json.id || '').trim().length > 0 && String($json.mimeType || '') !== 'application/vnd.google-apps.folder' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "20",
      "name": "If File Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2288,
        -64
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": "={{ $json.id }}",
        "changeFileContent": true,
        "inputDataFieldName": "={{ $json.binaryFieldName || 'data' }}",
        "newUpdatedFileName": "={{ $json.targetFileName || '' }}",
        "options": {
          "fields": [
            "id",
            "name",
            "mimeType",
            "size",
            "webViewLink"
          ]
        }
      },
      "id": "21",
      "name": "Update Existing File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2512,
        -160
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__GDRIVE_CREDENTIAL_ID__",
          "name": "__GDRIVE_CREDENTIAL_LABEL__"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput2",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          },
          "includeUnpaired": false
        }
      },
      "id": "22",
      "name": "Merge Updated File Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2736,
        -224
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result-updated-1",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "result-updated-2",
              "name": "action",
              "value": "updated",
              "type": "string"
            },
            {
              "id": "result-updated-3",
              "name": "fileId",
              "value": "={{ $json.id || '' }}",
              "type": "string"
            },
            {
              "id": "result-updated-4",
              "name": "fileName",
              "value": "={{ $json.name || $json.targetFileName || '' }}",
              "type": "string"
            },
            {
              "id": "result-updated-5",
              "name": "fileUrl",
              "value": "={{ $json.webViewLink || ('https://drive.google.com/file/d/' + ($json.id || '') + '/view') }}",
              "type": "string"
            },
            {
              "id": "result-updated-6a",
              "name": "folderId",
              "value": "={{ $json.targetFolderId || '' }}",
              "type": "string"
            },
            {
              "id": "result-updated-6b",
              "name": "folderUrl",
              "value": "={{ $json.targetFolderUrl || ('https://drive.google.com/drive/folders/' + ($json.targetFolderId || '')) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "23",
      "name": "Build Updated Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2960,
        -224
      ]
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ $json.binaryFieldName || 'data' }}",
        "name": "={{ $json.targetFileName || '' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": "={{ $json.targetFolderId || 'root' }}",
        "options": {
          "simplifyOutput": false
        }
      },
      "id": "24",
      "name": "Upload New File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2512,
        96
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__GDRIVE_CREDENTIAL_ID__",
          "name": "__GDRIVE_CREDENTIAL_LABEL__"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput2",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          },
          "includeUnpaired": false
        }
      },
      "id": "25",
      "name": "Merge Uploaded File Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2736,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result-created-1",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "result-created-2",
              "name": "action",
              "value": "created",
              "type": "string"
            },
            {
              "id": "result-created-3",
              "name": "fileId",
              "value": "={{ $json.id || '' }}",
              "type": "string"
            },
            {
              "id": "result-created-4",
              "name": "fileName",
              "value": "={{ $json.name || $json.targetFileName || '' }}",
              "type": "string"
            },
            {
              "id": "result-created-5",
              "name": "fileUrl",
              "value": "={{ $json.webViewLink || ('https://drive.google.com/file/d/' + ($json.id || '') + '/view') }}",
              "type": "string"
            },
            {
              "id": "result-created-6a",
              "name": "folderId",
              "value": "={{ $json.targetFolderId || '' }}",
              "type": "string"
            },
            {
              "id": "result-created-6b",
              "name": "folderUrl",
              "value": "={{ $json.targetFolderUrl || ('https://drive.google.com/drive/folders/' + ($json.targetFolderId || '')) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "26",
      "name": "Build Created Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2960,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result-missing-1",
              "name": "status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "result-missing-2",
              "name": "action",
              "value": "none",
              "type": "string"
            },
            {
              "id": "result-missing-3",
              "name": "errorCode",
              "value": "missingFileBinary",
              "type": "string"
            },
            {
              "id": "result-missing-4",
              "name": "errorMessage",
              "value": "Missing binary file input. Please pass a binary file field (for example: file) or set binaryFieldName.",
              "type": "string"
            },
            {
              "id": "result-missing-7",
              "name": "folderId",
              "value": "={{ $json.targetFolderId || '' }}",
              "type": "string"
            },
            {
              "id": "result-missing-8",
              "name": "folderUrl",
              "value": "={{ $json.targetFolderUrl || ('https://drive.google.com/drive/folders/' + ($json.targetFolderId || '')) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "27",
      "name": "Build Missing File Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        256
      ]
    },
    {
      "parameters": {
        "content": "## INPUT CONTRACT (Execute Workflow Trigger)\n\n`action` (string): `upsert|get|delete|list` (default `upsert`)\n`rootFolderId` (string): start folder ID (default `root`)\n`folderPath` (string): nested path under root, ex: `books/2026/april`\n- Set `folderPath` to empty string (``) to work directly in `rootFolderId`\n`fileName` (string): file name for `upsert/get/delete`\n`binaryFieldName` (string): binary key to upload/update (default first key in `$binary`)\n`listLimit` (number): max list items when `listReturnAll=false` (default `200`)\n`listReturnAll` (boolean): list all or use limit (default `true`)\n`listQuery` (string, optional): custom Google Drive query for list action\n`selfWorkflowPath` (string): workflow path used for recursive folder traversal\n\n### Result shape\nCommon keys: `status`, `action`, folder context (`folderId`, `folderUrl`)\nSuccess branches also return file/list details (`fileId`, `fileUrl`, `items`, etc.).",
        "height": 760,
        "width": 760,
        "color": 7
      },
      "id": "9001",
      "name": "NOTE::GGDRIVE::INPUT_FIELDS",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1936,
        -496
      ]
    },
    {
      "parameters": {
        "content": "## STAGE 1: RESOLVE TARGET FOLDER\n\nNodes:\n- Normalize Request\n- If Has Segment\n- Search Current Folder / Create Missing Folder\n- Execute Recursive Workflow\n- Finalize Target Context\n\nGoal: convert `rootFolderId + folderPath` into stable folder context (`folderId`, `folderUrl`) before action routing.\n\nNote: no direct folder-id override input. If you already have exact folder ID, pass it via `rootFolderId` and set `folderPath` to empty string.\n\nStage safety:\n- `Merge Created Folder Context` only receives data from the active create branch to avoid empty terminal outputs.",
        "height": 460,
        "width": 720,
        "color": 5
      },
      "id": "9002",
      "name": "NOTE::GGDRIVE::STAGE_FOLDER_RESOLUTION",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        -496
      ]
    },
    {
      "parameters": {
        "content": "## STAGE 2: ACTION ROUTER\n\nNode: `Switch Action`\n\nRoutes:\n- `get`\n- `delete`\n- `list`\n- fallback => `upsert`\n\nAll branches consume the same resolved target context from Stage 1.",
        "height": 260,
        "width": 480,
        "color": 6
      },
      "id": "9003",
      "name": "NOTE::GGDRIVE::STAGE_ACTION_ROUTER",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1264,
        272
      ]
    },
    {
      "parameters": {
        "content": "## BRANCH: GET / DELETE\n\nFlow:\n- Search Existing File (Get/Delete)\n- If File Exists (Get/Delete)\n- If Delete Action\n- Delete Existing File OR Build Get File Result\n- Build Delete Result / Build File Not Found Result\n\nPurpose: non-upload read/delete operations with explicit not-found handling.\n\nFolder safety:\n- File existence checks ignore folder mimeType to prevent accidental folder delete/get.",
        "height": 360,
        "width": 620,
        "color": 4
      },
      "id": "9004",
      "name": "NOTE::GGDRIVE::BRANCH_GET_DELETE",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1568,
        304
      ]
    },
    {
      "parameters": {
        "content": "## BRANCH: LIST\n\nFlow:\n- Search Folder Items (List)\n- Build List Result\n\nSupports:\n- default query by resolved `folderId`\n- optional custom `listQuery`\n- pagination behavior via `listReturnAll` + `listLimit`.",
        "height": 300,
        "width": 560,
        "color": 3
      },
      "id": "9005",
      "name": "NOTE::GGDRIVE::BRANCH_LIST",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1568,
        976
      ]
    },
    {
      "parameters": {
        "content": "## BRANCH: UPSERT (UPLOAD/UPDATE)\n\nFlow:\n- If Has File Binary\n- Search Existing File\n- If File Exists\n- Update Existing File OR Upload New File\n- Build Updated Result / Build Created Result\n- Build Missing File Result\n\nPurpose: idempotent file write path with clear outcomes (`updated` vs `created`).\n\nBranch safety:\n- Merge context nodes are fed from active `If` branches only, so inactive paths do not emit empty terminal outputs.\n- ID precedence: file-search/update/upload outputs override folder-context IDs in merge nodes.",
        "height": 360,
        "width": 640,
        "color": 2
      },
      "id": "9006",
      "name": "NOTE::GGDRIVE::BRANCH_UPSERT",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1584,
        -368
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Request": {
      "main": [
        [
          {
            "node": "If Has Segment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Segment": {
      "main": [
        [
          {
            "node": "Search Current Folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Folder Search Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Target Folder Root",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Current Folder": {
      "main": [
        [
          {
            "node": "Merge Folder Search Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Folder Search Context": {
      "main": [
        [
          {
            "node": "If Folder Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Folder Exists": {
      "main": [
        [
          {
            "node": "Set Existing Folder Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Can Create Missing Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Can Create Missing Folder": {
      "main": [
        [
          {
            "node": "Create Missing Folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Created Folder Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Folder Not Found Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Missing Folder": {
      "main": [
        [
          {
            "node": "Merge Created Folder Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Created Folder Context": {
      "main": [
        [
          {
            "node": "Set Created Folder Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Existing Folder Context": {
      "main": [
        [
          {
            "node": "If Has Remaining Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Created Folder Context": {
      "main": [
        [
          {
            "node": "If Has Remaining Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Remaining Path": {
      "main": [
        [
          {
            "node": "Prepare Recursive Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Target Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Recursive Request": {
      "main": [
        [
          {
            "node": "Execute Recursive Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target Folder Root": {
      "main": [
        [
          {
            "node": "Finalize Target Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Target Context": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Search Existing File (Get/Delete)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge File Search Context (Get/Delete)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Existing File (Get/Delete)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge File Search Context (Get/Delete)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Folder Items (List)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Has File Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Folder Items (List)": {
      "main": [
        [
          {
            "node": "Build List Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Existing File (Get/Delete)": {
      "main": [
        [
          {
            "node": "Merge File Search Context (Get/Delete)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge File Search Context (Get/Delete)": {
      "main": [
        [
          {
            "node": "If File Exists (Get/Delete)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File Exists (Get/Delete)": {
      "main": [
        [
          {
            "node": "If Delete Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build File Not Found Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Delete Action": {
      "main": [
        [
          {
            "node": "Delete Existing File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Deleted File Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Get File Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Existing File": {
      "main": [
        [
          {
            "node": "Merge Deleted File Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Deleted File Context": {
      "main": [
        [
          {
            "node": "Build Delete Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has File Binary": {
      "main": [
        [
          {
            "node": "Search Existing File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge File Search Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Missing File Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Existing File": {
      "main": [
        [
          {
            "node": "Merge File Search Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge File Search Context": {
      "main": [
        [
          {
            "node": "If File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File Exists": {
      "main": [
        [
          {
            "node": "Update Existing File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Updated File Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload New File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Uploaded File Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing File": {
      "main": [
        [
          {
            "node": "Merge Updated File Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Updated File Context": {
      "main": [
        [
          {
            "node": "Build Updated Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload New File": {
      "main": [
        [
          {
            "node": "Merge Uploaded File Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Uploaded File Context": {
      "main": [
        [
          {
            "node": "Build Created Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
