workflows/google/gg-sheet-manager.workflow.json
{
  "name": "GG Sheet Manager",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "gdriveCredentialName",
              "value": "__GDRIVE_CREDENTIAL_NAME__",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "2",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nconst rawAction = safeText(input.action, 'ensureAndWrite').toLowerCase();\nconst action = rawAction === 'ensuresheet'\n  ? 'ensureSheet'\n  : (rawAction === 'writerows' ? 'writeRows' : 'ensureAndWrite');\n\nconst sessionSheetId = safeText(input.session_sheet_id, safeText(input.sheetId));\nconst sessionSheetName = safeText(input.session_sheet_name, safeText(input.sheetName, 'book-review-assets'));\nconst sheetTabName = safeText(input.sheetTabName, 'assets');\nconst targetFolderId = safeText(input.session_folder_id, safeText(input.targetFolderId));\nconst sheetRows = Array.isArray(input.session_sheet_rows)\n  ? input.session_sheet_rows\n  : (Array.isArray(input.sheetRows) ? input.sheetRows : []);\n\nconst shouldEnsure = action === 'ensureAndWrite' || action === 'ensureSheet';\nconst shouldWrite = action === 'ensureAndWrite' || action === 'writeRows';\nconst shouldMove = shouldEnsure && targetFolderId !== '';\nconst shouldCreateSheet = shouldEnsure && sessionSheetId === '';\nconst missingSheetIdForWrite = action === 'writeRows' && sessionSheetId === '';\nconst shouldCallWriteApi = shouldWrite && !missingSheetIdForWrite;\n\nreturn {\n  ...input,\n  action,\n  sheetId: sessionSheetId,\n  sheetName: sessionSheetName,\n  sheetTabName,\n  targetFolderId,\n  sheetRows,\n  shouldEnsure,\n  shouldWrite,\n  shouldMove,\n  shouldCreateSheet,\n  missingSheetIdForWrite,\n  shouldCallWriteApi,\n};"
      },
      "id": "3",
      "name": "Normalize Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.shouldCreateSheet === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4",
      "name": "If Need Create Sheet",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -384,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { properties: { title: $json.sheetName || \"book-review-assets\" }, sheets: [{ properties: { title: $json.sheetTabName || \"assets\" } }] } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "5",
      "name": "Create Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -160,
        224
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__GDRIVE_CREDENTIAL_ID__",
          "name": "__GDRIVE_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nconst sheetId = safeText(input.sheetId);\nconst sheetUrl = sheetId ? 'https://docs.google.com/spreadsheets/d/' + sheetId : '';\n\nreturn {\n  ...input,\n  statusCode: sheetId ? 200 : 404,\n  body: {\n    spreadsheetId: sheetId,\n    spreadsheetUrl: sheetUrl,\n  },\n};"
      },
      "id": "6",
      "name": "Use Existing Sheet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        416
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nconst body = input.body && typeof input.body === 'object' ? input.body : {};\nconst sheetId = safeText(body.spreadsheetId, safeText(input.sheetId, safeText(input.session_sheet_id)));\nconst sheetUrl = safeText(\n  body.spreadsheetUrl,\n  safeText(input.sheetUrl, sheetId ? 'https://docs.google.com/spreadsheets/d/' + sheetId : ''),\n);\n\nconst createStatusCode = Number(input.statusCode ?? 0);\n\nreturn {\n  ...input,\n  session_sheet_id: sheetId,\n  session_sheet_url: sheetUrl,\n  session_sheet_create_status_code: Number.isFinite(createStatusCode) ? createStatusCode : 0,\n};"
      },
      "id": "7",
      "name": "Prepare Sheet Meta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.shouldMove === true && String($json.session_sheet_id || \"\").trim() !== \"\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8",
      "name": "If Should Move Sheet",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        320
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": "={{ $json.session_sheet_id }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": "={{ $json.targetFolderId }}",
        "authentication": "oAuth2"
      },
      "id": "9",
      "name": "Move Sheet To Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        512,
        224
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__GDRIVE_CREDENTIAL_ID__",
          "name": "__GDRIVE_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\nreturn {\n  ...input,\n  session_sheet_move_status: 'success',\n};"
      },
      "id": "10",
      "name": "Prepare Move Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        224
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\nreturn {\n  ...input,\n  session_sheet_move_status: 'skipped',\n};"
      },
      "id": "11",
      "name": "Prepare Move Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        416
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.shouldCallWriteApi === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "12",
      "name": "If Should Write Rows",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        320
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://sheets.googleapis.com/v4/spreadsheets/\" + encodeURIComponent($json.session_sheet_id || \"\") + \"/values/\" + encodeURIComponent(($json.sheetTabName || \"assets\") + \"!A1\") + \"?valueInputOption=RAW\" }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { values: Array.isArray($json.sheetRows) ? $json.sheetRows : [] } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "13",
      "name": "Write Sheet Rows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1184,
        224
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__GDRIVE_CREDENTIAL_ID__",
          "name": "__GDRIVE_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\nconst statusCode = Number(input.statusCode ?? 0);\nreturn {\n  ...input,\n  session_sheet_update_status_code: Number.isFinite(statusCode) ? statusCode : 0,\n};"
      },
      "id": "14",
      "name": "Prepare Write Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        224
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\nreturn {\n  ...input,\n  session_sheet_update_status_code: 0,\n};"
      },
      "id": "15",
      "name": "Prepare Write Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        416
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nconst sheetId = safeText(input.session_sheet_id);\nconst sheetUrl = safeText(input.session_sheet_url, sheetId ? 'https://docs.google.com/spreadsheets/d/' + sheetId : '');\n\nconst writeStatusCodeRaw = Number(input.session_sheet_update_status_code ?? 0);\nconst writeStatusCode = Number.isFinite(writeStatusCodeRaw) ? writeStatusCodeRaw : 0;\nconst writeOk = input.shouldWrite !== true\n  ? true\n  : (input.missingSheetIdForWrite === true\n      ? false\n      : (writeStatusCode >= 200 && writeStatusCode < 300));\nconst ensureOk = input.shouldEnsure !== true || sheetId !== '';\n\nreturn {\n  ...input,\n  status: ensureOk && writeOk ? 'success' : 'partial',\n  sheetId,\n  sheetUrl,\n  session_sheet_id: sheetId,\n  session_sheet_url: sheetUrl,\n  session_sheet_create_status_code: Number(input.session_sheet_create_status_code ?? 0),\n  session_sheet_update_status_code: writeStatusCode,\n};"
      },
      "id": "16",
      "name": "Build Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        320
      ]
    },
    {
      "parameters": {
        "content": "## INPUT CONTRACT (Execute Workflow Trigger)\n\n`action` (string): `ensureAndWrite|ensureSheet|writeRows` (default `ensureAndWrite`)\n`session_sheet_id` or `sheetId` (string): existing sheet ID\n`session_sheet_name` or `sheetName` (string): sheet title when creating (default `book-review-assets`)\n`sheetTabName` (string): tab name (default `assets`)\n`session_folder_id` or `targetFolderId` (string): Drive folder to move sheet into\n`session_sheet_rows` or `sheetRows` (2D array): data rows to write at `A1`\n\n### Behavior flags (auto by Normalize Request)\n- `shouldEnsure`, `shouldWrite`, `shouldMove`\n- `shouldCreateSheet`, `shouldCallWriteApi`\n- `missingSheetIdForWrite`\n\n### Result keys\n`status`, `sheetId`, `sheetUrl`, `session_sheet_id`, `session_sheet_url`, `session_sheet_create_status_code`, `session_sheet_update_status_code`.",
        "height": 820,
        "width": 760,
        "color": 7
      },
      "id": "9101",
      "name": "NOTE::GGSHEET::INPUT_FIELDS",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1856,
        -496
      ]
    },
    {
      "parameters": {
        "content": "## STAGE 1: NORMALIZE + ROUTE FLAGS\n\nNodes:\n- Set Config\n- Normalize Request\n\nPurpose:\n- chuẩn hóa input aliases (`session_sheet_id` vs `sheetId`)\n- set action hợp lệ\n- dựng flags điều hướng cho các stage sau.",
        "height": 340,
        "width": 640,
        "color": 5
      },
      "id": "9102",
      "name": "NOTE::GGSHEET::STAGE_NORMALIZE",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1136,
        -368
      ]
    },
    {
      "parameters": {
        "content": "## STAGE 2: ENSURE SHEET\n\nFlow:\n- If Need Create Sheet\n- Create Sheet OR Use Existing Sheet\n- Prepare Sheet Meta\n\nKết quả:\n- luôn cố gắng trả về `session_sheet_id` + `session_sheet_url` để dùng cho bước move/write.",
        "height": 360,
        "width": 620,
        "color": 6
      },
      "id": "9103",
      "name": "NOTE::GGSHEET::STAGE_ENSURE",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -448,
        -384
      ]
    },
    {
      "parameters": {
        "content": "## STAGE 3: MOVE TO FOLDER (OPTIONAL)\n\nFlow:\n- If Should Move Sheet\n- Move Sheet To Folder\n- Prepare Move Context / Prepare Move Skipped\n\nChỉ chạy khi có `targetFolderId` và có `session_sheet_id`.",
        "height": 320,
        "width": 620,
        "color": 4
      },
      "id": "9104",
      "name": "NOTE::GGSHEET::STAGE_MOVE",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        272,
        -368
      ]
    },
    {
      "parameters": {
        "content": "## STAGE 4: WRITE ROWS (OPTIONAL)\n\nFlow:\n- If Should Write Rows\n- Write Sheet Rows\n- Prepare Write Result / Prepare Write Skipped\n\nWrite target: `${sheetTabName}!A1` với payload `values` từ `sheetRows`.",
        "height": 320,
        "width": 620,
        "color": 3
      },
      "id": "9105",
      "name": "NOTE::GGSHEET::STAGE_WRITE",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        928,
        -368
      ]
    },
    {
      "parameters": {
        "content": "## STAGE 5: FINAL RESULT\n\nNode: Build Result\n\nRule:\n- `status=success` khi ensure/write pass theo logic flags\n- `status=partial` khi thiếu sheet ID cho write hoặc write API không 2xx\n\nOutput giữ đầy đủ context để workflow cha dùng tiếp.",
        "height": 300,
        "width": 560,
        "color": 2
      },
      "id": "9106",
      "name": "NOTE::GGSHEET::STAGE_RESULT",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1600,
        -336
      ]
    },
    {
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "action",
              "type": "string"
            },
            {
              "name": "session_sheet_id",
              "type": "string"
            },
            {
              "name": "sheetId",
              "type": "string"
            },
            {
              "name": "session_sheet_name",
              "type": "string"
            },
            {
              "name": "sheetName",
              "type": "string"
            },
            {
              "name": "sheetTabName",
              "type": "string"
            },
            {
              "name": "session_folder_id",
              "type": "string"
            },
            {
              "name": "targetFolderId",
              "type": "string"
            },
            {
              "name": "session_sheet_rows",
              "type": "array"
            },
            {
              "name": "sheetRows",
              "type": "array"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1056,
        320
      ],
      "id": "9d8e4d45-0e54-41b9-9553-cd90e8a3467c",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Set Config": {
      "main": [
        [
          {
            "node": "Normalize Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Request": {
      "main": [
        [
          {
            "node": "If Need Create Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Need Create Sheet": {
      "main": [
        [
          {
            "node": "Create Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Use Existing Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sheet": {
      "main": [
        [
          {
            "node": "Prepare Sheet Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Existing Sheet": {
      "main": [
        [
          {
            "node": "Prepare Sheet Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Meta": {
      "main": [
        [
          {
            "node": "If Should Move Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Should Move Sheet": {
      "main": [
        [
          {
            "node": "Move Sheet To Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Move Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Sheet To Folder": {
      "main": [
        [
          {
            "node": "Prepare Move Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Move Context": {
      "main": [
        [
          {
            "node": "If Should Write Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Move Skipped": {
      "main": [
        [
          {
            "node": "If Should Write Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Should Write Rows": {
      "main": [
        [
          {
            "node": "Write Sheet Rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Write Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Sheet Rows": {
      "main": [
        [
          {
            "node": "Prepare Write Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Write Result": {
      "main": [
        [
          {
            "node": "Build Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Write Skipped": {
      "main": [
        [
          {
            "node": "Build Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
