workflows/google/gg-sheet-manager.workflow.json
{
  "name": "GG Sheet Manager",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nconst rawAction = safeText(input.action, 'ensureAndWrite').toLowerCase();\nconst action = rawAction === 'ensuresheet'\n  ? 'ensureSheet'\n  : (rawAction === 'writerows' ? 'writeRows' : 'ensureAndWrite');\n\nconst spreadsheetId = safeText(input.spreadsheetId);\nconst spreadsheetName = safeText(input.spreadsheetName, 'untitled-sheet');\nconst sheetName = safeText(input.sheetName, 'Sheet1');\nconst folderId = safeText(input.folderId);\nconst rows = Array.isArray(input.rows) ? input.rows : [];\nconst writeRange = safeText(input.range, sheetName + '!A1');\n\nconst normalizedValueInputOption = safeText(input.valueInputOption, 'RAW').toUpperCase();\nconst valueInputOption = normalizedValueInputOption === 'USER_ENTERED'\n  ? 'USER_ENTERED'\n  : 'RAW';\n\nconst shouldEnsure = action === 'ensureAndWrite' || action === 'ensureSheet';\nconst shouldWrite = action === 'ensureAndWrite' || action === 'writeRows';\nconst shouldMove = shouldEnsure && folderId !== '';\nconst shouldCreateSheet = shouldEnsure && spreadsheetId === '';\nconst missingSpreadsheetIdForWrite = action === 'writeRows' && spreadsheetId === '';\nconst shouldCallWriteApi = shouldWrite && !missingSpreadsheetIdForWrite;\n\nreturn {\n  ...input,\n  action,\n  spreadsheetId,\n  spreadsheetName,\n  sheetName,\n  folderId,\n  rows,\n  writeRange,\n  valueInputOption,\n  shouldEnsure,\n  shouldWrite,\n  shouldMove,\n  shouldCreateSheet,\n  missingSpreadsheetIdForWrite,\n  shouldCallWriteApi,\n};"
      },
      "id": "3",
      "name": "Normalize Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.shouldCreateSheet === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4",
      "name": "If Need Create Sheet",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -608,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { properties: { title: $json.spreadsheetName || \"untitled-sheet\" }, sheets: [{ properties: { title: $json.sheetName || \"Sheet1\" } }] } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "5",
      "name": "Create Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -384,
        224
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8Js1s0C68vWbwopW",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nconst spreadsheetId = safeText(input.spreadsheetId);\nconst spreadsheetUrl = spreadsheetId ? 'https://docs.google.com/spreadsheets/d/' + spreadsheetId : '';\n\nreturn {\n  ...input,\n  statusCode: spreadsheetId ? 200 : 404,\n  body: {\n    spreadsheetId,\n    spreadsheetUrl,\n  },\n};"
      },
      "id": "6",
      "name": "Use Existing Sheet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        416
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nconst body = input.body && typeof input.body === 'object' ? input.body : {};\nconst spreadsheetId = safeText(body.spreadsheetId, safeText(input.spreadsheetId));\nconst spreadsheetUrl = safeText(\n  body.spreadsheetUrl,\n  safeText(input.spreadsheetUrl, spreadsheetId ? 'https://docs.google.com/spreadsheets/d/' + spreadsheetId : ''),\n);\n\nconst createStatusCodeRaw = Number(input.statusCode ?? 0);\nconst createStatusCode = Number.isFinite(createStatusCodeRaw) ? createStatusCodeRaw : 0;\n\nreturn {\n  ...input,\n  spreadsheetId,\n  spreadsheetUrl,\n  createStatusCode,\n};"
      },
      "id": "7",
      "name": "Prepare Sheet Meta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.shouldMove === true && String($json.spreadsheetId || \"\").trim() !== \"\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8",
      "name": "If Should Move Sheet",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        320
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": "={{ $json.spreadsheetId }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": "={{ $json.folderId }}"
      },
      "id": "9",
      "name": "Move Sheet To Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        288,
        224
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8Js1s0C68vWbwopW",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\nreturn {\n  ...input,\n  moveStatus: 'success',\n};"
      },
      "id": "10",
      "name": "Prepare Move Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        224
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\nreturn {\n  ...input,\n  moveStatus: 'skipped',\n};"
      },
      "id": "11",
      "name": "Prepare Move Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        416
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.shouldCallWriteApi === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "12",
      "name": "If Should Write Rows",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        736,
        320
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://sheets.googleapis.com/v4/spreadsheets/\" + encodeURIComponent($json.spreadsheetId || \"\") + \"/values/\" + encodeURIComponent($json.writeRange || (($json.sheetName || \"Sheet1\") + \"!A1\")) + \"?valueInputOption=\" + encodeURIComponent($json.valueInputOption || \"RAW\") }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { values: Array.isArray($json.rows) ? $json.rows : [] } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "13",
      "name": "Write Sheet Rows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        960,
        224
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8Js1s0C68vWbwopW",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\nconst writeStatusCodeRaw = Number(input.statusCode ?? 0);\nreturn {\n  ...input,\n  writeStatusCode: Number.isFinite(writeStatusCodeRaw) ? writeStatusCodeRaw : 0,\n};"
      },
      "id": "14",
      "name": "Prepare Write Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        224
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\nreturn {\n  ...input,\n  writeStatusCode: 0,\n};"
      },
      "id": "15",
      "name": "Prepare Write Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        416
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nconst spreadsheetId = safeText(input.spreadsheetId);\nconst spreadsheetUrl = safeText(input.spreadsheetUrl, spreadsheetId ? 'https://docs.google.com/spreadsheets/d/' + spreadsheetId : '');\n\nconst createStatusCodeRaw = Number(input.createStatusCode ?? 0);\nconst createStatusCode = Number.isFinite(createStatusCodeRaw) ? createStatusCodeRaw : 0;\n\nconst writeStatusCodeRaw = Number(input.writeStatusCode ?? 0);\nconst writeStatusCode = Number.isFinite(writeStatusCodeRaw) ? writeStatusCodeRaw : 0;\n\nconst writeOk = input.shouldWrite !== true\n  ? true\n  : (input.missingSpreadsheetIdForWrite === true\n      ? false\n      : (writeStatusCode >= 200 && writeStatusCode < 300));\nconst ensureOk = input.shouldEnsure !== true || spreadsheetId !== '';\n\nconst moveStatus = safeText(input.moveStatus, input.shouldMove === true ? 'failed' : 'skipped');\n\nreturn {\n  ...input,\n  status: ensureOk && writeOk ? 'success' : 'partial',\n  spreadsheetId,\n  spreadsheetUrl,\n  createStatusCode,\n  writeStatusCode,\n  writeRange: safeText(input.writeRange),\n  moveStatus,\n};"
      },
      "id": "16",
      "name": "Build Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        320
      ]
    },
    {
      "parameters": {
        "content": "## INPUT CONTRACT (Execute Workflow Trigger)\n\n`action` (string): `ensureAndWrite|ensureSheet|writeRows` (default `ensureAndWrite`)\n`spreadsheetId` (string): existing spreadsheet ID (optional)\n`spreadsheetName` (string): spreadsheet title when creating (default `untitled-sheet`)\n`sheetName` (string): tab name (default `Sheet1`)\n`folderId` (string): Drive folder ID de move spreadsheet (optional)\n`rows` (2D array): data rows de ghi vao range\n`range` (string): range ghi du lieu (default `${sheetName}!A1`)\n`valueInputOption` (string): `RAW|USER_ENTERED` (default `RAW`)\n\n### Behavior flags (auto by Normalize Request)\n- `shouldEnsure`, `shouldWrite`, `shouldMove`\n- `shouldCreateSheet`, `shouldCallWriteApi`\n- `missingSpreadsheetIdForWrite`\n\n### Result keys\n`status`, `spreadsheetId`, `spreadsheetUrl`, `createStatusCode`, `writeStatusCode`, `writeRange`, `moveStatus`.",
        "height": 820,
        "width": 760,
        "color": 7
      },
      "id": "9101",
      "name": "NOTE::GGSHEET::INPUT_FIELDS",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1856,
        -496
      ]
    },
    {
      "parameters": {
        "content": "## STAGE 1: NORMALIZE + ROUTE FLAGS\n\nNodes:\n- When Executed by Another Workflow\n- Normalize Request\n\nPurpose:\n- chuan hoa input camelCase\n- validate action + defaults\n- dung flags dieu huong cho ensure/move/write.",
        "height": 340,
        "width": 640,
        "color": 5
      },
      "id": "9102",
      "name": "NOTE::GGSHEET::STAGE_NORMALIZE",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1136,
        -368
      ]
    },
    {
      "parameters": {
        "content": "## STAGE 2: ENSURE SPREADSHEET\n\nFlow:\n- If Need Create Sheet\n- Create Sheet OR Use Existing Sheet\n- Prepare Sheet Meta\n\nKet qua:\n- luon tra `spreadsheetId` + `spreadsheetUrl` de dung cho move/write.",
        "height": 360,
        "width": 620,
        "color": 6
      },
      "id": "9103",
      "name": "NOTE::GGSHEET::STAGE_ENSURE",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -448,
        -384
      ]
    },
    {
      "parameters": {
        "content": "## STAGE 3: MOVE TO FOLDER (OPTIONAL)\n\nFlow:\n- If Should Move Sheet\n- Move Sheet To Folder\n- Prepare Move Context / Prepare Move Skipped\n\nChi chay khi co `folderId` va co `spreadsheetId`.",
        "height": 320,
        "width": 620,
        "color": 4
      },
      "id": "9104",
      "name": "NOTE::GGSHEET::STAGE_MOVE",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        272,
        -368
      ]
    },
    {
      "parameters": {
        "content": "## STAGE 4: WRITE ROWS (OPTIONAL)\n\nFlow:\n- If Should Write Rows\n- Write Sheet Rows\n- Prepare Write Result / Prepare Write Skipped\n\nWrite target: `writeRange` voi payload `values` tu `rows`.",
        "height": 320,
        "width": 620,
        "color": 3
      },
      "id": "9105",
      "name": "NOTE::GGSHEET::STAGE_WRITE",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        928,
        -368
      ]
    },
    {
      "parameters": {
        "content": "## STAGE 5: FINAL RESULT\n\nNode: Build Result\n\nRule:\n- `status=success` khi ensure/write pass theo logic flags\n- `status=partial` khi thieu spreadsheet ID cho write hoac write API khong 2xx\n\nOutput tra keys generic, khong gan context book-review.",
        "height": 300,
        "width": 560,
        "color": 2
      },
      "id": "9106",
      "name": "NOTE::GGSHEET::STAGE_RESULT",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1600,
        -336
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "action"
            },
            {
              "name": "spreadsheetId"
            },
            {
              "name": "spreadsheetName"
            },
            {
              "name": "sheetName"
            },
            {
              "name": "folderId"
            },
            {
              "name": "rows",
              "type": "array"
            },
            {
              "name": "range"
            },
            {
              "name": "valueInputOption"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1056,
        320
      ],
      "id": "9d8e4d45-0e54-41b9-9553-cd90e8a3467c",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Normalize Request": {
      "main": [
        [
          {
            "node": "If Need Create Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Need Create Sheet": {
      "main": [
        [
          {
            "node": "Create Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Use Existing Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sheet": {
      "main": [
        [
          {
            "node": "Prepare Sheet Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Existing Sheet": {
      "main": [
        [
          {
            "node": "Prepare Sheet Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Meta": {
      "main": [
        [
          {
            "node": "If Should Move Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Should Move Sheet": {
      "main": [
        [
          {
            "node": "Move Sheet To Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Move Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Sheet To Folder": {
      "main": [
        [
          {
            "node": "Prepare Move Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Move Context": {
      "main": [
        [
          {
            "node": "If Should Write Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Move Skipped": {
      "main": [
        [
          {
            "node": "If Should Write Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Should Write Rows": {
      "main": [
        [
          {
            "node": "Write Sheet Rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Write Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Sheet Rows": {
      "main": [
        [
          {
            "node": "Prepare Write Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Write Result": {
      "main": [
        [
          {
            "node": "Build Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Write Skipped": {
      "main": [
        [
          {
            "node": "Build Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
