workflows/media/tts.workflow.json
{
  "name": "TTS",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "request_id"
            },
            {
              "name": "input_mode"
            },
            {
              "name": "drive_file_url"
            },
            {
              "name": "workflow"
            },
            {
              "name": "input_text"
            },
            {
              "name": "text"
            },
            {
              "name": "content"
            },
            {
              "name": "media_chunks",
              "type": "array"
            },
            {
              "name": "chunk_manifest",
              "type": "array"
            },
            {
              "name": "review_manifest",
              "type": "object"
            },
            {
              "name": "tts_api_base_url"
            },
            {
              "name": "tts_voice_id"
            },
            {
              "name": "tts_temperature",
              "type": "number"
            },
            {
              "name": "tts_top_k",
              "type": "number"
            },
            {
              "name": "tts_max_chars",
              "type": "number"
            },
            {
              "name": "tts_silence_p",
              "type": "number"
            },
            {
              "name": "tts_crossfade_p",
              "type": "number"
            },
            {
              "name": "tts_timeout_ms",
              "type": "number"
            },
            {
              "name": "tts_parallelism",
              "type": "number"
            },
            {
              "name": "tts_poll_interval_seconds",
              "type": "number"
            },
            {
              "name": "tts_poll_max_attempts",
              "type": "number"
            },
            {
              "name": "tts_status_url"
            }
          ]
        }
      },
      "id": "1",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -976,
        -120
      ]
    },
    {
      "parameters": {
        "formTitle": "TTS",
        "formDescription": "input_mode=form_upload thi upload file/text. input_mode=drive_url thi cung cap full Google Drive URL.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "request_id",
              "placeholder": "req-custom-001"
            },
            {
              "fieldLabel": "input_mode",
              "placeholder": "form_upload | drive_url",
              "requiredField": true
            },
            {
              "fieldLabel": "drive_file_url",
              "placeholder": "https://drive.google.com/file/d/.../view"
            },
            {
              "fieldLabel": "input_text",
              "placeholder": "Optional plain text input"
            },
            {
              "fieldLabel": "input_file",
              "fieldType": "file",
              "multipleFiles": false
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -976,
        72
      ],
      "webhookId": "tts-form-trigger-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "request_id",
              "value": "={{ $json.request_id || ('req-' + $now.toUnix()) }}",
              "type": "string"
            },
            {
              "id": "cfg-2",
              "name": "input_mode",
              "value": "={{ $json.input_mode || ($json.drive_file_url ? 'drive_url' : 'form_upload') }}",
              "type": "string"
            },
            {
              "id": "cfg-4",
              "name": "drive_file_url",
              "value": "={{ $json.drive_file_url || '' }}",
              "type": "string"
            },
            {
              "id": "cfg-15",
              "name": "tts_api_base_url",
              "value": "http://127.0.0.1:8001",
              "type": "string"
            },
            {
              "id": "cfg-16",
              "name": "tts_voice_id",
              "value": "ngochuyen_lora",
              "type": "string"
            },
            {
              "id": "cfg-17",
              "name": "tts_temperature",
              "value": "={{ $json.tts_temperature || 0.8 }}",
              "type": "number"
            },
            {
              "id": "cfg-18",
              "name": "tts_top_k",
              "value": "={{ $json.tts_top_k || 50 }}",
              "type": "number"
            },
            {
              "id": "cfg-19",
              "name": "tts_max_chars",
              "value": "={{ $json.tts_max_chars || 256 }}",
              "type": "number"
            },
            {
              "id": "cfg-20",
              "name": "tts_silence_p",
              "value": "={{ $json.tts_silence_p || 0.05 }}",
              "type": "number"
            },
            {
              "id": "cfg-21",
              "name": "tts_crossfade_p",
              "value": "={{ $json.tts_crossfade_p || 0.03 }}",
              "type": "number"
            },
            {
              "id": "cfg-22",
              "name": "tts_timeout_ms",
              "value": "={{ $json.tts_timeout_ms || 900000 }}",
              "type": "number"
            },
            {
              "id": "cfg-23",
              "name": "tts_parallelism",
              "value": "={{ $json.tts_parallelism || 2 }}",
              "type": "number"
            },
            {
              "id": "cfg-24",
              "name": "tts_poll_interval_seconds",
              "value": "={{ $json.tts_poll_interval_seconds || 3 }}",
              "type": "number"
            },
            {
              "id": "cfg-25",
              "name": "tts_poll_max_attempts",
              "value": "={{ $json.tts_poll_max_attempts || 180 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "3",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        -24
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\nconst binary = $binary ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction normalizeText(value) {\n  return String(value ?? '').replace(/\\r\\n/g, '\\n').trim();\n}\n\nfunction asInt(value, fallback = 0, min = 0, max = 1000000) {\n  const number = Number(value);\n  const normalized = Number.isFinite(number) ? Math.floor(number) : fallback;\n  return Math.min(max, Math.max(min, normalized));\n}\n\nfunction safeJsonParse(value, fallback = null) {\n  try {\n    return JSON.parse(String(value ?? ''));\n  } catch (_) {\n    return fallback;\n  }\n}\n\nfunction parseJsonObject(rawText) {\n  const raw = safeText(rawText);\n  if (!raw) return null;\n\n  const direct = safeJsonParse(raw, null);\n  if (direct && typeof direct === 'object') return direct;\n\n  const fence = raw.match(/\\x60\\x60\\x60(?:json)?\\s*([\\s\\S]*?)\\x60\\x60\\x60/i);\n  if (fence) {\n    const parsedFence = safeJsonParse(fence[1], null);\n    if (parsedFence && typeof parsedFence === 'object') return parsedFence;\n  }\n\n  const firstObj = raw.indexOf('{');\n  const lastObj = raw.lastIndexOf('}');\n  if (firstObj >= 0 && lastObj > firstObj) {\n    const parsedObj = safeJsonParse(raw.slice(firstObj, lastObj + 1), null);\n    if (parsedObj && typeof parsedObj === 'object') return parsedObj;\n  }\n\n  return null;\n}\n\nfunction tokenizeSentences(text) {\n  const normalized = normalizeText(text).replace(/\\s+/g, ' ');\n  if (!normalized) return [];\n\n  const matches = normalized.match(/[^.!?…]+(?:[.!?…]+(?:[\"'”’)\\]]+)*)|[^.!?…]+$/g) ?? [];\n  const sentences = matches.map((item) => item.trim()).filter(Boolean);\n  return sentences.length > 0 ? sentences : [normalized];\n}\n\nfunction normalizeSceneItem(item, index) {\n  const source = item && typeof item === 'object' ? item : {};\n  const order = asInt(source.order, index + 1, 1, 10000);\n  const sceneId = safeText(source.scene_id, safeText(source.chunk_key, 'scene_' + String(order).padStart(2, '0')));\n  const narrationText = safeText(source.narration_text, safeText(source.text));\n\n  return {\n    scene_id: sceneId,\n    order,\n    scene_title: safeText(source.scene_title, 'Phan canh ' + String(order).padStart(2, '0')),\n    scene_role: safeText(source.scene_role, order === 1 ? 'hook' : 'core'),\n    narration_text: narrationText,\n    image_prompt_en: safeText(source.image_prompt_en),\n    highlight_quote_vi: safeText(source.highlight_quote_vi),\n    estimated_duration_sec: asInt(source.estimated_duration_sec, order === 1 ? 60 : 95, 15, 300),\n    transition: safeText(source.transition, 'cut'),\n\n    chunk_key: safeText(source.chunk_key, sceneId),\n    partName: safeText(source.partName, sceneId),\n    index: asInt(source.index, order, 1, 10000),\n    text: safeText(source.text, narrationText),\n    sentence_count: Math.max(1, tokenizeSentences(narrationText).length),\n    chunk_type: safeText(source.chunk_type, 'scene'),\n  };\n}\n\nfunction normalizeChunkManifest(items) {\n  if (!Array.isArray(items)) return [];\n  return items\n    .map((item, idx) => normalizeSceneItem(item, idx))\n    .filter((item) => safeText(item.narration_text) !== '' || safeText(item.image_prompt_en) !== '');\n}\n\nfunction parseDriveFileIdFromUrl(url) {\n  const text = safeText(url);\n  if (!text) return '';\n\n  const byPath = text.match(/\\/d\\/([a-zA-Z0-9_-]{10,})/);\n  if (byPath) return safeText(byPath[1]);\n\n  const byQuery = text.match(/[?&]id=([a-zA-Z0-9_-]{10,})/);\n  if (byQuery) return safeText(byQuery[1]);\n\n  const byUc = text.match(/\\/uc\\?.*?[?&]id=([a-zA-Z0-9_-]{10,})/);\n  if (byUc) return safeText(byUc[1]);\n\n  return '';\n}\n\nfunction readFirstBinaryText(binaryMap) {\n  const keys = Object.keys(binaryMap ?? {});\n  if (keys.length === 0) return '';\n\n  const first = binaryMap[keys[0]];\n  const base64 = safeText(first?.data);\n  if (!base64) return '';\n\n  try {\n    return Buffer.from(base64, 'base64').toString('utf8');\n  } catch (_) {\n    return '';\n  }\n}\n\nlet inputMode = safeText(input.input_mode).toLowerCase();\nif (!inputMode) {\n  inputMode = safeText(input.drive_file_url) ? 'drive_url' : 'form_upload';\n}\nif (inputMode !== 'form_upload' && inputMode !== 'drive_url') {\n  inputMode = 'form_upload';\n}\n\nconst driveFileUrl = safeText(input.drive_file_url);\nconst driveFileId = parseDriveFileIdFromUrl(driveFileUrl);\n\nconst incomingManifest = Array.isArray(input.chunk_manifest) && input.chunk_manifest.length > 0\n  ? input.chunk_manifest\n  : input.media_chunks;\nlet chunks = normalizeChunkManifest(incomingManifest);\n\nif (chunks.length === 0 && input.review_manifest && typeof input.review_manifest === 'object') {\n  chunks = normalizeChunkManifest(input.review_manifest.scenes);\n}\n\nif (chunks.length === 0) {\n  const sourceText = normalizeText(input.input_text ?? input.text ?? input.content ?? readFirstBinaryText(binary));\n  if (sourceText) {\n    const parsed = parseJsonObject(sourceText);\n    if (parsed && typeof parsed === 'object' && Array.isArray(parsed.scenes)) {\n      chunks = normalizeChunkManifest(parsed.scenes);\n    }\n\n    if (chunks.length === 0) {\n      chunks = [normalizeSceneItem({\n        scene_id: 'scene_01',\n        order: 1,\n        scene_title: 'Scene 01',\n        scene_role: 'core',\n        narration_text: sourceText,\n        image_prompt_en: 'cinematic storytelling illustration, warm light, emotional depth',\n        highlight_quote_vi: '',\n        estimated_duration_sec: 120,\n        transition: 'cut',\n      }, 0)];\n    }\n  }\n}\n\nconst requestId = safeText(input.request_id, 'req-' + Date.now().toString(36));\nconst needsDriveDownload = inputMode === 'drive_url' && chunks.length === 0 && !!driveFileUrl && !!driveFileId;\nconst driveUrlStatus =\n  inputMode === 'drive_url'\n    ? (driveFileId ? 'parsed' : (driveFileUrl ? 'invalid_url' : 'missing_url'))\n    : 'not_required';\n\nreturn {\n  ...input,\n  workflow: safeText(input.workflow, 'scene-media'),\n  request_id: requestId,\n  input_mode: inputMode,\n  drive_file_url: driveFileUrl,\n  drive_file_id: driveFileId,\n  drive_url_status: driveUrlStatus,\n  needs_drive_download: needsDriveDownload,\n  media_chunks: chunks,\n  chunk_manifest: chunks,\n  media_should_run: chunks.length > 0,\n};"
      },
      "id": "4",
      "name": "Normalize Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        -24
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.needs_drive_download === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5",
      "name": "If Needs Drive Download",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -304,
        -24
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.drive_file_id }}",
        "options": {}
      },
      "id": "6",
      "name": "Google Drive Download Source",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -80,
        -96
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8Js1s0C68vWbwopW",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\nconst binary = $binary ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction normalizeText(value) {\n  return String(value ?? '').replace(/\\r\\n/g, '\\n').trim();\n}\n\nfunction asInt(value, fallback = 0, min = 0, max = 1000000) {\n  const number = Number(value);\n  const normalized = Number.isFinite(number) ? Math.floor(number) : fallback;\n  return Math.min(max, Math.max(min, normalized));\n}\n\nfunction safeJsonParse(value, fallback = null) {\n  try {\n    return JSON.parse(String(value ?? ''));\n  } catch (_) {\n    return fallback;\n  }\n}\n\nfunction parseJsonObject(rawText) {\n  const raw = safeText(rawText);\n  if (!raw) return null;\n\n  const direct = safeJsonParse(raw, null);\n  if (direct && typeof direct === 'object') return direct;\n\n  const fence = raw.match(/\\x60\\x60\\x60(?:json)?\\s*([\\s\\S]*?)\\x60\\x60\\x60/i);\n  if (fence) {\n    const parsedFence = safeJsonParse(fence[1], null);\n    if (parsedFence && typeof parsedFence === 'object') return parsedFence;\n  }\n\n  const firstObj = raw.indexOf('{');\n  const lastObj = raw.lastIndexOf('}');\n  if (firstObj >= 0 && lastObj > firstObj) {\n    const parsedObj = safeJsonParse(raw.slice(firstObj, lastObj + 1), null);\n    if (parsedObj && typeof parsedObj === 'object') return parsedObj;\n  }\n\n  return null;\n}\n\nfunction tokenizeSentences(text) {\n  const normalized = normalizeText(text).replace(/\\s+/g, ' ');\n  if (!normalized) return [];\n\n  const matches = normalized.match(/[^.!?…]+(?:[.!?…]+(?:[\"'”’)\\]]+)*)|[^.!?…]+$/g) ?? [];\n  const sentences = matches.map((item) => item.trim()).filter(Boolean);\n  return sentences.length > 0 ? sentences : [normalized];\n}\n\nfunction normalizeSceneItem(item, index) {\n  const source = item && typeof item === 'object' ? item : {};\n  const order = asInt(source.order, index + 1, 1, 10000);\n  const sceneId = safeText(source.scene_id, safeText(source.chunk_key, 'scene_' + String(order).padStart(2, '0')));\n  const narrationText = safeText(source.narration_text, safeText(source.text));\n\n  return {\n    scene_id: sceneId,\n    order,\n    scene_title: safeText(source.scene_title, 'Phan canh ' + String(order).padStart(2, '0')),\n    scene_role: safeText(source.scene_role, order === 1 ? 'hook' : 'core'),\n    narration_text: narrationText,\n    image_prompt_en: safeText(source.image_prompt_en),\n    highlight_quote_vi: safeText(source.highlight_quote_vi),\n    estimated_duration_sec: asInt(source.estimated_duration_sec, order === 1 ? 60 : 95, 15, 300),\n    transition: safeText(source.transition, 'cut'),\n\n    chunk_key: safeText(source.chunk_key, sceneId),\n    partName: safeText(source.partName, sceneId),\n    index: asInt(source.index, order, 1, 10000),\n    text: safeText(source.text, narrationText),\n    sentence_count: Math.max(1, tokenizeSentences(narrationText).length),\n    chunk_type: safeText(source.chunk_type, 'scene'),\n  };\n}\n\nfunction normalizeChunkManifest(items) {\n  if (!Array.isArray(items)) return [];\n  return items\n    .map((item, idx) => normalizeSceneItem(item, idx))\n    .filter((item) => safeText(item.narration_text) !== '' || safeText(item.image_prompt_en) !== '');\n}\n\nfunction parseDriveFileIdFromUrl(url) {\n  const text = safeText(url);\n  if (!text) return '';\n\n  const byPath = text.match(/\\/d\\/([a-zA-Z0-9_-]{10,})/);\n  if (byPath) return safeText(byPath[1]);\n\n  const byQuery = text.match(/[?&]id=([a-zA-Z0-9_-]{10,})/);\n  if (byQuery) return safeText(byQuery[1]);\n\n  const byUc = text.match(/\\/uc\\?.*?[?&]id=([a-zA-Z0-9_-]{10,})/);\n  if (byUc) return safeText(byUc[1]);\n\n  return '';\n}\n\nfunction readFirstBinaryText(binaryMap) {\n  const keys = Object.keys(binaryMap ?? {});\n  if (keys.length === 0) return '';\n\n  const first = binaryMap[keys[0]];\n  const base64 = safeText(first?.data);\n  if (!base64) return '';\n\n  try {\n    return Buffer.from(base64, 'base64').toString('utf8');\n  } catch (_) {\n    return '';\n  }\n}\n\nlet inputMode = safeText(input.input_mode).toLowerCase();\nif (!inputMode) {\n  inputMode = safeText(input.drive_file_url) ? 'drive_url' : 'form_upload';\n}\nif (inputMode !== 'form_upload' && inputMode !== 'drive_url') {\n  inputMode = 'form_upload';\n}\n\nconst driveFileUrl = safeText(input.drive_file_url);\nconst driveFileId = parseDriveFileIdFromUrl(driveFileUrl);\n\nconst incomingManifest = Array.isArray(input.chunk_manifest) && input.chunk_manifest.length > 0\n  ? input.chunk_manifest\n  : input.media_chunks;\nlet chunks = normalizeChunkManifest(incomingManifest);\n\nif (chunks.length === 0 && input.review_manifest && typeof input.review_manifest === 'object') {\n  chunks = normalizeChunkManifest(input.review_manifest.scenes);\n}\n\nif (chunks.length === 0) {\n  const sourceText = normalizeText(input.input_text ?? input.text ?? input.content ?? readFirstBinaryText(binary));\n  if (sourceText) {\n    const parsed = parseJsonObject(sourceText);\n    if (parsed && typeof parsed === 'object' && Array.isArray(parsed.scenes)) {\n      chunks = normalizeChunkManifest(parsed.scenes);\n    }\n\n    if (chunks.length === 0) {\n      chunks = [normalizeSceneItem({\n        scene_id: 'scene_01',\n        order: 1,\n        scene_title: 'Scene 01',\n        scene_role: 'core',\n        narration_text: sourceText,\n        image_prompt_en: 'cinematic storytelling illustration, warm light, emotional depth',\n        highlight_quote_vi: '',\n        estimated_duration_sec: 120,\n        transition: 'cut',\n      }, 0)];\n    }\n  }\n}\n\nconst requestId = safeText(input.request_id, 'req-' + Date.now().toString(36));\nconst needsDriveDownload = inputMode === 'drive_url' && chunks.length === 0 && !!driveFileUrl && !!driveFileId;\nconst driveUrlStatus =\n  inputMode === 'drive_url'\n    ? (driveFileId ? 'parsed' : (driveFileUrl ? 'invalid_url' : 'missing_url'))\n    : 'not_required';\n\nreturn {\n  ...input,\n  workflow: safeText(input.workflow, 'scene-media'),\n  request_id: requestId,\n  input_mode: inputMode,\n  drive_file_url: driveFileUrl,\n  drive_file_id: driveFileId,\n  drive_url_status: driveUrlStatus,\n  needs_drive_download: needsDriveDownload,\n  media_chunks: chunks,\n  chunk_manifest: chunks,\n  media_should_run: chunks.length > 0,\n};"
      },
      "id": "7",
      "name": "Build Chunks From Drive File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.media_should_run === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8",
      "name": "If TTS Should Run",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        368,
        -24
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "media_chunks",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "16",
      "name": "Split Out Media Chunks",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        592,
        -120
      ]
    },
    {
      "parameters": {
        "batchSize": "={{ (() => { const n = Number($json.tts_parallelism ?? 2); if (!Number.isFinite(n) || n < 1) return 2; return Math.min(20, Math.floor(n)); })() }}",
        "options": {
          "reset": false
        }
      },
      "id": "17",
      "name": "Loop Over TTS Chunks",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        816,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ (() => { const base = String($json.tts_api_base_url || \"http://127.0.0.1:8001\").trim().replace(/\\/$/, \"\"); return /\\/stream$/i.test(base) ? base : base + \"/stream\"; })() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const chunk = $json.media_chunks && typeof $json.media_chunks === \"object\" ? $json.media_chunks : $json; return { text: String(chunk.text ?? \"\"), voice_id: String($json.tts_voice_id ?? \"ngochuyen\"), temperature: Number($json.tts_temperature ?? 0.8), top_k: Number($json.tts_top_k ?? 50), max_chars: Number($json.tts_max_chars ?? 256), silence_p: Number($json.tts_silence_p ?? 0.05), crossfade_p: Number($json.tts_crossfade_p ?? 0.03), request_id: String($json.request_id ?? \"\"), chunk_key: String(chunk.chunk_key ?? \"\") }; })() }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "file",
              "outputPropertyName": "tts_response"
            }
          }
        }
      },
      "id": "18",
      "name": "Create TTS Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1040,
        -336
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\nconst binary = $binary ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction clampInt(value, fallback = 0, min = 0, max = 1000000) {\n  const number = Number(value);\n  const normalized = Number.isFinite(number) ? Math.floor(number) : fallback;\n  return Math.min(max, Math.max(min, normalized));\n}\n\nfunction normalizeNumber(value, fallback = 0) {\n  const number = Number(value);\n  return Number.isFinite(number) ? number : fallback;\n}\n\nfunction safeJsonParse(value, fallback = null) {\n  try {\n    return JSON.parse(String(value ?? ''));\n  } catch (_) {\n    return fallback;\n  }\n}\n\nfunction pickFirstString(candidates) {\n  for (const candidate of candidates) {\n    const text = String(candidate ?? '').trim();\n    if (text) return text;\n  }\n  return '';\n}\n\nfunction resolveChunk(value) {\n  if (value?.media_chunks && typeof value.media_chunks === 'object' && !Array.isArray(value.media_chunks)) {\n    return value.media_chunks;\n  }\n  return value ?? {};\n}\n\nfunction chooseVoiceFileName(fileName, safeChunkKey, preferredExt) {\n  const raw = safeText(fileName);\n  const normalized = raw.toLowerCase();\n  const hasKnownExt = /\\.(wav|mp3|mpeg|ogg|m4a|flac|aac)$/i.test(raw);\n  const generic = ['stream', 'audio', 'file', 'output', 'tts', 'response'].includes(normalized);\n\n  if (!raw || generic || !hasKnownExt) {\n    return 'tts-' + safeChunkKey + preferredExt;\n  }\n\n  return raw;\n}\n\nfunction readBinaryInfo(binaryMap) {\n  const keys = Object.keys(binaryMap ?? {});\n  if (keys.length === 0) {\n    return {\n      key: '',\n      mimeType: '',\n      fileName: '',\n      bytes: 0,\n      hasAudio: false,\n      text: '',\n      isBinaryReference: false,\n    };\n  }\n\n  const key = keys.includes('tts_response') ? 'tts_response' : keys[0];\n  const file = binaryMap[key] ?? {};\n  const mimeType = safeText(file.mimeType);\n  const bytes = clampInt(file.bytes, 0, 0, 1000000000);\n  const contentRef = safeText(file.data);\n  const isBinaryReference = contentRef === 'filesystem-v2' || contentRef.startsWith('filesystem-v2:');\n\n  let text = '';\n  if (!isBinaryReference && contentRef) {\n    try {\n      text = Buffer.from(contentRef, 'base64').toString('utf8');\n    } catch (_) {\n      text = '';\n    }\n  }\n\n  return {\n    key,\n    mimeType,\n    fileName: safeText(file.fileName),\n    bytes,\n    isBinaryReference,\n    hasAudio: Boolean(key) && mimeType.toLowerCase().startsWith('audio/'),\n    text,\n  };\n}\n\nfunction parseResponsePayload(value, binaryInfo) {\n  const candidates = [\n    value?.body,\n    value?.data,\n    value?.payload,\n    value?.result,\n    value?.response,\n    binaryInfo.text,\n  ];\n\n  for (const candidate of candidates) {\n    const text = safeText(candidate);\n    if (!text) continue;\n    if (!text.startsWith('{') && !text.startsWith('[')) continue;\n    const parsed = safeJsonParse(text, null);\n    if (parsed) return parsed;\n  }\n\n  return null;\n}\n\nconst chunk = resolveChunk(input);\nconst binaryInfo = readBinaryInfo(binary);\nconst parsed = parseResponsePayload(input, binaryInfo);\nconst headers = input.headers ?? input.responseHeaders ?? input?.response?.headers ?? {};\nconst statusCode = Number(input.statusCode ?? input.responseCode ?? input?.response?.statusCode ?? 0);\nconst errorMessage = safeText(input.error?.message ?? input.errorMessage ?? input.message ?? '');\nconst contentType = safeText(\n  binaryInfo.mimeType,\n  safeText(headers['content-type'] ?? headers['Content-Type'] ?? headers['content_type']),\n);\n\nconst pollCount = clampInt(input.tts_poll_count, 0, 0, 1000000);\nconst pollMaxAttempts = clampInt(input.tts_poll_max_attempts, 180, 1, 1000000);\nconst pollIntervalSeconds = clampInt(input.tts_poll_interval_seconds, 3, 1, 3600);\n\nfunction buildOutputJson(overrides = {}) {\n  return {\n    ...input,\n    ...chunk,\n    media_chunks: chunk,\n    tts_poll_count: pollCount,\n    tts_poll_max_attempts: pollMaxAttempts,\n    tts_poll_interval_seconds: pollIntervalSeconds,\n    tts_should_poll: false,\n    tts_job_status: safeText(input.tts_job_status),\n    tts_job_id: safeText(input.tts_job_id),\n    tts_status_url: safeText(input.tts_status_url),\n    voice: safeText(input.voice),\n    duration: normalizeNumber(input.duration, 0),\n    voice_mime_type: safeText(input.voice_mime_type),\n    voice_bytes: clampInt(input.voice_bytes, 0, 0, 1000000000),\n    voice_binary_key: safeText(input.voice_binary_key),\n    voice_file_name: safeText(input.voice_file_name),\n    voice_drive_file_id: safeText(input.voice_drive_file_id),\n    voice_drive_url: safeText(input.voice_drive_url),\n    error_reason: input.error_reason ?? null,\n    ...overrides,\n  };\n}\n\nfunction toItem(overrides = {}) {\n  const output = {\n    json: buildOutputJson(overrides),\n  };\n\n  if (binary && typeof binary === 'object' && Object.keys(binary).length > 0) {\n    output.binary = binary;\n  }\n\n  return output;\n}\n\nconst jobId = safeText(parsed?.job_id ?? parsed?.jobId ?? parsed?.id ?? input.tts_job_id);\nconst statusUrl = safeText(\n  parsed?.status_url ?? parsed?.statusUrl ?? parsed?.poll_url ?? parsed?.pollUrl ?? input.tts_status_url,\n);\nconst normalizedStatus = safeText(\n  parsed?.status ?? parsed?.state ?? parsed?.job_status ?? parsed?.jobStatus ?? input.tts_job_status,\n).toLowerCase();\n\nif (errorMessage && !binaryInfo.hasAudio && !parsed) {\n  return toItem({\n    tts_status: 'failed',\n    error_reason: errorMessage.slice(0, 400) || 'tts_request_failed',\n  });\n}\n\nif (binaryInfo.hasAudio || (binaryInfo.key && contentType.toLowerCase().includes('audio/'))) {\n  const normalizedMime = safeText(contentType, binaryInfo.mimeType || 'audio/wav');\n  const lowerMime = normalizedMime.toLowerCase();\n  const preferredExt = (lowerMime.includes('mpeg') || lowerMime.includes('mp3')) ? '.mp3' : '.wav';\n  const partRaw = safeText(chunk?.partName ?? chunk?.part_name ?? String(chunk?.chunk_key ?? '').split(':')[0], 'part');\n  const normalizedPartBase = partRaw.toLowerCase().replace(/[^a-z0-9_]+/g, '_').replace(/^_+|_+$/g, '') || 'part';\n  const normalizedPart = normalizedPartBase.replace(/^(part)_?(\\d+)$/i, (_, prefix, digits) => prefix + '_' + String(digits).padStart(3, '0'));\n  const indexRawForName = Number(chunk?.index ?? chunk?.order ?? input.index ?? input.order ?? 1);\n  const indexForName = Number.isFinite(indexRawForName) && indexRawForName > 0 ? Math.floor(indexRawForName) : 1;\n  const derivedFileName = 'tts-' + normalizedPart + '_' + String(indexForName).padStart(3, '0') + preferredExt;\n\n  return toItem({\n    tts_status: 'generated',\n    tts_job_status: normalizedStatus || 'generated',\n    tts_job_id: jobId,\n    tts_status_url: statusUrl,\n    tts_should_poll: false,\n    voice: 'binary:' + binaryInfo.key,\n    voice_binary_key: binaryInfo.key,\n    voice_file_name: derivedFileName,\n    duration: normalizeNumber(parsed?.duration ?? parsed?.duration_sec ?? parsed?.durationSeconds, 0),\n    voice_mime_type: normalizedMime,\n    voice_bytes: clampInt(binaryInfo.bytes, 0, 0, 1000000000),\n    error_reason: null,\n  });\n}\n\nconst pendingStatuses = new Set(['pending', 'queued', 'processing', 'running', 'in_progress', 'waiting']);\nif (pendingStatuses.has(normalizedStatus) || ((jobId || statusUrl) && statusCode >= 200 && statusCode < 300)) {\n  const canPoll = pollCount < pollMaxAttempts && (jobId || statusUrl);\n  return toItem({\n    tts_status: 'poll_required',\n    tts_job_status: normalizedStatus || 'pending',\n    tts_job_id: jobId,\n    tts_status_url: statusUrl,\n    tts_should_poll: Boolean(canPoll),\n    error_reason: canPoll ? null : 'tts_poll_max_attempts_reached',\n  });\n}\n\nconst failureStatuses = new Set(['failed', 'error', 'cancelled', 'canceled']);\nif (failureStatuses.has(normalizedStatus)) {\n  return toItem({\n    tts_status: 'failed',\n    tts_job_status: normalizedStatus,\n    tts_job_id: jobId,\n    tts_status_url: statusUrl,\n    error_reason: pickFirstString([\n      parsed?.error,\n      parsed?.message,\n      parsed?.detail,\n      parsed?.error_reason,\n      errorMessage,\n    ]) || 'tts_job_failed',\n  });\n}\n\nreturn toItem({\n  tts_status: 'failed',\n  tts_job_status: normalizedStatus || 'failed',\n  tts_job_id: jobId,\n  tts_status_url: statusUrl,\n  error_reason: 'tts_response_empty',\n});\n"
      },
      "id": "19",
      "name": "Normalize TTS Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        -312
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.tts_should_poll === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "20",
      "name": "If TTS Poll Required",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1712,
        -336
      ]
    },
    {
      "parameters": {
        "amount": "={{ $json.tts_poll_interval_seconds || 3 }}"
      },
      "id": "21",
      "name": "Wait For TTS Poll",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1936,
        -336
      ],
      "webhookId": "tts-wait-for-poll"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "poll-1",
              "name": "tts_poll_count",
              "value": "={{ Number($json.tts_poll_count || 0) + 1 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "22",
      "name": "Prepare TTS Status Poll",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        -336
      ]
    },
    {
      "parameters": {
        "url": "={{ (() => { const statusUrl = String($json.tts_status_url || \"\").trim(); if (statusUrl) return statusUrl; const base = String($json.tts_api_base_url || \"http://127.0.0.1:8001\").trim().replace(/\\/$/, \"\"); const jobId = String($json.tts_job_id || \"\").trim(); return jobId ? base + \"/jobs/\" + encodeURIComponent(jobId) : base + \"/jobs\"; })() }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "file",
              "outputPropertyName": "tts_response"
            }
          }
        }
      },
      "id": "23",
      "name": "Get TTS Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2384,
        -312
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all();\nconst jsonItems = inputItems.map((item) => item.json ?? {});\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction asInt(value, fallback = 0, min = 0, max = 1000000) {\n  const number = Number(value);\n  const normalized = Number.isFinite(number) ? Math.floor(number) : fallback;\n  return Math.min(max, Math.max(min, normalized));\n}\n\nfunction asDuration(value, fallback = 0) {\n  const number = Number(value);\n  if (!Number.isFinite(number) || number < 0) return fallback;\n  return Math.round(number * 1000) / 1000;\n}\n\nfunction cloneBinary(file) {\n  return file ? JSON.parse(JSON.stringify(file)) : file;\n}\n\nfunction normalizeItem(item) {\n  const chunk = item?.media_chunks && typeof item.media_chunks === 'object' && !Array.isArray(item.media_chunks)\n    ? item.media_chunks\n    : item;\n\n  const order = asInt(chunk?.order ?? item?.order, asInt(chunk?.index, 1, 1, 1000000), 1, 1000000);\n  const sceneId = safeText(chunk?.scene_id, safeText(chunk?.chunk_key, 'scene_' + String(order).padStart(2, '0')));\n  const durationSeconds = asDuration(item?.duration_seconds, asDuration(item?.duration, 0));\n\n  return {\n    scene_id: sceneId,\n    order,\n    scene_title: safeText(chunk?.scene_title),\n    scene_role: safeText(chunk?.scene_role),\n    narration_text: safeText(chunk?.narration_text, safeText(chunk?.text)),\n    image_prompt_en: safeText(chunk?.image_prompt_en),\n    highlight_quote_vi: safeText(chunk?.highlight_quote_vi),\n\n    voice_url: safeText(item?.voice_url, safeText(item?.voice)),\n    duration_seconds: durationSeconds,\n    tts_status: safeText(item?.tts_status, 'unknown'),\n    voice_mime_type: safeText(item?.voice_mime_type),\n    voice_bytes: asInt(item?.voice_bytes, 0, 0, 1000000000),\n    voice_binary_key: safeText(item?.voice_binary_key),\n    voice_file_name: safeText(item?.voice_file_name),\n    tts_job_status: safeText(item?.tts_job_status),\n    tts_job_id: safeText(item?.tts_job_id),\n    tts_status_url: safeText(item?.tts_status_url),\n    tts_poll_count: asInt(item?.tts_poll_count, 0, 0, 1000000),\n    error_reason: item?.error_reason ?? null,\n\n    chunk_key: safeText(chunk?.chunk_key, sceneId),\n    partName: safeText(chunk?.partName, sceneId),\n    index: asInt(chunk?.index, order, 1, 1000000),\n    text: safeText(chunk?.text, safeText(chunk?.narration_text)),\n    sentence_count: asInt(chunk?.sentence_count, 1, 1, 10),\n    voice: safeText(item?.voice_url, safeText(item?.voice)),\n    duration: durationSeconds,\n  };\n}\n\nfunction pickBinaryEntry(item, normalized) {\n  const binaryMap = item.binary ?? {};\n  const keys = Object.keys(binaryMap);\n  if (keys.length === 0) return null;\n\n  const preferredKey = safeText(normalized.voice_binary_key);\n  if (preferredKey && binaryMap[preferredKey]) {\n    return [preferredKey, binaryMap[preferredKey]];\n  }\n\n  const audioKey = keys.find((key) => String(binaryMap[key]?.mimeType ?? '').toLowerCase().startsWith('audio/'));\n  if (audioKey) {\n    return [audioKey, binaryMap[audioKey]];\n  }\n\n  return [keys[0], binaryMap[keys[0]]];\n}\n\nconst sortedEntries = inputItems\n  .map((item) => ({ item, normalized: normalizeItem(item.json ?? {}) }))\n  .sort((a, b) => a.normalized.order - b.normalized.order || a.normalized.scene_id.localeCompare(b.normalized.scene_id));\n\nconst aggregatedBinary = {};\nconst normalizedItems = sortedEntries.map((entry, index) => {\n  const output = { ...entry.normalized };\n  const binaryEntry = pickBinaryEntry(entry.item, output);\n\n  if (binaryEntry) {\n    const [, file] = binaryEntry;\n    const targetKey = 'voice_' + String(index + 1).padStart(3, '0');\n    aggregatedBinary[targetKey] = cloneBinary(file);\n    output.voice_binary_key = targetKey;\n    output.voice_url = 'binary:' + targetKey;\n    output.voice = 'binary:' + targetKey;\n    output.voice_file_name = safeText(file?.fileName, output.voice_file_name);\n    output.voice_mime_type = safeText(file?.mimeType, output.voice_mime_type || 'audio/wav');\n    output.voice_bytes = asInt(file?.bytes, output.voice_bytes, 0, 1000000000);\n  }\n\n  return output;\n});\n\nconst first = jsonItems[0] ?? {};\nconst requestId = safeText(first.request_id, 'req-' + Date.now().toString(36));\nconst generatedCount = normalizedItems.filter((item) => item.tts_status === 'generated').length;\nconst failedCount = normalizedItems.filter((item) => item.tts_status === 'failed').length;\nconst incompleteCount = normalizedItems.filter((item) => !['generated', 'failed'].includes(item.tts_status)).length;\n\nlet status = 'success';\nlet errorReason = null;\n\nif (normalizedItems.length === 0) {\n  status = 'failed';\n  errorReason = 'empty_items';\n} else if (failedCount > 0 || incompleteCount > 0) {\n  status = generatedCount > 0 ? 'partial_failed' : 'failed';\n  errorReason = failedCount > 0 ? 'partial_failures' : 'unfinished_items';\n}\n\nconst output = {\n  json: {\n    ...first,\n    workflow: 'tts',\n    request_id: requestId,\n    status,\n    media_should_run: normalizedItems.length > 0,\n    media_tts_items: normalizedItems,\n    items: normalizedItems,\n    error_reason: errorReason,\n  },\n};\n\nif (Object.keys(aggregatedBinary).length > 0) {\n  output.binary = aggregatedBinary;\n}\n\nreturn [output];"
      },
      "id": "24",
      "name": "Finalize TTS Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "empty-1",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "empty-2",
              "name": "media_should_run",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "empty-3",
              "name": "media_tts_items",
              "value": "={{ [] }}",
              "type": "array"
            },
            {
              "id": "empty-4",
              "name": "error_reason",
              "value": "empty_items",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "25",
      "name": "Finalize Empty TTS Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        72
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          },
          "includeUnpaired": true
        }
      },
      "id": "11.5",
      "name": "Merge Created TTS Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1264,
        -312
      ]
    },
    {
      "parameters": {
        "content": "## INPUT CONTRACT\n\nCore input:\n`input_mode` (`form_upload|drive_url`)\n`drive_file_url`\n`input_text` / `text` / `content`\n`chunk_manifest` hoặc `media_chunks` hoặc `review_manifest.scenes`\n\nTTS runtime params:\n`tts_api_base_url`, `tts_voice_id`, `tts_temperature`, `tts_top_k`, `tts_max_chars`, `tts_silence_p`, `tts_crossfade_p`, `tts_timeout_ms`, `tts_parallelism`, `tts_poll_interval_seconds`, `tts_poll_max_attempts`\n\nMain output:\n`status`, `items`, `error_reason`\nBinary output:\nfile audio được trả lại trên item output cuối, workflow cha tự quyết định upload/lưu tiếp.",
        "height": 780,
        "width": 760,
        "color": 7
      },
      "id": "9301",
      "name": "NOTE::TTS::INPUT_FIELDS",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2064,
        -576
      ]
    },
    {
      "parameters": {
        "content": "## STAGE 1: NORMALIZE INPUT\n\nNodes:\n- Set Config\n- Normalize Inputs\n- If Needs Drive Download / Build Chunks From Drive File\n\nGoal:\n- gom các nguồn input thành `media_chunks`\n- set flags `media_should_run`, `needs_drive_download`\n- chỉ giữ contract cần cho việc generate TTS, không tự lo side-effect downstream.",
        "height": 420,
        "width": 680,
        "color": 5
      },
      "id": "9302",
      "name": "NOTE::TTS::STAGE_NORMALIZE",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1268,
        -380
      ]
    },
    {
      "parameters": {
        "content": "## STAGE 2: GENERATE + POLL LOOP\n\nFlow:\n- Split Out Media Chunks\n- Loop Over TTS Chunks\n- Create TTS Audio\n- Normalize TTS Response\n- If TTS Poll Required -> Wait -> Get TTS Job Status (loop)\n\nMục tiêu: tạo voice per chunk với timeout/poll có giới hạn.",
        "height": 420,
        "width": 700,
        "color": 6
      },
      "id": "9303",
      "name": "NOTE::TTS::STAGE_GENERATE_POLL",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        850,
        -572
      ]
    },
    {
      "parameters": {
        "content": "## STAGE 3: FINALIZE OUTPUT\n\nNodes:\n- Finalize TTS Results\n\nKết quả:\n- tổng hợp `media_tts_items`\n- set `status=success|partial_failed|failed`\n- gom binary voice theo key để workflow cha tự upload/lưu tiếp nếu cần.",
        "height": 380,
        "width": 660,
        "color": 4
      },
      "id": "9304",
      "name": "NOTE::TTS::STAGE_FINAL_OUTPUT",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        870,
        -532
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Normalize Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Inputs": {
      "main": [
        [
          {
            "node": "If Needs Drive Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Needs Drive Download": {
      "main": [
        [
          {
            "node": "Google Drive Download Source",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If TTS Should Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Download Source": {
      "main": [
        [
          {
            "node": "Build Chunks From Drive File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Chunks From Drive File": {
      "main": [
        [
          {
            "node": "If TTS Should Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If TTS Should Run": {
      "main": [
        [
          {
            "node": "Split Out Media Chunks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Empty TTS Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Media Chunks": {
      "main": [
        [
          {
            "node": "Loop Over TTS Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over TTS Chunks": {
      "main": [
        [
          {
            "node": "Finalize TTS Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create TTS Audio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Created TTS Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create TTS Audio": {
      "main": [
        [
          {
            "node": "Merge Created TTS Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Normalize TTS Response": {
      "main": [
        [
          {
            "node": "If TTS Poll Required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If TTS Poll Required": {
      "main": [
        [
          {
            "node": "Wait For TTS Poll",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over TTS Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For TTS Poll": {
      "main": [
        [
          {
            "node": "Prepare TTS Status Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare TTS Status Poll": {
      "main": [
        [
          {
            "node": "Get TTS Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get TTS Job Status": {
      "main": [
        [
          {
            "node": "Normalize TTS Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Empty TTS Result": {
      "main": [
        []
      ]
    },
    "Merge Created TTS Context": {
      "main": [
        [
          {
            "node": "Normalize TTS Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
