workflows/book-review/book-review-gemini.workflow.json
{
  "name": "Book Review Gemini via CLIProxyAPI",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "1",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -560,
        96
      ],
      "webhookId": "e74424e7-c309-433b-8867-9145853dc4d1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2-1",
              "name": "model",
              "value": "gemini-3-flash-preview",
              "type": "string"
            },
            {
              "id": "2-2",
              "name": "cliproxy_base_url",
              "value": "__CLIPROXY_BASE_URL__",
              "type": "string"
            },
            {
              "id": "2-3",
              "name": "cliproxy_client_key",
              "value": "__CLIPROXY_CLIENT_KEY__",
              "type": "string"
            },
            {
              "id": "2-4",
              "name": "max_turns",
              "value": 8,
              "type": "number"
            },
            {
              "id": "2-5",
              "name": "user_input",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "2-6",
              "name": "fallback_model",
              "value": "gemini-2.5-pro",
              "type": "string"
            },
            {
              "id": "2-7",
              "name": "master_prompt_template",
              "value": "__BOOK_REVIEW_MASTER_PROMPT__",
              "type": "string"
            },
            {
              "id": "2-8",
              "name": "openai_model",
              "value": "gpt-5.4",
              "type": "string"
            },
            {
              "id": "2-9",
              "name": "qc_score_warning_threshold",
              "value": 7,
              "type": "number"
            },
            {
              "id": "2-10",
              "name": "reviewer_wait_timeout_seconds",
              "value": 900,
              "type": "number"
            },
            {
              "id": "2-11",
              "name": "metadata_prompt_template",
              "value": "__BOOK_REVIEW_METADATA_PROMPT__",
              "type": "string"
            },
            {
              "id": "2-12",
              "name": "qc_prompt_template",
              "value": "__BOOK_REVIEW_QC_PROMPT__",
              "type": "string"
            },
            {
              "id": "2-13",
              "name": "review_revision_prompt_template",
              "value": "__BOOK_REVIEW_REVIEW_EDIT_PROMPT__",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json ?? {};\n\nconst primaryModel = String(input.model ?? 'gemini-3-flash-preview').trim();\nconst fallbackModel = String(input.fallback_model ?? 'gemini-2.5-pro').trim();\nconst model = primaryModel || 'gemini-3-flash-preview';\nconst cliproxyBaseUrl = String(input.cliproxy_base_url ?? '').replace(/\\/$/, '');\nconst cliproxyClientKey = String(input.cliproxy_client_key ?? '');\nconst openaiModel = String(input.openai_model ?? 'gpt-5.4').trim() || 'gpt-5.4';\nconst scoreThresholdRaw = Number(input.qc_score_warning_threshold ?? 7);\nconst qcScoreWarningThreshold = Number.isFinite(scoreThresholdRaw)\n  ? Math.min(10, Math.max(0, Math.floor(scoreThresholdRaw)))\n  : 7;\nconst reviewerWaitTimeoutSecondsRaw = Number(input.reviewer_wait_timeout_seconds ?? 900);\nconst reviewerWaitTimeoutSeconds = Number.isFinite(reviewerWaitTimeoutSecondsRaw) && reviewerWaitTimeoutSecondsRaw > 10\n  ? Math.floor(reviewerWaitTimeoutSecondsRaw)\n  : 900;\nconst userInput = String(input.user_input ?? '').trim();\nconst masterPromptTemplate = String(input.master_prompt_template ?? '').trim();\nconst maxTurnsRaw = Number(input.max_turns ?? 8);\nconst maxTurns = Number.isFinite(maxTurnsRaw) && maxTurnsRaw > 0\n  ? Math.floor(maxTurnsRaw)\n  : 8;\nconst requestHelper =\n  helpers?.httpRequest ??\n  (typeof $helpers !== 'undefined' ? $helpers?.httpRequest : undefined);\n\nfunction baseOutput(overrides = {}) {\n  return {\n    message: '',\n    full_review: '',\n    turn_count: 0,\n    stop_reason: 'completed',\n    model,\n    fallback_model: fallbackModel || null,\n    fallback_used: false,\n    user_input: userInput,\n    cliproxy_base_url: cliproxyBaseUrl,\n    cliproxy_client_key: cliproxyClientKey,\n    openai_model: openaiModel,\n    qc_score_warning_threshold: qcScoreWarningThreshold,\n    reviewer_wait_timeout_seconds: reviewerWaitTimeoutSeconds,\n    ...overrides,\n  };\n}\n\nfunction detectControlTag(value) {\n  const text = String(value ?? '').replace(/\\r\\n/g, '\\n');\n  const lines = text.split('\\n');\n\n  let cursor = 0;\n  let foundTag = null;\n\n  for (const line of lines) {\n    const markerMatch = line.match(/^\\s*-\\s*(CONTINUE|END)\\s*-\\s*$/i);\n    if (markerMatch) {\n      const markerOffset = line.search(/-/);\n      const markerStart = cursor + (markerOffset >= 0 ? markerOffset : 0);\n      const markerEnd = cursor + line.length;\n      foundTag = {\n        type: markerMatch[1].toLowerCase(),\n        start: markerStart,\n        end: markerEnd,\n      };\n    }\n\n    cursor += line.length + 1;\n  }\n\n  return foundTag;\n}\n\nfunction stripControlTag(value, controlTag, options = {}) {\n  const text = String(value ?? '').replace(/\\r\\n/g, '\\n').trimEnd();\n  if (!controlTag) {\n    return text;\n  }\n\n  if (controlTag.type === 'end' && options.keepEndTag === true) {\n    return text.slice(0, controlTag.end).trimEnd();\n  }\n\n  return text.slice(0, controlTag.start).trimEnd();\n}\n\nfunction shouldFallbackForCapacity(errorMessage) {\n  const text = String(errorMessage ?? '');\n  return /429|RESOURCE_EXHAUSTED|MODEL_CAPACITY_EXHAUSTED|No capacity available|cooling down/i.test(text);\n}\n\nfunction buildMasterPrompt(template, bookInput) {\n  return String(template ?? '').replaceAll('{{USER_INPUT}}', String(bookInput ?? ''));\n}\n\nif (!userInput) {\n  return [{\n    json: baseOutput({\n      message: 'Vui lòng nhập tên sách và tác giả trong chat. Ví dụ: Sách Nhà Giả Kim của tác giả Paulo Coelho.',\n    }),\n  }];\n}\n\nif (!cliproxyBaseUrl || !cliproxyClientKey) {\n  return [{\n    json: baseOutput({\n      message: 'Thiếu cấu hình CLIProxy (base URL hoặc client key).',\n      stop_reason: 'api_error',\n    }),\n  }];\n}\n\nif (!masterPromptTemplate) {\n  return [{\n    json: baseOutput({\n      message: 'Thiếu master prompt template (field `master_prompt_template`).',\n      stop_reason: 'api_error',\n    }),\n  }];\n}\n\nif (typeof requestHelper !== 'function') {\n  return [{\n    json: baseOutput({\n      message: 'Thiếu helper HTTP trong Code node runtime (cần `helpers.httpRequest`).',\n      stop_reason: 'api_error',\n    }),\n  }];\n}\n\nconst masterPrompt = buildMasterPrompt(masterPromptTemplate, userInput);\nconst messages = [{ role: 'user', content: masterPrompt }];\nconst chunks = [];\n\nlet stopReason = 'completed';\nlet apiError = '';\nlet turnCount = 0;\nlet activeModel = model;\nlet fallbackUsed = false;\n\nfor (let turn = 1; turn <= maxTurns; turn += 1) {\n  try {\n    const candidateModels =\n      activeModel === primaryModel &&\n      fallbackModel &&\n      fallbackModel !== primaryModel\n        ? [primaryModel, fallbackModel]\n        : [activeModel];\n\n    let response;\n    let lastError;\n    for (let idx = 0; idx < candidateModels.length; idx += 1) {\n      const candidateModel = candidateModels[idx];\n      try {\n        response = await requestHelper({\n          method: 'POST',\n          url: cliproxyBaseUrl + '/v1/chat/completions',\n          headers: {\n            Authorization: 'Bearer ' + cliproxyClientKey,\n          },\n          body: {\n            model: candidateModel,\n            messages,\n            stream: false,\n          },\n          json: true,\n          timeout: 240000,\n        });\n        if (candidateModel !== activeModel) {\n          fallbackUsed = true;\n        }\n        activeModel = candidateModel;\n        break;\n      } catch (error) {\n        lastError = error;\n        const errorText = error?.message ? String(error.message) : String(error);\n        const canTryFallback =\n          candidateModel === primaryModel &&\n          fallbackModel &&\n          fallbackModel !== primaryModel &&\n          shouldFallbackForCapacity(errorText);\n        if (canTryFallback) {\n          continue;\n        }\n        throw error;\n      }\n    }\n\n    if (!response) {\n      throw (lastError ?? new Error('Không nhận được response từ model.'));\n    }\n\n    turnCount = turn;\n\n    const chunk = String(response?.choices?.[0]?.message?.content ?? '').trim();\n    if (!chunk) {\n      break;\n    }\n\n    const controlTag = detectControlTag(chunk);\n    chunks.push({\n      content: chunk,\n      controlTag,\n    });\n    messages.push({ role: 'assistant', content: chunk });\n\n    if (controlTag?.type === 'continue') {\n      if (turn >= maxTurns) {\n        stopReason = 'max_turns';\n        break;\n      }\n\n      messages.push({ role: 'user', content: 'Continue' });\n      continue;\n    }\n\n    if (controlTag?.type === 'end') {\n      break;\n    }\n\n    break;\n  } catch (error) {\n    stopReason = 'api_error';\n    apiError = error?.message ? String(error.message) : String(error);\n    break;\n  }\n}\n\nconst mergedChunks = chunks\n  .map((chunk, index) => {\n    const isLast = index === chunks.length - 1;\n    const keepEndTag = isLast && chunk.controlTag?.type === 'end';\n    return stripControlTag(chunk.content, chunk.controlTag, { keepEndTag });\n  })\n  .filter((chunk) => chunk !== '');\n\nconst fullReview = mergedChunks.join('\\n\\n').trim();\nlet message = fullReview;\n\nif (stopReason === 'max_turns') {\n  const note = '[Lưu ý: Đã đạt giới hạn ' + maxTurns + ' lượt gọi \"Continue\".]';\n  message = fullReview ? fullReview + '\\n\\n' + note : note;\n} else if (stopReason === 'api_error') {\n  const note = apiError\n    ? '[Lỗi gọi Gemini (' + activeModel + '): ' + apiError + ']'\n    : '[Lỗi gọi Gemini: Không rõ nguyên nhân.]';\n  message = fullReview ? fullReview + '\\n\\n' + note : note;\n}\n\nif (!message) {\n  message = 'Không nhận được nội dung từ Gemini.';\n}\n\nreturn [{\n  json: baseOutput({\n    message,\n    full_review: fullReview,\n    turn_count: turnCount,\n    stop_reason: stopReason,\n    model: activeModel,\n    fallback_used: fallbackUsed,\n  }),\n}];\n"
      },
      "id": "3",
      "name": "Generate Full Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        96
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction normalizeText(value) {\n  return String(value ?? '').replace(/\\r\\n/g, '\\n').trim();\n}\n\nfunction detectTrailingControlTag(text) {\n  const match = text.match(/(?:^|\\n)\\s*-\\s*(CONTINUE|END)\\s*-\\s*$/i);\n  if (!match) {\n    return null;\n  }\n\n  const start = typeof match.index === 'number' ? match.index : text.length - match[0].length;\n  return {\n    type: match[1].toLowerCase(),\n    start,\n    end: start + match[0].length,\n  };\n}\n\nfunction buildFileName(order, id) {\n  const orderLabel = String(order).padStart(2, '0');\n  const safeId = String(id || 'section')\n    .trim()\n    .toLowerCase()\n    .replace(/[^a-z0-9_]+/g, '_')\n    .replace(/^_+|_+$/g, '') || 'section';\n  return orderLabel + '_' + safeId + '.txt';\n}\n\nconst rawReview = normalizeText(input.full_review ?? input.message ?? '');\nconst trailingTag = detectTrailingControlTag(rawReview);\nconst reviewBody = trailingTag ? rawReview.slice(0, trailingTag.start).trimEnd() : rawReview;\n\nconst sectionRegex = /<<<SECTION\\|([^|\\n>]+)\\|([^\\n>]+)>>>\\s*([\\s\\S]*?)\\s*<<<END_SECTION>>>/g;\nconst sections = [];\nlet match;\n\nwhile ((match = sectionRegex.exec(reviewBody)) !== null) {\n  const id = String(match[1] ?? '').trim();\n  const title = String(match[2] ?? '').trim();\n  const content = String(match[3] ?? '').trim();\n  const order = sections.length + 1;\n\n  sections.push({\n    order,\n    id,\n    title,\n    content,\n    file_name: buildFileName(order, id),\n  });\n}\n\nlet parseStatus = 'parsed';\nlet parserWarning = '';\n\nif (!reviewBody) {\n  parseStatus = 'empty';\n  parserWarning = 'No review content to parse.';\n} else if (sections.length === 0) {\n  parseStatus = 'fallback_single_section';\n  parserWarning = 'Cannot find SECTION markers. Returned full review as one section.';\n  sections.push({\n    order: 1,\n    id: 'full_review',\n    title: 'Full Review',\n    content: reviewBody,\n    file_name: '01_full_review.txt',\n  });\n}\n\nconst introSection = sections.find((section) => section.id === 'intro') ?? null;\nconst outroSection = sections.find((section) => section.id === 'outro') ?? null;\nconst partSections = sections.filter((section) => /^part_\\d{2}$/i.test(section.id));\n\nreturn {\n  ...input,\n  review_sections: sections,\n  review_intro: introSection?.content ?? '',\n  review_parts: partSections,\n  review_outro: outroSection?.content ?? '',\n  review_sections_count: sections.length,\n  review_control_tag: trailingTag?.type ?? null,\n  review_parse_status: parseStatus,\n  review_parser_warning: parserWarning || null,\n};\n"
      },
      "id": "7",
      "name": "Parse Review Sections",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4-1",
              "name": "notify_targets",
              "value": "__NOTIFY_TARGETS__",
              "type": "string"
            },
            {
              "id": "4-2",
              "name": "telegram_chat_id",
              "value": "__TELEGRAM_CHAT_ID__",
              "type": "string"
            },
            {
              "id": "4-3",
              "name": "ggchat_webhook_url",
              "value": "__GG_CHAT_WEBHOOK__",
              "type": "string"
            },
            {
              "id": "4-4",
              "name": "telegram_bot_token",
              "value": "__TELEGRAM_BOT_TOKEN__",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "4",
      "name": "Set Notify Targets",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        96
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nconst requestHelper =\n  helpers?.httpRequest ??\n  (typeof $helpers !== 'undefined' ? $helpers?.httpRequest : undefined);\n\nconst cliproxyBaseUrl = String(input.cliproxy_base_url ?? '').replace(/\\/$/, '');\nconst cliproxyClientKey = String(input.cliproxy_client_key ?? '').trim();\nconst openaiModel = String(input.openai_model ?? 'gpt-5.4').trim() || 'gpt-5.4';\nconst reviewerTimeoutRaw = Number(input.reviewer_wait_timeout_seconds ?? 900);\nconst reviewerTimeoutSeconds = Number.isFinite(reviewerTimeoutRaw) && reviewerTimeoutRaw > 30\n  ? Math.floor(reviewerTimeoutRaw)\n  : 900;\nconst qcThresholdRaw = Number(input.qc_score_warning_threshold ?? 7);\nconst qcScoreWarningThreshold = Number.isFinite(qcThresholdRaw)\n  ? Math.min(10, Math.max(0, Math.floor(qcThresholdRaw)))\n  : 7;\n\nconst telegramBotToken = String(input.telegram_bot_token ?? '').trim();\nconst telegramChatId = String(input.telegram_chat_id ?? '').trim();\nconst userInput = String(input.user_input ?? '').trim();\nconst metadataPromptTemplate = String(input.metadata_prompt_template ?? '').trim();\nconst qcPromptTemplate = String(input.qc_prompt_template ?? '').trim();\nconst reviewRevisionPromptTemplate = String(input.review_revision_prompt_template ?? '').trim();\nconst masterPromptTemplate = String(input.master_prompt_template ?? '').trim();\n\nlet reviewText = String(input.full_review ?? input.message ?? '').trim();\nlet reviewIntro = String(input.review_intro ?? '').trim();\nlet reviewOutro = String(input.review_outro ?? '').trim();\n\nconst METADATA_FIELDS = ['title', 'caption', 'thumbnail_text', 'hashtags'];\n\nfunction nowToken() {\n  const rnd = Math.random().toString(36).slice(2, 8);\n  return Date.now().toString(36) + rnd;\n}\n\nfunction stripControlTags(text) {\n  const normalized = String(text ?? '').replace(/\\r\\n/g, '\\n').trim();\n  return normalized.replace(/(?:\\n|^)\\s*-\\s*(CONTINUE|END)\\s*-\\s*$/i, '').trim();\n}\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction buildMasterPrompt(template, bookInput) {\n  return String(template ?? '').replaceAll('{{USER_INPUT}}', String(bookInput ?? '')).trim();\n}\n\nfunction clipContextText(value, maxChars) {\n  const text = String(value ?? '').trim();\n  const limit = Number(maxChars);\n\n  if (!text || !Number.isFinite(limit) || limit <= 0) {\n    return {\n      text: '',\n      truncated: text.length > 0,\n    };\n  }\n\n  if (text.length <= limit) {\n    return {\n      text,\n      truncated: false,\n    };\n  }\n\n  if (limit < 500) {\n    return {\n      text: text.slice(0, limit),\n      truncated: true,\n    };\n  }\n  const marker = '\\\\n...[truncated_for_input_limit]...\\\\n';\n  const head = Math.max(200, Math.floor(limit * 0.7));\n  const tail = Math.max(100, limit - head - marker.length);\n\n  return {\n    text: text.slice(0, head) + marker + text.slice(-tail),\n    truncated: true,\n  };\n}\n\nfunction shouldRetryWithTrimmedContext(errorMessage) {\n  const text = String(errorMessage ?? '');\n  return /(context length|maximum context|max context|context window|prompt is too long|request too large|too many tokens|token limit|413|input is too long)/i.test(text);\n}\n\nfunction splitMessage(text, maxLen = 3500) {\n  const raw = String(text ?? '').trim();\n  if (!raw) return [];\n\n  const parts = [];\n  let cursor = 0;\n\n  while (cursor < raw.length) {\n    const remain = raw.length - cursor;\n    if (remain <= maxLen) {\n      parts.push(raw.slice(cursor));\n      break;\n    }\n\n    const slice = raw.slice(cursor, cursor + maxLen);\n    let cut = Math.max(slice.lastIndexOf('\\n\\n'), slice.lastIndexOf('\\n'), slice.lastIndexOf(' '));\n    if (cut < Math.floor(maxLen * 0.5)) cut = maxLen;\n    parts.push(raw.slice(cursor, cursor + cut).trim());\n    cursor += cut;\n  }\n\n  return parts.filter(Boolean);\n}\n\nfunction parseJsonObject(rawText) {\n  const raw = String(rawText ?? '').trim();\n  if (!raw) return null;\n\n  try { return JSON.parse(raw); } catch (_) {}\n\n  const fence = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  if (fence) {\n    try { return JSON.parse(fence[1]); } catch (_) {}\n  }\n\n  const first = raw.indexOf('{');\n  const last = raw.lastIndexOf('}');\n  if (first >= 0 && last > first) {\n    try { return JSON.parse(raw.slice(first, last + 1)); } catch (_) {}\n  }\n\n  return null;\n}\n\nfunction clampScore(value, fallback = 6) {\n  const num = Number(value);\n  if (!Number.isFinite(num)) return fallback;\n  if (num < 0) return 0;\n  if (num > 10) return 10;\n  return Math.round(num * 10) / 10;\n}\n\nfunction normalizeRisk(value) {\n  const risk = String(value ?? '').trim().toLowerCase();\n  if (risk === 'low' || risk === 'med' || risk === 'high') return risk;\n  return 'med';\n}\n\nfunction normalizeList(value) {\n  if (Array.isArray(value)) {\n    return value.map((item) => String(item ?? '').trim()).filter(Boolean);\n  }\n  if (typeof value === 'string') {\n    return value\n      .split(/[\\n,]+/)\n      .map((item) => item.trim())\n      .filter(Boolean);\n  }\n  return [];\n}\n\nfunction normalizeFeedback(value, fallback = '') {\n  const raw = String(value ?? '').replace(/\\s+/g, ' ').trim();\n  const text = raw || String(fallback ?? '').replace(/\\s+/g, ' ').trim();\n  if (!text) return '';\n\n  const words = text.split(/\\s+/).filter(Boolean);\n  if (words.length <= 200) {\n    return text;\n  }\n\n  return words.slice(0, 200).join(' ');\n}\n\nfunction normalizeHashtags(value) {\n  const tags = normalizeList(value)\n    .map((item) => item.replace(/^#*/, '').replace(/\\s+/g, ''))\n    .filter(Boolean)\n    .map((item) => '#' + item.toLowerCase());\n\n  const unique = [];\n  for (const tag of tags) {\n    if (!unique.includes(tag)) unique.push(tag);\n  }\n\n  return unique.slice(0, 15);\n}\n\nfunction buildScoreWarnings(scores, threshold) {\n  const map = {\n    Hook: scores.hook_score,\n    Clarity: scores.clarity_score,\n    Originality: scores.originality_score,\n    'Practical value': scores.practical_value_score,\n  };\n\n  return Object.entries(map)\n    .filter(([, score]) => Number(score) < threshold)\n    .map(([label, score]) => label + ' score=' + score + ' < ' + threshold);\n}\n\nfunction ensureKeepOthersInstruction(instruction) {\n  const base = safeText(instruction);\n  if (!base) return '';\n\n  const keepPattern = /những\\s+thứ\\s+khác\\s+giữ\\s+nguyên|nhung\\s+thu\\s+khac\\s+giu\\s+nguyen|keep\\s+(the\\s+)?other\\s+fields\\s+unchanged/i;\n  if (keepPattern.test(base)) {\n    return base;\n  }\n\n  return base + '. Những thứ khác giữ nguyên.';\n}\n\nfunction detectMetadataTargets(instruction) {\n  const text = String(instruction ?? '').toLowerCase();\n  const targets = new Set();\n\n  if (!text) return targets;\n\n  if (/(\\btitle\\b|ti[eê]u\\s*đ[eề]\\b|tieu\\s*de\\b)/i.test(text)) {\n    targets.add('title');\n  }\n\n  if (/(\\bcaption\\b|ch[uú]\\s*th[ií]ch|m[oô]\\s*t[aả]\\s*ng[aă]n)/i.test(text)) {\n    targets.add('caption');\n  }\n\n  if (/(\\bthumbnail\\b|\\bthumb\\b|thumbnail\\s*text|anh\\s*bia|ảnh\\s*bìa)/i.test(text)) {\n    targets.add('thumbnail_text');\n  }\n\n  if (/(\\bhashtag\\b|hash\\s*tag|\\btags?\\b)/i.test(text)) {\n    targets.add('hashtags');\n  }\n\n  return targets;\n}\n\nasync function callOpenAI(messages, options = {}) {\n  if (!cliproxyBaseUrl || !cliproxyClientKey || typeof requestHelper !== 'function') {\n    throw new Error('Missing CLIProxy/OpenAI configuration or HTTP helper.');\n  }\n\n  const body = {\n    model: openaiModel,\n    messages,\n    stream: false,\n  };\n\n  if (options.jsonObject === true) {\n    body.response_format = { type: 'json_object' };\n  }\n\n  return await requestHelper({\n    method: 'POST',\n    url: cliproxyBaseUrl + '/v1/chat/completions',\n    headers: {\n      Authorization: 'Bearer ' + cliproxyClientKey,\n    },\n    body,\n    json: true,\n    timeout: Number(options.timeoutMs ?? 180000),\n  });\n}\n\nasync function runQc(review, introText, outroText) {\n  const fallback = {\n    qc_checks: [],\n    qc_issues: ['QC fallback.'],\n    feedback: 'Chưa có feedback QC chi tiết.',\n    hook_score: 6,\n    clarity_score: 6,\n    originality_score: 6,\n    practical_value_score: 6,\n    risk_level: 'med',\n    score_warnings: [],\n    qc_status: 'fallback',\n    qc_error: null,\n  };\n\n  try {\n    const promptPayload = {\n      task: 'QC a Vietnamese long-form book review script.',\n      policy: {\n        quote_policy: 'Only accept direct quote if source certainty is high. Otherwise mark warn.',\n        no_rewrite: true,\n      },\n      input: {\n        request: userInput,\n        intro_excerpt: String(introText ?? '').slice(0, 1200),\n        outro_excerpt: String(outroText ?? '').slice(0, 1200),\n        review_excerpt: String(review ?? '').slice(0, 7000),\n      },\n      required_json_schema: {\n        hook: 0,\n        clarity: 0,\n        originality: 0,\n        practical: 0,\n        risk: 'low|med|high',\n        feedback: 'string (Vietnamese, actionable, <= 200 words)',\n        qc_issues: ['string (optional)'],\n      },\n    };\n\n    const response = await callOpenAI([\n      {\n        role: 'system',\n        content: safeText(qcPromptTemplate, 'You are a strict content QC editor. Return JSON only, no markdown.'),\n      },\n      {\n        role: 'user',\n        content: JSON.stringify(promptPayload),\n      },\n    ], { jsonObject: true });\n\n    const content = String(response?.choices?.[0]?.message?.content ?? '').trim();\n    const parsed = parseJsonObject(content);\n    if (!parsed || typeof parsed !== 'object') {\n      throw new Error('QC response is not valid JSON object.');\n    }\n\n    const qcChecks = Array.isArray(parsed.qc_checks) ? parsed.qc_checks : [];\n    const qcIssues = normalizeList(parsed.qc_issues ?? parsed.issues);\n\n    const hookRaw = parsed?.hook ?? parsed?.scores?.hook;\n    const clarityRaw = parsed?.clarity ?? parsed?.scores?.clarity;\n    const originalityRaw = parsed?.originality ?? parsed?.scores?.originality;\n    const practicalRaw = parsed?.practical ?? parsed?.scores?.practical ?? parsed?.scores?.practical_value;\n    const riskRaw = parsed?.risk ?? parsed?.risk_level;\n\n    const derivedIssues = qcIssues.length > 0\n      ? qcIssues\n      : qcChecks\n          .filter((check) => String(check?.status ?? '').toLowerCase() !== 'pass')\n          .map((check) => String(check?.note ?? '').trim())\n          .filter(Boolean);\n\n    const feedbackFallback = derivedIssues.slice(0, 3).join('; ');\n    const qc = {\n      qc_checks: qcChecks,\n      qc_issues: derivedIssues,\n      feedback: normalizeFeedback(parsed?.feedback, feedbackFallback),\n      hook_score: clampScore(hookRaw, 6),\n      clarity_score: clampScore(clarityRaw, 6),\n      originality_score: clampScore(originalityRaw, 6),\n      practical_value_score: clampScore(practicalRaw, 6),\n      risk_level: normalizeRisk(riskRaw),\n      score_warnings: [],\n      qc_status: 'generated',\n      qc_error: null,\n    };\n\n    qc.score_warnings = buildScoreWarnings(qc, qcScoreWarningThreshold);\n    return qc;\n  } catch (error) {\n    fallback.qc_error = error?.message ? String(error.message) : String(error);\n    fallback.score_warnings = buildScoreWarnings(fallback, qcScoreWarningThreshold);\n    return fallback;\n  }\n}\n\nfunction extractSectionText(review, id) {\n  const regex = new RegExp('<<<SECTION\\\\|' + id + '\\\\|[^>]+>>>\\\\s*([\\\\s\\\\S]*?)\\\\s*<<<END_SECTION>>>', 'i');\n  const match = String(review ?? '').match(regex);\n  return match ? String(match[1] ?? '').trim() : '';\n}\n\nasync function reviseReview(currentReview, instruction) {\n  const instructionText = String(instruction ?? '').trim();\n  const masterPromptInjected = buildMasterPrompt(masterPromptTemplate, userInput);\n  const fullReviewText = String(currentReview ?? '').trim();\n\n  function buildRevisePrompt(reviewText, masterPromptText, flags = {}) {\n    return {\n      task: 'Revise Vietnamese book review script by reviewer instruction.',\n      constraints: {\n        keep_section_contract: true,\n        keep_ids: ['intro', 'part_01+', 'outro'],\n        keep_language: 'vi',\n        output: 'full review text only',\n        follow_master_prompt: true,\n      },\n      instruction: instructionText,\n      current_review: String(reviewText ?? '').trim(),\n      original_request_context: {\n        user_input: userInput,\n        master_prompt_injected: String(masterPromptText ?? '').trim(),\n        master_prompt_truncated: Boolean(flags.masterPromptTruncated),\n        current_review_truncated: Boolean(flags.reviewTruncated),\n      },\n    };\n  }\n\n  async function callRevise(promptPayload) {\n    const response = await callOpenAI([\n      {\n        role: 'system',\n        content: safeText(reviewRevisionPromptTemplate, 'You are a senior script editor. Return only revised review text in SECTION format. No markdown.'),\n      },\n      {\n        role: 'user',\n        content: JSON.stringify(promptPayload),\n      },\n    ]);\n\n    const revised = String(response?.choices?.[0]?.message?.content ?? '').trim();\n    if (!revised) {\n      throw new Error('Empty revised review from AI.');\n    }\n\n    return stripControlTags(revised);\n  }\n\n  const fullPrompt = buildRevisePrompt(fullReviewText, masterPromptInjected, {\n    masterPromptTruncated: false,\n    reviewTruncated: false,\n  });\n\n  try {\n    return await callRevise(fullPrompt);\n  } catch (error) {\n    const errorText = error?.message ? String(error.message) : String(error);\n    if (!shouldRetryWithTrimmedContext(errorText)) {\n      throw error;\n    }\n\n    const masterPromptPack = clipContextText(masterPromptInjected, 9000);\n    const reviewBudgetBase = 26000;\n    const reserveChars = instructionText.length + masterPromptPack.text.length + 2500;\n    const reviewBudget = Math.max(7000, Math.min(24000, reviewBudgetBase - reserveChars));\n    const reviewPack = clipContextText(fullReviewText, reviewBudget);\n\n    const clippedPrompt = buildRevisePrompt(reviewPack.text, masterPromptPack.text, {\n      masterPromptTruncated: masterPromptPack.truncated,\n      reviewTruncated: reviewPack.truncated,\n    });\n\n    return await callRevise(clippedPrompt);\n  }\n}\n\nasync function generateMetadataBundle(review, instruction, previousMetadata) {\n  const reviewerInstruction = String(instruction ?? '').trim();\n  const adjustedInstruction = ensureKeepOthersInstruction(reviewerInstruction);\n  const requestedTargets = detectMetadataTargets(adjustedInstruction);\n\n  const promptPayload = {\n    task: previousMetadata ? 'Refine existing metadata for a Vietnamese book-review video.' : 'Generate metadata for a Vietnamese book-review video.',\n    requirements: {\n      output: 'json_only',\n      fields: ['title', 'caption', 'thumbnail_text', 'hashtags'],\n      style: 'high-retention, concrete, non-clickbait',\n      language: 'vi',\n      keep_unmentioned_fields: true,\n      never_output_fields: ['youtube_description_long', 'description', 'video_description'],\n    },\n    request: userInput,\n    reviewer_instruction: adjustedInstruction,\n    previous_metadata: previousMetadata ?? null,\n    review_excerpt: String(review ?? '').slice(0, 7000),\n  };\n\n  const systemPrompt = safeText(\n    metadataPromptTemplate,\n    'You are a short-video growth strategist. Return JSON only with exactly these keys: title, caption, thumbnail_text, hashtags.'\n  );\n\n  const response = await callOpenAI([\n    {\n      role: 'system',\n      content: systemPrompt,\n    },\n    {\n      role: 'user',\n      content: JSON.stringify(promptPayload),\n    },\n  ], { jsonObject: true });\n\n  const content = String(response?.choices?.[0]?.message?.content ?? '').trim();\n  const parsed = parseJsonObject(content);\n  if (!parsed || typeof parsed !== 'object') {\n    throw new Error('Metadata response is not valid JSON object.');\n  }\n\n  const resolved = {\n    title: safeText(parsed.title, previousMetadata?.title || 'Tiêu đề video'),\n    caption: safeText(parsed.caption, previousMetadata?.caption || 'Caption video'),\n    thumbnail_text: safeText(parsed.thumbnail_text, previousMetadata?.thumbnail_text || 'Thumbnail text'),\n    hashtags: normalizeHashtags(parsed.hashtags),\n  };\n\n  if (resolved.hashtags.length === 0) {\n    resolved.hashtags = Array.isArray(previousMetadata?.hashtags) && previousMetadata.hashtags.length > 0\n      ? previousMetadata.hashtags\n      : ['#bookreview', '#selfhelp', '#phattrienbanthan'];\n  }\n\n  const hasSelectiveInstruction =\n    Boolean(previousMetadata) &&\n    adjustedInstruction.length > 0 &&\n    requestedTargets.size > 0 &&\n    requestedTargets.size < METADATA_FIELDS.length;\n\n  if (hasSelectiveInstruction) {\n    if (!requestedTargets.has('title')) {\n      resolved.title = safeText(previousMetadata?.title, resolved.title);\n    }\n    if (!requestedTargets.has('caption')) {\n      resolved.caption = safeText(previousMetadata?.caption, resolved.caption);\n    }\n    if (!requestedTargets.has('thumbnail_text')) {\n      resolved.thumbnail_text = safeText(previousMetadata?.thumbnail_text, resolved.thumbnail_text);\n    }\n    if (!requestedTargets.has('hashtags')) {\n      resolved.hashtags = Array.isArray(previousMetadata?.hashtags) && previousMetadata.hashtags.length > 0\n        ? previousMetadata.hashtags\n        : resolved.hashtags;\n    }\n  }\n\n  return resolved;\n}\n\nfunction parseDecisionFromText(text, stage) {\n  const lower = String(text ?? '').trim().toLowerCase();\n  if (!lower) return null;\n\n  if (/^(dung|dừng|stop|\\/stop)$/.test(lower)) {\n    return { action: 'stop', instruction: '' };\n  }\n\n  if (/^(tiep|tiếp|continue|\\/continue)$/.test(lower)) {\n    return { action: 'continue', instruction: '' };\n  }\n\n  const changeMatch = lower.match(/^(doi|đổi|change|\\/doi)\\s*(.*)$/i);\n  if (changeMatch) {\n    const instruction = String(changeMatch[2] ?? '').trim();\n    return { action: 'change', instruction };\n  }\n\n  if (stage === 'review' || stage === 'metadata') {\n    return { action: 'change', instruction: String(text ?? '').trim() };\n  }\n\n  return null;\n}\n\nasync function telegramApi(method, params = {}, useGet = false) {\n  const url = 'https://api.telegram.org/bot' + telegramBotToken + '/' + method;\n  return await requestHelper({\n    method: useGet ? 'GET' : 'POST',\n    url,\n    qs: useGet ? params : undefined,\n    body: useGet ? undefined : params,\n    json: true,\n    timeout: 60000,\n  });\n}\n\nasync function sendTelegramMessage(text, inlineKeyboardRows) {\n  if (!telegramBotToken || !telegramChatId) return;\n\n  const payload = {\n    chat_id: telegramChatId,\n    text: String(text ?? '').slice(0, 4000),\n  };\n\n  if (Array.isArray(inlineKeyboardRows) && inlineKeyboardRows.length > 0) {\n    payload.reply_markup = {\n      inline_keyboard: inlineKeyboardRows,\n    };\n  }\n\n  await telegramApi('sendMessage', payload, false);\n}\n\nasync function sendLongReviewPreview(prefixText, fullText) {\n  if (prefixText) {\n    await sendTelegramMessage(prefixText);\n  }\n\n  const chunks = splitMessage(fullText, 3500);\n  for (let index = 0; index < chunks.length; index += 1) {\n    const chunk = chunks[index];\n    const marker = chunks.length > 1 ? '[Phần ' + (index + 1) + '/' + chunks.length + ']\\n' : '';\n    await sendTelegramMessage(marker + chunk);\n  }\n}\n\nasync function getStartOffset() {\n  if (!telegramBotToken || !telegramChatId) return 0;\n\n  try {\n    const response = await telegramApi('getUpdates', {\n      timeout: 0,\n      limit: 100,\n      allowed_updates: JSON.stringify(['message', 'callback_query']),\n    }, true);\n\n    const updates = Array.isArray(response?.result) ? response.result : [];\n    let maxId = 0;\n    for (const item of updates) {\n      const id = Number(item?.update_id ?? 0);\n      if (Number.isFinite(id) && id > maxId) maxId = id;\n    }\n    return maxId > 0 ? maxId + 1 : 0;\n  } catch (_) {\n    return 0;\n  }\n}\n\nasync function waitForReviewerAction(stagePrefix, sessionToken, initialOffset, timeoutSeconds) {\n  const deadline = Date.now() + timeoutSeconds * 1000;\n  let offset = Number(initialOffset ?? 0);\n  let needInstruction = false;\n\n  while (Date.now() < deadline) {\n    let updates = [];\n    try {\n      const response = await telegramApi('getUpdates', {\n        timeout: 20,\n        offset,\n        allowed_updates: JSON.stringify(['message', 'callback_query']),\n      }, true);\n      updates = Array.isArray(response?.result) ? response.result : [];\n    } catch (_) {\n      updates = [];\n    }\n\n    for (const update of updates) {\n      const updateId = Number(update?.update_id ?? 0);\n      if (Number.isFinite(updateId) && updateId >= offset) {\n        offset = updateId + 1;\n      }\n\n      const callbackData = String(update?.callback_query?.data ?? '').trim();\n      const callbackId = String(update?.callback_query?.id ?? '').trim();\n      const callbackChatId = String(update?.callback_query?.message?.chat?.id ?? '').trim();\n\n      if (callbackData && callbackChatId === telegramChatId) {\n        if (callbackId) {\n          try {\n            await telegramApi('answerCallbackQuery', {\n              callback_query_id: callbackId,\n            }, false);\n          } catch (_) {}\n        }\n\n        const expectedPrefix = stagePrefix + '_';\n        if (callbackData.includes(':' + sessionToken) && callbackData.startsWith(expectedPrefix)) {\n          if (callbackData.startsWith(stagePrefix + '_continue:')) {\n            return { action: 'continue', instruction: '', offset };\n          }\n          if (callbackData.startsWith(stagePrefix + '_stop:')) {\n            return { action: 'stop', instruction: '', offset };\n          }\n          if (callbackData.startsWith(stagePrefix + '_change:')) {\n            needInstruction = true;\n            await sendTelegramMessage('Bạn muốn đổi gì? Hãy nhắn: `doi <noi_dung_muon_sua>`');\n            continue;\n          }\n        }\n      }\n\n      const messageText = String(update?.message?.text ?? '').trim();\n      const messageChatId = String(update?.message?.chat?.id ?? '').trim();\n      if (!messageText || messageChatId !== telegramChatId) {\n        continue;\n      }\n\n      const decision = parseDecisionFromText(messageText, stagePrefix === 'rvw' ? 'review' : 'metadata');\n      if (!decision) {\n        continue;\n      }\n\n      if (decision.action === 'change' && !decision.instruction) {\n        needInstruction = true;\n        await sendTelegramMessage('Mình đã nhận lệnh đổi. Hãy gửi chi tiết dạng: `doi <noi_dung_muon_sua>`');\n        continue;\n      }\n\n      if (needInstruction && decision.action === 'change' && decision.instruction) {\n        return { action: 'change', instruction: decision.instruction, offset };\n      }\n\n      return { action: decision.action, instruction: decision.instruction, offset };\n    }\n  }\n\n  return { action: 'continue', instruction: '', offset, timeout: true };\n}\n\nconst responseBase = {\n  ...input,\n  reviewer_session_token: nowToken(),\n  reviewer_decision: 'continue',\n  reviewer_gate_status: 'completed',\n  reviewer_commands: [],\n  metadata_status: 'pending',\n  metadata_error: null,\n  metadata: null,\n};\n\nif (!reviewText) {\n  responseBase.reviewer_gate_status = 'skip_no_review';\n  responseBase.reviewer_decision = 'stop';\n  responseBase.stop_reason = 'review_empty';\n  responseBase.message = 'Không có nội dung review để reviewer duyệt.';\n  return responseBase;\n}\n\nif (!reviewIntro) {\n  reviewIntro = extractSectionText(reviewText, 'intro');\n}\nif (!reviewOutro) {\n  reviewOutro = extractSectionText(reviewText, 'outro');\n}\n\nlet qc = await runQc(reviewText, reviewIntro, reviewOutro);\n\nif ((!telegramBotToken || !telegramChatId) || typeof requestHelper !== 'function') {\n  responseBase.reviewer_gate_status = 'skip_no_telegram';\n  responseBase.metadata_status = 'skip';\n  responseBase.stop_reason = String(input.stop_reason ?? 'completed');\n  responseBase.message = reviewText;\n  responseBase.metadata = null;\n  return {\n    ...responseBase,\n    ...qc,\n    full_review: reviewText,\n    review_intro: reviewIntro,\n    review_outro: reviewOutro,\n  };\n}\n\nlet offset = await getStartOffset();\nlet metadata = null;\nconst commandLogs = [];\nconst sessionToken = responseBase.reviewer_session_token;\n\nconst reviewButtons = [[\n  { text: 'Tiếp tục', callback_data: 'rvw_continue:' + sessionToken },\n  { text: 'Dừng', callback_data: 'rvw_stop:' + sessionToken },\n  { text: 'Đổi', callback_data: 'rvw_change:' + sessionToken },\n]];\n\nconst metadataButtons = [[\n  { text: 'Tiếp tục', callback_data: 'meta_continue:' + sessionToken },\n  { text: 'Dừng', callback_data: 'meta_stop:' + sessionToken },\n  { text: 'Đổi', callback_data: 'meta_change:' + sessionToken },\n]];\n\nlet reviewerStopped = false;\nconst maxReviewAdjustRounds = 6;\nlet reviewRound = 0;\n\nwhile (reviewRound <= maxReviewAdjustRounds) {\n  const qcSummary = [\n    'QC: hook=' + qc.hook_score,\n    'clarity=' + qc.clarity_score,\n    'originality=' + qc.originality_score,\n    'practical=' + qc.practical_value_score,\n    'risk=' + qc.risk_level,\n  ].join(' | ');\n\n  const reviewHeader = [\n    '[REVIEW STAGE]',\n    'Session: ' + sessionToken,\n    qcSummary,\n    'QC feedback: ' + safeText(qc.feedback, 'Chưa có feedback QC.'),\n    'Lệnh nhanh: tiep | dung | doi <noi_dung_muon_sua>',\n    'Hoặc bấm button bên dưới.',\n  ].join('\\n');\n\n  await sendLongReviewPreview(reviewHeader, reviewText);\n  await sendTelegramMessage('Chọn hành động cho bản review:', reviewButtons);\n\n  const decision = await waitForReviewerAction('rvw', sessionToken, offset, reviewerTimeoutSeconds);\n  offset = decision.offset;\n  commandLogs.push({ stage: 'review', ...decision, round: reviewRound });\n\n  if (decision.action === 'stop') {\n    reviewerStopped = true;\n    break;\n  }\n\n  if (decision.action === 'continue') {\n    break;\n  }\n\n  const instruction = safeText(decision.instruction, 'Làm lại bản review với văn phong rõ ràng hơn và bám sát ý sách.');\n  await sendTelegramMessage('Đang cập nhật review theo yêu cầu: ' + instruction.slice(0, 500));\n\n  try {\n    const revisedReview = await reviseReview(reviewText, instruction);\n    reviewText = revisedReview;\n    reviewIntro = extractSectionText(reviewText, 'intro');\n    reviewOutro = extractSectionText(reviewText, 'outro');\n    qc = await runQc(reviewText, reviewIntro, reviewOutro);\n  } catch (error) {\n    await sendTelegramMessage('Không thể sửa review bằng AI: ' + String(error?.message ?? error).slice(0, 700));\n  }\n\n  reviewRound += 1;\n}\n\nif (!reviewerStopped) {\n  await sendTelegramMessage('[METADATA STAGE] Đang tạo metadata (title/caption/thumbnail/hashtags)...');\n\n  try {\n    metadata = await generateMetadataBundle(reviewText, '', null);\n    responseBase.metadata_status = 'generated';\n  } catch (error) {\n    responseBase.metadata_status = 'fallback';\n    responseBase.metadata_error = String(error?.message ?? error);\n    metadata = {\n      title: 'Tiêu đề video',\n      caption: 'Caption video',\n      thumbnail_text: 'Thumbnail text',\n      hashtags: ['#bookreview', '#selfhelp'],\n    };\n  }\n\n  const maxMetadataAdjustRounds = 6;\n  let metadataRound = 0;\n  while (metadataRound <= maxMetadataAdjustRounds) {\n    const metadataPreview = [\n      '[METADATA BUNDLE]',\n      'Session: ' + sessionToken,\n      'Title: ' + metadata.title,\n      'Caption: ' + metadata.caption,\n      'Thumbnail: ' + metadata.thumbnail_text,\n      'Hashtags: ' + metadata.hashtags.join(' '),\n      'Lệnh nhanh: tiep | dung | doi <title/caption/hashtag/thumbnail + chi tiet>',\n      'Khi bạn gõ doi, hệ thống tự thêm \"Những thứ khác giữ nguyên\".',\n    ].join('\\n');\n\n    await sendTelegramMessage(metadataPreview);\n    await sendTelegramMessage('Chọn hành động cho metadata:', metadataButtons);\n\n    const decision = await waitForReviewerAction('meta', sessionToken, offset, reviewerTimeoutSeconds);\n    offset = decision.offset;\n    commandLogs.push({ stage: 'metadata', ...decision, round: metadataRound });\n\n    if (decision.action === 'stop') {\n      reviewerStopped = true;\n      break;\n    }\n\n    if (decision.action === 'continue') {\n      break;\n    }\n\n    const instruction = safeText(\n      decision.instruction,\n      'Làm lại metadata rõ ràng hơn, tập trung lợi ích thực tế, tránh clickbait.'\n    );\n    const adjustedInstruction = ensureKeepOthersInstruction(instruction);\n\n    await sendTelegramMessage('Đang cập nhật metadata theo yêu cầu: ' + instruction.slice(0, 500));\n\n    try {\n      metadata = await generateMetadataBundle(reviewText, adjustedInstruction, metadata);\n      responseBase.metadata_status = 'generated';\n      responseBase.metadata_error = null;\n    } catch (error) {\n      responseBase.metadata_status = 'fallback';\n      responseBase.metadata_error = String(error?.message ?? error);\n      await sendTelegramMessage('Không thể cập nhật metadata: ' + responseBase.metadata_error.slice(0, 700));\n    }\n\n    metadataRound += 1;\n  }\n}\n\nconst finalStopReason = reviewerStopped\n  ? 'reviewer_stopped'\n  : String(input.stop_reason ?? 'completed');\n\nconst finalPayload = {\n  review: reviewText,\n  qc: {\n    checks: qc.qc_checks,\n    issues: qc.qc_issues,\n    feedback: qc.feedback,\n    score_warnings: qc.score_warnings,\n    hook_score: qc.hook_score,\n    clarity_score: qc.clarity_score,\n    originality_score: qc.originality_score,\n    practical_value_score: qc.practical_value_score,\n    risk_level: qc.risk_level,\n    qc_status: qc.qc_status,\n    qc_error: qc.qc_error,\n  },\n  metadata,\n  reviewer: {\n    session_token: sessionToken,\n    stopped: reviewerStopped,\n    commands: commandLogs,\n  },\n};\n\nconst finalMessage = [\n  reviewText,\n  '---',\n  'Book Review Output (JSON)',\n  '~~~json',\n  JSON.stringify(finalPayload, null, 2),\n  '~~~',\n].join('\\n\\n');\n\nreturn {\n  ...input,\n  ...qc,\n  full_review: reviewText,\n  review_intro: reviewIntro,\n  review_outro: reviewOutro,\n  metadata_status: responseBase.metadata_status,\n  metadata_error: responseBase.metadata_error,\n  metadata,\n  message: finalMessage,\n  stop_reason: finalStopReason,\n  reviewer_session_token: sessionToken,\n  reviewer_decision: reviewerStopped ? 'stop' : 'continue',\n  reviewer_gate_status: reviewerStopped ? 'stopped' : 'completed',\n  reviewer_commands: commandLogs,\n  video_title: metadata?.title ?? '',\n  video_caption: metadata?.caption ?? '',\n  video_thumbnail_text: metadata?.thumbnail_text ?? '',\n  video_hashtags: Array.isArray(metadata?.hashtags) ? metadata.hashtags : [],\n};\n"
      },
      "id": "9",
      "name": "Reviewer Orchestrator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const stopReason = String($json.stop_reason ?? 'unknown');\nconst status = stopReason === 'completed' ? 'success' : 'failed';\nconst turnCount = Number($json.turn_count ?? 0);\nconst userInput = String($json.user_input ?? '').trim();\nconst riskLevel = String($json.risk_level ?? 'unknown');\nconst metadataStatus = String($json.metadata_status ?? 'unknown');\n\nconst scoreValues = [\n  Number($json.hook_score),\n  Number($json.clarity_score),\n  Number($json.originality_score),\n  Number($json.practical_value_score),\n].filter((value) => Number.isFinite(value));\n\nconst avgScore = scoreValues.length\n  ? Math.round((scoreValues.reduce((sum, value) => sum + value, 0) / scoreValues.length) * 10) / 10\n  : null;\n\nconst summary = status === 'success'\n  ? 'Book review completed in ' + turnCount + ' turn(s). risk=' + riskLevel + ', metadata=' + metadataStatus\n  : 'Book review ended with stop_reason=' + stopReason + '. risk=' + riskLevel + ', metadata=' + metadataStatus;\n\nconst detailsParts = [\n  $json.model ? 'model=' + $json.model : null,\n  'turn_count=' + turnCount,\n  'stop_reason=' + stopReason,\n  'risk=' + riskLevel,\n  'metadata_status=' + metadataStatus,\n  avgScore !== null ? 'avg_score=' + avgScore : null,\n  userInput ? 'user_input=' + userInput.slice(0, 120) : null,\n].filter(Boolean);\n\nif ($json.fallback_used === true && $json.fallback_model) {\n  detailsParts.push('fallback_used=' + $json.fallback_model);\n}\n\nconst scoreWarnings = Array.isArray($json.score_warnings) ? $json.score_warnings : [];\nif (scoreWarnings.length > 0) {\n  detailsParts.push('score_warnings=' + scoreWarnings.slice(0, 3).join('; '));\n}\n\nconst message = String($json.message ?? '').trim();\nif (message) {\n  detailsParts.push('message=' + message.slice(0, 220));\n}\n\nreturn [{\n  json: {\n    status,\n    source_workflow: 'Book Review Gemini via CLIProxyAPI',\n    summary,\n    details: detailsParts.join(' | '),\n    notify_targets: String($json.notify_targets ?? 'telegram'),\n    telegram_bot_token: String($json.telegram_bot_token ?? '').trim(),\n    telegram_chat_id: String($json.telegram_chat_id ?? '').trim(),\n    ggchat_webhook_url: String($json.ggchat_webhook_url ?? '').trim(),\n    timestamp: new Date().toISOString(),\n  },\n}];\n"
      },
      "id": "5",
      "name": "Build Notify Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        0
      ]
    },
    {
      "parameters": {
        "source": "localFile",
        "workflowPath": "__SHARED_NOTIFICATION_WORKFLOW_PATH__",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "6",
      "name": "Notify via Shared Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1008,
        0
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nreturn {\n  message: String(input.message ?? '').trim() || 'Done.',\n  stop_reason: String(input.stop_reason ?? 'completed'),\n  reviewer_decision: String(input.reviewer_decision ?? 'continue'),\n  risk_level: String(input.risk_level ?? 'med'),\n  video_title: String(input.video_title ?? ''),\n  video_caption: String(input.video_caption ?? ''),\n  video_thumbnail_text: String(input.video_thumbnail_text ?? ''),\n  video_hashtags: Array.isArray(input.video_hashtags) ? input.video_hashtags : [],\n};\n"
      },
      "id": "10",
      "name": "Return Chat Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        192
      ]
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Generate Full Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Full Review": {
      "main": [
        [
          {
            "node": "Parse Review Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Review Sections": {
      "main": [
        [
          {
            "node": "Set Notify Targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Notify Targets": {
      "main": [
        [
          {
            "node": "Reviewer Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reviewer Orchestrator": {
      "main": [
        [
          {
            "node": "Build Notify Payload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Return Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notify Payload": {
      "main": [
        [
          {
            "node": "Notify via Shared Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
