workflows/book-review/book-review.workflow.json
{
  "name": "Book Review",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1744,
        1928
      ],
      "id": "f88a5dd0-8b2e-474c-bd07-34fbc4d83ca7",
      "name": "When chat message received",
      "webhookId": "eff41ce5-03b3-456c-b32a-3f18639aee27",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "41964737-f23d-4ebf-8d6a-294e76f8bbe4",
                    "leftValue": "={{ String($json.callbackAction || \"\")?.length > 0 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start review"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0d8e7ff1-7b62-4dfa-94ec-b5e24999c44b",
                    "leftValue": "={{ $json.callbackAction }}",
                    "rightValue": "changeContent",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "change content"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c415d8ec-5c3b-4178-a73c-4f53d69c9720",
                    "leftValue": "={{ $json.callbackAction }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "727d6c4f-ead9-435c-a3a2-60fa7671d66a",
                    "leftValue": "={{ $json.callbackAction }}",
                    "rightValue": "reviewPassed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "review passed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "415d5b04-34a6-4bca-9f39-f26bf95630aa",
                    "leftValue": "={{ String($json.callbackAction || \"\")?.length > 0 }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "others"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1072,
        1976
      ],
      "id": "ca838936-8f42-47d0-89d9-97bf230f1a0d",
      "name": "Route Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Config Main').item.json.chatInput }}\n<<<MANIFEST_JSON>>>\n{{ JSON.stringify($json.output) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $('Config Main').item.json.master_prompt }}\nPROMPT QC: THE CRITICAL SOUL EDITOR (V4)\n\nROLE:\n- Bạn là một biên tập viên QC gắt gao cho các nội dung kể chuyện review sách dài.\n\nMISSION:\n- Đánh giá chất lượng khách quan và độ khớp với phong cách Soulful Narrator.\n\nEVALUATION LAYERS:\n1) Objective layer:\n- Sức mạnh của Hook.\n- Sự mạch lạc của dòng tự sự.\n- Độ nguyên bản (Originality).\n- Tính ứng dụng của Bridge vào thực tế đời sống.\n\n2) Style-fit layer:\n- Sự nhất quán của giọng kể.\n- Mạch trôi tự nhiên (tránh meta labeling).\n- Chiều sâu cảm xúc và các ẩn dụ đời thường.\n\nSCORING & FEEDBACK:\n- Thang điểm từ 0 đến 10 cho: Hook, Clarity, Originality, Practical.\n- Trừ điểm nặng nếu dính meta-label lặp đi lặp lại hoặc hô hào giáo điều.\n- Feedback phải thẳng thắn, ưu tiên các lỗi cần sửa ngay, nhưng giữ cho sự sáng tạo của người kể chuyện còn sống.\n\nHARD CONSTRAINTS:\n- Output phải là 1 JSON object hợp lệ (RFC8259), không markdown, không code fence, không text ngoài JSON.\n\nREQUIRED OUTPUT SCHEMA (EXACT KEYS):\n{\n  \"hook\": 0,\n  \"clarity\": 0,\n  \"originality\": 0,\n  \"practical\": 0,\n  \"risk\": \"low|med|high\",\n  \"feedback\": \"string\",\n  \"qc_issues\": [\"string\"]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        656,
        2008
      ],
      "id": "77e150d8-1a32-4dd0-afab-042249707767",
      "name": "QC AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Config Main').item.json.chatInput }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "={{ $('Config Main').item.json.masterPrompt }}\n\nPROMPT SCENE OUTLINE: THE CONTENT ARCHITECT (V4)\n\nROLE:\n- Bạn là kiến trúc sư xây dựng khung cảnh cho video review sách dài.\n\nTASK:\n- Thiết kế dàn ý cho video 16:9 với tổng thời lượng 15-20 phút.\n\nHARD CONSTRAINTS:\n- Output phải là 1 JSON object hợp lệ (RFC8259), không markdown, không code fence, không text ngoài JSON.\n- scene_count là số nguyên từ 8 đến 14 (nên là các bài học đúc kết hoặc số chương + intro + outro).\n- Cảnh đầu (order=1) bắt buộc scene_role=\"hook\".\n- Cảnh cuối bắt buộc scene_role=\"outro\".\n- Các cảnh cốt lõi phải dày dặn, không viết cảnh siêu nhỏ.\n- Chọn 1 góc nhìn phân tích chính và 1 góc nhìn hỗ trợ (không phân mảng quá nhiều).\n- Mục tiêu từng cảnh phải có ý nghĩa sâu sắc, không chỉ lặp lại nội dung chương sách.\n- Chọn rõ `primary_lens` và `secondary_lens`, không để trống.\n\nLANGUAGE:\n- Tiếng Việt cho các giá trị nội dung (key JSON giữ tiếng Anh theo schema).\n\nREQUIRED OUTPUT SCHEMA (EXACT KEYS):\n{\n  \"angle\": \"string\",\n  \"target_audience\": \"string\",\n  \"primary_lens\": \"string\",\n  \"secondary_lens\": \"string\",\n  \"scene_count\": 0,\n  \"estimated_total_duration_sec\": 0,\n  \"scenes\": [\n    {\n      \"order\": 1,\n      \"scene_role\": \"hook|core|outro\",\n      \"scene_goal\": \"string\",\n      \"key_points\": [\"string\"]\n    }\n  ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -592,
        1680
      ],
      "id": "345e7d01-59d8-45a1-9c7f-c7c34d4132a4",
      "name": "Outline AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1744,
        2120
      ],
      "id": "4d4bb9d4-31c8-48df-84db-bd3252c44709",
      "name": "Telegram Trigger",
      "webhookId": "33f37b05-be97-457e-87dd-2f45f840f5b2",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "UkrPHyACfAUpSkv8",
          "name": "Local Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe08b955-42dd-4719-8619-d9ffe65dc9a7",
              "name": "masterPrompt",
              "value": "MASTER PROMPT: THE SOULFUL NARRATOR & CULTURAL ANALYST (V4)\n\nROLE:\n- Bạn là một \"Vị Triết Gia Đời Thường\" (The Everyday Philosopher). Bạn không review sách; bạn dùng sách để giải mã những \"Sự thật thầm kín\", \"Bí mật ít ai để ý tới\" về những ý nghĩa mà cuốn sách đem lại cho con người.\n- Bạn thấu cảm, đời thường, nhưng đủ sắc bén để đánh thức người nghe, đánh vào thâm tâm của người nghe.\n- Giọng kể phải tự nhiên như người thật đang tâm sự, không giáo điều, không khẩu hiệu rỗng.\n\nVOICE & STYLE:\n- Ngôn ngữ: Tiếng Việt đời thường, giàu hình ảnh, có nhịp điệu (Pacing).\n- Thái độ: Thủ thỉ như tâm tình nhưng đanh thép khi cần \"tát tỉnh\" người nghe.\n- Tuyệt đối cấm: Các từ AI cửa miệng như \"Tóm lại\", \"Nhìn chung\", \"Trong bối cảnh hiện nay\", \"Chúng ta cần phải\"\n- Tuyệt đối cấm: Đánh đồng như \"con người\", \"tất cả\",...\n- Tuyệt đối cấm: Đụng chạm đến tôn giáo, tín nguongwx\n\nCORE DIRECTIVES:\n1. HOOK THỨC TỈNH:\n- Mở đầu bằng một câu hỏi hoặc tình huống chạm vào nỗi đau/cột mốc mà ai cũng từng gặp.\n- Ưu tiên không nêu tên sách ngay trong câu mở đầu.\n\n2. TRIỆT TIÊU META LABEL:\n- Không viết kiểu \"Phần 1\", \"Tóm tắt\", \"Bài học\" trong narration.\n- Mạch kể phải liền, trôi tự nhiên như một cuộc đối thoại.\n\n3. THE BRIDGE (CẦU NỐI TÂM LÝ):\n- Mỗi luận điểm từ sách cần có câu nối kéo về đời thực ngay sau đó.\n- Bridge phải cụ thể: công việc, gia đình, áp lực, sai lầm, thói quen.\n- Phải giải mã được cơ chế tâm lý đằng sau hành động của nhân vật thay vì chỉ nêu ví dụ.\n\n4. ẨN DỤ ĐỜI THƯỜNG:\n- Dùng hình ảnh gần gũi để giải thích ý khó.\n- Tránh định kiến giới, tránh tâm linh hóa, tránh ví dụ cực đoan.\n\n5. XƯNG HÔ:\n- Ưu tiên \"mình/tôi\" và \"bạn\" (có thể \"bạn thân mến\" khi phù hợp).\n- Giữ cảm giác gần gũi như hai người bạn đang ngồi nói chuyện.\n\n6. NGÔN NGỮ CHIÊM NGHIỆM:\n- Lời văn đời thường, mềm mại, giàu cảm xúc nhưng rõ nghĩa.\n- Tuyệt đối tránh các từ AI cửa miệng như \"Tóm lại\", \"Nhìn chung\", \"Trong bối cảnh\".\n\nLOGIC THEO THỂ LOẠI (ADAPTIVE LENS):\n- Self-help/Tâm lý:\n  Không hô hào \"hãy tích cực\"; giải thích gốc rễ tiêu cực và sự không hoàn hảo.\n  Thần thái: điềm tĩnh, chữa lành, thấu suốt.\n\n- Tiểu thuyết/Ngụ ngôn:\n  Xem hành trình nhân vật như hành trình tinh thần của người nghe.\n  Biến bối cảnh/vật phẩm thành biểu tượng tâm lý để soi chiếu bản thân.\n  Thần thái: giàu hình ảnh, truyền cảm hứng, có khát vọng.\n\n- Triết học/Khoa học:\n  Dịch ý niệm khô thành câu hỏi nhân sinh và trải nghiệm sống.\n  Biến con số thành ý nghĩa cảm xúc và lựa chọn thực tế.\n\nINVISIBLE FLOW (KHUNG NGẦM):\n1. Gõ cửa tâm hồn: Mở bằng tình huống gia đình hoặc câu hỏi nhức nhối.\n2. Dẫn lối vào sách: Giới thiệu sách như tấm gương/liệu pháp để soi mình.\n3. Phân tích sâu + Đối thoại: Đan xen kể chuyện với \"tâm sự mỏng\" về sai lầm, nỗi sợ, khao khát.\n4. Triển khai các cảnh (Scenes): Đặt tiêu đề cảnh theo phần đúc kết nhắc nhở.\n5. Kết đọng: Kết bằng một khẳng định bao dung hoặc câu hỏi mở để người nghe tự phản tư.\n\nTRÁNH\nThứ nhất, lỗi triển khai lặp quá đều ở nhiều scene, tạo cảm giác meta-framework chen vào dòng kể. Nó làm bài dễ đoán, bớt tự nhiên, giảm độ mê hoặc của narrative.\nThứ 2, mật độ câu khẳng định đanh quá dày, nhiều chỗ giống đang tuyên ngôn hơn là dẫn dắt, khiến người nghe hơi bị “dạy đời”. Soulful Narrator cần đau mà tỉnh, không phải câu nào cũng đóng đinh.\nThứ 3, hãy thiên về thức tỉnh tinh thần hơn là bridge thực hành. Người xem được chạm cảm xúc mạnh nhưng chưa được chỉ rõ sau video nên làm gì ngay: kiểm tra tiếng gọi nào lặp lại, phân biệt sợ thật hay muốn thật ra sao, thử một bước nhỏ nào trong 7 ngày tới. \nThứ tư, vài ý lặp semantic quanh “vùng an toàn”, “cái quen”, “nỗi sợ viết hộ đời mình”; nên gọt bớt để mỗi scene có một phát hiện riêng, tránh cùng một luận điểm thay áo.\n\nTóm lại: Có hồn, có lực, có câu quote tốt, đủ khả năng giữ người xem dài. Hãy bớt khung lý thuyết lộ thiên, giảm giọng phán xử, tăng chi tiết thực hành và tạo phân hóa rõ hơn giữa các scene để hành trình đỡ cùng một màu cảm xúc.\n------------------\nTránh mang sắc thái giáo điều, phán quyết mạnh tay, dễ thành cảm giác 'dạy đời'\nTránh Bridge ứng dụng đời sống chưa đủ cụ thể; thiếu hành động nhỏ, rõ, khả thi cho người xem\nTránh ý nghĩa về vùng an toàn và nỗi sợ bị lặp lại ở nhiều scene, cần nén bớt để tránh trùng ý",
              "type": "string"
            },
            {
              "id": "7c7003f4-ae62-4abe-8629-0f57dfbb9d19",
              "name": "telegramChatId",
              "value": "={{ $json.callback_query?.message?.chat?.id || $json.message?.chat?.id || 6920403077}}",
              "type": "string"
            },
            {
              "id": "5640634f-aa04-4b9b-9f1a-6705558a3d72",
              "name": "chatInput",
              "value": "={{ $json.message?.text || $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "f17cdce5-1343-4c2c-a2d6-ef10cf68da88",
              "name": "ggDriveRootFolderId",
              "value": "1u1p_7y5hWKzuQhRHno2OFHjZqM9cG3pa",
              "type": "string"
            },
            {
              "id": "d2f921c5-53aa-4896-be43-f7986dacb025",
              "name": "sessionTableName",
              "value": "Book Review Sessions",
              "type": "string"
            },
            {
              "id": "e607428e-26af-4d13-8267-3edf775c03fb",
              "name": "mediaSpreadsheetName",
              "value": "Media",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1296,
        2024
      ],
      "id": "d72bb434-aa98-45ac-85d8-6dbceae690f6",
      "name": "Config Main"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegramChatId }}",
        "text": "Đang tạo outline...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -848,
        1680
      ],
      "id": "043f651a-6514-4f88-93f5-1c48f3365784",
      "name": "Send Creating Outline Message",
      "webhookId": "5d1921ba-59cc-4e43-b3a6-c2a30eee5a98",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "UkrPHyACfAUpSkv8",
          "name": "Local Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"angle\": \"string\",\n  \"target_audience\": \"string\",\n  \"primary_lens\": \"string\",\n  \"secondary_lens\": \"string\",\n  \"scene_count\": 0,\n  \"estimated_total_duration_sec\": 0,\n  \"scenes\": [\n    {\n      \"order\": 1,\n      \"scene_role\": \"hook|core|outro\",\n      \"scene_goal\": \"string\",\n      \"key_points\": [\"string\"]\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -368,
        1904
      ],
      "id": "419a4264-be19-485c-9146-2cf2dfe80477",
      "name": "Structured Outline Output Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"hook\": 0,\n  \"clarity\": 0,\n  \"originality\": 0,\n  \"practical\": 0,\n  \"risk\": \"low|med|high\",\n  \"feedback\": \"string\",\n  \"qc_issues\": [\"string\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        792,
        2232
      ],
      "id": "6c4d8c06-9905-4a4b-bc6c-a0675b9118b2",
      "name": "Structured QC Output Parser"
    },
    {
      "parameters": {
        "jsCode": "function normalizeText(value) {\n   return String(value ?? '').replace(/\\r?\\n/g, '\\n').trim();\n}\n\nfunction asObject(value) {\n  return value && typeof value === 'object' && !Array.isArray(value) ? value : {};\n}\n\nfunction asArray(value) {\n  return Array.isArray(value) ? value : [];\n}\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction asInt(value, fallback = 0) {\n  const num = Number(value);\n  return Number.isFinite(num) ? Math.floor(num) : fallback;\n}\n\nfunction slugifyBookName(value) {\n  const normalized = String(value ?? '')\n    .normalize('NFD')\n    .replace(/[̀-ͯ]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '');\n\n  if (!normalized) {\n    return 'book';\n  }\n\n  return normalized.slice(0, 80) || 'book';\n}\n\nfunction buildReadableContent(manifest) {\n  const book = asObject(manifest.book);\n  const video = asObject(manifest.video);\n  const metadata = asObject(manifest.metadata);\n  const scenes = asArray(manifest.scenes).sort((a, b) => asInt(a.order) - asInt(b.order));\n\n  const lines = [];\n\n  lines.push(`# ${safeText(book.title, 'Sach chua ro ten')}`);\n\n  if (safeText(book.author)) {\n    lines.push(`Tac gia: ${safeText(book.author)}`);\n  }\n\n  const styleKeywords = asArray(book.style_keywords).map((item) => safeText(item)).filter(Boolean);\n  if (styleKeywords.length) {\n    lines.push(`Style keywords: ${styleKeywords.join(', ')}`);\n  }\n\n  const aspectRatio = safeText(video.aspect_ratio, '16:9');\n  const minSec = asInt(video.target_duration_min_sec);\n  const maxSec = asInt(video.target_duration_max_sec);\n  const estSec = asInt(video.estimated_total_duration_sec);\n\n  lines.push(`Video: ${aspectRatio} | ${minSec}-${maxSec}s | est ${estSec}s`);\n\n  lines.push('');\n  lines.push('## Metadata');\n  lines.push(`Title: ${safeText(metadata.title)}`);\n\n  if (safeText(metadata.thumbnail_text)) {\n    lines.push(`Thumbnail: ${safeText(metadata.thumbnail_text)}`);\n  }\n\n  if (safeText(metadata.caption)) {\n    lines.push('');\n    lines.push('Caption:');\n    lines.push(normalizeText(metadata.caption));\n  }\n\n  const hashtags = asArray(metadata.hashtags).map((item) => safeText(item)).filter(Boolean);\n  if (hashtags.length) {\n    lines.push('');\n    lines.push(`Hashtags: ${hashtags.join(' ')}`);\n  }\n\n  for (const scene of scenes) {\n    const sceneId = safeText(scene.scene_id, 'scene');\n    const sceneTitle = safeText(scene.scene_title, sceneId);\n    const sceneRole = safeText(scene.scene_role, 'core');\n    const duration = asInt(scene.estimated_duration_sec);\n    const narration = normalizeText(scene.narration_text);\n    const quote = safeText(scene.highlight_quote_vi);\n\n    lines.push('');\n    lines.push(`## ${sceneId} - ${sceneTitle}`);\n    lines.push(`Role: ${sceneRole} | Order: ${asInt(scene.order)} | Duration: ${duration}s`);\n\n    if (quote) {\n      lines.push(`Highlight quote: \"${quote}\"`);\n    }\n\n    if (narration) {\n      lines.push('');\n      lines.push(narration);\n    }\n  }\n\n  return lines.join('\\n').replace(/\\n{3,}/g, '\\n\\n').trim();\n}\n\nconst manifestRaw = asObject($('Manifest AI Agent').first().json.output);\nconst qc = asObject($('QC AI Agent').first().json.output);\n\nif (Object.keys(manifestRaw).length === 0) {\n  throw new Error('Manifest output is missing from merged payload.');\n}\n\nif (Object.keys(qc).length === 0) {\n  throw new Error('QC output is missing from merged payload.');\n}\n\nconst bookRaw = asObject(manifestRaw.book);\nconst videoRaw = asObject(manifestRaw.video);\nconst metadataRaw = asObject(manifestRaw.metadata);\n\nconst manifest = {\n  ...manifestRaw,\n  book: {\n    title: normalizeText(bookRaw.title),\n    author: normalizeText(bookRaw.author),\n    style_keywords: asArray(bookRaw.style_keywords).map((item) => safeText(item)).filter(Boolean),\n  },\n  video: {\n    aspect_ratio: safeText(videoRaw.aspect_ratio, '16:9'),\n    target_duration_min_sec: asInt(videoRaw.target_duration_min_sec, 900),\n    target_duration_max_sec: asInt(videoRaw.target_duration_max_sec, 1200),\n    estimated_total_duration_sec: asInt(videoRaw.estimated_total_duration_sec, 0),\n  },\n  metadata: {\n    ...metadataRaw,\n    title: normalizeText(metadataRaw.title),\n    caption: normalizeText(metadataRaw.caption),\n    thumbnail_text: normalizeText(metadataRaw.thumbnail_text),\n    hashtags: asArray(metadataRaw.hashtags).map((item) => safeText(item)).filter(Boolean),\n  },\n  scenes: asArray(manifestRaw.scenes)\n    .map((scene, index) => {\n      const s = asObject(scene);\n      return {\n        ...s,\n        scene_id: safeText(s.scene_id, 'scene_' + String(index + 1).padStart(2, '0')),\n        order: asInt(s.order, index + 1),\n        scene_title: normalizeText(s.scene_title),\n        scene_role: safeText(s.scene_role, index === 0 ? 'hook' : 'core'),\n        narration_text: normalizeText(s.narration_text),\n        image_prompt_en: normalizeText(s.image_prompt_en),\n        highlight_quote_vi: normalizeText(s.highlight_quote_vi),\n        estimated_duration_sec: asInt(s.estimated_duration_sec, 0),\n        transition: safeText(s.transition, 'cut'),\n      };\n    })\n    .sort((a, b) => a.order - b.order),\n};\n\nconst contentReadable = buildReadableContent(manifest);\n\nconst sessionToken = safeText($('Config Main').first().json.sessionToken, '');\nconst safeToken = sessionToken.replace(/[^a-zA-Z0-9_-]+/g, '-').replace(/^-+|-+$/g, '') || 'session';\n\nconst safeBookName = slugifyBookName(\n  safeText(`${manifest.book.title}-${manifest.book.author}`, 'book')\n);\n\nconst folderPath = `${safeBookName}-${safeToken}`;\n\nreturn {\n  sessionToken,\n  manifest,\n  manifestJSONString: JSON.stringify(manifest, null, 2),\n  contentReadable,\n  qc,\n  folderPath,\n  ggDriveFolderName: folderPath,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        2008
      ],
      "id": "c1b8ae39-a470-4835-ba95-a9154e994986",
      "name": "Prepare Manifest"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "manifestJSONString",
        "binaryPropertyName": "file",
        "options": {
          "fileName": "Manifest.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2128,
        1784
      ],
      "id": "fce4bbc3-47cf-40c0-a37c-7ee6290a77ba",
      "name": "Convert Manifest to File"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QpcIxaHiYXDqjw4p",
          "mode": "list",
          "cachedResultUrl": "/workflow/QpcIxaHiYXDqjw4p",
          "cachedResultName": "GG Drive Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "upsert",
            "fileName": "Manifest.json",
            "rootFolderId": "={{ $('Config Main').item.json.ggDriveRootFolderId }}",
            "folderPath": "={{ $('Prepare Manifest').item.json.ggDriveFolderName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "rootFolderId",
              "displayName": "rootFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "folderPath",
              "displayName": "folderPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileName",
              "displayName": "fileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "binaryFieldName",
              "displayName": "binaryFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2352,
        1784
      ],
      "id": "783252db-35a8-49ec-8339-7cdcb29cacda",
      "name": "Save Manifest to Drive"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Send Creating Outline Message').item.json.result.chat.id }}",
        "messageId": "={{ $('Send Creating Outline Message').item.json.result.message_id }}",
        "text": "QC đang Review...",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        1712
      ],
      "id": "0cfe3fe2-27f2-4f1b-9b77-cd5e77431298",
      "name": "Send QC Reviewing Message",
      "webhookId": "52703847-effa-4d1c-8b3c-1a659cfa23a3",
      "credentials": {
        "telegramApi": {
          "id": "UkrPHyACfAUpSkv8",
          "name": "Local Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Send Creating Outline Message').item.json.result.chat.id }}",
        "messageId": "={{ $('Send Creating Outline Message').item.json.result.message_id }}",
        "text": "Đang tạo nội dung...",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -40,
        1564
      ],
      "id": "cb57a281-0744-4261-b438-d430c69443f1",
      "name": "Send Creating Manifest Message",
      "webhookId": "52703847-effa-4d1c-8b3c-1a659cfa23a3",
      "credentials": {
        "telegramApi": {
          "id": "UkrPHyACfAUpSkv8",
          "name": "Local Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Config Main').item.json.chatInput }}\n<<<OUTLINE_JSON>>>\n{{ JSON.stringify($json.output) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $('Config Main').item.json.masterPrompt }}\nPROMPT SCENE EXPAND: THE SCRIPTWRITER (V4)\n\nROLE:\n- Bạn là người viết kịch bản kể chuyện cho video review sách dài.\n\nTASK:\n- Mở rộng dàn ý thành một review_manifest sẵn sàng sản xuất.\n\nHARD CONSTRAINTS:\n- Output phải là 1 JSON object hợp lệ (RFC8259), không markdown, không code fence, không text ngoài JSON.\n- Giữ đúng số lượng cảnh từ dàn ý.\n- Tổng narration_text: 15.000 - 20.000 ký tự tiếng Việt.\n- Hook/Outro: 45-75 giây mỗi cảnh.\n- Core scenes: 75-120 giây mỗi cảnh, tối thiểu 45 giây.\n- scene_01 là hook, scene cuối là outro.\n- scene_title phải mạnh và rõ nghĩa, nêu bật ý nghĩa muốn truyền tải.\n- image_prompt_en: viết bằng tiếng Anh và không để trống.\n- highlight_quote_vi: tùy chọn, không có thì để chuỗi rỗng.\n- metadata.title: Phải chứa một \"Mâu thuẫn\" (Tension) hoặc một \"Câu hỏi tử huyệt\" chạm đến nỗi đau/khao khát của con người hiện đại. TRÁNH: \"Review sách: [Tên sách]\". NÊN \"Tại sao bạn vẫn mãi thất bại dù đã cố gắng?\".\n- metadata.caption: Dưới 150 chữ, tiếng Việt. Cấu trúc: 1 Câu hỏi khơi gợi nỗi đau (Emotional Hook) + 1 Giá trị cốt lõi từ sách + 1 Lời hứa về sự thay đổi (Practical Takeaway).\n- metadata.thumbnail_text: Cực ngắn (dưới 6 từ), clear và curiosity-driven. Phải là một lời cảnh báo hoặc một lời mời gọi mang tính quyết định, không lặp lại Title.\n- metadata.hashtags: 5-7 tags, viết thường, không dấu. Bao gồm tên sách, tên tác giả, ngách nội dung (self-help, triết lý).\n\nANTI-RIGID CONSTRAINTS:\n- Tuyệt đối không dùng các mẫu câu lặp đi lặp lại giữa các cảnh.\n- Không biến narration thành danh sách liệt kê tóm tắt.\n- Giữ sự cân bằng giữa chiều sâu cảm xúc và tính ứng dụng thực tế.\n\nREQUIRED OUTPUT SCHEMA (EXACT KEYS):\n{\n  \"book\": {\n    \"title\": \"string\",\n    \"author\": \"string\",\n    \"style_keywords\": [\"string\"],\n  },\n  \"video\": {\n    \"aspect_ratio\": \"16:9\",\n    \"target_duration_min_sec\": 900,\n    \"target_duration_max_sec\": 1200,\n    \"estimated_total_duration_sec\": 0,\n  },\n  \"metadata\": {\n    \"title\": \"string\",\n    \"caption\": \"string\",\n    \"thumbnail_text\": \"string\",\n    \"hashtags\": [\"#tag\"],\n  },\n  \"scenes\": [\n    {\n      \"scene_id\": \"scene_01\",\n      \"order\": 1,\n      \"scene_title\": \"string\",\n      \"scene_role\": \"hook|core|outro\",\n      \"narration_text\": \"string\",\n      \"image_prompt_en\": \"string\",\n      \"highlight_quote_vi\": \"string\",\n      \"estimated_duration_sec\": 0,\n    }\n  ],\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        304,
        1860
      ],
      "id": "644cdd72-93f4-4611-b716-e0aaba79452c",
      "name": "Manifest AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('Config Main').item.json.telegramChatId }}",
        "messageId": "={{ $('Send Creating Outline Message').item.json.result.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3024,
        1928
      ],
      "id": "9a87d6c3-2e18-4737-b2a5-74d8f1d909bc",
      "name": "Delete Loading Message",
      "webhookId": "52703847-effa-4d1c-8b3c-1a659cfa23a3",
      "credentials": {
        "telegramApi": {
          "id": "UkrPHyACfAUpSkv8",
          "name": "Local Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Config Main').item.json.telegramChatId }}",
        "text": "=content: {{ $('Save Content Readable to Drive').item.json.fileUrl }}\nmanifest: {{ $('Save Manifest to Drive').item.json.fileUrl }}\nmediaUrl: {{ $(\"Ensure Media Sheet\").item.json.spreadsheetUrl }}\nfolderUrl: {{ $('Save Manifest to Drive').item.json.folderUrl }}\n------------------\nhook: {{ $('Prepare Manifest').item.json.qc.hook }}, clarity: {{ $('Prepare Manifest').item.json.qc.clarity }}, originality: {{ $('Prepare Manifest').item.json.qc.originality }}, practical: {{ $('Prepare Manifest').item.json.qc.practical }}, risk: {{ $('Prepare Manifest').item.json.qc.risk }}\n------------------\n{{ $('Prepare Manifest').item.json.qc.feedback }}\n------------------\n{{ $('Prepare Manifest').item.json.qc.qc_issues.join('\\n') }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Delete",
                    "additionalFields": {
                      "callback_data": "={{ \"delete:\" + $(\"Prepare Manifest\").item.json.sessionToken }}"
                    }
                  },
                  {
                    "text": "Change",
                    "additionalFields": {
                      "callback_data": "={{ \"changeContent:\" + $(\"Prepare Manifest\").item.json.sessionToken }}"
                    }
                  },
                  {
                    "text": "Continue",
                    "additionalFields": {
                      "callback_data": "={{ \"reviewPassed:\" + $(\"Prepare Manifest\").item.json.sessionToken }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "=none"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3024,
        2168
      ],
      "id": "ab078599-04fc-4709-bb6f-1ee67347c8dc",
      "name": "Send Review Message",
      "webhookId": "5d1921ba-59cc-4e43-b3a6-c2a30eee5a98",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "UkrPHyACfAUpSkv8",
          "name": "Local Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "contentReadable",
        "binaryPropertyName": "file",
        "options": {
          "fileName": "ContentReadable.txt"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2128,
        1976
      ],
      "id": "13129dda-41ff-4b41-a932-a1d8bb437ad1",
      "name": "Convert Content Readable to File"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QpcIxaHiYXDqjw4p",
          "mode": "list",
          "cachedResultUrl": "/workflow/QpcIxaHiYXDqjw4p",
          "cachedResultName": "GG Drive Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "upsert",
            "fileName": "ContentReadable.txt",
            "binaryFieldName": "file",
            "rootFolderId": "={{ $('Config Main').item.json.ggDriveRootFolderId }}",
            "folderPath": "={{ $('Prepare Manifest').item.json.ggDriveFolderName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "rootFolderId",
              "displayName": "rootFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "folderPath",
              "displayName": "folderPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileName",
              "displayName": "fileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "binaryFieldName",
              "displayName": "binaryFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2352,
        1976
      ],
      "id": "cb1e2334-9a98-4291-a9f6-b0f52424f976",
      "name": "Save Content Readable to Drive"
    },
    {
      "parameters": {
        "jsCode": "function safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nconst callbackData = String($json.callback_query?.data ?? '').trim();\nlet callbackAction = '';\nlet sessionToken = Date.now().toString(36) + Math.random().toString(36).slice(2, 10);\n\nif (callbackData) {\n  const separatorIndex = callbackData.indexOf(':');\n  if (separatorIndex === -1) {\n    callbackAction = callbackData;\n  } else {\n    callbackAction = callbackData.slice(0, separatorIndex).trim() || '';\n    sessionToken = callbackData.slice(separatorIndex + 1).trim();\n  }\n}\n\nreturn {\n  ...$json,\n  callbackData,\n  callbackAction,\n  sessionToken: safeText(sessionToken, ''),\n};"
      },
      "name": "Parse Callback Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        2024
      ],
      "id": "de059205-732b-417d-86a8-fceae57eb4dd"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Hq9y27aFMsQhEcuB",
          "mode": "list",
          "cachedResultUrl": "/workflow/Hq9y27aFMsQhEcuB",
          "cachedResultName": "DataTableStore"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "upsert",
            "tableName": "={{ $(\"Config Main\").item.json.sessionTableName || \"\" }}",
            "keyField": "sessionToken",
            "keyValue": "={{ (() => { const sessionToken = String($(\"Prepare Manifest\").item.json.sessionToken || \"\").trim(); if (!sessionToken) throw new Error(\"sessionToken is required before saving review session.\"); return sessionToken; })() }}",
            "data": "={{\n(() => {\n  const sessionToken = ($(\"Prepare Manifest\").item.json.sessionToken || \"\").toString().trim();\n  const manifestUrl = ($(\"Save Manifest to Drive\").item.json.fileUrl || \"\").toString().trim();\n  const folderUrl = ($(\"Save Manifest to Drive\").item.json.folderUrl || \"\").toString().trim();\n  const rootFolderId = ($(\"Config Main\").item.json.ggDriveRootFolderId || \"\").toString().trim();\n  const folderPath = ($(\"Prepare Manifest\").item.json.folderPath || \"\").toString().trim();\n  const mediaSheetSpreadsheetUrl = ($(\"Ensure Media Sheet\").item.json.spreadsheetUrl || \"\").toString().trim();\n\n  if (!sessionToken) return { error: \"sessionToken is required\" };\n  if (!manifestUrl) return { error: \"manifestUrl is required\" };\n\n  return { \n    sessionToken, \n    status: \"reviewing\", \n    manifestUrl, \n    folderUrl, \n    rootFolderId, \n    folderPath, \n    mediaSheetSpreadsheetUrl \n  };\n})()\n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tableName",
              "displayName": "tableName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keyField",
              "displayName": "keyField",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keyValue",
              "displayName": "keyValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "1dadb463-87f5-4b56-8b4a-9b07a02aea20",
      "name": "Save Reviewing Session",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2800,
        2024
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Hq9y27aFMsQhEcuB",
          "mode": "list",
          "cachedResultUrl": "/workflow/Hq9y27aFMsQhEcuB",
          "cachedResultName": "DataTableStore"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "get",
            "tableName": "={{ $(\"Config Main\").item.json.sessionTableName || \"\" }}",
            "keyField": "sessionToken",
            "keyValue": "={{ String($(\"Parse Callback Data\").item.json.sessionToken || \"\").trim() || \"__missing_session_token__\" }}",
            "data": "={{ ({}) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tableName",
              "displayName": "tableName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keyField",
              "displayName": "keyField",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keyValue",
              "displayName": "keyValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "d99a5e99-bc5e-43e8-aea5-6ad3650de7ca",
      "name": "Get Review Session",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -848,
        2752
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "Đang tải dữ liệu...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "47d36a27-f040-4c96-9a12-8ef0225a655c",
      "name": "Answer Continue Query",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -40,
        2752
      ],
      "webhookId": "b3271de9-8677-4f32-ace2-82f1ca8a968c",
      "credentials": {
        "telegramApi": {
          "id": "UkrPHyACfAUpSkv8",
          "name": "Local Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QpcIxaHiYXDqjw4p",
          "mode": "list",
          "cachedResultUrl": "/workflow/QpcIxaHiYXDqjw4p",
          "cachedResultName": "GG Drive Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "get",
            "url": "={{ $('Get Review Session').item.json.row.manifestUrl }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "rootFolderId",
              "displayName": "rootFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "folderPath",
              "displayName": "folderPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "fileName",
              "displayName": "fileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "binaryFieldName",
              "displayName": "binaryFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "56cdc35a-a800-4b07-8104-6e7ace506bbb",
      "name": "Get Manifest from Drive",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        720,
        2752
      ]
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "file",
        "destinationKey": "manifest",
        "options": {
          "keepSource": "json"
        }
      },
      "id": "3d20c5a4-9bda-4590-8597-24bc2d9b4573",
      "name": "Extract Manifest JSON",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1008,
        2752
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.found === true && String($('Parse Callback Data').first().json.sessionToken || '').trim().length > 0 }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "a71c5269-5aff-4d8b-9d4b-444c72658591"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a77e52bc-f709-4bca-87d6-d7237a0738c9",
                    "leftValue": "={{ $(\"Parse Callback Data\").item.json.callbackAction || \"\" }}",
                    "rightValue": "reviewPassed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "review passed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ff917bd9-938c-41e4-a2da-3e1fc761899b",
                    "leftValue": "={{ $(\"Parse Callback Data\").item.json.callbackAction || \"\" }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -504,
        2736
      ],
      "id": "3c86698d-7b34-485c-aeee-ec2ab5ec113a",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $(\"Telegram Trigger\").item.json.callback_query.id }}",
        "additionalFields": {
          "show_alert": true,
          "text": "=Không tìm thấy dữ liệu"
        }
      },
      "id": "013e8ed2-1da6-4d39-b5fa-9ba760b526fd",
      "name": "Answer Noop Query",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -40,
        2396
      ],
      "webhookId": "a38a2f50-a81b-4512-a08c-b7741c669951",
      "credentials": {
        "telegramApi": {
          "id": "UkrPHyACfAUpSkv8",
          "name": "Local Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3c044e51-e46a-4c8e-8cc8-3d1bc6f7244c",
              "leftValue": "={{ $json.manifest }}",
              "rightValue": "success",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1232,
        2752
      ],
      "id": "7c855fa4-3f0c-4db3-a9b6-a5d6fdd51ed5",
      "name": "If Load Manifest Success"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Answer Continue Query').item.json.result.chat.id }}",
        "messageId": "={{ $('Answer Continue Query').item.json.result.message_id }}",
        "text": "Không tải được dữ liệu",
        "additionalFields": {}
      },
      "id": "ae4223a7-724b-4330-92b0-bc92cd042af9",
      "name": "Answer Load Manifest Fail",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1456,
        2752
      ],
      "webhookId": "b3271de9-8677-4f32-ace2-82f1ca8a968c",
      "credentials": {
        "telegramApi": {
          "id": "UkrPHyACfAUpSkv8",
          "name": "Local Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $(\"Telegram Trigger\").item.json.callback_query.id }}",
        "additionalFields": {
          "show_alert": true,
          "text": "=Không tải được dữ liệu"
        }
      },
      "id": "85a4548b-b1fc-4d4e-ab30-e1aed16b3752",
      "name": "Alert Answer Load Manifest Fail",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1456,
        2944
      ],
      "webhookId": "a38a2f50-a81b-4512-a08c-b7741c669951",
      "credentials": {
        "telegramApi": {
          "id": "UkrPHyACfAUpSkv8",
          "name": "Local Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Answer Continue Query').item.json.result.chat.id }}",
        "messageId": "={{ $('Answer Continue Query').item.json.result.message_id }}",
        "text": "Đang tạo media...",
        "additionalFields": {}
      },
      "id": "bc63dc30-da70-4626-a206-d2ba71624043",
      "name": "Answer Start Media",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1456,
        2560
      ],
      "webhookId": "b3271de9-8677-4f32-ace2-82f1ca8a968c",
      "credentials": {
        "telegramApi": {
          "id": "UkrPHyACfAUpSkv8",
          "name": "Local Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction extractSpreadsheetId(value) {\n  const raw = safeText(value);\n  if (!raw) return '';\n\n  const match = raw.match(/\\/spreadsheets\\/d\\/([a-zA-Z0-9-_]+)/);\n  if (match && match[1]) return match[1];\n\n  return raw;\n}\n\nconst manifest = $('Extract Manifest JSON').first().json.manifest || {};\nconst sessionRow = $('Get Review Session').first().json.row || {};\nconst configMain = $('Config Main').first().json || {};\n\nif (!manifest || typeof manifest !== 'object' || !Array.isArray(manifest.scenes)) {\n  throw new Error('manifest is required before media generation');\n}\n\nconst folderPath = safeText(sessionRow.folderPath);\nif (!folderPath) {\n  throw new Error('session folderPath is required before media generation');\n}\n\nconst mediaSheetIdFromSession = extractSpreadsheetId(sessionRow.mediaSheetSpreadsheetUrl);\nconst mediaSheetIdFromConfig = extractSpreadsheetId(configMain.ttsSheetSpreadsheetId);\nconst ttsSheetSpreadsheetId = mediaSheetIdFromSession || mediaSheetIdFromConfig;\nif (!ttsSheetSpreadsheetId) {\n  throw new Error('mediaSheetId is required (sessionRow.mediaSheetSpreadsheetUrl or Config Main ttsSheetSpreadsheetId)');\n}\n\nconst ttsFolderPath = folderPath.replace(/\\/+$/g, '') + '/tts';\n\nreturn {\n  manifest,\n  sessionRow,\n  rootFolderId: safeText(configMain.ggDriveRootFolderId),\n  ttsFolderPath,\n  ttsVoiceId: safeText(configMain.ttsVoiceId, 'Ngoc'),\n  ttsRequestTimeoutSec: Number(configMain.ttsRequestTimeoutSec || 600),\n  ttsRetry: Number(configMain.ttsRetry || 2),\n  ttsSheetSpreadsheetId,\n  ttsSheetName: safeText(configMain.ttsSheetName, 'TTS'),\n  mediaSheetSpreadsheetUrl: safeText(sessionRow.mediaSheetSpreadsheetUrl),\n};"
      },
      "name": "Config Media",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        2560
      ],
      "id": "d14a94ea-2db9-447d-8b5d-89c0a1e8ab36"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Hq9y27aFMsQhEcuB",
          "mode": "list",
          "cachedResultUrl": "/workflow/Hq9y27aFMsQhEcuB",
          "cachedResultName": "DataTableStore"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "upsert",
            "tableName": "={{ $('Config Main').item.json.sessionTableName }}",
            "keyField": "sessionToken",
            "keyValue": "={{ $('Get Review Session').item.json.row.sessionToken }}",
            "data": "={{ ({ ...($('Get Review Session').item.json.row || {}), sessionToken: String( $('Get Review Session').item.json.row.sessionToken || \"\").trim(), status: \"creatingMedia\" }) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tableName",
              "displayName": "tableName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keyField",
              "displayName": "keyField",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keyValue",
              "displayName": "keyValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "3ddc3048-e911-4277-98e4-c096de6b005a",
      "name": "Update Session Continue Review",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        368,
        2752
      ]
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}",
        "text": "={{ $('Telegram Trigger').item.json.callback_query.message.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -848,
        2464
      ],
      "id": "b9af2bd0-e9ad-4bc0-b78f-e3ccb909cbd8",
      "name": "Remove button",
      "webhookId": "52703847-effa-4d1c-8b3c-1a659cfa23a3",
      "credentials": {
        "telegramApi": {
          "id": "UkrPHyACfAUpSkv8",
          "name": "Local Telegram Bot"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Hq9y27aFMsQhEcuB",
          "mode": "list",
          "cachedResultUrl": "/workflow/Hq9y27aFMsQhEcuB",
          "cachedResultName": "DataTableStore"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "delete",
            "tableName": "={{ $(\"Config Main\").item.json.sessionTableName || \"\" }}",
            "keyField": "sessionToken",
            "keyValue": "={{ $('Get Review Session').item.json.row.sessionToken }}",
            "data": "={{ ({}) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tableName",
              "displayName": "tableName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keyField",
              "displayName": "keyField",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keyValue",
              "displayName": "keyValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "a2696b10-bbc3-484f-bc81-3bd15a4ad856",
      "name": "Delete Session",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        368,
        2944
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QpcIxaHiYXDqjw4p",
          "mode": "list",
          "cachedResultUrl": "/workflow/QpcIxaHiYXDqjw4p",
          "cachedResultName": "GG Drive Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "delete",
            "url": "={{ $('Get Review Session').item.json.row.folderUrl }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "rootFolderId",
              "displayName": "rootFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "folderPath",
              "displayName": "folderPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "fileName",
              "displayName": "fileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "binaryFieldName",
              "displayName": "binaryFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -40,
        2944
      ],
      "id": "7e20d3e0-a93d-4162-a667-7bf72ff5723e",
      "name": "Delete Folder"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}",
        "text": "=~Nội dung đã bị xoá!~",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -848,
        2108
      ],
      "id": "212fbccc-5e08-4871-a1ff-e27b77f38dfd",
      "name": "Answer Delete",
      "webhookId": "52703847-effa-4d1c-8b3c-1a659cfa23a3",
      "credentials": {
        "telegramApi": {
          "id": "UkrPHyACfAUpSkv8",
          "name": "Local Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -848,
        1488
      ],
      "id": "79461372-1de9-4208-b3c6-bbfa8020369b",
      "name": "Delete A Chat Message",
      "webhookId": "52703847-effa-4d1c-8b3c-1a659cfa23a3",
      "credentials": {
        "telegramApi": {
          "id": "UkrPHyACfAUpSkv8",
          "name": "Local Telegram Bot"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "function safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction asInt(value, fallback = 0) {\n  const n = Number(value);\n  return Number.isFinite(n) ? Math.floor(n) : fallback;\n}\n\nfunction pad3(value) {\n  return String(value).padStart(3, '0');\n}\n\nconst input = $json ?? {};\nconst manifest = input.manifest && typeof input.manifest === 'object' ? input.manifest : {};\nconst scenes = Array.isArray(manifest.scenes) ? [...manifest.scenes] : [];\nscenes.sort((a, b) => asInt(a.order, 0) - asInt(b.order, 0));\n\nconst narrationItems = [];\n\nfor (const scene of scenes) {\n  const sceneOrder = asInt(scene.order, narrationItems.length + 1);\n  const sceneId = safeText(scene.scene_id, 'scene_' + pad3(sceneOrder));\n  narrationItems.push({\n    scene_id: sceneId,\n    order: sceneOrder,\n    scene_title: safeText(scene.scene_title),\n    scene_role: safeText(scene.scene_role),\n    narration_text: safeText(scene.narration_text),\n    image_prompt_en: safeText(scene.image_prompt_en),\n    highlight_quote_vi: safeText(scene.highlight_quote_vi),\n    estimated_duration_sec: safeText(scene.estimated_duration_sec, 'cut'),\n    total_chars: safeText(scene.total_chars, 'cut'),\n    tts_file_name: 'scene_' + pad3(sceneOrder) + '.wav',\n  });\n}\n\nreturn {\n  ...input,\n  narrationItems,\n  narrationTotal: narrationItems.length,\n};"
      },
      "name": "Build Narration Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        2560
      ],
      "id": "d49ae6dc-87bb-40da-bda9-70c3b4309aa9"
    },
    {
      "parameters": {
        "fieldToSplitOut": "narrationItems",
        "options": {}
      },
      "name": "Split Out Narration Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2128,
        2560
      ],
      "id": "82e3dfff-ed84-491f-b008-74b52cf6ea6d"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "name": "Loop Over Narration Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2352,
        2560
      ],
      "id": "88628dea-9ff4-42e4-9508-3b2702aeee04"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2F1jBI12C6NtslBN",
          "mode": "list",
          "cachedResultUrl": "/workflow/2F1jBI12C6NtslBN",
          "cachedResultName": "TTS VieNeu"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $json.narration_text?.slice(0, 10) }}",
            "mode": "fullText",
            "voiceId": "={{ $(\"Config Media\").item.json.ttsVoiceId }}",
            "retry": "={{ $(\"Config Media\").item.json.ttsRetry }}",
            "requestTimeoutSec": "={{ $(\"Config Media\").item.json.ttsRequestTimeoutSec }}",
            "ttsApiBaseUrl": "={{ $json.ttsApiBaseUrl || \"http://127.0.0.1:8001\" }}",
            "crossfadeSeconds": 0,
            "maxCharsChunk": 256,
            "silenceSeconds": 0.15,
            "joinMode": "silence",
            "batchSize": 4
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "requestId",
              "displayName": "requestId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "voiceId",
              "displayName": "voiceId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "maxCharsChunk",
              "displayName": "maxCharsChunk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "batchSize",
              "displayName": "batchSize",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "joinMode",
              "displayName": "joinMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "silenceSeconds",
              "displayName": "silenceSeconds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "crossfadeSeconds",
              "displayName": "crossfadeSeconds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "retry",
              "displayName": "retry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "requestTimeoutSec",
              "displayName": "requestTimeoutSec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "ttsApiBaseUrl",
              "displayName": "ttsApiBaseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "name": "Call TTS VieNeu",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2576,
        2560
      ],
      "id": "affd234d-1d83-407b-887a-d394218235c5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QpcIxaHiYXDqjw4p",
          "mode": "list",
          "cachedResultUrl": "/workflow/QpcIxaHiYXDqjw4p",
          "cachedResultName": "GG Drive Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "upsert",
            "fileName": "={{ $('Loop Over Narration Items').item.json.tts_file_name }}",
            "rootFolderId": "={{ $(\"Config Media\").item.json.rootFolderId }}",
            "folderPath": "={{ $(\"Config Media\").item.json.ttsFolderPath }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "rootFolderId",
              "displayName": "rootFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "folderPath",
              "displayName": "folderPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fileName",
              "displayName": "fileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "binaryFieldName",
              "displayName": "binaryFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "name": "Upload TTS WAV to Drive",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2800,
        2560
      ],
      "id": "51f7476b-8533-4961-9de7-9ea989cd1d7e"
    },
    {
      "parameters": {
        "jsCode": "function safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nconst narrationItem = $('Loop Over Narration Items').item.json || {};\nconst ttsResult = $('Call TTS VieNeu').item.json || {};\nconst uploadResult = $json || {};\n\nconst ttsSuccess = safeText(ttsResult.status) === 'success';\nconst uploadSuccess = safeText(uploadResult.status) === 'success';\nconst ttsUrl = safeText(uploadResult.fileUrl);\n\nlet ttsStatus = 'failed';\nlet ttsErrorReason = '';\n\nif (ttsSuccess && uploadSuccess && ttsUrl) {\n  ttsStatus = 'success';\n} else if (!ttsSuccess) {\n  ttsErrorReason = safeText(ttsResult.errorReason, 'tts_failed');\n} else {\n  ttsErrorReason = safeText(uploadResult.errorMessage || uploadResult.error_reason || uploadResult.status, 'drive_upload_failed');\n}\n\nreturn {\n  scene_id: safeText(narrationItem.scene_id),\n  order: Number(narrationItem.order || 0),\n  tts_url: ttsUrl,\n  tts_status: ttsStatus,\n  tts_error_reason: ttsErrorReason,\n  tts_duration_sec: ttsResult.totalDurationSec\n};"
      },
      "name": "Build TTS Sheet Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3024,
        2632
      ],
      "id": "1d1b9dfb-a8b4-4bf6-8445-483341b4fe59"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map((item) => item.json || {});\n\nconst sorted = rows.sort((a, b) => {\n  const orderDiff = Number(a.order || 0) - Number(b.order || 0);\n  if (orderDiff !== 0) return orderDiff;\n  return String(a.scene_id || '').localeCompare(String(b.scene_id || ''));\n});\n\nconst ttsHeader = ['scene_id', 'tts_url', 'tts_duration_sec' ,'tts_status', 'tts_error_reason'];\nconst ttsDataRows = sorted.map((row) => [\n  String(row.scene_id || ''),\n  String(row.tts_url || ''),\n  row.tts_duration_sec || 0,\n  String(row.tts_status || ''),\n  String(row.tts_error_reason || ''),\n]);\n\nconst successCount = sorted.filter((row) => String(row.tts_status || '') === 'success').length;\nconst failedCount = sorted.length - successCount;\n\nreturn [{\n  json: {\n    rows: [ttsHeader, ...ttsDataRows],\n    ttsRowsTotal: sorted.length,\n    ttsRowsSuccess: successCount,\n    ttsRowsFailed: failedCount,\n  },\n}];"
      },
      "name": "Finalize TTS Sheet Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        2368
      ],
      "id": "6dcaceee-6704-4d3f-8a8e-3d533aac9efa"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Hq9y27aFMsQhEcuB",
          "mode": "list",
          "cachedResultUrl": "/workflow/Hq9y27aFMsQhEcuB",
          "cachedResultName": "DataTableStore"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "upsert",
            "tableName": "={{ $(\"Config Main\").item.json.sessionTableName }}",
            "keyField": "sessionToken",
            "keyValue": "={{ $(\"Get Review Session\").item.json.row.sessionToken }}",
            "data": "={{ ({ ...($(\"Get Review Session\").item.json.row || {}), status: \"reviewPassed\", ttsRowsTotal: Number($(\"Finalize TTS Sheet Rows\").item.json.ttsRowsTotal || 0), ttsRowsSuccess: Number($(\"Finalize TTS Sheet Rows\").item.json.ttsRowsSuccess || 0), ttsRowsFailed: Number($(\"Finalize TTS Sheet Rows\").item.json.ttsRowsFailed || 0) }) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tableName",
              "displayName": "tableName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "keyField",
              "displayName": "keyField",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "keyValue",
              "displayName": "keyValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Update Session Review Passed",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3024,
        2368
      ],
      "id": "4487399a-7019-4afd-900f-f432725076a6"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $(\"Answer Continue Query\").item.json.result.chat.id }}",
        "messageId": "={{ $(\"Answer Continue Query\").item.json.result.message_id }}",
        "text": "=Đã tạo xong TTS.\nRows: {{ $(\"Finalize TTS Sheet Rows\").item.json.ttsRowsTotal }} | Success: {{ $(\"Finalize TTS Sheet Rows\").item.json.ttsRowsSuccess }} | Failed: {{ $(\"Finalize TTS Sheet Rows\").item.json.ttsRowsFailed }}\nMedia Sheet: {{ $json.row.mediaSheetSpreadsheetUrl }}\nFolder: {{ $('Get Review Session').item.json.row.folderUrl }}",
        "additionalFields": {
          "parse_mode": "none"
        }
      },
      "name": "Send Media Done Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3248,
        2368
      ],
      "id": "65e263cd-06b4-4552-9a65-2f321ddbd0a4",
      "webhookId": "f7214349-0bec-4300-a467-91bb615a3838",
      "credentials": {
        "telegramApi": {
          "id": "UkrPHyACfAUpSkv8",
          "name": "Local Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Dhguhje1kdEgdj9I",
          "mode": "list",
          "cachedResultUrl": "/workflow/Dhguhje1kdEgdj9I",
          "cachedResultName": "GG Sheet Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "ensureSheet",
            "spreadsheetName": "={{ $('Build Media Sheet').item.json.mediaSpreadsheetName }}",
            "sheetName": "={{ $('Build Media Sheet').item.json.mediaSheetName }}",
            "folderId": "={{ $('List Media Folder Items').item.json.folderId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "spreadsheetId",
              "displayName": "spreadsheetId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "spreadsheetName",
              "displayName": "spreadsheetName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sheetName",
              "displayName": "sheetName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "folderId",
              "displayName": "folderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "rows",
              "displayName": "rows",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "range",
              "displayName": "range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "valueInputOption",
              "displayName": "valueInputOption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "name": "Ensure Media Sheet",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2128,
        2216
      ],
      "id": "3a60b60a-c57e-4a4e-85a9-bbc9d768d28c"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QpcIxaHiYXDqjw4p",
          "mode": "list",
          "cachedResultUrl": "/workflow/QpcIxaHiYXDqjw4p",
          "cachedResultName": "GG Drive Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "list",
            "rootFolderId": "={{ String($(\"Config Main\").item.json.ggDriveRootFolderId || \"\").trim() }}",
            "folderPath": "={{ String($(\"Prepare Manifest\").item.json.folderPath || \"\").trim() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "rootFolderId",
              "displayName": "rootFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "folderPath",
              "displayName": "folderPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fileName",
              "displayName": "fileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "binaryFieldName",
              "displayName": "binaryFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "name": "List Media Folder Items",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1232,
        2216
      ],
      "id": "4539d8ca-9783-4cc7-9c91-3ef48ba6a743"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3ee942dc-6ae6-46aa-a177-96f9ae5b8c1a",
              "leftValue": "={{ $json.hasExistingMediaSheet === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If Existing Media Sheet?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1680,
        2216
      ],
      "id": "be930269-fa74-47e4-937d-e3c9ab226f24"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QpcIxaHiYXDqjw4p",
          "mode": "list",
          "cachedResultUrl": "/workflow/QpcIxaHiYXDqjw4p",
          "cachedResultName": "GG Drive Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "delete",
            "url": "={{ $json.existingMediaSheetUrl }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "rootFolderId",
              "displayName": "rootFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "folderPath",
              "displayName": "folderPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "fileName",
              "displayName": "fileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "binaryFieldName",
              "displayName": "binaryFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "name": "Delete Existing Media Sheet",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1904,
        2144
      ],
      "id": "7ae15eee-5961-4818-a05f-f068eebf7e7d"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Dhguhje1kdEgdj9I",
          "mode": "list",
          "cachedResultUrl": "/workflow/Dhguhje1kdEgdj9I",
          "cachedResultName": "GG Sheet Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "upsertRows",
            "spreadsheetId": "={{ String($(\"Ensure Media Sheet\").item.json.spreadsheetId || \"\").trim() }}",
            "sheetName": "={{ $('Build Media Sheet').item.json.mediaSheetName }}",
            "range": "={{ $(\"Build Media Sheet\").item.json.mediaSheetName + \"!A1\" }}",
            "rows": "={{ $('Build Media Sheet').item.json.mediaSheetRows }}",
            "valueInputOption": "RAW"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "spreadsheetId",
              "displayName": "spreadsheetId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "spreadsheetName",
              "displayName": "spreadsheetName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sheetName",
              "displayName": "sheetName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "folderId",
              "displayName": "folderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "rows",
              "displayName": "rows",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "range",
              "displayName": "range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "valueInputOption",
              "displayName": "valueInputOption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "name": "Write Initial Media Sheet Rows",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2352,
        2216
      ],
      "id": "d9ca8d07-879d-4710-bdbf-621e1e8c3604"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Dhguhje1kdEgdj9I",
          "mode": "list",
          "cachedResultUrl": "/workflow/Dhguhje1kdEgdj9I",
          "cachedResultName": "GG Sheet Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "upsertRows",
            "spreadsheetId": "={{ String($(\"Config Media\").item.json.ttsSheetSpreadsheetId || \"\").trim() }}",
            "sheetName": "={{ $('Config Main').item.json.mediaSpreadsheetName }}",
            "range": "",
            "rows": "={{ $(\"Finalize TTS Sheet Rows\").item.json.rows }}",
            "valueInputOption": "RAW",
            "spreadsheetName": "={{ $('Config Main').item.json.mediaSpreadsheetName }}",
            "upsertByHeader": "scene_id"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "spreadsheetId",
              "displayName": "spreadsheetId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "spreadsheetName",
              "displayName": "spreadsheetName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sheetName",
              "displayName": "sheetName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "folderId",
              "displayName": "folderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "rows",
              "displayName": "rows",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "range",
              "displayName": "range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "upsertByHeader",
              "displayName": "upsertByHeader",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "valueInputOption",
              "displayName": "valueInputOption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Update TTS Rows in Sheet",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2800,
        2368
      ],
      "id": "7012c602-b9dc-4437-b681-44b3997e3110"
    },
    {
      "parameters": {
        "jsCode": "function safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nconst items = Array.isArray($json.items) ? $json.items : [];\nconst targetName = safeText($('Config Main').first().json.mediaSpreadsheetName);\n\nconst found = items.find((item) => {\n  if (!item || typeof item !== 'object') return false;\n  if (item.isFolder === true) return false;\n  return safeText(item.name) === targetName;\n});\n\nfunction asInt(value, fallback = 0) {\n  const n = Number(value);\n  return Number.isFinite(n) ? Math.floor(n) : fallback;\n}\n\nconst manifest = $('Prepare Manifest').first().json.manifest || {};\nconst mediaSpreadsheetName = safeText($('Config Main').first().json.mediaSpreadsheetName, 'Media');\n\nconst scenes = Array.isArray(manifest.scenes) ? [...manifest.scenes] : [];\nscenes.sort((a, b) => asInt(a.order) - asInt(b.order));\n\nconst header = [\n  'scene_id',\n  'order',\n  'scene_title',\n  'scene_role',\n  'narration_text',\n  'image_prompt_en',\n  'highlight_quote_vi',\n  'estimated_duration_sec',\n];\n\nconst dataRows = scenes.map((scene) => [\n  safeText(scene.scene_id),\n  asInt(scene.order, 0),\n  safeText(scene.scene_title),\n  safeText(scene.scene_role),\n  safeText(scene.narration_text),\n  safeText(scene.image_prompt_en),\n  safeText(scene.highlight_quote_vi),\n  asInt(scene.estimated_duration_sec, 0),\n]);\n\nconst mediaSheetRows = [header, ...dataRows];\n\nreturn {\n  hasExistingMediaSheet: Boolean(found),\n  existingMediaSheetUrl: safeText(found?.url),\n  mediaSpreadsheetName: mediaSpreadsheetName,\n  mediaSheetName: mediaSpreadsheetName,\n  mediaSheetRows,\n};"
      },
      "name": "Build Media Sheet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        2216
      ],
      "id": "212fd91f-e572-4eee-943a-451673fd1691"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2576,
        2008
      ],
      "id": "1f3657ff-becf-41d1-a014-819af6671fb0",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"book\": {\n    \"title\": \"string\",\n    \"author\": \"string\",\n    \"style_keywords\": [\"string\"]\n  },\n  \"video\": {\n    \"aspect_ratio\": \"16:9\",\n    \"target_duration_min_sec\": 900,\n    \"target_duration_max_sec\": 1200,\n    \"estimated_total_duration_sec\": 0\n  },\n  \"metadata\": {\n    \"title\": \"string\",\n    \"caption\": \"string\",\n    \"thumbnail_text\": \"string\",\n    \"hashtags\": [\"#tag\"]\n  },\n  \"scenes\": [\n    {\n      \"scene_id\": \"scene_01\",\n      \"order\": 1,\n      \"scene_title\": \"string\",\n      \"scene_role\": \"hook|core|outro\",\n      \"narration_text\": \"string\",\n      \"image_prompt_en\": \"string\",\n      \"highlight_quote_vi\": \"string\",\n      \"estimated_duration_sec\": 0\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        440,
        2084
      ],
      "id": "6ba7bf20-26b1-4c90-836a-89be70bea31e",
      "name": "Structured Manifest Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "cx/gpt-5.4",
          "mode": "list",
          "cachedResultName": "cx/gpt-5.4"
        },
        "responsesApiEnabled": false,
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        312,
        2084
      ],
      "id": "bde55eb2-13aa-443f-bef6-ab0d2913ea20",
      "name": "OpenAI Model",
      "credentials": {
        "openAiApi": {
          "id": "nmpOof7gCtDCf1BD",
          "name": "Local OpenAI Proxy"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "cx/gpt-5.4",
          "mode": "list",
          "cachedResultName": "cx/gpt-5.4"
        },
        "responsesApiEnabled": false,
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        664,
        2232
      ],
      "id": "dd8cbcac-5483-4382-b7f6-e13b5720f7dd",
      "name": "QC Model",
      "credentials": {
        "openAiApi": {
          "id": "nmpOof7gCtDCf1BD",
          "name": "Local OpenAI Proxy"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "cx/gpt-5.4",
          "mode": "list",
          "cachedResultName": "cx/gpt-5.4"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -496,
        1904
      ],
      "id": "0c8805e5-fd0a-4ad0-8db8-87feb2bf2283",
      "name": "OpenAI Model1",
      "credentials": {
        "openAiApi": {
          "id": "nmpOof7gCtDCf1BD",
          "name": "Local OpenAI Proxy"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {
          "maxOutputTokens": 65000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        2084
      ],
      "id": "34ec3081-2c22-4c25-b28f-274b3a76a0ce",
      "name": "Google Gemini 3 Flash Lite",
      "credentials": {
        "googlePalmApi": {
          "id": "fsyqoTYuk0ELrsZp",
          "name": "Google Gemini Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Config Main').item.json.chatInput }}\n<<<OUTLINE_JSON>>>\n{{ JSON.stringify($json.output) }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "={{ $('Config Main').item.json.masterPrompt }}\nPROMPT SCENE EXPAND: THE SCRIPTWRITER (V4)\n\nROLE:\n- Bạn là người viết kịch bản kể chuyện cho video review sách dài.\n\nTASK:\n- Mở rộng dàn ý thành một review_manifest sẵn sàng sản xuất.\n\nHARD CONSTRAINTS:\n- Output phải là 1 JSON object hợp lệ (RFC8259), không markdown, không code fence, không text ngoài JSON.\n- Giữ đúng số lượng cảnh từ dàn ý.\n- Tổng narration_text: 15.000 - 20.000 ký tự tiếng Việt.\n- Hook/Outro: 45-75 giây mỗi cảnh.\n- Core scenes: 75-120 giây mỗi cảnh, tối thiểu 45 giây.\n- scene_01 là hook, scene cuối là outro.\n- scene_title phải mạnh và rõ nghĩa, nêu bật ý nghĩa muốn truyền tải.\n- image_prompt_en: viết bằng tiếng Anh và không để trống.\n- highlight_quote_vi: tùy chọn, không có thì để chuỗi rỗng.\n- metadata.title: Phải chứa một \"Mâu thuẫn\" (Tension) hoặc một \"Câu hỏi tử huyệt\" chạm đến nỗi đau/khao khát của con người hiện đại. TRÁNH: \"Review sách: [Tên sách]\". NÊN \"Tại sao bạn vẫn mãi thất bại dù đã cố gắng?\".\n- metadata.caption: Dưới 150 chữ, tiếng Việt. Cấu trúc: 1 Câu hỏi khơi gợi nỗi đau (Emotional Hook) + 1 Giá trị cốt lõi từ sách + 1 Lời hứa về sự thay đổi (Practical Takeaway).\n- metadata.thumbnail_text: Cực ngắn (dưới 6 từ), clear và curiosity-driven. Phải là một lời cảnh báo hoặc một lời mời gọi mang tính quyết định, không lặp lại Title.\n- metadata.hashtags: 5-7 tags, viết thường, không dấu. Bao gồm tên sách, tên tác giả, ngách nội dung (self-help, triết lý).\n\nANTI-RIGID CONSTRAINTS:\n- Tuyệt đối không dùng các mẫu câu lặp đi lặp lại giữa các cảnh.\n- Không biến narration thành danh sách liệt kê tóm tắt.\n- Giữ sự cân bằng giữa chiều sâu cảm xúc và tính ứng dụng thực tế.\n\nREQUIRED OUTPUT SCHEMA (EXACT KEYS):\n{\n  \"book\": {\n    \"title\": \"string\",\n    \"author\": \"string\",\n    \"style_keywords\": [\"string\"],\n  },\n  \"video\": {\n    \"aspect_ratio\": \"16:9\",\n    \"target_duration_min_sec\": 900,\n    \"target_duration_max_sec\": 1200,\n    \"estimated_total_duration_sec\": 0,\n  },\n  \"metadata\": {\n    \"title\": \"string\",\n    \"caption\": \"string\",\n    \"thumbnail_text\": \"string\",\n    \"hashtags\": [\"#tag\"],\n  },\n  \"scenes\": [\n    {\n      \"scene_id\": \"scene_01\",\n      \"order\": 1,\n      \"scene_title\": \"string\",\n      \"scene_role\": \"hook|core|outro\",\n      \"narration_text\": \"string\",\n      \"image_prompt_en\": \"string\",\n      \"highlight_quote_vi\": \"string\",\n      \"estimated_duration_sec\": 0,\n    }\n  ],\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -128,
        1860
      ],
      "id": "0acbd876-216b-4c4c-929e-6af2c9752f74",
      "name": "Manifest AI Agent1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "disabled": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"book\": {\n    \"title\": \"string\",\n    \"author\": \"string\",\n    \"style_keywords\": [\"string\"]\n  },\n  \"video\": {\n    \"aspect_ratio\": \"16:9\",\n    \"target_duration_min_sec\": 900,\n    \"target_duration_max_sec\": 1200,\n    \"estimated_total_duration_sec\": 0\n  },\n  \"metadata\": {\n    \"title\": \"string\",\n    \"caption\": \"string\",\n    \"thumbnail_text\": \"string\",\n    \"hashtags\": [\"#tag\"]\n  },\n  \"scenes\": [\n    {\n      \"scene_id\": \"scene_01\",\n      \"order\": 1,\n      \"scene_title\": \"string\",\n      \"scene_role\": \"hook|core|outro\",\n      \"narration_text\": \"string\",\n      \"image_prompt_en\": \"string\",\n      \"highlight_quote_vi\": \"string\",\n      \"estimated_duration_sec\": 0\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        96,
        2084
      ],
      "id": "6f1878c2-94f6-45a5-8881-86b943c6e52d",
      "name": "Structured Manifest Output Parser1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {
          "maxOutputTokens": 65000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -624,
        1904
      ],
      "id": "ca2a8ccd-5498-4dd4-b34a-3ee4da712ed1",
      "name": "Google Gemini 3 Flash Lite1",
      "credentials": {
        "googlePalmApi": {
          "id": "fsyqoTYuk0ELrsZp",
          "name": "Google Gemini Api account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "cx/gpt-5.4",
          "mode": "list",
          "cachedResultName": "cx/gpt-5.4"
        },
        "responsesApiEnabled": false,
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -32,
        2084
      ],
      "id": "d588fd77-1d3a-4397-a02e-9d515653374c",
      "name": "OpenAI Model2",
      "credentials": {
        "openAiApi": {
          "id": "nmpOof7gCtDCf1BD",
          "name": "Local OpenAI Proxy"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Parse Callback Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Request": {
      "main": [
        [
          {
            "node": "Send Creating Outline Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Creating Outline Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete A Chat Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Review Session",
            "type": "main",
            "index": 0
          },
          {
            "node": "Answer Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove button",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Review Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove button",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QC AI Agent": {
      "main": [
        [
          {
            "node": "Prepare Manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outline AI Agent": {
      "main": [
        [
          {
            "node": "Send Creating Manifest Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Manifest AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Callback Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Main": {
      "main": [
        [
          {
            "node": "Route Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Creating Outline Message": {
      "main": [
        [
          {
            "node": "Outline AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Outline Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Outline AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ],
      "main": []
    },
    "Structured QC Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "QC AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ],
      "main": []
    },
    "Prepare Manifest": {
      "main": [
        [
          {
            "node": "Convert Manifest to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert Content Readable to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "List Media Folder Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Manifest to File": {
      "main": [
        [
          {
            "node": "Save Manifest to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Manifest to Drive": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manifest AI Agent": {
      "main": [
        [
          {
            "node": "Send QC Reviewing Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "QC AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Content Readable to File": {
      "main": [
        [
          {
            "node": "Save Content Readable to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Content Readable to Drive": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parse Callback Data": {
      "main": [
        [
          {
            "node": "Config Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Reviewing Session": {
      "main": [
        [
          {
            "node": "Delete Loading Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Review Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Review Session": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Manifest from Drive": {
      "main": [
        [
          {
            "node": "Extract Manifest JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Manifest JSON": {
      "main": [
        [
          {
            "node": "If Load Manifest Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Answer Noop Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Continue Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Continue Query": {
      "main": [
        [
          {
            "node": "Update Session Continue Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Load Manifest Success": {
      "main": [
        [
          {
            "node": "Answer Start Media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert Answer Load Manifest Fail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Answer Load Manifest Fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Start Media": {
      "main": [
        [
          {
            "node": "Config Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Session Continue Review": {
      "main": [
        [
          {
            "node": "Get Manifest from Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Folder": {
      "main": [
        [
          {
            "node": "Delete Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Media": {
      "main": [
        [
          {
            "node": "Build Narration Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Narration Queue": {
      "main": [
        [
          {
            "node": "Split Out Narration Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Narration Items": {
      "main": [
        [
          {
            "node": "Loop Over Narration Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Narration Items": {
      "main": [
        [
          {
            "node": "Finalize TTS Sheet Rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call TTS VieNeu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call TTS VieNeu": {
      "main": [
        [
          {
            "node": "Upload TTS WAV to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload TTS WAV to Drive": {
      "main": [
        [
          {
            "node": "Build TTS Sheet Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build TTS Sheet Row": {
      "main": [
        [
          {
            "node": "Loop Over Narration Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize TTS Sheet Rows": {
      "main": [
        [
          {
            "node": "Update TTS Rows in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Session Review Passed": {
      "main": [
        [
          {
            "node": "Send Media Done Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Media Sheet": {
      "main": [
        [
          {
            "node": "Write Initial Media Sheet Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Media Folder Items": {
      "main": [
        [
          {
            "node": "Build Media Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Existing Media Sheet?": {
      "main": [
        [
          {
            "node": "Delete Existing Media Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ensure Media Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Existing Media Sheet": {
      "main": [
        [
          {
            "node": "Ensure Media Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Initial Media Sheet Rows": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Update TTS Rows in Sheet": {
      "main": [
        [
          {
            "node": "Update Session Review Passed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Media Sheet": {
      "main": [
        [
          {
            "node": "If Existing Media Sheet?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Save Reviewing Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Manifest Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Manifest AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ],
      "main": []
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Manifest AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ],
      "main": []
    },
    "QC Model": {
      "ai_languageModel": [
        [
          {
            "node": "QC AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Manifest Model": {
      "ai_languageModel": [
        [
          {
            "node": "Manifest AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Outline AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini 3 Flash Lite": {
      "ai_languageModel": [
        [
          {
            "node": "Manifest AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Manifest Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Manifest AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Manifest AI Agent1": {
      "main": [
        [
          {
            "node": "Manifest AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini 3 Flash Lite1": {
      "ai_languageModel": [
        [
          {
            "node": "Outline AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Manifest AI Agent1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
