workflows/book-review/book-review-gemini.workflow.json
{
  "name": "Book Review Gemini via CLIProxyAPI",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "1",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -784,
        -248
      ],
      "webhookId": "e74424e7-c309-433b-8867-9145853dc4d1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2-1",
              "name": "model",
              "value": "gpt-5",
              "type": "string"
            },
            {
              "id": "2-2",
              "name": "cliproxy_base_url",
              "value": "__CLIPROXY_BASE_URL__",
              "type": "string"
            },
            {
              "id": "2-3",
              "name": "cliproxy_client_key",
              "value": "__CLIPROXY_CLIENT_KEY__",
              "type": "string"
            },
            {
              "id": "2-4",
              "name": "max_turns",
              "value": 8,
              "type": "number"
            },
            {
              "id": "2-5",
              "name": "user_input",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "2-6",
              "name": "fallback_model",
              "value": "gpt-5",
              "type": "string"
            },
            {
              "id": "2-7",
              "name": "master_prompt_template",
              "value": "__BOOK_REVIEW_MASTER_PROMPT__",
              "type": "string"
            },
            {
              "id": "2-8",
              "name": "openai_model",
              "value": "gpt-5",
              "type": "string"
            },
            {
              "id": "2-9",
              "name": "qc_score_warning_threshold",
              "value": 7,
              "type": "number"
            },
            {
              "id": "2-10",
              "name": "reviewer_wait_timeout_seconds",
              "value": 900,
              "type": "number"
            },
            {
              "id": "2-11",
              "name": "session_store_name",
              "value": "book_review_sessions",
              "type": "string"
            },
            {
              "id": "2-13",
              "name": "n8n_api_url",
              "value": "__N8N_API_URL__",
              "type": "string"
            },
            {
              "id": "2-14",
              "name": "n8n_api_key",
              "value": "__N8N_API_KEY__",
              "type": "string"
            },
            {
              "id": "2-15",
              "name": "shared_notification_workflow_path",
              "value": "__SHARED_NOTIFICATION_WORKFLOW_PATH__",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Set Config (Main)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        -152
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json ?? {};\n\nconst primaryModel = String(input.model ?? 'gpt-5').trim();\nconst fallbackModel = String(input.fallback_model ?? 'gpt-5').trim();\nconst model = primaryModel || 'gpt-5';\nconst cliproxyBaseUrl = String(input.cliproxy_base_url ?? '').replace(/\\/$/, '');\nconst cliproxyClientKey = String(input.cliproxy_client_key ?? '');\nconst openaiModel = String(input.openai_model ?? 'gpt-5').trim() || 'gpt-5';\nconst scoreThresholdRaw = Number(input.qc_score_warning_threshold ?? 7);\nconst qcScoreWarningThreshold = Number.isFinite(scoreThresholdRaw)\n  ? Math.min(10, Math.max(0, Math.floor(scoreThresholdRaw)))\n  : 7;\nconst reviewerWaitTimeoutSecondsRaw = Number(input.reviewer_wait_timeout_seconds ?? 900);\nconst reviewerWaitTimeoutSeconds = Number.isFinite(reviewerWaitTimeoutSecondsRaw) && reviewerWaitTimeoutSecondsRaw > 10\n  ? Math.floor(reviewerWaitTimeoutSecondsRaw)\n  : 900;\nconst userInput = String(input.user_input ?? '').trim();\nconst masterPromptTemplate = String(input.master_prompt_template ?? '').trim();\nconst maxTurnsRaw = Number(input.max_turns ?? 8);\nconst maxTurns = Number.isFinite(maxTurnsRaw) && maxTurnsRaw > 0\n  ? Math.floor(maxTurnsRaw)\n  : 8;\nconst requestHelper =\n  helpers?.httpRequest ??\n  (typeof $helpers !== 'undefined' ? $helpers?.httpRequest : undefined);\n\nfunction baseOutput(overrides = {}) {\n  return {\n    ...input,\n    message: '',\n    full_review: '',\n    turn_count: 0,\n    stop_reason: 'completed',\n    model,\n    fallback_model: fallbackModel || null,\n    fallback_used: false,\n    user_input: userInput,\n    cliproxy_base_url: cliproxyBaseUrl,\n    cliproxy_client_key: cliproxyClientKey,\n    openai_model: openaiModel,\n    qc_score_warning_threshold: qcScoreWarningThreshold,\n    reviewer_wait_timeout_seconds: reviewerWaitTimeoutSeconds,\n    ...overrides,\n  };\n}\n\nfunction detectControlTag(value) {\n  const text = String(value ?? '').replace(/\\r\\n/g, '\\n');\n  const lines = text.split('\\n');\n\n  let cursor = 0;\n  let foundTag = null;\n\n  for (const line of lines) {\n    const markerMatch = line.match(/^\\s*-\\s*(CONTINUE|END)\\s*-\\s*$/i);\n    if (markerMatch) {\n      const markerOffset = line.search(/-/);\n      const markerStart = cursor + (markerOffset >= 0 ? markerOffset : 0);\n      const markerEnd = cursor + line.length;\n      foundTag = {\n        type: markerMatch[1].toLowerCase(),\n        start: markerStart,\n        end: markerEnd,\n      };\n    }\n\n    cursor += line.length + 1;\n  }\n\n  return foundTag;\n}\n\nfunction stripControlTag(value, controlTag, options = {}) {\n  const text = String(value ?? '').replace(/\\r\\n/g, '\\n').trimEnd();\n  if (!controlTag) {\n    return text;\n  }\n\n  if (controlTag.type === 'end' && options.keepEndTag === true) {\n    return text.slice(0, controlTag.end).trimEnd();\n  }\n\n  return text.slice(0, controlTag.start).trimEnd();\n}\n\nfunction shouldFallbackForCapacity(errorMessage) {\n  const text = String(errorMessage ?? '');\n  return /429|RESOURCE_EXHAUSTED|MODEL_CAPACITY_EXHAUSTED|No capacity available|cooling down/i.test(text);\n}\n\nfunction buildMasterPrompt(template, bookInput) {\n  return String(template ?? '').replaceAll('{{USER_INPUT}}', String(bookInput ?? ''));\n}\n\nif (!userInput) {\n  return [{\n    json: baseOutput({\n      message: 'Vui lòng nhập tên sách và tác giả trong chat. Ví dụ: Sách Nhà Giả Kim của tác giả Paulo Coelho.',\n    }),\n  }];\n}\n\nif (!cliproxyBaseUrl || !cliproxyClientKey) {\n  return [{\n    json: baseOutput({\n      message: 'Thiếu cấu hình CLIProxy (base URL hoặc client key).',\n      stop_reason: 'api_error',\n    }),\n  }];\n}\n\nif (!masterPromptTemplate) {\n  return [{\n    json: baseOutput({\n      message: 'Thiếu master prompt template (field `master_prompt_template`).',\n      stop_reason: 'api_error',\n    }),\n  }];\n}\n\nif (typeof requestHelper !== 'function') {\n  return [{\n    json: baseOutput({\n      message: 'Thiếu helper HTTP trong Code node runtime (cần `helpers.httpRequest`).',\n      stop_reason: 'api_error',\n    }),\n  }];\n}\n\nconst masterPrompt = buildMasterPrompt(masterPromptTemplate, userInput);\nconst messages = [{ role: 'user', content: masterPrompt }];\nconst chunks = [];\n\nlet stopReason = 'completed';\nlet apiError = '';\nlet turnCount = 0;\nlet activeModel = model;\nlet fallbackUsed = false;\n\nfor (let turn = 1; turn <= maxTurns; turn += 1) {\n  try {\n    const candidateModels =\n      activeModel === primaryModel &&\n      fallbackModel &&\n      fallbackModel !== primaryModel\n        ? [primaryModel, fallbackModel]\n        : [activeModel];\n\n    let response;\n    let lastError;\n    for (let idx = 0; idx < candidateModels.length; idx += 1) {\n      const candidateModel = candidateModels[idx];\n      try {\n        response = await requestHelper({\n          method: 'POST',\n          url: cliproxyBaseUrl + '/v1/chat/completions',\n          headers: {\n            Authorization: 'Bearer ' + cliproxyClientKey,\n          },\n          body: {\n            model: candidateModel,\n            messages,\n            stream: false,\n          },\n          json: true,\n          timeout: 240000,\n        });\n        if (candidateModel !== activeModel) {\n          fallbackUsed = true;\n        }\n        activeModel = candidateModel;\n        break;\n      } catch (error) {\n        lastError = error;\n        const errorText = error?.message ? String(error.message) : String(error);\n        const canTryFallback =\n          candidateModel === primaryModel &&\n          fallbackModel &&\n          fallbackModel !== primaryModel &&\n          shouldFallbackForCapacity(errorText);\n        if (canTryFallback) {\n          continue;\n        }\n        throw error;\n      }\n    }\n\n    if (!response) {\n      throw (lastError ?? new Error('Không nhận được response từ model.'));\n    }\n\n    turnCount = turn;\n\n    const chunk = String(response?.choices?.[0]?.message?.content ?? '').trim();\n    if (!chunk) {\n      break;\n    }\n\n    const controlTag = detectControlTag(chunk);\n    chunks.push({\n      content: chunk,\n      controlTag,\n    });\n    messages.push({ role: 'assistant', content: chunk });\n\n    if (controlTag?.type === 'continue') {\n      if (turn >= maxTurns) {\n        stopReason = 'max_turns';\n        break;\n      }\n\n      messages.push({ role: 'user', content: 'Continue' });\n      continue;\n    }\n\n    if (controlTag?.type === 'end') {\n      break;\n    }\n\n    break;\n  } catch (error) {\n    stopReason = 'api_error';\n    apiError = error?.message ? String(error.message) : String(error);\n    break;\n  }\n}\n\nconst mergedChunks = chunks\n  .map((chunk, index) => {\n    const isLast = index === chunks.length - 1;\n    const keepEndTag = isLast && chunk.controlTag?.type === 'end';\n    return stripControlTag(chunk.content, chunk.controlTag, { keepEndTag });\n  })\n  .filter((chunk) => chunk !== '');\n\nconst fullReview = mergedChunks.join('\\n\\n').trim();\nlet message = fullReview;\n\nif (stopReason === 'max_turns') {\n  const note = '[Lưu ý: Đã đạt giới hạn ' + maxTurns + ' lượt gọi \"Continue\".]';\n  message = fullReview ? fullReview + '\\n\\n' + note : note;\n} else if (stopReason === 'api_error') {\n  const note = apiError\n    ? '[Lỗi gọi model (' + activeModel + '): ' + apiError + ']'\n    : '[Lỗi gọi model: Không rõ nguyên nhân.]';\n  message = fullReview ? fullReview + '\\n\\n' + note : note;\n}\n\nif (!message) {\n  message = 'Không nhận được nội dung từ model.';\n}\n\nreturn [{\n  json: baseOutput({\n    message,\n    full_review: fullReview,\n    turn_count: turnCount,\n    stop_reason: stopReason,\n    model: activeModel,\n    fallback_used: fallbackUsed,\n  }),\n}];\n\n"
      },
      "id": "3",
      "name": "Generate Full Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        -152
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction normalizeText(value) {\n  return String(value ?? '').replace(/\\r\\n/g, '\\n').trim();\n}\n\nfunction detectTrailingControlTag(text) {\n  const match = text.match(/(?:^|\\n)\\s*-\\s*(CONTINUE|END)\\s*-\\s*$/i);\n  if (!match) {\n    return null;\n  }\n\n  const start = typeof match.index === 'number' ? match.index : text.length - match[0].length;\n  return {\n    type: match[1].toLowerCase(),\n    start,\n    end: start + match[0].length,\n  };\n}\n\nfunction buildFileName(order, id) {\n  const orderLabel = String(order).padStart(2, '0');\n  const safeId = String(id || 'section')\n    .trim()\n    .toLowerCase()\n    .replace(/[^a-z0-9_]+/g, '_')\n    .replace(/^_+|_+$/g, '') || 'section';\n  return orderLabel + '_' + safeId + '.txt';\n}\n\nconst rawReview = normalizeText(input.full_review ?? input.message ?? '');\nconst trailingTag = detectTrailingControlTag(rawReview);\nconst reviewBody = trailingTag ? rawReview.slice(0, trailingTag.start).trimEnd() : rawReview;\n\nconst sectionRegex = /<<<SECTION\\|([^|\\n>]+)\\|([^\\n>]+)>>>\\s*([\\s\\S]*?)\\s*<<<END_SECTION>>>/g;\nconst sections = [];\nlet match;\n\nwhile ((match = sectionRegex.exec(reviewBody)) !== null) {\n  const id = String(match[1] ?? '').trim();\n  const title = String(match[2] ?? '').trim();\n  const content = String(match[3] ?? '').trim();\n  const order = sections.length + 1;\n\n  sections.push({\n    order,\n    id,\n    title,\n    content,\n    file_name: buildFileName(order, id),\n  });\n}\n\nlet parseStatus = 'parsed';\nlet parserWarning = '';\n\nif (!reviewBody) {\n  parseStatus = 'empty';\n  parserWarning = 'No review content to parse.';\n} else if (sections.length === 0) {\n  parseStatus = 'fallback_single_section';\n  parserWarning = 'Cannot find SECTION markers. Returned full review as one section.';\n  sections.push({\n    order: 1,\n    id: 'full_review',\n    title: 'Full Review',\n    content: reviewBody,\n    file_name: '01_full_review.txt',\n  });\n}\n\nconst introSection = sections.find((section) => section.id === 'intro') ?? null;\nconst outroSection = sections.find((section) => section.id === 'outro') ?? null;\nconst partSections = sections.filter((section) => /^part_\\d{2}$/i.test(section.id));\n\nreturn {\n  ...input,\n  review_sections: sections,\n  review_intro: introSection?.content ?? '',\n  review_parts: partSections,\n  review_outro: outroSection?.content ?? '',\n  review_sections_count: sections.length,\n  review_control_tag: trailingTag?.type ?? null,\n  review_parse_status: parseStatus,\n  review_parser_warning: parserWarning || null,\n};\n\n"
      },
      "id": "4",
      "name": "Parse Review Sections",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -152
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5-1",
              "name": "notify_targets",
              "value": "__NOTIFY_TARGETS__",
              "type": "string"
            },
            {
              "id": "5-2",
              "name": "telegram_chat_id",
              "value": "__TELEGRAM_CHAT_ID__",
              "type": "string"
            },
            {
              "id": "5-3",
              "name": "ggchat_webhook_url",
              "value": "__GG_CHAT_WEBHOOK__",
              "type": "string"
            },
            {
              "id": "5-4",
              "name": "telegram_bot_token",
              "value": "__TELEGRAM_BOT_TOKEN__",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "5",
      "name": "Set Notify Targets (Main)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        -224
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nconst requestHelper =\n  helpers?.httpRequest ??\n  (typeof $helpers !== 'undefined' ? $helpers?.httpRequest : undefined);\n\nconst n8nApiUrl = String(input.n8n_api_url ?? '').replace(/\\/$/, '');\nconst n8nApiKey = String(input.n8n_api_key ?? '').trim();\nconst sessionStoreName = String(input.session_store_name ?? 'book_review_sessions').trim() || 'book_review_sessions';\nconst reviewerTimeoutRaw = Number(input.reviewer_wait_timeout_seconds ?? 900);\nconst reviewerTimeoutSeconds = Number.isFinite(reviewerTimeoutRaw) && reviewerTimeoutRaw > 30\n  ? Math.floor(reviewerTimeoutRaw)\n  : 900;\n\nconst REQUIRED_COLUMNS = [\n  { name: 'session_token', type: 'string' },\n  { name: 'stage', type: 'string' },\n  { name: 'deadline_at', type: 'string' },\n  { name: 'awaiting_instruction', type: 'string' },\n  { name: 'user_input', type: 'string' },\n  { name: 'full_review', type: 'string' },\n  { name: 'review_intro', type: 'string' },\n  { name: 'review_outro', type: 'string' },\n  { name: 'qc_json', type: 'string' },\n  { name: 'metadata_json', type: 'string' },\n  { name: 'review_round', type: 'number' },\n  { name: 'metadata_round', type: 'number' },\n  { name: 'commands_json', type: 'string' },\n  { name: 'stop_reason', type: 'string' },\n  { name: 'updated_at', type: 'string' },\n  { name: 'payload_json', type: 'string' },\n];\n\nfunction createToken() {\n  return Date.now().toString(36) + Math.random().toString(36).slice(2, 10);\n}\n\nfunction toIsoDate(value) {\n  const date = value instanceof Date ? value : new Date(value);\n  if (Number.isNaN(date.getTime())) return '';\n  return date.toISOString();\n}\n\nfunction safeJsonStringify(value, fallback = '{}') {\n  try {\n    return JSON.stringify(value);\n  } catch (_) {\n    return fallback;\n  }\n}\n\nasync function apiRequest(method, path, options = {}) {\n  if (typeof requestHelper !== 'function') {\n    throw new Error('Missing HTTP helper in Code node runtime.');\n  }\n  if (!n8nApiUrl || !n8nApiKey) {\n    throw new Error('Missing n8n API URL or API key in workflow config.');\n  }\n\n  return await requestHelper({\n    method,\n    url: n8nApiUrl + path,\n    headers: {\n      'X-N8N-API-KEY': n8nApiKey,\n    },\n    qs: options.qs,\n    body: options.body,\n    json: true,\n    timeout: 60000,\n  });\n}\n\nasync function ensureDataTable() {\n  const list = await apiRequest('GET', '/api/v1/data-tables', {\n    qs: {\n      limit: 200,\n    },\n  });\n\n  const tables = Array.isArray(list?.data) ? list.data : [];\n  const existing = tables.find((table) => String(table?.name ?? '') === sessionStoreName);\n  if (existing?.id) {\n    return String(existing.id);\n  }\n\n  const created = await apiRequest('POST', '/api/v1/data-tables', {\n    body: {\n      name: sessionStoreName,\n      columns: REQUIRED_COLUMNS,\n    },\n  });\n\n  const id = String(created?.id ?? '').trim();\n  if (!id) {\n    throw new Error('Failed to create session data table.');\n  }\n\n  return id;\n}\n\nasync function upsertSession(tableId, rowData) {\n  await apiRequest('POST', '/api/v1/data-tables/' + tableId + '/rows/upsert', {\n    body: {\n      filter: {\n        type: 'and',\n        filters: [\n          {\n            columnName: 'session_token',\n            condition: 'eq',\n            value: rowData.session_token,\n          },\n        ],\n      },\n      data: rowData,\n      returnData: false,\n    },\n  });\n}\n\nconst userInput = String(input.user_input ?? '').trim();\nconst fullReview = String(input.full_review ?? input.message ?? '').trim();\nconst reviewIntro = String(input.review_intro ?? '').trim();\nconst reviewOutro = String(input.review_outro ?? '').trim();\nconst upstreamStopReason = String(input.stop_reason ?? '').trim();\nconst normalizedUpstreamStopReason = upstreamStopReason && upstreamStopReason !== 'completed' ? upstreamStopReason : '';\nconst upstreamMessage = String(input.message ?? '').trim();\n\nif (!userInput) {\n  return {\n    ...input,\n    session_token: '',\n    reviewer_stage: 'failed',\n    stop_reason: 'invalid_input',\n    message_ack: 'Thiếu user_input nên chưa thể tạo reviewer session.',\n    message: 'Thiếu user_input nên chưa thể tạo reviewer session.',\n  };\n}\n\nif (!fullReview) {\n  const finalStopReason = normalizedUpstreamStopReason || 'review_empty';\n  const noReviewAck = normalizedUpstreamStopReason\n    ? [\n        'Không thể bắt đầu reviewer vì bước tạo review chưa hoàn tất.',\n        'stop_reason=' + finalStopReason,\n        upstreamMessage ? 'detail=' + upstreamMessage.slice(0, 350) : null,\n      ].filter(Boolean).join('\\n')\n    : 'Không có nội dung review để chuyển sang reviewer.';\n\n  return {\n    ...input,\n    session_token: '',\n    reviewer_stage: 'failed',\n    stop_reason: finalStopReason,\n    message_ack: noReviewAck,\n    message: noReviewAck,\n  };\n}\n\nconst sessionToken = createToken();\nconst nowIso = toIsoDate(new Date());\nconst deadlineIso = toIsoDate(Date.now() + reviewerTimeoutSeconds * 1000);\n\nconst sessionPayload = {\n  session_token: sessionToken,\n  stage: 'review_pending',\n  deadline_at: deadlineIso,\n  awaiting_instruction: '',\n  user_input: userInput,\n  full_review: fullReview,\n  review_intro: reviewIntro,\n  review_outro: reviewOutro,\n  qc_json: '',\n  metadata_json: '',\n  review_round: 0,\n  metadata_round: 0,\n  commands_json: '[]',\n  stop_reason: '',\n  updated_at: nowIso,\n};\n\nsessionPayload.payload_json = safeJsonStringify({\n  ...sessionPayload,\n  turn_count: Number(input.turn_count ?? 0),\n  model: String(input.model ?? ''),\n  fallback_model: String(input.fallback_model ?? ''),\n  fallback_used: Boolean(input.fallback_used),\n  max_turns: Number(input.max_turns ?? 8),\n  openai_model: String(input.openai_model ?? 'gpt-5'),\n  qc_score_warning_threshold: Number(input.qc_score_warning_threshold ?? 7),\n  reviewer_wait_timeout_seconds: reviewerTimeoutSeconds,\n});\n\nlet persisted = false;\nlet dataTableId = '';\nlet persistError = '';\n\ntry {\n  dataTableId = await ensureDataTable();\n  await upsertSession(dataTableId, sessionPayload);\n  persisted = true;\n} catch (error) {\n  persistError = error?.message ? String(error.message) : String(error);\n}\n\nconst ackMessage = persisted\n  ? [\n      'Đã tạo reviewer session thành công.',\n      'Session token: ' + sessionToken,\n      'Mình sẽ gửi preview sang Telegram để reviewer duyệt tiếp.',\n    ].join('\\n')\n  : [\n      'Không thể tạo reviewer session trong Data Store.',\n      'Lỗi: ' + safeJsonStringify(persistError, 'unknown_error').replace(/^\"|\"$/g, ''),\n    ].join('\\n');\n\nreturn {\n  ...input,\n  session_token: persisted ? sessionToken : '',\n  reviewer_stage: persisted ? 'review_pending' : 'failed',\n  message_ack: ackMessage,\n  message: ackMessage,\n  stop_reason: persisted ? String(input.stop_reason ?? 'completed') : 'datastore_error',\n  event_type: persisted ? 'init_review' : '',\n  instruction: '',\n  source: 'main',\n  data_table_id: dataTableId,\n  data_store_name: sessionStoreName,\n  persist_error: persistError || null,\n};\n"
      },
      "id": "6",
      "name": "Prepare Session + Init Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -152
      ]
    },
    {
      "parameters": {
        "source": "localFile",
        "workflowPath": "__SHARED_NOTIFICATION_WORKFLOW_PATH__",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "8",
      "name": "Notify via Shared Workflow (Main)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1456,
        -224
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "let candidates = [];\n\ntry {\n  const sendItems = typeof $items === 'function' ? $items('Send Informations', 0, 0) : [];\n  candidates = Array.isArray(sendItems)\n    ? sendItems.map((item) => item?.json ?? {}).filter((item) => item && typeof item === 'object')\n    : [];\n} catch (_) {\n  candidates = [];\n}\n\nif (candidates.length === 0) {\n  candidates = $input.all().map((item) => item?.json ?? {}).filter((item) => item && typeof item === 'object');\n}\n\nfunction toBoolean(value) {\n  return value === true || String(value ?? '').toLowerCase() === 'true';\n}\n\nfunction asNumber(value, fallback = 0) {\n  const num = Number(value);\n  return Number.isFinite(num) ? num : fallback;\n}\n\nfunction pickBest(items) {\n  const chatCandidates = items.filter((item) => !toBoolean(item.skip_chat_response));\n  const pool = chatCandidates.length > 0 ? chatCandidates : items;\n\n  if (pool.length === 0) {\n    return null;\n  }\n\n  return pool\n    .slice()\n    .sort((left, right) => asNumber(right.chat_priority, 0) - asNumber(left.chat_priority, 0))[0];\n}\n\nconst selected = pickBest(candidates) ?? {};\n\nlet prepared = {};\ntry {\n  const items = typeof $items === 'function' ? $items('Prepare Session + Init Event', 0, 0) : [];\n  prepared = Array.isArray(items) && items[0]?.json && typeof items[0].json === 'object'\n    ? items[0].json\n    : {};\n} catch (_) {\n  prepared = {};\n}\n\nconst source = Object.keys(selected).length > 0\n  ? selected\n  : Object.keys(prepared).length > 0\n    ? prepared\n    : {};\n\nconst message = String(source.message ?? source.message_ack ?? '').trim() || 'Da tao reviewer session.';\n\nreturn [{\n  json: {\n    message,\n    message_ack: String(source.message_ack ?? message).trim() || message,\n    session_token: String(source.session_token ?? ''),\n    reviewer_stage: String(source.reviewer_stage ?? ''),\n    stop_reason: String(source.stop_reason ?? ''),\n    persist_error: source.persist_error ?? null,\n  },\n}];\n"
      },
      "id": "9",
      "name": "Return Chat Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        -152
      ]
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "10",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -336,
        40
      ],
      "webhookId": "fe383fa2-83b0-459e-afd6-829182dcfab4",
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3-1",
              "name": "n8n_api_url",
              "value": "__N8N_API_URL__",
              "type": "string"
            },
            {
              "id": "3-2",
              "name": "n8n_api_key",
              "value": "__N8N_API_KEY__",
              "type": "string"
            },
            {
              "id": "3-3",
              "name": "session_store_name",
              "value": "book_review_sessions",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "12",
      "name": "Set Config (Telegram)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json ?? {};\n\nconst requestHelper =\n  helpers?.httpRequest ??\n  (typeof $helpers !== 'undefined' ? $helpers?.httpRequest : undefined);\n\nconst n8nApiUrl = String(input.n8n_api_url ?? '').replace(/\\/$/, '');\nconst n8nApiKey = String(input.n8n_api_key ?? '').trim();\nconst sessionStoreName = String(input.session_store_name ?? 'book_review_sessions').trim() || 'book_review_sessions';\n\nconst REQUIRED_COLUMNS = [\n  { name: 'session_token', type: 'string' },\n  { name: 'stage', type: 'string' },\n  { name: 'deadline_at', type: 'string' },\n  { name: 'awaiting_instruction', type: 'string' },\n  { name: 'user_input', type: 'string' },\n  { name: 'full_review', type: 'string' },\n  { name: 'review_intro', type: 'string' },\n  { name: 'review_outro', type: 'string' },\n  { name: 'qc_json', type: 'string' },\n  { name: 'metadata_json', type: 'string' },\n  { name: 'review_round', type: 'number' },\n  { name: 'metadata_round', type: 'number' },\n  { name: 'commands_json', type: 'string' },\n  { name: 'stop_reason', type: 'string' },\n  { name: 'updated_at', type: 'string' },\n  { name: 'payload_json', type: 'string' },\n];\n\nfunction parseCommand(text) {\n  const value = String(text ?? '').trim();\n  if (!value) return null;\n\n  const lower = value.toLowerCase();\n\n  if (/^(dung|dừng|stop|\\/stop)$/.test(lower)) {\n    return { action: 'stop', instruction: '' };\n  }\n\n  if (/^(tiep|tiếp|continue|\\/continue)$/.test(lower)) {\n    return { action: 'continue', instruction: '' };\n  }\n\n  const changeMatch = value.match(/^(doi|đổi|change|\\/doi)\\s*(.*)$/i);\n  if (changeMatch) {\n    return {\n      action: 'change',\n      instruction: String(changeMatch[2] ?? '').trim(),\n    };\n  }\n\n  return null;\n}\n\nfunction parseStartCommand(text) {\n  const value = String(text ?? '').trim();\n  if (!value) return null;\n\n  const match = value.match(/^(?:\\/)?book(?:[\\s_-]?review)\\s*[:\\-]?\\s*([\\s\\S]*)$/i);\n  if (!match) return null;\n\n  return String(match[1] ?? '').trim();\n}\n\nfunction parseTokenFromText(text) {\n  const value = String(text ?? '').trim();\n  if (!value) return '';\n\n  const tagged = value.match(/(?:#|token[:=])([a-z0-9_-]{8,64})/i);\n  if (tagged) {\n    return String(tagged[1] ?? '').trim();\n  }\n\n  return '';\n}\n\nfunction mapActionToEvent(stage, action) {\n  const normalizedStage = String(stage ?? '').toLowerCase();\n  const isMetadata = normalizedStage === 'metadata_pending' || normalizedStage.startsWith('meta');\n\n  if (action === 'continue') {\n    return isMetadata ? 'metadata_continue' : 'review_continue';\n  }\n\n  if (action === 'stop') {\n    return isMetadata ? 'metadata_stop' : 'review_stop';\n  }\n\n  if (action === 'change') {\n    return isMetadata ? 'metadata_change' : 'review_change';\n  }\n\n  return '';\n}\n\nfunction callbackEventType(stageCode, actionCode) {\n  const stage = stageCode === 'meta' ? 'metadata_pending' : 'review_pending';\n  const action =\n    actionCode === 'c' ? 'continue' :\n    actionCode === 's' ? 'stop' :\n    actionCode === 'x' ? 'change' : '';\n\n  return {\n    stage,\n    action,\n    event_type: mapActionToEvent(stage, action),\n  };\n}\n\nasync function apiRequest(method, path, options = {}) {\n  if (typeof requestHelper !== 'function') {\n    throw new Error('Missing HTTP helper in Code node runtime.');\n  }\n  if (!n8nApiUrl || !n8nApiKey) {\n    throw new Error('Missing n8n API URL or API key in workflow config.');\n  }\n\n  return await requestHelper({\n    method,\n    url: n8nApiUrl + path,\n    headers: {\n      'X-N8N-API-KEY': n8nApiKey,\n    },\n    qs: options.qs,\n    body: options.body,\n    json: true,\n    timeout: 45000,\n  });\n}\n\nasync function ensureDataTable() {\n  const list = await apiRequest('GET', '/api/v1/data-tables', {\n    qs: { limit: 200 },\n  });\n\n  const tables = Array.isArray(list?.data) ? list.data : [];\n  const existing = tables.find((table) => String(table?.name ?? '') === sessionStoreName);\n  if (existing?.id) {\n    return String(existing.id);\n  }\n\n  const created = await apiRequest('POST', '/api/v1/data-tables', {\n    body: {\n      name: sessionStoreName,\n      columns: REQUIRED_COLUMNS,\n    },\n  });\n\n  const id = String(created?.id ?? '').trim();\n  if (!id) {\n    throw new Error('Failed to create session data table.');\n  }\n\n  return id;\n}\n\nasync function getRows(tableId, filter, limit = 20, sortBy = 'updated_at:desc') {\n  const response = await apiRequest('GET', '/api/v1/data-tables/' + tableId + '/rows', {\n    qs: {\n      limit,\n      sortBy,\n      filter: JSON.stringify(filter),\n    },\n  });\n\n  return Array.isArray(response?.data) ? response.data : [];\n}\n\nasync function getSessionByToken(tableId, sessionToken) {\n  if (!sessionToken) return null;\n\n  const rows = await getRows(\n    tableId,\n    {\n      type: 'and',\n      filters: [\n        {\n          columnName: 'session_token',\n          condition: 'eq',\n          value: sessionToken,\n        },\n      ],\n    },\n    1,\n    'updated_at:desc',\n  );\n\n  return rows[0] ?? null;\n}\n\nasync function getLatestPendingSession(tableId) {\n  const rows = await getRows(\n    tableId,\n    {\n      type: 'or',\n      filters: [\n        {\n          columnName: 'stage',\n          condition: 'eq',\n          value: 'review_pending',\n        },\n        {\n          columnName: 'stage',\n          condition: 'eq',\n          value: 'metadata_pending',\n        },\n      ],\n    },\n    20,\n    'updated_at:desc',\n  );\n\n  return rows.find((row) => {\n    const stage = String(row?.stage ?? '').toLowerCase();\n    return stage === 'review_pending' || stage === 'metadata_pending';\n  }) ?? null;\n}\n\nasync function getLatestAwaitingInstructionSession(tableId) {\n  const rows = await getRows(\n    tableId,\n    {\n      type: 'and',\n      filters: [\n        {\n          columnName: 'awaiting_instruction',\n          condition: 'eq',\n          value: '1',\n        },\n      ],\n    },\n    20,\n    'updated_at:desc',\n  );\n\n  return rows.find((row) => {\n    const stage = String(row?.stage ?? '').toLowerCase();\n    return stage === 'review_pending' || stage === 'metadata_pending';\n  }) ?? null;\n}\n\nconst callbackData = String(input.callback_query?.data ?? '').trim();\nconst callbackId = String(input.callback_query?.id ?? '').trim();\nconst callbackMessageId = Number(input.callback_query?.message?.message_id ?? 0);\nconst callbackChatId = String(input.callback_query?.message?.chat?.id ?? '').trim();\n\nif (callbackData) {\n  const callbackMatch = callbackData.match(/^brv:(rvw|meta):(c|x|s):([a-z0-9_-]{8,64})$/i);\n  if (!callbackMatch) {\n    return [];\n  }\n\n  const stageCode = String(callbackMatch[1] ?? '').toLowerCase();\n  const actionCode = String(callbackMatch[2] ?? '').toLowerCase();\n  const token = String(callbackMatch[3] ?? '').trim();\n  const mapped = callbackEventType(stageCode, actionCode);\n\n  if (!token || !mapped.event_type) {\n    return [];\n  }\n\n  return [{\n    json: {\n      event_type: mapped.event_type,\n      session_token: token,\n      instruction: '',\n      source: 'telegram',\n      router_channel: 'callback_query',\n      callback_id: callbackId,\n      callback_message_id: callbackMessageId,\n      callback_chat_id: callbackChatId,\n      callback_data: callbackData,\n      stage_hint: mapped.stage,\n    },\n  }];\n}\n\nconst messageText = String(input.message?.text ?? '').trim();\nif (!messageText) {\n  return [];\n}\n\n// Start command duoc route boi node parser rieng sang luong main.\n// Node router reviewer bo qua de tranh xu ly nham thanh doi/tiep/dung.\nif (parseStartCommand(messageText) !== null) {\n  return [];\n}\n\nlet command = parseCommand(messageText);\n\nlet tableId = '';\ntry {\n  tableId = await ensureDataTable();\n} catch (_) {\n  return [];\n}\n\nlet token = parseTokenFromText(messageText);\nlet sessionRow = null;\n\nif (token) {\n  sessionRow = await getSessionByToken(tableId, token);\n}\n\nif (!command) {\n  if (!sessionRow) {\n    sessionRow = await getLatestAwaitingInstructionSession(tableId);\n    token = String(sessionRow?.session_token ?? '').trim();\n  }\n\n  if (!sessionRow || !token) {\n    return [];\n  }\n\n  // Khi dang o trang thai cho \"doi\", cho phep user gui thang noi dung sua\n  // (khong bat buoc phai prefix \"doi \").\n  command = {\n    action: 'change',\n    instruction: messageText,\n  };\n}\n\nif (!sessionRow && command.action === 'change' && command.instruction) {\n  sessionRow = await getLatestAwaitingInstructionSession(tableId);\n  token = String(sessionRow?.session_token ?? '').trim();\n\n  const isAwaitingInstruction = String(sessionRow?.awaiting_instruction ?? '').trim() === '1';\n  if (!sessionRow || !token || !isAwaitingInstruction) {\n    return [];\n  }\n}\n\nif (!sessionRow && (command.action === 'continue' || command.action === 'stop')) {\n  sessionRow = await getLatestPendingSession(tableId);\n  token = String(sessionRow?.session_token ?? '').trim();\n}\n\nif (!sessionRow || !token) {\n  return [];\n}\n\nconst stage = String(sessionRow.stage ?? '').trim() || 'review_pending';\nconst eventType = mapActionToEvent(stage, command.action);\n\nif (!eventType) {\n  return [];\n}\n\nreturn [{\n  json: {\n    event_type: eventType,\n    session_token: token,\n    instruction: command.action === 'change' ? command.instruction : '',\n    source: 'telegram',\n    router_channel: 'message',\n    message_text: messageText,\n    stage_hint: stage,\n    chat_id: String(input.message?.chat?.id ?? '').trim(),\n    user_id: String(input.message?.from?.id ?? '').trim(),\n  },\n}];\n"
      },
      "id": "13",
      "name": "Parse Telegram Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        40
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2-1",
              "name": "openai_model",
              "value": "={{ $json.openai_model || \"gpt-5\" }}",
              "type": "string"
            },
            {
              "id": "2-2",
              "name": "cliproxy_base_url",
              "value": "__CLIPROXY_BASE_URL__",
              "type": "string"
            },
            {
              "id": "2-3",
              "name": "cliproxy_client_key",
              "value": "__CLIPROXY_CLIENT_KEY__",
              "type": "string"
            },
            {
              "id": "2-4",
              "name": "n8n_api_url",
              "value": "__N8N_API_URL__",
              "type": "string"
            },
            {
              "id": "2-5",
              "name": "n8n_api_key",
              "value": "__N8N_API_KEY__",
              "type": "string"
            },
            {
              "id": "2-6",
              "name": "session_store_name",
              "value": "={{ $json.session_store_name || \"book_review_sessions\" }}",
              "type": "string"
            },
            {
              "id": "2-7",
              "name": "reviewer_wait_timeout_seconds",
              "value": "={{ $json.reviewer_wait_timeout_seconds || 900 }}",
              "type": "number"
            },
            {
              "id": "2-8",
              "name": "qc_score_warning_threshold",
              "value": "={{ $json.qc_score_warning_threshold || 7 }}",
              "type": "number"
            },
            {
              "id": "2-9",
              "name": "master_prompt_template",
              "value": "__BOOK_REVIEW_MASTER_PROMPT__",
              "type": "string"
            },
            {
              "id": "2-10",
              "name": "metadata_prompt_template",
              "value": "__BOOK_REVIEW_METADATA_PROMPT__",
              "type": "string"
            },
            {
              "id": "2-11",
              "name": "qc_prompt_template",
              "value": "__BOOK_REVIEW_QC_PROMPT__",
              "type": "string"
            },
            {
              "id": "2-12",
              "name": "review_revision_prompt_template",
              "value": "__BOOK_REVIEW_REVIEW_EDIT_PROMPT__",
              "type": "string"
            },
            {
              "id": "2-13",
              "name": "telegram_bot_token",
              "value": "8747567789:AAH9dvCaNiaM5Q5X24PZBzfcIxQZoKId3EA",
              "type": "string"
            },
            {
              "id": "2-14",
              "name": "telegram_chat_id",
              "value": "6920403077",
              "type": "string"
            },
            {
              "id": "2-15",
              "name": "shared_notification_workflow_path",
              "value": "__SHARED_NOTIFICATION_WORKFLOW_PATH__",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "19",
      "name": "Set Config (Worker)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -56
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nconst requestHelper =\n  helpers?.httpRequest ??\n  (typeof $helpers !== 'undefined' ? $helpers?.httpRequest : undefined);\n\nconst cliproxyBaseUrl = String(input.cliproxy_base_url ?? '').replace(/\\/$/, '');\nconst cliproxyClientKey = String(input.cliproxy_client_key ?? '').trim();\nconst openaiModel = String(input.openai_model ?? 'gpt-5').trim() || 'gpt-5';\n\nconst n8nApiUrl = String(input.n8n_api_url ?? '').replace(/\\/$/, '');\nconst n8nApiKey = String(input.n8n_api_key ?? '').trim();\nconst sessionStoreName = String(input.session_store_name ?? 'book_review_sessions').trim() || 'book_review_sessions';\n\nconst reviewerTimeoutRaw = Number(input.reviewer_wait_timeout_seconds ?? 900);\nconst reviewerTimeoutSeconds = Number.isFinite(reviewerTimeoutRaw) && reviewerTimeoutRaw > 30\n  ? Math.floor(reviewerTimeoutRaw)\n  : 900;\n\nconst qcThresholdRaw = Number(input.qc_score_warning_threshold ?? 7);\nconst qcScoreWarningThreshold = Number.isFinite(qcThresholdRaw)\n  ? Math.min(10, Math.max(0, Math.floor(qcThresholdRaw)))\n  : 7;\n\nconst telegramBotToken = String(input.telegram_bot_token ?? '').trim();\nconst telegramChatId = String(input.telegram_chat_id ?? '').trim();\n\nconst metadataPromptTemplate = String(input.metadata_prompt_template ?? '').trim();\nconst qcPromptTemplate = String(input.qc_prompt_template ?? '').trim();\nconst reviewRevisionPromptTemplate = String(input.review_revision_prompt_template ?? '').trim();\nconst masterPromptTemplate = String(input.master_prompt_template ?? '').trim();\n\nconst eventType = String(input.event_type ?? '').trim();\nconst sessionTokenInput = String(input.session_token ?? '').trim();\nconst instructionInput = String(input.instruction ?? '').trim();\nconst sourceInput = String(input.source ?? 'worker').trim();\n\nconst REQUIRED_COLUMNS = [\n  { name: 'session_token', type: 'string' },\n  { name: 'stage', type: 'string' },\n  { name: 'deadline_at', type: 'string' },\n  { name: 'awaiting_instruction', type: 'string' },\n  { name: 'user_input', type: 'string' },\n  { name: 'full_review', type: 'string' },\n  { name: 'review_intro', type: 'string' },\n  { name: 'review_outro', type: 'string' },\n  { name: 'qc_json', type: 'string' },\n  { name: 'metadata_json', type: 'string' },\n  { name: 'review_round', type: 'number' },\n  { name: 'metadata_round', type: 'number' },\n  { name: 'commands_json', type: 'string' },\n  { name: 'stop_reason', type: 'string' },\n  { name: 'updated_at', type: 'string' },\n  { name: 'payload_json', type: 'string' },\n];\n\nconst METADATA_FIELDS = ['title', 'caption', 'thumbnail_text', 'hashtags'];\n\nfunction nowIso() {\n  return new Date().toISOString();\n}\n\nfunction addSeconds(iso, seconds) {\n  const base = new Date(iso || Date.now());\n  const next = new Date(base.getTime() + seconds * 1000);\n  return next.toISOString();\n}\n\nfunction asNumber(value, fallback = 0) {\n  const num = Number(value);\n  return Number.isFinite(num) ? num : fallback;\n}\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction safeJsonParse(value, fallback) {\n  try {\n    return JSON.parse(String(value ?? ''));\n  } catch (_) {\n    return fallback;\n  }\n}\n\nfunction safeJsonStringify(value, fallback = '{}') {\n  try {\n    return JSON.stringify(value);\n  } catch (_) {\n    return fallback;\n  }\n}\n\nfunction parseJsonObject(rawText) {\n  const raw = String(rawText ?? '').trim();\n  if (!raw) return null;\n\n  try {\n    return JSON.parse(raw);\n  } catch (_) {}\n\n  const fence = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  if (fence) {\n    try {\n      return JSON.parse(fence[1]);\n    } catch (_) {}\n  }\n\n  const first = raw.indexOf('{');\n  const last = raw.lastIndexOf('}');\n  if (first >= 0 && last > first) {\n    try {\n      return JSON.parse(raw.slice(first, last + 1));\n    } catch (_) {}\n  }\n\n  return null;\n}\n\nfunction clampScore(value, fallback = 6) {\n  const num = Number(value);\n  if (!Number.isFinite(num)) return fallback;\n  if (num < 0) return 0;\n  if (num > 10) return 10;\n  return Math.round(num * 10) / 10;\n}\n\nfunction normalizeRisk(value) {\n  const risk = String(value ?? '').trim().toLowerCase();\n  if (risk === 'low' || risk === 'med' || risk === 'high') return risk;\n  return 'med';\n}\n\nfunction normalizeList(value) {\n  if (Array.isArray(value)) {\n    return value.map((item) => String(item ?? '').trim()).filter(Boolean);\n  }\n\n  if (typeof value === 'string') {\n    return value\n      .split(/[\\n,]+/)\n      .map((item) => item.trim())\n      .filter(Boolean);\n  }\n\n  return [];\n}\n\nfunction normalizeFeedback(value, fallback = '') {\n  const raw = String(value ?? '').replace(/\\s+/g, ' ').trim();\n  const text = raw || String(fallback ?? '').replace(/\\s+/g, ' ').trim();\n  if (!text) return '';\n\n  const words = text.split(/\\s+/).filter(Boolean);\n  if (words.length <= 200) {\n    return text;\n  }\n\n  return words.slice(0, 200).join(' ');\n}\n\nfunction normalizeHashtags(value) {\n  const tags = normalizeList(value)\n    .map((item) => item.replace(/^#*/, '').replace(/\\s+/g, ''))\n    .filter(Boolean)\n    .map((item) => '#' + item.toLowerCase());\n\n  const unique = [];\n  for (const tag of tags) {\n    if (!unique.includes(tag)) {\n      unique.push(tag);\n    }\n  }\n\n  return unique.slice(0, 15);\n}\n\nfunction buildScoreWarnings(scores, threshold) {\n  const map = {\n    Hook: scores.hook_score,\n    Clarity: scores.clarity_score,\n    Originality: scores.originality_score,\n    'Practical value': scores.practical_value_score,\n  };\n\n  return Object.entries(map)\n    .filter(([, score]) => Number(score) < threshold)\n    .map(([label, score]) => label + ' score=' + score + ' < ' + threshold);\n}\n\nfunction buildMasterPrompt(template, bookInput) {\n  return String(template ?? '').replaceAll('{{USER_INPUT}}', String(bookInput ?? '')).trim();\n}\n\nfunction stripControlTags(text) {\n  const normalized = String(text ?? '').replace(/\\r\\n/g, '\\n').trim();\n  return normalized.replace(/(?:\\n|^)\\s*-\\s*(CONTINUE|END)\\s*-\\s*$/i, '').trim();\n}\n\nfunction normalizeReviewForDisplay(reviewText) {\n  const normalized = stripControlTags(reviewText);\n  const sectionRegex = /<<<SECTION\\|([^|\\n>]+)\\|([^\\n>]+)>>>\\s*([\\s\\S]*?)\\s*<<<END_SECTION>>>/g;\n  const blocks = [];\n  let match;\n\n  while ((match = sectionRegex.exec(normalized)) !== null) {\n    const title = safeText(match[2]);\n    const content = safeText(match[3]);\n    if (!content) continue;\n    blocks.push(title ? (title + '\\n' + content) : content);\n  }\n\n  if (blocks.length > 0) {\n    return blocks.join('\\n\\n').trim();\n  }\n\n  return normalized\n    .replace(/<<<SECTION\\|[^>]+>>>/g, '')\n    .replace(/<<<END_SECTION>>>/g, '')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\nfunction splitMessage(text, maxLen = 3500) {\n  const raw = String(text ?? '').trim();\n  if (!raw) return [];\n\n  const parts = [];\n  let cursor = 0;\n\n  while (cursor < raw.length) {\n    const remain = raw.length - cursor;\n    if (remain <= maxLen) {\n      parts.push(raw.slice(cursor));\n      break;\n    }\n\n    const slice = raw.slice(cursor, cursor + maxLen);\n    let cut = Math.max(slice.lastIndexOf('\\n\\n'), slice.lastIndexOf('\\n'), slice.lastIndexOf(' '));\n    if (cut < Math.floor(maxLen * 0.5)) {\n      cut = maxLen;\n    }\n\n    parts.push(raw.slice(cursor, cursor + cut).trim());\n    cursor += cut;\n  }\n\n  return parts.filter(Boolean);\n}\n\nfunction extractSectionText(review, id) {\n  const regex = new RegExp('<<<SECTION\\\\|' + id + '\\\\|[^>]+>>>\\\\s*([\\\\s\\\\S]*?)\\\\s*<<<END_SECTION>>>', 'i');\n  const match = String(review ?? '').match(regex);\n  return match ? String(match[1] ?? '').trim() : '';\n}\n\nfunction ensureKeepOthersInstruction(instruction) {\n  const base = safeText(instruction);\n  if (!base) return '';\n\n  const keepPattern = /những\\s+thứ\\s+khác\\s+giữ\\s+nguyên|nhung\\s+thu\\s+khac\\s+giu\\s+nguyen|keep\\s+(the\\s+)?other\\s+fields\\s+unchanged/i;\n  if (keepPattern.test(base)) {\n    return base;\n  }\n\n  return base + '. Những thứ khác giữ nguyên.';\n}\n\nfunction detectMetadataTargets(instruction) {\n  const text = String(instruction ?? '').toLowerCase();\n  const targets = new Set();\n\n  if (!text) {\n    return targets;\n  }\n\n  if (/(\\btitle\\b|ti[eê]u\\s*đ[eề]\\b|tieu\\s*de\\b)/i.test(text)) {\n    targets.add('title');\n  }\n\n  if (/(\\bcaption\\b|ch[uú]\\s*th[ií]ch|m[oô]\\s*t[aả]\\s*ng[aă]n)/i.test(text)) {\n    targets.add('caption');\n  }\n\n  if (/(\\bthumbnail\\b|\\bthumb\\b|thumbnail\\s*text|anh\\s*bia|ảnh\\s*bìa)/i.test(text)) {\n    targets.add('thumbnail_text');\n  }\n\n  if (/(\\bhashtag\\b|hash\\s*tag|\\btags?\\b)/i.test(text)) {\n    targets.add('hashtags');\n  }\n\n  return targets;\n}\n\nfunction defaultMetadataFallback(previousMetadata) {\n  if (previousMetadata && typeof previousMetadata === 'object') {\n    return {\n      title: safeText(previousMetadata.title, 'Tiêu đề video'),\n      caption: safeText(previousMetadata.caption, 'Caption video'),\n      thumbnail_text: safeText(previousMetadata.thumbnail_text, 'Thumbnail text'),\n      hashtags: Array.isArray(previousMetadata.hashtags) && previousMetadata.hashtags.length > 0\n        ? previousMetadata.hashtags\n        : ['#bookreview', '#selfhelp', '#phattrienbanthan'],\n    };\n  }\n\n  return {\n    title: 'Tiêu đề video',\n    caption: 'Caption video',\n    thumbnail_text: 'Thumbnail text',\n    hashtags: ['#bookreview', '#selfhelp', '#phattrienbanthan'],\n  };\n}\n\nasync function apiRequest(method, path, options = {}) {\n  if (typeof requestHelper !== 'function') {\n    throw new Error('Missing HTTP helper in Code node runtime.');\n  }\n\n  if (!n8nApiUrl || !n8nApiKey) {\n    throw new Error('Missing n8n API URL or API key in workflow config.');\n  }\n\n  return await requestHelper({\n    method,\n    url: n8nApiUrl + path,\n    headers: {\n      'X-N8N-API-KEY': n8nApiKey,\n    },\n    qs: options.qs,\n    body: options.body,\n    json: true,\n    timeout: 60000,\n  });\n}\n\nasync function ensureDataTable() {\n  const list = await apiRequest('GET', '/api/v1/data-tables', {\n    qs: { limit: 200 },\n  });\n\n  const tables = Array.isArray(list?.data) ? list.data : [];\n  const existing = tables.find((table) => String(table?.name ?? '') === sessionStoreName);\n  if (existing?.id) {\n    return String(existing.id);\n  }\n\n  const created = await apiRequest('POST', '/api/v1/data-tables', {\n    body: {\n      name: sessionStoreName,\n      columns: REQUIRED_COLUMNS,\n    },\n  });\n\n  const id = String(created?.id ?? '').trim();\n  if (!id) {\n    throw new Error('Failed to create session data table.');\n  }\n\n  return id;\n}\n\nasync function getSessionRow(tableId, sessionToken) {\n  if (!sessionToken) return null;\n\n  const rows = await apiRequest('GET', '/api/v1/data-tables/' + tableId + '/rows', {\n    qs: {\n      limit: 1,\n      sortBy: 'updated_at:desc',\n      filter: JSON.stringify({\n        type: 'and',\n        filters: [\n          {\n            columnName: 'session_token',\n            condition: 'eq',\n            value: sessionToken,\n          },\n        ],\n      }),\n    },\n  });\n\n  const data = Array.isArray(rows?.data) ? rows.data : [];\n  return data[0] ?? null;\n}\n\nfunction deserializeSession(row) {\n  if (!row || typeof row !== 'object') {\n    return null;\n  }\n\n  const payload = safeJsonParse(row.payload_json, {}) ?? {};\n\n  const qcFromRow = safeJsonParse(row.qc_json, null);\n  const metadataFromRow = safeJsonParse(row.metadata_json, null);\n  const commandsFromRow = safeJsonParse(row.commands_json, null);\n\n  const session = {\n    session_token: safeText(row.session_token, safeText(payload.session_token)),\n    stage: safeText(row.stage, safeText(payload.stage, 'review_pending')),\n    deadline_at: safeText(row.deadline_at, safeText(payload.deadline_at)),\n    awaiting_instruction: String(row.awaiting_instruction ?? payload.awaiting_instruction ?? '') === '1' || payload.awaiting_instruction === true,\n    user_input: safeText(row.user_input, safeText(payload.user_input)),\n    full_review: safeText(row.full_review, safeText(payload.full_review)),\n    review_intro: safeText(row.review_intro, safeText(payload.review_intro)),\n    review_outro: safeText(row.review_outro, safeText(payload.review_outro)),\n    review_round: asNumber(row.review_round, asNumber(payload.review_round, 0)),\n    metadata_round: asNumber(row.metadata_round, asNumber(payload.metadata_round, 0)),\n    stop_reason: safeText(row.stop_reason, safeText(payload.stop_reason)),\n    updated_at: safeText(row.updated_at, safeText(payload.updated_at, nowIso())),\n    turn_count: asNumber(payload.turn_count, 0),\n    model: safeText(payload.model, ''),\n    fallback_model: safeText(payload.fallback_model, ''),\n    fallback_used: Boolean(payload.fallback_used),\n    max_turns: asNumber(payload.max_turns, 8),\n    openai_model: safeText(payload.openai_model, openaiModel),\n    qc_score_warning_threshold: asNumber(payload.qc_score_warning_threshold, qcScoreWarningThreshold),\n    reviewer_wait_timeout_seconds: asNumber(payload.reviewer_wait_timeout_seconds, reviewerTimeoutSeconds),\n    metadata_error: safeText(payload.metadata_error),\n  };\n\n  session.qc = qcFromRow || payload.qc || null;\n  session.metadata = metadataFromRow || payload.metadata || null;\n  session.commands = Array.isArray(commandsFromRow)\n    ? commandsFromRow\n    : Array.isArray(payload.commands)\n      ? payload.commands\n      : [];\n\n  return session;\n}\n\nfunction bootstrapSessionFromInput(sessionToken) {\n  const fullReview = safeText(input.full_review, safeText(input.message));\n\n  return {\n    session_token: sessionToken,\n    stage: 'review_pending',\n    deadline_at: addSeconds(nowIso(), reviewerTimeoutSeconds),\n    awaiting_instruction: false,\n    user_input: safeText(input.user_input),\n    full_review: fullReview,\n    review_intro: safeText(input.review_intro, extractSectionText(fullReview, 'intro')),\n    review_outro: safeText(input.review_outro, extractSectionText(fullReview, 'outro')),\n    qc: null,\n    metadata: null,\n    review_round: 0,\n    metadata_round: 0,\n    commands: [],\n    stop_reason: safeText(input.stop_reason),\n    updated_at: nowIso(),\n    turn_count: asNumber(input.turn_count, 0),\n    model: safeText(input.model),\n    fallback_model: safeText(input.fallback_model),\n    fallback_used: Boolean(input.fallback_used),\n    max_turns: asNumber(input.max_turns, 8),\n    openai_model: safeText(input.openai_model, openaiModel),\n    qc_score_warning_threshold: asNumber(input.qc_score_warning_threshold, qcScoreWarningThreshold),\n    reviewer_wait_timeout_seconds: asNumber(input.reviewer_wait_timeout_seconds, reviewerTimeoutSeconds),\n    metadata_error: '',\n  };\n}\n\nfunction serializeSession(session) {\n  const qcJson = safeJsonStringify(session.qc ?? {}, '{}');\n  const metadataJson = safeJsonStringify(session.metadata ?? {}, '{}');\n  const commands = Array.isArray(session.commands) ? session.commands.slice(-200) : [];\n  const commandsJson = safeJsonStringify(commands, '[]');\n\n  const payload = {\n    session_token: session.session_token,\n    stage: session.stage,\n    deadline_at: session.deadline_at,\n    awaiting_instruction: session.awaiting_instruction === true,\n    user_input: session.user_input,\n    full_review: session.full_review,\n    review_intro: session.review_intro,\n    review_outro: session.review_outro,\n    review_round: asNumber(session.review_round, 0),\n    metadata_round: asNumber(session.metadata_round, 0),\n    stop_reason: session.stop_reason,\n    updated_at: session.updated_at,\n    turn_count: asNumber(session.turn_count, 0),\n    model: session.model,\n    fallback_model: session.fallback_model,\n    fallback_used: Boolean(session.fallback_used),\n    max_turns: asNumber(session.max_turns, 8),\n    openai_model: session.openai_model,\n    qc_score_warning_threshold: asNumber(session.qc_score_warning_threshold, qcScoreWarningThreshold),\n    reviewer_wait_timeout_seconds: asNumber(session.reviewer_wait_timeout_seconds, reviewerTimeoutSeconds),\n    metadata_error: safeText(session.metadata_error),\n    qc: session.qc ?? null,\n    metadata: session.metadata ?? null,\n    commands,\n  };\n\n  return {\n    session_token: session.session_token,\n    stage: safeText(session.stage, 'review_pending'),\n    deadline_at: safeText(session.deadline_at),\n    awaiting_instruction: session.awaiting_instruction === true ? '1' : '',\n    user_input: safeText(session.user_input),\n    full_review: safeText(session.full_review),\n    review_intro: safeText(session.review_intro),\n    review_outro: safeText(session.review_outro),\n    qc_json: qcJson,\n    metadata_json: metadataJson,\n    review_round: asNumber(session.review_round, 0),\n    metadata_round: asNumber(session.metadata_round, 0),\n    commands_json: commandsJson,\n    stop_reason: safeText(session.stop_reason),\n    updated_at: safeText(session.updated_at, nowIso()),\n    payload_json: safeJsonStringify(payload, '{}'),\n  };\n}\n\nasync function saveSession(tableId, session) {\n  const rowData = serializeSession(session);\n\n  await apiRequest('POST', '/api/v1/data-tables/' + tableId + '/rows/upsert', {\n    body: {\n      filter: {\n        type: 'and',\n        filters: [\n          {\n            columnName: 'session_token',\n            condition: 'eq',\n            value: rowData.session_token,\n          },\n        ],\n      },\n      data: rowData,\n      returnData: false,\n    },\n  });\n}\n\nfunction appendCommand(session, command) {\n  if (!Array.isArray(session.commands)) {\n    session.commands = [];\n  }\n\n  session.commands.push({\n    ts: nowIso(),\n    source: sourceInput,\n    event_type: eventType,\n    ...command,\n  });\n\n  if (session.commands.length > 400) {\n    session.commands = session.commands.slice(-400);\n  }\n}\n\nasync function callOpenAI(messages, options = {}) {\n  if (!cliproxyBaseUrl || !cliproxyClientKey || typeof requestHelper !== 'function') {\n    throw new Error('Missing CLIProxy/OpenAI configuration or HTTP helper.');\n  }\n\n  const body = {\n    model: openaiModel,\n    messages,\n    stream: false,\n  };\n\n  if (options.jsonObject === true) {\n    body.response_format = { type: 'json_object' };\n  }\n\n  return await requestHelper({\n    method: 'POST',\n    url: cliproxyBaseUrl + '/v1/chat/completions',\n    headers: {\n      Authorization: 'Bearer ' + cliproxyClientKey,\n    },\n    body,\n    json: true,\n    timeout: Number(options.timeoutMs ?? 180000),\n  });\n}\n\nasync function runQc(session) {\n  const fallback = {\n    qc_checks: [],\n    qc_issues: ['QC fallback.'],\n    feedback: 'Chưa có feedback QC chi tiết.',\n    hook_score: 6,\n    clarity_score: 6,\n    originality_score: 6,\n    practical_value_score: 6,\n    risk_level: 'med',\n    score_warnings: [],\n    qc_status: 'fallback',\n    qc_error: null,\n  };\n\n  try {\n    const promptPayload = {\n      task: 'QC a Vietnamese long-form book review script.',\n      policy: {\n        quote_policy: 'Only accept direct quote if source certainty is high. Otherwise mark warn.',\n        no_rewrite: true,\n      },\n      input: {\n        request: safeText(session.user_input),\n        intro_excerpt: safeText(session.review_intro),\n        outro_excerpt: safeText(session.review_outro),\n        review_excerpt: safeText(normalizeReviewForDisplay(session.full_review)),\n      },\n      required_json_schema: {\n        hook: 0,\n        clarity: 0,\n        originality: 0,\n        practical: 0,\n        risk: 'low|med|high',\n        feedback: 'string (Vietnamese, actionable, <= 200 words)',\n        qc_issues: ['string (optional)'],\n      },\n    };\n\n    const response = await callOpenAI([\n      {\n        role: 'system',\n        content: safeText(qcPromptTemplate, 'You are a strict content QC editor. Return JSON only, no markdown.'),\n      },\n      {\n        role: 'user',\n        content: JSON.stringify(promptPayload),\n      },\n    ], { jsonObject: true });\n\n    const content = String(response?.choices?.[0]?.message?.content ?? '').trim();\n    const parsed = parseJsonObject(content);\n    if (!parsed || typeof parsed !== 'object') {\n      throw new Error('QC response is not valid JSON object.');\n    }\n\n    const qcChecks = Array.isArray(parsed.qc_checks) ? parsed.qc_checks : [];\n    const qcIssues = normalizeList(parsed.qc_issues ?? parsed.issues);\n\n    const hookRaw = parsed?.hook ?? parsed?.scores?.hook;\n    const clarityRaw = parsed?.clarity ?? parsed?.scores?.clarity;\n    const originalityRaw = parsed?.originality ?? parsed?.scores?.originality;\n    const practicalRaw = parsed?.practical ?? parsed?.scores?.practical ?? parsed?.scores?.practical_value;\n    const riskRaw = parsed?.risk ?? parsed?.risk_level;\n\n    const derivedIssues = qcIssues.length > 0\n      ? qcIssues\n      : qcChecks\n          .filter((check) => String(check?.status ?? '').toLowerCase() !== 'pass')\n          .map((check) => String(check?.note ?? '').trim())\n          .filter(Boolean);\n\n    const feedbackFallback = derivedIssues.slice(0, 3).join('; ');\n    const qc = {\n      qc_checks: qcChecks,\n      qc_issues: derivedIssues,\n      feedback: normalizeFeedback(parsed?.feedback, feedbackFallback),\n      hook_score: clampScore(hookRaw, 6),\n      clarity_score: clampScore(clarityRaw, 6),\n      originality_score: clampScore(originalityRaw, 6),\n      practical_value_score: clampScore(practicalRaw, 6),\n      risk_level: normalizeRisk(riskRaw),\n      score_warnings: [],\n      qc_status: 'generated',\n      qc_error: null,\n    };\n\n    qc.score_warnings = buildScoreWarnings(qc, qcScoreWarningThreshold);\n    return qc;\n  } catch (error) {\n    fallback.qc_error = error?.message ? String(error.message) : String(error);\n    fallback.score_warnings = buildScoreWarnings(fallback, qcScoreWarningThreshold);\n    return fallback;\n  }\n}\n\nasync function reviseReview(currentReview, instruction, userInputText) {\n  const instructionText = safeText(instruction);\n  const masterPromptInjected = buildMasterPrompt(masterPromptTemplate, userInputText);\n  const fullReviewText = safeText(currentReview);\n\n  function buildRevisePrompt(reviewText, masterPromptText) {\n    return {\n      task: 'Revise Vietnamese book review script by reviewer instruction.',\n      constraints: {\n        keep_section_contract: true,\n        keep_ids: ['intro', 'part_01+', 'outro'],\n        keep_language: 'vi',\n        output: 'full review text only',\n        follow_master_prompt: true,\n      },\n      instruction: instructionText,\n      current_review: safeText(reviewText),\n      original_request_context: {\n        user_input: userInputText,\n        master_prompt_injected: safeText(masterPromptText),\n      },\n    };\n  }\n\n  async function callRevise(promptPayload) {\n    const response = await callOpenAI([\n      {\n        role: 'system',\n        content: safeText(\n          reviewRevisionPromptTemplate,\n          'You are a senior script editor. Return only revised review text in SECTION format. No markdown.'\n        ),\n      },\n      {\n        role: 'user',\n        content: JSON.stringify(promptPayload),\n      },\n    ]);\n\n    const revised = String(response?.choices?.[0]?.message?.content ?? '').trim();\n    if (!revised) {\n      throw new Error('Empty revised review from AI.');\n    }\n\n    return stripControlTags(revised);\n  }\n\n  const fullPrompt = buildRevisePrompt(fullReviewText, masterPromptInjected);\n  return await callRevise(fullPrompt);\n}\n\nasync function generateMetadataBundle(session, instruction, previousMetadata) {\n  const reviewerInstruction = safeText(instruction);\n  const adjustedInstruction = ensureKeepOthersInstruction(reviewerInstruction);\n  const requestedTargets = detectMetadataTargets(adjustedInstruction);\n\n  const promptPayload = {\n    task: previousMetadata\n      ? 'Refine existing metadata for a Vietnamese book-review video.'\n      : 'Generate metadata for a Vietnamese book-review video.',\n    requirements: {\n      output: 'json_only',\n      fields: ['title', 'caption', 'thumbnail_text', 'hashtags'],\n      style: 'high-retention, concrete, non-clickbait',\n      language: 'vi',\n      keep_unmentioned_fields: true,\n      never_output_fields: ['youtube_description_long', 'description', 'video_description'],\n    },\n    request: safeText(session.user_input),\n    reviewer_instruction: adjustedInstruction,\n    previous_metadata: previousMetadata ?? null,\n    review_excerpt: safeText(normalizeReviewForDisplay(session.full_review)),\n  };\n\n  const systemPrompt = safeText(\n    metadataPromptTemplate,\n    'You are a short-video growth strategist. Return JSON only with exactly these keys: title, caption, thumbnail_text, hashtags.'\n  );\n\n  const response = await callOpenAI([\n    {\n      role: 'system',\n      content: systemPrompt,\n    },\n    {\n      role: 'user',\n      content: JSON.stringify(promptPayload),\n    },\n  ], { jsonObject: true });\n\n  const content = String(response?.choices?.[0]?.message?.content ?? '').trim();\n  const parsed = parseJsonObject(content);\n  if (!parsed || typeof parsed !== 'object') {\n    throw new Error('Metadata response is not valid JSON object.');\n  }\n\n  const resolved = {\n    title: safeText(parsed.title, previousMetadata?.title || 'Tiêu đề video'),\n    caption: safeText(parsed.caption, previousMetadata?.caption || 'Caption video'),\n    thumbnail_text: safeText(parsed.thumbnail_text, previousMetadata?.thumbnail_text || 'Thumbnail text'),\n    hashtags: normalizeHashtags(parsed.hashtags),\n  };\n\n  if (resolved.hashtags.length === 0) {\n    resolved.hashtags = Array.isArray(previousMetadata?.hashtags) && previousMetadata.hashtags.length > 0\n      ? previousMetadata.hashtags\n      : ['#bookreview', '#selfhelp', '#phattrienbanthan'];\n  }\n\n  const hasSelectiveInstruction =\n    Boolean(previousMetadata) &&\n    adjustedInstruction.length > 0 &&\n    requestedTargets.size > 0 &&\n    requestedTargets.size < METADATA_FIELDS.length;\n\n  if (hasSelectiveInstruction) {\n    if (!requestedTargets.has('title')) {\n      resolved.title = safeText(previousMetadata?.title, resolved.title);\n    }\n    if (!requestedTargets.has('caption')) {\n      resolved.caption = safeText(previousMetadata?.caption, resolved.caption);\n    }\n    if (!requestedTargets.has('thumbnail_text')) {\n      resolved.thumbnail_text = safeText(previousMetadata?.thumbnail_text, resolved.thumbnail_text);\n    }\n    if (!requestedTargets.has('hashtags')) {\n      resolved.hashtags = Array.isArray(previousMetadata?.hashtags) && previousMetadata.hashtags.length > 0\n        ? previousMetadata.hashtags\n        : resolved.hashtags;\n    }\n  }\n\n  return resolved;\n}\n\nasync function telegramApi(method, params = {}, useGet = false) {\n  if (!telegramBotToken || typeof requestHelper !== 'function') {\n    return null;\n  }\n\n  return await requestHelper({\n    method: useGet ? 'GET' : 'POST',\n    url: 'https://api.telegram.org/bot' + telegramBotToken + '/' + method,\n    qs: useGet ? params : undefined,\n    body: useGet ? undefined : params,\n    json: true,\n    timeout: 60000,\n  });\n}\n\nasync function answerCallback(callbackId, text) {\n  const id = safeText(callbackId);\n  if (!id) return;\n\n  try {\n    await telegramApi('answerCallbackQuery', {\n      callback_query_id: id,\n      text: safeText(text).slice(0, 180),\n      show_alert: false,\n    }, false);\n  } catch (_) {}\n}\n\nasync function lockCallbackActionMessage(callbackChatId, callbackMessageId, text) {\n  const chatId = safeText(callbackChatId);\n  const messageId = Number(callbackMessageId);\n  if (!chatId || !Number.isFinite(messageId) || messageId <= 0) return;\n\n  const normalizedText = safeText(text, 'Da nhan lenh. Dang xu ly...');\n\n  try {\n    await telegramApi('editMessageText', {\n      chat_id: chatId,\n      message_id: Math.floor(messageId),\n      text: '✅ ' + normalizedText,\n      reply_markup: {\n        inline_keyboard: [],\n      },\n    }, false);\n    return;\n  } catch (_) {}\n\n  try {\n    await telegramApi('editMessageReplyMarkup', {\n      chat_id: chatId,\n      message_id: Math.floor(messageId),\n      reply_markup: {\n        inline_keyboard: [],\n      },\n    }, false);\n  } catch (_) {}\n}\n\nfunction isPendingReviewerStage(stageValue) {\n  const stage = safeText(stageValue).toLowerCase();\n  return stage === 'review_pending' || stage === 'metadata_pending';\n}\n\nfunction isSessionTimedOut(session) {\n  if (!session || !isPendingReviewerStage(session.stage)) {\n    return false;\n  }\n\n  const deadlineText = safeText(session.deadline_at);\n  if (!deadlineText) {\n    return false;\n  }\n\n  const deadlineMs = Date.parse(deadlineText);\n  if (!Number.isFinite(deadlineMs)) {\n    return false;\n  }\n\n  return Date.now() > deadlineMs;\n}\n\nfunction buildTimeoutActionText(session) {\n  const stage = safeText(session?.stage).toLowerCase();\n  if (stage === 'metadata_pending') {\n    return 'Da qua thoi gian cho metadata, nhung van tiep tuc xu ly theo yeu cau.';\n  }\n\n  return 'Da qua thoi gian cho review, nhung van tiep tuc xu ly theo yeu cau.';\n}\n\nfunction buildSessionNotFoundActionText() {\n  return 'Session khong con hieu luc.';\n}\n\nfunction summarizeInstructionForAck(text, limit = 240) {\n  const normalized = safeText(text).replace(/\\s+/g, ' ').trim();\n  if (!normalized) {\n    return '';\n  }\n  if (normalized.length <= limit) {\n    return normalized;\n  }\n  return normalized.slice(0, limit) + '...';\n}\n\nfunction buildChangeAckMessage(scope, instructionText) {\n  const instructionSummary = summarizeInstructionForAck(instructionText);\n  if (!instructionSummary) {\n    return 'Da nhan yeu cau doi ' + scope + '. Dang lam lai...';\n  }\n  return [\n    'Da nhan noi dung doi ' + scope + ':',\n    instructionSummary,\n    'Dang lam lai...',\n  ].join('\\n');\n}\n\nfunction buildActionInfoText(eventType, instructionText) {\n  const hasInstruction = safeText(instructionText).length > 0;\n\n  if (eventType === 'review_continue') {\n    return 'Da nhan lenh tiep tuc review. Dang xu ly...';\n  }\n  if (eventType === 'review_stop') {\n    return 'Da nhan lenh dung review.';\n  }\n  if (eventType === 'review_change') {\n    return hasInstruction\n      ? 'Da nhan noi dung doi review. Dang lam lai...'\n      : 'Da nhan lenh doi review. Hay gui noi dung can doi.';\n  }\n  if (eventType === 'metadata_continue') {\n    return 'Da nhan lenh tiep tuc metadata. Dang xu ly...';\n  }\n  if (eventType === 'metadata_stop') {\n    return 'Da nhan lenh dung metadata.';\n  }\n  if (eventType === 'metadata_change') {\n    return hasInstruction\n      ? 'Da nhan noi dung doi metadata. Dang lam lai...'\n      : 'Da nhan lenh doi metadata. Hay gui noi dung can doi.';\n  }\n\n  return 'Da nhan lenh. Dang xu ly...';\n}\n\nasync function sendTelegramMessage(text, inlineKeyboardRows) {\n  if (!telegramBotToken || !telegramChatId || typeof requestHelper !== 'function') {\n    return;\n  }\n\n  const payload = {\n    chat_id: telegramChatId,\n    text: String(text ?? '').slice(0, 4000),\n  };\n\n  if (Array.isArray(inlineKeyboardRows) && inlineKeyboardRows.length > 0) {\n    payload.reply_markup = {\n      inline_keyboard: inlineKeyboardRows,\n    };\n  }\n\n  await telegramApi('sendMessage', payload, false);\n}\n\nasync function sendLongReviewPreview(prefixText, fullText) {\n  if (prefixText) {\n    await sendTelegramMessage(prefixText);\n  }\n\n  const chunks = splitMessage(fullText, 3500);\n  for (let index = 0; index < chunks.length; index += 1) {\n    const chunk = chunks[index];\n    const marker = chunks.length > 1 ? '[Phan ' + (index + 1) + '/' + chunks.length + ']\\n' : '';\n    await sendTelegramMessage(marker + chunk);\n  }\n}\n\nfunction reviewButtons(sessionToken) {\n  return [[\n    { text: 'Tiep tuc', callback_data: 'brv:rvw:c:' + sessionToken },\n    { text: 'Dung', callback_data: 'brv:rvw:s:' + sessionToken },\n    { text: 'Doi', callback_data: 'brv:rvw:x:' + sessionToken },\n  ]];\n}\n\nfunction metadataButtons(sessionToken) {\n  return [[\n    { text: 'Tiep tuc', callback_data: 'brv:meta:c:' + sessionToken },\n    { text: 'Dung', callback_data: 'brv:meta:s:' + sessionToken },\n    { text: 'Doi', callback_data: 'brv:meta:x:' + sessionToken },\n  ]];\n}\n\nasync function sendReviewPreview(session, headline) {\n  void headline;\n  await sendLongReviewPreview('', normalizeReviewForDisplay(session.full_review));\n}\n\nasync function sendReviewQcAndAction(session, headline) {\n  const qc = session.qc ?? {};\n  const lines = [\n    '[' + headline + ']',\n    'Session: ' + session.session_token,\n    'Hook=' + String(qc.hook_score ?? 'n/a') +\n      ' | Clarity=' + String(qc.clarity_score ?? 'n/a') +\n      ' | Originality=' + String(qc.originality_score ?? 'n/a') +\n      ' | Practical=' + String(qc.practical_value_score ?? 'n/a') +\n      ' | Risk=' + String(qc.risk_level ?? 'med'),\n    'Feedback: ' + safeText(qc.feedback, 'Chua co feedback QC.'),\n  ];\n\n  await sendTelegramMessage(lines.join('\\n'));\n  await sendTelegramMessage('Chon hanh dong cho review:', reviewButtons(session.session_token));\n}\n\nasync function sendMetadataPreview(session, headline) {\n  const metadata = session.metadata ?? defaultMetadataFallback(null);\n  const lines = [\n    '[' + headline + ']',\n    'Session: ' + session.session_token,\n    'Title: ' + safeText(metadata.title),\n    'Caption: ' + safeText(metadata.caption),\n    'Thumbnail: ' + safeText(metadata.thumbnail_text),\n    'Hashtags: ' + normalizeHashtags(metadata.hashtags).join(' '),\n  ];\n\n  await sendTelegramMessage(lines.join('\\n'));\n  await sendTelegramMessage('Chon hanh dong cho metadata:', metadataButtons(session.session_token));\n}\n\nasync function sendFinalMessage(session, headline) {\n  const metadata = session.metadata ?? defaultMetadataFallback(null);\n\n  await sendTelegramMessage('[' + headline + '] Session ' + session.session_token + ' da hoan tat.');\n  await sendLongReviewPreview('Ban review cuoi:', normalizeReviewForDisplay(session.full_review));\n\n  const metadataLines = [\n    'Metadata cuoi:',\n    'Title: ' + safeText(metadata.title),\n    'Caption: ' + safeText(metadata.caption),\n    'Thumbnail: ' + safeText(metadata.thumbnail_text),\n    'Hashtags: ' + normalizeHashtags(metadata.hashtags).join(' '),\n  ];\n\n  await sendTelegramMessage(metadataLines.join('\\n'));\n}\n\nif (!eventType) {\n  return {\n    status: 'skipped',\n    stop_reason: 'missing_event_type',\n    event_type: '',\n    source: sourceInput,\n    session_token: sessionTokenInput,\n    notify_message: '',\n    skip_worker_notify: true,\n  };\n}\n\nlet tableId = '';\nlet saveError = '';\nlet workerError = '';\nlet notifyMessage = '';\n\ntry {\n  tableId = await ensureDataTable();\n} catch (error) {\n  workerError = error?.message ? String(error.message) : String(error);\n}\n\nconst hasTelegramCallback = sourceInput === 'telegram' && safeText(input.callback_id).length > 0;\n\nif (!tableId) {\n  if (hasTelegramCallback) {\n    const callbackErrorText = 'He thong dang ban. Thu lai sau.';\n    await answerCallback(input.callback_id, callbackErrorText);\n    await lockCallbackActionMessage(input.callback_chat_id, input.callback_message_id, callbackErrorText);\n  }\n\n  return {\n    ...input,\n    status: 'failed',\n    stop_reason: 'datastore_error',\n    notify_message: 'Worker cannot access data store: ' + workerError,\n    skip_worker_notify: true,\n  };\n}\n\nconst sessionToken = safeText(sessionTokenInput, safeText(input.reviewer_session_token));\nlet session = null;\n\nif (sessionToken) {\n  const row = await getSessionRow(tableId, sessionToken);\n  session = deserializeSession(row);\n}\n\nif (!session && eventType === 'init_review' && sessionToken) {\n  session = bootstrapSessionFromInput(sessionToken);\n}\n\nif (!session) {\n  if (hasTelegramCallback) {\n    const missingSessionText = buildSessionNotFoundActionText();\n    await answerCallback(input.callback_id, missingSessionText);\n    await lockCallbackActionMessage(input.callback_chat_id, input.callback_message_id, missingSessionText);\n  }\n\n  return {\n    ...input,\n    status: 'failed',\n    stop_reason: 'session_not_found',\n    session_token: sessionToken,\n    notify_message: 'Session not found for event ' + eventType + '. token=' + sessionToken,\n    skip_worker_notify: true,\n  };\n}\n\nconst timedOutSession = hasTelegramCallback && isSessionTimedOut(session);\n\nif (hasTelegramCallback) {\n  const actionInfoText = timedOutSession\n    ? buildTimeoutActionText(session)\n    : buildActionInfoText(eventType, instructionInput);\n  await answerCallback(input.callback_id, actionInfoText);\n  await lockCallbackActionMessage(input.callback_chat_id, input.callback_message_id, actionInfoText);\n}\n\nif (timedOutSession) {\n  appendCommand(session, {\n    stage: safeText(session.stage, 'review_pending'),\n    action: 'timeout_override_continue',\n    instruction: '',\n  });\n}\n\nif (!session.review_intro) {\n  session.review_intro = extractSectionText(session.full_review, 'intro');\n}\nif (!session.review_outro) {\n  session.review_outro = extractSectionText(session.full_review, 'outro');\n}\n\nconst instructionText = safeText(instructionInput);\n\ntry {\n  if (eventType === 'init_review') {\n    if (!session.full_review) {\n      throw new Error('Session has empty review content.');\n    }\n\n    session.stage = 'review_pending';\n    session.awaiting_instruction = false;\n    session.deadline_at = addSeconds(nowIso(), reviewerTimeoutSeconds);\n    session.stop_reason = '';\n    session.metadata_error = '';\n\n    appendCommand(session, {\n      stage: 'review',\n      action: 'init',\n      instruction: '',\n    });\n\n    await sendReviewPreview(session, 'REVIEW PREVIEW');\n    session.qc = await runQc(session);\n    await sendReviewQcAndAction(session, 'QC REVIEW');\n    notifyMessage = 'Sent review preview first, then QC and action request.';\n  } else if (eventType === 'review_change') {\n    session.stage = 'review_pending';\n    session.deadline_at = addSeconds(nowIso(), reviewerTimeoutSeconds);\n\n    if (!instructionText) {\n      session.awaiting_instruction = true;\n      appendCommand(session, {\n        stage: 'review',\n        action: 'change_request_without_instruction',\n        instruction: '',\n      });\n      await sendTelegramMessage('Ban muon doi gi? Hay gui: doi <noi_dung_muon_sua>');\n      notifyMessage = 'Review change requested, awaiting instruction.';\n    } else {\n      session.awaiting_instruction = false;\n      session.review_round = asNumber(session.review_round, 0) + 1;\n      await sendTelegramMessage(buildChangeAckMessage('review', instructionText));\n\n      try {\n        const revised = await reviseReview(session.full_review, instructionText, session.user_input);\n        session.full_review = revised;\n        session.review_intro = extractSectionText(session.full_review, 'intro');\n        session.review_outro = extractSectionText(session.full_review, 'outro');\n        session.metadata_error = '';\n\n        appendCommand(session, {\n          stage: 'review',\n          action: 'change',\n          instruction: instructionText,\n        });\n\n        await sendReviewPreview(session, 'REVIEW PREVIEW (UPDATED)');\n        session.qc = await runQc(session);\n        await sendReviewQcAndAction(session, 'QC REVIEW (UPDATED)');\n        notifyMessage = 'Review revised; preview sent first, then QC + action.';\n      } catch (error) {\n        const errorText = error?.message ? String(error.message) : String(error);\n        session.metadata_error = errorText;\n\n        appendCommand(session, {\n          stage: 'review',\n          action: 'change_failed',\n          instruction: instructionText,\n          error: errorText,\n        });\n\n        await sendTelegramMessage('Khong the sua review bang AI: ' + errorText.slice(0, 700));\n        notifyMessage = 'Review revise failed: ' + errorText;\n      }\n    }\n  } else if (eventType === 'review_continue' || eventType === 'auto_continue_review') {\n    session.awaiting_instruction = false;\n    session.stage = 'metadata_pending';\n    session.deadline_at = addSeconds(nowIso(), reviewerTimeoutSeconds);\n\n    try {\n      session.metadata = await generateMetadataBundle(session, '', session.metadata ?? null);\n      session.metadata_error = '';\n    } catch (error) {\n      const errorText = error?.message ? String(error.message) : String(error);\n      session.metadata_error = errorText;\n      session.metadata = defaultMetadataFallback(session.metadata);\n    }\n\n    appendCommand(session, {\n      stage: 'review',\n      action: eventType === 'auto_continue_review' ? 'auto_continue' : 'continue',\n      instruction: '',\n    });\n\n    await sendMetadataPreview(session, 'METADATA PREVIEW');\n    notifyMessage = eventType === 'auto_continue_review'\n      ? 'Auto-continued from review stage to metadata stage.'\n      : 'Continued from review stage to metadata stage.';\n  } else if (eventType === 'review_stop') {\n    session.awaiting_instruction = false;\n    session.stage = 'completed';\n    session.deadline_at = '';\n    session.stop_reason = 'reviewer_stopped';\n\n    appendCommand(session, {\n      stage: 'review',\n      action: 'stop',\n      instruction: '',\n    });\n\n    await sendTelegramMessage('Da dung luong review theo yeu cau reviewer. Session: ' + session.session_token);\n    notifyMessage = 'Reviewer stopped at review stage.';\n  } else if (eventType === 'metadata_change') {\n    session.stage = 'metadata_pending';\n    session.deadline_at = addSeconds(nowIso(), reviewerTimeoutSeconds);\n\n    if (!instructionText) {\n      session.awaiting_instruction = true;\n      appendCommand(session, {\n        stage: 'metadata',\n        action: 'change_request_without_instruction',\n        instruction: '',\n      });\n      await sendTelegramMessage('Ban muon doi metadata gi? Hay gui: doi <field + noi_dung_muon_sua>');\n      notifyMessage = 'Metadata change requested, awaiting instruction.';\n    } else {\n      session.awaiting_instruction = false;\n      session.metadata_round = asNumber(session.metadata_round, 0) + 1;\n      await sendTelegramMessage(buildChangeAckMessage('metadata', instructionText));\n\n      try {\n        session.metadata = await generateMetadataBundle(session, instructionText, session.metadata ?? null);\n        session.metadata_error = '';\n\n        appendCommand(session, {\n          stage: 'metadata',\n          action: 'change',\n          instruction: instructionText,\n        });\n\n        await sendMetadataPreview(session, 'METADATA PREVIEW (UPDATED)');\n        notifyMessage = 'Metadata updated and preview re-sent.';\n      } catch (error) {\n        const errorText = error?.message ? String(error.message) : String(error);\n        session.metadata_error = errorText;\n\n        appendCommand(session, {\n          stage: 'metadata',\n          action: 'change_failed',\n          instruction: instructionText,\n          error: errorText,\n        });\n\n        await sendTelegramMessage('Khong the cap nhat metadata: ' + errorText.slice(0, 700));\n        notifyMessage = 'Metadata update failed: ' + errorText;\n      }\n    }\n  } else if (eventType === 'metadata_continue' || eventType === 'auto_continue_metadata') {\n    session.awaiting_instruction = false;\n    session.stage = 'completed';\n    session.deadline_at = '';\n    session.stop_reason = 'completed';\n\n    appendCommand(session, {\n      stage: 'metadata',\n      action: eventType === 'auto_continue_metadata' ? 'auto_continue' : 'continue',\n      instruction: '',\n    });\n\n    await sendFinalMessage(session, 'FINAL OUTPUT');\n    notifyMessage = eventType === 'auto_continue_metadata'\n      ? 'Auto-continued metadata stage and finalized output.'\n      : 'Metadata approved and output finalized.';\n  } else if (eventType === 'metadata_stop') {\n    session.awaiting_instruction = false;\n    session.stage = 'completed';\n    session.deadline_at = '';\n    session.stop_reason = 'reviewer_stopped';\n\n    appendCommand(session, {\n      stage: 'metadata',\n      action: 'stop',\n      instruction: '',\n    });\n\n    await sendTelegramMessage('Da dung luong metadata theo yeu cau reviewer. Session: ' + session.session_token);\n    notifyMessage = 'Reviewer stopped at metadata stage.';\n  } else {\n    throw new Error('Unsupported event_type: ' + eventType);\n  }\n} catch (error) {\n  workerError = error?.message ? String(error.message) : String(error);\n  appendCommand(session, {\n    stage: String(session.stage ?? 'unknown'),\n    action: 'worker_error',\n    instruction: instructionText,\n    error: workerError,\n  });\n  notifyMessage = 'Worker error: ' + workerError;\n  session.stop_reason = session.stop_reason || 'worker_error';\n}\n\nsession.updated_at = nowIso();\n\nif (session.stage === 'completed' && !session.stop_reason) {\n  session.stop_reason = 'completed';\n}\n\nconst qc = session.qc ?? null;\nconst metadata = session.metadata ?? null;\n\ntry {\n  await saveSession(tableId, session);\n} catch (error) {\n  saveError = error?.message ? String(error.message) : String(error);\n}\n\nconst status = workerError || saveError ? 'failed' : 'success';\nconst finalNotifyMessage = [notifyMessage, workerError ? 'worker_error=' + workerError : '', saveError ? 'save_error=' + saveError : '']\n  .filter(Boolean)\n  .join(' | ')\n  .slice(0, 1200);\n\nreturn {\n  ...input,\n  status,\n  event_type: eventType,\n  source: sourceInput,\n  session_token: session.session_token,\n  reviewer_stage: session.stage,\n  stop_reason: session.stop_reason || '',\n  notify_message: finalNotifyMessage || 'Worker processed event.',\n  worker_error: workerError || null,\n  save_error: saveError || null,\n  full_review: session.full_review,\n  review_intro: session.review_intro,\n  review_outro: session.review_outro,\n  metadata: metadata,\n  metadata_status: metadata ? 'generated' : session.stage === 'metadata_pending' ? 'pending' : 'skip',\n  metadata_error: session.metadata_error || null,\n  video_title: safeText(metadata?.title),\n  video_caption: safeText(metadata?.caption),\n  video_thumbnail_text: safeText(metadata?.thumbnail_text),\n  video_hashtags: Array.isArray(metadata?.hashtags) ? metadata.hashtags : [],\n  qc_status: qc?.qc_status ?? 'missing',\n  hook_score: qc?.hook_score ?? null,\n  clarity_score: qc?.clarity_score ?? null,\n  originality_score: qc?.originality_score ?? null,\n  practical_value_score: qc?.practical_value_score ?? null,\n  risk_level: qc?.risk_level ?? 'med',\n  feedback: safeText(qc?.feedback),\n  score_warnings: Array.isArray(qc?.score_warnings) ? qc.score_warnings : [],\n  reviewer_commands: Array.isArray(session.commands) ? session.commands : [],\n  skip_worker_notify: false,\n};\n"
      },
      "id": "20",
      "name": "Handle Reviewer Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -56
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nconst hasEventType = String(input.event_type ?? '').trim().length > 0;\n\nif (input.skip_worker_notify === true || !hasEventType) {\n  const skippedPayload = {\n    status: 'info',\n    source_workflow: 'Book Review Gemini via CLIProxyAPI',\n    summary: 'Worker skipped notify payload (no event_type or skip_worker_notify=true)',\n    details: [\n      'skip_worker_notify=' + String(input.skip_worker_notify === true),\n      'event_type=' + String(input.event_type ?? ''),\n    ].join(' | '),\n    message: '',\n    message_ack: '',\n    session_token: String(input.session_token ?? '').trim(),\n    reviewer_stage: String(input.reviewer_stage ?? '').trim(),\n    stop_reason: String(input.stop_reason ?? '').trim(),\n    notify_targets: 'none',\n    telegram_bot_token: String(input.telegram_bot_token ?? '').trim(),\n    telegram_chat_id: String(input.telegram_chat_id ?? '').trim(),\n    ggchat_webhook_url: String(input.ggchat_webhook_url ?? '').trim(),\n    shared_notification_workflow_path: String(input.shared_notification_workflow_path ?? '').trim(),\n    chat_priority: 5,\n    skip_chat_response: true,\n    timestamp: new Date().toISOString(),\n  };\n\n  return {\n    ...input,\n    ...skippedPayload,\n    send_informations: [skippedPayload],\n  };\n}\n\nconst rawStatus = String(input.status ?? 'failed').trim() === 'success' ? 'success' : 'failed';\nconst eventType = String(input.event_type ?? '').trim();\nconst token = String(input.session_token ?? '').trim();\nconst stage = String(input.reviewer_stage ?? '').trim();\nconst stopReason = String(input.stop_reason ?? '').trim();\n\nconst isFailure = rawStatus === 'failed';\nconst isFinalSuccess = eventType === 'metadata_continue' || eventType === 'auto_continue_metadata';\n\nconst status = isFailure ? 'failed' : (isFinalSuccess ? 'success' : 'info');\n\nconst summary = eventType === 'init_review'\n  ? 'Review preview đã gửi, đang chờ reviewer action.'\n  : [\n      'Worker processed',\n      eventType ? 'event=' + eventType : 'event=unknown',\n      token ? 'session=' + token : '',\n      stage ? 'stage=' + stage : '',\n    ].filter(Boolean).join(' ');\n\nconst details = [\n  stopReason ? 'stop_reason=' + stopReason : null,\n  input.worker_error ? 'worker_error=' + String(input.worker_error).slice(0, 220) : null,\n  input.save_error ? 'save_error=' + String(input.save_error).slice(0, 220) : null,\n  input.notify_message ? 'notify=' + String(input.notify_message).slice(0, 400) : null,\n].filter(Boolean).join(' | ') || 'worker-event-processed';\n\n// Chi notify khi fail hoac da hoan tat (success cuoi), tranh spam INFO giua luong.\nconst shouldNotifyExternally = status === 'failed' || status === 'success';\nconst notifyTargets = eventType === 'init_review' || !shouldNotifyExternally\n  ? 'none'\n  : String(input.notify_targets ?? 'telegram');\n\nconst payload = {\n  status,\n  source_workflow: 'Book Review Gemini via CLIProxyAPI',\n  summary,\n  details,\n  message: '',\n  message_ack: '',\n  session_token: token,\n  reviewer_stage: stage,\n  stop_reason: stopReason,\n  notify_targets: notifyTargets,\n  telegram_bot_token: String(input.telegram_bot_token ?? '').trim(),\n  telegram_chat_id: String(input.telegram_chat_id ?? '').trim(),\n  ggchat_webhook_url: String(input.ggchat_webhook_url ?? '').trim(),\n  shared_notification_workflow_path: String(input.shared_notification_workflow_path ?? '').trim(),\n  chat_priority: 20,\n  skip_chat_response: true,\n  timestamp: new Date().toISOString(),\n};\n\nreturn {\n  ...input,\n  ...payload,\n  send_informations: [payload],\n};\n"
      },
      "id": "22",
      "name": "Build Notify Payload (Worker)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -56
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nconst userInput = String(input.user_input ?? input.chatInput ?? '').trim();\nconst message = userInput\n  ? 'Bắt đầu review: ' + userInput\n  : 'Bắt đầu review.';\n\nconst payload = {\n  status: 'info',\n  source_workflow: 'Book Review Gemini via CLIProxyAPI',\n  summary: message,\n  details: '',\n  message,\n  message_ack: message,\n  session_token: '',\n  reviewer_stage: 'starting',\n  stop_reason: '',\n  notify_targets: String(input.notify_targets ?? 'telegram'),\n  telegram_bot_token: String(input.telegram_bot_token ?? '').trim(),\n  telegram_chat_id: String(input.telegram_chat_id ?? '').trim(),\n  ggchat_webhook_url: String(input.ggchat_webhook_url ?? '').trim(),\n  shared_notification_workflow_path: String(input.shared_notification_workflow_path ?? '').trim(),\n  chat_priority: 100,\n  skip_chat_response: false,\n  timestamp: new Date().toISOString(),\n};\n\nreturn {\n  ...input,\n  ...payload,\n  send_informations: [payload],\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -320
      ],
      "id": "7b3428ad-b53a-492f-ae65-08c006615841",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fieldToSplitOut": "send_informations",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1008,
        -152
      ],
      "id": "bab2d476-8232-4d28-9372-3044823b517b",
      "name": "Send Informations"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first()?.json ?? {};\n\nconst text = String(input.message?.text ?? '').trim();\nif (!text) {\n  return [];\n}\n\nconst match = text.match(/^(?:\\/)?book(?:[\\s_-]?review)\\s*[:\\-]?\\s*([\\s\\S]*)$/i);\nif (!match) {\n  return [];\n}\n\nconst userInput = String(match[1] ?? '').trim();\n\nreturn [{\n  json: {\n    ...input,\n    chatInput: userInput,\n    user_input: userInput,\n    start_source: 'telegram_command',\n    start_command: 'book-review',\n    start_message_text: text,\n    chat_id: String(input.message?.chat?.id ?? '').trim(),\n    user_id: String(input.message?.from?.id ?? '').trim(),\n  },\n}];\n"
      },
      "id": "24",
      "name": "Parse Telegram Start Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -56
      ]
    }
  ],
  "connections": {
    "Set Config (Main)": {
      "main": [
        [
          {
            "node": "Generate Full Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Full Review": {
      "main": [
        [
          {
            "node": "Parse Review Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Review Sections": {
      "main": [
        [
          {
            "node": "Prepare Session + Init Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Notify Targets (Main)": {
      "main": [
        [
          {
            "node": "Notify via Shared Workflow (Main)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Session + Init Event": {
      "main": [
        [
          {
            "node": "Set Config (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Set Config (Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config (Telegram)": {
      "main": [
        [
          {
            "node": "Parse Telegram Event",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse Telegram Start Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Telegram Event": {
      "main": [
        [
          {
            "node": "Set Config (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config (Worker)": {
      "main": [
        [
          {
            "node": "Handle Reviewer Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Reviewer Event": {
      "main": [
        [
          {
            "node": "Build Notify Payload (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notify Payload (Worker)": {
      "main": [
        [
          {
            "node": "Send Informations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify via Shared Workflow (Main)": {
      "main": [
        [
          {
            "node": "Return Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Chat Response": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send Informations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Informations": {
      "main": [
        [
          {
            "node": "Return Chat Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Notify Targets (Main)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Telegram Start Command": {
      "main": [
        [
          {
            "node": "Set Config (Main)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
