workflows/book-review/book-review-ai-agent.workflow.json
{
  "name": "Book Review AI Agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "cx/gpt-5.4",
          "mode": "list",
          "cachedResultName": "cx/gpt-5.4"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1624,
        740
      ],
      "id": "94bdf134-0a4e-46d3-a158-efe3c7361b30",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nmpOof7gCtDCf1BD",
          "name": "Local OpenAI Proxy"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "cx/gpt-5.4",
          "mode": "list",
          "cachedResultName": "cx/gpt-5.4"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1272,
        888
      ],
      "id": "5dd9ac93-398b-46be-8933-1ef63b6ae740",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "nmpOof7gCtDCf1BD",
          "name": "Local OpenAI Proxy"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "cx/gpt-5.4",
          "mode": "list",
          "cachedResultName": "cx/gpt-5.4"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -920,
        1036
      ],
      "id": "0db38b4f-8aff-4d21-8539-7be3572a3b96",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "nmpOof7gCtDCf1BD",
          "name": "Local OpenAI Proxy"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Config Main').item.json.chatInput }}\n<<<MANIFEST_JSON>>>\n{{ JSON.stringify($json.output) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $('Config Main').item.json.master_prompt }}\nPROMPT QC: THE CRITICAL SOUL EDITOR (V4)\n\nROLE:\n- Bạn là một biên tập viên QC gắt gao cho các nội dung kể chuyện review sách dài.\n\nMISSION:\n- Đánh giá chất lượng khách quan và độ khớp với phong cách Soulful Narrator.\n\nSTYLE KERNEL REFERENCE (INJECTED FROM MASTER):\n__BOOK_REVIEW_STYLE_KERNEL__\n\nEVALUATION LAYERS:\n1) Objective layer:\n- Sức mạnh của Hook.\n- Sự mạch lạc của dòng tự sự.\n- Độ nguyên bản (Originality).\n- Tính ứng dụng của Bridge vào thực tế đời sống.\n\n2) Style-fit layer:\n- Sự nhất quán của giọng kể.\n- Mạch trôi tự nhiên (tránh meta labeling).\n- Chiều sâu cảm xúc và các ẩn dụ đời thường.\n\nSCORING & FEEDBACK:\n- Thang điểm từ 0 đến 10 cho: Hook, Clarity, Originality, Practical.\n- Trừ điểm nặng nếu dính meta-label lặp đi lặp lại hoặc hô hào giáo điều.\n- Feedback phải thẳng thắn, ưu tiên các lỗi cần sửa ngay, nhưng giữ cho sự sáng tạo của người kể chuyện còn sống.\n\nHARD CONSTRAINTS:\n- Output phải là 1 JSON object hợp lệ (RFC8259), không markdown, không code fence, không text ngoài JSON.\n\nREQUIRED OUTPUT SCHEMA (EXACT KEYS):\n{\n  \"hook\": 0,\n  \"clarity\": 0,\n  \"originality\": 0,\n  \"practical\": 0,\n  \"risk\": \"low|med|high\",\n  \"feedback\": \"string\",\n  \"qc_issues\": [\"string\"]\n}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -928,
        812
      ],
      "id": "4de0adc6-2877-4954-81b4-cd25e0807235",
      "name": "QC AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Config Main').item.json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $('Config Main').item.json.masterPrompt }}\n\nPROMPT SCENE OUTLINE: THE CONTENT ARCHITECT (V4)\n\nROLE:\n- Bạn là kiến trúc sư xây dựng khung cảnh cho video review sách dài.\n\nTASK:\n- Thiết kế dàn ý cho video 16:9 với tổng thời lượng 15-20 phút.\n\nHARD CONSTRAINTS:\n- Output phải là 1 JSON object hợp lệ (RFC8259), không markdown, không code fence, không text ngoài JSON.\n- scene_count là số nguyên từ 8 đến 14. Nếu không chắc, dùng 10.\n- Cảnh đầu (order=1) bắt buộc scene_role=\"hook\".\n- Cảnh cuối bắt buộc scene_role=\"outro\".\n- Các cảnh cốt lõi phải dày dặn, không viết cảnh siêu nhỏ.\n- Chọn 1 góc nhìn phân tích chính và 1 góc nhìn hỗ trợ (không phân mảng quá nhiều).\n- Mục tiêu từng cảnh phải có ý nghĩa sâu sắc, không chỉ lặp lại nội dung chương sách.\n- Chọn rõ `primary_lens` và `secondary_lens`, không để trống.\n\nLANGUAGE:\n- Tiếng Việt cho các giá trị nội dung (key JSON giữ tiếng Anh theo schema).\n\nREQUIRED OUTPUT SCHEMA (EXACT KEYS):\n{\n  \"angle\": \"string\",\n  \"target_audience\": \"string\",\n  \"primary_lens\": \"string\",\n  \"secondary_lens\": \"string\",\n  \"scene_count\": 10,\n  \"estimated_total_duration_sec\": 1020,\n  \"scenes\": [\n    {\n      \"order\": 1,\n      \"scene_role\": \"hook|core|outro\",\n      \"scene_goal\": \"string\",\n      \"key_points\": [\"string\"]\n    }\n  ]\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1632,
        516
      ],
      "id": "3bf17144-d8d7-44a0-a352-dd195585b8ef",
      "name": "Outline AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2528,
        804
      ],
      "id": "945f4306-8695-48ae-893a-91925fe087cb",
      "name": "Telegram Trigger",
      "webhookId": "33f37b05-be97-457e-87dd-2f45f840f5b2",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -2528,
        612
      ],
      "id": "190f4d23-2d0c-4ccf-aa02-0ecab8231409",
      "name": "When chat message received",
      "webhookId": "eff41ce5-03b3-456c-b32a-3f18639aee27",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe08b955-42dd-4719-8619-d9ffe65dc9a7",
              "name": "masterPrompt",
              "value": "ROLE: Bạn là một \"Vị Triết Gia Đời Thường\" (The Everyday Philosopher). Bạn không review sách; bạn dùng sách để giải mã những \"Sự thật ngầm hiểu\" về nỗi đau, khao khát và sự hèn nhát của con người hiện đại.   VOICE & STYLE: - Ngôn ngữ: Tiếng Việt đời thường, giàu hình ảnh, có nhịp điệu (Pacing).  - Thái độ: Thủ thỉ như tâm tình nhưng đanh thép khi cần \"tát tỉnh\" người nghe.  - Tuyệt đối cấm: Các từ AI cửa miệng như \"Tóm lại\", \"Nhìn chung\", \"Trong bối cảnh hiện nay\", \"Chúng ta cần phải\".  HÀNH VI CHIẾN THUẬT: 1. THE PSYCHOLOGICAL BRIDGE (Cầu nối tâm lý): Không chỉ đưa ví dụ đời thực, mà phải giải mã cơ chế tâm lý đằng sau hành động của nhân vật. (Ví dụ: Santiago sợ mất đàn cừu không phải vì tiền, mà vì não bộ đang bảo vệ sự an toàn giả tạo để từ chối sự trưởng thành đau đớn). 2. TỔNG HÒA 3 TẦNG: Mọi phân tích phải đi từ Cảm giác cơ thể (Sinh lý) -> Sự tự lừa dối trong suy nghĩ (Nhận thức) -> Sự trì trệ hoặc bứt phá (Hành vi). 3. TRÁNH CẤU TRÚC \"META\": Mạch kịch bản phải là một dòng chảy (Flow). Dùng những câu nối cảm xúc để chuyển cảnh thay vì tiêu đề cứng nhắc. 4. ẨN DỤ XUYÊN SUỐT: Chọn 1 hình ảnh ẩn dụ xuyên suốt kịch bản để làm \"mỏ neo\" cảm xúc cho người nghe.  LOGIC THEO THỂ LOẠI (ADAPTIVE LENS): - Self-help/Tâm lý: Phân tích theo 3 tầng (Sinh lý - Nhận thức - Hành vi). Không hô hào \"hãy tích cực\"; giải thích gốc rễ tiêu cực. - Tiểu thuyết/Ngụ ngôn: Xem hành trình nhân vật như hành trình tinh thần của người nghe. Biến bối cảnh thành biểu tượng tâm lý. - Triết học/Khoa học: Dịch ý niệm khô thành câu hỏi nhân sinh và lựa chọn thực tế.",
              "type": "string"
            },
            {
              "id": "7c7003f4-ae62-4abe-8629-0f57dfbb9d19",
              "name": "telegramChatId",
              "value": "={{ $json.callback_query?.message?.chat?.id || $json.message?.chat?.id || 6920403077}}",
              "type": "string"
            },
            {
              "id": "5640634f-aa04-4b9b-9f1a-6705558a3d72",
              "name": "chatInput",
              "value": "={{ $json.message?.text || $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "f17cdce5-1343-4c2c-a2d6-ef10cf68da88",
              "name": "ggDriveRootFolderId",
              "value": "1u1p_7y5hWKzuQhRHno2OFHjZqM9cG3pa",
              "type": "string"
            },
            {
              "id": "001bc078-cb0e-47be-806a-f6a38286f7f7",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2304,
        708
      ],
      "id": "80d18528-92a0-4365-859a-480a30658ac7",
      "name": "Config Main"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegramChatId }}",
        "text": "Đang tạo outline...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1856,
        516
      ],
      "id": "f9ec94b5-f4b9-4476-ae38-e876d0bd5429",
      "name": "Send Creating Outline Message",
      "webhookId": "5d1921ba-59cc-4e43-b3a6-c2a30eee5a98",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"angle\": \"string\",\n  \"target_audience\": \"string\",\n  \"primary_lens\": \"string\",\n  \"secondary_lens\": \"string\",\n  \"scene_count\": 10,\n  \"estimated_total_duration_sec\": 1020,\n  \"scenes\": [\n    {\n      \"order\": 1,\n      \"scene_role\": \"hook|core|outro\",\n      \"scene_goal\": \"string\",\n      \"key_points\": [\"string\"]\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1496,
        740
      ],
      "id": "c38027f9-eb12-4bac-85ce-c26433d0395d",
      "name": "Structured Outline Output Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"book\": {\n    \"title\": \"string\",\n    \"author\": \"string\",\n    \"style_keywords\": [\"string\"]\n  },\n  \"video\": {\n    \"aspect_ratio\": \"16:9\",\n    \"target_duration_min_sec\": 900,\n    \"target_duration_max_sec\": 1200,\n    \"estimated_total_duration_sec\": 0\n  },\n  \"metadata\":{\n    \"title\": \"string\",\n    \"caption\": \"string\",\n    \"thumbnail_text\": \"string\",\n    \"hashtags\": [\"#tag\"]\n  },\n  \"scenes\": [\n    {\n      \"scene_id\": \"scene_01\",\n      \"order\": 1,\n      \"scene_title\": \"string\",\n      \"scene_role\": \"hook|core|outro\",\n      \"narration_text\": \"string\",\n      \"image_prompt_en\": \"string\",\n      \"highlight_quote_vi\": \"string\",\n      \"estimated_duration_sec\": 0,\n      \"transition\": \"cut\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1144,
        888
      ],
      "id": "164722d2-496b-44ab-b98a-026859132277",
      "name": "Structured Expand Output Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"hook\": 0,\n  \"clarity\": 0,\n  \"originality\": 0,\n  \"practical\": 0,\n  \"risk\": \"low|med|high\",\n  \"feedback\": \"string\",\n  \"qc_issues\": [\"string\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -792,
        1036
      ],
      "id": "619e23b4-2945-4ed1-a567-3f6377836719",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "function createSessionToken() {\n  return Date.now().toString(36) + Math.random().toString(36).slice(2, 10);\n}\n\nfunction normalizeText(value) {\n  return String(value ?? '').replace(/\\r\\n/g, '\\n').trim();\n}\n\nfunction asObject(value) {\n  return value && typeof value === 'object' && !Array.isArray(value) ? value : {};\n}\n\nfunction asArray(value) {\n  return Array.isArray(value) ? value : [];\n}\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction asInt(value, fallback = 0) {\n  const num = Number(value);\n  return Number.isFinite(num) ? Math.floor(num) : fallback;\n}\n\nfunction slugifyBookName(value) {\n  const normalized = String(value ?? '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '');\n\n  if (!normalized) {\n    return 'book';\n  }\n\n  return normalized.slice(0, 80) || 'book';\n}\n\nfunction buildReadableContent(manifest) {\n  const book = asObject(manifest.book);\n  const video = asObject(manifest.video);\n  const metadata = asObject(manifest.metadata);\n  const scenes = asArray(manifest.scenes).sort((a, b) => asInt(a.order) - asInt(b.order));\n\n  const lines = [];\n\n  lines.push(`# ${safeText(book.title, 'Sach chua ro ten')}`);\n\n  if (safeText(book.author)) {\n    lines.push(`Tac gia: ${safeText(book.author)}`);\n  }\n\n  const styleKeywords = asArray(book.style_keywords).map((item) => safeText(item)).filter(Boolean);\n  if (styleKeywords.length) {\n    lines.push(`Style keywords: ${styleKeywords.join(', ')}`);\n  }\n\n  const aspectRatio = safeText(video.aspect_ratio, '16:9');\n  const minSec = asInt(video.target_duration_min_sec);\n  const maxSec = asInt(video.target_duration_max_sec);\n  const estSec = asInt(video.estimated_total_duration_sec);\n\n  lines.push(`Video: ${aspectRatio} | ${minSec}-${maxSec}s | est ${estSec}s`);\n\n  lines.push('');\n  lines.push('## Metadata');\n  lines.push(`Title: ${safeText(metadata.title)}`);\n\n  if (safeText(metadata.thumbnail_text)) {\n    lines.push(`Thumbnail: ${safeText(metadata.thumbnail_text)}`);\n  }\n\n  if (safeText(metadata.caption)) {\n    lines.push('');\n    lines.push('Caption:');\n    lines.push(normalizeText(metadata.caption));\n  }\n\n  const hashtags = asArray(metadata.hashtags).map((item) => safeText(item)).filter(Boolean);\n  if (hashtags.length) {\n    lines.push('');\n    lines.push(`Hashtags: ${hashtags.join(' ')}`);\n  }\n\n  for (const scene of scenes) {\n    const sceneId = safeText(scene.scene_id, 'scene');\n    const sceneTitle = safeText(scene.scene_title, sceneId);\n    const sceneRole = safeText(scene.scene_role, 'core');\n    const duration = asInt(scene.estimated_duration_sec);\n    const narration = normalizeText(scene.narration_text);\n    const quote = safeText(scene.highlight_quote_vi);\n\n    lines.push('');\n    lines.push(`## ${sceneId} - ${sceneTitle}`);\n    lines.push(`Role: ${sceneRole} | Order: ${asInt(scene.order)} | Duration: ${duration}s`);\n\n    if (quote) {\n      lines.push(`Highlight quote: \"${quote}\"`);\n    }\n\n    if (narration) {\n      lines.push('');\n      lines.push(narration);\n    }\n  }\n\n  return lines.join('\\n').replace(/\\n{3,}/g, '\\n\\n').trim();\n}\n\nconst manifestRaw = asObject($('Manifest AI Agent').first().json.output);\nconst qc = asObject($('QC AI Agent').first().json.output);\n\nif (Object.keys(manifestRaw).length === 0) {\n  throw new Error('Manifest output is missing from merged payload.');\n}\n\nif (Object.keys(qc).length === 0) {\n  throw new Error('QC output is missing from merged payload.');\n}\n\nconst bookRaw = asObject(manifestRaw.book);\nconst videoRaw = asObject(manifestRaw.video);\nconst metadataRaw = asObject(manifestRaw.metadata);\n\nconst manifest = {\n  ...manifestRaw,\n  book: {\n    title: normalizeText(bookRaw.title),\n    author: normalizeText(bookRaw.author),\n    style_keywords: asArray(bookRaw.style_keywords).map((item) => safeText(item)).filter(Boolean),\n  },\n  video: {\n    aspect_ratio: safeText(videoRaw.aspect_ratio, '16:9'),\n    target_duration_min_sec: asInt(videoRaw.target_duration_min_sec, 900),\n    target_duration_max_sec: asInt(videoRaw.target_duration_max_sec, 1200),\n    estimated_total_duration_sec: asInt(videoRaw.estimated_total_duration_sec, 0),\n  },\n  metadata: {\n    ...metadataRaw,\n    title: normalizeText(metadataRaw.title),\n    caption: normalizeText(metadataRaw.caption),\n    thumbnail_text: normalizeText(metadataRaw.thumbnail_text),\n    hashtags: asArray(metadataRaw.hashtags).map((item) => safeText(item)).filter(Boolean),\n  },\n  scenes: asArray(manifestRaw.scenes)\n    .map((scene, index) => {\n      const s = asObject(scene);\n      return {\n        ...s,\n        scene_id: safeText(s.scene_id, 'scene_' + String(index + 1).padStart(2, '0')),\n        order: asInt(s.order, index + 1),\n        scene_title: normalizeText(s.scene_title),\n        scene_role: safeText(s.scene_role, index === 0 ? 'hook' : 'core'),\n        narration_text: normalizeText(s.narration_text),\n        image_prompt_en: normalizeText(s.image_prompt_en),\n        highlight_quote_vi: normalizeText(s.highlight_quote_vi),\n        estimated_duration_sec: asInt(s.estimated_duration_sec, 0),\n        transition: safeText(s.transition, 'cut'),\n      };\n    })\n    .sort((a, b) => a.order - b.order),\n};\n\nconst contentReadable = buildReadableContent(manifest);\n\nconst sessionToken = safeText(createSessionToken(), 'session');\nconst safeToken = sessionToken.replace(/[^a-zA-Z0-9_-]+/g, '-').replace(/^-+|-+$/g, '') || 'session';\n\nconst safeBookName = slugifyBookName(\n  safeText(`${manifest.book.title}-${manifest.book.author}`, 'book')\n);\n\nreturn {\n  manifest,\n  manifestJSONString: JSON.stringify(manifest, null, 2),\n  contentReadable,\n  qc,\n  ggDriveFolderName: `${safeBookName}-${safeToken}`,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        812
      ],
      "id": "c2b300de-18cc-462e-992e-2b733b185e98",
      "name": "Prepare Manifest"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "manifestJSONString",
        "binaryPropertyName": "file",
        "options": {
          "fileName": "Manifest.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -352,
        716
      ],
      "id": "4def4593-b0b9-402a-a113-3ef54e465324",
      "name": "Convert Manifest to File"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QpcIxaHiYXDqjw4p",
          "mode": "list",
          "cachedResultUrl": "/workflow/QpcIxaHiYXDqjw4p",
          "cachedResultName": "GG Drive Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "upsert",
            "fileName": "Manifest.json",
            "binaryFieldName": "file",
            "rootFolderId": "={{ $('Config Main').item.json.ggDriveRootFolderId }}",
            "folderPath": "={{ $('Prepare Manifest').item.json.ggDriveFolderName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "rootFolderId",
              "displayName": "rootFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "folderPath",
              "displayName": "folderPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileName",
              "displayName": "fileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "binaryFieldName",
              "displayName": "binaryFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -128,
        716
      ],
      "id": "2aaf9012-301a-479f-8519-a9b42b5587be",
      "name": "GG Drive Manager Save Manifest"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Config Main').item.json.telegramChatId }}",
        "messageId": "={{ $('Send Creating Outline Message').item.json.result.message_id }}",
        "text": "QC đang Review...",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -864,
        516
      ],
      "id": "0d875b16-e41c-4b19-8443-229576ede7e6",
      "name": "Send QC is Reviewing Message",
      "webhookId": "52703847-effa-4d1c-8b3c-1a659cfa23a3",
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Config Main').item.json.telegramChatId }}",
        "messageId": "={{ $('Send Creating Outline Message').item.json.result.message_id }}",
        "text": "Đang tạo nội dung...",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1216,
        368
      ],
      "id": "c37296a4-050c-4c12-bf2a-f34017203d7f",
      "name": "Send Creating Manifest Message",
      "webhookId": "52703847-effa-4d1c-8b3c-1a659cfa23a3",
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Config Main').item.json.chatInput }}\n<<<OUTLINE_JSON>>>\n{{ JSON.stringify($json.output) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $('Config Main').item.json.masterPrompt }}\nPROMPT SCENE EXPAND: THE SCRIPTWRITER (V4)\n\nROLE:\n- Bạn là người viết kịch bản kể chuyện cho video review sách dài.\n\nTASK:\n- Mở rộng dàn ý thành một review_manifest sẵn sàng sản xuất.\n\nHARD CONSTRAINTS:\n- Output phải là 1 JSON object hợp lệ (RFC8259), không markdown, không code fence, không text ngoài JSON.\n- Giữ đúng số lượng cảnh từ dàn ý.\n- Tổng narration_text: 15.000 - 20.000 ký tự tiếng Việt.\n- Hook/Outro: 45-75 giây mỗi cảnh.\n- Core scenes: 75-120 giây mỗi cảnh, tối thiểu 45 giây.\n- scene_01 là hook, scene cuối là outro.\n- image_prompt_en: viết bằng tiếng Anh và không để trống.\n- highlight_quote_vi: tùy chọn, không có thì để chuỗi rỗng.\n- transition mặc định \"cut\".\n- metadata.title: Phải chứa một \"Mâu thuẫn\" (Tension) hoặc một \"Câu hỏi tử huyệt\" chạm đến nỗi đau/khao khát của con người hiện đại. TRÁNH: \"Review sách: [Tên sách]\". NÊN \"Tại sao bạn vẫn mãi thất bại dù đã cố gắng?\".\n- metadata.caption: Dưới 150 chữ, tiếng Việt. Cấu trúc: 1 Câu hỏi khơi gợi nỗi đau (Emotional Hook) + 1 Giá trị cốt lõi từ sách + 1 Lời hứa về sự thay đổi (Practical Takeaway).\n- metadata.thumbnail_text: Cực ngắn (dưới 6 từ), clear và curiosity-driven. Phải là một lời cảnh báo hoặc một lời mời gọi mang tính quyết định, không lặp lại Title.\n- metadata.hashtags: 5-7 tags, viết thường, không dấu. Bao gồm tên sách, tên tác giả, ngách nội dung (self-help, triết lý).\n\nANTI-RIGID CONSTRAINTS:\n- Tuyệt đối không dùng các mẫu câu lặp đi lặp lại giữa các cảnh.\n- Không biến narration thành danh sách liệt kê tóm tắt.\n- Giữ sự cân bằng giữa chiều sâu cảm xúc và tính ứng dụng thực tế.\n\nREQUIRED OUTPUT SCHEMA (EXACT KEYS):\n{\n  \"book\": {\n    \"title\": \"string\",\n    \"author\": \"string\",\n    \"style_keywords\": [\"string\"]\n  },\n  \"video\": {\n    \"aspect_ratio\": \"16:9\",\n    \"target_duration_min_sec\": 900,\n    \"target_duration_max_sec\": 1200,\n    \"estimated_total_duration_sec\": 0\n  },\n  \"metadata\": {\n    \"title\": \"string\",\n    \"caption\": \"string\",\n    \"thumbnail_text\": \"string\",\n    \"hashtags\": [\"#tag\"]\n  },\n  \"scenes\": [\n    {\n      \"scene_id\": \"scene_01\",\n      \"order\": 1,\n      \"scene_title\": \"string\",\n      \"scene_role\": \"hook|core|outro\",\n      \"narration_text\": \"string\",\n      \"image_prompt_en\": \"string\",\n      \"highlight_quote_vi\": \"string\",\n      \"estimated_duration_sec\": 0,\n      \"transition\": \"cut\"\n    }\n  ]\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1280,
        664
      ],
      "id": "99a2c42e-85b1-43c3-b056-af39d4e59bf0",
      "name": "Manifest AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('Config Main').item.json.telegramChatId }}",
        "messageId": "={{ $('Send Creating Outline Message').item.json.result.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        716
      ],
      "id": "a9fec56a-588f-4942-a9cb-f4b539305030",
      "name": "Delete Loading Message",
      "webhookId": "52703847-effa-4d1c-8b3c-1a659cfa23a3",
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Config Main').item.json.telegramChatId }}",
        "text": "=content: {{ $('GG Drive Manager Save Content Readable').item.json.fileUrl }}\nmanifest: {{ $('GG Drive Manager Save Manifest').item.json.fileUrl }}\nfolderUrl: {{ $json.folderUrl }}\n------------------\nhook: {{ $('Prepare Manifest').item.json.qc.hook }}, clarity: {{ $('Prepare Manifest').item.json.qc.clarity }}, originality: {{ $('Prepare Manifest').item.json.qc.originality }}, practical: {{ $('Prepare Manifest').item.json.qc.practical }}, risk: {{ $('Prepare Manifest').item.json.qc.risk }}\n------------------\n{{ $('Prepare Manifest').item.json.qc.feedback }}\n------------------\n{{ $('Prepare Manifest').item.json.qc.qc_issues.join('\\n') }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Stop",
                    "additionalFields": {
                      "callback_data": "stop_review"
                    }
                  },
                  {
                    "text": "Continue",
                    "additionalFields": {
                      "callback_data": "continue_review"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "=none"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        908
      ],
      "id": "db77dd13-287c-407d-8198-7f8e0a4a7638",
      "name": "Send Review Message",
      "webhookId": "5d1921ba-59cc-4e43-b3a6-c2a30eee5a98",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "contentReadable",
        "binaryPropertyName": "file",
        "options": {
          "fileName": "ContentReadable.txt"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -352,
        908
      ],
      "id": "551444f5-9b96-4349-ae96-5090b12af886",
      "name": "Convert Content Readable to File"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        96,
        812
      ],
      "id": "65108b1d-22c1-4e8e-a57f-3a2c0dc104ef",
      "name": "Merge"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QpcIxaHiYXDqjw4p",
          "mode": "list",
          "cachedResultUrl": "/workflow/QpcIxaHiYXDqjw4p",
          "cachedResultName": "GG Drive Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "upsert",
            "fileName": "ContentReadable.txt",
            "binaryFieldName": "file",
            "rootFolderId": "={{ $('Config Main').item.json.ggDriveRootFolderId }}",
            "folderPath": "={{ $('Prepare Manifest').item.json.ggDriveFolderName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "rootFolderId",
              "displayName": "rootFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "folderPath",
              "displayName": "folderPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileName",
              "displayName": "fileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "binaryFieldName",
              "displayName": "binaryFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -128,
        908
      ],
      "id": "3e3a0347-622a-4452-866e-ac536815218a",
      "name": "GG Drive Manager Save Content Readable"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query?.data  ||  \"start_review\" }}",
                    "rightValue": "start_review",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6f334ad0-5e23-49ad-882b-4a076c9c1efa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "61ad9b65-5533-4cd7-ad9d-fb800208a597",
                    "leftValue": "={{ $json.callback_query?.data  ||  \"start_review\" }}",
                    "rightValue": "stop_review",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "stop"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4fea26cf-ec59-4b35-8572-83db1faba335",
                    "leftValue": "={{ $json.callback_query?.data  ||  \"start_review\" }}",
                    "rightValue": "continue_review",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "continue"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2080,
        692
      ],
      "id": "c7e40cac-5070-44a7-bdf4-a3c6f4991cca",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Config Main').item.json.telegramChatId }}",
        "messageId": "={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}",
        "text": "={{ $('Telegram Trigger').item.json.callback_query.message.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1856,
        708
      ],
      "id": "db42e313-fc59-43f1-92e9-d864ceffe7fb",
      "name": "Edit a text message",
      "webhookId": "14ddb494-a79c-4418-9891-3f45358e27e8",
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Config Main').item.json.telegramChatId }}",
        "text": "Đang tạo media...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1856,
        900
      ],
      "id": "b8577339-08fe-4d86-937a-2e05c35ddfce",
      "name": "Send Creating Outline Message1",
      "webhookId": "5d1921ba-59cc-4e43-b3a6-c2a30eee5a98",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Outline AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Manifest AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "QC AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Outline AI Agent": {
      "main": [
        [
          {
            "node": "Send Creating Manifest Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Manifest AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Config Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Config Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QC AI Agent": {
      "main": [
        [
          {
            "node": "Prepare Manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Main": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Creating Outline Message": {
      "main": [
        [
          {
            "node": "Outline AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Outline Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Outline AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Expand Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Manifest AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "QC AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Manifest": {
      "main": [
        [
          {
            "node": "Convert Manifest to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert Content Readable to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Manifest to File": {
      "main": [
        [
          {
            "node": "GG Drive Manager Save Manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GG Drive Manager Save Manifest": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send QC is Reviewing Message": {
      "main": [
        []
      ]
    },
    "Send Creating Manifest Message": {
      "main": [
        []
      ]
    },
    "Manifest AI Agent": {
      "main": [
        [
          {
            "node": "Send QC is Reviewing Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "QC AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Content Readable to File": {
      "main": [
        [
          {
            "node": "GG Drive Manager Save Content Readable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Delete Loading Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Review Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GG Drive Manager Save Content Readable": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Delete Loading Message": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send Creating Outline Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Creating Outline Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
