workflows/book-review/book-review.workflow.json
{
  "name": "Book Review",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2-1",
              "name": "model",
              "value": "gpt-5",
              "type": "string"
            },
            {
              "id": "2-2",
              "name": "cliproxy_base_url",
              "value": "__CLIPROXY_BASE_URL__",
              "type": "string"
            },
            {
              "id": "2-3",
              "name": "cliproxy_client_key",
              "value": "__CLIPROXY_CLIENT_KEY__",
              "type": "string"
            },
            {
              "id": "2-4",
              "name": "max_turns",
              "value": 8,
              "type": "number"
            },
            {
              "id": "2-5",
              "name": "user_input",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "2-6",
              "name": "fallback_model",
              "value": "gpt-5",
              "type": "string"
            },
            {
              "id": "2-7",
              "name": "master_prompt_template",
              "value": "__BOOK_REVIEW_MASTER_PROMPT__",
              "type": "string"
            },
            {
              "id": "2-8",
              "name": "openai_model",
              "value": "gpt-5",
              "type": "string"
            },
            {
              "id": "2-9",
              "name": "qc_score_warning_threshold",
              "value": 7,
              "type": "number"
            },
            {
              "id": "2-10",
              "name": "reviewer_wait_timeout_seconds",
              "value": 900,
              "type": "number"
            },
            {
              "id": "2-11",
              "name": "session_store_name",
              "value": "book_review_sessions",
              "type": "string"
            },
            {
              "id": "2-13",
              "name": "n8n_api_url",
              "value": "__N8N_API_URL__",
              "type": "string"
            },
            {
              "id": "2-14",
              "name": "n8n_api_key",
              "value": "__N8N_API_KEY__",
              "type": "string"
            },
            {
              "id": "2-15",
              "name": "shared_notification_workflow_path",
              "value": "__SHARED_NOTIFICATION_WORKFLOW_PATH__",
              "type": "string"
            },
            {
              "id": "media-gdrive_root_folder_id-main",
              "name": "gdrive_root_folder_id",
              "value": "__GDRIVE_ROOT_FOLDER_ID__",
              "type": "string"
            },
            {
              "id": "media-gdrive_credential_name-main",
              "name": "gdrive_credential_name",
              "value": "__GDRIVE_CREDENTIAL_NAME__",
              "type": "string"
            },
            {
              "id": "media-image_api_base_url",
              "name": "image_api_base_url",
              "value": "",
              "type": "string"
            },
            {
              "id": "media-image_api_key",
              "name": "image_api_key",
              "value": "",
              "type": "string"
            },
            {
              "id": "media-image_model",
              "name": "image_model",
              "value": "nano-banana-pro",
              "type": "string"
            },
            {
              "id": "media-image_prompt_fixed",
              "name": "image_prompt_fixed",
              "value": "Tạo ảnh mô tả đoạn văn, phong cách hiện thực",
              "type": "string"
            },
            {
              "id": "media-image_aspect_ratio",
              "name": "image_aspect_ratio",
              "value": "16:9",
              "type": "string"
            },
            {
              "id": "media-image_timeout_ms",
              "name": "image_timeout_ms",
              "value": 900000,
              "type": "number"
            },
            {
              "id": "media-image_parallelism",
              "name": "image_parallelism",
              "value": 2,
              "type": "number"
            },
            {
              "id": "media-tts_api_base_url",
              "name": "tts_api_base_url",
              "value": "http://127.0.0.1:8001",
              "type": "string"
            },
            {
              "id": "media-tts_voice_id",
              "name": "tts_voice_id",
              "value": "ngochuyen",
              "type": "string"
            },
            {
              "id": "media-tts_temperature",
              "name": "tts_temperature",
              "value": 0.8,
              "type": "number"
            },
            {
              "id": "media-tts_top_k",
              "name": "tts_top_k",
              "value": 50,
              "type": "number"
            },
            {
              "id": "media-tts_max_chars",
              "name": "tts_max_chars",
              "value": 256,
              "type": "number"
            },
            {
              "id": "media-tts_silence_p",
              "name": "tts_silence_p",
              "value": 0.05,
              "type": "number"
            },
            {
              "id": "media-tts_crossfade_p",
              "name": "tts_crossfade_p",
              "value": 0.03,
              "type": "number"
            },
            {
              "id": "media-tts_timeout_ms",
              "name": "tts_timeout_ms",
              "value": 900000,
              "type": "number"
            },
            {
              "id": "media-tts_parallelism",
              "name": "tts_parallelism",
              "value": 2,
              "type": "number"
            },
            {
              "id": "media-debug-store-enabled",
              "name": "media_debug_store_enabled",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "media-debug-store-name",
              "name": "media_debug_store_name",
              "value": "book_review_media_debug",
              "type": "string"
            },
            {
              "id": "media-debug-store-include-full",
              "name": "media_debug_store_include_full",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "media-debug-store-max-chars",
              "name": "media_debug_store_max_chars",
              "value": 20000,
              "type": "number"
            },
            {
              "id": "media-text_to_images_workflow_id-main",
              "name": "text_to_images_workflow_id",
              "value": "__TEXT_TO_IMAGES_WORKFLOW_ID__",
              "type": "string"
            },
            {
              "id": "media-tts_workflow_id-main",
              "name": "tts_workflow_id",
              "value": "__TTS_WORKFLOW_ID__",
              "type": "string"
            },
            {
              "id": "main-telegram-bot-token",
              "name": "telegram_bot_token",
              "value": "__TELEGRAM_BOT_TOKEN__",
              "type": "string"
            }
          ]
        },
        "options": {},
        "includeOtherFields": true
      },
      "id": "2",
      "name": "Set Config (Main)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        -728
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json ?? {};\n\nconst primaryModel = String(input.model ?? 'gpt-5').trim();\nconst fallbackModel = String(input.fallback_model ?? 'gpt-5').trim();\nconst model = primaryModel || 'gpt-5';\nconst cliproxyBaseUrl = String(input.cliproxy_base_url ?? '').replace(/\\/$/, '');\nconst cliproxyClientKey = String(input.cliproxy_client_key ?? '');\nconst openaiModel = String(input.openai_model ?? 'gpt-5').trim() || 'gpt-5';\nconst scoreThresholdRaw = Number(input.qc_score_warning_threshold ?? 7);\nconst qcScoreWarningThreshold = Number.isFinite(scoreThresholdRaw)\n  ? Math.min(10, Math.max(0, Math.floor(scoreThresholdRaw)))\n  : 7;\nconst reviewerWaitTimeoutSecondsRaw = Number(input.reviewer_wait_timeout_seconds ?? 900);\nconst reviewerWaitTimeoutSeconds = Number.isFinite(reviewerWaitTimeoutSecondsRaw) && reviewerWaitTimeoutSecondsRaw > 10\n  ? Math.floor(reviewerWaitTimeoutSecondsRaw)\n  : 900;\nconst userInput = String(input.user_input ?? '').trim();\nconst masterPromptTemplate = String(input.master_prompt_template ?? '').trim();\nconst maxTurnsRaw = Number(input.max_turns ?? 8);\nconst maxTurns = Number.isFinite(maxTurnsRaw) && maxTurnsRaw > 0\n  ? Math.floor(maxTurnsRaw)\n  : 8;\nconst requestHelper =\n  helpers?.httpRequest ??\n  (typeof $helpers !== 'undefined' ? $helpers?.httpRequest : undefined);\n\nconst telegramBotToken = String(input.telegram_bot_token ?? '').trim();\nconst telegramChatId = String(input.chat_id ?? input.telegram_chat_id ?? input.message?.chat?.id ?? '').trim();\nconst startSource = String(input.start_source ?? '').trim();\nconst startProgressEstimateMinutes = 2;\n\nfunction baseOutput(overrides = {}) {\n  return {\n    ...input,\n    message: '',\n    full_review: '',\n    turn_count: 0,\n    stop_reason: 'completed',\n    model,\n    fallback_model: fallbackModel || null,\n    fallback_used: false,\n    user_input: userInput,\n    cliproxy_base_url: cliproxyBaseUrl,\n    cliproxy_client_key: cliproxyClientKey,\n    openai_model: openaiModel,\n    qc_score_warning_threshold: qcScoreWarningThreshold,\n    reviewer_wait_timeout_seconds: reviewerWaitTimeoutSeconds,\n    ...overrides,\n  };\n}\n\nfunction detectControlTag(value) {\n  const text = String(value ?? '').replace(/\\r\\n/g, '\\n');\n  const lines = text.split('\\n');\n\n  let cursor = 0;\n  let foundTag = null;\n\n  for (const line of lines) {\n    const markerMatch = line.match(/^\\s*-\\s*(CONTINUE|END)\\s*-\\s*$/i);\n    if (markerMatch) {\n      const markerOffset = line.search(/-/);\n      const markerStart = cursor + (markerOffset >= 0 ? markerOffset : 0);\n      const markerEnd = cursor + line.length;\n      foundTag = {\n        type: markerMatch[1].toLowerCase(),\n        start: markerStart,\n        end: markerEnd,\n      };\n    }\n\n    cursor += line.length + 1;\n  }\n\n  return foundTag;\n}\n\nfunction stripControlTag(value, controlTag, options = {}) {\n  const text = String(value ?? '').replace(/\\r\\n/g, '\\n').trimEnd();\n  if (!controlTag) {\n    return text;\n  }\n\n  if (controlTag.type === 'end' && options.keepEndTag === true) {\n    return text.slice(0, controlTag.end).trimEnd();\n  }\n\n  return text.slice(0, controlTag.start).trimEnd();\n}\n\nfunction shouldFallbackForCapacity(errorMessage) {\n  const text = String(errorMessage ?? '');\n  return /429|RESOURCE_EXHAUSTED|MODEL_CAPACITY_EXHAUSTED|No capacity available|cooling down/i.test(text);\n}\n\nfunction buildMasterPrompt(template, bookInput) {\n  return String(template ?? '').replaceAll('{{USER_INPUT}}', String(bookInput ?? ''));\n}\n\nfunction formatStartProgressText(elapsedSecondsInput = 0) {\n  const elapsedSeconds = Math.max(0, Math.floor(Number(elapsedSecondsInput) || 0));\n  const elapsedMinutes = Math.floor(elapsedSeconds / 60);\n  const remainingSeconds = elapsedSeconds % 60;\n  const elapsedLabel = elapsedMinutes > 0\n    ? (elapsedMinutes + ' phut ' + String(remainingSeconds).padStart(2, '0') + ' giay')\n    : (remainingSeconds + ' giay');\n  return 'Dang tao noi dung... (da cho ' + elapsedLabel + ' / du kien ' + startProgressEstimateMinutes + ' phut)';\n}\n\nasync function editStartProgressMessage(messageId, text) {\n  if (!telegramBotToken || !telegramChatId || typeof requestHelper !== 'function') {\n    return false;\n  }\n\n  const normalizedMessageId = Number(messageId);\n  const normalizedText = String(text ?? '').trim();\n  if (!Number.isFinite(normalizedMessageId) || normalizedMessageId <= 0 || !normalizedText) {\n    return false;\n  }\n\n  try {\n    await requestHelper({\n      method: 'POST',\n      url: 'https://api.telegram.org/bot' + telegramBotToken + '/editMessageText',\n      body: {\n        chat_id: telegramChatId,\n        message_id: Math.floor(normalizedMessageId),\n        text: normalizedText,\n        disable_web_page_preview: true,\n      },\n      json: true,\n      timeout: 15000,\n    });\n    return true;\n  } catch (_) {\n    return false;\n  }\n}\n\nasync function deleteStartProgressMessage(messageId) {\n  if (!telegramBotToken || !telegramChatId || typeof requestHelper !== 'function') {\n    return false;\n  }\n\n  const normalizedMessageId = Number(messageId);\n  if (!Number.isFinite(normalizedMessageId) || normalizedMessageId <= 0) {\n    return false;\n  }\n\n  try {\n    await requestHelper({\n      method: 'POST',\n      url: 'https://api.telegram.org/bot' + telegramBotToken + '/deleteMessage',\n      body: {\n        chat_id: telegramChatId,\n        message_id: Math.floor(normalizedMessageId),\n      },\n      json: true,\n      timeout: 15000,\n    });\n    return true;\n  } catch (_) {\n    return false;\n  }\n}\n\nasync function sendStartProgressMessage() {\n  if (startSource !== 'telegram_command' || !telegramBotToken || !telegramChatId || typeof requestHelper !== 'function') {\n    return null;\n  }\n\n  try {\n    const response = await requestHelper({\n      method: 'POST',\n      url: 'https://api.telegram.org/bot' + telegramBotToken + '/sendMessage',\n      body: {\n        chat_id: telegramChatId,\n        text: formatStartProgressText(0),\n      },\n      json: true,\n      timeout: 15000,\n    });\n\n    const messageId = Number(response?.result?.message_id ?? NaN);\n    return Number.isFinite(messageId) ? Math.floor(messageId) : null;\n  } catch (_) {\n    return null;\n  }\n}\n\nif (!userInput) {\n  return [{\n    json: baseOutput({\n      message: 'Vui lòng nhập tên sách và tác giả trong chat. Ví dụ: Sách Nhà Giả Kim của tác giả Paulo Coelho.',\n    }),\n  }];\n}\n\nif (!cliproxyBaseUrl || !cliproxyClientKey) {\n  return [{\n    json: baseOutput({\n      message: 'Thiếu cấu hình CLIProxy (base URL hoặc client key).',\n      stop_reason: 'api_error',\n    }),\n  }];\n}\n\nif (!masterPromptTemplate) {\n  return [{\n    json: baseOutput({\n      message: 'Thiếu master prompt template (field `master_prompt_template`).',\n      stop_reason: 'api_error',\n    }),\n  }];\n}\n\nif (typeof requestHelper !== 'function') {\n  return [{\n    json: baseOutput({\n      message: 'Thiếu helper HTTP trong Code node runtime (cần `helpers.httpRequest`).',\n      stop_reason: 'api_error',\n    }),\n  }];\n}\n\nconst startProgressMessageId = await sendStartProgressMessage();\nconst startProgressTickMs = 3000;\nlet startProgressTimerId = null;\nif (Number.isFinite(Number(startProgressMessageId)) && Number(startProgressMessageId) > 0) {\n  let inFlightUpdate = false;\n  const startedAtMs = Date.now();\n\n  const tickProgress = () => {\n    const elapsedSeconds = Math.floor((Date.now() - startedAtMs) / 1000);\n    if (inFlightUpdate) {\n      startProgressTimerId = setTimeout(tickProgress, startProgressTickMs);\n      return;\n    }\n\n    inFlightUpdate = true;\n    void editStartProgressMessage(\n      startProgressMessageId,\n      formatStartProgressText(elapsedSeconds),\n    ).finally(() => {\n      inFlightUpdate = false;\n      startProgressTimerId = setTimeout(tickProgress, startProgressTickMs);\n    });\n  };\n\n  startProgressTimerId = setTimeout(tickProgress, startProgressTickMs);\n}\n\nconst masterPrompt = buildMasterPrompt(masterPromptTemplate, userInput);\nconst messages = [{ role: 'user', content: masterPrompt }];\nconst chunks = [];\n\nlet stopReason = 'completed';\nlet apiError = '';\nlet turnCount = 0;\nlet activeModel = model;\nlet fallbackUsed = false;\n\nfor (let turn = 1; turn <= maxTurns; turn += 1) {\n  try {\n    const candidateModels =\n      activeModel === primaryModel &&\n      fallbackModel &&\n      fallbackModel !== primaryModel\n        ? [primaryModel, fallbackModel]\n        : [activeModel];\n\n    let response;\n    let lastError;\n    for (let idx = 0; idx < candidateModels.length; idx += 1) {\n      const candidateModel = candidateModels[idx];\n      try {\n        response = await requestHelper({\n          method: 'POST',\n          url: cliproxyBaseUrl + '/v1/chat/completions',\n          headers: {\n            Authorization: 'Bearer ' + cliproxyClientKey,\n          },\n          body: {\n            model: candidateModel,\n            messages,\n            stream: false,\n          },\n          json: true,\n          timeout: 240000,\n        });\n        if (candidateModel !== activeModel) {\n          fallbackUsed = true;\n        }\n        activeModel = candidateModel;\n        break;\n      } catch (error) {\n        lastError = error;\n        const errorText = error?.message ? String(error.message) : String(error);\n        const canTryFallback =\n          candidateModel === primaryModel &&\n          fallbackModel &&\n          fallbackModel !== primaryModel &&\n          shouldFallbackForCapacity(errorText);\n        if (canTryFallback) {\n          continue;\n        }\n        throw error;\n      }\n    }\n\n    if (!response) {\n      throw (lastError ?? new Error('Không nhận được response từ model.'));\n    }\n\n    turnCount = turn;\n\n    const chunk = String(response?.choices?.[0]?.message?.content ?? '').trim();\n    if (!chunk) {\n      break;\n    }\n\n    const controlTag = detectControlTag(chunk);\n    chunks.push({\n      content: chunk,\n      controlTag,\n    });\n    messages.push({ role: 'assistant', content: chunk });\n\n    if (controlTag?.type === 'continue') {\n      if (turn >= maxTurns) {\n        stopReason = 'max_turns';\n        break;\n      }\n\n      messages.push({ role: 'user', content: 'Continue' });\n      continue;\n    }\n\n    if (controlTag?.type === 'end') {\n      break;\n    }\n\n    break;\n  } catch (error) {\n    stopReason = 'api_error';\n    apiError = error?.message ? String(error.message) : String(error);\n    break;\n  }\n}\n\nconst mergedChunks = chunks\n  .map((chunk, index) => {\n    const isLast = index === chunks.length - 1;\n    const keepEndTag = isLast && chunk.controlTag?.type === 'end';\n    return stripControlTag(chunk.content, chunk.controlTag, { keepEndTag });\n  })\n  .filter((chunk) => chunk !== '');\n\nconst fullReview = mergedChunks.join('\\n\\n').trim();\nlet message = fullReview;\n\nif (stopReason === 'max_turns') {\n  const note = '[Lưu ý: Đã đạt giới hạn ' + maxTurns + ' lượt gọi \"Continue\".]';\n  message = fullReview ? fullReview + '\\n\\n' + note : note;\n} else if (stopReason === 'api_error') {\n  const note = apiError\n    ? '[Lỗi gọi model (' + activeModel + '): ' + apiError + ']'\n    : '[Lỗi gọi model: Không rõ nguyên nhân.]';\n  message = fullReview ? fullReview + '\\n\\n' + note : note;\n}\n\nif (!message) {\n  message = 'Không nhận được nội dung từ model.';\n}\n\nif (startProgressTimerId) {\n  clearTimeout(startProgressTimerId);\n  startProgressTimerId = null;\n}\nif (Number.isFinite(Number(startProgressMessageId)) && Number(startProgressMessageId) > 0) {\n  await deleteStartProgressMessage(startProgressMessageId);\n}\n\nreturn [{\n  json: baseOutput({\n    message,\n    full_review: fullReview,\n    turn_count: turnCount,\n    stop_reason: stopReason,\n    model: activeModel,\n    fallback_used: fallbackUsed,\n    start_progress_message_id: startProgressMessageId,\n  }),\n}];\n"
      },
      "id": "3",
      "name": "Generate Full Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -728
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction normalizeText(value) {\n  return String(value ?? '').replace(/\\r\\n/g, '\\n').trim();\n}\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction detectTrailingControlTag(text) {\n  const match = text.match(/(?:^|\\n)\\s*-\\s*(CONTINUE|END)\\s*-\\s*$/i);\n  if (!match) {\n    return null;\n  }\n\n  const start = typeof match.index === 'number' ? match.index : text.length - match[0].length;\n  return {\n    type: match[1].toLowerCase(),\n    start,\n    end: start + match[0].length,\n  };\n}\n\nfunction safeJsonParse(value, fallback = null) {\n  try {\n    return JSON.parse(String(value ?? ''));\n  } catch (_) {\n    return fallback;\n  }\n}\n\nfunction normalizeHashtags(value) {\n  const list = Array.isArray(value)\n    ? value\n    : String(value ?? '')\n      .split(/[\\n,]+/)\n      .map((item) => item.trim())\n      .filter(Boolean);\n\n  const normalized = [];\n  for (const item of list) {\n    const raw = String(item ?? '').trim();\n    if (!raw) continue;\n    const tag = '#' + raw.replace(/^#+/, '').replace(/\\s+/g, '').toLowerCase();\n    if (!tag || normalized.includes(tag)) continue;\n    normalized.push(tag);\n  }\n\n  return normalized.slice(0, 15);\n}\n\nfunction normalizeMetadata(metadataInput) {\n  const source = metadataInput && typeof metadataInput === 'object' ? metadataInput : {};\n  const hashtags = normalizeHashtags(source.hashtags);\n  return {\n    title: safeText(source.title, 'Tiêu đề video'),\n    caption: safeText(source.caption, 'Caption video'),\n    thumbnail_text: safeText(source.thumbnail_text, 'Thumbnail text'),\n    hashtags: hashtags.length > 0 ? hashtags : ['#bookreview', '#selfhelp', '#phattrienbanthan'],\n  };\n}\n\nfunction extractMetadataBlock(rawBody) {\n  const metadataRegex = /<<<METADATA_JSON>>>\\s*([\\s\\S]*?)\\s*<<<END_METADATA_JSON>>>/gi;\n  let match;\n  let lastMatch = null;\n\n  while ((match = metadataRegex.exec(rawBody)) !== null) {\n    lastMatch = {\n      start: match.index,\n      end: metadataRegex.lastIndex,\n      content: String(match[1] ?? '').trim(),\n    };\n  }\n\n  if (!lastMatch) {\n    return {\n      reviewBody: rawBody,\n      metadata: null,\n      metadata_parse_status: 'missing',\n      metadata_parse_error: null,\n    };\n  }\n\n  const parsed = safeJsonParse(lastMatch.content, null);\n  if (!parsed || typeof parsed !== 'object') {\n    return {\n      reviewBody: (rawBody.slice(0, lastMatch.start) + '\\n' + rawBody.slice(lastMatch.end)).trim(),\n      metadata: null,\n      metadata_parse_status: 'invalid_json',\n      metadata_parse_error: 'metadata_json_parse_failed',\n    };\n  }\n\n  return {\n    reviewBody: (rawBody.slice(0, lastMatch.start) + '\\n' + rawBody.slice(lastMatch.end)).trim(),\n    metadata: normalizeMetadata(parsed),\n    metadata_parse_status: 'parsed',\n    metadata_parse_error: null,\n  };\n}\n\nfunction buildFileName(order, id) {\n  const orderLabel = String(order).padStart(2, '0');\n  const safeId = String(id || 'section')\n    .trim()\n    .toLowerCase()\n    .replace(/[^a-z0-9_]+/g, '_')\n    .replace(/^_+|_+$/g, '') || 'section';\n  return orderLabel + '_' + safeId + '.txt';\n}\n\nfunction createSessionToken() {\n  return Date.now().toString(36) + Math.random().toString(36).slice(2, 10);\n}\n\nconst rawReview = normalizeText(input.full_review ?? input.message ?? '');\nconst trailingTag = detectTrailingControlTag(rawReview);\nconst reviewBeforeTag = trailingTag ? rawReview.slice(0, trailingTag.start).trimEnd() : rawReview;\n\nconst extracted = extractMetadataBlock(reviewBeforeTag);\nconst reviewBody = normalizeText(extracted.reviewBody);\n\nconst sectionRegex = /<<<SECTION\\|([^|\\n>]+)\\|([^\\n>]+)>>>\\s*([\\s\\S]*?)\\s*<<<END_SECTION>>>/g;\nconst sections = [];\nlet match;\n\nwhile ((match = sectionRegex.exec(reviewBody)) !== null) {\n  const id = String(match[1] ?? '').trim();\n  const title = String(match[2] ?? '').trim();\n  const content = String(match[3] ?? '').trim();\n  const order = sections.length + 1;\n\n  sections.push({\n    order,\n    id,\n    title,\n    content,\n    file_name: buildFileName(order, id),\n  });\n}\n\nlet parseStatus = 'parsed';\nlet parserWarning = '';\n\nif (!reviewBody) {\n  parseStatus = 'empty';\n  parserWarning = 'No review content to parse.';\n} else if (sections.length === 0) {\n  parseStatus = 'fallback_single_section';\n  parserWarning = 'Cannot find SECTION markers. Returned full review as one section.';\n  sections.push({\n    order: 1,\n    id: 'full_review',\n    title: 'Full Review',\n    content: reviewBody,\n    file_name: '01_full_review.txt',\n  });\n}\n\nconst introSection = sections.find((section) => section.id === 'intro') ?? null;\nconst outroSection = sections.find((section) => section.id === 'outro') ?? null;\nconst partSections = sections.filter((section) => /^part_\\d{2}$/i.test(section.id));\n\nconst metadata = extracted.metadata ?? normalizeMetadata(input.metadata);\nconst sessionToken = safeText(input.session_token, createSessionToken());\nconst eventType = safeText(input.event_type, 'init_review');\nconst source = safeText(input.source, 'main');\nconst instruction = safeText(input.instruction);\n\nreturn {\n  ...input,\n  session_token: sessionToken,\n  event_type: eventType,\n  source,\n  instruction,\n  full_review: reviewBody,\n  review_sections: sections,\n  review_intro: introSection?.content ?? '',\n  review_parts: partSections,\n  review_outro: outroSection?.content ?? '',\n  review_sections_count: sections.length,\n  review_control_tag: trailingTag?.type ?? null,\n  review_parse_status: parseStatus,\n  review_parser_warning: parserWarning || null,\n  metadata,\n  metadata_parse_status: extracted.metadata_parse_status,\n  metadata_parse_error: extracted.metadata_parse_error,\n  video_title: safeText(metadata.title),\n  video_caption: safeText(metadata.caption),\n  video_thumbnail_text: safeText(metadata.thumbnail_text),\n  video_hashtags: Array.isArray(metadata.hashtags) ? metadata.hashtags : [],\n};"
      },
      "id": "4",
      "name": "Parse Review Sections",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -728
      ]
    },
    {
      "parameters": {
        "source": "localFile",
        "workflowPath": "__SHARED_NOTIFICATION_WORKFLOW_PATH__",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "8",
      "name": "Notify via Shared Workflow (Main)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3584,
        -760
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "10",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -560,
        -728
      ],
      "webhookId": "fe383fa2-83b0-459e-afd6-829182dcfab4",
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3-1",
              "name": "n8n_api_url",
              "value": "__N8N_API_URL__",
              "type": "string"
            },
            {
              "id": "3-2",
              "name": "n8n_api_key",
              "value": "__N8N_API_KEY__",
              "type": "string"
            },
            {
              "id": "3-3",
              "name": "session_store_name",
              "value": "book_review_sessions",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "12",
      "name": "Set Config (Telegram)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        -728
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json ?? {};\n\nfunction mapActionToEvent(stage, action) {\n  const normalizedStage = String(stage ?? '').toLowerCase();\n  const mediaStage =\n    normalizedStage === 'media_pending' ||\n    normalizedStage === 'review_pending' ||\n    normalizedStage === 'metadata_pending';\n\n  if (!mediaStage) {\n    return '';\n  }\n\n  if (action === 'continue') return 'media_continue';\n  if (action === 'stop') return 'media_stop';\n  return '';\n}\n\nfunction callbackEventType(stageCode, actionCode) {\n  const stage =\n    stageCode === 'media' ? 'media_pending' :\n    stageCode === 'meta' ? 'metadata_pending' :\n    'review_pending';\n\n  const action =\n    actionCode === 'c' ? 'continue' :\n    actionCode === 's' ? 'stop' : '';\n\n  return {\n    stage,\n    action,\n    event_type: mapActionToEvent(stage, action),\n  };\n}\n\nconst callbackData = String(input.callback_query?.data ?? '').trim();\nif (!callbackData) {\n  // Hanh dong reviewer duoc xu ly qua inline button trong [REVIEW READY].\n  return [];\n}\n\nconst callbackMatch = callbackData.match(/^brv:(media|rvw|meta):(c|s|x):([a-z0-9_-]{8,64})$/i);\nif (!callbackMatch) {\n  return [];\n}\n\nconst stageCode = String(callbackMatch[1] ?? '').toLowerCase();\nconst actionCode = String(callbackMatch[2] ?? '').toLowerCase();\nconst token = String(callbackMatch[3] ?? '').trim();\nconst mapped = callbackEventType(stageCode, actionCode);\n\nif (!token || !mapped.event_type) {\n  return [];\n}\n\nreturn [{\n  json: {\n    event_type: mapped.event_type,\n    session_token: token,\n    instruction: '',\n    source: 'telegram',\n    router_channel: 'callback_query',\n    callback_id: String(input.callback_query?.id ?? '').trim(),\n    callback_message_id: Number(input.callback_query?.message?.message_id ?? 0),\n    callback_chat_id: String(input.callback_query?.message?.chat?.id ?? '').trim(),\n    callback_data: callbackData,\n    stage_hint: mapped.stage,\n  },\n}];\n"
      },
      "id": "13",
      "name": "Parse Telegram Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -536
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2-1",
              "name": "openai_model",
              "value": "={{ $json.openai_model || \"gpt-5\" }}",
              "type": "string"
            },
            {
              "id": "2-2",
              "name": "cliproxy_base_url",
              "value": "__CLIPROXY_BASE_URL__",
              "type": "string"
            },
            {
              "id": "2-3",
              "name": "cliproxy_client_key",
              "value": "__CLIPROXY_CLIENT_KEY__",
              "type": "string"
            },
            {
              "id": "2-4",
              "name": "n8n_api_url",
              "value": "__N8N_API_URL__",
              "type": "string"
            },
            {
              "id": "2-5",
              "name": "n8n_api_key",
              "value": "__N8N_API_KEY__",
              "type": "string"
            },
            {
              "id": "2-6",
              "name": "session_store_name",
              "value": "={{ $json.session_store_name || \"book_review_sessions\" }}",
              "type": "string"
            },
            {
              "id": "2-7",
              "name": "reviewer_wait_timeout_seconds",
              "value": "={{ $json.reviewer_wait_timeout_seconds || 900 }}",
              "type": "number"
            },
            {
              "id": "2-8",
              "name": "qc_score_warning_threshold",
              "value": "={{ $json.qc_score_warning_threshold || 7 }}",
              "type": "number"
            },
            {
              "id": "2-9",
              "name": "master_prompt_template",
              "value": "__BOOK_REVIEW_MASTER_PROMPT__",
              "type": "string"
            },
            {
              "id": "2-10",
              "name": "metadata_prompt_template",
              "value": "__BOOK_REVIEW_METADATA_PROMPT__",
              "type": "string"
            },
            {
              "id": "2-11",
              "name": "qc_prompt_template",
              "value": "__BOOK_REVIEW_QC_PROMPT__",
              "type": "string"
            },
            {
              "id": "2-12",
              "name": "review_revision_prompt_template",
              "value": "__BOOK_REVIEW_REVIEW_EDIT_PROMPT__",
              "type": "string"
            },
            {
              "id": "2-13",
              "name": "telegram_bot_token",
              "value": "__TELEGRAM_BOT_TOKEN__",
              "type": "string"
            },
            {
              "id": "2-14",
              "name": "telegram_chat_id",
              "value": "__TELEGRAM_CHAT_ID__",
              "type": "string"
            },
            {
              "id": "2-15",
              "name": "shared_notification_workflow_path",
              "value": "__SHARED_NOTIFICATION_WORKFLOW_PATH__",
              "type": "string"
            },
            {
              "id": "media-gdrive_root_folder_id-worker",
              "name": "gdrive_root_folder_id",
              "value": "={{ $json.gdrive_root_folder_id || \"\" }}",
              "type": "string"
            },
            {
              "id": "media-gdrive_credential_name-worker",
              "name": "gdrive_credential_name",
              "value": "={{ $json.gdrive_credential_name || \"\" }}",
              "type": "string"
            },
            {
              "id": "media-image_api_base_url",
              "name": "image_api_base_url",
              "value": "={{ $json.image_api_base_url || \"\" }}",
              "type": "string"
            },
            {
              "id": "media-image_api_key",
              "name": "image_api_key",
              "value": "={{ $json.image_api_key || \"\" }}",
              "type": "string"
            },
            {
              "id": "media-image_model",
              "name": "image_model",
              "value": "={{ $json.image_model || \"nano-banana-pro\" }}",
              "type": "string"
            },
            {
              "id": "media-image_prompt_fixed",
              "name": "image_prompt_fixed",
              "value": "={{ $json.image_prompt_fixed || \"Tạo ảnh mô tả đoạn văn, phong cách hiện thực\" }}",
              "type": "string"
            },
            {
              "id": "media-image_aspect_ratio",
              "name": "image_aspect_ratio",
              "value": "={{ $json.image_aspect_ratio || \"16:9\" }}",
              "type": "string"
            },
            {
              "id": "media-image_timeout_ms",
              "name": "image_timeout_ms",
              "value": "={{ $json.image_timeout_ms || 900000 }}",
              "type": "number"
            },
            {
              "id": "media-image_parallelism",
              "name": "image_parallelism",
              "value": "={{ $json.image_parallelism || 2 }}",
              "type": "number"
            },
            {
              "id": "media-tts_api_base_url",
              "name": "tts_api_base_url",
              "value": "={{ $json.tts_api_base_url || \"http://127.0.0.1:8001\" }}",
              "type": "string"
            },
            {
              "id": "media-tts_voice_id",
              "name": "tts_voice_id",
              "value": "={{ $json.tts_voice_id || \"ngochuyen\" }}",
              "type": "string"
            },
            {
              "id": "media-tts_temperature",
              "name": "tts_temperature",
              "value": "={{ $json.tts_temperature || 0.8 }}",
              "type": "number"
            },
            {
              "id": "media-tts_top_k",
              "name": "tts_top_k",
              "value": "={{ $json.tts_top_k || 50 }}",
              "type": "number"
            },
            {
              "id": "media-tts_max_chars",
              "name": "tts_max_chars",
              "value": "={{ $json.tts_max_chars || 256 }}",
              "type": "number"
            },
            {
              "id": "media-tts_silence_p",
              "name": "tts_silence_p",
              "value": "={{ $json.tts_silence_p || 0.05 }}",
              "type": "number"
            },
            {
              "id": "media-tts_crossfade_p",
              "name": "tts_crossfade_p",
              "value": "={{ $json.tts_crossfade_p || 0.03 }}",
              "type": "number"
            },
            {
              "id": "media-tts_timeout_ms",
              "name": "tts_timeout_ms",
              "value": "={{ $json.tts_timeout_ms || 900000 }}",
              "type": "number"
            },
            {
              "id": "media-tts_parallelism",
              "name": "tts_parallelism",
              "value": "={{ $json.tts_parallelism || 2 }}",
              "type": "number"
            },
            {
              "id": "media-debug-store-enabled",
              "name": "media_debug_store_enabled",
              "value": "={{ $json.media_debug_store_enabled !== undefined ? $json.media_debug_store_enabled : true }}",
              "type": "boolean"
            },
            {
              "id": "media-debug-store-name",
              "name": "media_debug_store_name",
              "value": "={{ $json.media_debug_store_name || \"book_review_media_debug\" }}",
              "type": "string"
            },
            {
              "id": "media-debug-store-include-full",
              "name": "media_debug_store_include_full",
              "value": "={{ $json.media_debug_store_include_full || false }}",
              "type": "boolean"
            },
            {
              "id": "media-debug-store-max-chars",
              "name": "media_debug_store_max_chars",
              "value": "={{ $json.media_debug_store_max_chars || 20000 }}",
              "type": "number"
            },
            {
              "id": "media-text_to_images_workflow_id-worker",
              "name": "text_to_images_workflow_id",
              "value": "={{ $json.text_to_images_workflow_id || \"__TEXT_TO_IMAGES_WORKFLOW_ID__\" }}",
              "type": "string"
            },
            {
              "id": "media-tts_workflow_id-worker",
              "name": "tts_workflow_id",
              "value": "={{ $json.tts_workflow_id || \"__TTS_WORKFLOW_ID__\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "19",
      "name": "Set Config (Worker)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        -632
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nconst requestHelper =\n  helpers?.httpRequest ??\n  (typeof $helpers !== 'undefined' ? $helpers?.httpRequest : undefined);\n\nconst cliproxyBaseUrl = String(input.cliproxy_base_url ?? '').replace(/\\/$/, '');\nconst cliproxyClientKey = String(input.cliproxy_client_key ?? '').trim();\nconst openaiModel = String(input.openai_model ?? 'gpt-5').trim() || 'gpt-5';\n\nconst n8nApiUrl = String(input.n8n_api_url ?? '').replace(/\\/$/, '');\nconst n8nApiKey = String(input.n8n_api_key ?? '').trim();\nconst sessionStoreName = String(input.session_store_name ?? 'book_review_sessions').trim() || 'book_review_sessions';\n\nconst reviewerTimeoutRaw = Number(input.reviewer_wait_timeout_seconds ?? 900);\nconst reviewerTimeoutSeconds = Number.isFinite(reviewerTimeoutRaw) && reviewerTimeoutRaw > 30\n  ? Math.floor(reviewerTimeoutRaw)\n  : 900;\n\nconst qcThresholdRaw = Number(input.qc_score_warning_threshold ?? 7);\nconst qcScoreWarningThreshold = Number.isFinite(qcThresholdRaw)\n  ? Math.min(10, Math.max(0, Math.floor(qcThresholdRaw)))\n  : 7;\n\nconst telegramBotToken = String(input.telegram_bot_token ?? '').trim();\nconst telegramChatId = String(input.telegram_chat_id ?? '').trim();\nconst telegramMessageTextLimit = 4000;\n\nconst metadataPromptTemplate = String(input.metadata_prompt_template ?? '').trim();\n\nconst eventType = String(input.event_type ?? '').trim();\nconst sessionTokenInput = String(input.session_token ?? '').trim();\nconst instructionInput = String(input.instruction ?? '').trim();\nconst sourceInput = String(input.source ?? 'worker').trim();\n\nconst REQUIRED_COLUMNS = [\n  { name: 'session_token', type: 'string' },\n  { name: 'stage', type: 'string' },\n  { name: 'deadline_at', type: 'string' },\n  { name: 'awaiting_instruction', type: 'string' },\n  { name: 'user_input', type: 'string' },\n  { name: 'full_review', type: 'string' },\n  { name: 'review_intro', type: 'string' },\n  { name: 'review_outro', type: 'string' },\n  { name: 'qc_json', type: 'string' },\n  { name: 'metadata_json', type: 'string' },\n  { name: 'review_round', type: 'number' },\n  { name: 'metadata_round', type: 'number' },\n  { name: 'commands_json', type: 'string' },\n  { name: 'stop_reason', type: 'string' },\n  { name: 'updated_at', type: 'string' },\n  { name: 'payload_json', type: 'string' },\n];\n\nconst METADATA_FIELDS = ['title', 'caption', 'thumbnail_text', 'hashtags'];\n\nfunction nowIso() {\n  return new Date().toISOString();\n}\n\nfunction addSeconds(iso, seconds) {\n  const base = new Date(iso || Date.now());\n  const next = new Date(base.getTime() + seconds * 1000);\n  return next.toISOString();\n}\n\nfunction asNumber(value, fallback = 0) {\n  const num = Number(value);\n  return Number.isFinite(num) ? num : fallback;\n}\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction safeJsonParse(value, fallback) {\n  try {\n    return JSON.parse(String(value ?? ''));\n  } catch (_) {\n    return fallback;\n  }\n}\n\nfunction safeJsonStringify(value, fallback = '{}') {\n  try {\n    return JSON.stringify(value);\n  } catch (_) {\n    return fallback;\n  }\n}\n\nfunction normalizeDriveContext(source) {\n  const input = source && typeof source === 'object' ? source : {};\n  return {\n    session_folder_id: safeText(input.session_folder_id),\n    session_folder_url: safeText(input.session_folder_url),\n    session_voice_folder_id: safeText(input.session_voice_folder_id),\n    session_voice_folder_url: safeText(input.session_voice_folder_url),\n    session_image_folder_id: safeText(input.session_image_folder_id),\n    session_image_folder_url: safeText(input.session_image_folder_url),\n    session_review_file_id: safeText(input.session_review_file_id),\n    session_review_file_url: safeText(input.session_review_file_url),\n    session_metadata_file_id: safeText(input.session_metadata_file_id),\n    session_metadata_file_url: safeText(input.session_metadata_file_url),\n    session_manifest_file_id: safeText(input.session_manifest_file_id),\n    session_manifest_file_url: safeText(input.session_manifest_file_url),\n    session_sheet_id: safeText(input.session_sheet_id),\n    session_sheet_url: safeText(input.session_sheet_url),\n  };\n}\n\nfunction mergeDriveContext(baseContext, incomingContext) {\n  const base = normalizeDriveContext(baseContext);\n  const incoming = normalizeDriveContext(incomingContext);\n  const merged = { ...base };\n\n  for (const [key, value] of Object.entries(incoming)) {\n    if (safeText(value)) {\n      merged[key] = safeText(value);\n    }\n  }\n\n  return merged;\n}\n\nfunction parseJsonObject(rawText) {\n  const raw = String(rawText ?? '').trim();\n  if (!raw) return null;\n\n  try {\n    return JSON.parse(raw);\n  } catch (_) {}\n\n  const fence = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  if (fence) {\n    try {\n      return JSON.parse(fence[1]);\n    } catch (_) {}\n  }\n\n  const first = raw.indexOf('{');\n  const last = raw.lastIndexOf('}');\n  if (first >= 0 && last > first) {\n    try {\n      return JSON.parse(raw.slice(first, last + 1));\n    } catch (_) {}\n  }\n\n  return null;\n}\n\nfunction normalizeList(value) {\n  if (Array.isArray(value)) {\n    return value.map((item) => String(item ?? '').trim()).filter(Boolean);\n  }\n\n  if (typeof value === 'string') {\n    return value\n      .split(/[\\n,]+/)\n      .map((item) => item.trim())\n      .filter(Boolean);\n  }\n\n  return [];\n}\n\nfunction normalizeHashtags(value) {\n  const tags = normalizeList(value)\n    .map((item) => item.replace(/^#*/, '').replace(/\\s+/g, ''))\n    .filter(Boolean)\n    .map((item) => '#' + item.toLowerCase());\n\n  const unique = [];\n  for (const tag of tags) {\n    if (!unique.includes(tag)) {\n      unique.push(tag);\n    }\n  }\n\n  return unique.slice(0, 15);\n}\n\nfunction stripControlTags(text) {\n  const normalized = String(text ?? '').replace(/\\r\\n/g, '\\n').trim();\n  return normalized.replace(/(?:\\n|^)\\s*-\\s*(CONTINUE|END)\\s*-\\s*$/i, '').trim();\n}\n\nfunction normalizeReviewForDisplay(reviewText) {\n  const normalized = stripControlTags(reviewText);\n  const sectionRegex = /<<<SECTION\\|([^|\\n>]+)\\|([^\\n>]+)>>>\\s*([\\s\\S]*?)\\s*<<<END_SECTION>>>/g;\n  const blocks = [];\n  let match;\n\n  while ((match = sectionRegex.exec(normalized)) !== null) {\n    const title = safeText(match[2]);\n    const content = safeText(match[3]);\n    if (!content) continue;\n    blocks.push(title ? (title + '\\n' + content) : content);\n  }\n\n  if (blocks.length > 0) {\n    return blocks.join('\\n\\n').trim();\n  }\n\n  return normalized\n    .replace(/<<<SECTION\\|[^>]+>>>/g, '')\n    .replace(/<<<END_SECTION>>>/g, '')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\nfunction extractSectionText(review, id) {\n  const regex = new RegExp('<<<SECTION\\\\|' + id + '\\\\|[^>]+>>>\\\\s*([\\\\s\\\\S]*?)\\\\s*<<<END_SECTION>>>', 'i');\n  const match = String(review ?? '').match(regex);\n  return match ? String(match[1] ?? '').trim() : '';\n}\n\nfunction ensureKeepOthersInstruction(instruction) {\n  const base = safeText(instruction);\n  if (!base) return '';\n\n  const keepPattern = /những\\s+thứ\\s+khác\\s+giữ\\s+nguyên|nhung\\s+thu\\s+khac\\s+giu\\s+nguyen|keep\\s+(the\\s+)?other\\s+fields\\s+unchanged/i;\n  if (keepPattern.test(base)) {\n    return base;\n  }\n\n  return base + '. Những thứ khác giữ nguyên.';\n}\n\nfunction detectMetadataTargets(instruction) {\n  const text = String(instruction ?? '').toLowerCase();\n  const targets = new Set();\n\n  if (!text) {\n    return targets;\n  }\n\n  if (/(\\btitle\\b|ti[eê]u\\s*đ[eề]\\b|tieu\\s*de\\b)/i.test(text)) {\n    targets.add('title');\n  }\n\n  if (/(\\bcaption\\b|ch[uú]\\s*th[ií]ch|m[oô]\\s*t[aả]\\s*ng[aă]n)/i.test(text)) {\n    targets.add('caption');\n  }\n\n  if (/(\\bthumbnail\\b|\\bthumb\\b|thumbnail\\s*text|anh\\s*bia|ảnh\\s*bìa)/i.test(text)) {\n    targets.add('thumbnail_text');\n  }\n\n  if (/(\\bhashtag\\b|hash\\s*tag|\\btags?\\b)/i.test(text)) {\n    targets.add('hashtags');\n  }\n\n  return targets;\n}\n\nfunction defaultMetadataFallback(previousMetadata) {\n  if (previousMetadata && typeof previousMetadata === 'object') {\n    return {\n      title: safeText(previousMetadata.title, 'Tiêu đề video'),\n      caption: safeText(previousMetadata.caption, 'Caption video'),\n      thumbnail_text: safeText(previousMetadata.thumbnail_text, 'Thumbnail text'),\n      hashtags: Array.isArray(previousMetadata.hashtags) && previousMetadata.hashtags.length > 0\n        ? previousMetadata.hashtags\n        : ['#bookreview', '#selfhelp', '#phattrienbanthan'],\n    };\n  }\n\n  return {\n    title: 'Tiêu đề video',\n    caption: 'Caption video',\n    thumbnail_text: 'Thumbnail text',\n    hashtags: ['#bookreview', '#selfhelp', '#phattrienbanthan'],\n  };\n}\n\nfunction normalizeMetadataBundle(metadataInput, fallbackInput = null) {\n  const fallback = defaultMetadataFallback(fallbackInput);\n  const source = metadataInput && typeof metadataInput === 'object'\n    ? metadataInput\n    : {};\n\n  const hashtags = normalizeHashtags(source.hashtags);\n\n  return {\n    title: safeText(source.title, fallback.title),\n    caption: safeText(source.caption, fallback.caption),\n    thumbnail_text: safeText(source.thumbnail_text, fallback.thumbnail_text),\n    hashtags: hashtags.length > 0 ? hashtags : fallback.hashtags,\n  };\n}\n\nasync function apiRequest(method, path, options = {}) {\n  if (typeof requestHelper !== 'function') {\n    throw new Error('Missing HTTP helper in Code node runtime.');\n  }\n\n  if (!n8nApiUrl || !n8nApiKey) {\n    throw new Error('Missing n8n API URL or API key in workflow config.');\n  }\n\n  return await requestHelper({\n    method,\n    url: n8nApiUrl + path,\n    headers: {\n      'X-N8N-API-KEY': n8nApiKey,\n    },\n    qs: options.qs,\n    body: options.body,\n    json: true,\n    timeout: 60000,\n  });\n}\n\nasync function ensureDataTable() {\n  const list = await apiRequest('GET', '/api/v1/data-tables', {\n    qs: { limit: 200 },\n  });\n\n  const tables = Array.isArray(list?.data) ? list.data : [];\n  const existing = tables.find((table) => String(table?.name ?? '') === sessionStoreName);\n  if (existing?.id) {\n    return String(existing.id);\n  }\n\n  const created = await apiRequest('POST', '/api/v1/data-tables', {\n    body: {\n      name: sessionStoreName,\n      columns: REQUIRED_COLUMNS,\n    },\n  });\n\n  const id = String(created?.id ?? '').trim();\n  if (!id) {\n    throw new Error('Failed to create session data table.');\n  }\n\n  return id;\n}\n\nasync function getSessionRow(tableId, sessionToken) {\n  if (!sessionToken) return null;\n\n  const rows = await apiRequest('GET', '/api/v1/data-tables/' + tableId + '/rows', {\n    qs: {\n      limit: 1,\n      sortBy: 'updated_at:desc',\n      filter: JSON.stringify({\n        type: 'and',\n        filters: [\n          {\n            columnName: 'session_token',\n            condition: 'eq',\n            value: sessionToken,\n          },\n        ],\n      }),\n    },\n  });\n\n  const data = Array.isArray(rows?.data) ? rows.data : [];\n  return data[0] ?? null;\n}\n\nfunction deserializeSession(row) {\n  if (!row || typeof row !== 'object') {\n    return null;\n  }\n\n  const payload = safeJsonParse(row.payload_json, {}) ?? {};\n  const payloadDriveContext = payload.drive_context && typeof payload.drive_context === 'object'\n    ? payload.drive_context\n    : {};\n\n  const qcFromRow = safeJsonParse(row.qc_json, null);\n  const metadataFromRow = safeJsonParse(row.metadata_json, null);\n  const commandsFromRow = safeJsonParse(row.commands_json, null);\n\n  const session = {\n    session_token: safeText(row.session_token, safeText(payload.session_token)),\n    stage: safeText(row.stage, safeText(payload.stage, 'review_pending')),\n    deadline_at: safeText(row.deadline_at, safeText(payload.deadline_at)),\n    awaiting_instruction: String(row.awaiting_instruction ?? payload.awaiting_instruction ?? '') === '1' || payload.awaiting_instruction === true,\n    user_input: safeText(row.user_input, safeText(payload.user_input)),\n    full_review: safeText(row.full_review, safeText(payload.full_review)),\n    review_intro: safeText(row.review_intro, safeText(payload.review_intro)),\n    review_outro: safeText(row.review_outro, safeText(payload.review_outro)),\n    review_round: asNumber(row.review_round, asNumber(payload.review_round, 0)),\n    metadata_round: asNumber(row.metadata_round, asNumber(payload.metadata_round, 0)),\n    stop_reason: safeText(row.stop_reason, safeText(payload.stop_reason)),\n    updated_at: safeText(row.updated_at, safeText(payload.updated_at, nowIso())),\n    turn_count: asNumber(payload.turn_count, 0),\n    model: safeText(payload.model, ''),\n    fallback_model: safeText(payload.fallback_model, ''),\n    fallback_used: Boolean(payload.fallback_used),\n    max_turns: asNumber(payload.max_turns, 8),\n    openai_model: safeText(payload.openai_model, openaiModel),\n    qc_score_warning_threshold: asNumber(payload.qc_score_warning_threshold, qcScoreWarningThreshold),\n    reviewer_wait_timeout_seconds: asNumber(payload.reviewer_wait_timeout_seconds, reviewerTimeoutSeconds),\n    metadata_error: safeText(payload.metadata_error),\n    ...mergeDriveContext(payloadDriveContext, payload),\n  };\n\n  session.qc = qcFromRow || payload.qc || null;\n  session.metadata = metadataFromRow || payload.metadata || null;\n  session.commands = Array.isArray(commandsFromRow)\n    ? commandsFromRow\n    : Array.isArray(payload.commands)\n      ? payload.commands\n      : [];\n\n  return session;\n}\n\nfunction bootstrapSessionFromInput(sessionToken) {\n  const fullReview = safeText(input.full_review, safeText(input.message));\n  const inputDriveContext = normalizeDriveContext(input);\n  const metadataFromInput = input.metadata && typeof input.metadata === 'object'\n    ? input.metadata\n    : null;\n\n  return {\n    session_token: sessionToken,\n    stage: 'media_pending',\n    deadline_at: addSeconds(nowIso(), reviewerTimeoutSeconds),\n    awaiting_instruction: false,\n    user_input: safeText(input.user_input),\n    full_review: fullReview,\n    review_intro: safeText(input.review_intro, extractSectionText(fullReview, 'intro')),\n    review_outro: safeText(input.review_outro, extractSectionText(fullReview, 'outro')),\n    qc: null,\n    metadata: metadataFromInput,\n    review_round: 0,\n    metadata_round: 0,\n    commands: [],\n    stop_reason: safeText(input.stop_reason),\n    updated_at: nowIso(),\n    turn_count: asNumber(input.turn_count, 0),\n    model: safeText(input.model),\n    fallback_model: safeText(input.fallback_model),\n    fallback_used: Boolean(input.fallback_used),\n    max_turns: asNumber(input.max_turns, 8),\n    openai_model: safeText(input.openai_model, openaiModel),\n    qc_score_warning_threshold: asNumber(input.qc_score_warning_threshold, qcScoreWarningThreshold),\n    reviewer_wait_timeout_seconds: asNumber(input.reviewer_wait_timeout_seconds, reviewerTimeoutSeconds),\n    metadata_error: '',\n    ...inputDriveContext,\n  };\n}\n\nfunction serializeSession(session) {\n  const qcJson = safeJsonStringify(session.qc ?? {}, '{}');\n  const metadataJson = safeJsonStringify(session.metadata ?? {}, '{}');\n  const commands = Array.isArray(session.commands) ? session.commands.slice(-200) : [];\n  const commandsJson = safeJsonStringify(commands, '[]');\n\n  const payload = {\n    session_token: session.session_token,\n    stage: session.stage,\n    deadline_at: session.deadline_at,\n    awaiting_instruction: session.awaiting_instruction === true,\n    user_input: session.user_input,\n    full_review: session.full_review,\n    review_intro: session.review_intro,\n    review_outro: session.review_outro,\n    review_round: asNumber(session.review_round, 0),\n    metadata_round: asNumber(session.metadata_round, 0),\n    stop_reason: session.stop_reason,\n    updated_at: session.updated_at,\n    turn_count: asNumber(session.turn_count, 0),\n    model: session.model,\n    fallback_model: session.fallback_model,\n    fallback_used: Boolean(session.fallback_used),\n    max_turns: asNumber(session.max_turns, 8),\n    openai_model: session.openai_model,\n    qc_score_warning_threshold: asNumber(session.qc_score_warning_threshold, qcScoreWarningThreshold),\n    reviewer_wait_timeout_seconds: asNumber(session.reviewer_wait_timeout_seconds, reviewerTimeoutSeconds),\n    metadata_error: safeText(session.metadata_error),\n    session_folder_id: safeText(session.session_folder_id),\n    session_folder_url: safeText(session.session_folder_url),\n    session_voice_folder_id: safeText(session.session_voice_folder_id),\n    session_voice_folder_url: safeText(session.session_voice_folder_url),\n    session_image_folder_id: safeText(session.session_image_folder_id),\n    session_image_folder_url: safeText(session.session_image_folder_url),\n    session_review_file_id: safeText(session.session_review_file_id),\n    session_review_file_url: safeText(session.session_review_file_url),\n    session_metadata_file_id: safeText(session.session_metadata_file_id),\n    session_metadata_file_url: safeText(session.session_metadata_file_url),\n    session_manifest_file_id: safeText(session.session_manifest_file_id),\n    session_manifest_file_url: safeText(session.session_manifest_file_url),\n    session_sheet_id: safeText(session.session_sheet_id),\n    session_sheet_url: safeText(session.session_sheet_url),\n    drive_context: normalizeDriveContext(session),\n    qc: session.qc ?? null,\n    metadata: session.metadata ?? null,\n    commands,\n  };\n\n  return {\n    session_token: session.session_token,\n    stage: safeText(session.stage, 'review_pending'),\n    deadline_at: safeText(session.deadline_at),\n    awaiting_instruction: session.awaiting_instruction === true ? '1' : '',\n    user_input: safeText(session.user_input),\n    full_review: safeText(session.full_review),\n    review_intro: safeText(session.review_intro),\n    review_outro: safeText(session.review_outro),\n    qc_json: qcJson,\n    metadata_json: metadataJson,\n    review_round: asNumber(session.review_round, 0),\n    metadata_round: asNumber(session.metadata_round, 0),\n    commands_json: commandsJson,\n    stop_reason: safeText(session.stop_reason),\n    updated_at: safeText(session.updated_at, nowIso()),\n    payload_json: safeJsonStringify(payload, '{}'),\n  };\n}\n\nasync function saveSession(tableId, session) {\n  const rowData = serializeSession(session);\n\n  await apiRequest('POST', '/api/v1/data-tables/' + tableId + '/rows/upsert', {\n    body: {\n      filter: {\n        type: 'and',\n        filters: [\n          {\n            columnName: 'session_token',\n            condition: 'eq',\n            value: rowData.session_token,\n          },\n        ],\n      },\n      data: rowData,\n      returnData: false,\n    },\n  });\n}\n\nfunction appendCommand(session, command) {\n  if (!Array.isArray(session.commands)) {\n    session.commands = [];\n  }\n\n  session.commands.push({\n    ts: nowIso(),\n    source: sourceInput,\n    event_type: eventType,\n    ...command,\n  });\n\n  if (session.commands.length > 400) {\n    session.commands = session.commands.slice(-400);\n  }\n}\n\nasync function callOpenAI(messages, options = {}) {\n  if (!cliproxyBaseUrl || !cliproxyClientKey || typeof requestHelper !== 'function') {\n    throw new Error('Missing CLIProxy/OpenAI configuration or HTTP helper.');\n  }\n\n  const body = {\n    model: openaiModel,\n    messages,\n    stream: false,\n  };\n\n  if (options.jsonObject === true) {\n    body.response_format = { type: 'json_object' };\n  }\n\n  return await requestHelper({\n    method: 'POST',\n    url: cliproxyBaseUrl + '/v1/chat/completions',\n    headers: {\n      Authorization: 'Bearer ' + cliproxyClientKey,\n    },\n    body,\n    json: true,\n    timeout: Number(options.timeoutMs ?? 180000),\n  });\n}\n\nasync function generateMetadataBundle(session, instruction, previousMetadata) {\n  const reviewerInstruction = safeText(instruction);\n  const adjustedInstruction = ensureKeepOthersInstruction(reviewerInstruction);\n  const requestedTargets = detectMetadataTargets(adjustedInstruction);\n\n  const promptPayload = {\n    task: previousMetadata\n      ? 'Refine existing metadata for a Vietnamese book-review video.'\n      : 'Generate metadata for a Vietnamese book-review video.',\n    requirements: {\n      output: 'json_only',\n      fields: ['title', 'caption', 'thumbnail_text', 'hashtags'],\n      style: 'high-retention, concrete, non-clickbait',\n      language: 'vi',\n      keep_unmentioned_fields: true,\n      never_output_fields: ['youtube_description_long', 'description', 'video_description'],\n    },\n    request: safeText(session.user_input),\n    reviewer_instruction: adjustedInstruction,\n    previous_metadata: previousMetadata ?? null,\n    review_excerpt: safeText(normalizeReviewForDisplay(session.full_review)),\n  };\n\n  const systemPrompt = safeText(\n    metadataPromptTemplate,\n    'You are a short-video growth strategist. Return JSON only with exactly these keys: title, caption, thumbnail_text, hashtags.'\n  );\n\n  const response = await callOpenAI([\n    {\n      role: 'system',\n      content: systemPrompt,\n    },\n    {\n      role: 'user',\n      content: JSON.stringify(promptPayload),\n    },\n  ], { jsonObject: true });\n\n  const content = String(response?.choices?.[0]?.message?.content ?? '').trim();\n  const parsed = parseJsonObject(content);\n  if (!parsed || typeof parsed !== 'object') {\n    throw new Error('Metadata response is not valid JSON object.');\n  }\n\n  const resolved = {\n    title: safeText(parsed.title, previousMetadata?.title || 'Tiêu đề video'),\n    caption: safeText(parsed.caption, previousMetadata?.caption || 'Caption video'),\n    thumbnail_text: safeText(parsed.thumbnail_text, previousMetadata?.thumbnail_text || 'Thumbnail text'),\n    hashtags: normalizeHashtags(parsed.hashtags),\n  };\n\n  if (resolved.hashtags.length === 0) {\n    resolved.hashtags = Array.isArray(previousMetadata?.hashtags) && previousMetadata.hashtags.length > 0\n      ? previousMetadata.hashtags\n      : ['#bookreview', '#selfhelp', '#phattrienbanthan'];\n  }\n\n  const hasSelectiveInstruction =\n    Boolean(previousMetadata) &&\n    adjustedInstruction.length > 0 &&\n    requestedTargets.size > 0 &&\n    requestedTargets.size < METADATA_FIELDS.length;\n\n  if (hasSelectiveInstruction) {\n    if (!requestedTargets.has('title')) {\n      resolved.title = safeText(previousMetadata?.title, resolved.title);\n    }\n    if (!requestedTargets.has('caption')) {\n      resolved.caption = safeText(previousMetadata?.caption, resolved.caption);\n    }\n    if (!requestedTargets.has('thumbnail_text')) {\n      resolved.thumbnail_text = safeText(previousMetadata?.thumbnail_text, resolved.thumbnail_text);\n    }\n    if (!requestedTargets.has('hashtags')) {\n      resolved.hashtags = Array.isArray(previousMetadata?.hashtags) && previousMetadata.hashtags.length > 0\n        ? previousMetadata.hashtags\n        : resolved.hashtags;\n    }\n  }\n\n  return resolved;\n}\n\nasync function telegramApi(method, params = {}, useGet = false) {\n  if (!telegramBotToken || typeof requestHelper !== 'function') {\n    return null;\n  }\n\n  return await requestHelper({\n    method: useGet ? 'GET' : 'POST',\n    url: 'https://api.telegram.org/bot' + telegramBotToken + '/' + method,\n    qs: useGet ? params : undefined,\n    body: useGet ? undefined : params,\n    json: true,\n    timeout: 60000,\n  });\n}\n\nasync function answerCallback(callbackId, text) {\n  const id = safeText(callbackId);\n  if (!id) return;\n  const normalizedText = safeText(text).slice(0, 180);\n  const payload = {\n    callback_query_id: id,\n    show_alert: false,\n  };\n  if (normalizedText) {\n    payload.text = normalizedText;\n  }\n\n  try {\n    await telegramApi('answerCallbackQuery', payload, false);\n  } catch (_) {}\n}\n\nasync function lockCallbackActionMessage(callbackChatId, callbackMessageId, text) {\n  const chatId = safeText(callbackChatId);\n  const messageId = Number(callbackMessageId);\n  if (!chatId || !Number.isFinite(messageId) || messageId <= 0) return;\n\n  try {\n    await telegramApi('editMessageReplyMarkup', {\n      chat_id: chatId,\n      message_id: Math.floor(messageId),\n      reply_markup: {\n        inline_keyboard: [],\n      },\n    }, false);\n  } catch (_) {}\n}\n\nfunction isPendingReviewerStage(stageValue) {\n  const stage = safeText(stageValue).toLowerCase();\n  return stage === 'media_pending' || stage === 'review_pending' || stage === 'metadata_pending';\n}\n\nfunction isSessionTimedOut(session) {\n  if (!session || !isPendingReviewerStage(session.stage)) {\n    return false;\n  }\n\n  const deadlineText = safeText(session.deadline_at);\n  if (!deadlineText) {\n    return false;\n  }\n\n  const deadlineMs = Date.parse(deadlineText);\n  if (!Number.isFinite(deadlineMs)) {\n    return false;\n  }\n\n  return Date.now() > deadlineMs;\n}\n\nfunction buildTimeoutActionText(session) {\n  const stage = safeText(session?.stage).toLowerCase();\n  if (stage === 'media_pending') {\n    return 'Da qua thoi gian cho tao media, nhung van tiep tuc xu ly theo yeu cau.';\n  }\n  if (stage === 'metadata_pending') {\n    return 'Da qua thoi gian cho metadata, nhung van tiep tuc xu ly theo yeu cau.';\n  }\n\n  return 'Da qua thoi gian cho review, nhung van tiep tuc xu ly theo yeu cau.';\n}\n\nfunction buildSessionNotFoundActionText() {\n  return 'Session khong con hieu luc.';\n}\n\nfunction buildActionInfoText(eventType, instructionText) {\n  if (eventType === 'review_continue' || eventType === 'metadata_continue' || eventType === 'media_continue') {\n    return '';\n  }\n  if (eventType === 'review_stop' || eventType === 'metadata_stop' || eventType === 'media_stop') {\n    return 'Da ghi nhan dung.';\n  }\n\n  return 'Da ghi nhan thao tac.';\n}\n\nasync function sendTelegramMessage(text, inlineKeyboardRows) {\n  if (!telegramBotToken || !telegramChatId || typeof requestHelper !== 'function') {\n    return null;\n  }\n\n  const payload = {\n    chat_id: telegramChatId,\n    text: String(text ?? '').slice(0, telegramMessageTextLimit),\n  };\n\n  if (Array.isArray(inlineKeyboardRows) && inlineKeyboardRows.length > 0) {\n    payload.reply_markup = {\n      inline_keyboard: inlineKeyboardRows,\n    };\n  }\n\n  return await telegramApi('sendMessage', payload, false);\n}\n\nasync function deleteTelegramMessage(messageId, chatIdOverride = '') {\n  const chatId = safeText(chatIdOverride, telegramChatId);\n  const normalizedMessageId = Number(messageId);\n  if (!chatId || !Number.isFinite(normalizedMessageId) || normalizedMessageId <= 0) {\n    return false;\n  }\n\n  try {\n    await telegramApi('deleteMessage', {\n      chat_id: chatId,\n      message_id: Math.floor(normalizedMessageId),\n    }, false);\n    return true;\n  } catch (_) {\n    return false;\n  }\n}\n\nfunction formatStepProgressText(stepText, estimatedMinutes, elapsedSecondsInput, prefix = '') {\n  const normalizedStepText = safeText(stepText);\n  const normalizedPrefix = safeText(prefix);\n  const estimate = Math.max(1, Math.floor(Number(estimatedMinutes) || 1));\n  const elapsedSeconds = Math.max(0, Math.floor(Number(elapsedSecondsInput) || 0));\n  const elapsedMinutes = Math.floor(elapsedSeconds / 60);\n  const remainingSeconds = elapsedSeconds % 60;\n  const elapsedLabel = elapsedMinutes > 0\n    ? (elapsedMinutes + ' phut ' + String(remainingSeconds).padStart(2, '0') + ' giay')\n    : (remainingSeconds + ' giay');\n  const core = normalizedStepText + ' (da cho ' + elapsedLabel + ' / du kien ' + estimate + ' phut)';\n  return normalizedPrefix ? (normalizedPrefix + '\\n' + core) : core;\n}\n\nasync function editTelegramMessage(messageId, text, chatIdOverride = '') {\n  const chatId = safeText(chatIdOverride, telegramChatId);\n  const normalizedMessageId = Number(messageId);\n  const normalizedText = safeText(text);\n  if (!chatId || !Number.isFinite(normalizedMessageId) || normalizedMessageId <= 0 || !normalizedText) {\n    return false;\n  }\n\n  try {\n    await telegramApi('editMessageText', {\n      chat_id: chatId,\n      message_id: Math.floor(normalizedMessageId),\n      text: normalizedText.slice(0, telegramMessageTextLimit),\n      disable_web_page_preview: true,\n    }, false);\n    return true;\n  } catch (_) {\n    return false;\n  }\n}\n\nasync function sendStepProgressMessage(stepText, estimatedMinutes = 1, options = {}) {\n  const normalizedStepText = safeText(stepText);\n  if (!normalizedStepText) {\n    return null;\n  }\n\n  const minutes = Math.max(1, Math.floor(Number(estimatedMinutes) || 1));\n  const prefix = safeText(options.prefix);\n  const text = formatStepProgressText(normalizedStepText, minutes, 0, prefix);\n\n  try {\n    const response = await sendTelegramMessage(text);\n    const messageId = Number(response?.result?.message_id);\n    const normalizedMessageId = Number.isFinite(messageId) && messageId > 0\n      ? Math.floor(messageId)\n      : null;\n    if (!normalizedMessageId) {\n      return null;\n    }\n\n    return {\n      message_id: normalizedMessageId,\n      chat_id: safeText(options.chatId, telegramChatId),\n      step_text: normalizedStepText,\n      estimated_minutes: minutes,\n      prefix,\n      started_at_ms: Date.now(),\n    };\n  } catch (_) {\n    return null;\n  }\n}\n\nasync function withStepProgressMessage(stepText, estimatedMinutes, workerFn, options = {}) {\n  const progressMessage = await sendStepProgressMessage(stepText, estimatedMinutes, options);\n  let timerId = null;\n\n  if (progressMessage?.message_id) {\n    let inFlightUpdate = false;\n    timerId = setInterval(() => {\n      if (inFlightUpdate) {\n        return;\n      }\n\n      inFlightUpdate = true;\n      const elapsedSeconds = Math.floor((Date.now() - Number(progressMessage.started_at_ms || Date.now())) / 1000);\n      const updatedText = formatStepProgressText(\n        progressMessage.step_text,\n        progressMessage.estimated_minutes,\n        elapsedSeconds,\n        progressMessage.prefix,\n      );\n\n      void editTelegramMessage(\n        progressMessage.message_id,\n        updatedText,\n        progressMessage.chat_id,\n      ).finally(() => {\n        inFlightUpdate = false;\n      });\n    }, 3000);\n  }\n\n  try {\n    return await workerFn();\n  } finally {\n    if (timerId) {\n      clearInterval(timerId);\n    }\n    if (progressMessage?.message_id) {\n      await deleteTelegramMessage(progressMessage.message_id, progressMessage.chat_id);\n    }\n  }\n}\n\nif (!eventType) {\n  return {\n    status: 'skipped',\n    stop_reason: 'missing_event_type',\n    event_type: '',\n    source: sourceInput,\n    session_token: sessionTokenInput,\n    notify_message: '',\n  };\n}\n\nlet tableId = '';\nlet saveError = '';\nlet workerError = '';\nlet notifyMessage = '';\nconst pendingProgressMessageIds = [];\nlet ttsProgressMessageId = null;\nlet ttsProgressStartedAtMs = null;\nlet ttsProgressEstimatedMinutes = 3;\nlet imageProgressMessageId = null;\nlet shouldSendQcAction = false;\nlet qcActionHeadline = 'QC REVIEW';\nlet shouldSendMetadataAction = false;\nlet metadataActionHeadline = 'SAN SANG TAO MEDIA';\n\ntry {\n  tableId = await ensureDataTable();\n} catch (error) {\n  workerError = error?.message ? String(error.message) : String(error);\n}\n\nconst hasTelegramCallback = sourceInput === 'telegram' && safeText(input.callback_id).length > 0;\n\nif (!tableId) {\n  if (hasTelegramCallback) {\n    const callbackErrorText = 'He thong dang ban. Thu lai sau.';\n    await answerCallback(input.callback_id, callbackErrorText);\n    await lockCallbackActionMessage(input.callback_chat_id, input.callback_message_id, callbackErrorText);\n  }\n\n  return {\n    ...input,\n    status: 'failed',\n    stop_reason: 'datastore_error',\n    notify_message: 'Worker cannot access data store: ' + workerError,\n  };\n}\n\nconst sessionToken = safeText(sessionTokenInput, safeText(input.reviewer_session_token));\nlet session = null;\n\nif (sessionToken) {\n  const row = await getSessionRow(tableId, sessionToken);\n  session = deserializeSession(row);\n}\n\nif (!session && eventType === 'init_review' && sessionToken) {\n  session = bootstrapSessionFromInput(sessionToken);\n}\n\nif (!session) {\n  if (hasTelegramCallback) {\n    const missingSessionText = buildSessionNotFoundActionText();\n    await answerCallback(input.callback_id, missingSessionText);\n    await lockCallbackActionMessage(input.callback_chat_id, input.callback_message_id, missingSessionText);\n  }\n\n  return {\n    ...input,\n    status: 'failed',\n    stop_reason: 'session_not_found',\n    session_token: sessionToken,\n    notify_message: 'Session not found for event ' + eventType + '. token=' + sessionToken,\n  };\n}\n\nconst resolvedDriveContext = mergeDriveContext(\n  normalizeDriveContext(session),\n  normalizeDriveContext(input),\n);\nObject.assign(session, resolvedDriveContext);\n\nconst timedOutSession = hasTelegramCallback && isSessionTimedOut(session);\n\nif (hasTelegramCallback) {\n  const actionInfoText = timedOutSession\n    ? buildTimeoutActionText(session)\n    : buildActionInfoText(eventType, instructionInput);\n  await answerCallback(input.callback_id, actionInfoText);\n  await lockCallbackActionMessage(input.callback_chat_id, input.callback_message_id, actionInfoText);\n}\n\nif (timedOutSession) {\n  appendCommand(session, {\n    stage: safeText(session.stage, 'media_pending'),\n    action: 'timeout_override_continue',\n    instruction: '',\n  });\n}\n\nif (!session.review_intro) {\n  session.review_intro = extractSectionText(session.full_review, 'intro');\n}\nif (!session.review_outro) {\n  session.review_outro = extractSectionText(session.full_review, 'outro');\n}\n\nconst instructionText = safeText(instructionInput);\nconst normalizedEventType =\n  eventType === 'review_continue' || eventType === 'metadata_continue' ? 'media_continue' :\n  eventType === 'auto_continue_review' || eventType === 'auto_continue_metadata' ? 'auto_continue_media' :\n  eventType === 'review_stop' || eventType === 'metadata_stop' ? 'media_stop' :\n  eventType;\n\ntry {\n  if (normalizedEventType === 'init_review') {\n    if (!session.full_review) {\n      throw new Error('Session has empty review content.');\n    }\n\n    session.stage = 'media_pending';\n    session.awaiting_instruction = false;\n    session.deadline_at = addSeconds(nowIso(), reviewerTimeoutSeconds);\n    session.stop_reason = '';\n    session.metadata_error = '';\n\n    const metadataFromInput = input.metadata && typeof input.metadata === 'object'\n      ? input.metadata\n      : null;\n\n    if (metadataFromInput) {\n      session.metadata = normalizeMetadataBundle(metadataFromInput, session.metadata);\n    }\n\n    if (!session.metadata || !safeText(session.metadata.title) || !safeText(session.metadata.caption)) {\n      try {\n        session.metadata = await generateMetadataBundle(session, '', session.metadata ?? null);\n        session.metadata = normalizeMetadataBundle(session.metadata, session.metadata);\n        session.metadata_error = '';\n      } catch (error) {\n        const errorText = error?.message ? String(error.message) : String(error);\n        session.metadata_error = errorText;\n        session.metadata = normalizeMetadataBundle(defaultMetadataFallback(session.metadata), session.metadata);\n      }\n    } else {\n      session.metadata = normalizeMetadataBundle(session.metadata, session.metadata);\n    }\n\n    appendCommand(session, {\n      stage: 'media',\n      action: 'init',\n      instruction: '',\n    });\n\n    shouldSendQcAction = true;\n    qcActionHeadline = 'QC REVIEW';\n    shouldSendMetadataAction = true;\n    metadataActionHeadline = 'SAN SANG TAO MEDIA';\n\n    notifyMessage = 'Review va metadata da san sang, dang cho lenh tao media.';\n  } else if (normalizedEventType === 'media_continue' || normalizedEventType === 'auto_continue_media') {\n    session.awaiting_instruction = false;\n    session.stage = 'completed';\n    session.deadline_at = '';\n    session.stop_reason = 'completed';\n\n    appendCommand(session, {\n      stage: 'media',\n      action: normalizedEventType === 'auto_continue_media' ? 'auto_continue' : 'continue',\n      instruction: '',\n    });\n\n    const ttsProgressMessage = await sendStepProgressMessage('Dang tao TTS...', 3);\n    if (Number.isFinite(Number(ttsProgressMessage?.message_id))) {\n      ttsProgressMessageId = Math.floor(Number(ttsProgressMessage.message_id));\n      pendingProgressMessageIds.push(ttsProgressMessageId);\n      const startedAtMs = Number(ttsProgressMessage?.started_at_ms);\n      if (Number.isFinite(startedAtMs) && startedAtMs > 0) {\n        ttsProgressStartedAtMs = Math.floor(startedAtMs);\n      }\n      const estimatedMinutes = Number(ttsProgressMessage?.estimated_minutes);\n      if (Number.isFinite(estimatedMinutes) && estimatedMinutes > 0) {\n        ttsProgressEstimatedMinutes = Math.floor(estimatedMinutes);\n      }\n    }\n\n    const imageProgressMessage = await sendStepProgressMessage('Dang tao anh...', 3);\n    if (Number.isFinite(Number(imageProgressMessage?.message_id))) {\n      imageProgressMessageId = Math.floor(Number(imageProgressMessage.message_id));\n      pendingProgressMessageIds.push(imageProgressMessageId);\n    }\n\n    notifyMessage = normalizedEventType === 'auto_continue_media'\n      ? 'Auto-continued media stage and started media pipeline.'\n      : 'Media approved. Started media pipeline (TTS + image).';\n  } else if (normalizedEventType === 'media_stop') {\n    session.awaiting_instruction = false;\n    session.stage = 'completed';\n    session.deadline_at = '';\n    session.stop_reason = 'reviewer_stopped';\n\n    appendCommand(session, {\n      stage: 'media',\n      action: 'stop',\n      instruction: '',\n    });\n\n    await sendTelegramMessage('Da dung luong tao media theo yeu cau reviewer. Session: ' + session.session_token);\n    notifyMessage = 'Reviewer stopped at media stage.';\n  } else {\n    throw new Error('Unsupported event_type: ' + normalizedEventType);\n  }\n} catch (error) {\n  workerError = error?.message ? String(error.message) : String(error);\n  appendCommand(session, {\n    stage: String(session.stage ?? 'unknown'),\n    action: 'worker_error',\n    instruction: instructionText,\n    error: workerError,\n  });\n  notifyMessage = 'Worker error: ' + workerError;\n  session.stop_reason = session.stop_reason || 'worker_error';\n}\n\nsession.updated_at = nowIso();\n\nif (session.stage === 'completed' && !session.stop_reason) {\n  session.stop_reason = 'completed';\n}\n\nconst qc = session.qc ?? null;\nconst metadata = session.metadata ?? null;\n\ntry {\n  await saveSession(tableId, session);\n} catch (error) {\n  saveError = error?.message ? String(error.message) : String(error);\n}\n\nconst status = workerError || saveError ? 'failed' : 'success';\nconst finalNotifyMessage = [notifyMessage, workerError ? 'worker_error=' + workerError : '', saveError ? 'save_error=' + saveError : '']\n  .filter(Boolean)\n  .join(' | ')\n  .slice(0, 1200);\n\nreturn {\n  ...input,\n  status,\n  event_type: normalizedEventType,\n  source: sourceInput,\n  session_token: session.session_token,\n  reviewer_stage: session.stage,\n  stop_reason: session.stop_reason || '',\n  notify_message: finalNotifyMessage || 'Worker processed event.',\n  worker_error: workerError || null,\n  save_error: saveError || null,\n  full_review: session.full_review,\n  review_intro: session.review_intro,\n  review_outro: session.review_outro,\n  metadata: metadata,\n  metadata_status: metadata ? 'generated' : session.stage === 'media_pending' ? 'pending' : 'skip',\n  metadata_error: session.metadata_error || null,\n  video_title: safeText(metadata?.title),\n  video_caption: safeText(metadata?.caption),\n  video_thumbnail_text: safeText(metadata?.thumbnail_text),\n  video_hashtags: Array.isArray(metadata?.hashtags) ? metadata.hashtags : [],\n  qc_status: qc?.qc_status ?? 'missing',\n  hook_score: qc?.hook_score ?? null,\n  clarity_score: qc?.clarity_score ?? null,\n  originality_score: qc?.originality_score ?? null,\n  practical_value_score: qc?.practical_value_score ?? null,\n  risk_level: qc?.risk_level ?? 'med',\n  feedback: safeText(qc?.feedback),\n  score_warnings: Array.isArray(qc?.score_warnings) ? qc.score_warnings : [],\n  reviewer_commands: Array.isArray(session.commands) ? session.commands : [],\n  should_send_qc_action: shouldSendQcAction,\n  qc_action_headline: shouldSendQcAction ? qcActionHeadline : '',\n  should_send_metadata_action: shouldSendMetadataAction,\n  metadata_action_headline: shouldSendMetadataAction ? metadataActionHeadline : '',\n  should_send_media_action: shouldSendMetadataAction,\n  media_action_headline: shouldSendMetadataAction ? metadataActionHeadline : '',\n  session_folder_id: safeText(session.session_folder_id),\n  session_folder_url: safeText(session.session_folder_url),\n  session_voice_folder_id: safeText(session.session_voice_folder_id),\n  session_voice_folder_url: safeText(session.session_voice_folder_url),\n  session_image_folder_id: safeText(session.session_image_folder_id),\n  session_image_folder_url: safeText(session.session_image_folder_url),\n  session_review_file_id: safeText(session.session_review_file_id),\n  session_review_file_url: safeText(session.session_review_file_url),\n  session_metadata_file_id: safeText(session.session_metadata_file_id),\n  session_metadata_file_url: safeText(session.session_metadata_file_url),\n  session_manifest_file_id: safeText(session.session_manifest_file_id),\n  session_manifest_file_url: safeText(session.session_manifest_file_url),\n  session_sheet_id: safeText(session.session_sheet_id),\n  session_sheet_url: safeText(session.session_sheet_url),\n  tts_progress_message_id: Number.isFinite(Number(ttsProgressMessageId)) ? Math.floor(Number(ttsProgressMessageId)) : null,\n  tts_progress_started_at_ms: Number.isFinite(Number(ttsProgressStartedAtMs)) ? Math.floor(Number(ttsProgressStartedAtMs)) : null,\n  tts_progress_estimated_minutes: Number.isFinite(Number(ttsProgressEstimatedMinutes))\n    ? Math.max(1, Math.floor(Number(ttsProgressEstimatedMinutes)))\n    : 3,\n  image_progress_message_id: Number.isFinite(Number(imageProgressMessageId)) ? Math.floor(Number(imageProgressMessageId)) : null,\n  pending_progress_message_ids: pendingProgressMessageIds,\n};\n"
      },
      "id": "20",
      "name": "Handle Reviewer Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -632
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nconst hasEventType = String(input.event_type ?? '').trim().length > 0;\n\nif (!hasEventType) {\n  const skippedPayload = {\n    status: 'info',\n    source_workflow: 'Book Review',\n    summary: 'Worker skipped notify payload (no event_type).',\n    details: [\n      'event_type=' + String(input.event_type ?? ''),\n    ].join(' | '),\n    message: '',\n    message_ack: '',\n    session_token: String(input.session_token ?? '').trim(),\n    reviewer_stage: String(input.reviewer_stage ?? '').trim(),\n    stop_reason: String(input.stop_reason ?? '').trim(),\n    notify_targets: 'none',\n    telegram_bot_token: String(input.telegram_bot_token ?? '').trim(),\n    telegram_chat_id: String(input.telegram_chat_id ?? '').trim(),\n    ggchat_webhook_url: String(input.ggchat_webhook_url ?? '').trim(),\n    shared_notification_workflow_path: String(input.shared_notification_workflow_path ?? '').trim(),\n    chat_priority: 5,\n    skip_chat_response: true,\n    timestamp: new Date().toISOString(),\n  };\n\n  return {\n    ...input,\n    ...skippedPayload,\n  };\n}\n\nconst rawStatus = String(input.status ?? 'failed').trim() === 'success' ? 'success' : 'failed';\nconst eventType = String(input.event_type ?? '').trim();\nconst token = String(input.session_token ?? '').trim();\nconst stage = String(input.reviewer_stage ?? '').trim();\nconst stopReason = String(input.stop_reason ?? '').trim();\n\nconst isFailure = rawStatus === 'failed';\nconst isFinalSuccess = eventType === 'media_continue' || eventType === 'auto_continue_media';\n\nconst status = isFailure ? 'failed' : (isFinalSuccess ? 'success' : 'info');\n\nconst summary = [\n  'Worker processed',\n  eventType ? 'event=' + eventType : 'event=unknown',\n  token ? 'session=' + token : '',\n  stage ? 'stage=' + stage : '',\n].filter(Boolean).join(' ');\n\nconst details = [\n  stopReason ? 'stop_reason=' + stopReason : null,\n  input.worker_error ? 'worker_error=' + String(input.worker_error).slice(0, 220) : null,\n  input.save_error ? 'save_error=' + String(input.save_error).slice(0, 220) : null,\n  input.notify_message ? 'notify=' + String(input.notify_message).slice(0, 400) : null,\n  input.media_pipeline_status ? 'media_status=' + String(input.media_pipeline_status).slice(0, 120) : null,\n  input.session_assets_package_status ? 'session_assets=' + String(input.session_assets_package_status).slice(0, 120) : null,\n  input.session_folder_url ? 'session_folder=' + String(input.session_folder_url).slice(0, 220) : null,\n  input.session_sheet_url ? 'session_sheet=' + String(input.session_sheet_url).slice(0, 220) : null,\n  input.session_review_file_url ? 'review_file=' + String(input.session_review_file_url).slice(0, 220) : null,\n  input.session_metadata_file_url ? 'metadata_file=' + String(input.session_metadata_file_url).slice(0, 220) : null,\n  input.session_manifest_file_url ? 'manifest_file=' + String(input.session_manifest_file_url).slice(0, 220) : null,\n  input.progress_cleanup_status ? 'progress_cleanup=' + String(input.progress_cleanup_status).slice(0, 120) : null,\n  Array.isArray(input.media_assets) ? 'media_assets=' + String(input.media_assets.length) : null,\n].filter(Boolean).join(' | ') || 'worker-event-processed';\n\nconst notifyTargets = 'none';\n\nconst payload = {\n  status,\n  source_workflow: 'Book Review',\n  summary,\n  details,\n  message: '',\n  message_ack: '',\n  session_token: token,\n  reviewer_stage: stage,\n  stop_reason: stopReason,\n  notify_targets: notifyTargets,\n  telegram_bot_token: String(input.telegram_bot_token ?? '').trim(),\n  telegram_chat_id: String(input.telegram_chat_id ?? '').trim(),\n  ggchat_webhook_url: String(input.ggchat_webhook_url ?? '').trim(),\n  shared_notification_workflow_path: String(input.shared_notification_workflow_path ?? '').trim(),\n  chat_priority: 20,\n  skip_chat_response: true,\n  timestamp: new Date().toISOString(),\n};\n\nreturn {\n  ...input,\n  ...payload,\n};"
      },
      "id": "22",
      "name": "Build Notify Payload (Worker)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        -632
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json ?? {};\n\nconst text = String(input.message?.text ?? '').trim();\nif (!text) {\n  return [];\n}\n\nconst match = text.match(/^(?:\\/)?book(?:[\\s_-]?review)\\s*[:\\-]?\\s*([\\s\\S]*)$/i);\nif (!match) {\n  return [];\n}\n\nconst userInput = String(match[1] ?? '').trim();\n\nreturn [{\n  json: {\n    ...input,\n    chatInput: userInput,\n    user_input: userInput,\n    start_source: 'telegram_command',\n    start_command: 'book-review',\n    start_message_text: text,\n    chat_id: String(input.message?.chat?.id ?? '').trim(),\n    user_id: String(input.message?.from?.id ?? '').trim(),\n  },\n}];\n"
      },
      "id": "24",
      "name": "Parse Telegram Start Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -824
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "book-review-telegram-file-bridge",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "25",
      "name": "Telegram File Bridge Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -560,
        -312
      ],
      "webhookId": "book-review-telegram-file-bridge"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = ($json && typeof $json.body === 'object' && $json.body !== null) ? $json.body : ($json ?? {});\n\nconst telegramBotToken = String(input.telegram_bot_token ?? '').trim();\nconst telegramChatId = String(input.telegram_chat_id ?? '').trim();\nconst fileName = String(input.file_name ?? 'book-review.txt').trim().replace(/[^a-zA-Z0-9._-]/g, '_') || 'book-review.txt';\nconst caption = String(input.caption ?? '').trim().slice(0, 1000);\nconst text = String(input.text ?? '').trim();\n\nif (!telegramBotToken || !telegramChatId) {\n  throw new Error('Missing telegram_bot_token or telegram_chat_id for file bridge.');\n}\n\nif (!text) {\n  throw new Error('Empty text for Telegram file bridge.');\n}\n\nreturn {\n  telegram_bot_token: telegramBotToken,\n  telegram_chat_id: telegramChatId,\n  file_name: fileName,\n  caption,\n  text,\n};"
      },
      "id": "26",
      "name": "Prepare Telegram File Bridge Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        -312
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "text",
        "binaryPropertyName": "document",
        "options": {
          "fileName": "={{ $json.file_name }}"
        }
      },
      "id": "27",
      "name": "Convert Telegram Bridge Text To File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -112,
        -312
      ]
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $item(0).$node[\"Prepare Telegram File Bridge Payload\"].json[\"telegram_chat_id\"] }}",
        "binaryData": true,
        "binaryPropertyName": "document",
        "additionalFields": {
          "caption": "={{ $item(0).$node[\"Prepare Telegram File Bridge Payload\"].json[\"caption\"] }}",
          "fileName": "={{ $item(0).$node[\"Prepare Telegram File Bridge Payload\"].json[\"file_name\"] }}"
        }
      },
      "id": "28",
      "name": "Send Telegram File Bridge Document",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        -312
      ],
      "webhookId": "f77e06a7-86fc-4c3f-bf91-993a4cbdbc1a",
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction normalizeText(value) {\n  return String(value ?? '').replace(/\\r\\n/g, '\\n').trim();\n}\n\nfunction parseReviewSections(reviewText) {\n  const content = normalizeText(reviewText);\n  if (!content) return [];\n\n  const sectionRegex = /<<<SECTION\\|([^|\\n>]+)\\|([^\\n>]+)>>>([\\s\\S]*?)<<<END_SECTION>>>/g;\n  const sections = [];\n  let match;\n\n  while ((match = sectionRegex.exec(content)) !== null) {\n    const partName = safeText(match[1]).toLowerCase() || 'part_unknown';\n    const sectionText = normalizeText(match[3]);\n    if (!sectionText) continue;\n    sections.push({\n      partName,\n      text: sectionText,\n    });\n  }\n\n  if (sections.length > 0) {\n    return sections;\n  }\n\n  return [{\n    partName: 'full_review',\n    text: content,\n  }];\n}\n\nfunction splitSentences(text) {\n  const normalized = normalizeText(text)\n    .replace(/\\n+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  if (!normalized) {\n    return [];\n  }\n\n  const matches = normalized.match(/[^.!?…]+[.!?…]+|[^.!?…]+$/g) ?? [];\n  const sentences = matches\n    .map((item) => item.trim())\n    .filter(Boolean);\n\n  return sentences.length > 0 ? sentences : [normalized];\n}\n\nfunction buildChunks(sections, maxSentencesPerChunk = 3) {\n  const chunks = [];\n  let globalOrder = 0;\n\n  for (const section of sections) {\n    const partName = safeText(section.partName, 'part_unknown');\n    const sentences = splitSentences(section.text);\n\n    if (sentences.length === 0) {\n      continue;\n    }\n\n    let localIndex = 0;\n    for (let cursor = 0; cursor < sentences.length; cursor += maxSentencesPerChunk) {\n      localIndex += 1;\n      const block = sentences.slice(cursor, cursor + maxSentencesPerChunk);\n      const text = block.join(' ').trim();\n      if (!text) continue;\n\n      const chunkKey = partName + ':' + localIndex;\n      globalOrder += 1;\n      chunks.push({\n        order: globalOrder,\n        chunk_key: chunkKey,\n        partName,\n        index: localIndex,\n        text,\n        sentence_count: block.length,\n      });\n    }\n  }\n\n  return chunks;\n}\n\nconst sections = parseReviewSections(input.full_review ?? '');\nconst chunks = buildChunks(sections, 3);\nconst shouldRun = chunks.length > 0;\nconst eventType = safeText(input.event_type);\nconst isMediaApprovedEvent =\n  eventType === 'media_continue' ||\n  eventType === 'auto_continue_media' ||\n  eventType === 'metadata_continue' ||\n  eventType === 'auto_continue_metadata';\nconst hasImageProvider = safeText(input.image_api_base_url) !== '';\nconst hasTtsProvider = safeText(input.tts_api_base_url, 'http://127.0.0.1:8001') !== '';\nconst runImage = isMediaApprovedEvent && shouldRun && hasImageProvider;\nconst runTts = isMediaApprovedEvent && shouldRun && hasTtsProvider;\nconst runAnyMedia = runImage || runTts;\nconst mediaOutputMode = safeText(input.media_output_mode, 'drive_export');\nconst mediaOutputFolderId = safeText(input.media_output_folder_id, safeText(input.gdrive_root_folder_id, safeText(input.gdrive_root_folder_id_default)));\nconst pipelineStatus = runAnyMedia\n  ? 'processing'\n  : isMediaApprovedEvent\n    ? (shouldRun ? 'skipped_no_media_provider' : 'skipped_empty_content')\n    : 'skipped_non_media_trigger';\n\nreturn {\n  ...input,\n  media_should_run: runAnyMedia,\n  media_run_image: runImage,\n  media_run_tts: runTts,\n  media_chunks: chunks,\n  tts_progress_total_files: runTts ? chunks.length : 0,\n  output_mode: mediaOutputMode,\n  drive_output_folder_id: mediaOutputFolderId,\n  media_assets: runAnyMedia ? [] : (Array.isArray(input.media_assets) ? input.media_assets : []),\n  media_debug_full: runAnyMedia ? [] : (Array.isArray(input.media_debug_full) ? input.media_debug_full : []),\n  media_pipeline_status: pipelineStatus,\n  media_debug_phase: runAnyMedia ? 'prepared' : 'skipped_prepared',\n  media_started_at: runAnyMedia ? new Date().toISOString() : (input.media_started_at ?? null),\n};\n"
      },
      "id": "30",
      "name": "Process Media Assets (Worker)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -760
      ]
    },
    {
      "id": "31",
      "name": "Generate Image Assets (Worker)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1792,
        -856
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "={{ $json.text_to_images_workflow_id || \"__TEXT_TO_IMAGES_WORKFLOW_ID__\" }}"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "32",
      "name": "Generate TTS Assets (Worker)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1792,
        -664
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "={{ $json.tts_workflow_id || \"__TTS_WORKFLOW_ID__\" }}"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "33",
      "name": "Merge Media Results (Worker)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2016,
        -760
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true,
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          }
        }
      }
    },
    {
      "id": "34",
      "name": "Finalize Media Assets (Worker)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        -632
      ],
      "parameters": {
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction normalizeDuration(value) {\n  const number = Number(value);\n  if (!Number.isFinite(number) || number < 0) return 0;\n  return Math.round(number * 1000) / 1000;\n}\n\nfunction clampInt(value, fallback, min, max) {\n  const number = Number(value);\n  const normalized = Number.isFinite(number) ? Math.floor(number) : fallback;\n  return Math.min(max, Math.max(min, normalized));\n}\n\nfunction computeElapsedSeconds(startedAt, finishedAtIso) {\n  const started = new Date(startedAt ?? '');\n  const finished = new Date(finishedAtIso ?? '');\n  if (Number.isNaN(started.getTime()) || Number.isNaN(finished.getTime())) {\n    return 0;\n  }\n\n  const elapsed = (finished.getTime() - started.getTime()) / 1000;\n  if (!Number.isFinite(elapsed) || elapsed < 0) {\n    return 0;\n  }\n\n  return Math.round(elapsed * 1000) / 1000;\n}\n\nfunction buildChunkFromItem(item, fallbackIndex) {\n  const partName = safeText(item?.partName, 'part_unknown');\n  const index = clampInt(item?.index, fallbackIndex, 1, 1000000);\n  const text = safeText(item?.text);\n  const sentenceCount = clampInt(item?.sentence_count, 0, 0, 3);\n  const chunkKey = safeText(item?.chunk_key, partName + ':' + index);\n\n  return {\n    partName,\n    index,\n    text,\n    chunk_key: chunkKey,\n    sentence_count: sentenceCount,\n  };\n}\n\nconst imageItems = Array.isArray(input.media_image_items) ? input.media_image_items : [];\nconst ttsItems = Array.isArray(input.media_tts_items) ? input.media_tts_items : [];\nconst chunksFromInput = Array.isArray(input.media_chunks) ? input.media_chunks : [];\n\nconst shouldRun = input.media_should_run === true || imageItems.length > 0 || ttsItems.length > 0;\nif (!shouldRun) {\n  const finishedAt = new Date().toISOString();\n  return {\n    ...input,\n    media_assets: [],\n    media_debug_full: [],\n    media_pipeline_status: safeText(input.media_pipeline_status, 'skipped_non_final_success'),\n    media_debug_phase: 'finalized',\n    media_finished_at: finishedAt,\n    media_elapsed_seconds: computeElapsedSeconds(input.media_started_at, finishedAt),\n    media_stats: {\n      chunk_count: chunksFromInput.length,\n      image_generated_count: 0,\n      tts_generated_count: 0,\n      failed_count: 0,\n      skipped_count: chunksFromInput.length,\n    },\n  };\n}\n\nconst fallbackChunkMap = new Map();\nlet fallbackIndex = 0;\nfor (const item of [...imageItems, ...ttsItems]) {\n  fallbackIndex += 1;\n  const chunk = buildChunkFromItem(item, fallbackIndex);\n  if (!chunk.chunk_key) continue;\n  if (!fallbackChunkMap.has(chunk.chunk_key)) {\n    fallbackChunkMap.set(chunk.chunk_key, chunk);\n  }\n}\n\nconst chunks = chunksFromInput.length > 0\n  ? chunksFromInput\n  : Array.from(fallbackChunkMap.values());\n\nconst imageByChunkKey = new Map(imageItems.map((item) => [String(item?.chunk_key ?? ''), item]));\nconst ttsByChunkKey = new Map(ttsItems.map((item) => [String(item?.chunk_key ?? ''), item]));\nconst runImage = input.media_run_image === true;\nconst runTts = input.media_run_tts === true;\n\nconst merged = chunks.map((chunk, idx) => {\n  const fallbackChunk = buildChunkFromItem(chunk, idx + 1);\n  const chunkKey = fallbackChunk.chunk_key;\n  const image = imageByChunkKey.get(chunkKey) ?? {};\n  const tts = ttsByChunkKey.get(chunkKey) ?? {};\n\n  const reasons = [image.error_reason, tts.error_reason]\n    .map((reason) => safeText(reason))\n    .filter(Boolean);\n\n  return {\n    partName: fallbackChunk.partName,\n    index: fallbackChunk.index,\n    text: fallbackChunk.text,\n    chunk_key: chunkKey,\n    sentence_count: fallbackChunk.sentence_count,\n    image: safeText(image.image),\n    video: safeText(image.video),\n    voice: safeText(tts.voice),\n    duration: normalizeDuration(tts.duration),\n    image_status: safeText(image.image_status, runImage ? 'unknown' : 'skipped_not_requested'),\n    tts_status: safeText(tts.tts_status, runTts ? 'unknown' : 'skipped_not_requested'),\n    voice_mime_type: safeText(tts.voice_mime_type),\n    voice_bytes: clampInt(tts.voice_bytes, 0, 0, 100000000),\n    voice_drive_file_id: safeText(tts.voice_drive_file_id),\n    voice_drive_url: safeText(tts.voice_drive_url),\n    error_reason: reasons.length > 0 ? reasons.join(' | ') : null,\n  };\n});\n\nconst failedCount = merged.filter((item) => item.image_status === 'failed' || item.tts_status === 'failed').length;\nconst skippedCount = merged.filter((item) =>\n  String(item.image_status).startsWith('skipped') ||\n  String(item.tts_status).startsWith('skipped')\n).length;\n\nconst pipelineStatus =\n  failedCount > 0\n    ? 'completed_with_partial_failures'\n    : skippedCount > 0\n      ? 'completed_with_skips'\n      : 'completed';\n\nconst finishedAt = new Date().toISOString();\n\nreturn {\n  ...input,\n  media_should_run: true,\n  media_chunks: chunks,\n  media_assets: merged,\n  media_debug_full: merged,\n  media_pipeline_status: pipelineStatus,\n  media_debug_phase: 'finalized',\n  media_finished_at: finishedAt,\n  media_elapsed_seconds: computeElapsedSeconds(input.media_started_at, finishedAt),\n  media_stats: {\n    chunk_count: chunks.length,\n    image_generated_count: merged.filter((item) => item.image_status === 'generated').length,\n    tts_generated_count: merged.filter((item) => item.tts_status === 'generated').length,\n    failed_count: failedCount,\n    skipped_count: skippedCount,\n  },\n};"
      }
    },
    {
      "id": "br-if-run-media-worker",
      "name": "If Run Media (Worker)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1568,
        -760
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.media_should_run === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "br-if-supported-event-worker",
      "name": "If Supported Reviewer Event (Worker)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1168,
        -632
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ [\"init_review\",\"media_continue\",\"media_stop\",\"auto_continue_media\",\"review_continue\",\"metadata_continue\",\"review_stop\",\"metadata_stop\"].includes(String($json.event_type || \"\").trim()) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "br-set-unsupported-event-worker",
      "name": "Prepare Unsupported Event Result (Worker)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        -344
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "unsupported-status",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "unsupported-notify",
              "name": "notify_message",
              "value": "={{ \"Unsupported reviewer event_type: \" + String($json.event_type || \"\") }}",
              "type": "string"
            },
            {
              "id": "unsupported-stop",
              "name": "stop_reason",
              "value": "unsupported_event_type",
              "type": "string"
            },
            {
              "id": "unsupported-debug-phase",
              "name": "media_debug_phase",
              "value": "finalized",
              "type": "string"
            },
            {
              "id": "unsupported-media-status",
              "name": "media_pipeline_status",
              "value": "skipped_non_final_success",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      }
    },
    {
      "id": "317b9270-cb8f-4c37-b0ff-1649776fb365",
      "name": "Prepare Session Drive Context (Worker)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        -952
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction slugifyBookName(value) {\n  const normalized = String(value ?? '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '');\n\n  if (!normalized) {\n    return 'book';\n  }\n\n  return normalized.slice(0, 80) || 'book';\n}\n\nconst sessionToken = safeText(input.session_token, 'session');\nconst safeToken = sessionToken\n  .replace(/[^a-zA-Z0-9_-]+/g, '-')\n  .replace(/^-+|-+$/g, '') || 'session';\nconst safeBookName = slugifyBookName(safeText(input.user_input, 'book'));\n\nconst rootFolderId = safeText(\n  input.gdrive_root_folder_id,\n  safeText(input.gdrive_root_folder_id_default),\n);\n\nconst sessionFolderName = 'book-review-' + safeBookName + '-' + safeToken;\nconst sessionFolderId = safeText(input.session_folder_id);\nconst sessionVoiceFolderId = safeText(input.session_voice_folder_id);\nconst sessionImageFolderId = safeText(input.session_image_folder_id);\nconst shouldCreateSessionFolder = !sessionFolderId;\n\nreturn {\n  ...input,\n  session_drive_root_folder_id: rootFolderId,\n  session_drive_should_create: Boolean(rootFolderId) && shouldCreateSessionFolder,\n  session_drive_folder_name: sessionFolderName,\n  session_voice_folder_name: 'voice',\n  session_image_folder_name: 'image',\n  session_folder_id: sessionFolderId,\n  session_folder_url: safeText(input.session_folder_url),\n  session_voice_folder_id: safeText(sessionVoiceFolderId, sessionFolderId),\n  session_voice_folder_url: safeText(input.session_voice_folder_url, safeText(input.session_folder_url)),\n  session_image_folder_id: safeText(sessionImageFolderId, sessionFolderId),\n  session_image_folder_url: safeText(input.session_image_folder_url, safeText(input.session_folder_url)),\n};\n"
      }
    },
    {
      "id": "aad06e30-a7d8-4d57-851d-2c0332544fb3",
      "name": "If Session Drive Enabled (Worker)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        -952
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.session_drive_should_create === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "0d586dd0-f5ba-42c2-b191-50eb8f064f8d",
      "name": "Google Drive Create Session Folder (Worker)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2016,
        -1064
      ],
      "parameters": {
        "resource": "folder",
        "operation": "create",
        "authentication": "oAuth2",
        "name": "={{ $json.session_drive_folder_name || (\"book-review-\" + ($json.session_token || \"session\")) }}",
        "folderId": "={{ $json.session_drive_root_folder_id }}"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__GDRIVE_CREDENTIAL_ID__",
          "name": "__GDRIVE_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "id": "3a4aeb64-b157-4414-ab85-584002cce0be",
      "name": "Merge Session Folder Context (Worker)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2240,
        -952
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true,
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput2",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          }
        }
      }
    },
    {
      "id": "708a6982-7ba9-45cc-a76e-c15e96b34ecb",
      "name": "Prepare Session Folder Id (Worker)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        -952
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nconst folderId = safeText(input.id, safeText(input.folderId, safeText(input.session_folder_id)));\nconst folderUrl = folderId\n  ? 'https://drive.google.com/drive/folders/' + folderId\n  : safeText(input.session_folder_url);\n\nreturn {\n  ...input,\n  session_folder_id: folderId,\n  session_folder_url: folderUrl,\n};"
      }
    },
    {
      "id": "12ba9707-87d9-447e-8f92-e283f28befc4",
      "name": "Google Drive Create Voice Folder (Worker)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2688,
        -1064
      ],
      "parameters": {
        "resource": "folder",
        "operation": "create",
        "authentication": "oAuth2",
        "name": "={{ $json.session_voice_folder_name || \"voice\" }}",
        "folderId": "={{ $json.session_folder_id }}"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__GDRIVE_CREDENTIAL_ID__",
          "name": "__GDRIVE_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "id": "eb80e2f0-774e-42d3-9b8c-272c39ecafb9",
      "name": "Merge Voice Folder Context (Worker)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2912,
        -952
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true,
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput2",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          }
        }
      }
    },
    {
      "id": "a83e56d4-ee82-4259-8810-39106be399d9",
      "name": "Prepare Voice Folder Id (Worker)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        -952
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nconst folderId = safeText(input.id, safeText(input.folderId, safeText(input.session_voice_folder_id)));\nconst folderUrl = folderId\n  ? 'https://drive.google.com/drive/folders/' + folderId\n  : safeText(input.session_voice_folder_url);\n\nreturn {\n  ...input,\n  session_voice_folder_id: folderId,\n  session_voice_folder_url: folderUrl,\n};"
      }
    },
    {
      "id": "024f1b1a-106c-4b0b-98a4-9e33e2e7f1d1",
      "name": "Google Drive Create Image Folder (Worker)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3360,
        -1064
      ],
      "parameters": {
        "resource": "folder",
        "operation": "create",
        "authentication": "oAuth2",
        "name": "={{ $json.session_image_folder_name || \"image\" }}",
        "folderId": "={{ $json.session_folder_id }}"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__GDRIVE_CREDENTIAL_ID__",
          "name": "__GDRIVE_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "id": "ca3c3fea-1c37-4262-a1c4-d85afe4f792c",
      "name": "Merge Image Folder Context (Worker)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3584,
        -952
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true,
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput2",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          }
        }
      }
    },
    {
      "id": "aae2eacc-a3ce-4463-a633-a2952cd57f6d",
      "name": "Prepare Image Folder Id (Worker)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3808,
        -952
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nconst folderId = safeText(input.id, safeText(input.folderId, safeText(input.session_image_folder_id)));\nconst folderUrl = folderId\n  ? 'https://drive.google.com/drive/folders/' + folderId\n  : safeText(input.session_image_folder_url);\n\nreturn {\n  ...input,\n  session_image_folder_id: folderId,\n  session_image_folder_url: folderUrl,\n};"
      }
    },
    {
      "id": "773c4057-6d58-414a-ac05-51318c51705d",
      "name": "Finalize Media Routing (Worker)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4032,
        -952
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nconst defaultOutputFolder = safeText(\n  input.drive_output_folder_id,\n  safeText(input.session_drive_root_folder_id),\n);\n\nconst imageFolderId = safeText(input.session_image_folder_id, defaultOutputFolder);\nconst ttsFolderId = safeText(input.session_voice_folder_id, defaultOutputFolder);\n\nreturn {\n  ...input,\n  output_mode: 'drive_export',\n  image_drive_output_folder_id: imageFolderId,\n  tts_drive_output_folder_id: ttsFolderId,\n};"
      }
    },
    {
      "id": "796d3d2d-1f14-4c4e-9602-0d678170bc61",
      "name": "Prepare Image Workflow Input (Worker)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        -920
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nconst driveOutputFolderId = safeText(input.image_drive_output_folder_id, safeText(input.drive_output_folder_id));\n\nif (input.media_run_image !== true) {\n  return {\n    ...input,\n    output_mode: 'inline',\n    drive_output_folder_id: driveOutputFolderId,\n    media_should_run: false,\n    media_chunks: [],\n    chunk_manifest: [],\n  };\n}\n\nreturn {\n  ...input,\n  output_mode: 'drive_export',\n  drive_output_folder_id: driveOutputFolderId,\n  media_should_run: true,\n  chunk_manifest: Array.isArray(input.media_chunks) ? input.media_chunks : [],\n};"
      }
    },
    {
      "id": "991f5e08-7c1a-4c8f-a1d9-ccf50617b683",
      "name": "Prepare TTS Workflow Input (Worker)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        -600
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction asInt(value, fallback = 0) {\n  const number = Number(value);\n  if (!Number.isFinite(number)) {\n    return fallback;\n  }\n  return Math.floor(number);\n}\n\nconst chunks = Array.isArray(input.media_chunks) ? input.media_chunks : [];\nconst driveOutputFolderId = safeText(input.tts_drive_output_folder_id, safeText(input.drive_output_folder_id));\nconst ttsProgressMessageId = asInt(input.tts_progress_message_id, 0);\nconst ttsProgressStartedAtMs = asInt(input.tts_progress_started_at_ms, 0);\nconst ttsProgressEstimatedMinutes = Math.max(1, asInt(input.tts_progress_estimated_minutes, 3) || 3);\nconst ttsProgressTotalFiles = Math.max(0, asInt(input.tts_progress_total_files, chunks.length));\n\nif (input.media_run_tts !== true) {\n  return {\n    ...input,\n    output_mode: 'inline',\n    drive_output_folder_id: driveOutputFolderId,\n    media_should_run: false,\n    media_chunks: [],\n    chunk_manifest: [],\n    tts_progress_message_id: ttsProgressMessageId > 0 ? ttsProgressMessageId : null,\n    tts_progress_started_at_ms: ttsProgressStartedAtMs > 0 ? ttsProgressStartedAtMs : null,\n    tts_progress_estimated_minutes: ttsProgressEstimatedMinutes,\n    tts_progress_total_files: ttsProgressTotalFiles,\n  };\n}\n\nreturn {\n  ...input,\n  output_mode: 'drive_export',\n  drive_output_folder_id: driveOutputFolderId,\n  media_should_run: true,\n  chunk_manifest: chunks,\n  tts_progress_message_id: ttsProgressMessageId > 0 ? ttsProgressMessageId : null,\n  tts_progress_started_at_ms: ttsProgressStartedAtMs > 0 ? ttsProgressStartedAtMs : null,\n  tts_progress_estimated_minutes: ttsProgressEstimatedMinutes,\n  tts_progress_total_files: ttsProgressTotalFiles,\n};"
      }
    },
    {
      "id": "1a33c4c0-d8c9-482d-a935-1096a6474967",
      "name": "Prepare Session Assets Package (Worker)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        -440
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction asNumber(value, fallback = 0) {\n  const number = Number(value);\n  return Number.isFinite(number) ? number : fallback;\n}\n\nconst sessionToken = safeText(input.session_token, 'session');\nconst safeToken = sessionToken\n  .replace(/[^a-zA-Z0-9_-]+/g, '-')\n  .replace(/^-+|-+$/g, '') || 'session';\n\nconst sessionFolderId = safeText(input.session_folder_id);\nconst eventType = safeText(input.event_type);\nconst metadata = input.metadata && typeof input.metadata === 'object' ? input.metadata : {};\nconst assets = Array.isArray(input.media_assets) ? input.media_assets : [];\n\nconst hasReviewFile = safeText(input.session_review_file_id) !== '';\nconst hasMetadataFile = safeText(input.session_metadata_file_id) !== '';\nconst hasManifestFile = safeText(input.session_manifest_file_id) !== '';\nconst isInitEvent = eventType === 'init_review';\nconst isMediaFinalizeEvent = eventType === 'media_continue' || eventType === 'auto_continue_media';\n\nconst shouldPersistReviewFile = isInitEvent && !hasReviewFile;\nconst shouldPersistMetadataFile = isInitEvent && !hasMetadataFile;\nconst shouldPersistManifestFile = isMediaFinalizeEvent && !hasManifestFile;\nconst shouldPersistSessionSheet = isMediaFinalizeEvent;\nconst shouldPersistAnyAsset =\n  shouldPersistReviewFile ||\n  shouldPersistMetadataFile ||\n  shouldPersistManifestFile ||\n  shouldPersistSessionSheet;\n\nconst rows = [[\n  'order',\n  'chunk_key',\n  'part_name',\n  'index',\n  'text',\n  'image_url',\n  'voice_url',\n  'duration',\n  'image_status',\n  'tts_status',\n  'error_reason',\n  'voice_drive_file_id',\n]];\n\nfor (let i = 0; i < assets.length; i += 1) {\n  const asset = assets[i] ?? {};\n  rows.push([\n    String(i + 1),\n    safeText(asset.chunk_key),\n    safeText(asset.partName),\n    String(Math.floor(asNumber(asset.index, i + 1))),\n    safeText(asset.text),\n    safeText(asset.image),\n    safeText(asset.voice),\n    String(asNumber(asset.duration, 0)),\n    safeText(asset.image_status),\n    safeText(asset.tts_status),\n    safeText(asset.error_reason),\n    safeText(asset.voice_drive_file_id),\n  ]);\n}\n\nconst manifest = {\n  session_token: sessionToken,\n  reviewer_stage: safeText(input.reviewer_stage),\n  stop_reason: safeText(input.stop_reason),\n  media_pipeline_status: safeText(input.media_pipeline_status),\n  media_stats: input.media_stats ?? {},\n  video_title: safeText(input.video_title),\n  video_caption: safeText(input.video_caption),\n  video_hashtags: Array.isArray(input.video_hashtags) ? input.video_hashtags : [],\n  metadata,\n  media_assets: assets,\n};\n\nreturn {\n  ...input,\n  session_assets_should_persist: Boolean(sessionFolderId) && shouldPersistAnyAsset,\n  session_should_persist_review_file: shouldPersistReviewFile,\n  session_should_persist_metadata_file: shouldPersistMetadataFile,\n  session_should_persist_manifest_file: shouldPersistManifestFile,\n  session_should_persist_sheet: shouldPersistSessionSheet,\n  session_review_text: safeText(input.full_review || input.message),\n  session_metadata_json: JSON.stringify(metadata, null, 2),\n  session_manifest_json: JSON.stringify(manifest, null, 2),\n  session_review_file_name: 'review-content.txt',\n  session_metadata_file_name: 'metadata.json',\n  session_manifest_file_name: 'session-manifest.json',\n  session_sheet_name: 'book-review-assets-' + safeToken,\n  session_sheet_rows: rows,\n};\n"
      }
    },
    {
      "id": "77637896-ac67-4a9a-bf8a-dcfaf2946f5a",
      "name": "If Persist Session Assets (Worker)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2688,
        -440
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.session_assets_should_persist === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "5fa8a7ef-1529-435b-80b1-b8ee4c52a338",
      "name": "Google Drive Save Review File (Worker)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2912,
        -584
      ],
      "parameters": {
        "resource": "file",
        "operation": "createFromText",
        "authentication": "oAuth2",
        "content": "={{ $json.session_review_text || \"\" }}",
        "name": "={{ $json.session_review_file_name || \"review-content.txt\" }}",
        "folderId": "={{ $json.session_folder_id || \"\" }}"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__GDRIVE_CREDENTIAL_ID__",
          "name": "__GDRIVE_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "id": "b228b8b7-fa52-4731-a9c8-966db7998a2e",
      "name": "Prepare Review File Link (Worker)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        -440
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nconst fileId = safeText(input.id, safeText(input.fileId, safeText(input.session_review_file_id)));\nconst fileUrl = fileId\n  ? 'https://drive.google.com/file/d/' + fileId + '/view'\n  : safeText(input.session_review_file_url);\n\nreturn {\n  ...input,\n  session_review_file_id: fileId,\n  session_review_file_url: fileUrl,\n};"
      }
    },
    {
      "id": "02716447-5276-4c46-aa30-e8c21b016e10",
      "name": "Google Drive Save Metadata File (Worker)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3584,
        -584
      ],
      "parameters": {
        "resource": "file",
        "operation": "createFromText",
        "authentication": "oAuth2",
        "content": "={{ $json.session_metadata_json || \"{}\" }}",
        "name": "={{ $json.session_metadata_file_name || \"metadata.json\" }}",
        "folderId": "={{ $json.session_folder_id || \"\" }}"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__GDRIVE_CREDENTIAL_ID__",
          "name": "__GDRIVE_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "id": "8e23e0fd-fc2c-47a3-9b3d-e952d775374b",
      "name": "Prepare Metadata File Link (Worker)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4032,
        -440
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nconst fileId = safeText(input.id, safeText(input.fileId, safeText(input.session_metadata_file_id)));\nconst fileUrl = fileId\n  ? 'https://drive.google.com/file/d/' + fileId + '/view'\n  : safeText(input.session_metadata_file_url);\n\nreturn {\n  ...input,\n  session_metadata_file_id: fileId,\n  session_metadata_file_url: fileUrl,\n};"
      }
    },
    {
      "id": "90ad1d2b-9b3b-4836-837f-45cd8dac2904",
      "name": "Create Session Sheet (Worker)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4928,
        -584
      ],
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { properties: { title: $json.session_sheet_name || \"book-review-assets\" }, sheets: [{ properties: { title: \"assets\" } }] } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__GDRIVE_CREDENTIAL_ID__",
          "name": "__GDRIVE_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "id": "d55166c9-2dd1-4e58-a63d-712dffbe9bfd",
      "name": "Merge Session Sheet Context (Worker)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5152,
        -440
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true,
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput2",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          }
        }
      }
    },
    {
      "id": "dab191c7-644e-425a-95e6-90b307eea160",
      "name": "Prepare Session Sheet Meta (Worker)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5376,
        -440
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nconst body = input.body && typeof input.body === 'object' ? input.body : {};\nconst sheetId = safeText(body.spreadsheetId, safeText(input.spreadsheetId));\nconst sheetUrl = safeText(\n  body.spreadsheetUrl,\n  sheetId ? 'https://docs.google.com/spreadsheets/d/' + sheetId : '',\n);\n\nreturn {\n  ...input,\n  session_sheet_id: sheetId,\n  session_sheet_url: sheetUrl,\n  session_sheet_create_status_code: Number(input.statusCode ?? 0),\n};"
      }
    },
    {
      "id": "7c9ec045-afb5-42a0-8a9c-cb78b7822c50",
      "name": "If Session Sheet Created (Worker)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5600,
        -440
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ !!$json.session_sheet_id }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "7dc5ceff-26bf-4c14-a798-1387922a13a0",
      "name": "Google Drive Move Session Sheet (Worker)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5824,
        -584
      ],
      "parameters": {
        "resource": "file",
        "operation": "move",
        "authentication": "oAuth2",
        "fileId": "={{ $json.session_sheet_id }}",
        "folderId": "={{ $json.session_folder_id }}"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__GDRIVE_CREDENTIAL_ID__",
          "name": "__GDRIVE_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "id": "12cd51b5-b056-43b6-8e28-df9b9e287c75",
      "name": "Merge Session Sheet Move Context (Worker)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6048,
        -440
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true,
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          }
        }
      }
    },
    {
      "id": "185d13fd-58bf-410f-bc93-627c7d1aa197",
      "name": "Write Session Sheet Rows (Worker)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6272,
        -440
      ],
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://sheets.googleapis.com/v4/spreadsheets/\" + encodeURIComponent($json.session_sheet_id || \"\") + \"/values/assets!A1?valueInputOption=RAW\" }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { values: Array.isArray($json.session_sheet_rows) ? $json.session_sheet_rows : [] } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__GDRIVE_CREDENTIAL_ID__",
          "name": "__GDRIVE_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "id": "73b2e757-ee87-407b-9e97-4ed6b0c9df7d",
      "name": "Finalize Session Assets Package (Worker)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6496,
        -440
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nconst sheetUpdateStatusCode = Number(input.statusCode ?? input.session_sheet_update_status_code ?? 0);\nconst sheetWriteOk = Number.isFinite(sheetUpdateStatusCode)\n  ? (sheetUpdateStatusCode >= 200 && sheetUpdateStatusCode < 300)\n  : false;\nconst shouldPersistReview = input.session_should_persist_review_file === true;\nconst shouldPersistMetadata = input.session_should_persist_metadata_file === true;\nconst shouldPersistManifest = input.session_should_persist_manifest_file === true;\nconst shouldPersistSheet = input.session_should_persist_sheet === true;\n\nconst reviewFileId = safeText(input.session_review_file_id);\nconst metadataFileId = safeText(input.session_metadata_file_id);\nconst manifestFileId = safeText(input.session_manifest_file_id);\nconst sheetId = safeText(input.session_sheet_id);\n\nlet packageStatus = 'persisted';\nif (shouldPersistReview && !reviewFileId) {\n  packageStatus = 'partial';\n}\nif (shouldPersistMetadata && !metadataFileId) {\n  packageStatus = 'partial';\n}\nif (shouldPersistManifest && !manifestFileId) {\n  packageStatus = 'partial';\n}\nif (shouldPersistSheet) {\n  if (!sheetId || !sheetWriteOk) {\n    packageStatus = 'partial';\n  }\n}\n\nconst sheetWriteStatus = shouldPersistSheet\n  ? (sheetWriteOk ? 'success' : 'failed_or_skipped')\n  : 'skipped_not_required';\n\nconst sessionPackageSummary = {\n  session_folder_id: safeText(input.session_folder_id),\n  session_folder_url: safeText(input.session_folder_url),\n  voice_folder_id: safeText(input.session_voice_folder_id),\n  voice_folder_url: safeText(input.session_voice_folder_url),\n  image_folder_id: safeText(input.session_image_folder_id),\n  image_folder_url: safeText(input.session_image_folder_url),\n  review_file_id: reviewFileId,\n  review_file_url: safeText(input.session_review_file_url),\n  metadata_file_id: metadataFileId,\n  metadata_file_url: safeText(input.session_metadata_file_url),\n  manifest_file_id: manifestFileId,\n  manifest_file_url: safeText(input.session_manifest_file_url),\n  sheet_id: sheetId,\n  sheet_url: safeText(input.session_sheet_url),\n  sheet_write_status: sheetWriteStatus,\n  persist_review: shouldPersistReview,\n  persist_metadata: shouldPersistMetadata,\n  persist_manifest: shouldPersistManifest,\n  persist_sheet: shouldPersistSheet,\n};\n\nreturn {\n  ...input,\n  session_assets_package_status: packageStatus,\n  session_assets_package_summary: sessionPackageSummary,\n  session_sheet_update_status_code: sheetUpdateStatusCode,\n};\n"
      }
    },
    {
      "id": "84",
      "name": "Merge Session Sheet Write Context (Worker)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3140,
        -820
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true,
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput2",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          }
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction normalizeMessageIds(value) {\n  if (!Array.isArray(value)) return [];\n\n  const unique = [];\n  for (const item of value) {\n    const messageId = Number(item);\n    if (!Number.isFinite(messageId) || messageId <= 0) {\n      continue;\n    }\n    const normalized = Math.floor(messageId);\n    if (!unique.includes(normalized)) {\n      unique.push(normalized);\n    }\n  }\n\n  return unique;\n}\n\nconst pendingMessageIds = normalizeMessageIds(input.pending_progress_message_ids);\n\nif (pendingMessageIds.length === 0) {\n  return {\n    ...input,\n    pending_progress_message_ids: [],\n    progress_cleanup_status: 'not_required',\n    progress_cleanup_deleted_count: 0,\n    progress_cleanup_failed_count: 0,\n  };\n}\n\nconst requestHelper =\n  helpers?.httpRequest ??\n  (typeof $helpers !== 'undefined' ? $helpers?.httpRequest : undefined);\n\nconst telegramBotToken = safeText(input.telegram_bot_token);\nconst telegramChatId = safeText(input.telegram_chat_id);\n\nif (!telegramBotToken || !telegramChatId || typeof requestHelper !== 'function') {\n  return {\n    ...input,\n    progress_cleanup_status: 'skipped_missing_telegram_config',\n    progress_cleanup_deleted_count: 0,\n    progress_cleanup_failed_count: pendingMessageIds.length,\n  };\n}\n\nlet deletedCount = 0;\nlet failedCount = 0;\n\nfor (const messageId of pendingMessageIds) {\n  try {\n    await requestHelper({\n      method: 'POST',\n      url: 'https://api.telegram.org/bot' + telegramBotToken + '/deleteMessage',\n      body: {\n        chat_id: telegramChatId,\n        message_id: messageId,\n      },\n      json: true,\n      timeout: 60000,\n    });\n    deletedCount += 1;\n  } catch (_) {\n    failedCount += 1;\n  }\n}\n\nconst status = failedCount === 0\n  ? 'done'\n  : deletedCount === 0\n    ? 'failed'\n    : 'partial';\n\nreturn {\n  ...input,\n  pending_progress_message_ids: [],\n  progress_cleanup_status: status,\n  progress_cleanup_deleted_count: deletedCount,\n  progress_cleanup_failed_count: failedCount,\n};\n"
      },
      "id": "8b8f17c3-3595-43cf-b0c1-8437f8124fda",
      "name": "Finalize Step Progress Messages (Worker)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        -632
      ]
    },
    {
      "id": "9e7a0e7a-3d2c-4f1a-a8bb-1d9d9db9c6f2",
      "name": "Notify Session Drive Links (Worker)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6720,
        -440
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction buildMediaButtons(sessionToken) {\n  return [[\n    { text: 'Tao Media', callback_data: 'brv:media:c:' + sessionToken },\n    { text: 'Dung', callback_data: 'brv:media:s:' + sessionToken },\n  ]];\n}\n\nconst eventType = safeText(input.event_type);\nconst shouldNotify = eventType === 'init_review';\nif (!shouldNotify) {\n  return {\n    ...input,\n    session_link_notify_status: 'skipped_event',\n    session_link_notify_message_id: null,\n  };\n}\n\nconst requestHelper =\n  helpers?.httpRequest ??\n  (typeof $helpers !== 'undefined' ? $helpers?.httpRequest : undefined);\n\nconst telegramBotToken = safeText(input.telegram_bot_token);\nconst telegramChatId = safeText(input.telegram_chat_id);\nif (!telegramBotToken || !telegramChatId || typeof requestHelper !== 'function') {\n  return {\n    ...input,\n    session_link_notify_status: 'skipped_missing_telegram_config',\n    session_link_notify_message_id: null,\n  };\n}\n\nconst summary = input.session_assets_package_summary && typeof input.session_assets_package_summary === 'object'\n  ? input.session_assets_package_summary\n  : {};\n\nconst sessionToken = safeText(input.session_token);\nconst reviewFileUrl = safeText(input.session_review_file_url, safeText(summary.review_file_url));\nconst metadataFileUrl = safeText(input.session_metadata_file_url, safeText(summary.metadata_file_url));\nconst sessionFolderUrl = safeText(input.session_folder_url, safeText(summary.session_folder_url));\nconst sessionSheetUrl = safeText(input.session_sheet_url, safeText(summary.sheet_url));\n\nif (!reviewFileUrl && !metadataFileUrl && !sessionFolderUrl && !sessionSheetUrl) {\n  return {\n    ...input,\n    session_link_notify_status: 'skipped_missing_drive_links',\n    session_link_notify_message_id: null,\n  };\n}\n\nconst shouldEmbedMediaAction = input.should_send_media_action === true || input.should_send_metadata_action === true;\n\nconst lines = [\n  '[REVIEW READY]',\n  'Session: ' + sessionToken,\n];\n\nif (reviewFileUrl) {\n  lines.push('Review file: ' + reviewFileUrl);\n}\nif (metadataFileUrl) {\n  lines.push('Metadata file: ' + metadataFileUrl);\n}\nif (sessionFolderUrl) {\n  lines.push('Session folder: ' + sessionFolderUrl);\n}\nif (sessionSheetUrl) {\n  lines.push('Session sheet: ' + sessionSheetUrl);\n}\nif (shouldEmbedMediaAction) {\n  lines.push('Chon hanh dong tiep theo:');\n}\n\nlet messageId = null;\nlet status = 'sent';\nlet errorText = '';\n\ntry {\n  const body = {\n    chat_id: telegramChatId,\n    text: lines.join('\\n'),\n    disable_web_page_preview: true,\n  };\n\n  if (shouldEmbedMediaAction && sessionToken) {\n    body.reply_markup = {\n      inline_keyboard: buildMediaButtons(sessionToken),\n    };\n  }\n\n  const response = await requestHelper({\n    method: 'POST',\n    url: 'https://api.telegram.org/bot' + telegramBotToken + '/sendMessage',\n    body,\n    json: true,\n    timeout: 60000,\n  });\n\n  const parsedMessageId = Number(response?.result?.message_id);\n  if (Number.isFinite(parsedMessageId) && parsedMessageId > 0) {\n    messageId = Math.floor(parsedMessageId);\n  }\n} catch (error) {\n  status = 'failed';\n  errorText = safeText(error?.message, String(error)).slice(0, 300);\n}\n\nconst mediaActionEmbedded = status === 'sent' && shouldEmbedMediaAction && Boolean(sessionToken);\n\nreturn {\n  ...input,\n  session_link_notify_status: status,\n  session_link_notify_error: errorText || null,\n  session_link_notify_message_id: messageId,\n  media_action_embedded: mediaActionEmbedded,\n  should_send_media_action: mediaActionEmbedded ? false : input.should_send_media_action,\n  should_send_metadata_action: mediaActionEmbedded ? false : input.should_send_metadata_action,\n  metadata_action_notify_status: mediaActionEmbedded\n    ? 'embedded_in_review_ready'\n    : safeText(input.metadata_action_notify_status, 'pending'),\n};\n"
      }
    },
    {
      "id": "f0d962cb-4ab9-453f-b0d2-f7f31e852e9b",
      "name": "Send Review QC And Action (Worker)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6944,
        -440
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction asNumber(value, fallback = 0) {\n  if (value === null || value === undefined) {\n    return fallback;\n  }\n  const raw = typeof value === 'string' ? value.trim() : String(value);\n  if (raw === '') {\n    return fallback;\n  }\n  const num = Number(raw);\n  return Number.isFinite(num) ? num : fallback;\n}\n\nfunction clampScore(value, fallback = 6) {\n  if (value === null || value === undefined) return fallback;\n  const raw = typeof value === 'string' ? value.trim() : String(value);\n  if (raw === '') return fallback;\n  const num = Number(raw);\n  if (!Number.isFinite(num)) return fallback;\n  if (num < 0) return 0;\n  if (num > 10) return 10;\n  return Math.round(num * 10) / 10;\n}\n\nfunction normalizeRisk(value) {\n  const risk = String(value ?? '').trim().toLowerCase();\n  if (risk === 'low' || risk === 'med' || risk === 'high') return risk;\n  return 'med';\n}\n\nfunction normalizeList(value) {\n  if (Array.isArray(value)) {\n    return value.map((item) => String(item ?? '').trim()).filter(Boolean);\n  }\n  return String(value ?? '')\n    .split(/[\\n,]+/)\n    .map((item) => item.trim())\n    .filter(Boolean);\n}\n\nfunction normalizeFeedback(value, fallback = '') {\n  const raw = String(value ?? '').replace(/\\s+/g, ' ').trim();\n  const text = raw || String(fallback ?? '').replace(/\\s+/g, ' ').trim();\n  if (!text) return '';\n\n  const words = text.split(/\\s+/).filter(Boolean);\n  if (words.length <= 200) {\n    return text;\n  }\n  return words.slice(0, 200).join(' ');\n}\n\nfunction normalizeForGenericMatch(value) {\n  return String(value ?? '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^\\w\\s]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .toLowerCase();\n}\n\nfunction isGenericQcFeedback(value) {\n  const normalized = normalizeForGenericMatch(value);\n  if (!normalized) return true;\n  return (\n    normalized === 'chua co feedback qc' ||\n    normalized.includes('chua co feedback qc') ||\n    normalized.includes('khong co feedback qc') ||\n    normalized.includes('no qc feedback')\n  );\n}\n\nfunction hasNonEmptyNumber(value) {\n  if (value === null || value === undefined) return false;\n  const raw = typeof value === 'string' ? value.trim() : String(value);\n  if (raw === '') return false;\n  return Number.isFinite(Number(raw));\n}\n\nfunction buildScoreWarnings(scores, threshold) {\n  const map = {\n    Hook: scores.hook_score,\n    Clarity: scores.clarity_score,\n    Originality: scores.originality_score,\n    'Practical value': scores.practical_value_score,\n  };\n\n  return Object.entries(map)\n    .filter(([, score]) => Number(score) < threshold)\n    .map(([label, score]) => label + ' score=' + score + ' < ' + threshold);\n}\n\nfunction parseJsonObject(rawText) {\n  const raw = String(rawText ?? '').trim();\n  if (!raw) return null;\n\n  try {\n    return JSON.parse(raw);\n  } catch (_) {}\n\n  const fence = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  if (fence) {\n    try {\n      return JSON.parse(fence[1]);\n    } catch (_) {}\n  }\n\n  const first = raw.indexOf('{');\n  const last = raw.lastIndexOf('}');\n  if (first >= 0 && last > first) {\n    try {\n      return JSON.parse(raw.slice(first, last + 1));\n    } catch (_) {}\n  }\n\n  return null;\n}\n\nfunction stripControlTags(text) {\n  const normalized = String(text ?? '').replace(/\\r\\n/g, '\\n').trim();\n  return normalized.replace(/(?:\\n|^)\\s*-\\s*(CONTINUE|END)\\s*-\\s*$/i, '').trim();\n}\n\nfunction normalizeReviewForDisplay(reviewText) {\n  const normalized = stripControlTags(reviewText);\n  const sectionRegex = /<<<SECTION\\|([^|\\n>]+)\\|([^\\n>]+)>>>\\s*([\\s\\S]*?)\\s*<<<END_SECTION>>>/g;\n  const blocks = [];\n  let match;\n\n  while ((match = sectionRegex.exec(normalized)) !== null) {\n    const title = safeText(match[2]);\n    const content = safeText(match[3]);\n    if (!content) continue;\n    blocks.push(title ? (title + '\\n' + content) : content);\n  }\n\n  if (blocks.length > 0) {\n    return blocks.join('\\n\\n').trim();\n  }\n\n  return normalized\n    .replace(/<<<SECTION\\|[^>]+>>>/g, '')\n    .replace(/<<<END_SECTION>>>/g, '')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\nfunction buildMediaButtons(sessionToken) {\n  return [[\n    { text: 'Tao Media', callback_data: 'brv:media:c:' + sessionToken },\n    { text: 'Dung', callback_data: 'brv:media:s:' + sessionToken },\n  ]];\n}\n\nconst shouldSendQcAction = input.should_send_qc_action === true;\nconst mediaActionEmbedded = input.media_action_embedded === true;\nconst initialMetadataStatus = mediaActionEmbedded ? 'embedded_in_review_ready' : 'suppressed';\n\nif (!shouldSendQcAction) {\n  return {\n    ...input,\n    qc_action_notify_status: 'skipped',\n    metadata_action_notify_status: initialMetadataStatus,\n  };\n}\n\nconst requestHelper =\n  helpers?.httpRequest ??\n  (typeof $helpers !== 'undefined' ? $helpers?.httpRequest : undefined);\n\nconst telegramBotToken = safeText(input.telegram_bot_token);\nconst telegramChatId = safeText(input.telegram_chat_id);\nconst sessionToken = safeText(input.session_token);\n\nif (!telegramBotToken || !telegramChatId || !sessionToken || typeof requestHelper !== 'function') {\n  return {\n    ...input,\n    qc_action_notify_status: 'skipped_missing_telegram_config',\n  };\n}\n\nconst cliproxyBaseUrl = safeText(input.cliproxy_base_url).replace(/\\/$/, '');\nconst cliproxyClientKey = safeText(input.cliproxy_client_key);\nconst openaiModel = safeText(input.openai_model, 'gpt-5');\nconst qcPromptTemplate = safeText(input.qc_prompt_template, 'You are a strict content QC editor. Return JSON only, no markdown.');\nconst qcThresholdRaw = Number(input.qc_score_warning_threshold ?? 7);\nconst qcScoreWarningThreshold = Number.isFinite(qcThresholdRaw)\n  ? Math.min(10, Math.max(0, Math.floor(qcThresholdRaw)))\n  : 7;\n\nasync function sendTelegramMessage(text, inlineKeyboardRows) {\n  const payload = {\n    chat_id: telegramChatId,\n    text: String(text ?? '').slice(0, 4000),\n  };\n\n  if (Array.isArray(inlineKeyboardRows) && inlineKeyboardRows.length > 0) {\n    payload.reply_markup = {\n      inline_keyboard: inlineKeyboardRows,\n    };\n  }\n\n  await requestHelper({\n    method: 'POST',\n    url: 'https://api.telegram.org/bot' + telegramBotToken + '/sendMessage',\n    body: payload,\n    json: true,\n    timeout: 60000,\n  });\n}\n\nasync function callOpenAI(messages) {\n  if (!cliproxyBaseUrl || !cliproxyClientKey) {\n    throw new Error('Missing CLIProxy config for QC.');\n  }\n\n  const options = arguments[1] && typeof arguments[1] === 'object' ? arguments[1] : {};\n  const useJsonObject = options.useJsonObject !== false;\n  const body = {\n    model: openaiModel,\n    messages,\n    stream: false,\n  };\n  if (useJsonObject) {\n    body.response_format = { type: 'json_object' };\n  }\n\n  return await requestHelper({\n    method: 'POST',\n    url: cliproxyBaseUrl + '/v1/chat/completions',\n    headers: {\n      Authorization: 'Bearer ' + cliproxyClientKey,\n    },\n    body,\n    json: true,\n    timeout: 180000,\n  });\n}\n\nfunction hasUsableQcObject(source) {\n  const raw = source && typeof source === 'object' ? source : {};\n  const scalarSignals = [\n    raw.hook,\n    raw.hook_score,\n    raw.clarity,\n    raw.clarity_score,\n    raw.originality,\n    raw.originality_score,\n    raw.practical,\n    raw.practical_value_score,\n    raw.risk,\n    raw.risk_level,\n    raw.feedback,\n  ];\n\n  const hasScalar = scalarSignals.some((value) => {\n    if (Number.isFinite(Number(value))) return true;\n    return safeText(value) !== '';\n  });\n\n  const hasList =\n    Array.isArray(raw.qc_issues) && raw.qc_issues.length > 0 ||\n    Array.isArray(raw.issues) && raw.issues.length > 0 ||\n    Array.isArray(raw.qc_checks) && raw.qc_checks.length > 0;\n\n  const hasScoresObject = raw.scores && typeof raw.scores === 'object';\n  return hasScalar || hasList || hasScoresObject;\n}\n\nfunction buildHeuristicFeedback(context) {\n  const review = safeText(normalizeReviewForDisplay(context.full_review));\n  const hints = [];\n\n  if (review.length > 5000) {\n    hints.push('Rut gon 10-20% de nhip doc gon hon, uu tien cau ngan va dong tu manh.');\n  }\n  if (/phan\\\\s*\\\\d+|bai\\\\s*hoc\\\\s*\\\\d+|muc\\\\s*\\\\d+/i.test(review)) {\n    hints.push('Bo kieu danh so meta (Phan 1/Bai hoc 1), chuyen sang dong ke tu su lien mach.');\n  }\n  if (!/[\\\"“”']/.test(review)) {\n    hints.push('Them 1-2 trich dan ngan (co nguon ro) de tang do tin cay va cam xuc.');\n  }\n  if (!/(vi\\\\s*du|chuyen\\\\s*that|tinh\\\\s*huong|doi\\\\s*song)/i.test(review)) {\n    hints.push('Bo sung vi du doi song cu the de tang practical value.');\n  }\n\n  if (hints.length === 0) {\n    hints.push('Mo bai bang 1 noi dau cu the, giu giong ke chuyen nguoi that, va ket bai bang 1 hanh dong nho co the lam ngay.');\n  }\n\n  return normalizeFeedback(hints.join(' '), 'Can them feedback QC cu the.');\n}\n\nfunction normalizeQcPayload(source, options = {}) {\n  const raw = source && typeof source === 'object' ? source : {};\n  const qcIssues = normalizeList(raw.qc_issues ?? raw.issues);\n  const qcChecks = Array.isArray(raw.qc_checks) ? raw.qc_checks : [];\n\n  const hookRaw = raw.hook ?? raw.hook_score ?? raw.scores?.hook;\n  const clarityRaw = raw.clarity ?? raw.clarity_score ?? raw.scores?.clarity;\n  const originalityRaw = raw.originality ?? raw.originality_score ?? raw.scores?.originality;\n  const practicalRaw = raw.practical ?? raw.practical_value_score ?? raw.scores?.practical ?? raw.scores?.practical_value;\n  const riskRaw = raw.risk ?? raw.risk_level;\n\n  const derivedIssues = qcIssues.length > 0\n    ? qcIssues\n    : qcChecks\n        .filter((check) => String(check?.status ?? '').toLowerCase() !== 'pass')\n        .map((check) => String(check?.note ?? '').trim())\n        .filter(Boolean);\n\n  const feedbackFallback = safeText(options.fallbackFeedback, derivedIssues.slice(0, 3).join('; '));\n  const qc = {\n    qc_checks: qcChecks,\n    qc_issues: derivedIssues,\n    feedback: normalizeFeedback(raw.feedback, feedbackFallback || 'Can them feedback QC cu the.'),\n    hook_score: clampScore(hookRaw, 6),\n    clarity_score: clampScore(clarityRaw, 6),\n    originality_score: clampScore(originalityRaw, 6),\n    practical_value_score: clampScore(practicalRaw, 6),\n    risk_level: normalizeRisk(riskRaw),\n    score_warnings: [],\n    qc_status: safeText(options.qcStatus, 'generated'),\n    qc_error: safeText(options.qcError) || null,\n  };\n\n  qc.score_warnings = buildScoreWarnings(qc, qcScoreWarningThreshold);\n  return qc;\n}\n\nfunction enforceQcQuality(normalizedQc, fallbackFeedback, fallbackErrorCode) {\n  const qc = normalizedQc && typeof normalizedQc === 'object' ? normalizedQc : {};\n  const safeFallbackFeedback = normalizeFeedback(fallbackFeedback, 'Can them feedback QC cu the.');\n\n  const scoresAreDefault =\n    Number(qc.hook_score) === 6 &&\n    Number(qc.clarity_score) === 6 &&\n    Number(qc.originality_score) === 6 &&\n    Number(qc.practical_value_score) === 6;\n\n  const feedbackText = safeText(qc.feedback);\n  const feedbackWordCount = feedbackText.split(/\\s+/).filter(Boolean).length;\n  const feedbackLooksGeneric = isGenericQcFeedback(feedbackText);\n  const feedbackTooShort = feedbackWordCount < 8;\n\n  if (feedbackLooksGeneric || (scoresAreDefault && feedbackTooShort)) {\n    const existingIssues = Array.isArray(qc.qc_issues) ? qc.qc_issues : [];\n    const nextIssues = existingIssues.length > 0 ? existingIssues : ['QC fallback.'];\n    return {\n      ...qc,\n      qc_issues: nextIssues,\n      feedback: safeFallbackFeedback,\n      qc_status: 'fallback',\n      qc_error: safeText(qc.qc_error, fallbackErrorCode),\n      score_warnings: buildScoreWarnings({\n        hook_score: qc.hook_score,\n        clarity_score: qc.clarity_score,\n        originality_score: qc.originality_score,\n        practical_value_score: qc.practical_value_score,\n      }, qcScoreWarningThreshold),\n    };\n  }\n\n  return qc;\n}\n\nasync function resolveQcPayload() {\n  const existingQc = input.qc && typeof input.qc === 'object'\n    ? input.qc\n    : {\n        hook_score: input.hook_score,\n        clarity_score: input.clarity_score,\n        originality_score: input.originality_score,\n        practical_value_score: input.practical_value_score,\n        risk_level: input.risk_level,\n        feedback: input.feedback,\n        score_warnings: input.score_warnings,\n        qc_status: input.qc_status,\n      };\n\n  const hasExistingScores =\n    hasNonEmptyNumber(existingQc?.hook_score) &&\n    hasNonEmptyNumber(existingQc?.clarity_score) &&\n    hasNonEmptyNumber(existingQc?.originality_score) &&\n    hasNonEmptyNumber(existingQc?.practical_value_score);\n\n  const heuristicFeedback = buildHeuristicFeedback(input);\n\n  if (hasExistingScores) {\n    const normalizedExisting = normalizeQcPayload(existingQc, {\n      qcStatus: safeText(existingQc?.qc_status, 'generated'),\n      qcError: safeText(existingQc?.qc_error),\n      fallbackFeedback: heuristicFeedback,\n    });\n    return enforceQcQuality(normalizedExisting, heuristicFeedback, 'qc_existing_payload_generic');\n  }\n\n  const fallbackQc = {\n    qc_checks: [],\n    qc_issues: ['QC fallback.'],\n    feedback: heuristicFeedback,\n    hook_score: 6,\n    clarity_score: 6,\n    originality_score: 6,\n    practical_value_score: 6,\n    risk_level: 'med',\n    score_warnings: [],\n    qc_status: 'fallback',\n    qc_error: null,\n  };\n\n  try {\n    const promptPayload = {\n      task: 'QC a Vietnamese long-form book review script.',\n      policy: {\n        quote_policy: 'Only accept direct quote if source certainty is high. Otherwise mark warn.',\n        no_rewrite: true,\n      },\n      input: {\n        request: safeText(input.user_input),\n        intro_excerpt: safeText(input.review_intro),\n        outro_excerpt: safeText(input.review_outro),\n        review_excerpt: safeText(normalizeReviewForDisplay(input.full_review)),\n      },\n      required_json_schema: {\n        hook: 0,\n        clarity: 0,\n        originality: 0,\n        practical: 0,\n        risk: 'low|med|high',\n        feedback: 'string (Vietnamese, actionable, <= 200 words)',\n        qc_issues: ['string (optional)'],\n      },\n    };\n\n    const baseMessages = [\n      {\n        role: 'system',\n        content: qcPromptTemplate,\n      },\n      {\n        role: 'user',\n        content: JSON.stringify(promptPayload),\n      },\n    ];\n\n    const response = await callOpenAI(baseMessages, { useJsonObject: true });\n\n    const content = String(response?.choices?.[0]?.message?.content ?? '').trim();\n    let parsed = parseJsonObject(content);\n    if (!parsed || typeof parsed !== 'object' || !hasUsableQcObject(parsed)) {\n      const retryPromptPayload = {\n        ...promptPayload,\n        output_rule: 'Tra ve JSON day du key hook,clarity,originality,practical,risk,feedback,qc_issues; feedback bat buoc khong rong.',\n      };\n      const retryResponse = await callOpenAI([\n        {\n          role: 'system',\n          content: qcPromptTemplate,\n        },\n        {\n          role: 'user',\n          content: JSON.stringify(retryPromptPayload),\n        },\n      ], { useJsonObject: false });\n\n      const retryContent = String(retryResponse?.choices?.[0]?.message?.content ?? '').trim();\n      const retryParsed = parseJsonObject(retryContent);\n      if (!retryParsed || typeof retryParsed !== 'object' || !hasUsableQcObject(retryParsed)) {\n        throw new Error('QC response missing required fields.');\n      }\n      parsed = retryParsed;\n    }\n\n    const normalized = normalizeQcPayload(parsed, {\n      qcStatus: 'generated',\n      fallbackFeedback: heuristicFeedback,\n    });\n    return enforceQcQuality(normalized, heuristicFeedback, 'qc_payload_empty_feedback');\n  } catch (error) {\n    fallbackQc.qc_error = safeText(error?.message, String(error));\n    fallbackQc.score_warnings = buildScoreWarnings(fallbackQc, qcScoreWarningThreshold);\n    return fallbackQc;\n  }\n}\n\nlet metadataStatus = initialMetadataStatus;\nlet qcStatus = 'skipped';\nlet qcPayload = null;\n\ntry {\n  if (shouldSendQcAction) {\n    qcPayload = await resolveQcPayload();\n    const headline = safeText(input.qc_action_headline, 'QC REVIEW');\n    const lines = [\n      '[' + headline + ']',\n      'Session: ' + sessionToken,\n      'Hook=' + String(qcPayload.hook_score ?? 'n/a') +\n        ' | Clarity=' + String(qcPayload.clarity_score ?? 'n/a') +\n        ' | Originality=' + String(qcPayload.originality_score ?? 'n/a') +\n        ' | Practical=' + String(qcPayload.practical_value_score ?? 'n/a') +\n        ' | Risk=' + String(qcPayload.risk_level ?? 'med'),\n      'Feedback: ' + safeText(qcPayload.feedback, 'Can them feedback QC cu the.'),\n    ];\n\n    await sendTelegramMessage(lines.join('\\n'));\n    qcStatus = 'sent';\n  }\n\n  return {\n    ...input,\n    qc: qcPayload ?? input.qc,\n    qc_status: qcPayload?.qc_status ?? input.qc_status,\n    hook_score: qcPayload?.hook_score ?? asNumber(input.hook_score, null),\n    clarity_score: qcPayload?.clarity_score ?? asNumber(input.clarity_score, null),\n    originality_score: qcPayload?.originality_score ?? asNumber(input.originality_score, null),\n    practical_value_score: qcPayload?.practical_value_score ?? asNumber(input.practical_value_score, null),\n    risk_level: qcPayload?.risk_level ?? input.risk_level,\n    feedback: qcPayload?.feedback ?? input.feedback,\n    score_warnings: Array.isArray(qcPayload?.score_warnings) ? qcPayload.score_warnings : (Array.isArray(input.score_warnings) ? input.score_warnings : []),\n    qc_action_notify_status: qcStatus,\n    metadata_action_notify_status: metadataStatus,\n  };\n} catch (error) {\n  return {\n    ...input,\n    qc_action_notify_status: shouldSendQcAction ? 'failed' : qcStatus,\n    metadata_action_notify_status: metadataStatus,\n    qc_action_notify_error: safeText(error?.message, String(error)).slice(0, 300),\n  };\n}\n"
      }
    },
    {
      "id": "br-if-persist-review-file-worker",
      "name": "If Persist Review File (Worker)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2912,
        -440
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.session_should_persist_review_file === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "br-if-persist-metadata-file-worker",
      "name": "If Persist Metadata File (Worker)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3584,
        -440
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.session_should_persist_metadata_file === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "br-if-persist-session-sheet-worker",
      "name": "If Persist Session Sheet (Worker)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4928,
        -440
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.session_should_persist_sheet === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "br-merge-review-file-context-worker",
      "name": "Merge Review File Context (Worker)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2608,
        -296
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true,
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput2",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          }
        }
      }
    },
    {
      "id": "br-merge-metadata-file-context-worker",
      "name": "Merge Metadata File Context (Worker)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2608,
        -152
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true,
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput2",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          }
        }
      }
    }
  ],
  "connections": {
    "Set Config (Main)": {
      "main": [
        [
          {
            "node": "Generate Full Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Full Review": {
      "main": [
        [
          {
            "node": "Parse Review Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Review Sections": {
      "main": [
        [
          {
            "node": "Set Config (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Set Config (Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config (Telegram)": {
      "main": [
        [
          {
            "node": "Parse Telegram Event",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse Telegram Start Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Telegram Event": {
      "main": [
        [
          {
            "node": "Set Config (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config (Worker)": {
      "main": [
        [
          {
            "node": "If Supported Reviewer Event (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Reviewer Event": {
      "main": [
        [
          {
            "node": "Process Media Assets (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notify Payload (Worker)": {
      "main": [
        [
          {
            "node": "Notify via Shared Workflow (Main)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify via Shared Workflow (Main)": {
      "main": [
        []
      ]
    },
    "Parse Telegram Start Command": {
      "main": [
        [
          {
            "node": "Set Config (Main)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram File Bridge Webhook": {
      "main": [
        [
          {
            "node": "Prepare Telegram File Bridge Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telegram File Bridge Payload": {
      "main": [
        [
          {
            "node": "Convert Telegram Bridge Text To File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Telegram Bridge Text To File": {
      "main": [
        [
          {
            "node": "Send Telegram File Bridge Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Media Assets (Worker)": {
      "main": [
        [
          {
            "node": "Prepare Session Drive Context (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image Assets (Worker)": {
      "main": [
        [
          {
            "node": "Merge Media Results (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate TTS Assets (Worker)": {
      "main": [
        [
          {
            "node": "Merge Media Results (Worker)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Media Results (Worker)": {
      "main": [
        [
          {
            "node": "Finalize Media Assets (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Media Assets (Worker)": {
      "main": [
        [
          {
            "node": "Prepare Session Assets Package (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Supported Reviewer Event (Worker)": {
      "main": [
        [
          {
            "node": "Handle Reviewer Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Unsupported Event Result (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Unsupported Event Result (Worker)": {
      "main": [
        [
          {
            "node": "Finalize Step Progress Messages (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run Media (Worker)": {
      "main": [
        [
          {
            "node": "Prepare Image Workflow Input (Worker)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare TTS Workflow Input (Worker)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Media Assets (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Session Drive Context (Worker)": {
      "main": [
        [
          {
            "node": "If Session Drive Enabled (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Session Drive Enabled (Worker)": {
      "main": [
        [
          {
            "node": "Google Drive Create Session Folder (Worker)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Session Folder Context (Worker)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Media Routing (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Create Session Folder (Worker)": {
      "main": [
        [
          {
            "node": "Merge Session Folder Context (Worker)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Session Folder Context (Worker)": {
      "main": [
        [
          {
            "node": "Prepare Session Folder Id (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Session Folder Id (Worker)": {
      "main": [
        [
          {
            "node": "Google Drive Create Voice Folder (Worker)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Voice Folder Context (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Create Voice Folder (Worker)": {
      "main": [
        [
          {
            "node": "Merge Voice Folder Context (Worker)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Voice Folder Context (Worker)": {
      "main": [
        [
          {
            "node": "Prepare Voice Folder Id (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Voice Folder Id (Worker)": {
      "main": [
        [
          {
            "node": "Google Drive Create Image Folder (Worker)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Image Folder Context (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Create Image Folder (Worker)": {
      "main": [
        [
          {
            "node": "Merge Image Folder Context (Worker)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Image Folder Context (Worker)": {
      "main": [
        [
          {
            "node": "Prepare Image Folder Id (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image Folder Id (Worker)": {
      "main": [
        [
          {
            "node": "Finalize Media Routing (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Media Routing (Worker)": {
      "main": [
        [
          {
            "node": "If Run Media (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image Workflow Input (Worker)": {
      "main": [
        [
          {
            "node": "Generate Image Assets (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare TTS Workflow Input (Worker)": {
      "main": [
        [
          {
            "node": "Generate TTS Assets (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Session Assets Package (Worker)": {
      "main": [
        [
          {
            "node": "If Persist Session Assets (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Persist Session Assets (Worker)": {
      "main": [
        [
          {
            "node": "If Persist Review File (Worker)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Step Progress Messages (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Save Review File (Worker)": {
      "main": [
        [
          {
            "node": "Merge Review File Context (Worker)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepare Review File Link (Worker)": {
      "main": [
        [
          {
            "node": "If Persist Metadata File (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Save Metadata File (Worker)": {
      "main": [
        [
          {
            "node": "Merge Metadata File Context (Worker)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepare Metadata File Link (Worker)": {
      "main": [
        [
          {
            "node": "If Persist Session Sheet (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Session Sheet (Worker)": {
      "main": [
        [
          {
            "node": "Merge Session Sheet Context (Worker)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Session Sheet Context (Worker)": {
      "main": [
        [
          {
            "node": "Prepare Session Sheet Meta (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Session Sheet Meta (Worker)": {
      "main": [
        [
          {
            "node": "If Session Sheet Created (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Session Sheet Created (Worker)": {
      "main": [
        [
          {
            "node": "Google Drive Move Session Sheet (Worker)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Session Sheet Move Context (Worker)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Session Assets Package (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Move Session Sheet (Worker)": {
      "main": [
        [
          {
            "node": "Merge Session Sheet Move Context (Worker)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Session Sheet Move Context (Worker)": {
      "main": [
        [
          {
            "node": "Write Session Sheet Rows (Worker)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Session Sheet Write Context (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Session Sheet Rows (Worker)": {
      "main": [
        [
          {
            "node": "Merge Session Sheet Write Context (Worker)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Finalize Session Assets Package (Worker)": {
      "main": [
        [
          {
            "node": "Notify Session Drive Links (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Session Sheet Write Context (Worker)": {
      "main": [
        [
          {
            "node": "Finalize Session Assets Package (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Step Progress Messages (Worker)": {
      "main": [
        [
          {
            "node": "Build Notify Payload (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Session Drive Links (Worker)": {
      "main": [
        [
          {
            "node": "Send Review QC And Action (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Review QC And Action (Worker)": {
      "main": [
        [
          {
            "node": "Finalize Step Progress Messages (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Persist Review File (Worker)": {
      "main": [
        [
          {
            "node": "Google Drive Save Review File (Worker)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Review File Context (Worker)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Persist Metadata File (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Persist Metadata File (Worker)": {
      "main": [
        [
          {
            "node": "Google Drive Save Metadata File (Worker)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Metadata File Context (Worker)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Persist Session Sheet (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Persist Session Sheet (Worker)": {
      "main": [
        [
          {
            "node": "Create Session Sheet (Worker)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Session Sheet Context (Worker)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Session Assets Package (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Review File Context (Worker)": {
      "main": [
        [
          {
            "node": "Prepare Review File Link (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Metadata File Context (Worker)": {
      "main": [
        [
          {
            "node": "Prepare Metadata File Link (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
