workflows/book-review/text-to-images.workflow.json
{
  "name": "Text To Images",
  "nodes": [
    {
      "id": "1",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -980,
        -200
      ],
      "parameters": {}
    },
    {
      "id": "2",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -980,
        20
      ],
      "parameters": {
        "path": "text-to-images-form",
        "formTitle": "Text To Images",
        "formDescription": "input_mode=form_upload thi upload file/text. input_mode=drive_url thi cung cap full Google Drive URL.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "request_id",
              "placeholder": "req-custom-001",
              "requiredField": false
            },
            {
              "fieldLabel": "input_mode",
              "placeholder": "form_upload | drive_url",
              "requiredField": true
            },
            {
              "fieldLabel": "output_mode",
              "placeholder": "inline | drive_export",
              "requiredField": true
            },
            {
              "fieldLabel": "drive_file_url",
              "placeholder": "https://drive.google.com/file/d/.../view",
              "requiredField": false
            },
            {
              "fieldLabel": "drive_output_folder_url",
              "placeholder": "https://drive.google.com/drive/folders/...",
              "requiredField": false
            },
            {
              "fieldLabel": "input_text",
              "placeholder": "Optional plain text input",
              "requiredField": false
            },
            {
              "fieldLabel": "input_file",
              "fieldType": "file",
              "requiredField": false,
              "multipleFiles": false,
              "acceptFileTypes": ""
            }
          ]
        },
        "options": {}
      },
      "webhookId": "text-to-images-form-trigger-webhook"
    },
    {
      "id": "3",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -760,
        -90
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "request_id",
              "value": "={{ $json.request_id || ('req-' + $now.toUnix()) }}",
              "type": "string"
            },
            {
              "id": "cfg-2",
              "name": "input_mode",
              "value": "={{ $json.input_mode || ($json.drive_file_url ? 'drive_url' : 'form_upload') }}",
              "type": "string"
            },
            {
              "id": "cfg-3",
              "name": "output_mode",
              "value": "={{ $json.output_mode || 'inline' }}",
              "type": "string"
            },
            {
              "id": "cfg-4",
              "name": "drive_file_url",
              "value": "={{ $json.drive_file_url || '' }}",
              "type": "string"
            },
            {
              "id": "cfg-5",
              "name": "drive_output_folder_url",
              "value": "={{ $json.drive_output_folder_url || '' }}",
              "type": "string"
            },
            {
              "id": "cfg-6",
              "name": "gdrive_root_folder_id",
              "value": "={{ $json.gdrive_root_folder_id || '__GDRIVE_ROOT_FOLDER_ID__' }}",
              "type": "string"
            },
            {
              "id": "cfg-7",
              "name": "gdrive_credential_name",
              "value": "={{ $json.gdrive_credential_name || '__GDRIVE_CREDENTIAL_NAME__' }}",
              "type": "string"
            },
            {
              "id": "cfg-8",
              "name": "image_api_base_url",
              "value": "={{ $json.image_api_base_url || '' }}",
              "type": "string"
            },
            {
              "id": "cfg-9",
              "name": "image_api_key",
              "value": "={{ $json.image_api_key || '' }}",
              "type": "string"
            },
            {
              "id": "cfg-10",
              "name": "image_model",
              "value": "={{ $json.image_model || 'nano-banana-pro' }}",
              "type": "string"
            },
            {
              "id": "cfg-11",
              "name": "image_prompt_fixed",
              "value": "={{ $json.image_prompt_fixed || 'Create realistic image for the script chunk.' }}",
              "type": "string"
            },
            {
              "id": "cfg-12",
              "name": "image_aspect_ratio",
              "value": "={{ $json.image_aspect_ratio || '16:9' }}",
              "type": "string"
            },
            {
              "id": "cfg-13",
              "name": "image_timeout_ms",
              "value": "={{ $json.image_timeout_ms || 900000 }}",
              "type": "number"
            },
            {
              "id": "cfg-14",
              "name": "image_parallelism",
              "value": "={{ $json.image_parallelism || 2 }}",
              "type": "number"
            },
            {
              "id": "media-image_job_create_path",
              "name": "image_job_create_path",
              "value": "={{ $json.image_job_create_path || '/jobs' }}",
              "type": "string"
            },
            {
              "id": "media-image_job_status_path",
              "name": "image_job_status_path",
              "value": "={{ $json.image_job_status_path || '/jobs' }}",
              "type": "string"
            },
            {
              "id": "media-image_poll_interval_seconds",
              "name": "image_poll_interval_seconds",
              "value": "={{ $json.image_poll_interval_seconds || 3 }}",
              "type": "number"
            },
            {
              "id": "cfg-15",
              "name": "tts_api_base_url",
              "value": "={{ $json.tts_api_base_url || 'http://127.0.0.1:8001' }}",
              "type": "string"
            },
            {
              "id": "cfg-16",
              "name": "tts_voice_id",
              "value": "={{ $json.tts_voice_id || 'ngochuyen' }}",
              "type": "string"
            },
            {
              "id": "cfg-17",
              "name": "tts_temperature",
              "value": "={{ $json.tts_temperature || 0.8 }}",
              "type": "number"
            },
            {
              "id": "cfg-18",
              "name": "tts_top_k",
              "value": "={{ $json.tts_top_k || 50 }}",
              "type": "number"
            },
            {
              "id": "cfg-19",
              "name": "tts_max_chars",
              "value": "={{ $json.tts_max_chars || 256 }}",
              "type": "number"
            },
            {
              "id": "cfg-20",
              "name": "tts_silence_p",
              "value": "={{ $json.tts_silence_p || 0.05 }}",
              "type": "number"
            },
            {
              "id": "cfg-21",
              "name": "tts_crossfade_p",
              "value": "={{ $json.tts_crossfade_p || 0.03 }}",
              "type": "number"
            },
            {
              "id": "cfg-22",
              "name": "tts_timeout_ms",
              "value": "={{ $json.tts_timeout_ms || 900000 }}",
              "type": "number"
            },
            {
              "id": "cfg-23",
              "name": "tts_parallelism",
              "value": "={{ $json.tts_parallelism || 2 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      }
    },
    {
      "id": "4",
      "name": "Normalize Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        -90
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\nconst binary = $binary ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction normalizeText(value) {\n  return String(value ?? '').replace(/\\r\\n/g, '\\n').trim();\n}\n\nfunction normalizeInlineText(value) {\n  return String(value ?? '').replace(/\\r\\n/g, '\\n').replace(/\\s+/g, ' ').trim();\n}\n\nfunction clampInt(value, fallback = 0, min = 0, max = 1000000) {\n  const number = Number(value);\n  const normalized = Number.isFinite(number) ? Math.floor(number) : fallback;\n  return Math.min(max, Math.max(min, normalized));\n}\n\nfunction tokenizeSentences(text) {\n  const normalized = normalizeInlineText(text);\n  if (!normalized) return [];\n\n  const matches = normalized.match(/[^.!?…]+(?:[.!?…]+(?:[\"'”’)\\]]+)*)|[^.!?…]+$/g) ?? [];\n  const sentences = matches.map((item) => normalizeInlineText(item)).filter(Boolean);\n  return sentences.length > 0 ? sentences : [normalized];\n}\n\nfunction splitByBoldMarkers(text) {\n  const normalized = normalizeText(text);\n  if (!normalized) return [];\n\n  const segments = [];\n  const markerRegex = /\\*\\*([\\s\\S]+?)\\*\\*/g;\n  let cursor = 0;\n  let match;\n\n  while ((match = markerRegex.exec(normalized)) !== null) {\n    const before = normalizeInlineText(normalized.slice(cursor, match.index));\n    if (before) segments.push({ type: 'normal', text: before });\n\n    const boldText = normalizeInlineText(match[1]);\n    if (boldText) segments.push({ type: 'bold', text: boldText });\n\n    cursor = markerRegex.lastIndex;\n  }\n\n  const tail = normalizeInlineText(normalized.slice(cursor));\n  if (tail) segments.push({ type: 'normal', text: tail });\n  return segments;\n}\n\nfunction chunkNormalText(text, maxChars) {\n  const limit = clampInt(maxChars, 256, 32, 2000);\n  const sentences = tokenizeSentences(text);\n  if (sentences.length === 0) return [];\n\n  const chunks = [];\n  let buffer = '';\n\n  for (const sentence of sentences) {\n    if (!buffer) {\n      buffer = sentence;\n      continue;\n    }\n\n    const merged = buffer + ' ' + sentence;\n    if (merged.length <= limit) {\n      buffer = merged;\n    } else {\n      chunks.push(buffer);\n      buffer = sentence;\n    }\n  }\n\n  if (buffer) chunks.push(buffer);\n  return chunks;\n}\n\nfunction parseSectionsFromText(text) {\n  const normalized = normalizeText(text);\n  if (!normalized) return [];\n\n  const sectionRegex = /<<<SECTION\\|([^|\\n>]+)(?:\\|([^\\n>]+))?>>>\\s*([\\s\\S]*?)\\s*<<<END_SECTION>>>/g;\n  const sections = [];\n  let match;\n\n  while ((match = sectionRegex.exec(normalized)) !== null) {\n    const partName = safeText(match[1]).toLowerCase() || 'part_unknown';\n    const title = normalizeInlineText(match[2]);\n    const content = normalizeText(match[3]);\n    if (!title && !content) continue;\n    sections.push({ partName, title, text: content });\n  }\n\n  if (sections.length > 0) return sections;\n  return [{ partName: 'full_text', title: '', text: normalized }];\n}\n\nfunction normalizePartNameForFile(rawValue) {\n  const raw = String(rawValue ?? '').trim().toLowerCase();\n  const base = raw.replace(/[^a-z0-9_]+/g, '_').replace(/^_+|_+$/g, '') || 'part';\n  return base.replace(/^(part)_?(\\d+)$/i, (_, prefix, digits) => prefix + '_' + String(digits).padStart(3, '0'));\n}\n\nfunction buildImageFileName(partName, index) {\n  const normalizedPart = normalizePartNameForFile(partName);\n  const idxRaw = Number(index);\n  const idx = Number.isFinite(idxRaw) && idxRaw > 0 ? Math.floor(idxRaw) : 1;\n  return 'img-' + normalizedPart + '_' + String(idx).padStart(3, '0') + '.png';\n}\n\nfunction buildChunksFromSections(sections, maxChars = 256) {\n  const chunks = [];\n  let globalOrder = 0;\n\n  for (const section of sections) {\n    const partName = safeText(section.partName, 'part_unknown');\n    const title = normalizeInlineText(section.title);\n    const text = normalizeText(section.text);\n    const isPartSection = /^part_\\d+$/i.test(partName);\n\n    let localIndex = 0;\n\n    const pushChunk = (chunkText, chunkType = 'content') => {\n      const normalizedChunkText = normalizeInlineText(chunkText);\n      if (!normalizedChunkText) return;\n\n      localIndex += 1;\n      globalOrder += 1;\n\n      chunks.push({\n        order: globalOrder,\n        chunk_key: partName + ':' + localIndex,\n        partName,\n        index: localIndex,\n        text: normalizedChunkText,\n        sentence_count: Math.max(1, tokenizeSentences(normalizedChunkText).length),\n        chunk_type: chunkType,\n        image_file_name: buildImageFileName(partName, localIndex),\n      });\n    };\n\n    if (isPartSection && title) {\n      pushChunk(title, 'part_title');\n    }\n\n    for (const segment of splitByBoldMarkers(text)) {\n      if (segment.type === 'bold') {\n        pushChunk(segment.text, 'bold_emphasis');\n        continue;\n      }\n\n      for (const normalChunk of chunkNormalText(segment.text, maxChars)) {\n        pushChunk(normalChunk, 'content');\n      }\n    }\n  }\n\n  return chunks;\n}\n\nfunction normalizeChunkManifest(items) {\n  if (!Array.isArray(items)) return [];\n\n  const normalized = [];\n  for (const item of items) {\n    const text = normalizeInlineText(item?.text);\n    if (!text) continue;\n\n    const partName = String(item?.partName ?? item?.part_name ?? 'part_unknown').trim() || 'part_unknown';\n    const indexRaw = Number(item?.index ?? item?.order ?? normalized.length + 1);\n    const index = Number.isFinite(indexRaw) && indexRaw > 0 ? Math.floor(indexRaw) : (normalized.length + 1);\n    const sentenceCountRaw = Number(item?.sentence_count ?? 0);\n    const sentenceCount = Number.isFinite(sentenceCountRaw) && sentenceCountRaw > 0\n      ? Math.floor(sentenceCountRaw)\n      : Math.max(1, tokenizeSentences(text).length);\n    const orderRaw = Number(item?.order ?? item?.global_order ?? item?.sequence ?? normalized.length + 1);\n    const order = Number.isFinite(orderRaw) && orderRaw > 0 ? Math.floor(orderRaw) : (normalized.length + 1);\n\n    normalized.push({\n      order,\n      chunk_key: String(item?.chunk_key ?? (partName + ':' + index)).trim() || (partName + ':' + index),\n      partName,\n      index,\n      text,\n      sentence_count: sentenceCount,\n      chunk_type: safeText(item?.chunk_type, 'content'),\n      image_file_name: safeText(item?.image_file_name, buildImageFileName(partName, index)),\n    });\n  }\n\n  return normalized;\n}\n\nfunction parseDriveFileIdFromUrl(url) {\n  const text = safeText(url);\n  if (!text) return '';\n\n  const byPath = text.match(/\\/d\\/([a-zA-Z0-9_-]{10,})/);\n  if (byPath) return String(byPath[1] ?? '').trim();\n\n  const byQuery = text.match(/[?&]id=([a-zA-Z0-9_-]{10,})/);\n  if (byQuery) return String(byQuery[1] ?? '').trim();\n\n  const byUc = text.match(/\\/uc\\?.*?[?&]id=([a-zA-Z0-9_-]{10,})/);\n  if (byUc) return String(byUc[1] ?? '').trim();\n\n  return '';\n}\n\nfunction parseDriveFolderIdFromUrl(url) {\n  const text = safeText(url);\n  if (!text) return '';\n\n  const byPath = text.match(/\\/folders\\/([a-zA-Z0-9_-]{10,})/);\n  if (byPath) return String(byPath[1] ?? '').trim();\n\n  const byQuery = text.match(/[?&]folder=([a-zA-Z0-9_-]{10,})/);\n  if (byQuery) return String(byQuery[1] ?? '').trim();\n\n  return '';\n}\n\nfunction readFirstBinaryText(binaryMap) {\n  const keys = Object.keys(binaryMap ?? {});\n  if (keys.length === 0) return '';\n\n  const first = binaryMap[keys[0]];\n  const base64 = safeText(first?.data);\n  if (!base64) return '';\n\n  try {\n    return Buffer.from(base64, 'base64').toString('utf8');\n  } catch (_) {\n    return '';\n  }\n}\n\nlet inputMode = safeText(input.input_mode).toLowerCase();\nif (!inputMode) {\n  inputMode = safeText(input.drive_file_url) ? 'drive_url' : 'form_upload';\n}\nif (inputMode !== 'form_upload' && inputMode !== 'drive_url') {\n  inputMode = 'form_upload';\n}\n\nlet outputMode = safeText(input.output_mode, 'inline').toLowerCase();\nif (outputMode !== 'inline' && outputMode !== 'drive_export') {\n  outputMode = 'inline';\n}\n\nconst driveFileUrl = safeText(input.drive_file_url);\nconst driveOutputFolderUrl = safeText(input.drive_output_folder_url);\nconst driveFileId = parseDriveFileIdFromUrl(driveFileUrl);\nconst driveOutputFolderId = safeText(input.drive_output_folder_id) || parseDriveFolderIdFromUrl(driveOutputFolderUrl) || safeText(input.gdrive_root_folder_id) || safeText(input.gdrive_root_folder_id_default);\n\nconst incomingManifest = Array.isArray(input.chunk_manifest) && input.chunk_manifest.length > 0 ? input.chunk_manifest : input.media_chunks;\nlet chunks = normalizeChunkManifest(incomingManifest);\n\nif (chunks.length === 0) {\n  const sourceText = normalizeText(input.input_text ?? input.text ?? input.content ?? readFirstBinaryText(binary));\n  if (sourceText) {\n    const sections = parseSectionsFromText(sourceText);\n    const maxChars = clampInt(input.tts_max_chars ?? input.max_chunk_chars, 256, 32, 2000);\n    chunks = buildChunksFromSections(sections, maxChars);\n  }\n}\n\nconst requestId = safeText(input.request_id, 'req-' + Date.now().toString(36));\nconst needsDriveDownload = inputMode === 'drive_url' && chunks.length === 0 && !!driveFileUrl && !!driveFileId;\nconst driveUrlStatus =\n  inputMode === 'drive_url'\n    ? (driveFileId ? 'parsed' : (driveFileUrl ? 'invalid_url' : 'missing_url'))\n    : 'not_required';\n\nreturn {\n  ...input,\n  workflow: 'text-to-images',\n  request_id: requestId,\n  input_mode: inputMode,\n  output_mode: outputMode,\n  drive_file_url: driveFileUrl,\n  drive_file_id: driveFileId,\n  drive_output_folder_url: driveOutputFolderUrl,\n  drive_output_folder_id: driveOutputFolderId,\n  drive_url_status: driveUrlStatus,\n  needs_drive_download: needsDriveDownload,\n  media_chunks: chunks,\n  chunk_manifest: chunks,\n  media_should_run: chunks.length > 0,\n};"
      }
    },
    {
      "id": "5",
      "name": "Switch Input Mode",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -300,
        -90
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ String($json.input_mode || \"\") === \"drive_url\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "6",
      "name": "Google Drive Download Source",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -80,
        -220
      ],
      "parameters": {
        "resource": "file",
        "operation": "download",
        "fileId": "={{ $json.drive_file_id }}",
        "authentication": "oAuth2"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__GDRIVE_CREDENTIAL_ID__",
          "name": "__GDRIVE_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "id": "7",
      "name": "Build Chunks From Drive File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -220
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\nconst binary = $binary ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction normalizeText(value) {\n  return String(value ?? '').replace(/\\r\\n/g, '\\n').trim();\n}\n\nfunction normalizeInlineText(value) {\n  return String(value ?? '').replace(/\\r\\n/g, '\\n').replace(/\\s+/g, ' ').trim();\n}\n\nfunction clampInt(value, fallback = 0, min = 0, max = 1000000) {\n  const number = Number(value);\n  const normalized = Number.isFinite(number) ? Math.floor(number) : fallback;\n  return Math.min(max, Math.max(min, normalized));\n}\n\nfunction tokenizeSentences(text) {\n  const normalized = normalizeInlineText(text);\n  if (!normalized) return [];\n\n  const matches = normalized.match(/[^.!?…]+(?:[.!?…]+(?:[\"'”’)\\]]+)*)|[^.!?…]+$/g) ?? [];\n  const sentences = matches.map((item) => normalizeInlineText(item)).filter(Boolean);\n  return sentences.length > 0 ? sentences : [normalized];\n}\n\nfunction splitByBoldMarkers(text) {\n  const normalized = normalizeText(text);\n  if (!normalized) return [];\n\n  const segments = [];\n  const markerRegex = /\\*\\*([\\s\\S]+?)\\*\\*/g;\n  let cursor = 0;\n  let match;\n\n  while ((match = markerRegex.exec(normalized)) !== null) {\n    const before = normalizeInlineText(normalized.slice(cursor, match.index));\n    if (before) segments.push({ type: 'normal', text: before });\n\n    const boldText = normalizeInlineText(match[1]);\n    if (boldText) segments.push({ type: 'bold', text: boldText });\n\n    cursor = markerRegex.lastIndex;\n  }\n\n  const tail = normalizeInlineText(normalized.slice(cursor));\n  if (tail) segments.push({ type: 'normal', text: tail });\n  return segments;\n}\n\nfunction chunkNormalText(text, maxChars) {\n  const limit = clampInt(maxChars, 256, 32, 2000);\n  const sentences = tokenizeSentences(text);\n  if (sentences.length === 0) return [];\n\n  const chunks = [];\n  let buffer = '';\n\n  for (const sentence of sentences) {\n    if (!buffer) {\n      buffer = sentence;\n      continue;\n    }\n\n    const merged = buffer + ' ' + sentence;\n    if (merged.length <= limit) {\n      buffer = merged;\n    } else {\n      chunks.push(buffer);\n      buffer = sentence;\n    }\n  }\n\n  if (buffer) chunks.push(buffer);\n  return chunks;\n}\n\nfunction parseSectionsFromText(text) {\n  const normalized = normalizeText(text);\n  if (!normalized) return [];\n\n  const sectionRegex = /<<<SECTION\\|([^|\\n>]+)(?:\\|([^\\n>]+))?>>>\\s*([\\s\\S]*?)\\s*<<<END_SECTION>>>/g;\n  const sections = [];\n  let match;\n\n  while ((match = sectionRegex.exec(normalized)) !== null) {\n    const partName = safeText(match[1]).toLowerCase() || 'part_unknown';\n    const title = normalizeInlineText(match[2]);\n    const content = normalizeText(match[3]);\n    if (!title && !content) continue;\n    sections.push({ partName, title, text: content });\n  }\n\n  if (sections.length > 0) return sections;\n  return [{ partName: 'full_text', title: '', text: normalized }];\n}\n\nfunction normalizePartNameForFile(rawValue) {\n  const raw = String(rawValue ?? '').trim().toLowerCase();\n  const base = raw.replace(/[^a-z0-9_]+/g, '_').replace(/^_+|_+$/g, '') || 'part';\n  return base.replace(/^(part)_?(\\d+)$/i, (_, prefix, digits) => prefix + '_' + String(digits).padStart(3, '0'));\n}\n\nfunction buildImageFileName(partName, index) {\n  const normalizedPart = normalizePartNameForFile(partName);\n  const idxRaw = Number(index);\n  const idx = Number.isFinite(idxRaw) && idxRaw > 0 ? Math.floor(idxRaw) : 1;\n  return 'img-' + normalizedPart + '_' + String(idx).padStart(3, '0') + '.png';\n}\n\nfunction buildChunksFromSections(sections, maxChars = 256) {\n  const chunks = [];\n  let globalOrder = 0;\n\n  for (const section of sections) {\n    const partName = safeText(section.partName, 'part_unknown');\n    const title = normalizeInlineText(section.title);\n    const text = normalizeText(section.text);\n    const isPartSection = /^part_\\d+$/i.test(partName);\n\n    let localIndex = 0;\n\n    const pushChunk = (chunkText, chunkType = 'content') => {\n      const normalizedChunkText = normalizeInlineText(chunkText);\n      if (!normalizedChunkText) return;\n\n      localIndex += 1;\n      globalOrder += 1;\n\n      chunks.push({\n        order: globalOrder,\n        chunk_key: partName + ':' + localIndex,\n        partName,\n        index: localIndex,\n        text: normalizedChunkText,\n        sentence_count: Math.max(1, tokenizeSentences(normalizedChunkText).length),\n        chunk_type: chunkType,\n        image_file_name: buildImageFileName(partName, localIndex),\n      });\n    };\n\n    if (isPartSection && title) {\n      pushChunk(title, 'part_title');\n    }\n\n    for (const segment of splitByBoldMarkers(text)) {\n      if (segment.type === 'bold') {\n        pushChunk(segment.text, 'bold_emphasis');\n        continue;\n      }\n\n      for (const normalChunk of chunkNormalText(segment.text, maxChars)) {\n        pushChunk(normalChunk, 'content');\n      }\n    }\n  }\n\n  return chunks;\n}\n\nfunction normalizeChunkManifest(items) {\n  if (!Array.isArray(items)) return [];\n\n  const normalized = [];\n  for (const item of items) {\n    const text = normalizeInlineText(item?.text);\n    if (!text) continue;\n\n    const partName = String(item?.partName ?? item?.part_name ?? 'part_unknown').trim() || 'part_unknown';\n    const indexRaw = Number(item?.index ?? item?.order ?? normalized.length + 1);\n    const index = Number.isFinite(indexRaw) && indexRaw > 0 ? Math.floor(indexRaw) : (normalized.length + 1);\n    const sentenceCountRaw = Number(item?.sentence_count ?? 0);\n    const sentenceCount = Number.isFinite(sentenceCountRaw) && sentenceCountRaw > 0\n      ? Math.floor(sentenceCountRaw)\n      : Math.max(1, tokenizeSentences(text).length);\n    const orderRaw = Number(item?.order ?? item?.global_order ?? item?.sequence ?? normalized.length + 1);\n    const order = Number.isFinite(orderRaw) && orderRaw > 0 ? Math.floor(orderRaw) : (normalized.length + 1);\n\n    normalized.push({\n      order,\n      chunk_key: String(item?.chunk_key ?? (partName + ':' + index)).trim() || (partName + ':' + index),\n      partName,\n      index,\n      text,\n      sentence_count: sentenceCount,\n      chunk_type: safeText(item?.chunk_type, 'content'),\n      image_file_name: safeText(item?.image_file_name, buildImageFileName(partName, index)),\n    });\n  }\n\n  return normalized;\n}\n\nfunction parseDriveFileIdFromUrl(url) {\n  const text = safeText(url);\n  if (!text) return '';\n\n  const byPath = text.match(/\\/d\\/([a-zA-Z0-9_-]{10,})/);\n  if (byPath) return String(byPath[1] ?? '').trim();\n\n  const byQuery = text.match(/[?&]id=([a-zA-Z0-9_-]{10,})/);\n  if (byQuery) return String(byQuery[1] ?? '').trim();\n\n  const byUc = text.match(/\\/uc\\?.*?[?&]id=([a-zA-Z0-9_-]{10,})/);\n  if (byUc) return String(byUc[1] ?? '').trim();\n\n  return '';\n}\n\nfunction parseDriveFolderIdFromUrl(url) {\n  const text = safeText(url);\n  if (!text) return '';\n\n  const byPath = text.match(/\\/folders\\/([a-zA-Z0-9_-]{10,})/);\n  if (byPath) return String(byPath[1] ?? '').trim();\n\n  const byQuery = text.match(/[?&]folder=([a-zA-Z0-9_-]{10,})/);\n  if (byQuery) return String(byQuery[1] ?? '').trim();\n\n  return '';\n}\n\nfunction readFirstBinaryText(binaryMap) {\n  const keys = Object.keys(binaryMap ?? {});\n  if (keys.length === 0) return '';\n\n  const first = binaryMap[keys[0]];\n  const base64 = safeText(first?.data);\n  if (!base64) return '';\n\n  try {\n    return Buffer.from(base64, 'base64').toString('utf8');\n  } catch (_) {\n    return '';\n  }\n}\n\nlet inputMode = safeText(input.input_mode).toLowerCase();\nif (!inputMode) {\n  inputMode = safeText(input.drive_file_url) ? 'drive_url' : 'form_upload';\n}\nif (inputMode !== 'form_upload' && inputMode !== 'drive_url') {\n  inputMode = 'form_upload';\n}\n\nlet outputMode = safeText(input.output_mode, 'inline').toLowerCase();\nif (outputMode !== 'inline' && outputMode !== 'drive_export') {\n  outputMode = 'inline';\n}\n\nconst driveFileUrl = safeText(input.drive_file_url);\nconst driveOutputFolderUrl = safeText(input.drive_output_folder_url);\nconst driveFileId = parseDriveFileIdFromUrl(driveFileUrl);\nconst driveOutputFolderId = safeText(input.drive_output_folder_id) || parseDriveFolderIdFromUrl(driveOutputFolderUrl) || safeText(input.gdrive_root_folder_id) || safeText(input.gdrive_root_folder_id_default);\n\nconst incomingManifest = Array.isArray(input.chunk_manifest) && input.chunk_manifest.length > 0 ? input.chunk_manifest : input.media_chunks;\nlet chunks = normalizeChunkManifest(incomingManifest);\n\nif (chunks.length === 0) {\n  const sourceText = normalizeText(input.input_text ?? input.text ?? input.content ?? readFirstBinaryText(binary));\n  if (sourceText) {\n    const sections = parseSectionsFromText(sourceText);\n    const maxChars = clampInt(input.tts_max_chars ?? input.max_chunk_chars, 256, 32, 2000);\n    chunks = buildChunksFromSections(sections, maxChars);\n  }\n}\n\nconst requestId = safeText(input.request_id, 'req-' + Date.now().toString(36));\nconst needsDriveDownload = inputMode === 'drive_url' && chunks.length === 0 && !!driveFileUrl && !!driveFileId;\nconst driveUrlStatus =\n  inputMode === 'drive_url'\n    ? (driveFileId ? 'parsed' : (driveFileUrl ? 'invalid_url' : 'missing_url'))\n    : 'not_required';\n\nreturn {\n  ...input,\n  workflow: 'text-to-images',\n  request_id: requestId,\n  input_mode: inputMode,\n  output_mode: outputMode,\n  drive_file_url: driveFileUrl,\n  drive_file_id: driveFileId,\n  drive_output_folder_url: driveOutputFolderUrl,\n  drive_output_folder_id: driveOutputFolderId,\n  drive_url_status: driveUrlStatus,\n  needs_drive_download: needsDriveDownload,\n  media_chunks: chunks,\n  chunk_manifest: chunks,\n  media_should_run: chunks.length > 0,\n};"
      }
    },
    {
      "id": "8",
      "name": "If Media Should Run?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        120
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.media_should_run === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "9",
      "name": "Switch Output Mode",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        400,
        -20
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output_mode }}",
                    "rightValue": "drive_export",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false,
              "outputKey": ""
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "inline",
          "allMatchingOutputs": false
        }
      }
    },
    {
      "id": "10",
      "name": "Prepare Inline Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        60
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\nconst items = Array.isArray(input.media_image_items) ? input.media_image_items : [];\n\nconst failedCount = items.filter((item) => String(item?.image_status ?? '') === 'failed').length;\nconst generatedCount = items.filter((item) => String(item?.image_status ?? '') === 'generated').length;\n\nlet status = 'success';\nlet errorReason = null;\nif (items.length === 0) {\n  status = 'failed';\n  errorReason = 'empty_items';\n} else if (failedCount > 0) {\n  status = generatedCount > 0 ? 'partial_failed' : 'failed';\n  errorReason = generatedCount > 0 ? 'partial_failures' : 'all_failed';\n}\n\nreturn {\n  ...input,\n  workflow: 'text-to-images',\n  request_id: String(input.request_id ?? ''),\n  status,\n  items,\n  drive_exports: [],\n  error_reason: errorReason,\n};"
      }
    },
    {
      "id": "11",
      "name": "Build Drive Export Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        -170
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\nconst requestId = String(input.request_id ?? 'req-' + Date.now().toString(36));\nconst items = Array.isArray(input.media_image_items) ? input.media_image_items : [];\n\nconst failedCount = items.filter((item) => String(item?.image_status ?? '') === 'failed').length;\nconst generatedCount = items.filter((item) => String(item?.image_status ?? '') === 'generated').length;\n\nlet status = 'success';\nif (items.length === 0) {\n  status = 'failed';\n} else if (failedCount > 0) {\n  status = generatedCount > 0 ? 'partial_failed' : 'failed';\n}\n\nconst payload = {\n  workflow: 'text-to-images',\n  request_id: requestId,\n  generated_at: new Date().toISOString(),\n  status,\n  items,\n};\n\nreturn {\n  ...input,\n  export_payload_json: JSON.stringify(payload, null, 2),\n  export_file_name: 'text-to-images-' + requestId + '.json',\n};"
      }
    },
    {
      "id": "12",
      "name": "Convert Export To File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        900,
        -170
      ],
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "export_payload_json",
        "options": {
          "fileName": "={{ $json.export_file_name }}",
          "mimeType": "application/json"
        },
        "binaryPropertyName": "export_file"
      }
    },
    {
      "id": "13",
      "name": "Google Drive Upload Export",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1140,
        -170
      ],
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{ $json.export_file_name }}",
        "authentication": "oAuth2",
        "inputDataFieldName": "export_file",
        "folderId": "={{ $json.drive_output_folder_id || $json.gdrive_root_folder_id || \"\" }}"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__GDRIVE_CREDENTIAL_ID__",
          "name": "__GDRIVE_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "id": "14",
      "name": "Merge Drive Export Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1340,
        -170
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true,
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          }
        }
      }
    },
    {
      "id": "15",
      "name": "Prepare Drive Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        -170
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\nconst items = Array.isArray(input.media_image_items) ? input.media_image_items : [];\nconst driveFileId = String(input.id ?? input.fileId ?? input.data?.id ?? '').trim();\nconst driveUrl = String(input.webViewLink ?? input.alternateLink ?? input.data?.webViewLink ?? '').trim();\n\nconst failedCount = items.filter((item) => String(item?.image_status ?? '') === 'failed').length;\nconst generatedCount = items.filter((item) => String(item?.image_status ?? '') === 'generated').length;\n\nlet status = 'success';\nlet errorReason = null;\n\nif (items.length === 0) {\n  status = 'failed';\n  errorReason = 'empty_items';\n} else if (failedCount > 0) {\n  status = generatedCount > 0 ? 'partial_failed' : 'failed';\n  errorReason = generatedCount > 0 ? 'partial_failures' : 'all_failed';\n}\n\nif (!driveFileId) {\n  if (status === 'success') {\n    status = 'partial_failed';\n  }\n  errorReason = errorReason ?? 'drive_export_failed';\n}\n\nreturn {\n  ...input,\n  workflow: 'text-to-images',\n  request_id: String(input.request_id ?? ''),\n  status,\n  items,\n  drive_exports: driveFileId ? [{\n    drive_file_id: driveFileId,\n    drive_url: driveUrl,\n    mime_type: 'application/json',\n    file_name: String(input.export_file_name ?? ''),\n  }] : [],\n  error_reason: errorReason,\n};"
      }
    },
    {
      "id": "16",
      "name": "Split Media Chunks",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        400,
        120
      ],
      "parameters": {
        "fieldToSplitOut": "media_chunks",
        "include": "allOtherFields",
        "options": {}
      }
    },
    {
      "id": "17",
      "name": "Loop Over Image Chunks",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        120
      ],
      "parameters": {
        "batchSize": "={{ (() => { const n = Number($json.image_parallelism ?? 2); if (!Number.isFinite(n) || n < 1) return 2; return Math.min(20, Math.floor(n)); })() }}",
        "options": {}
      }
    },
    {
      "id": "18",
      "name": "Create Image Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        120
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ ($json.image_api_base_url || '').replace(/\\/$/, '') + ($json.image_job_create_path || '/jobs') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.image_api_key ? 'Bearer ' + $json.image_api_key : '' }}"
            },
            {
              "name": "x-api-key",
              "value": "={{ $json.image_api_key || '' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { request_id: $json.request_id, workflow: $json.workflow, chunk_key: $json.chunk_key, part_name: $json.partName, index: $json.index, order: $json.order, text: $json.text, prompt: $json.image_prompt_fixed, model: $json.image_model, aspect_ratio: $json.image_aspect_ratio, input_mode: $json.input_mode, output_mode: $json.output_mode, drive_file_id: $json.drive_file_id || '', source: 'text-to-images', image_file_name: String($json.image_file_name || ''), file_name: String($json.image_file_name || '') } }}",
        "options": {}
      }
    },
    {
      "id": "19",
      "name": "Merge Created Image Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        120
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true,
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          }
        }
      }
    },
    {
      "id": "20",
      "name": "Normalize Created Image Job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        120
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction pickFirstString(values) {\n  for (const value of values) {\n    const text = String(value ?? '').trim();\n    if (text) return text;\n  }\n  return '';\n}\n\nfunction pickResponseSource(value) {\n  const candidates = [value, value?.body, value?.data, value?.response, value?.result, value?.output, value?.json];\n  for (const candidate of candidates) {\n    if (candidate && typeof candidate === 'object') return candidate;\n  }\n  return value ?? {};\n}\n\nfunction normalizeBaseUrl(baseUrl) {\n  return String(baseUrl ?? '').trim().replace(/\\/$/, '');\n}\n\nfunction buildStatusUrl(baseUrl, statusPath, jobId) {\n  const normalizedBase = normalizeBaseUrl(baseUrl);\n  const normalizedPath = String(statusPath ?? '/jobs').trim() || '/jobs';\n  const path = normalizedPath.startsWith('/') ? normalizedPath : '/' + normalizedPath;\n  const safeJobId = encodeURIComponent(String(jobId ?? '').trim());\n  if (!normalizedBase) return '';\n  return normalizedBase + path.replace(/\\/$/, '') + '/' + safeJobId;\n}\n\nconst source = pickResponseSource(input);\nconst errorText = safeText(input.error?.message ?? input.error ?? source.error?.message ?? source.error, '');\n\nconst requestId = safeText(\n  input.request_id,\n  safeText(source.request_id, safeText(source.job_id, safeText(source.id, 'req-' + Date.now().toString(36)))),\n);\n\nconst jobId = pickFirstString([\n  source.job_id,\n  source.jobId,\n  source.id,\n  source.data?.job_id,\n  source.data?.jobId,\n  source.data?.id,\n  source.result?.job_id,\n  source.result?.jobId,\n  source.result?.id,\n  source.job?.id,\n  source.output?.job_id,\n  source.output?.jobId,\n  source.output?.id,\n  requestId,\n]);\n\nconst jobStatus = pickFirstString([\n  source.status,\n  source.state,\n  source.job_status,\n  source.jobStatus,\n  source.data?.status,\n  source.data?.state,\n  source.result?.status,\n  source.result?.state,\n  source.output?.status,\n  source.output?.state,\n  source.job?.status,\n]).toLowerCase();\n\nlet image = pickFirstString([\n  source.image,\n  source.image_url,\n  source.imageUrl,\n  source.url,\n  source.output_url,\n  source.outputUrl,\n  source.data?.image,\n  source.data?.image_url,\n  source.data?.imageUrl,\n  source.data?.url,\n  source.result?.image,\n  source.result?.image_url,\n  source.result?.imageUrl,\n  source.result?.url,\n  source.output?.image,\n  source.output?.image_url,\n  source.output?.imageUrl,\n  source.output?.url,\n  Array.isArray(source.output) ? source.output[0]?.url : '',\n]);\n\nif (!image) {\n  const base64 = pickFirstString([\n    source.image_base64,\n    source.imageBase64,\n    source.b64_json,\n    source.data?.image_base64,\n    source.data?.imageBase64,\n    source.result?.image_base64,\n    source.result?.imageBase64,\n    source.output?.image_base64,\n    source.output?.imageBase64,\n  ]).replace(/^data:image\\/[a-zA-Z0-9+.-]+;base64,/, '');\n  if (base64) {\n    image = 'data:image/png;base64,' + base64;\n  }\n}\n\nconst video = pickFirstString([\n  source.video,\n  source.video_url,\n  source.videoUrl,\n  source.data?.video,\n  source.data?.video_url,\n  source.data?.videoUrl,\n  source.result?.video,\n  source.result?.video_url,\n  source.result?.videoUrl,\n  source.output?.video,\n  source.output?.video_url,\n  source.output?.videoUrl,\n]);\n\nconst jobCreatedStatus = jobStatus || (image || video ? 'done' : 'pending');\nconst timeoutMsRaw = Number(input.image_timeout_ms ?? 900000);\nconst timeoutMs = Number.isFinite(timeoutMsRaw) ? Math.max(10000, Math.floor(timeoutMsRaw)) : 900000;\nconst intervalRaw = Number(input.image_poll_interval_seconds ?? 3);\nconst pollIntervalSeconds = Number.isFinite(intervalRaw) ? Math.max(1, Math.floor(intervalRaw)) : 10;\nconst startedAt = safeText(input.image_poll_started_at, new Date().toISOString());\nconst deadlineAt = safeText(input.image_poll_deadline_at, new Date(Date.now() + timeoutMs).toISOString());\nconst pollState = errorText\n  ? 'failed'\n  : ['failed', 'error', 'cancelled', 'canceled', 'timeout', 'aborted', 'rejected'].includes(jobCreatedStatus)\n    ? 'failed'\n    : ['done', 'succeeded', 'success', 'completed', 'complete', 'ready', 'finished'].includes(jobCreatedStatus) || image || video\n      ? 'done'\n      : 'pending';\n\nconst imageStatus = pollState === 'done'\n  ? (image || video ? 'generated' : 'failed')\n  : pollState === 'failed' ? 'failed' : 'pending';\n\nconst errorReason = pollState === 'failed'\n  ? errorText || (image || video ? null : 'image_job_create_missing_asset')\n  : null;\n\nreturn {\n  ...input,\n  request_id: requestId,\n  image_job_id: jobId,\n  image_job_status: jobCreatedStatus,\n  image_job_status_url: buildStatusUrl(input.image_api_base_url, input.image_job_status_path, jobId),\n  image_poll_state: pollState,\n  image_poll_started_at: startedAt,\n  image_poll_deadline_at: deadlineAt,\n  image_poll_interval_seconds: pollIntervalSeconds,\n  image: image || '',\n  video: video || '',\n  image_status: imageStatus,\n  error_reason: errorReason,\n};"
      }
    },
    {
      "id": "21",
      "name": "Wait For Image Job",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1600,
        120
      ],
      "parameters": {
        "resume": "timeInterval",
        "amount": "={{ $json.image_poll_interval_seconds || 3 }}",
        "unit": "seconds",
        "options": {}
      },
      "webhookId": "text-to-images-wait-image-job"
    },
    {
      "id": "22",
      "name": "Fetch Image Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1840,
        120
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{ $json.image_job_status_url }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "job_id",
              "value": "={{ $json.image_job_id }}"
            },
            {
              "name": "request_id",
              "value": "={{ $json.request_id }}"
            },
            {
              "name": "chunk_key",
              "value": "={{ $json.chunk_key }}"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.image_api_key ? 'Bearer ' + $json.image_api_key : '' }}"
            },
            {
              "name": "x-api-key",
              "value": "={{ $json.image_api_key || \"\" }}"
            }
          ]
        }
      }
    },
    {
      "id": "23",
      "name": "Merge Image Status Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2080,
        120
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true,
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          }
        }
      }
    },
    {
      "id": "24",
      "name": "Normalize Image Job Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        120
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction pickFirstString(values) {\n  for (const value of values) {\n    const text = String(value ?? '').trim();\n    if (text) return text;\n  }\n  return '';\n}\n\nfunction pickResponseSource(value) {\n  const candidates = [value, value?.body, value?.data, value?.response, value?.result, value?.output, value?.json];\n  for (const candidate of candidates) {\n    if (candidate && typeof candidate === 'object') return candidate;\n  }\n  return value ?? {};\n}\n\nconst source = pickResponseSource(input);\nconst errorText = safeText(input.error?.message ?? input.error ?? source.error?.message ?? source.error, '');\nconst statusText = pickFirstString([\n  source.status,\n  source.state,\n  source.job_status,\n  source.jobStatus,\n  source.data?.status,\n  source.data?.state,\n  source.result?.status,\n  source.result?.state,\n  source.output?.status,\n  source.output?.state,\n  source.job?.status,\n]).toLowerCase();\n\nconst progressRaw = Number(pickFirstString([\n  source.progress,\n  source.progress_percent,\n  source.progressPercent,\n  source.percent,\n  source.data?.progress,\n  source.data?.progress_percent,\n  source.result?.progress,\n  source.result?.progress_percent,\n  source.output?.progress,\n  source.output?.progress_percent,\n]));\nconst progress = Number.isFinite(progressRaw) ? progressRaw : null;\n\nlet image = pickFirstString([\n  source.image,\n  source.image_url,\n  source.imageUrl,\n  source.url,\n  source.output_url,\n  source.outputUrl,\n  source.data?.image,\n  source.data?.image_url,\n  source.data?.imageUrl,\n  source.data?.url,\n  source.result?.image,\n  source.result?.image_url,\n  source.result?.imageUrl,\n  source.result?.url,\n  source.output?.image,\n  source.output?.image_url,\n  source.output?.imageUrl,\n  source.output?.url,\n  Array.isArray(source.output) ? source.output[0]?.url : '',\n]);\n\nif (!image) {\n  const base64 = pickFirstString([\n    source.image_base64,\n    source.imageBase64,\n    source.b64_json,\n    source.data?.image_base64,\n    source.data?.imageBase64,\n    source.result?.image_base64,\n    source.result?.imageBase64,\n    source.output?.image_base64,\n    source.output?.imageBase64,\n  ]).replace(/^data:image\\/[a-zA-Z0-9+.-]+;base64,/, '');\n  if (base64) {\n    image = 'data:image/png;base64,' + base64;\n  }\n}\n\nconst video = pickFirstString([\n  source.video,\n  source.video_url,\n  source.videoUrl,\n  source.data?.video,\n  source.data?.video_url,\n  source.data?.videoUrl,\n  source.result?.video,\n  source.result?.video_url,\n  source.result?.videoUrl,\n  source.output?.video,\n  source.output?.video_url,\n  source.output?.videoUrl,\n]);\n\nconst deadlineMs = Date.parse(input.image_poll_deadline_at ?? '');\nconst timedOut = Number.isFinite(deadlineMs) ? Date.now() > deadlineMs : false;\n\nconst pendingStatuses = ['queued', 'pending', 'processing', 'running', 'in_progress', 'inprogress', 'started', 'submitted', 'working', 'open'];\nconst doneStatuses = ['done', 'succeeded', 'success', 'completed', 'complete', 'ready', 'finished', 'available', 'delivered'];\nconst failedStatuses = ['failed', 'error', 'cancelled', 'canceled', 'timeout', 'aborted', 'rejected'];\n\nlet pollState = 'pending';\nif (timedOut) {\n  pollState = 'failed';\n} else if (errorText || failedStatuses.includes(statusText)) {\n  pollState = 'failed';\n} else if (doneStatuses.includes(statusText) || image || video) {\n  pollState = 'done';\n} else if (pendingStatuses.includes(statusText)) {\n  pollState = 'pending';\n} else if (progress !== null) {\n  pollState = progress >= 100 ? 'done' : 'pending';\n} else if (statusText) {\n  pollState = 'failed';\n} else if (image || video) {\n  pollState = 'done';\n} else {\n  pollState = 'failed';\n}\n\nconst imageStatus = pollState === 'done'\n  ? (image || video ? 'generated' : 'failed')\n  : pollState === 'failed' ? 'failed' : 'pending';\n\nlet errorReason = null;\nif (pollState === 'failed') {\n  errorReason = errorText || (timedOut ? 'poll_timeout' : (!image && !video ? 'image_response_missing_asset' : null));\n}\n\nreturn {\n  ...input,\n  image_job_status: statusText || input.image_job_status || pollState,\n  image_poll_state: pollState,\n  image: image || '',\n  video: video || '',\n  image_status: imageStatus,\n  error_reason: errorReason,\n};"
      }
    },
    {
      "id": "25",
      "name": "If Image Still Pending?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2560,
        120
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.image_poll_state === 'pending' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "26",
      "name": "Collect Image Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        120
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const inputItems = $input.all().map((item) => item.json ?? {});\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction clampInt(value, fallback = 0, min = 0, max = 1000000) {\n  const number = Number(value);\n  const normalized = Number.isFinite(number) ? Math.floor(number) : fallback;\n  return Math.min(max, Math.max(min, normalized));\n}\n\nfunction normalizeItem(item) {\n  return {\n    order: clampInt(item.order, 0, 0, 1000000),\n    chunk_key: safeText(item.chunk_key),\n    partName: safeText(item.partName),\n    index: clampInt(item.index, 0, 0, 1000000),\n    text: safeText(item.text),\n    sentence_count: clampInt(item.sentence_count, 0, 0, 3),\n    image: safeText(item.image),\n    video: safeText(item.video),\n    image_status: safeText(item.image_status, 'unknown'),\n    image_file_name: safeText(item.image_file_name),\n    error_reason: item.error_reason ?? null,\n  };\n}\n\nconst sortedItems = inputItems\n  .map(normalizeItem)\n  .sort((a, b) => a.order - b.order || a.index - b.index || a.chunk_key.localeCompare(b.chunk_key));\n\nconst first = inputItems[0] ?? {};\nconst requestId = safeText(first.request_id, 'req-' + Date.now().toString(36));\n\nreturn [{\n  json: {\n    ...first,\n    workflow: 'text-to-images',\n    request_id: requestId,\n    media_image_items: sortedItems,\n  },\n}];"
      }
    },
    {
      "id": "27",
      "name": "Prepare Empty Image Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        260
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nreturn {\n  ...input,\n  media_image_items: [],\n};"
      }
    },
    {
      "id": "img-update-progress-message",
      "name": "Update Image Progress Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2470,
        120
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction asInt(value, fallback = 0) {\n  const number = Number(value);\n  if (!Number.isFinite(number)) {\n    return fallback;\n  }\n  return Math.floor(number);\n}\n\nfunction formatElapsedLabel(elapsedSecondsInput = 0) {\n  const elapsedSeconds = Math.max(0, asInt(elapsedSecondsInput, 0));\n  const elapsedMinutes = Math.floor(elapsedSeconds / 60);\n  const remainingSeconds = elapsedSeconds % 60;\n  return elapsedMinutes > 0\n    ? (elapsedMinutes + ' phut ' + String(remainingSeconds).padStart(2, '0') + ' giay')\n    : (remainingSeconds + ' giay');\n}\n\nfunction resolveChunk(source) {\n  if (source?.media_chunks && typeof source.media_chunks === 'object' && !Array.isArray(source.media_chunks)) {\n    return source.media_chunks;\n  }\n  return source ?? {};\n}\n\nconst chunk = resolveChunk(input);\nconst requestHelper =\n  helpers?.httpRequest ??\n  (typeof $helpers !== 'undefined' ? $helpers?.httpRequest : undefined);\n\nconst telegramBotToken = safeText(input.telegram_bot_token);\nconst telegramChatId = safeText(input.telegram_chat_id);\nconst progressMessageId = asInt(input.image_progress_message_id, 0);\nconst estimateMinutes = Math.max(1, asInt(input.image_progress_estimated_minutes, 3) || 3);\nconst totalFromManifest = Array.isArray(input.chunk_manifest) ? input.chunk_manifest.length : 0;\nconst totalFiles = Math.max(0, asInt(input.image_progress_total_files, totalFromManifest));\nconst rawDone = asInt(chunk?.order ?? input.order ?? chunk?.index ?? input.index, 0);\nconst doneFiles = totalFiles > 0\n  ? Math.min(Math.max(rawDone, 0), totalFiles)\n  : Math.max(rawDone, 0);\nconst startedAtMs = asInt(input.image_progress_started_at_ms, Date.now());\nconst elapsedSeconds = Math.max(0, Math.floor((Date.now() - startedAtMs) / 1000));\n\nconst progressSuffix = totalFiles > 0\n  ? (' | file ' + doneFiles + '/' + totalFiles)\n  : '';\n\nconst progressText = 'Dang tao anh... (da cho ' + formatElapsedLabel(elapsedSeconds) + ' / du kien ' + estimateMinutes + ' phut)' + progressSuffix;\n\nlet updateStatus = 'skipped';\nlet updateError = null;\nif (telegramBotToken && telegramChatId && progressMessageId > 0 && typeof requestHelper === 'function') {\n  try {\n    await requestHelper({\n      method: 'POST',\n      url: 'https://api.telegram.org/bot' + telegramBotToken + '/editMessageText',\n      body: {\n        chat_id: telegramChatId,\n        message_id: progressMessageId,\n        text: progressText,\n        disable_web_page_preview: true,\n      },\n      json: true,\n      timeout: 20000,\n    });\n    updateStatus = 'sent';\n  } catch (error) {\n    updateStatus = 'failed';\n    updateError = safeText(error?.message, String(error)).slice(0, 280) || 'telegram_edit_failed';\n  }\n}\n\nreturn {\n  ...input,\n  image_progress_last_text: progressText,\n  image_progress_files_done: doneFiles,\n  image_progress_total_files: totalFiles,\n  image_progress_update_status: updateStatus,\n  image_progress_update_error: updateError,\n};"
      }
    },
    {
      "id": "img-if-session-sheet-realtime-update",
      "name": "If Session Sheet Realtime Update (Image)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2660,
        120
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.image_status === 'generated' && !!$json.session_sheet_id && Number($json.order ?? $json.media_chunks?.order ?? 0) > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "img-write-row-session-sheet-realtime",
      "name": "Write Image Row To Session Sheet (Realtime)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2860,
        40
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + encodeURIComponent($json.session_sheet_id || '') + '/values:batchUpdate' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const orderRaw = Number($json.order ?? $json.media_chunks?.order ?? 0); const order = Number.isFinite(orderRaw) && orderRaw > 0 ? Math.floor(orderRaw) : 1; const row = order + 1; const chunk = ($json.media_chunks && typeof $json.media_chunks === 'object' && !Array.isArray($json.media_chunks)) ? $json.media_chunks : $json; const indexRaw = Number(chunk.index ?? $json.index ?? order); const index = Number.isFinite(indexRaw) && indexRaw > 0 ? Math.floor(indexRaw) : order; return { valueInputOption: 'RAW', data: [ { range: 'assets!A' + row + ':F' + row, values: [[ String(order), String(chunk.chunk_key ?? $json.chunk_key ?? ''), String(chunk.partName ?? chunk.part_name ?? $json.partName ?? ''), String(index), String(chunk.text ?? $json.text ?? ''), String($json.image ?? '') ]] }, { range: 'assets!I' + row + ':K' + row, values: [[ String($json.image_status ?? ''), String($json.tts_status ?? ''), String($json.error_reason ?? '') ]] } ] }; })() }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "img-merge-realtime-sheet-update-context",
      "name": "Merge Realtime Sheet Update Context (Image)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3040,
        120
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true,
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          }
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Normalize Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Inputs": {
      "main": [
        [
          {
            "node": "Switch Input Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Input Mode": {
      "main": [
        [
          {
            "node": "If Media Should Run?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Media Should Run?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Download Source": {
      "main": [
        [
          {
            "node": "Build Chunks From Drive File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Chunks From Drive File": {
      "main": [
        [
          {
            "node": "If Media Should Run?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Output Mode": {
      "main": [
        [
          {
            "node": "Build Drive Export Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Inline Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Drive Export Payload": {
      "main": [
        [
          {
            "node": "Convert Export To File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Drive Export Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Export To File": {
      "main": [
        [
          {
            "node": "Google Drive Upload Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Upload Export": {
      "main": [
        [
          {
            "node": "Merge Drive Export Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Drive Export Context": {
      "main": [
        [
          {
            "node": "Prepare Drive Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Media Should Run?": {
      "main": [
        [
          {
            "node": "Split Media Chunks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Empty Image Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Media Chunks": {
      "main": [
        [
          {
            "node": "Loop Over Image Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Image Chunks": {
      "main": [
        [
          {
            "node": "Collect Image Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Image Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image Job": {
      "main": [
        [
          {
            "node": "Merge Created Image Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Created Image Context": {
      "main": [
        [
          {
            "node": "Normalize Created Image Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Created Image Job": {
      "main": [
        [
          {
            "node": "Wait For Image Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For Image Job": {
      "main": [
        [
          {
            "node": "Merge Image Status Context",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Image Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Image Job Status": {
      "main": [
        [
          {
            "node": "Merge Image Status Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Image Status Context": {
      "main": [
        [
          {
            "node": "Normalize Image Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Image Job Status": {
      "main": [
        [
          {
            "node": "If Image Still Pending?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Image Progress Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Image Still Pending?": {
      "main": [
        [
          {
            "node": "Wait For Image Job",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Image Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Image Results": {
      "main": [
        [
          {
            "node": "Switch Output Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Empty Image Results": {
      "main": [
        [
          {
            "node": "Switch Output Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Image Progress Message": {
      "main": [
        [
          {
            "node": "If Session Sheet Realtime Update (Image)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Session Sheet Realtime Update (Image)": {
      "main": [
        [
          {
            "node": "Write Image Row To Session Sheet (Realtime)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Realtime Sheet Update Context (Image)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Realtime Sheet Update Context (Image)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Image Row To Session Sheet (Realtime)": {
      "main": [
        [
          {
            "node": "Merge Realtime Sheet Update Context (Image)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Realtime Sheet Update Context (Image)": {
      "main": []
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
