workflows/book-review/tts.workflow.json
{
  "name": "TTS",
  "nodes": [
    {
      "id": "1",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -980,
        -200
      ],
      "parameters": {}
    },
    {
      "id": "2",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -980,
        20
      ],
      "parameters": {
        "path": "tts-form",
        "formTitle": "TTS",
        "formDescription": "input_mode=form_upload thi upload file/text. input_mode=drive_url thi cung cap full Google Drive URL.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "request_id",
              "placeholder": "req-custom-001",
              "requiredField": false
            },
            {
              "fieldLabel": "input_mode",
              "placeholder": "form_upload | drive_url",
              "requiredField": true
            },
            {
              "fieldLabel": "output_mode",
              "placeholder": "inline | drive_export",
              "requiredField": true
            },
            {
              "fieldLabel": "drive_file_url",
              "placeholder": "https://drive.google.com/file/d/.../view",
              "requiredField": false
            },
            {
              "fieldLabel": "drive_output_folder_url",
              "placeholder": "https://drive.google.com/drive/folders/...",
              "requiredField": false
            },
            {
              "fieldLabel": "input_text",
              "placeholder": "Optional plain text input",
              "requiredField": false
            },
            {
              "fieldLabel": "input_file",
              "fieldType": "file",
              "requiredField": false,
              "multipleFiles": false,
              "acceptFileTypes": ""
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "3",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -760,
        -90
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "request_id",
              "value": "={{ $json.request_id || ('req-' + $now.toUnix()) }}",
              "type": "string"
            },
            {
              "id": "cfg-2",
              "name": "input_mode",
              "value": "={{ $json.input_mode || ($json.drive_file_url ? 'drive_url' : 'form_upload') }}",
              "type": "string"
            },
            {
              "id": "cfg-3",
              "name": "output_mode",
              "value": "={{ $json.output_mode || 'inline' }}",
              "type": "string"
            },
            {
              "id": "cfg-4",
              "name": "drive_file_url",
              "value": "={{ $json.drive_file_url || '' }}",
              "type": "string"
            },
            {
              "id": "cfg-5",
              "name": "drive_output_folder_url",
              "value": "={{ $json.drive_output_folder_url || '' }}",
              "type": "string"
            },
            {
              "id": "cfg-6",
              "name": "gdrive_root_folder_id",
              "value": "={{ $json.gdrive_root_folder_id || '__GDRIVE_ROOT_FOLDER_ID__' }}",
              "type": "string"
            },
            {
              "id": "cfg-7",
              "name": "gdrive_credential_name",
              "value": "={{ $json.gdrive_credential_name || '__GDRIVE_CREDENTIAL_NAME__' }}",
              "type": "string"
            },
            {
              "id": "cfg-8",
              "name": "image_api_base_url",
              "value": "={{ $json.image_api_base_url || '' }}",
              "type": "string"
            },
            {
              "id": "cfg-9",
              "name": "image_api_key",
              "value": "={{ $json.image_api_key || '' }}",
              "type": "string"
            },
            {
              "id": "cfg-10",
              "name": "image_model",
              "value": "={{ $json.image_model || 'nano-banana-pro' }}",
              "type": "string"
            },
            {
              "id": "cfg-11",
              "name": "image_prompt_fixed",
              "value": "={{ $json.image_prompt_fixed || 'Create realistic image for the script chunk.' }}",
              "type": "string"
            },
            {
              "id": "cfg-12",
              "name": "image_aspect_ratio",
              "value": "={{ $json.image_aspect_ratio || '16:9' }}",
              "type": "string"
            },
            {
              "id": "cfg-13",
              "name": "image_timeout_ms",
              "value": "={{ $json.image_timeout_ms || 900000 }}",
              "type": "number"
            },
            {
              "id": "cfg-14",
              "name": "image_parallelism",
              "value": "={{ $json.image_parallelism || 2 }}",
              "type": "number"
            },
            {
              "id": "cfg-15",
              "name": "tts_api_base_url",
              "value": "={{ $json.tts_api_base_url || 'http://127.0.0.1:8001' }}",
              "type": "string"
            },
            {
              "id": "cfg-16",
              "name": "tts_voice_id",
              "value": "={{ $json.tts_voice_id || 'ngochuyen' }}",
              "type": "string"
            },
            {
              "id": "cfg-17",
              "name": "tts_temperature",
              "value": "={{ $json.tts_temperature || 0.8 }}",
              "type": "number"
            },
            {
              "id": "cfg-18",
              "name": "tts_top_k",
              "value": "={{ $json.tts_top_k || 50 }}",
              "type": "number"
            },
            {
              "id": "cfg-19",
              "name": "tts_max_chars",
              "value": "={{ $json.tts_max_chars || 256 }}",
              "type": "number"
            },
            {
              "id": "cfg-20",
              "name": "tts_silence_p",
              "value": "={{ $json.tts_silence_p || 0.05 }}",
              "type": "number"
            },
            {
              "id": "cfg-21",
              "name": "tts_crossfade_p",
              "value": "={{ $json.tts_crossfade_p || 0.03 }}",
              "type": "number"
            },
            {
              "id": "cfg-22",
              "name": "tts_timeout_ms",
              "value": "={{ $json.tts_timeout_ms || 900000 }}",
              "type": "number"
            },
            {
              "id": "cfg-23",
              "name": "tts_parallelism",
              "value": "={{ $json.tts_parallelism || 2 }}",
              "type": "number"
            },
            {
              "id": "cfg-24",
              "name": "tts_poll_interval_seconds",
              "value": "={{ $json.tts_poll_interval_seconds || 5 }}",
              "type": "number"
            },
            {
              "id": "cfg-25",
              "name": "tts_poll_max_attempts",
              "value": "={{ $json.tts_poll_max_attempts || 180 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      }
    },
    {
      "id": "4",
      "name": "Normalize Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        -90
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\nconst binary = $binary ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction normalizeText(value) {\n  return String(value ?? '').replace(/\\r\\n/g, '\\n').trim();\n}\n\nfunction splitSentences(text) {\n  const normalized = normalizeText(text)\n    .replace(/\\n+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  if (!normalized) return [];\n\n  const matches = normalized.match(/[^.!?…]+[.!?…]+|[^.!?…]+$/g) ?? [];\n  const sentences = matches.map((item) => item.trim()).filter(Boolean);\n  return sentences.length > 0 ? sentences : [normalized];\n}\n\nfunction buildChunksFromText(text, prefix = 'part_text') {\n  const sentences = splitSentences(text);\n  if (sentences.length === 0) return [];\n\n  const chunks = [];\n  let localIndex = 0;\n\n  for (let cursor = 0; cursor < sentences.length; cursor += 3) {\n    localIndex += 1;\n    const block = sentences.slice(cursor, cursor + 3);\n    const chunkText = block.join(' ').trim();\n    if (!chunkText) continue;\n\n    chunks.push({\n      chunk_key: prefix + ':' + localIndex,\n      partName: prefix,\n      index: localIndex,\n      text: chunkText,\n      sentence_count: block.length,\n    });\n  }\n\n  return chunks;\n}\n\nfunction normalizeChunkManifest(items) {\n  if (!Array.isArray(items)) return [];\n\n  const normalized = [];\n  for (const item of items) {\n    const text = normalizeText(item?.text);\n    if (!text) continue;\n    const partName = String(item?.partName ?? item?.part_name ?? 'part_unknown').trim() || 'part_unknown';\n    const indexRaw = Number(item?.index ?? item?.order ?? normalized.length + 1);\n    const index = Number.isFinite(indexRaw) && indexRaw > 0 ? Math.floor(indexRaw) : (normalized.length + 1);\n    const sentenceCountRaw = Number(item?.sentence_count ?? 0);\n    const sentenceCount = Number.isFinite(sentenceCountRaw) && sentenceCountRaw > 0\n      ? Math.min(3, Math.floor(sentenceCountRaw))\n      : Math.min(3, splitSentences(text).length || 1);\n\n    normalized.push({\n      chunk_key: String(item?.chunk_key ?? (partName + ':' + index)).trim() || (partName + ':' + index),\n      partName,\n      index,\n      text,\n      sentence_count: sentenceCount,\n    });\n  }\n\n  return normalized;\n}\n\nfunction parseDriveFileIdFromUrl(url) {\n  const text = safeText(url);\n  if (!text) return '';\n\n  const byPath = text.match(/\\/d\\/([a-zA-Z0-9_-]{10,})/);\n  if (byPath) return String(byPath[1] ?? '').trim();\n\n  const byQuery = text.match(/[?&]id=([a-zA-Z0-9_-]{10,})/);\n  if (byQuery) return String(byQuery[1] ?? '').trim();\n\n  const byUc = text.match(/\\/uc\\?.*?[?&]id=([a-zA-Z0-9_-]{10,})/);\n  if (byUc) return String(byUc[1] ?? '').trim();\n\n  return '';\n}\n\nfunction parseDriveFolderIdFromUrl(url) {\n  const text = safeText(url);\n  if (!text) return '';\n\n  const byPath = text.match(/\\/folders\\/([a-zA-Z0-9_-]{10,})/);\n  if (byPath) return String(byPath[1] ?? '').trim();\n\n  const byQuery = text.match(/[?&]folder=([a-zA-Z0-9_-]{10,})/);\n  if (byQuery) return String(byQuery[1] ?? '').trim();\n\n  return '';\n}\n\nfunction readFirstBinaryText(binaryMap) {\n  const keys = Object.keys(binaryMap ?? {});\n  if (keys.length === 0) return '';\n\n  const first = binaryMap[keys[0]];\n  const base64 = safeText(first?.data);\n  if (!base64) return '';\n\n  try {\n    return Buffer.from(base64, 'base64').toString('utf8');\n  } catch (_) {\n    return '';\n  }\n}\n\nlet inputMode = safeText(input.input_mode).toLowerCase();\nif (!inputMode) {\n  inputMode = safeText(input.drive_file_url) ? 'drive_url' : 'form_upload';\n}\nif (inputMode !== 'form_upload' && inputMode !== 'drive_url') {\n  inputMode = 'form_upload';\n}\n\nlet outputMode = safeText(input.output_mode, 'inline').toLowerCase();\nif (outputMode !== 'inline' && outputMode !== 'drive_export') {\n  outputMode = 'inline';\n}\n\nconst driveFileUrl = safeText(input.drive_file_url);\nconst driveOutputFolderUrl = safeText(input.drive_output_folder_url);\nconst driveFileId = parseDriveFileIdFromUrl(driveFileUrl);\nconst driveOutputFolderId = safeText(input.drive_output_folder_id) || parseDriveFolderIdFromUrl(driveOutputFolderUrl) || safeText(input.gdrive_root_folder_id) || safeText(input.gdrive_root_folder_id_default);\n\nconst incomingManifest = Array.isArray(input.chunk_manifest) && input.chunk_manifest.length > 0 ? input.chunk_manifest : input.media_chunks;\nlet chunks = normalizeChunkManifest(incomingManifest);\n\nif (chunks.length === 0) {\n  const sourceText = normalizeText(input.input_text ?? input.text ?? input.content ?? readFirstBinaryText(binary));\n  if (sourceText) {\n    chunks = buildChunksFromText(sourceText, 'full_text');\n  }\n}\n\nconst requestId = safeText(input.request_id, 'req-' + Date.now().toString(36));\nconst needsDriveDownload = inputMode === 'drive_url' && chunks.length === 0 && !!driveFileUrl && !!driveFileId;\nconst driveUrlStatus =\n  inputMode === 'drive_url'\n    ? (driveFileId ? 'parsed' : (driveFileUrl ? 'invalid_url' : 'missing_url'))\n    : 'not_required';\n\nreturn {\n  ...input,\n  workflow: 'tts',\n  request_id: requestId,\n  input_mode: inputMode,\n  output_mode: outputMode,\n  drive_file_url: driveFileUrl,\n  drive_file_id: driveFileId,\n  drive_output_folder_url: driveOutputFolderUrl,\n  drive_output_folder_id: driveOutputFolderId,\n  drive_url_status: driveUrlStatus,\n  needs_drive_download: needsDriveDownload,\n  media_chunks: chunks,\n  chunk_manifest: chunks,\n  media_should_run: chunks.length > 0,\n};"
      }
    },
    {
      "id": "5",
      "name": "If Needs Drive Download",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -300,
        -90
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.needs_drive_download === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "6",
      "name": "Google Drive Download Source",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -80,
        -220
      ],
      "parameters": {
        "resource": "file",
        "operation": "download",
        "fileId": "={{ $json.drive_file_id }}",
        "authentication": "oAuth2"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__GDRIVE_CREDENTIAL_ID__",
          "name": "__GDRIVE_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "id": "7",
      "name": "Build Chunks From Drive File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -220
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\nconst binary = $binary ?? {};\n\nfunction normalizeText(value) {\n  return String(value ?? '').replace(/\\r\\n/g, '\\n').trim();\n}\n\nfunction splitSentences(text) {\n  const normalized = normalizeText(text)\n    .replace(/\\n+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  if (!normalized) return [];\n\n  const matches = normalized.match(/[^.!?…]+[.!?…]+|[^.!?…]+$/g) ?? [];\n  const sentences = matches.map((item) => item.trim()).filter(Boolean);\n  return sentences.length > 0 ? sentences : [normalized];\n}\n\nfunction buildChunksFromText(text, prefix = 'part_text') {\n  const sentences = splitSentences(text);\n  if (sentences.length === 0) return [];\n\n  const chunks = [];\n  let localIndex = 0;\n\n  for (let cursor = 0; cursor < sentences.length; cursor += 3) {\n    localIndex += 1;\n    const block = sentences.slice(cursor, cursor + 3);\n    const chunkText = block.join(' ').trim();\n    if (!chunkText) continue;\n\n    chunks.push({\n      chunk_key: prefix + ':' + localIndex,\n      partName: prefix,\n      index: localIndex,\n      text: chunkText,\n      sentence_count: block.length,\n    });\n  }\n\n  return chunks;\n}\n\nfunction normalizeChunkManifest(items) {\n  if (!Array.isArray(items)) return [];\n\n  const normalized = [];\n  for (const item of items) {\n    const text = normalizeText(item?.text);\n    if (!text) continue;\n    const partName = String(item?.partName ?? item?.part_name ?? 'part_unknown').trim() || 'part_unknown';\n    const indexRaw = Number(item?.index ?? item?.order ?? normalized.length + 1);\n    const index = Number.isFinite(indexRaw) && indexRaw > 0 ? Math.floor(indexRaw) : (normalized.length + 1);\n    const sentenceCountRaw = Number(item?.sentence_count ?? 0);\n    const sentenceCount = Number.isFinite(sentenceCountRaw) && sentenceCountRaw > 0\n      ? Math.min(3, Math.floor(sentenceCountRaw))\n      : Math.min(3, splitSentences(text).length || 1);\n\n    normalized.push({\n      chunk_key: String(item?.chunk_key ?? (partName + ':' + index)).trim() || (partName + ':' + index),\n      partName,\n      index,\n      text,\n      sentence_count: sentenceCount,\n    });\n  }\n\n  return normalized;\n}\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nlet chunks = Array.isArray(input.media_chunks) ? input.media_chunks : [];\nif (chunks.length > 0) {\n  return {\n    ...input,\n    drive_read_status: 'skipped_existing_chunks',\n  };\n}\n\nconst keys = Object.keys(binary ?? {});\nif (keys.length === 0) {\n  return {\n    ...input,\n    media_chunks: [],\n    chunk_manifest: [],\n    media_should_run: false,\n    drive_read_status: 'missing_binary',\n  };\n}\n\nconst first = binary[keys[0]];\nconst raw = safeText(first?.data);\nif (!raw) {\n  return {\n    ...input,\n    media_chunks: [],\n    chunk_manifest: [],\n    media_should_run: false,\n    drive_read_status: 'empty_binary',\n  };\n}\n\nlet text = '';\ntry {\n  text = Buffer.from(raw, 'base64').toString('utf8');\n} catch (_) {\n  text = '';\n}\n\nchunks = buildChunksFromText(text, 'drive_file');\n\nreturn {\n  ...input,\n  media_chunks: chunks,\n  chunk_manifest: chunks,\n  media_should_run: chunks.length > 0,\n  drive_read_status: chunks.length > 0 ? 'decoded' : 'decoded_empty',\n};"
      }
    },
    {
      "id": "8",
      "name": "If TTS Should Run",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        150,
        -20
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.media_should_run === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "16",
      "name": "Split Out Media Chunks",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        390,
        -20
      ],
      "parameters": {
        "fieldToSplitOut": "media_chunks",
        "include": "allOtherFields",
        "options": {}
      }
    },
    {
      "id": "17",
      "name": "Loop Over TTS Chunks",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        630,
        -20
      ],
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      }
    },
    {
      "id": "18",
      "name": "Create TTS Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        860,
        -200
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ (() => { const base = String($json.tts_api_base_url || \"http://127.0.0.1:8001\").trim().replace(/\\/$/, \"\"); return /\\/stream$/i.test(base) ? base : base + \"/stream\"; })() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const chunk = $json.media_chunks && typeof $json.media_chunks === \"object\" ? $json.media_chunks : $json; return { text: String(chunk.text ?? \"\"), voice_id: String($json.tts_voice_id ?? \"ngochuyen\"), temperature: Number($json.tts_temperature ?? 0.8), top_k: Number($json.tts_top_k ?? 50), max_chars: Number($json.tts_max_chars ?? 256), silence_p: Number($json.tts_silence_p ?? 0.05), crossfade_p: Number($json.tts_crossfade_p ?? 0.03), request_id: String($json.request_id ?? \"\"), chunk_key: String(chunk.chunk_key ?? \"\") }; })() }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "file",
              "outputPropertyName": "tts_response"
            }
          }
        }
      },
      "continueOnFail": true
    },
    {
      "id": "19",
      "name": "Normalize TTS Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        -200
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\nconst binary = $binary ?? {};\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction clampInt(value, fallback = 0, min = 0, max = 1000000) {\n  const number = Number(value);\n  const normalized = Number.isFinite(number) ? Math.floor(number) : fallback;\n  return Math.min(max, Math.max(min, normalized));\n}\n\nfunction normalizeNumber(value, fallback = 0) {\n  const number = Number(value);\n  return Number.isFinite(number) ? number : fallback;\n}\n\nfunction safeJsonParse(value, fallback = null) {\n  try {\n    return JSON.parse(String(value ?? ''));\n  } catch (_) {\n    return fallback;\n  }\n}\n\nfunction pickFirstString(candidates) {\n  for (const candidate of candidates) {\n    const text = String(candidate ?? '').trim();\n    if (text) return text;\n  }\n  return '';\n}\n\nfunction resolveChunk(value) {\n  if (value?.media_chunks && typeof value.media_chunks === 'object' && !Array.isArray(value.media_chunks)) {\n    return value.media_chunks;\n  }\n  return value ?? {};\n}\n\nfunction readBinaryInfo(binaryMap) {\n  const keys = Object.keys(binaryMap ?? {});\n  if (keys.length === 0) {\n    return {\n      key: '',\n      mimeType: '',\n      fileName: '',\n      bytes: 0,\n      hasAudio: false,\n      text: '',\n      isBinaryReference: false,\n    };\n  }\n\n  const key = keys.includes('tts_response') ? 'tts_response' : keys[0];\n  const file = binaryMap[key] ?? {};\n  const mimeType = safeText(file.mimeType);\n  const bytes = clampInt(file.bytes, 0, 0, 1000000000);\n  const contentRef = safeText(file.data);\n  const isBinaryReference = contentRef === 'filesystem-v2' || contentRef.startsWith('filesystem-v2:');\n\n  let text = '';\n  if (!isBinaryReference && contentRef) {\n    try {\n      text = Buffer.from(contentRef, 'base64').toString('utf8');\n    } catch (_) {\n      text = '';\n    }\n  }\n\n  return {\n    key,\n    mimeType,\n    fileName: safeText(file.fileName),\n    bytes,\n    isBinaryReference,\n    hasAudio: Boolean(key) && mimeType.toLowerCase().startsWith('audio/'),\n    text,\n  };\n}\n\nfunction parseResponsePayload(value, binaryInfo) {\n  const candidates = [\n    value?.body,\n    value?.data,\n    value?.payload,\n    value?.result,\n    value?.response,\n    binaryInfo.text,\n  ];\n\n  for (const candidate of candidates) {\n    const text = safeText(candidate);\n    if (!text) continue;\n    if (!text.startsWith('{') && !text.startsWith('[')) continue;\n    const parsed = safeJsonParse(text, null);\n    if (parsed) return parsed;\n  }\n\n  return null;\n}\n\nconst chunk = resolveChunk(input);\nconst binaryInfo = readBinaryInfo(binary);\nconst parsed = parseResponsePayload(input, binaryInfo);\nconst headers = input.headers ?? input.responseHeaders ?? input?.response?.headers ?? {};\nconst statusCode = Number(input.statusCode ?? input.responseCode ?? input?.response?.statusCode ?? 0);\nconst errorMessage = safeText(input.error?.message ?? input.errorMessage ?? input.message ?? '');\nconst contentType = safeText(\n  binaryInfo.mimeType,\n  safeText(headers['content-type'] ?? headers['Content-Type'] ?? headers['content_type']),\n);\n\nconst pollCount = clampInt(input.tts_poll_count, 0, 0, 1000000);\nconst pollMaxAttempts = clampInt(input.tts_poll_max_attempts, 180, 1, 1000000);\nconst pollIntervalSeconds = clampInt(input.tts_poll_interval_seconds, 5, 1, 3600);\n\nfunction buildOutputJson(overrides = {}) {\n  return {\n    ...input,\n    ...chunk,\n    media_chunks: chunk,\n    tts_poll_count: pollCount,\n    tts_poll_max_attempts: pollMaxAttempts,\n    tts_poll_interval_seconds: pollIntervalSeconds,\n    tts_should_poll: false,\n    tts_job_status: safeText(input.tts_job_status),\n    tts_job_id: safeText(input.tts_job_id),\n    tts_status_url: safeText(input.tts_status_url),\n    voice: safeText(input.voice),\n    duration: normalizeNumber(input.duration, 0),\n    voice_mime_type: safeText(input.voice_mime_type),\n    voice_bytes: clampInt(input.voice_bytes, 0, 0, 1000000000),\n    voice_binary_key: safeText(input.voice_binary_key),\n    voice_file_name: safeText(input.voice_file_name),\n    voice_drive_file_id: safeText(input.voice_drive_file_id),\n    voice_drive_url: safeText(input.voice_drive_url),\n    error_reason: input.error_reason ?? null,\n    ...overrides,\n  };\n}\n\nfunction toItem(overrides = {}) {\n  const output = {\n    json: buildOutputJson(overrides),\n  };\n\n  if (binary && typeof binary === 'object' && Object.keys(binary).length > 0) {\n    output.binary = binary;\n  }\n\n  return output;\n}\n\nconst jobId = safeText(parsed?.job_id ?? parsed?.jobId ?? parsed?.id ?? input.tts_job_id);\nconst statusUrl = safeText(\n  parsed?.status_url ?? parsed?.statusUrl ?? parsed?.poll_url ?? parsed?.pollUrl ?? input.tts_status_url,\n);\nconst normalizedStatus = safeText(\n  parsed?.status ?? parsed?.state ?? parsed?.job_status ?? parsed?.jobStatus ?? input.tts_job_status,\n).toLowerCase();\n\nif (errorMessage && !binaryInfo.hasAudio && !parsed) {\n  return toItem({\n    tts_status: 'failed',\n    error_reason: errorMessage.slice(0, 400) || 'tts_request_failed',\n  });\n}\n\nif (binaryInfo.hasAudio || (binaryInfo.key && contentType.toLowerCase().includes('audio/'))) {\n  const chunkKeyForName = safeText(chunk?.chunk_key, 'chunk');\n  const safeChunkKey = chunkKeyForName.replace(/[^a-zA-Z0-9_-]+/g, '_').replace(/^_+|_+$/g, '') || 'chunk';\n  const normalizedMime = safeText(contentType, binaryInfo.mimeType || 'audio/wav');\n  const lowerMime = normalizedMime.toLowerCase();\n  const preferredExt = (lowerMime.includes('mpeg') || lowerMime.includes('mp3')) ? '.mp3' : '.wav';\n  const derivedFileName = safeText(binaryInfo.fileName, 'tts-' + safeChunkKey + preferredExt);\n\n  return toItem({\n    tts_status: 'generated',\n    tts_job_status: normalizedStatus || 'generated',\n    tts_job_id: jobId,\n    tts_status_url: statusUrl,\n    tts_should_poll: false,\n    voice: 'binary:' + binaryInfo.key,\n    voice_binary_key: binaryInfo.key,\n    voice_file_name: derivedFileName,\n    duration: normalizeNumber(parsed?.duration ?? parsed?.duration_sec ?? parsed?.durationSeconds, 0),\n    voice_mime_type: normalizedMime,\n    voice_bytes: clampInt(binaryInfo.bytes, 0, 0, 1000000000),\n    error_reason: null,\n  });\n}\n\nconst pendingStatuses = new Set(['pending', 'queued', 'processing', 'running', 'in_progress', 'waiting']);\nif (pendingStatuses.has(normalizedStatus) || ((jobId || statusUrl) && statusCode >= 200 && statusCode < 300)) {\n  const canPoll = pollCount < pollMaxAttempts && (jobId || statusUrl);\n  return toItem({\n    tts_status: 'poll_required',\n    tts_job_status: normalizedStatus || 'pending',\n    tts_job_id: jobId,\n    tts_status_url: statusUrl,\n    tts_should_poll: Boolean(canPoll),\n    error_reason: canPoll ? null : 'tts_poll_max_attempts_reached',\n  });\n}\n\nconst failureStatuses = new Set(['failed', 'error', 'cancelled', 'canceled']);\nif (failureStatuses.has(normalizedStatus)) {\n  return toItem({\n    tts_status: 'failed',\n    tts_job_status: normalizedStatus,\n    tts_job_id: jobId,\n    tts_status_url: statusUrl,\n    error_reason: pickFirstString([\n      parsed?.error,\n      parsed?.message,\n      parsed?.detail,\n      parsed?.error_reason,\n      errorMessage,\n    ]) || 'tts_job_failed',\n  });\n}\n\nreturn toItem({\n  tts_status: 'failed',\n  tts_job_status: normalizedStatus || 'failed',\n  tts_job_id: jobId,\n  tts_status_url: statusUrl,\n  error_reason: 'tts_response_empty',\n});\n"
      }
    },
    {
      "id": "20",
      "name": "If TTS Poll Required",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1290,
        -200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.tts_should_poll === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "21",
      "name": "Wait For TTS Poll",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1510,
        -340
      ],
      "parameters": {
        "resume": "timeInterval",
        "amount": "={{ $json.tts_poll_interval_seconds || 5 }}",
        "unit": "seconds",
        "formFields": {
          "values": []
        },
        "options": {}
      },
      "webhookId": "tts-wait-for-poll"
    },
    {
      "id": "22",
      "name": "Prepare TTS Status Poll",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1730,
        -340
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "poll-1",
              "name": "tts_poll_count",
              "value": "={{ Number($json.tts_poll_count || 0) + 1 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      }
    },
    {
      "id": "23",
      "name": "Get TTS Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1950,
        -340
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ (() => { const statusUrl = String($json.tts_status_url || \"\").trim(); if (statusUrl) return statusUrl; const base = String($json.tts_api_base_url || \"http://127.0.0.1:8001\").trim().replace(/\\/$/, \"\"); const jobId = String($json.tts_job_id || \"\").trim(); return jobId ? base + \"/jobs/\" + encodeURIComponent(jobId) : base + \"/jobs\"; })() }}",
        "sendHeaders": false,
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "file",
              "outputPropertyName": "tts_response"
            }
          }
        }
      },
      "continueOnFail": true
    },
    {
      "id": "24",
      "name": "Finalize TTS Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        140
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const inputItems = $input.all().map((item) => item.json ?? {});\n\nfunction safeText(value, fallback = '') {\n  const text = String(value ?? '').trim();\n  return text || fallback;\n}\n\nfunction clampInt(value, fallback = 0, min = 0, max = 1000000) {\n  const number = Number(value);\n  const normalized = Number.isFinite(number) ? Math.floor(number) : fallback;\n  return Math.min(max, Math.max(min, normalized));\n}\n\nfunction normalizeItem(item) {\n  const chunk = item?.media_chunks && typeof item.media_chunks === 'object' && !Array.isArray(item.media_chunks)\n    ? item.media_chunks\n    : item;\n\n  return {\n    chunk_key: safeText(chunk?.chunk_key),\n    partName: safeText(chunk?.partName),\n    index: clampInt(chunk?.index, 0, 0, 1000000),\n    text: safeText(chunk?.text),\n    sentence_count: clampInt(chunk?.sentence_count, 0, 0, 3),\n    voice: safeText(item?.voice),\n    duration: Number.isFinite(Number(item?.duration)) ? Number(item.duration) : 0,\n    tts_status: safeText(item?.tts_status, 'unknown'),\n    voice_mime_type: safeText(item?.voice_mime_type),\n    voice_bytes: clampInt(item?.voice_bytes, 0, 0, 1000000000),\n    voice_binary_key: safeText(item?.voice_binary_key),\n    voice_file_name: safeText(item?.voice_file_name),\n    voice_drive_file_id: safeText(item?.voice_drive_file_id),\n    voice_drive_url: safeText(item?.voice_drive_url),\n    tts_job_status: safeText(item?.tts_job_status),\n    tts_job_id: safeText(item?.tts_job_id),\n    tts_status_url: safeText(item?.tts_status_url),\n    tts_poll_count: clampInt(item?.tts_poll_count, 0, 0, 1000000),\n    error_reason: item?.error_reason ?? null,\n  };\n}\n\nconst sortedItems = inputItems\n  .map(normalizeItem)\n  .sort((a, b) => a.index - b.index || a.chunk_key.localeCompare(b.chunk_key));\n\nconst first = inputItems[0] ?? {};\nconst requestId = safeText(first.request_id, 'req-' + Date.now().toString(36));\nconst generatedCount = sortedItems.filter((item) => item.tts_status === 'generated').length;\nconst failedCount = sortedItems.filter((item) => item.tts_status === 'failed').length;\nconst incompleteCount = sortedItems.filter((item) => !['generated', 'failed'].includes(item.tts_status)).length;\n\nlet status = 'success';\nlet errorReason = null;\n\nif (sortedItems.length === 0) {\n  status = 'failed';\n  errorReason = 'empty_items';\n} else if (failedCount > 0 || incompleteCount > 0) {\n  status = generatedCount > 0 ? 'partial_failed' : 'failed';\n  errorReason = failedCount > 0 ? 'partial_failures' : 'unfinished_items';\n}\n\nreturn [{\n  json: {\n    ...first,\n    workflow: 'tts',\n    request_id: requestId,\n    status,\n    media_should_run: sortedItems.length > 0,\n    media_tts_items: sortedItems,\n    drive_exports: [],\n    error_reason: errorReason,\n  },\n}];"
      }
    },
    {
      "id": "25",
      "name": "Finalize Empty TTS Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        630,
        140
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "empty-1",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "empty-2",
              "name": "media_should_run",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "empty-3",
              "name": "media_tts_items",
              "value": "={{ [] }}",
              "type": "array"
            },
            {
              "id": "empty-4",
              "name": "error_reason",
              "value": "empty_items",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      }
    },
    {
      "id": "9",
      "name": "Switch Output Mode",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        400,
        -20
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output_mode }}",
                    "rightValue": "drive_export",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false,
              "outputKey": ""
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "inline",
          "allMatchingOutputs": false
        }
      }
    },
    {
      "id": "10",
      "name": "Prepare Inline Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        60
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\nconst items = Array.isArray(input.media_tts_items) ? input.media_tts_items : [];\n\nconst failedCount = items.filter((item) => String(item?.tts_status ?? '') === 'failed').length;\nconst generatedCount = items.filter((item) => String(item?.tts_status ?? '') === 'generated').length;\n\nlet status = 'success';\nlet errorReason = null;\nif (items.length === 0) {\n  status = 'failed';\n  errorReason = 'empty_items';\n} else if (failedCount > 0) {\n  status = generatedCount > 0 ? 'partial_failed' : 'failed';\n  errorReason = generatedCount > 0 ? 'partial_failures' : 'all_failed';\n}\n\nreturn {\n  ...input,\n  workflow: 'tts',\n  request_id: String(input.request_id ?? ''),\n  status,\n  items,\n  drive_exports: [],\n  error_reason: errorReason,\n};"
      }
    },
    {
      "id": "11",
      "name": "Build Drive Export Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        -170
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\nconst requestId = String(input.request_id ?? 'req-' + Date.now().toString(36));\nconst items = Array.isArray(input.media_tts_items) ? input.media_tts_items : [];\n\nconst failedCount = items.filter((item) => String(item?.tts_status ?? '') === 'failed').length;\nconst generatedCount = items.filter((item) => String(item?.tts_status ?? '') === 'generated').length;\n\nlet status = 'success';\nif (items.length === 0) {\n  status = 'failed';\n} else if (failedCount > 0) {\n  status = generatedCount > 0 ? 'partial_failed' : 'failed';\n}\n\nconst payload = {\n  workflow: 'tts',\n  request_id: requestId,\n  generated_at: new Date().toISOString(),\n  status,\n  items,\n};\n\nreturn {\n  ...input,\n  export_payload_json: JSON.stringify(payload, null, 2),\n  export_file_name: 'tts-' + requestId + '.json',\n};"
      }
    },
    {
      "id": "12",
      "name": "Convert Export To File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        900,
        -170
      ],
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "export_payload_json",
        "options": {
          "fileName": "={{ $json.export_file_name }}",
          "mimeType": "application/json"
        },
        "binaryPropertyName": "export_file"
      }
    },
    {
      "id": "13",
      "name": "Google Drive Upload Export",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1140,
        -170
      ],
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{ $json.export_file_name }}",
        "authentication": "oAuth2",
        "inputDataFieldName": "export_file",
        "folderId": "={{ $json.drive_output_folder_id || $json.gdrive_root_folder_id || \"\" }}"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__GDRIVE_CREDENTIAL_ID__",
          "name": "__GDRIVE_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "id": "14",
      "name": "Merge Drive Export Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1340,
        -170
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true,
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          }
        }
      }
    },
    {
      "id": "15",
      "name": "Prepare Drive Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        -170
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\nconst items = Array.isArray(input.media_tts_items) ? input.media_tts_items : [];\n\nconst failedCount = items.filter((item) => String(item?.tts_status ?? '') === 'failed').length;\nconst generatedCount = items.filter((item) => String(item?.tts_status ?? '') === 'generated').length;\n\nconst driveExports = items\n  .map((item) => {\n    const driveFileId = String(item?.voice_drive_file_id ?? '').trim();\n    if (!driveFileId) return null;\n\n    return {\n      chunk_key: String(item?.chunk_key ?? '').trim(),\n      drive_file_id: driveFileId,\n      drive_url: String(item?.voice_drive_url ?? '').trim(),\n      mime_type: String(item?.voice_mime_type ?? 'audio/wav').trim() || 'audio/wav',\n      file_name: String(item?.voice_file_name ?? '').trim(),\n    };\n  })\n  .filter(Boolean);\n\nif (driveExports.length === 0) {\n  const fallbackDriveFileId = String(input.id ?? input.fileId ?? '').trim();\n  if (fallbackDriveFileId) {\n    driveExports.push({\n      chunk_key: '',\n      drive_file_id: fallbackDriveFileId,\n      drive_url: String(input.webViewLink ?? input.drive_url ?? '').trim(),\n      mime_type: String(input.mimeType ?? 'application/json').trim() || 'application/json',\n      file_name: String(input.name ?? input.export_file_name ?? '').trim(),\n    });\n  }\n}\n\nlet status = 'success';\nlet errorReason = null;\n\nif (items.length === 0) {\n  status = 'failed';\n  errorReason = 'empty_items';\n} else if (failedCount > 0) {\n  status = generatedCount > 0 ? 'partial_failed' : 'failed';\n  errorReason = generatedCount > 0 ? 'partial_failures' : 'all_failed';\n}\n\nif (generatedCount > 0 && driveExports.length === 0) {\n  status = status === 'failed' ? 'failed' : 'partial_failed';\n  errorReason = errorReason ?? 'drive_export_missing_files';\n}\n\nreturn {\n  ...input,\n  workflow: 'tts',\n  request_id: String(input.request_id ?? ''),\n  status,\n  items,\n  drive_exports: driveExports,\n  error_reason: errorReason,\n};"
      }
    },
    {
      "id": "11.5",
      "name": "Merge Created TTS Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        340,
        -80
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true,
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          }
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.output_mode === 'drive_export' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "tts-if-drive-export-mode",
      "name": "If Drive Export Mode",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2360,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.tts_status === 'generated' && !!$json.voice_binary_key }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "tts-if-generated-for-upload",
      "name": "If Generated Voice For Upload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2580,
        700
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{ $json.voice_file_name || ('tts-' + ($json.chunk_key || 'chunk') + '.wav') }}",
        "authentication": "oAuth2",
        "inputDataFieldName": "={{ $json.voice_binary_key || 'tts_response' }}",
        "folderId": "={{ $json.drive_output_folder_id || $json.gdrive_root_folder_id || '' }}"
      },
      "id": "tts-gdrive-upload-voice",
      "name": "Google Drive Upload Voice",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2820,
        620
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "__GDRIVE_CREDENTIAL_ID__",
          "name": "__GDRIVE_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true,
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1",
              "mergeMode": "shallowMerge",
              "overrideEmpty": true
            }
          }
        }
      },
      "id": "tts-merge-uploaded-voice",
      "name": "Merge Uploaded Voice Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3040,
        700
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json ?? {};\nconst driveFileId = String(input.id ?? input.fileId ?? input.data?.id ?? '').trim();\nconst driveUrl = String(input.webViewLink ?? input.alternateLink ?? input.data?.webViewLink ?? '').trim();\n\nreturn {\n  ...input,\n  voice_drive_file_id: driveFileId,\n  voice_drive_url: driveUrl,\n  voice: driveUrl || String(input.voice ?? ''),\n  error_reason: driveFileId ? (input.error_reason ?? null) : (input.error_reason ?? 'voice_drive_upload_failed'),\n};"
      },
      "id": "tts-prepare-uploaded-voice-item",
      "name": "Prepare Uploaded Voice Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3260,
        700
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Normalize Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Inputs": {
      "main": [
        [
          {
            "node": "If Needs Drive Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Needs Drive Download": {
      "main": [
        [
          {
            "node": "Google Drive Download Source",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If TTS Should Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Download Source": {
      "main": [
        [
          {
            "node": "Build Chunks From Drive File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Chunks From Drive File": {
      "main": [
        [
          {
            "node": "If TTS Should Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If TTS Should Run": {
      "main": [
        [
          {
            "node": "Split Out Media Chunks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Empty TTS Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Media Chunks": {
      "main": [
        [
          {
            "node": "Loop Over TTS Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over TTS Chunks": {
      "main": [
        [
          {
            "node": "Finalize TTS Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create TTS Audio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Created TTS Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create TTS Audio": {
      "main": [
        [
          {
            "node": "Merge Created TTS Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Normalize TTS Response": {
      "main": [
        [
          {
            "node": "If TTS Poll Required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If TTS Poll Required": {
      "main": [
        [
          {
            "node": "Wait For TTS Poll",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Drive Export Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For TTS Poll": {
      "main": [
        [
          {
            "node": "Prepare TTS Status Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare TTS Status Poll": {
      "main": [
        [
          {
            "node": "Get TTS Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get TTS Job Status": {
      "main": [
        [
          {
            "node": "Normalize TTS Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize TTS Results": {
      "main": [
        [
          {
            "node": "Switch Output Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Empty TTS Result": {
      "main": [
        [
          {
            "node": "Switch Output Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Output Mode": {
      "main": [
        [
          {
            "node": "Prepare Drive Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Inline Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Drive Export Payload": {
      "main": [
        [
          {
            "node": "Convert Export To File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Drive Export Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Export To File": {
      "main": [
        [
          {
            "node": "Google Drive Upload Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Upload Export": {
      "main": [
        [
          {
            "node": "Merge Drive Export Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Drive Export Context": {
      "main": [
        [
          {
            "node": "Prepare Drive Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Created TTS Context": {
      "main": [
        [
          {
            "node": "Normalize TTS Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Drive Export Mode": {
      "main": [
        [
          {
            "node": "If Generated Voice For Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over TTS Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Generated Voice For Upload": {
      "main": [
        [
          {
            "node": "Google Drive Upload Voice",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Uploaded Voice Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over TTS Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Upload Voice": {
      "main": [
        [
          {
            "node": "Merge Uploaded Voice Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Uploaded Voice Context": {
      "main": [
        [
          {
            "node": "Prepare Uploaded Voice Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Uploaded Voice Item": {
      "main": [
        [
          {
            "node": "Loop Over TTS Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
